@import 'var';

.header {
  display: flex;
  flex-direction: column;
  flex: 1;
  &-title {
    flex: 1;
    .title-text {
      font-size: 14px;
      margin-left: 5px;
    }
  }
  &-step {
    justify-content: center;
  }
}
