<ng-container *aluPageHeaderContent>
  <aui-breadcrumb>
    <aui-breadcrumb-item>
      <a routerLink="/manage-platform/product">
        {{ 'product_management' | translate }}
      </a>
    </aui-breadcrumb-item>
    <aui-breadcrumb-item>
      <span>{{ 'deploy_TSF' | translate }}</span>
    </aui-breadcrumb-item>
  </aui-breadcrumb>
</ng-container>
<aui-card>
  <div auiCardHeader>
    <div class="header">
      <div class="header-title">
        {{ 'deploy_TSF' | translate }}
      </div>
      <div class="header-step">
        <alu-steps-process
          [currStep]="stepIndex"
          [steps]="stepConfigs"
        ></alu-steps-process>
      </div>
    </div>
  </div>
  <form
    #operationalForm="ngForm"
    auiForm
    auiFormLabelWidth="140px"
    *ngIf="stepIndex === 1"
  >
    <alu-deploy-operational
      name="operational"
      [(ngModel)]="operational"
      [disabled]="deployLoading"
    ></alu-deploy-operational>
  </form>
  <form
    *ngIf="stepIndex === 2"
    #businessForm="ngForm"
    (ngSubmit)="(businessForm.valid)"
    auiForm
    auiFormLabelWidth="125px"
  >
    <alu-deploy-business
      name="business"
      [clusterName]="operational?.selectedCluster?.metadata?.name"
      [operationalNode]="operational?.operationalNode?.metadata?.name"
      [nodes]="operational?.selectedCluster?.nodes"
      [(ngModel)]="businessNode"
      [disabled]="deployLoading"
    ></alu-deploy-business>
  </form>
</aui-card>

<footer class="form__footer">
  <button
    aui-button="primary"
    type="button"
    *ngIf="stepIndex === 1"
    [disabled]="deployLoading"
    (click)="deployOperational()"
  >
    {{
      (deployLoading ? 'in_deployment' : 'operational_components') | translate
    }}
  </button>
  <button
    aui-button="primary"
    type="button"
    *ngIf="stepIndex === 2"
    [disabled]="deployLoading"
    (click)="deployBusiness()"
  >
    {{ 'business_components' | translate }}
  </button>
  <button
    aui-button
    type="button"
    (click)="cancel()"
    [disabled]="deployLoading"
  >
    {{ 'cancel' | translate }}
  </button>
</footer>
