section {
  margin: 16px 0;
  border-top: 1px dashed #ccc;
  &:first-of-type {
    border-top: none;
  }
  &:last-child {
    margin-bottom: 0;
  }
}

.section-title {
  font-size: 16px;
  color: #333;
  font-weight: 500;
  margin: 16px 0;
}

.logo {
  width: 40px;
  height: 40px;
  margin-right: 8px;
}

.title {
  font-size: 18px;
  font-weight: normal;
}

.desc {
  font-size: 12px;
  font-weight: normal;
  line-height: 16px;
  color: #999;
}

aui-icon {
  &[icon='basic:eye_slash_s'],
  &[icon='basic:eye_s'] {
    cursor: pointer;

    &:hover {
      color: #0058cc;
    }
  }
}

.deploy-state {
  display: flex;
  align-items: center;
  a,
  aui-icon {
    display: inline-flex;
  }
  aui-tag {
    margin-left: 8px;
  }
}

.operations {
  margin-left: 20px;
}
