<aui-card *ngIf="data">
  <div auiCardHeader>
    <div fxLayoutAlign="start center">
      <img class="logo" [src]="data.crd | pure: getLogo" alt="tdsql" />
      <div>
        <span class="title">{{ data.crd | aclDisplayName }}</span>
        <div class="desc" auiTooltipPosition="top start">
          {{ data.crd | aclDescription }}
        </div>
      </div>
    </div>
    <div fxFlex></div>
    <div class="operations">
      <button aui-button plain="true" [auiDropdown]="menu">
        {{ 'action' | translate }}
        <aui-icon icon="angle_down" margin="left"></aui-icon>
      </button>
      <aui-menu #menu>
        <ng-template auiMenuContent>
          <acl-disabled-container
            [isAllowed]="true"
            *ngIf="(deployButtonStates$ | async)?.continueDeploy"
          >
            <aui-menu-item (click)="continueDeploy()">
              {{ 'continue_deploy' | translate }}
            </aui-menu-item>
          </acl-disabled-container>
          <acl-disabled-container
            [isAllowed]="true"
            *ngIf="(deployButtonStates$ | async)?.continueReliabilityDeploy"
          >
            <aui-menu-item (click)="continueDeploy()">
              {{ 'tdsql_continue_deploy_reliability_component' | translate }}
            </aui-menu-item>
          </acl-disabled-container>

          <acl-disabled-container
            [isAllowed]="true"
            [isDisabled]="!(cr$ | async | pure: getUpgradeState).upgradable"
            [tooltip]="(cr$ | async | pure: getUpgradeState).hint | translate"
            tooltipPosition="start"
          >
            <aui-menu-item>
              {{ 'upgrade' | translate }}
            </aui-menu-item>
          </acl-disabled-container>
          <acl-disabled-container
            [isAllowed]="true"
            [isDisabled]="cr$ | async | pure: uninstallDisabled"
          >
            <aui-menu-item (click)="delete(confirmDelete)">
              {{ 'uninstall' | translate }}
            </aui-menu-item>
          </acl-disabled-container>
        </ng-template>
      </aui-menu>
    </div>
  </div>
  <ng-template #confirmDelete>
    <alu-confirm-delete
      [context]="context"
      [title]="'uninstall_product' | translate"
      [resourceName]="data.crd | aclDisplayName"
      [type]="'uninstall'"
      [deleteTips]="
        'confirm_delete_tdsql_tips'
          | translate: { name: data.crd | aclDisplayName }
      "
      [deleteResourceApi]="deleteApi"
      [deleteSuccessMsg]="'uninstall_success' | translate"
      [deleteFailMsg]="'uninstall_failed' | translate"
      [confirmText]="'uninstall' | translate"
      (close)="deleteConfirmDialog.close()"
    ></alu-confirm-delete>
  </ng-template>

  <section>
    <div class="section-title">{{ 'basic_info' | translate }}</div>
    <alu-field-set-group>
      <alu-field-set-item>
        <label>{{ 'deployment_status' | translate }}</label>
        <span *ngIf="data | pure: handleDeployStatus as status">
          <div class="deploy-state">
            <alu-status-icon [status]="status['icon']"></alu-status-icon>
            {{ status['text'] | translate }}
            <a
              [routerLink]="[
                '../../',
                'deploy',
                data.crd | aclLabel: 'available-version'
              ]"
              [auiTooltip]="'view_deploy_process' | translate"
              *ngIf="
                status.type === 'DeploymentFailure' ||
                status.type === 'InDeployment' ||
                (deployState.stage === 'reliability' &&
                  (deployState.status === 'pending' ||
                    deployState.status === 'failed'))
              "
            >
              <aui-icon icon="basic:details" margin="left" size="16"></aui-icon>
            </a>
            <a
              *ngIf="status.type === 'DeleteFailure'"
              (click)="viewFailedLog()"
              href="javascript:void(0);"
              [auiTooltip]="'view_log' | translate"
            >
              <aui-icon icon="basic:file" margin="left" size="16"></aui-icon>
            </a>
            <aui-tag
              [type]="'warning'"
              size="mini"
              [solid]="true"
              *ngIf="deployState | pure: isPaused"
            >
              {{ 'continue_deploy_tip' | translate }}
            </aui-tag>
            <ng-container *ngIf="deployState.stage === 'reliability'">
              <aui-tag
                [type]="'primary'"
                size="mini"
                [solid]="true"
                *ngIf="deployState.status === 'pending'"
              >
                {{ 'reliability_components_deploying' | translate }}
              </aui-tag>
              <aui-tag
                [type]="'error'"
                size="mini"
                [solid]="true"
                *ngIf="deployState.status === 'failed'"
              >
                {{ 'reliability_components_deployed_failed' | translate }}
              </aui-tag>
            </ng-container>
          </div>
        </span>
      </alu-field-set-item>
      <alu-field-set-item>
        <label>{{ 'product_type' | translate }}</label>
        <span>
          {{
            data.crd
              | aclLabel: 'product-type'
              | lowercase
              | translate
              | aclFieldNotAvailable
          }}
        </span>
      </alu-field-set-item>
      <alu-field-set-item>
        <label>{{ 'operating_status' | translate }}</label>
        <ng-container
          *ngIf="
            cr$ | async | pure: mapOperatingStatus as operatingStatus;
            else noOperatingStatus
          "
        >
          <alu-status-icon [status]="operatingStatus.icon"></alu-status-icon>
          <span>{{ operatingStatus.text | translate }}</span>
          <ng-container *ngIf="completed$ | async">
            ({{ 'all_components_installed' | translate }})
          </ng-container>
          <ng-container *ngIf="partialCompleted$ | async">
            ({{ 'reliability_components_partially_installed' | translate }})
          </ng-container>
        </ng-container>
        <ng-template #noOperatingStatus>-</ng-template>
      </alu-field-set-item>
      <alu-field-set-item>
        <label>{{ 'deploy_time' | translate }}</label>
        <span>
          {{ cr$ | async | aclCreationTimestamp | aclRelativeTime }}
        </span>
      </alu-field-set-item>
      <alu-field-set-item>
        <label>{{ 'product_version' | translate }}</label>
        <span>{{ data.crd | aclLabel: 'available-version' }}</span>
      </alu-field-set-item>
    </alu-field-set-group>
  </section>
  <ng-container *ngIf="model$ | async as model">
    <!-- core component -->
    <section>
      <div class="section-title">{{ 'tdsql_core_components' | translate }}</div>
      <alu-field-set-group>
        <alu-field-set-item>
          <label>{{ 'tdsql_password' | translate }}</label>
          <ng-container *ngIf="passwordVisible">
            {{ model.core?.password | aclFieldNotAvailable }}
            <aui-icon
              icon="basic:eye_s"
              (click)="passwordVisible = false"
            ></aui-icon>
          </ng-container>
          <ng-container *ngIf="!passwordVisible">
            ******
            <aui-icon
              icon="basic:eye_slash_s"
              (click)="passwordVisible = true"
            ></aui-icon>
          </ng-container>
        </alu-field-set-item>
        <alu-field-set-item>
          <label>{{ 'management_platform' | translate }}</label>
          <span>
            <a
              *ngIf="(cr$ | async).status?.productEntrypoint; else noLink"
              [href]="
                (cr$ | async).status.productEntrypoint | pure: getChituLink
              "
              target="_blank"
            >
              {{ 'tdsql_chitu_operation_platform' | translate }}
              <aui-icon icon="basic:jump"></aui-icon>
            </a>
          </span>
          <ng-template #noLink>-</ng-template>
        </alu-field-set-item>
        <alu-field-set-item *ngIf="!isProcessMode()">
          <label>{{ 'k8s_cluster' | translate }}</label>
          <span>{{ model.core?.cluster }}</span>
        </alu-field-set-item>
        <alu-field-set-item *ngIf="!isProcessMode()">
          <label>{{ 'oss_replicas_num' | translate }}</label>
          <span>{{ model.core?.oss.replicas_num }}</span>
        </alu-field-set-item>
        <alu-field-set-item>
          <label>{{ 'tdsql_zookeeper_root_path' | translate }}</label>
          <span>
            {{ model.core?.zookeeper?.rootPath | aclFieldNotAvailable }}
          </span>
        </alu-field-set-item>
        <alu-field-set-item *ngIf="isProcessMode()">
          <label>{{ 'tdsql_chitu_main_ip' | translate }}</label>
          <span>
            {{ model.reliability?.backupchituop.hostIp }}
          </span>
        </alu-field-set-item>
        <alu-field-set-item *ngIf="!isProcessMode()">
          <label>{{ 'chitu_replicas_num' | translate }}</label>
          <span>{{ model.core.chitu.replicas_num }}</span>
        </alu-field-set-item>
        <alu-field-set-item>
          <label>{{ 'tdsql_scheduler_network_card_name' | translate }}</label>
          <span>
            {{ model.core?.scheduler?.netifName | aclFieldNotAvailable }}
          </span>
        </alu-field-set-item>
        <alu-field-set-item *ngIf="isProcessMode()">
          <label>{{ 'tdsql_chitu_slave_ip' | translate }}</label>
          <span>
            {{ model.reliability?.backupchituop.standbyIp }}
          </span>
        </alu-field-set-item>
      </alu-field-set-group>
    </section>

    <!-- hdfs-->
    <section *ngIf="model.reliability?.hdfs?.selected">
      <div class="section-title">{{ 'tdsql_hdfs' | translate }}</div>
      <alu-field-set-group>
        <alu-field-set-item>
          <label>{{ 'tdsql_hdfs_ssh_port' | translate }}</label>
          <span>
            {{ model.reliability?.hdfs?.sshPort | aclFieldNotAvailable }}
          </span>
        </alu-field-set-item>
        <alu-field-set-item>
          <label>{{ 'tdsql_hdfs_data_file_path' | translate }}</label>
          <span>
            <span>
              {{ model.reliability?.hdfs?.dataFilePath | aclFieldNotAvailable }}
            </span>
          </span>
        </alu-field-set-item>
      </alu-field-set-group>
    </section>

    <!-- kafka -->
    <section *ngIf="model.reliability?.kafka?.selected">
      <div class="section-title">{{ 'tdsql_kafka' | translate }}</div>
      <alu-field-set-group>
        <alu-field-set-item>
          <label>{{ 'tdsql_kafka_log_file_path' | translate }}</label>
          <span>
            {{ model.reliability?.kafka?.logFilePath | aclFieldNotAvailable }}
          </span>
        </alu-field-set-item>
      </alu-field-set-group>
    </section>

    <!-- es -->
    <section *ngIf="model.reliability?.es?.selected">
      <div class="section-title">{{ 'tdsql_es' | translate }}</div>
      <alu-field-set-group>
        <alu-field-set-item>
          <label>{{ 'memory' | translate }}</label>
          <span>
            {{ model.reliability?.es?.memory | aclFieldNotAvailable }}
          </span>
        </alu-field-set-item>
        <alu-field-set-item>
          <label>{{ 'tdsql_es_log_day_number' | translate }}</label>
          <span>
            {{ model.reliability?.es?.logDays | aclFieldNotAvailable }}
          </span>
        </alu-field-set-item>
        <alu-field-set-item>
          <label>{{ 'tdsql_es_data_path' | translate }}</label>
          <span>{{ model.reliability?.es?.dataPath }}</span>
        </alu-field-set-item>
      </alu-field-set-group>
    </section>
  </ng-container>
</aui-card>

<ng-template #failedLogTemplate>
  <aui-dialog-header>
    {{ 'log' | translate }}
  </aui-dialog-header>
  <aui-dialog-content>
    <aui-code-editor
      [options]="{ language: 'log', readOnly: true }"
      [actionsConfig]="editorActions"
      [value]="failedLog"
    ></aui-code-editor>
  </aui-dialog-content>
</ng-template>
