<aui-dialog-header>
  <aui-icon class="header-icon" icon="exclamation_triangle_s"></aui-icon>
  {{ 'remove_cluster' | translate }}
</aui-dialog-header>

<aui-dialog-content>
  <p class="delete-confirm">{{ deleteConfirm }}</p>
  <p class="delete-hint">{{ 'enter_correct_cluster_name' | translate }}</p>
  <input aui-input [(ngModel)]="inputValue" />
</aui-dialog-content>

<aui-dialog-footer>
  <div *ngIf="getClusterStatus(modalData.cluster) === ClusterStatusEnum.normal">
    <aui-checkbox [(ngModel)]="clearResource">
      {{ 'clear_cluster_resource' | translate }}
    </aui-checkbox>
  </div>
  <div fxFlex></div>
  <div>
    <button
      aui-button="danger"
      [loading]="submitting"
      [disabled]="disabled"
      (click)="confirm()"
    >
      {{ 'remove' | translate }}
    </button>
    <button aui-button (click)="cancel()">
      {{ 'cancel' | translate }}
    </button>
  </div>
</aui-dialog-footer>
