@import 'var';

:host {
  .aui-table__column-checkbox {
    text-align: left;
    flex: 0 0 40px;
  }
  ::ng-deep {
    .aui-dialog__header-title {
      flex: 1;
    }
  }
  aui-select {
    max-width: 264px;
  }
  aui-select + aui-search {
    margin-left: 8px;
  }
  .set-role {
    padding: 8px;
    background: #f3f3f3;
    aui-select {
      padding-right: 16px;
      width: unset;
    }
    span {
      color: #999;
    }
  }
  .user-list {
    max-height: 420px;
    overflow: auto;
    margin-bottom: 16px;
  }
  .option-label {
    color: $color-text-help;
    font-size: $font-size-small;

    &:after {
      content: ':';
    }
  }
}
