<aui-dialog-header>
  {{ 'import_member' | translate }}
  <div fxFlex></div>
  <aui-select [value]="group$ | async" (valueChange)="group$$.next($event)">
    <aui-option
      *ngFor="let item of groupList$ | async"
      [value]="item"
      [label]="option"
    >
      {{ getGroupName(item) }}
      <ng-template #option>
        <span class="option-label">
          {{ 'user_group' | translate }}
        </span>
        {{ getGroupName(item) }}
      </ng-template>
    </aui-option>
  </aui-select>
  <aui-search
    [keyword]="searchAction$ | async"
    [searchButton]="true"
    (search)="searchAction$$.next($event)"
    [placeholder]="'search_by_username_placeholder' | translate"
  ></aui-search>
</aui-dialog-header>
<ng-container *ngIf="list.items$ | async; let userList">
  <aui-dialog-content>
    <div class="user-list">
      <aui-table [dataSource]="userList">
        <aui-table-header-row
          *auiTableHeaderRowDef="columns"
        ></aui-table-header-row>
        <aui-table-row
          *auiTableRowDef="let row; columns: columns"
        ></aui-table-row>
        <ng-container auiTableColumnDef="checkbox">
          <aui-table-header-cell *auiTableHeaderCellDef></aui-table-header-cell>
          <aui-table-cell *auiTableCellDef="let item">
            <aui-checkbox [(ngModel)]="item.check"></aui-checkbox>
          </aui-table-cell>
        </ng-container>
        <ng-container auiTableColumnDef="username">
          <aui-table-header-cell *auiTableHeaderCellDef>
            {{ 'username' | translate }}
          </aui-table-header-cell>
          <aui-table-cell *auiTableCellDef="let item">
            <span class="table-cell__name">{{ item.spec.email }}</span>
            <div class="table-cell__label-container table-cell__display-name">
              {{ item | aclDisplayName }}
            </div>
          </aui-table-cell>
        </ng-container>
        <ng-container auiTableColumnDef="user_group">
          <aui-table-header-cell *auiTableHeaderCellDef>
            {{ 'user_group' | translate }}
          </aui-table-header-cell>
          <aui-table-cell *auiTableCellDef="let item">
            <alu-user-groups-display
              [groups]="item.spec.groups"
              parentPadding="20"
            ></alu-user-groups-display>
          </aui-table-cell>
        </ng-container>
      </aui-table>
      <acl-k8s-resource-list-footer
        [list]="list"
      ></acl-k8s-resource-list-footer>
    </div>
    <div class="set-role">
      <form auiForm #form="ngForm">
        <aui-form-item>
          <label auiFormItemLabel>
            {{ 'set_role' | translate }}
          </label>
          <aui-select
            required
            auiFormItemControl
            name="role"
            [(ngModel)]="role"
            #roleControl="ngModel"
          >
            <aui-option
              *ngFor="let item of roleList$ | async"
              [value]="item"
              [label]="item | pure: displayName"
            >
              {{ item | pure: displayName }}
            </aui-option>
          </aui-select>
          <span>
            {{
              'set_role_for_member'
                | translate: { number: getCheckList(userList).length }
            }}
          </span>
          <alu-error-mapper
            auiFormItemError
            [errors]="roleControl.errors"
            [errorsMapper]="{ required: 'please_set_role' | translate }"
          ></alu-error-mapper>
        </aui-form-item>
      </form>
    </div>
  </aui-dialog-content>
  <aui-dialog-footer>
    <button aui-button="primary" (click)="import(userList, form)">
      {{ 'import' | translate }}({{ getCheckList(userList).length }})
    </button>
    <button aui-button (click)="cancel()">
      {{ 'cancel' | translate }}
    </button>
  </aui-dialog-footer>
</ng-container>
