<ng-container>
  <ng-container *aluPageHeaderContent>
    <aui-breadcrumb>
      <aui-breadcrumb-item>{{ 'container' | translate }}</aui-breadcrumb-item>
      <aui-breadcrumb-item>
        <a routerLink="../list">{{ 'resource_management' | translate }}</a>
      </aui-breadcrumb-item>
      <aui-breadcrumb-item>
        {{ ((isUpdate$ | async) ? 'update' : 'create') | translate }}
      </aui-breadcrumb-item>
    </aui-breadcrumb>
  </ng-container>
</ng-container>

<alu-resource-edit [isUpdate]="isUpdate$ | async"></alu-resource-edit>
