@import 'var';

:host {
  width: 100%;
  display: block;
  flex: 1;
}

.icon-disabled {
  color: #999;
  &:hover {
    opacity: 0.4;
    color: #999;
  }
}

.content {
  width: 100%;
  display: inline-flex;
  align-items: center;

  aui-input-group {
    flex: 1;
  }

  &__switch {
    margin-left: 10px;
  }
}

.required-mark {
  color: $color-error;
}

.row-error {
  color: $color-error;
  padding-top: 0;
  font-size: 12px;
}
