<alu-array-form-table
  [noRowSeparator]="true"
  (add)="add(form.length)"
  (remove)="remove($event)"
  [formGroup]="form"
  [rows]="form.controls"
  [rowBackgroundColorFn]="rowBackgroundColorFn"
>
  <ng-container *aluArrayFormTableHeader>
    <th>
      <span class="required-mark">*</span>
      <span>{{ 'host_ip' | translate }}</span>
    </th>
    <th>
      {{ 'display_name' | translate }}
    </th>
  </ng-container>
  <ng-container
    *aluArrayFormTableRow="let index = index"
    [formGroupName]="index"
  >
    <td>
      <input
        aui-input
        formControlName="ip"
        required
        [placeholder]="'host_ip' | translate"
        [pattern]="ipPattern.pattern"
      />
    </td>
    <td>
      <input
        aui-input
        formControlName="displayName"
        [placeholder]="'display_name' | translate"
      />
    </td>
  </ng-container>
  <ng-container *aluArrayFormTableRowControl="let item; let index = index">
    <button
      aui-button="text"
      size="mini"
      type="button"
      [disabled]="form.length === 1"
      (click)="remove(index)"
      [square]="true"
      [plain]="true"
    >
      <aui-icon icon="basic:minus_circle" [ngClass]="{'icon-disabled': form.length === 1}"></aui-icon>
    </button>
  </ng-container>
  <ng-container *aluArrayFormTableRow="let control">
    <td
      *ngIf="(parentForm.submitted || control.dirty) && (control.errors || control.get('ip').errors)"
      colspan="3"
      class="row-error"
    >
      <ng-container *ngIf="control.get('ip').errors?.required">
        {{ 'field_is_required' | translate : { field: 'host_ip' | translate } }}
      </ng-container>
      <ng-container *ngIf="control.get('ip').errors?.pattern">
        {{ ipPattern.tip | translate }}
      </ng-container>
      <ng-container *ngIf="control.errors?.existing">
        {{ 'host_ip_existing' | translate }}
      </ng-container>
    </td>
  </ng-container>
</alu-array-form-table>
