<ng-container *aluPageHeaderContent>
  <aui-breadcrumb>
    <aui-breadcrumb-item>
      <a>{{ 'product_management' | translate }}</a>
    </aui-breadcrumb-item>
    <aui-breadcrumb-item>{{ 'deploy' | translate }} CSP</aui-breadcrumb-item>
  </aui-breadcrumb>
</ng-container>
<form
  auiForm
  auiFormLabelWidth="160px"
  #ngForm="ngForm"
  [formGroup]="form"
  (ngSubmit)="onSubmit(ngForm)"
>
  <aui-card>
    <div auiCardHeader>
      {{ 'deploy' | translate }} CSP
      <aui-icon
        icon="basic:question"
        [auiTooltip]="'csp_introduction' | translate"
      ></aui-icon>
    </div>
    <aui-form-item>
      <label auiFormItemLabel>
        {{ 'host_ip' | translate }}
      </label>
      <input
        aui-input
        auiFormItemControl
        formControlName="hostIp"
        required
        [placeholder]="IP_ADDRESS_PATTERN.placeholder | translate"
        [pattern]="IP_ADDRESS_PATTERN.pattern"
      />
      <alu-error-mapper
        auiFormItemError
        [errors]="form.get('hostIp').errors"
        [errorsMapper]="{
          pattern: IP_ADDRESS_PATTERN.tip | translate
        }"
      ></alu-error-mapper>
      <div auiFormItemHint>
        {{ 'product_deploy_override_tip' | translate }}
      </div>
    </aui-form-item>
    <aui-form-item>
      <label auiFormItemLabel>
        {{ 'host_ssh_port' | translate }}
      </label>
      <input
        aui-input
        auiFormItemControl
        formControlName="hostPort"
        required
        [placeholder]="'support_positive_integer' | translate"
        pattern="[1-9]\d*"
        type="number"
      />
      <alu-error-mapper
        auiFormItemError
        [errors]="form.get('hostPort').errors"
      ></alu-error-mapper>
    </aui-form-item>
    <aui-form-item class="password">
      <label auiFormItemLabel>
        {{ 'host_root_pwd' | translate }}
      </label>
      <input
        aui-input
        auiFormItemControl
        formControlName="hostRootPwd"
        [type]="hostRootPwdVisible ? 'text' : 'password'"
        required
      />
      <aui-icon
        auiFormItemAddon
        [icon]="'basic:eye' + (hostRootPwdVisible ? '' : '_slash') + '_s'"
        (click)="hostRootPwdVisible = !hostRootPwdVisible"
      ></aui-icon>
      <alu-error-mapper
        auiFormItemError
        [errors]="form.get('hostRootPwd').errors"
      ></alu-error-mapper>
    </aui-form-item>
    <aui-form-item>
      <label auiFormItemLabel>
        {{ 'high_availability' | translate }}
      </label>
      <aui-switch
        auiFormItemControl
        formControlName="highAvailable"
      ></aui-switch>
    </aui-form-item>
    <ng-container *ngIf="form.get('highAvailable').value">
      <aui-form-item>
        <label auiFormItemLabel>
          VIP
        </label>
        <input
          aui-input
          auiFormItemControl
          formControlName="vip"
          required
          [placeholder]="IP_ADDRESS_PATTERN.placeholder | translate"
          [pattern]="IP_ADDRESS_PATTERN.pattern"
        />
        <alu-error-mapper
          auiFormItemError
          [errors]="form.get('vip').errors"
          [errorsMapper]="{
            pattern: IP_ADDRESS_PATTERN.tip | translate
          }"
        ></alu-error-mapper>
      </aui-form-item>
      <aui-form-item>
        <label auiFormItemLabel>
          {{ 'slave_ip' | translate }}
        </label>
        <input
          aui-input
          auiFormItemControl
          formControlName="slaveIp"
          required
          [placeholder]="IP_ADDRESS_PATTERN.placeholder | translate"
          [pattern]="IP_ADDRESS_PATTERN.pattern"
        />
        <alu-error-mapper
          auiFormItemError
          [errors]="form.get('slaveIp').errors"
          [errorsMapper]="{
            pattern: IP_ADDRESS_PATTERN.tip | translate
          }"
        ></alu-error-mapper>
      </aui-form-item>
      <aui-form-item>
        <label auiFormItemLabel>
          {{ 'slave_ssh_port' | translate }}
        </label>
        <input
          aui-input
          auiFormItemControl
          formControlName="slavePort"
          required
          [placeholder]="'support_positive_integer' | translate"
          pattern="[1-9]\d*"
          type="number"
        />
        <alu-error-mapper
          auiFormItemError
          [errors]="form.get('slavePort').errors"
        ></alu-error-mapper>
      </aui-form-item>
      <aui-form-item class="password">
        <label auiFormItemLabel>
          {{ 'slave_root_pwd' | translate }}
        </label>
        <input
          aui-input
          auiFormItemControl
          formControlName="slaveRootPwd"
          [type]="slaveRootPwdVisible ? 'text' : 'password'"
          required
        />
        <aui-icon
          auiFormItemAddon
          [icon]="'basic:eye' + (slaveRootPwdVisible ? '' : '_slash') + '_s'"
          (click)="slaveRootPwdVisible = !slaveRootPwdVisible"
        ></aui-icon>
        <alu-error-mapper
          auiFormItemError
          [errors]="form.get('slaveRootPwd').errors"
        ></alu-error-mapper>
      </aui-form-item>
    </ng-container>
    <div auiCardFooter>
      <button aui-button="primary">{{ 'deploy' | translate }}</button>
      <button aui-button type="button" (click)="onCancel()">
        {{ 'cancel' | translate }}
      </button>
    </div>
  </aui-card>
</form>
