@import 'var';

.aui-card {
  &__footer {
    text-align: right;
  }
}

aui-icon[icon='basic:question'] {
  margin-left: 8px;
  color: $color-text-help;
  cursor: pointer;
}

.password {
  ::ng-deep {
    .aui-form-item {
      &__content {
        position: relative;
      }

      &__control {
        padding-right: 32px;
      }

      &__addon-wrapper {
        position: absolute;
        right: 0;
      }
    }
  }

  aui-icon {
    cursor: pointer;
  }
}
