@import 'var';

.aui-card__header {
  img {
    margin-right: 10px;
    width: 40px;
    height: 40px;
  }

  .aui-button {
    margin-left: auto;
  }
}

.card-section {
  h3 {
    margin-top: 16px;
    margin-bottom: 12px;
    font-size: 16px;
    font-weight: 500;
  }
}

.initial-account {
  color: $color-text-help;
}

.product-status {
  display: inline-flex;
  align-items: center;

  alu-status-icon {
    margin-right: 4px;
  }
}

.log-action {
  color: $color-primary;
  cursor: pointer;
}

hr {
  margin-top: 16px;
  margin-bottom: 14px;
  border: 1px dashed #ededed;
}

.non-visible {
  visibility: hidden;
}
