<ng-container *aluPageHeaderContent>
  <aui-breadcrumb>
    <aui-breadcrumb-item>
      <a routerLink="/manage-platform/product">
        {{ 'product_management' | translate }}
      </a>
    </aui-breadcrumb-item>
    <aui-breadcrumb-item>CSP {{ 'detail' | translate }}</aui-breadcrumb-item>
  </aui-breadcrumb>
</ng-container>
<acl-page-state [adapter]="dataLoader">
  <ng-template let-csp let-host="spec.machines[0]" let-slave="spec.machines[1]">
    <aui-card>
      <div auiCardHeader>
        <img src="products/csp.svg" alt="csp" />
        CSP
        <button aui-button [plain]="true" [auiDropdown]="menu">
          {{ 'action' | translate }}
          <aui-icon icon="angle_down" margin="left"></aui-icon>
        </button>
        <aui-menu #menu>
          <ng-template auiMenuContent>
            <aui-menu-item type="danger" (click)="onConfirmDelete(csp)">
              {{ 'uninstall' | translate }}
            </aui-menu-item>
          </ng-template>
        </aui-menu>
      </div>

      <div class="card-section">
        <h3>{{ 'basic_info' | translate }}</h3>
        <alu-field-set-group>
          <alu-field-set-item>
            <label>{{ 'product_entrance' | translate }}</label>
            <ng-container
              *ngIf="
                csp.status?.productEntrypoint as entryPoint;
                else noEntryPoint
              "
            >
              <a [href]="entryPoint" target="_blank" rel="noopener noreferrer">
                {{ entryPoint }}
              </a>
              <span
                *ngIf="
                  csp.spec?.clusterInfo?.adminUser
                    | pure: b64DecodeUnicode as adminPassword
                "
                class="initial-account"
                [title]="adminPassword"
              >
                ({{ 'initial_account' | translate }}/{{
                  'password' | translate
                }}: {{ adminPassword }})
              </span>
            </ng-container>
            <ng-template #noEntryPoint>
              {{ '' | aclFieldNotAvailable }}
            </ng-template>
          </alu-field-set-item>
          <alu-field-set-item>
            <label>{{ 'deploy_or_run_status' | translate }}</label>
            <span
              *ngIf="csp | pure: mapStatus as status"
              class="product-status"
            >
              <alu-status-icon [status]="status['icon']"></alu-status-icon>
              {{ status['text'] | translate }}
            </span>
          </alu-field-set-item>
          <alu-field-set-item>
            <label>{{ 'product_version' | translate }}</label>
            {{ csp.status?.version | aclFieldNotAvailable }}
          </alu-field-set-item>
          <alu-field-set-item>
            <label>{{ 'deploy_progress' | translate }}</label>
            <span
              *ngIf="csp.status?.phase !== 'Running'; else finished"
              class="log-action"
              (click)="onShowLogs(csp, showLogs)"
            >
              <aui-icon icon="basic:log"></aui-icon>
              {{ 'log' | translate }}
            </span>
            <ng-template #finished>{{ 'finished' | translate }}</ng-template>
          </alu-field-set-item>
          <alu-field-set-item>
            <label>{{ 'product_type' | translate }}</label>
            {{ csp.spec?.productType | translate }}
          </alu-field-set-item>
          <alu-field-set-item>
            <label>{{ 'deploy_time' | translate }}</label>
            {{ csp | aclCreationTimestamp | aclStandardTime }}
          </alu-field-set-item>
          <alu-field-set-item [allowWrap]="true">
            <label>{{ 'product_introduction' | translate }}</label>
            <span [title]="'csp_introduction' | translate">
              {{ 'csp_introduction' | translate }}
            </span>
          </alu-field-set-item>
          <alu-field-set-item></alu-field-set-item>
        </alu-field-set-group>
      </div>
      <hr />
      <div class="card-section">
        <h3>{{ 'args_config' | translate }}</h3>
        <alu-field-set-group>
          <alu-field-set-item>
            <label>{{ 'host_ip' | translate }}</label>
            {{ host.ip }}
          </alu-field-set-item>
          <alu-field-set-item [class.non-visible]="!slave">
            <label>VIP</label>
            {{ csp.spec.vip }}
          </alu-field-set-item>
          <alu-field-set-item>
            <label>{{ 'host_ssh_port' | translate }}</label>
            {{ host.port }}
          </alu-field-set-item>
          <alu-field-set-item [class.non-visible]="!slave">
            <label>{{ 'slave_ip' | translate }}</label>
            {{ slave?.ip }}
          </alu-field-set-item>
          <alu-field-set-item>
            <label>{{ 'high_availability' | translate }}</label>
            {{ (csp.spec.highAvailable ? 'yes' : 'no') | translate }}
          </alu-field-set-item>
          <alu-field-set-item [class.non-visible]="!slave">
            <label>{{ 'slave_ssh_port' | translate }}</label>
            {{ slave?.port }}
          </alu-field-set-item>
        </alu-field-set-group>
      </div>
    </aui-card>
  </ng-template>
</acl-page-state>

<ng-template #showLogs>
  <aui-dialog-header>
    {{ 'log' | translate }}
  </aui-dialog-header>
  <aui-dialog-content>
    <aui-code-editor
      [ngModel]="logs$ | async"
      [options]="codeEditorOptions"
      [actionsConfig]="editorActions"
    ></aui-code-editor>
  </aui-dialog-content>
</ng-template>

<ng-template #confirmUninstallCsp>
  <alu-confirm-delete
    [context]="this"
    resourceName="CSP"
    type="uninstall"
    [title]="'uninstall_product' | translate"
    [deleteTips]="'delete_product_content' | translate: { name: 'CSP' }"
    [confirmText]="'uninstall' | translate"
    [deleteResourceApi]="deleteCsp"
    [deleteSuccessMsg]="
      'product_uninstall_successed' | translate: { name: 'CSP' }
    "
    [deleteFailMsg]="'product_uninstall_failed' | translate: { name: 'CSP' }"
    (close)="confirmUninstallCspRef.close()"
  ></alu-confirm-delete>
</ng-template>
