<aui-dialog-header>
  {{ 'update_password' | translate }}
</aui-dialog-header>

<aui-dialog-content>
  <form #ngForm="ngForm" [formGroup]="form" auiForm auiFormLabelWidth="140px">
    <aui-form-item>
      <label auiFormItemLabel>{{ 'current_password' | translate }}</label>
      <ng-container required auiFormItemControl>
        <input type="password" aui-input formControlName="oldPassword" />
      </ng-container>
      <alu-error-mapper
        auiFormItemError
        [errors]="form.get('oldPassword')?.errors"
        [errorsMapper]="{
          required:
            'field_is_required'
            | translate: { field: 'current_password' | translate }
        }"
      ></alu-error-mapper>
    </aui-form-item>
    <aui-form-item>
      <label auiFormItemLabel>{{ 'new_password' | translate }}</label>
      <ng-container required auiFormItemControl>
        <input type="password" aui-input formControlName="password" />
      </ng-container>
      <div
        *ngIf="form.get('password')?.pristine || form.get('password')?.valid"
        auiFormItemHint
      >
        {{ passwordPattern.tip | translate }}
      </div>
      <alu-error-mapper
        auiFormItemError
        [errors]="form.get('password')?.errors"
        [errorsMapper]="{
          required:
            'field_is_required'
            | translate: { field: 'new_password' | translate },
          pattern: passwordPattern.tip | translate
        }"
      ></alu-error-mapper>
    </aui-form-item>
    <aui-form-item>
      <label auiFormItemLabel>{{ 'confirm_password' | translate }}</label>
      <ng-container required auiFormItemControl>
        <input type="password" aui-input formControlName="comfirmPassword" />
      </ng-container>
      <div auiFormItemHint class="aui-form-item__error-wrapper">
        <span
          *ngIf="
            !form.get('comfirmPassword').pristine &&
            !form.get('comfirmPassword')?.errors?.required &&
            form.errors?.not_match
          "
        >
          {{ 'confirm_password_not_equal_password' | translate }}
        </span>
      </div>
      <alu-error-mapper
        auiFormItemError
        [errors]="form.get('comfirmPassword')?.errors"
        [errorsMapper]="{
          required:
            'field_is_required'
            | translate: { field: 'confirm_password' | translate }
        }"
      ></alu-error-mapper>
    </aui-form-item>
  </form>
</aui-dialog-content>
<aui-dialog-footer>
  <button aui-button="primary" (click)="update(ngForm)">
    {{ 'update' | translate }}
  </button>
  <button aui-button (click)="cancel()">
    {{ 'cancel' | translate }}
  </button>
</aui-dialog-footer>
