<aui-card [divider]="false">
  <div auiCardHeader>
    <acl-disabled-container
      *ngIf="showAddMember$ | async"
      [isAllowed]="(permissions$ | async).create"
    >
      <button aui-button="primary" (click)="addMember()">
        {{ 'add_member' | translate }}
      </button>
    </acl-disabled-container>
    <acl-disabled-container [isAllowed]="(permissions$ | async).create">
      <button aui-button="primary" [plain]="true" (click)="importMember()">
        {{ 'import_member' | translate }}
      </button>
    </acl-disabled-container>
    <div fxFlex></div>
    <alu-search-group-wrapper>
      <aui-select fxFlex="1 1 100px" [(ngModel)]="searchType">
        <aui-option
          *ngFor="let item of searchTypeList"
          [value]="item"
          [label]="item | translate"
        >
          {{ item | translate }}
        </aui-option>
      </aui-select>
      <aui-search
        [keyword]="keywords$ | async"
        [searchButton]="true"
        (search)="keywords$$.next($event)"
        [placeholder]="searchType | pure: getPlaceHolder | translate"
      ></aui-search>
    </alu-search-group-wrapper>
  </div>
  <aui-table [dataSource]="list.items$ | async">
    <aui-table-header-row
      *auiTableHeaderRowDef="columns"
    ></aui-table-header-row>
    <aui-table-row *auiTableRowDef="let row; columns: columns"></aui-table-row>
    <ng-container auiTableColumnDef="username">
      <aui-table-header-cell *auiTableHeaderCellDef>
        {{ 'username' | translate }}
      </aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let item">
        <span class="table-cell__name">{{ item.spec.email }}</span>
        <div class="table-cell__label-container table-cell__display-name">
          {{ item | aclDisplayName }}
        </div>
      </aui-table-cell>
    </ng-container>
    <ng-container auiTableColumnDef="user_group">
      <aui-table-header-cell *auiTableHeaderCellDef>
        {{ 'user_group' | translate }}
      </aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let item">
        <alu-user-groups-display
          [groups]="item.spec.groups"
          parentPadding="20"
        ></alu-user-groups-display>
      </aui-table-cell>
    </ng-container>
    <ng-container auiTableColumnDef="user_role">
      <aui-table-header-cell *auiTableHeaderCellDef>
        {{ 'user_role' | translate }}
      </aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let item">
        {{
          (item | pure: getAnnotation:'userbinding/role.display-name') ||
            (item | pure: getAnnotation:'userbinding/role.name')
            | aclFieldNotAvailable
        }}
      </aui-table-cell>
    </ng-container>
    <ng-container auiTableColumnDef="add_time">
      <aui-table-header-cell *auiTableHeaderCellDef>
        {{ 'add_time' | translate }}
      </aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let item">
        {{
          item
            | pure: getAnnotation:'userbinding/creationTimestamp'
            | aclRelativeTime
        }}
      </aui-table-cell>
    </ng-container>
    <ng-container auiTableColumnDef="action">
      <aui-table-header-cell *auiTableHeaderCellDef></aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let item">
        <alu-menu-trigger [menu]="menu" size="small"></alu-menu-trigger>
        <aui-menu #menu size="small">
          <acl-disabled-container [isAllowed]="(permissions$ | async).delete">
            <aui-menu-item (click)="removeMember(item)">
              {{ 'remove' | translate }}
            </aui-menu-item>
          </acl-disabled-container>
        </aui-menu>
      </aui-table-cell>
    </ng-container>
  </aui-table>
  <acl-k8s-resource-list-footer [list]="list"></acl-k8s-resource-list-footer>
</aui-card>
