<aui-page>
  <alu-header *auiPageHeader [logoTitle]="'platform_management' | translate">
    <alu-cluster-badge
      (clusterChange)="onClusterChange($event)"
      [hidden]="!shouldShowClusterBadge"
    ></alu-cluster-badge>
  </alu-header>

  <ng-container *ngIf="(viewPermissions$ | async).platformView">
    <ng-container *auiPageSider>
      <aui-platform-nav
        [items]="flattenNavConfig$ | async | pure: filterFg | async"
        [activatedKey]="activatedKey$ | async"
        [hideMainPanelToggle]="true"
        (activatedItemChange)="onActivatedItemChange($event)"
      ></aui-platform-nav>
    </ng-container>

    <div *auiPageToolbar class="layout-page-header" fxFlex>
      <ng-container
        *cdkPortalOutlet="pageHeaderContentTemplate$ | async"
      ></ng-container>
    </div>
  </ng-container>

  <div *auiPageContent>
    <acl-page-guard
      [allowed]="(viewPermissions$ | async).platformView"
      [reason]="noPermission"
      [description]="noPermissionDesc | translate"
    >
      <router-outlet *aclPageGuardContent></router-outlet>
    </acl-page-guard>
  </div>
</aui-page>
