<aui-table [dataSource]="list$ | async">
  <ng-container auiTableColumnDef="name">
    <aui-table-header-cell *auiTableHeaderCellDef>
      {{ 'cluster' | translate }}/IP
    </aui-table-header-cell>
    <aui-table-cell *auiTableCellDef="let item" [title]="item.name">
      {{ item.name }}
    </aui-table-cell>
  </ng-container>

  <ng-container *ngFor="let component of componentList">
    <ng-container [auiTableColumnDef]="component">
      <aui-table-header-cell *auiTableHeaderCellDef>
        {{ 'tdsql_' + component | translate }}
      </aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let item">
        <span
          [title]="item[component] | translate"
          [ngClass]="{ failure: ifDeployedFailure(item[component]) }"
        >
          {{ item[component] | translate }}
        </span>
      </aui-table-cell>
    </ng-container>
  </ng-container>

  <aui-table-header-row
    #headerRow
    *auiTableHeaderRowDef="columns"
  ></aui-table-header-row>
  <aui-table-row *auiTableRowDef="let row; columns: columns"></aui-table-row>
</aui-table>

<alu-no-data *ngIf="!(list$ | async)?.length"></alu-no-data>
