@import 'var';

$item-type-height: 28px;

:host {
  display: flex;
  padding-top: $item-type-height / 2;
}

.limit-range-form {
  &__item {
    position: relative;
    padding-top: 32px;
    padding-right: 20px;
    flex: 1;
    background-color: #fafafa;

    + #{&} {
      margin-left: 16px;
    }

    &__type {
      position: absolute;
      top: 0;
      left: 16px;
      transform: translate3d(0, -50%, 0);
      display: inline-flex;
      align-items: center;
      justify-content: center;
      width: 54px;
      height: $item-type-height;
      border: 1px solid #e8e8e8;
      border-radius: 2px;
      background-color: $color-white;
      color: #4d4d4d;
    }
  }
}
