<ng-container [formGroup]="form">
  <div
    *ngFor="let limitRange of limitRangeDefinitions | keyvalue"
    [formGroupName]="limitRange.key"
    class="limit-range-form__item"
  >
    <div class="limit-range-form__item__type">
      {{ limitRange.key | translate }}
    </div>
    <ng-container *ngFor="let item of limitRange.value">
      <aui-form-item>
        <label auiFormItemLabel>
          {{ item.name || item.key | translate }}
        </label>
        <aui-input-group fxFlex>
          <input
            aui-input
            auiFormItemControl
            [formControlName]="item.key"
            required
            pattern="^\d+$"
            [max]="getMaxValue(limitRange.key, item.key)"
          />
          <span auiInputAddonAfter>
            {{ 'unit_' + item.unit | translate }}
          </span>
        </aui-input-group>
        <alu-error-mapper
          auiFormItemError
          [errors]="form.get(limitRange.key).get(item.key).errors"
          [errorsMapper]="{
            pattern: 'zero_positive_integer_pattern' | translate,
            max:
              item.key === 'max'
                ? ('max_not_exceed' | translate: { value: MAX_VALUE })
                : ('default_max_value_error' | translate),
            required:
              'field_is_required'
              | translate: { field: item.name || item.key | translate }
          }"
        ></alu-error-mapper>
      </aui-form-item>
    </ng-container>
  </div>
</ng-container>
