<ng-container [formGroup]="form">
  <ng-container formGroupName="spec">
    <alu-limit-range-base-form
      formControlName="limits"
    ></alu-limit-range-base-form>
  </ng-container>
</ng-container>
