<ng-container *aluPageHeaderContent>
  <aui-breadcrumb>
    <aui-breadcrumb-item>
      <a routerLink="../../..">{{ 'product_management' | translate }}</a>
    </aui-breadcrumb-item>
    <aui-breadcrumb-item>
      <span>{{ 'deploy_redis' | translate }}</span>
    </aui-breadcrumb-item>
  </aui-breadcrumb>
</ng-container>

<aui-card>
  <div class="deploy-title">
    <span class="deploy-title__name">{{ 'deploy_redis' | translate }}</span>
    <span class="deploy-title__version">
      {{ version }}
    </span>
    <aui-icon icon="basic:question" class="icon-question"></aui-icon>
  </div>
  <div class="deploy-process">
    <alu-steps-process
      [steps]="steps"
      [currStep]="currentStep"
    ></alu-steps-process>
  </div>

  <ng-container *ngIf="initialized">
    <alu-redis-deploy-plan-form
      *ngIf="currentStep === 1"
      [model]="planFormModel"
    ></alu-redis-deploy-plan-form>

    <alu-redis-deployment-form
      *ngIf="currentStep === 2"
      [model]="configFormModel"
      [deployMode]="planFormModel.deployMode"
    ></alu-redis-deployment-form>
  </ng-container>
</aui-card>

<footer class="form__footer">
  <button
    aui-button="primary"
    [plain]="true"
    *ngIf="currentStep !== 1"
    (click)="prev()"
  >
    {{ 'prev_step' | translate }}
  </button>
  <button aui-button="primary" *ngIf="currentStep !== 2" (click)="next()">
    {{ 'next_step' | translate }}
  </button>
  <button aui-button="primary" *ngIf="currentStep === 2" (click)="deploy()">
    {{ 'deploy' | translate }}
  </button>
  <button aui-button type="button" (click)="cancel()">
    {{ 'cancel' | translate }}
  </button>
</footer>
