.loading-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 0 50px 0;

  > aui-icon {
    font-size: 27px;
  }

  > span {
    margin-top: 22px;
    font-size: 18px;
  }
}

.loading-header {
  display: flex;
  flex-direction: row-reverse;
}
