<aui-dialog-header class="loading-header" [closeable]="false">
  <div fxFlex></div>
  <div class="aui-dialog__header-close">
    <aui-icon icon="close" (click)="closeConfirm()"></aui-icon>
  </div>
</aui-dialog-header>
<aui-dialog-content>
  <div class="loading-container">
    <aui-icon
      icon="spinner"
      [style.color]="iconColors[data.iconColor || 'primary']"
    ></aui-icon>
    <span>{{ data.title }}</span>
  </div>
</aui-dialog-content>
