<aui-dialog-header>
  {{ formSubmitText | translate }}{{ 'node' | translate }}
</aui-dialog-header>

<aui-dialog-content>
  <aui-inline-alert>
    <div>{{ 'cluster_create_add_node_1' | translate }}</div>
    <div>{{ 'cluster_create_add_node_2' | translate }}</div>
    <div>{{ 'cluster_create_add_node_3' | translate }}</div>
  </aui-inline-alert>
  <form #ruleForm="ngForm" auiForm auiFormLabelWidth="114px">
    <aui-form-item>
      <label auiFormItemLabel>{{ 'node' | translate }}</label>
      <alu-cluster-node-fieldset
        name="machines"
        required
        auiFormItemControl
        [enableGPU]="modalData.enableGPU"
        [ips]="modalData.ips"
        [(ngModel)]="data.machines"
      ></alu-cluster-node-fieldset>
    </aui-form-item>
    <aui-form-item>
      <label auiFormItemLabel>SSH {{ 'port' | translate }}</label>
      <input
        #sshPortName="ngModel"
        name="port"
        aui-input
        auiFormItemControl
        required
        [(ngModel)]="data.port"
        [pattern]="portPattern.pattern"
      />
      <alu-error-mapper
        auiFormItemError
        [errors]="sshPortName.errors"
        [errorsMapper]="{
          required:
            'field_is_required' | translate: { field: 'port' | translate },
          pattern: portPattern.tip | translate
        }"
      ></alu-error-mapper>
    </aui-form-item>
    <aui-form-item>
      <label auiFormItemLabel>{{ 'cert_method' | translate }}</label>
      <aui-radio-group name="certInfo" [(ngModel)]="data.certMethod">
        <aui-radio-button value="password">
          {{ 'password' | translate }}
        </aui-radio-button>
        <aui-radio-button value="secret">
          {{ 'notification_webhook_secret' | translate }}
        </aui-radio-button>
      </aui-radio-group>
    </aui-form-item>
    <aui-form-item>
      <label auiFormItemLabel>{{ 'username' | translate }}</label>
      <input
        #userName="ngModel"
        name="username"
        [(ngModel)]="data.username"
        aui-input
        auiFormItemControl
        required
      />
      <alu-error-mapper
        auiFormItemError
        [errors]="userName.errors"
        [errorsMapper]="{
          required:
            'field_is_required' | translate: { field: 'username' | translate }
        }"
      ></alu-error-mapper>
    </aui-form-item>
    <aui-form-item *ngIf="data.certMethod === 'password'">
      <label auiFormItemLabel>{{ 'password' | translate }}</label>
      <aui-input-group style="flex: 1;">
        <input
          #passwordName="ngModel"
          name="password"
          [(ngModel)]="data.password"
          [type]="showPassword ? 'text' : 'password'"
          aui-input
          auiFormItemControl
          required
        />
        <aui-icon
          auiInputSuffix
          class="eye-icon"
          [icon]="showPassword ? 'basic:eye_s' : 'basic:eye_slash_s'"
          (click)="showPassword = !showPassword"
        ></aui-icon>
      </aui-input-group>
      <alu-error-mapper
        auiFormItemError
        [errors]="passwordName.errors"
        [errorsMapper]="{
          required:
            'field_is_required' | translate: { field: 'password' | translate }
        }"
      ></alu-error-mapper>
    </aui-form-item>
    <ng-container *ngIf="data.certMethod === 'secret'">
      <aui-form-item>
        <label auiFormItemLabel>{{ 'private_key' | translate }}</label>
        <textarea
          #privateKeyName="ngModel"
          name="private_key"
          [(ngModel)]="data.privateKey"
          aui-input
          auiFormItemControl
          required
        ></textarea>
        <alu-error-mapper
          auiFormItemError
          [errors]="privateKeyName.errors"
          [errorsMapper]="{
            required:
              'field_is_required'
              | translate: { field: 'private_key' | translate }
          }"
        ></alu-error-mapper>
      </aui-form-item>
      <aui-form-item>
        <label auiFormItemLabel>
          {{ 'private_key_password' | translate }}
        </label>
        <textarea
          name="private_key_password"
          [(ngModel)]="data.privateKeyPassword"
          aui-input
        ></textarea>
      </aui-form-item>
    </ng-container>
  </form>
</aui-dialog-content>

<div class="separator"></div>
<aui-dialog-footer>
  <button aui-button="primary" (click)="confirm(ruleForm)">
    {{ (formSubmitText === 'add' ? 'add' : 'confirm') | translate }}
  </button>
  <button aui-button (click)="cancel()">
    {{ 'cancel' | translate }}
  </button>
</aui-dialog-footer>
