<alu-logo [title]="logoTitle"></alu-logo>
<acl-product-select current="console-platform"></acl-product-select>
<ng-content></ng-content>
<div fxFlex></div>
<acl-platform-center-nav platformPath=""></acl-platform-center-nav>
<acl-help-menu docLink="/platform-docs/"></acl-help-menu>
<acl-account-menu platformPath=""></acl-account-menu>
