.form-section {
  &__header {
    font-size: 16px;
    margin-bottom: 16px;
    border-left: 4px solid #006eff;
    padding-left: 8px;
  }
}

.field-panel {
  &__wrap {
    border: 4px solid #fafafa;
    background-color: #fafafa;
    padding: 4px;
  }
  &__body {
    padding: 12px;
    background-color: #fff;
    aui-form-item {
      ::ng-deep {
        .aui-form-item {
          margin-bottom: 12px;
        }
      }
      &:last-child {
        ::ng-deep {
          .aui-form-item {
            margin-bottom: 0;
          }
        }
      }
    }
  }
}
