<ng-container *aluPageHeaderContent>
  <aui-breadcrumb>
    <aui-breadcrumb-item>
      <span>
        {{ 'alarm' | translate }}
      </span>
    </aui-breadcrumb-item>

    <aui-breadcrumb-item>
      <a [routerLink]="resource?.metadata.name ? ['../../'] : ['../']">
        {{ 'alarm' | translate }}
      </a>
    </aui-breadcrumb-item>
    <aui-breadcrumb-item>
      <span>
        {{ (resource?.metadata.name ? 'update' : 'create') | translate }}
      </span>
    </aui-breadcrumb-item>
    <ng-container *ngIf="resource?.metadata.name">
      <aui-breadcrumb-item>
        <span>{{ resource?.metadata.name }}</span>
      </aui-breadcrumb-item>
    </ng-container>
  </aui-breadcrumb>
</ng-container>
<div class="form-wrapper">
  <aui-card>
    <div auiCardHeader>
      {{ 'basic_info' | translate }}
    </div>
    <form
      #alarmForm="ngForm"
      auiForm
      auiFormLabelPosition="right"
      auiFormLabelWidth="114px"
    >
      <aui-form-item [hidden]="resource">
        <label auiFormItemLabel>
          {{ 'name' | translate }}
        </label>
        <input
          auiFormItemControl
          aui-input
          required
          name="name"
          #name="ngModel"
          maxlength="63"
          [(ngModel)]="viewModel.name"
          [pattern]="resourceNameReg.pattern"
          [placeholder]="resourceNameReg.tip | translate"
        />
        <alu-error-mapper
          auiFormItemError
          [errors]="name.errors"
          [errorsMapper]="{
            required:
              'field_is_required' | translate: { field: 'name' | translate },
            pattern: resourceNameReg.tip | translate
          }"
        ></alu-error-mapper>
      </aui-form-item>
      <aui-form-item [hidden]="!resource">
        <label auiFormItemLabel>
          {{ 'name' | translate }}
        </label>
        <span>{{ resource?.metadata.name }}</span>
      </aui-form-item>
      <aui-form-item>
        <label auiFormItemLabel>{{ 'description' | translate }}</label>
        <input
          auiFormItemControl
          aui-input
          name="description"
          [(ngModel)]="viewModel.description"
        />
      </aui-form-item>
      <aui-form-item [hidden]="resource">
        <label auiFormItemLabel>{{ 'resource_type' | translate }}</label>
        <aui-radio-group
          size="medium"
          auiFormItemControl
          name="kind"
          [(ngModel)]="viewModel.kind"
        >
          <aui-radio-button value="cluster" [disabled]="!canChangeResourceType">
            {{ 'cluster' | translate }}
          </aui-radio-button>
          <aui-radio-button value="node" [disabled]="!canChangeResourceType">
            {{ 'node' | translate }}
          </aui-radio-button>
        </aui-radio-group>
      </aui-form-item>
      <aui-form-item [hidden]="!resource">
        <label auiFormItemLabel>{{ 'resource_type' | translate }}</label>
        <span>{{ viewModel.kind | translate }}</span>
      </aui-form-item>
      <!-- 资源名称 -->
      <aui-form-item>
        <label auiFormItemLabel>{{ 'resource_name' | translate }}</label>
        <ng-container auiFormItemControl required>
          <span *ngIf="viewModel.kind === 'cluster'">
            {{ clusterName }} ({{ clusterDisplayName }})
          </span>
          <aui-select
            *ngIf="viewModel.kind === 'node'"
            required
            name="node"
            [(ngModel)]="viewModel.node"
            [disabled]="!canChangeResourceType"
          >
            <aui-option [value]="allNodes" [label]="'all_nodes' | translate">
              {{ 'all_nodes' | translate }}
            </aui-option>
            <aui-option
              *ngFor="let node of nodes"
              [value]="node"
              [label]="node.address + ' (' + node.hostname + ')'"
            >
              {{ node.address }} ({{ node.hostname }})
            </aui-option>
          </aui-select>
          <div
            auiFormItemError
            *ngIf="
              viewModel.kind === 'node' && form.controls.node?.errors?.required
            "
          >
            {{ 'required' | translate }}
          </div>
          <alu-error-mapper
            auiFormItemError
            [errors]="viewModel.kind === 'node' && form.controls.node?.errors"
            [errorsMapper]="{
              required:
                'field_is_required'
                | translate: { field: 'resource_name' | translate }
            }"
          ></alu-error-mapper>
        </ng-container>
      </aui-form-item>
    </form>
  </aui-card>
  <aui-card>
    <div auiCardHeader>
      {{ 'alarm_rule' | translate }}
    </div>
    <alu-alarm-rule-list
      auiFormItemControl
      name="template"
      [kind]="viewModel.kind"
      [cluster]="clusterName"
      [isOCP]="isOCP"
      [node]="viewModel.kind === 'node' ? viewModel.node?.address : ''"
      [hostname]="viewModel.node?.hostname"
      [(ngModel)]="viewModel.rules"
      (ngModelChange)="onRulesChange($event)"
    ></alu-alarm-rule-list>
  </aui-card>
  <aui-card class="resource-form__card">
    <div auiCardHeader>
      {{ 'alarm_action' | translate }}
    </div>
    <alu-alarm-action-form
      auiFormItemControl
      name="action"
      [(ngModel)]="viewModel.actions"
    ></alu-alarm-action-form>
  </aui-card>
</div>
<footer class="form__footer">
  <span fxFlex></span>
  <button
    aui-button="primary"
    [loading]="submitting"
    [disabled]="submitting"
    (click)="confirm()"
  >
    {{ formSubmitText | translate }}
  </button>
  <button aui-button (click)="cancel()">
    {{ 'cancel' | translate }}
  </button>
</footer>
