<alu-array-form-table
  [noRowSeparator]="true"
  (add)="add(form.length)"
  (remove)="remove($event)"
  [formGroup]="form"
  [rows]="form.controls"
  [resourceName]="'notification_method'"
>
  <ng-container *aluArrayFormTableRow="let control">
    <td>
      <aui-card>
        <alu-notification-method-item
          [formControl]="control"
          [receivers]="(receivers$ | async)?.items"
          [senders]="(senders$ | async)?.items"
          [templates]="(templates$ | async)?.items"
          (addNotificationObject)="onAddNotificationObject($event)"
        ></alu-notification-method-item>
      </aui-card>
    </td>
  </ng-container>
</alu-array-form-table>
