<ng-container *aluPageHeaderContent>
  <aui-breadcrumb>
    <aui-breadcrumb-item>
      <span>{{ 'alarm' | translate }}</span>
    </aui-breadcrumb-item>
    <aui-breadcrumb-item>
      <a routerLink="../../">{{ 'alarm' | translate }}</a>
    </aui-breadcrumb-item>
    <aui-breadcrumb-item>
      <span>{{ (params$ | async).name }}</span>
    </aui-breadcrumb-item>
  </aui-breadcrumb>
</ng-container>
<acl-page-state
  [adapter]="dataManager"
  [autoRedirect]="false"
  (redirect)="jumpToListPage()"
>
  <ng-template let-resource="resource" let-permissions="permissions">
    <aui-card>
      <div auiCardHeader>
        <span>{{ 'basic_info' | translate }}</span>
        <div fxFlex></div>
        <button
          *ngIf="resource | pure: shouldDisplay"
          aui-button="default"
          [plain]="true"
          [auiDropdown]="menu"
        >
          {{ 'action' | translate }}
          <aui-icon icon="angle_down" margin="left"></aui-icon>
        </button>
        <aui-menu #menu size="small">
          <acl-disabled-container [isAllowed]="permissions?.update">
            <aui-menu-item (click)="update(resource)">
              {{ 'update' | translate }}
            </aui-menu-item>
          </acl-disabled-container>
          <acl-disabled-container [isAllowed]="permissions?.delete">
            <aui-menu-item (click)="delete(resource)">
              {{ 'delete' | translate }}
            </aui-menu-item>
          </acl-disabled-container>
        </aui-menu>
      </div>
      <alu-field-set-group auiCardContent>
        <alu-field-set-item>
          <label>{{ 'name' | translate }}</label>
          {{ resource.metadata.name }}
        </alu-field-set-item>
        <alu-field-set-item>
          <label>{{ 'description' | translate }}</label>
          <span
            [auiTooltip]="resource | aclDescription | aclFieldNotAvailable"
            auiTooltipPosition="top start"
          >
            {{ resource | aclDescription | aclFieldNotAvailable }}
          </span>
        </alu-field-set-item>
        <alu-field-set-item>
          <label>{{ 'resource_type' | translate }}</label>
          {{ resource | aclLabel: 'kind':'alert' | lowercase | translate }}
        </alu-field-set-item>
        <alu-field-set-item>
          <label>{{ 'create_time' | translate }}</label>
          {{ resource.metadata.creationTimestamp | aluFormatUtcStr }}
        </alu-field-set-item>
        <alu-field-set-item>
          <label>{{ 'resource_name' | translate }}</label>
          <div>
            <span *ngIf="(resource | aclLabel: 'name':'alert') === '0.0.0.0'">
              {{ 'all_nodes' | translate }}
            </span>
            <span *ngIf="(resource | aclLabel: 'name':'alert') !== '0.0.0.0'">
              {{ resource | aclLabel: 'name':'alert' }}
            </span>
          </div>
        </alu-field-set-item>
        <alu-field-set-item>
          <label>{{ 'updated_at' | translate }}</label>
          {{ resource | aclUpdatedAt | aluFormatUtcStr }}
        </alu-field-set-item>
      </alu-field-set-group>
    </aui-card>
    <aui-card [divider]="false">
      <div auiCardHeader>
        {{ 'alarm_rule' | translate }}
      </div>
      <alu-alarm-detail-rule-list
        [rules]="resource.spec.groups[0].rules"
        [cluster]="cluster"
      ></alu-alarm-detail-rule-list>
    </aui-card>
    <aui-card [divider]="false">
      <div auiCardHeader>
        {{ 'alarm_action' | translate }}
      </div>
      <alu-alarm-action-list
        [notifications]="
          resource
            | aclAnnotation: 'notifications':'alert'
            | pure: parseNotifications
        "
      ></alu-alarm-action-list>
    </aui-card>
  </ng-template>
</acl-page-state>
