<aui-dialog-header>
  {{ 'import_license' | translate }}
</aui-dialog-header>

<aui-dialog-content>
  <form #form="ngForm" auiForm auiFormLabelWidth="100px">
    <aui-form-item>
      <label auiFormItemLabel>{{ 'client' | translate }}</label>
      <span>{{ clientName | aclFieldNotAvailable }}</span>
    </aui-form-item>

    <aui-form-item>
      <label auiFormItemLabel>{{ 'license_key' | translate }}</label>
      <textarea
        aui-input
        auiFormItemControl
        required
        [formControl]="licenseControl"
        [autosize]="{ minRows: 3, maxRows: 6 }"
      ></textarea>
      <div auiFormItemHint>
        {{ 'license_import_hint' | translate }}
        <button aui-button="text" (click)="uploadFile($event)">
          <aui-icon icon="basic:upload"></aui-icon>
        </button>
        <input hidden #uploadInput type="file" (change)="onUpload($event)" />
      </div>
      <div *ngIf="licenseStatus" auiFormItemError>
        {{ licenseStatus | pure: formatError | translate }}
      </div>
    </aui-form-item>
  </form>
</aui-dialog-content>
<aui-dialog-footer>
  <button aui-button="primary" (click)="importLicense()">
    {{ 'import' | translate }}
  </button>
  <button aui-button (click)="cancel()">
    {{ 'cancel' | translate }}
  </button>
</aui-dialog-footer>
