<aui-dialog-header>
  {{ formSubmitText | translate }}{{ 'alarm_rule' | translate }}
</aui-dialog-header>

<aui-dialog-content>
  <form
    #ruleForm="ngForm"
    [formGroup]="form"
    auiForm
    auiFormLabelPosition="right"
    [auiFormEmptyAddon]="false"
  >
    <alu-base-alarm-rule-form
      auiFormItemControl
      formControlName="rule"
      [metricType]="modalData?.metricType"
      [kind]="modalData?.kind"
    ></alu-base-alarm-rule-form>
  </form>
</aui-dialog-content>

<aui-dialog-footer>
  <button aui-button="primary" (click)="confirm(ruleForm)">
    {{ formSubmitText | translate }}
  </button>
  <button aui-button (click)="cancel()">
    {{ 'cancel' | translate }}
  </button>
</aui-dialog-footer>
