:host {
  $table-flex-common: 1 1 160px;
  $table-flex-wide: 7 1 160px;
  .aui-table {
    &__column-name {
      flex: $table-flex-common;
    }
    &__column-status {
      flex: $table-flex-common;
    }
    &__column-member {
      flex: $table-flex-wide;
    }
    &__column-create_time {
      flex: $table-flex-common;
    }
    &__cell {
      position: relative;
      .column-mask {
        position: absolute;
        bottom: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background: #fff;
        opacity: 0.6;
        z-index: 10;
      }
    }
  }
  .aui-table__cell__display-name {
    text-overflow: ellipsis;
    overflow: hidden;
  }
}
