<ng-container *aluPageHeaderContent>
  <aui-breadcrumb>
    <aui-breadcrumb-item>
      <span>{{ 'cluster_management' | translate }}</span>
    </aui-breadcrumb-item>
    <aui-breadcrumb-item>
      <span>{{ 'clusterfed' | translate }}</span>
    </aui-breadcrumb-item>
  </aui-breadcrumb>
</ng-container>
<aui-card [divider]="false">
  <div fxLayout auiCardHeader>
    <acl-disabled-container [isAllowed]="(permissions$ | async).create">
      <button
        aui-button="primary"
        routerLink="/manage-platform/federation/create"
      >
        {{ 'create_cluster_federation' | translate }}
      </button>
    </acl-disabled-container>
    <span fxFlex></span>
    <aui-search
      [searchButton]="true"
      [keyword]="searchKey$ | async"
      placeholder="{{ 'search_by_name_placeholder' | translate }}"
      (search)="searchByName($event)"
    ></aui-search>
    <button
      aui-button
      style="margin-left: 8px;"
      [square]="true"
      [loading]="list.loading$ | async"
      [disabled]="list.loading$ | async"
      (click)="list.reload()"
    >
      <aui-icon icon="basic:refresh"></aui-icon>
    </button>
  </div>

  <aui-table [dataSource]="list.items$" [trackBy]="trackByFn">
    <ng-container auiTableColumnDef="name">
      <aui-table-header-cell *auiTableHeaderCellDef>
        {{ 'name' | translate }}
      </aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let item">
        <a
          [routerLink]="[
            '/manage-platform/federation/detail',
            item.metadata.name
          ]"
          title="{{ item | aclName }}"
        >
          {{ item | aclName }}
        </a>
        <div
          *ngIf="item | aclDisplayName as displayName"
          class="aui-table__cell__display-name"
          [title]="displayName"
        >
          {{ displayName }}
        </div>
        <div
          *ngIf="item | pure: getClusterFedStatus | pure: getCommonMask"
          class="column-mask"
        ></div>
      </aui-table-cell>
    </ng-container>
    <ng-container auiTableColumnDef="status">
      <aui-table-header-cell *auiTableHeaderCellDef>
        {{ 'status' | translate }}
      </aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let item">
        <alu-status-icon
          [status]="item | pure: getClusterFedStatus"
        ></alu-status-icon>
        {{ item | pure: getClusterFedStatus | translate }}
      </aui-table-cell>
    </ng-container>
    <ng-container auiTableColumnDef="member">
      <aui-table-header-cell *auiTableHeaderCellDef>
        {{ 'member' | translate }}
      </aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let item">
        <alu-user-groups-display
          [groups]="item.spec.clusters | pure: getClusterMember"
          parentPadding="20"
        ></alu-user-groups-display>
        <div
          *ngIf="item | pure: getClusterFedStatus | pure: getCommonMask"
          class="column-mask"
        ></div>
      </aui-table-cell>
    </ng-container>
    <ng-container auiTableColumnDef="create_time">
      <aui-table-header-cell *auiTableHeaderCellDef>
        {{ 'create_time' | translate }}
      </aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let item">
        {{ item | aclCreationTimestamp | aclRelativeTime }}
        <div
          *ngIf="item | pure: getClusterFedStatus | pure: getCommonMask"
          class="column-mask"
        ></div>
      </aui-table-cell>
    </ng-container>
    <ng-container auiTableColumnDef="action">
      <aui-table-header-cell *auiTableHeaderCellDef></aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let item">
        <button
          aui-button="text"
          [square]="true"
          [plain]="true"
          size="small"
          [auiDropdown]="menu"
        >
          <aui-icon icon="basic:ellipsis_v_s"></aui-icon>
        </button>
        <aui-menu #menu size="small">
          <acl-disabled-container
            *ngIf="item | pure: getClusterFedStatus | pure: getUpdateMask"
            [isAllowed]="(permissions$ | async).update"
          >
            <aui-menu-item (click)="update(item)">
              {{ 'update_display_name' | translate }}
            </aui-menu-item>
          </acl-disabled-container>
          <acl-disabled-container [isAllowed]="(permissions$ | async).delete">
            <aui-menu-item type="danger" (click)="delete(confirmDelete, item)">
              {{ 'delete' | translate }}
            </aui-menu-item>
          </acl-disabled-container>
        </aui-menu>
        <div
          *ngIf="item | pure: getClusterFedStatus | pure: getActionMask"
          class="column-mask"
        ></div>
        <ng-template #confirmDelete>
          <alu-confirm-delete
            [context]="context"
            [title]="'delete_cluster_federation' | translate"
            [resourceName]="item.metadata.name"
            [deleteTips]="
              'delete_federation_content'
                | translate: { name: item.metadata.name }
            "
            [deleteResourceApi]="deleteClusterFedApi"
            [deleteSuccessMsg]="'delete_success' | translate"
            [deleteFailMsg]="'delete_failed' | translate"
            (close)="deleteDialogRef.close()"
          ></alu-confirm-delete>
        </ng-template>
      </aui-table-cell>
    </ng-container>
    <aui-table-header-row
      *auiTableHeaderRowDef="columns"
    ></aui-table-header-row>
    <aui-table-row *auiTableRowDef="let row; columns: columns"></aui-table-row>
  </aui-table>
  <acl-k8s-resource-list-footer [list]="list"></acl-k8s-resource-list-footer>
</aui-card>
