@import 'var';

:host {
  width: 100%;
  display: block;
  flex: 1;
}

.required-mark {
  color: $color-error;
}

.content {
  width: 100%;
  display: inline-flex;
  align-items: center;

  aui-input-group {
    flex: 1;
  }

  &__switch {
    margin-left: 10px;
  }
}
