<alu-array-form-table
  [noRowSeparator]="true"
  (add)="add(form.length)"
  (remove)="remove($event)"
  [formGroup]="form"
  [rows]="form.controls"
  [rowBackgroundColorFn]="rowBackgroundColorFn"
>
  <ng-container *aluArrayFormTableHeader>
    <th>
      <span class="required-mark">*</span>
      <span>{{ 'node_ip' | translate }}</span>
    </th>
    <th>
      {{ 'display_name' | translate }}
    </th>
    <th [hidden]="!isGPUCluster" style="width: 120px;">
      {{ 'gpu_host' | translate }}
    </th>
  </ng-container>
  <ng-container
    *aluArrayFormTableRow="let index = index"
    [formGroupName]="index"
  >
    <td>
      <input
        aui-input
        formControlName="ip"
        [placeholder]="'node_ip' | translate"
      />
    </td>
    <td>
      <input
        aui-input
        formControlName="display_name"
        maxlength="32"
        [placeholder]="'display_name' | translate"
      />
    </td>
    <td [hidden]="!isGPUCluster">
      <aui-switch formControlName="gpuEnabled"></aui-switch>
    </td>
  </ng-container>
  <ng-container *aluArrayFormTableRowControl="let item; let index = index">
    <button
      aui-button="text"
      size="mini"
      type="button"
      [disabled]="form.length === 1"
      (click)="remove(index)"
      [square]="true"
      [plain]="true"
    >
      <aui-icon icon="basic:minus_circle"></aui-icon>
    </button>
  </ng-container>
  <ng-container *aluArrayFormTableRow="let control">
    <td
      *ngIf="
        (control.dirty || $any(controlContainer?.formDirective)?.submitted) &&
        control.errors
      "
      colspan="4"
      class="alu-table-form-error-hint"
    >
      {{ control.errors | pure: getRowErrorMessage }}
    </td>
  </ng-container>
  <ng-container *aluArrayFormTableRow="let control"></ng-container>
  <ng-container *aluArrayFormTableFooter>
    <div style="flex: 1;">
      <button
        aui-button="primary"
        style="width: 100%;"
        type="button"
        size="mini"
        [plain]="true"
        (click)="add()"
      >
        <aui-icon icon="basic:add_circle"></aui-icon>
        {{ 'add_slave_node' | translate }}
      </button>
      <div *ngIf="isGPUCluster">
        <span style="font-size: 12px; color: #999;">
          {{ 'node_list_add_node_with_gpu' | translate }}
        </span>
      </div>
    </div>
  </ng-container>
</alu-array-form-table>
