@import 'var';
:host {
  flex: 1;
}

td {
  padding: 4px;
  &:first-child {
    padding-left: 8px;
  }
  &:last-child {
    padding-right: 8px;
  }
}

.action-col {
  text-align: right;
  padding: 8px 4px;
  white-space: nowrap;
  width: 28px;
  min-width: 16px;

  aui-icon {
    font-size: 16px;
    color: #000;
    cursor: pointer;
    opacity: 0.4;

    &:not(:first-child) {
      margin-left: 4px;
    }

    &:hover {
      opacity: 1;
      color: $color-primary;
    }
  }
}

.add_role_form_select_option {
  max-width: 400px;
  display: flex;
}
