<ng-container [formGroup]="form">
  <td>
    <aui-select
      formControlName="role"
      [placeholder]="'please_select_role' | translate"
      [loading]="!(roleGroups && roleGroups.length)"
      [filterable]="true"
    >
      <aui-option-group *ngFor="let roleGroup of roleGroups">
        <div auiOptionGroupTitle>{{ roleGroup.group | translate }}</div>
        <aui-option
          *ngFor="let item of roleGroup.items"
          class="add_role_form_select_option"
          [label]="item | pure: unionDisplayName"
          [value]="item"
          [title]="item | pure: unionDisplayName"
        >
          {{ item | pure: unionDisplayName }}
        </aui-option>
      </aui-option-group>
      <aui-option-placeholder>
        {{ 'no_data' | translate }}
      </aui-option-placeholder>
    </aui-select>
  </td>
  <td>
    <aui-select
      formControlName="project"
      [placeholder]="'please_select_project' | translate"
      [loading]="!(projects && projects.length)"
      [filterable]="true"
    >
      <aui-option
        *ngFor="let item of projects"
        class="add_role_form_select_option"
        [value]="item"
        [label]="item | aclUnionDisplayName"
        [title]="item | aclUnionDisplayName"
      >
        {{ item | aclUnionDisplayName }}
      </aui-option>
      <aui-option-placeholder>
        {{ 'no_data' | translate }}
      </aui-option-placeholder>
    </aui-select>
  </td>
  <td>
    <aui-select
      formControlName="namespace"
      [loading]="
        (form.get('role').value | aclLabel: 'roletemplate.level':'auth') ===
          'namespace' && loading
      "
      [placeholder]="'please_select_namespace' | translate"
      [filterable]="true"
    >
      <aui-option-group *ngFor="let item of namespaceGroups">
        <div auiOptionGroupTitle>{{ item.cluster }}</div>
        <aui-option
          *ngFor="let namespace of item.namespaces"
          class="add_role_form_select_option"
          [value]="namespace"
          [label]="namespace | aclUnionDisplayName"
          [title]="namespace | aclUnionDisplayName"
        >
          {{ namespace | aclUnionDisplayName }}
        </aui-option>
      </aui-option-group>
      <aui-option-placeholder>
        {{ 'no_data' | translate }}
      </aui-option-placeholder>
    </aui-select>
  </td>
  <td class="action-col">
    <aui-icon icon="basic:minus_circle" (click)="remove.emit()"></aui-icon>
  </td>
</ng-container>
