<form #ngForm="ngForm" auiForm auiFormLabelWidth="114px" [formGroup]="form">
  <ng-container formGroupName="sms">
    <aui-form-item>
      <label auiFormItemLabel>{{ 'server_address' | translate }}</label>
      <ng-container required auiFormItemControl>
        <input aui-input formControlName="host" />
      </ng-container>
    </aui-form-item>
    <aui-form-item>
      <label auiFormItemLabel>{{ 'port' | translate }}</label>
      <ng-container required auiFormItemControl>
        <input aui-input formControlName="port" type="number" />
      </ng-container>
    </aui-form-item>
    <aui-form-item>
      <label auiFormItemLabel>{{ 'provider' | translate }}</label>
      <ng-container required auiFormItemControl>
        <input aui-input formControlName="provider" />
      </ng-container>
    </aui-form-item>
    <aui-form-item>
      <label auiFormItemLabel>{{ 'softVersion' | translate }}</label>
      <ng-container required auiFormItemControl>
        <input aui-input formControlName="softVersion" />
      </ng-container>
    </aui-form-item>
  </ng-container>
</form>
