<ng-container *aluPageHeaderContent>
  <aui-breadcrumb>
    <aui-breadcrumb-item>
      <a routerLink="../../..">{{ 'product_management' | translate }}</a>
    </aui-breadcrumb-item>
    <aui-breadcrumb-item>
      <span>Redis</span>
    </aui-breadcrumb-item>
  </aui-breadcrumb>
</ng-container>

<acl-page-state [adapter]="dataLoader">
  <ng-template let-data>
    <aui-tab-group [lazy]="true">
      <aui-tab [label]="'detail_info' | translate">
        <alu-redis-detail-info
          [data]="data"
          (reload)="dataLoader.reload()"
          (edit)="edit()"
        ></alu-redis-detail-info>
      </aui-tab>

      <aui-tab [label]="'components' | translate">
        <alu-redis-components [data]="data"></alu-redis-components>
      </aui-tab>
    </aui-tab-group>
  </ng-template>
</acl-page-state>
