<ng-container *aluPageHeaderContent>
  <aui-breadcrumb>
    <aui-breadcrumb-item>
      <span>{{ 'user_role_management' | translate }}</span>
    </aui-breadcrumb-item>
    <aui-breadcrumb-item>
      <span>{{ 'role_management' | translate }}</span>
    </aui-breadcrumb-item>
  </aui-breadcrumb>
</ng-container>

<aui-card [divider]="false">
  <div auiCardHeader>
    <acl-disabled-container [isAllowed]="permissions$ | async">
      <button aui-button="primary" [routerLink]="['create']">
        {{ 'create_role' | translate }}
      </button>
    </acl-disabled-container>
    <button hidden aui-button="primary">{{ 'create_role' | translate }}</button>
    <div fxFlex></div>
  </div>
  <aui-table [dataSource]="list.items$ | async">
    <aui-table-header-row
      *auiTableHeaderRowDef="columns"
    ></aui-table-header-row>
    <aui-table-row *auiTableRowDef="let row; columns: columns"></aui-table-row>
    <ng-container auiTableColumnDef="name">
      <aui-table-header-cell *auiTableHeaderCellDef>
        {{ 'name' | translate }}
      </aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let item">
        <a
          class="table-cell__name"
          [routerLink]="['detail', item.metadata.name]"
        >
          {{ item | aclName }}
        </a>
        <div class="table-cell__label-container table-cell__display-name">
          {{
            (item
              | aclAnnotation
                : ('display-name' | pure: formatLocaleKey | translate)) ||
              (item | aclDisplayName)
          }}
        </div>
      </aui-table-cell>
    </ng-container>
    <ng-container auiTableColumnDef="type">
      <aui-table-header-cell *auiTableHeaderCellDef>
        {{ 'type' | translate }}
      </aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let item">
        {{
          (item | aclLabel: 'roletemplate.level':'auth') + '_role' | translate
        }}
      </aui-table-cell>
    </ng-container>
    <ng-container auiTableColumnDef="attribute">
      <aui-table-header-cell *auiTableHeaderCellDef>
        {{ 'attribute' | translate }}
      </aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let item">
        {{
          ((item | aclLabel: 'roletemplate.official':'auth') === 'true'
            ? 'system_role'
            : 'custom_role'
          ) | translate
        }}
      </aui-table-cell>
    </ng-container>
    <ng-container auiTableColumnDef="description">
      <aui-table-header-cell *auiTableHeaderCellDef>
        {{ 'description' | translate }}
      </aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let item">
        {{
          (item
            | aclAnnotation
              : ('description' | pure: formatLocaleKey | translate)) ||
            (item | aclDescription)
        }}
      </aui-table-cell>
    </ng-container>
    <ng-container auiTableColumnDef="creator">
      <aui-table-header-cell *auiTableHeaderCellDef>
        {{ 'creator' | translate }}
      </aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let item">
        {{ item | aclCreator | aclFieldNotAvailable }}
      </aui-table-cell>
    </ng-container>
    <ng-container auiTableColumnDef="create_time">
      <aui-table-header-cell *auiTableHeaderCellDef>
        {{ 'create_time' | translate }}
      </aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let item">
        {{ item | aclCreationTimestamp | aclRelativeTime }}
      </aui-table-cell>
    </ng-container>
  </aui-table>
  <acl-k8s-resource-list-footer
    [list]="list"
    resourceName="role"
  ></acl-k8s-resource-list-footer>
</aui-card>
