<form
  *ngIf="formGroup"
  #ngForm="ngForm"
  auiForm
  [formGroup]="formGroup"
  auiFormLabelWidth="118px"
  [auiFormEmptyAddon]="true"
  novalidate
>
  <div class="form-section">
    <aui-form-item>
      <label auiFormItemLabel>{{ 'product_version' | translate }}</label>
      <div>{{ version }}</div>
    </aui-form-item>
  </div>
  <div class="form-section">
    <div class="form-section__header">
      {{ 'image_args' | translate }}
    </div>
    <aui-form-item>
      <label auiFormItemLabel>{{ 'image_repo_address' | translate }}</label>
      <input
        auiFormItemControl
        formControlName="imageRepoAddress"
        [placeholder]="'ti_image_repo_address_placeholder' | translate"
        aui-input
        required
      />
      <alu-error-mapper
        auiFormItemError
        [errors]="formGroup.get('imageRepoAddress').errors"
        [errorsMapper]="{
          required:
            'field_is_required'
            | translate: { field: 'image_repo_address' | translate }
        }"
      ></alu-error-mapper>
    </aui-form-item>
    <aui-form-item>
      <label auiFormItemLabel>{{ 'image_pkg_path' | translate }}</label>
      <input auiFormItemControl formControlName="imagePkgPath" aui-input />
    </aui-form-item>
  </div>
  <div class="form-section">
    <div class="form-section__header">
      {{ 'console' | translate }}
    </div>
    <aui-form-item>
      <label auiFormItemLabel>
        {{ 'external_service_address' | translate }}
      </label>
      <input
        auiFormItemControl
        formControlName="clusterExternalAddress"
        aui-input
        required
      />
      <alu-error-mapper
        auiFormItemError
        [errors]="formGroup.get('clusterExternalAddress').errors"
        [errorsMapper]="{
          required:
            'field_is_required'
            | translate
              : {
                  field: 'external_service_address' | translate
                }
        }"
      ></alu-error-mapper>
    </aui-form-item>
    <aui-form-item>
      <label auiFormItemLabel>{{ 'domain_address' | translate }}</label>
      <input auiFormItemControl formControlName="domainAddress" aui-input />
    </aui-form-item>
    <aui-form-item>
      <label auiFormItemLabel>{{ 'admin_default_password' | translate }}</label>
      <input
        auiFormItemControl
        formControlName="adminPassword"
        aui-input
        [pattern]="pwdPattern"
        [placeholder]="'ti_console_pwd_rule' | translate"
      />
      <alu-error-mapper
        auiFormItemError
        [errors]="formGroup.get('adminPassword').errors"
        [errorsMapper]="{
          pattern: 'ti_console_pwd_rule' | translate
        }"
      ></alu-error-mapper>
    </aui-form-item>
    <aui-form-item>
      <label auiFormItemLabel>{{ 'user_default_password' | translate }}</label>
      <input
        auiFormItemControl
        formControlName="userPassword"
        aui-input
        [pattern]="pwdPattern"
        [placeholder]="'ti_console_pwd_rule' | translate"
      />
      <alu-error-mapper
        auiFormItemError
        [errors]="formGroup.get('userPassword').errors"
        [errorsMapper]="{
          pattern: 'ti_console_pwd_rule' | translate
        }"
      ></alu-error-mapper>
    </aui-form-item>
  </div>
  <div class="form-section">
    <div class="form-section__header">
      {{ 'label' | translate }}
    </div>
    <aui-form-item>
      <label auiFormItemLabel>{{ 'File Server' | translate }}</label>
      <aui-select auiFormItemControl formControlName="fileServer">
        <aui-option *ngFor="let node of nodes" [value]="node.hostname">
          {{ node.hostname }}
        </aui-option>
      </aui-select>
    </aui-form-item>
    <aui-form-item>
      <label auiFormItemLabel>{{ 'gpu_node' | translate }}</label>
      <aui-multi-select auiFormItemControl formControlName="gpuNodes" required>
        <aui-option
          *ngFor="let node of nodes"
          [value]="node"
          [label]="node.hostname"
        >
          {{ node.hostname }}
        </aui-option>
      </aui-multi-select>
      <alu-error-mapper
        auiFormItemError
        [errors]="formGroup.get('gpuNodes').errors"
        [errorsMapper]="{
          required:
            'field_is_required' | translate: { field: 'gpu_node' | translate }
        }"
      ></alu-error-mapper>
    </aui-form-item>
    <aui-form-item>
      <label auiFormItemLabel>{{ 'SIP Server' }}</label>
      <aui-select auiFormItemControl formControlName="sipServer">
        <aui-option *ngFor="let node of nodes" [value]="node.internalip">
          {{ node.internalip }}
        </aui-option>
      </aui-select>
    </aui-form-item>
    <aui-form-item>
      <label auiFormItemLabel>{{ 'SIP Streaming' }}</label>
      <aui-select auiFormItemControl formControlName="sipStreaming">
        <aui-option *ngFor="let node of nodes" [value]="node.internalip">
          {{ node.internalip }}
        </aui-option>
      </aui-select>
    </aui-form-item>
  </div>
</form>
