<ng-container *aluPageHeaderContent>
  <aui-breadcrumb>
    <aui-breadcrumb-item>
      <span>{{ 'notification' | translate }}</span>
    </aui-breadcrumb-item>
    <aui-breadcrumb-item>
      <a routerLink="/maintenance-center/notification">
        {{ 'notification' | translate }}
      </a>
    </aui-breadcrumb-item>
    <aui-breadcrumb-item>
      <span>
        {{ (update ? 'update' : 'create') | translate }}
      </span>
    </aui-breadcrumb-item>
  </aui-breadcrumb>
</ng-container>
<aui-card class="resource-form">
  <div auiCardHeader>{{ 'basic_info' | translate }}</div>
  <form
    auiForm
    auiFormLabelWidth="114px"
    #ngForm="ngForm"
    auiFormLabelPosition="right"
    [formGroup]="form"
  >
    <ng-container formGroupName="metadata">
      <aui-form-item>
        <label auiFormItemLabel>{{ 'name' | translate }}</label>
        <ng-container required auiFormItemControl>
          <input
            [hidden]="update"
            aui-input
            formControlName="name"
            maxlength="63"
            [placeholder]="K8S_RESOURCE_NAME_BASE.tip | translate"
          />
          <span [hidden]="!update">{{ form.get('metadata.name').value }}</span>
        </ng-container>
        <alu-error-mapper
          auiFormItemError
          [errors]="form.get('metadata.name').errors"
          [errorsMapper]="{
            required:
              'field_is_required' | translate: { field: 'name' | translate },
            pattern: K8S_RESOURCE_NAME_BASE.tip | translate
          }"
        ></alu-error-mapper>
      </aui-form-item>
      <ng-container formGroupName="annotations">
        <aui-form-item>
          <label auiFormItemLabel>{{ 'display_name' | translate }}</label>
          <ng-container required auiFormItemControl>
            <input
              auiFormItemControl
              aui-input
              [formControlName]="displayName"
              maxlength="63"
              [placeholder]="'input_display_name' | translate"
            />
          </ng-container>
          <alu-error-mapper
            *ngIf="displayName"
            auiFormItemError
            [errors]="form.get(['metadata', 'annotations', displayName]).errors"
            [errorsMapper]="{
              required:
                'field_is_required'
                | translate: { field: 'display_name' | translate }
            }"
          ></alu-error-mapper>
        </aui-form-item>
        <aui-form-item>
          <label auiFormItemLabel>{{ 'description' | translate }}</label>
          <textarea
            auiFormItemControl
            aui-input
            [formControlName]="description"
            [autosize]="{ minRows: 1 }"
            [placeholder]="'input_description' | translate"
          ></textarea>
        </aui-form-item>
      </ng-container>
    </ng-container>
    <aui-form-item formGroupName="spec">
      <label auiFormItemLabel>{{ 'notification_method' | translate }}</label>
      <ng-container required auiFormItemControl>
        <alu-notification-method
          formControlName="subscriptions"
          style="width: 100%;"
        ></alu-notification-method>
      </ng-container>
      <alu-error-mapper
        auiFormItemError
        [errors]="form.get('spec').errors"
        [errorsMapper]="{
          required:
            'field_is_required'
            | translate: { field: 'notification_method' | translate }
        }"
      ></alu-error-mapper>
    </aui-form-item>
  </form>
</aui-card>

<div class="form__footer">
  <div style="flex: 1;"></div>
  <button
    aui-button="primary"
    [loading]="submitting"
    [disabled]="submitting"
    (click)="confirm(ngForm)"
  >
    <span *ngIf="update">{{ 'update' | translate }}</span>
    <span *ngIf="!update">{{ 'create' | translate }}</span>
  </button>
  <button type="button" aui-button [disabled]="submitting" (click)="cancel()">
    {{ 'cancel' | translate }}
  </button>
</div>
