@import 'var';
@import '../../common.scss';

.host-item {
  display: flex;
  margin-bottom: 8px;
  &__fields {
    flex: 1;
  }
  &__delete {
    background-color: #fff;
    margin-left: 4px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    aui-icon {
      color: #999;
    }
    &:hover {
      aui-icon {
        color: $color-primary;
      }
    }
  }
}

.host-add {
  &__wrap {
    padding: 8px;
    background-color: #fafafa;
  }

  border: 1px dashed $color-primary;
  width: 100%;
}
