<form auiForm *ngIf="form" auiFormLabelWidth="84px">
  <div
    class="host-item field-panel__wrap"
    *ngFor="let group of form.controls; let i = index"
  >
    <div class="host-item__fields field-panel__body" [formGroup]="group">
      <aui-form-item>
        <label auiFormItemLabel>{{ 'IP' }}</label>
        <ng-container required auiFormItemControl>
          <aui-select
            auiFormItemControl
            formControlName="ip"
            [allowCreate]="true"
          >
            <aui-option
              *ngFor="let option of options"
              [value]="option.internalip"
            >
              {{ option.internalip }}
            </aui-option>
          </aui-select>
        </ng-container>
        <alu-error-mapper
          auiFormItemError
          [errors]="group.get('ip').errors"
          [errorsMapper]="{
            required: 'field_is_required' | translate: { field: 'IP' },
            pattern: ipPattern.tip | translate
          }"
        ></alu-error-mapper>
      </aui-form-item>
      <aui-form-item>
        <label auiFormItemLabel>{{ 'ssh_config' | translate }}</label>
        <aui-radio-group
          auiFormItemControl
          formControlName="sshConfig"
          [size]="'small'"
          (valueChange)="hostConfigModeChange(i, $event)"
        >
          <aui-radio-button value="default">
            {{ 'ti_default' | translate }}
          </aui-radio-button>
          <aui-radio-button value="custom" [disabled]="true">
            {{ 'custom' | translate }}
          </aui-radio-button>
        </aui-radio-group>
      </aui-form-item>
      <ng-container
        *ngIf="group.get('sshConfig').value === 'custom' as isCustom"
      >
        <aui-form-item>
          <label auiFormItemLabel>{{ 'username' | translate }}</label>
          <ng-container required auiFormItemControl>
            <input formControlName="username" aui-input />
          </ng-container>
          <alu-error-mapper
            auiFormItemError
            [errors]="group.get('username').errors"
            [errorsMapper]="{
              required:
                'field_is_required'
                | translate: { field: 'username' | translate }
            }"
          ></alu-error-mapper>
        </aui-form-item>
        <aui-form-item>
          <label auiFormItemLabel>{{ 'password' | translate }}</label>
          <ng-container required auiFormItemControl>
            <input formControlName="password" aui-input type="password" />
          </ng-container>
          <alu-error-mapper
            auiFormItemError
            [errors]="group.get('password').errors"
            [errorsMapper]="{
              required:
                'field_is_required'
                | translate: { field: 'password' | translate }
            }"
          ></alu-error-mapper>
        </aui-form-item>
        <aui-form-item>
          <label auiFormItemLabel>{{ 'port' | translate }}</label>
          <ng-container required auiFormItemControl>
            <input formControlName="port" aui-input />
          </ng-container>

          <alu-error-mapper
            auiFormItemError
            [errors]="group.get('port').errors"
            [errorsMapper]="{
              required:
                'field_is_required' | translate: { field: 'port' | translate },
              pattern: portPattern.tip | translate
            }"
          ></alu-error-mapper>
        </aui-form-item>
      </ng-container>
    </div>
    <div class="host-item__delete" (click)="remove(i)">
      <aui-icon icon="basic:trash"></aui-icon>
    </div>
  </div>
  <div class="host-add__wrap">
    <button
      aui-button="primary"
      [plain]="true"
      class="host-add"
      (click)="add(form.length)"
      [size]="'mini'"
      type="button"
    >
      <aui-icon icon="basic:add_circle"></aui-icon>
      {{ 'add_host' | translate }}
    </button>
  </div>
</form>
