@import 'var';

.button-wrap {
  margin-top: 12px;
  text-align: right;
}

.config-item {
  &__label {
    &:after {
      content: ':';
      margin-right: 4px;
    }
  }
}

.no-host {
  text-align: center;
  color: #999;
  padding: 12px 0;
  border-bottom: 1px solid #ededed;
}

.host-option {
  display: inline-flex;
  align-items: center;
  aui-checkbox {
    margin-right: 8px;
    display: inline-flex;
    ::ng-deep {
      .aui-checkbox {
        margin-right: 0;
      }
    }
    + aui-icon {
      color: $color-error;
    }
  }
}
