<form auiForm [formGroup]="form" *ngIf="form">
  <aui-table [dataSource]="form.controls">
    <aui-table-header-row
      *auiTableHeaderRowDef="columns"
    ></aui-table-header-row>
    <aui-table-row *auiTableRowDef="let row; columns: columns"></aui-table-row>
    <ng-container auiTableColumnDef="name">
      <aui-table-header-cell *auiTableHeaderCellDef>
        {{ 'name' | translate }}
      </aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let item">
        <div>{{ item.get('name').value }}</div>
        <div>{{ item.get('displayName').value }}</div>
      </aui-table-cell>
    </ng-container>
    <ng-container auiTableColumnDef="hostIp">
      <aui-table-header-cell *auiTableHeaderCellDef>
        {{ 'host_ip' | translate }}
      </aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let item">
        {{ item.get('ip').value }}
      </aui-table-cell>
    </ng-container>
    <ng-container auiTableColumnDef="machineConfig">
      <aui-table-header-cell *auiTableHeaderCellDef>
        {{ 'machine_config' | translate }}
      </aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let item">
        <ng-container *ngIf="item.get('config').value as config">
          <div class="config-item">
            <span class="config-item__label">{{ 'cpu' | translate }}</span>
            {{ config.cpu }}{{ 'unit_core' | translate }}
          </div>
          <div class="config-item">
            <span class="config-item__label">{{ 'memory' | translate }}</span>
            {{ config.memory / 1000 / 1000 | pure: toFix:2
            }}{{ 'unit_gb' | translate }}
          </div>
          <div class="config-item">
            <span class="config-item__label">{{ 'storage' | translate }}</span>
            {{ config.disk }}{{ 'unit_gb' | translate }}
          </div>
        </ng-container>
      </aui-table-cell>
    </ng-container>
    <ng-container auiTableColumnDef="proxyCache">
      <aui-table-header-cell *auiTableHeaderCellDef>
        {{ 'proxy_or_cache' | translate }}
      </aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let item">
        <div class="host-option">
          <aui-checkbox
            auiFormItemControl
            [formControl]="item.get('proxyCache')"
            (valueChange)="checkStateChange($event, 'proxyCache', item)"
          ></aui-checkbox>
          <aui-icon
            *ngIf="item.errors?.proxyCache"
            icon="exclamation_triangle_s"
            [auiTooltip]="'proxyCache' | pure: getInvalidTip"
            [auiTooltipPosition]="'end'"
          ></aui-icon>
        </div>
      </aui-table-cell>
    </ng-container>
    <ng-container auiTableColumnDef="controlEquip">
      <aui-table-header-cell *auiTableHeaderCellDef>
        {{ 'control_equipment' | translate }}
      </aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let item">
        <div class="host-option">
          <aui-checkbox
            auiFormItemControl
            [formControl]="item.get('controlEquip')"
            (valueChange)="checkStateChange($event, 'controlEquip', item)"
          ></aui-checkbox>
          <aui-icon
            *ngIf="item.errors?.controlEquip"
            icon="exclamation_triangle_s"
            [auiTooltip]="'controlEquip' | pure: getInvalidTip"
            [auiTooltipPosition]="'end'"
          ></aui-icon>
        </div>
      </aui-table-cell>
    </ng-container>
    <ng-container auiTableColumnDef="lvs">
      <aui-table-header-cell *auiTableHeaderCellDef>
        {{ 'lvs' | translate }}
      </aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let item">
        <div class="host-option">
          <aui-checkbox
            auiFormItemControl
            [formControl]="item.get('lvs')"
            (valueChange)="checkStateChange($event, 'lvs', item)"
          ></aui-checkbox>
          <aui-icon
            *ngIf="item.errors?.lvs"
            icon="exclamation_triangle_s"
            [auiTooltip]="'lvs' | pure: getInvalidTip"
            [auiTooltipPosition]="'end'"
          ></aui-icon>
        </div>
      </aui-table-cell>
    </ng-container>
    <ng-container auiTableColumnDef="influxdb">
      <aui-table-header-cell *auiTableHeaderCellDef>
        {{ 'influxdb' | translate }}
      </aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let item">
        <div class="host-option">
          <aui-checkbox
            auiFormItemControl
            [formControl]="item.get('influxdb')"
            (valueChange)="checkStateChange($event, 'influxdb', item)"
          ></aui-checkbox>
          <aui-icon
            *ngIf="item.errors?.influxdb"
            icon="exclamation_triangle_s"
            [auiTooltip]="'influxdb' | pure: getInvalidTip"
            [auiTooltipPosition]="'end'"
          ></aui-icon>
        </div>
      </aui-table-cell>
    </ng-container>
    <ng-container auiTableColumnDef="action">
      <aui-table-header-cell *auiTableHeaderCellDef></aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let item; let index = index">
        <button
          aui-button="text"
          [plain]="true"
          [square]="true"
          [disabled]="isDisabled"
          (click)="removeHost(index)"
        >
          <aui-icon icon="basic:trash"></aui-icon>
        </button>
      </aui-table-cell>
    </ng-container>
  </aui-table>
  <div class="no-host" *ngIf="!form.controls.length">
    {{ 'no_host' | translate }}
  </div>
  <div class="button-wrap">
    <button
      aui-button="primary"
      [plain]="true"
      type="button"
      [disabled]="isDisabled"
      (click)="addHost()"
    >
      {{ 'add_host' | translate }}
    </button>
  </div>
</form>
