<form
  *ngIf="formGroup"
  #ngForm="ngForm"
  auiForm
  [formGroup]="formGroup"
  auiFormLabelWidth="128px"
  [auiFormEmptyAddon]="true"
  novalidate
>
  <aui-tab-group [type]="'card'">
    <aui-tab>
      <span *auiTabLabel>
        {{ 'preinstallation_service_config' | translate }}
      </span>
      <div *auiTabContent>
        <aui-form-item>
          <label auiFormItemLabel>{{ 'storage_mode' | translate }}</label>
          <aui-radio-group formControlName="storageMode" [size]="'small'">
            <aui-radio-button
              *ngFor="
                let option of [
                  { label: 'locale_storage', value: 0 },
                  { label: 'cos_storage', value: 1 }
                ]
              "
              [value]="option.value"
              [disabled]="isUpdate"
            >
              {{ option.label | translate }}
            </aui-radio-button>
          </aui-radio-group>
        </aui-form-item>
        <!-- cos -->
        <div
          class="field-group"
          *ngIf="formGroup.get('storageMode').value === 1"
        >
          <label class="field-group__label">{{ 'Cos' }}</label>
          <div class="field-group__items">
            <div class="field-panel__wrap">
              <div class="field-panel__body">
                <aui-form-item [emptyAddon]="false" labelWidth="96px">
                  <label auiFormItemLabel>{{ 'Cos Region' }}</label>
                  <input
                    auiFormItemControl
                    formControlName="cosRegion"
                    aui-input
                    [required]="formGroup.get('storageMode').value === 1"
                  />
                  <alu-error-mapper
                    auiFormItemError
                    [errors]="formGroup.get('cosRegion').errors"
                    [errorsMapper]="{
                      required:
                        'field_is_required' | translate: { field: 'Cos Region' }
                    }"
                  ></alu-error-mapper>
                </aui-form-item>
                <aui-form-item [emptyAddon]="false" labelWidth="96px">
                  <label auiFormItemLabel>{{ 'Bucket' }}</label>
                  <input
                    auiFormItemControl
                    formControlName="cosBucket"
                    aui-input
                    [required]="formGroup.get('storageMode').value === 1"
                  />
                  <alu-error-mapper
                    auiFormItemError
                    [errors]="formGroup.get('cosBucket').errors"
                    [errorsMapper]="{
                      required:
                        'field_is_required' | translate: { field: 'Bucket' }
                    }"
                  ></alu-error-mapper>
                </aui-form-item>
                <aui-form-item [emptyAddon]="false" labelWidth="96px">
                  <label auiFormItemLabel>{{ 'Secret ID' }}</label>
                  <input
                    auiFormItemControl
                    formControlName="cosSecretId"
                    aui-input
                    [required]="formGroup.get('storageMode').value === 1"
                  />
                  <alu-error-mapper
                    auiFormItemError
                    [errors]="formGroup.get('cosSecretId').errors"
                    [errorsMapper]="{
                      required:
                        'field_is_required' | translate: { field: 'Secret ID' }
                    }"
                  ></alu-error-mapper>
                </aui-form-item>
                <aui-form-item [emptyAddon]="false" labelWidth="96px">
                  <label auiFormItemLabel>{{ 'Secret Key' }}</label>
                  <input
                    auiFormItemControl
                    formControlName="cosSecretKey"
                    aui-input
                    [required]="formGroup.get('storageMode').value === 1"
                  />
                  <alu-error-mapper
                    auiFormItemError
                    [errors]="formGroup.get('cosSecretKey').errors"
                    [errorsMapper]="{
                      required:
                        'field_is_required' | translate: { field: 'Secret Key' }
                    }"
                  ></alu-error-mapper>
                </aui-form-item>
                <aui-form-item [emptyAddon]="false" labelWidth="96px">
                  <label auiFormItemLabel>{{ 'App ID' }}</label>
                  <input
                    auiFormItemControl
                    formControlName="cosAppId"
                    aui-input
                    [required]="formGroup.get('storageMode').value === 1"
                  />
                  <alu-error-mapper
                    auiFormItemError
                    [errors]="formGroup.get('cosAppId').errors"
                    [errorsMapper]="{
                      required:
                        'field_is_required' | translate: { field: 'App ID' }
                    }"
                  ></alu-error-mapper>
                </aui-form-item>
              </div>
            </div>
          </div>
        </div>
      </div>
    </aui-tab>
    <aui-tab>
      <span *auiTabLabel>{{ 'platform_args_config' | translate }}</span>
      <div *auiTabContent>
        <div class="form-section">
          <aui-form-item>
            <label auiFormItemLabel>
              {{ 'external_service_address' | translate }}
            </label>
            <input
              auiFormItemControl
              formControlName="clusterExternalAddress"
              aui-input
              required
            />
            <alu-error-mapper
              auiFormItemError
              [errors]="formGroup.get('clusterExternalAddress').errors"
              [errorsMapper]="{
                required:
                  'field_is_required'
                  | translate
                    : {
                        field: 'external_service_address' | translate
                      }
              }"
            ></alu-error-mapper>
          </aui-form-item>
          <aui-form-item>
            <label auiFormItemLabel>{{ 'domain_address' | translate }}</label>
            <input
              auiFormItemControl
              formControlName="domainAddress"
              aui-input
            />
          </aui-form-item>
          <aui-form-item>
            <label auiFormItemLabel>{{ 'gpu_node' | translate }}</label>
            <aui-multi-select
              auiFormItemControl
              formControlName="gpuNodes"
              [trackFn]="nodeTrackFn"
              required
            >
              <aui-option
                *ngFor="let node of nodes$ | async"
                [value]="node"
                [label]="node.hostname"
              >
                {{ node.hostname }}
              </aui-option>
            </aui-multi-select>
            <alu-error-mapper
              auiFormItemError
              [errors]="formGroup.get('gpuNodes').errors"
              [errorsMapper]="{
                required:
                  'field_is_required'
                  | translate: { field: 'gpu_node' | translate }
              }"
            ></alu-error-mapper>
          </aui-form-item>
          <aui-form-item>
            <label auiFormItemLabel>{{ 'File Server' }}</label>
            <aui-select auiFormItemControl formControlName="fileServer">
              <aui-option
                *ngFor="let node of nodes$ | async"
                [value]="node.hostname"
              >
                {{ node.hostname }}
              </aui-option>
            </aui-select>
          </aui-form-item>
          <aui-form-item>
            <label auiFormItemLabel>{{ 'SIP Server' }}</label>
            <aui-select auiFormItemControl formControlName="sipServer">
              <aui-option
                *ngFor="let node of nodes$ | async"
                [value]="node.hostname"
              >
                {{ node.hostname }}
              </aui-option>
            </aui-select>
          </aui-form-item>
          <aui-form-item>
            <label auiFormItemLabel>{{ 'SIP Streaming' }}</label>
            <aui-select auiFormItemControl formControlName="sipStreaming">
              <aui-option
                *ngFor="let node of nodes$ | async"
                [value]="node.hostname"
              >
                {{ node.hostname }}
              </aui-option>
            </aui-select>
          </aui-form-item>
        </div>
      </div>
    </aui-tab>
  </aui-tab-group>
</form>
