@import 'var';

.node-select {
  width: 100%;
}

.node-select-option {
  ::ng-deep .aui-option {
    height: auto;
    line-height: 28px;
  }
  .node-select-content {
    display: inline-block;
    align-items: center;
    vertical-align: top;
    line-height: 20px;
    padding: 4px 0;
    .title {
      color: #333;
      font-size: 14px;
      padding: 4px 0;
    }
    .desc {
      color: #999;
      line-height: 16px;
      font-size: 12px;
    }
  }
  &:hover .node-select-content .title {
    color: #006eff;
  }
}
