<ng-container [formGroup]="form">
  <aui-form-item *ngFor="let i of nodeNum">
    <label auiFormItemLabel>
      {{ ('nodes' | translate) + (i + 1) }}
    </label>
    <ng-container auiFormItemControl required>
      <aui-select
        [formControlName]="i"
        class="node-select"
        [disabled]="disabled"
      >
        <aui-option
          class="node-select-option"
          *ngFor="let node of nodes"
          [value]="node.metadata.name"
          [label]="node | pure: getLabel"
        >
          <div class="node-select-content">
            <div class="title">
              {{ node.metadata.name }}
            </div>
            <div class="desc">
              {{
                'coding_node_select_options'
                  | translate
                    : {
                        type: getNodeType(node),
                        nodeIP: getNodeIP(node),
                        nodeCPU: node.status.capacity.cpu,
                        nodeMemory: getMemoryNum(node.status.capacity.memory)
                      }
              }}
            </div>
          </div>
        </aui-option>
      </aui-select>
    </ng-container>
    <alu-error-mapper
      auiFormItemError
      [errors]="form.get(i + '').errors"
      [errorsMapper]="{
        nodeRepeat: 'node_selected_repeat_error' | translate,
        required: 'required' | translate,
        nodeResources: 'node_selected_resources_error' | translate
      }"
    ></alu-error-mapper>
    <ng-container auiFormItemHint>
      {{ 'coding_node_hint' | translate }}
    </ng-container>
  </aui-form-item>
</ng-container>
