:host {
  ::ng-deep {
    .aui-search__input {
      margin-left: -1px;
      position: relative;
    }
    .aui-select__input {
      position: relative;
      &:hover,
      &:focus {
        z-index: 1;
      }
    }
    .aui-select__label-container,
    .aui-input-group__suffix {
      z-index: 1;
    }
  }
}
