.alu-logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;

  &__img {
    height: 32px;
    margin-right: 16px;
  }

  > em {
    width: 0;
    height: 32px;
    border-left: solid 1px #000;
    margin-right: 16px;
  }

  > span {
    font-size: 18px;
    white-space: nowrap;
  }
}
