<div class="alu-logo">
  <ng-container *ngIf="env?.LOGO_URL as logoUrl; else img">
    <a [href]="logoUrl">
      <img class="alu-logo__img" alt="platform" src="logos/logo.svg" />
    </a>
  </ng-container>
  <em></em>
  <span>{{ title }}</span>
</div>
<ng-template #img>
  <img class="alu-logo__img" alt="platform" src="logos/logo.svg" />
</ng-template>
