:host {
  display: flex;
  flex-wrap: wrap;

  ::ng-deep {
    alu-field-set-item {
      margin-bottom: 12px;
      &:nth-child(odd) {
        margin-right: 20px;
      }
    }
  }

  &:last-child {
    margin-bottom: -12px;
  }
}
