<div class="field-set-item__label">
  <ng-content select="label"></ng-content>
</div>
<div
  class="field-set-item__value"
  [ngClass]="{
    'field-set-item__value__overflow': allowOverflow,
    'field-set-item__value__wrap': allowWrap,
    'field-set-item__value__flex': allowFlex
  }"
>
  <ng-content></ng-content>
</div>
<div class="field-set-item__action">
  <ng-content select="[aluFieldSetItemAction]"></ng-content>
</div>
