@import 'var';

:host {
  display: flex;
  min-height: 20px;
  line-height: 20px;
  align-items: center;
  overflow: hidden;
  color: $color-text-main;
  //wrap when 2nth items
  min-width: 40%;
  width: 50%;
  flex: 1;

  ::ng-deep {
    .edit-icon {
      margin-left: 9px;
      cursor: pointer;
    }
  }
}

.field-set-item {
  &__label {
    white-space: nowrap;
    margin-right: 8px;
    &:not(:empty):after {
      content: ':';
      margin-left: 2px;
    }
  }

  &__value {
    min-width: 0;
    white-space: nowrap;
    display: flex;
    ::ng-deep {
      alu-status-icon {
        margin-right: 4px;
      }
    }
    &__flex {
      flex: 1;
    }
    &__overflow {
      display: block;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    &__wrap {
      white-space: pre-wrap;
      flex-wrap: wrap;
    }
  }

  &__label,
  &__value {
    height: 100%;
    align-items: flex-start;
  }
}
