<aui-dialog-header>
  {{
    (update ? 'update_notification_sender' : 'add_notification_sender')
      | translate
  }}
</aui-dialog-header>
<aui-dialog-content>
  <form auiForm auiFormLabelWidth="114px" #formRef="ngForm">
    <aui-form-item>
      <label auiFormItemLabel>{{ 'email_server' | translate }}</label>
      <aui-select
        #serverName="ngModel"
        name="server"
        required
        auiFormItemControl
        [(ngModel)]="emailSender.metadata.labels[notificationServer]"
        [placeholder]="'select_email_server' | translate"
      >
        <aui-option
          *ngFor="let server of (emailServers$ | async)?.items"
          [value]="server | aclName"
          [label]="server | pure: getServerLabel"
        >
          {{ server | pure: getServerLabel }}
        </aui-option>
        <aui-option-placeholder>
          {{ 'no_data' | translate }}
        </aui-option-placeholder>
      </aui-select>
      <alu-error-mapper
        auiFormItemError
        [errors]="serverName.errors"
        [errorsMapper]="{
          required:
            'field_is_required'
            | translate: { field: 'email_server' | translate }
        }"
      ></alu-error-mapper>
    </aui-form-item>
    <aui-form-item>
      <label auiFormItemLabel>{{ 'email' | translate }}</label>
      <input
        #usernameName="ngModel"
        aui-input
        required
        auiFormItemControl
        name="username"
        [(ngModel)]="emailSender.data.username"
        [placeholder]="'input_email_address' | translate"
      />
      <alu-error-mapper
        auiFormItemError
        [errors]="usernameName.errors"
        [errorsMapper]="{
          required:
            'field_is_required' | translate: { field: 'email' | translate }
        }"
      ></alu-error-mapper>
    </aui-form-item>
    <aui-form-item class="alu-password-input">
      <label auiFormItemLabel>{{ 'authorization_code' | translate }}</label>
      <aui-input-group style="flex: 1;">
        <input
          #passwordName="ngModel"
          aui-input
          required
          auiFormItemControl
          [type]="showPassword ? 'text' : 'password'"
          name="password"
          [(ngModel)]="emailSender.data.password"
          [placeholder]="'input_email_authorization_code' | translate"
        />
        <aui-icon
          auiInputSuffix
          class="eye-icon"
          [icon]="showPassword ? 'basic:eye_s' : 'basic:eye_slash_s'"
          (click)="showPassword = !showPassword"
        ></aui-icon>
      </aui-input-group>
      <alu-error-mapper
        auiFormItemError
        [errors]="passwordName.errors"
        [errorsMapper]="{
          required:
            'field_is_required' | translate: { field: 'password' | translate }
        }"
      ></alu-error-mapper>
      <div auiFormItemHint>
        {{ 'email_authorization_code_tip' | translate }}
      </div>
    </aui-form-item>
  </form>
</aui-dialog-content>
<aui-dialog-footer>
  <button
    aui-button="primary"
    [loading]="submitting"
    [disabled]="submitting"
    (click)="submit(formRef)"
  >
    <ng-container *ngIf="update">{{ 'update' | translate }}</ng-container>
    <ng-container *ngIf="!update">{{ 'add' | translate }}</ng-container>
  </button>
  <button aui-button (click)="cancel()">
    {{ 'cancel' | translate }}
  </button>
</aui-dialog-footer>
