@import 'var';

.cluster-select {
  ::ng-deep .aui-option {
    height: auto;
    line-height: 28px;
  }
  .cluster-select-option {
    display: inline-block;
    align-items: center;
    vertical-align: top;
    line-height: 20px;
    padding: 4px 0;
    .title {
      color: #333;
      font-size: 14px;
      padding: 4px 0;
    }
    .desc {
      color: $color-text-help;
      line-height: 16px;
      font-size: 12px;
    }
    .title-disabled {
      font-size: 14px;
      padding: 4px 0;
      color: #ccc;
    }
    .desc—disabled {
      line-height: 16px;
      font-size: 12px;
      color: #ccc;
    }
  }
  &:hover .cluster-select-option .title {
    font-size: 14px;
    padding: 4px 0;
    color: #006eff;
  }
}

.domain {
  display: flex;
  width: 100%;
  align-items: flex-end;
  input:first-child {
    width: 30%;
  }
}
