<ng-container *aluPageHeaderContent>
  <aui-breadcrumb>
    <aui-breadcrumb-item>
      <a routerLink="/manage-platform/product">
        {{ 'product_center' | translate }}
      </a>
    </aui-breadcrumb-item>
    <aui-breadcrumb-item>
      <span>{{ 'deploy_coding' | translate }}</span>
    </aui-breadcrumb-item>
  </aui-breadcrumb>
</ng-container>
<aui-card>
  <div auiCardHeader>
    {{ 'deploy_coding' | translate }}
  </div>
  <form
    #clusterForm="ngForm"
    auiForm
    [auiFormEmptyAddon]="true"
    auiFormLabelWidth="140px"
    (ngSubmit)="(clusterForm.valid)"
  >
    <aui-form-item>
      <label auiFormItemLabel>{{ 'cluster' | translate }}</label>
      <aui-select
        name="selectedCluster"
        auiFormItemControl
        required
        [(ngModel)]="selectedCluster"
        [disabled]="deployLoading"
      >
        <aui-option
          class="cluster-select"
          *ngFor="let cluster of clusters$ | async"
          [value]="cluster"
          [label]="cluster.label"
          [disabled]="cluster.disableTip"
        >
          <div
            class="cluster-select-option"
            *ngIf="!cluster.disableTip; else disabled"
          >
            <div class="title">
              {{ cluster.metadata.name }}
              ({{ cluster | aclDisplayName }})
            </div>
            <div class="desc">
              {{
                'coding_cluster_select_options'
                  | translate
                    : {
                        controlNode: cluster.controlNode,
                        computingNode: cluster.computingNode,
                        version: cluster?.status?.version
                      }
              }}
            </div>
          </div>
          <ng-template #disabled>
            <div
              class="cluster-select-option"
              [auiTooltip]="cluster.disableTip | translate"
              [auiTooltipPosition]="'top start'"
            >
              <div class="title-disabled">
                {{ cluster.metadata.name }}
                ({{ cluster | aclDisplayName }})
              </div>
              <div class="desc—disabled">
                {{
                  'coding_cluster_select_options'
                    | translate
                      : {
                          controlNode: cluster.controlNode,
                          computingNode: cluster.computingNode,
                          version: cluster?.status?.version
                        }
                }}
              </div>
            </div>
          </ng-template>
        </aui-option>
      </aui-select>
      <alu-error-mapper
        auiFormItemError
        [errors]="clusterForm.controls.selectedCluster?.errors"
        [errorsMapper]="{
          nodeNumber: 'coding_cluster_node_error' | translate,
          version: 'coding_cluster_version_error' | translate
        }"
      ></alu-error-mapper>
    </aui-form-item>
    <alu-node-info
      name="nodes"
      [nodes]="getNodes()"
      [(ngModel)]="nodes"
      [disabled]="deployLoading"
    ></alu-node-info>
    <aui-form-item>
      <label auiFormItemLabel>{{ 'domain' | translate }}</label>
      <div class="domain">
        <input
          name="secondLevelDomain"
          required
          aui-input
          auiFormItemControl
          [disabled]="deployLoading"
          [placeholder]="'sub_domain_placeholder' | translate"
          [(ngModel)]="secondLevelDomain"
        />
        &nbsp;&nbsp;.&nbsp;&nbsp;
        <input
          name="rootDomain"
          required
          aui-input
          auiFormItemControl
          [disabled]="deployLoading"
          [placeholder]="'root_domain_placeholder' | translate"
          [(ngModel)]="rootDomain"
        />
      </div>
      <div auiFormItemAddon>
        <aui-icon
          icon="basic:question"
          [auiTooltip]="'coding_domain_tip' | translate"
        ></aui-icon>
      </div>
    </aui-form-item>
  </form>
</aui-card>

<footer class="form__footer">
  <button
    aui-button="primary"
    type="button"
    [disabled]="deployLoading"
    (click)="deploy()"
  >
    {{ (deployLoading ? 'in_deployment' : 'deployments') | translate }}
  </button>
  <button
    aui-button
    type="button"
    (click)="cancel()"
    [disabled]="deployLoading"
  >
    {{ 'cancel' | translate }}
  </button>
</footer>
