@import 'var';

:host {
  .status-select {
    display: flex;
    margin-right: 8px;
    border: 1px solid #ccc;
    &__prefix {
      font-size: 14px;
      display: flex;
      justify-content: center;
      align-items: center;
      padding-left: 8px;
      color: #999;
    }
    &:hover {
      border-color: $color-primary;
    }
    ::ng-deep aui-select {
      .aui-input {
        border: none;
      }
    }
  }
  .aui-table {
    &__column-status {
      flex: 0 1 120px;
    }
    &__column-time {
      flex: 0 1 200px;
    }
    &__column-export {
      flex: 0 1 120px;
    }
  }
}
