<ng-container *aluPageHeaderContent>
  <aui-breadcrumb>
    <aui-breadcrumb-item>
      <span>{{ 'meter' | translate }}</span>
    </aui-breadcrumb-item>
    <aui-breadcrumb-item>
      <span>{{ 'meter_export' | translate }}</span>
    </aui-breadcrumb-item>
  </aui-breadcrumb>
</ng-container>

<acl-page-guard
  [allowed]="isDeployed$ | async"
  [reason]="reason.NotDeployed"
  [description]="'not_deployed_es' | translate"
>
  <ng-container *aclPageGuardContent>
    <aui-inline-alert>
      <div>{{ 'meter_export_tip' | translate }}</div>
    </aui-inline-alert>
    <aui-card [divider]="false">
      <div auiCardHeader>
        <div class="status-select">
          <div class="status-select__prefix">{{ 'status' | translate }}:</div>
          <aui-select
            [ngModel]="selectedStatus || ALL_STATUS_SYMBOL"
            [filterable]="true"
            (ngModelChange)="onStatusChange($event)"
          >
            <aui-option [value]="ALL_STATUS_SYMBOL" [label]="'all' | translate">
              {{ 'all' | translate }}
            </aui-option>
            <aui-option
              *ngFor="let i of statusOptions"
              [value]="i"
              [label]="'export_' + i | lowercase | translate"
            >
              {{ 'export_' + i | lowercase | translate }}
            </aui-option>
          </aui-select>
        </div>
        <button
          aui-button
          [square]="true"
          [loading]="loading"
          [disabled]="loading"
          (click)="list.reload()"
        >
          <aui-icon icon="basic:refresh"></aui-icon>
        </button>
      </div>
      <aui-table [dataSource]="list.items$ | async">
        <ng-container auiTableColumnDef="file_name">
          <aui-table-header-cell *auiTableHeaderCellDef>
            {{ 'file_name' | translate }}
          </aui-table-header-cell>
          <aui-table-cell *auiTableCellDef="let item">
            {{ item | aclName }}
          </aui-table-cell>
        </ng-container>
        <ng-container auiTableColumnDef="type">
          <aui-table-header-cell *auiTableHeaderCellDef>
            {{ 'file_type' | translate }}
          </aui-table-header-cell>
          <aui-table-cell *auiTableCellDef="let item">
            {{ 'meter_export_' + item.spec.kind | translate }}
          </aui-table-cell>
        </ng-container>
        <ng-container auiTableColumnDef="status">
          <aui-table-header-cell *auiTableHeaderCellDef>
            {{ 'status' | translate }}
          </aui-table-header-cell>
          <aui-table-cell *auiTableCellDef="let item">
            <alu-status-icon
              [status]="item | aluStatus: false:'status'"
            ></alu-status-icon>
            {{ 'export_' + item.status?.phase | lowercase | translate }}
          </aui-table-cell>
        </ng-container>
        <ng-container auiTableColumnDef="description">
          <aui-table-header-cell *auiTableHeaderCellDef>
            {{ 'description' | translate }}
          </aui-table-header-cell>
          <aui-table-cell *auiTableCellDef="let item">
            <ng-container *ngIf="item.spec.kind === 'summary'">
              {{ item.spec.startTime | pure: getYearMonth }}
              {{ 'to' | translate }}
              {{ item.spec.endTime | pure: getYearMonth }}
            </ng-container>
            <ng-container *ngIf="item.spec.kind === 'detail'">
              {{ item.spec.startTime | pure: getYearMonthDay }}
              {{ 'to' | translate }}
              {{ item.spec.endTime | pure: getYearMonthDay }}
            </ng-container>
            -{{ item.spec.type | pure: getMeterType | translate }}-{{
              'meter_by_' + item.spec.groupBy | translate
            }}
          </aui-table-cell>
        </ng-container>
        <ng-container auiTableColumnDef="time">
          <aui-table-header-cell *auiTableHeaderCellDef>
            {{ 'file_generation_time' | translate }}
          </aui-table-header-cell>
          <aui-table-cell *auiTableCellDef="let item">
            <ng-container
              *ngIf="item.status?.phase === 'Completed'; else noTime"
            >
              {{ item | pure: getTransitionTime | pure: getDate }}
            </ng-container>
          </aui-table-cell>
        </ng-container>
        <ng-container auiTableColumnDef="export">
          <aui-table-header-cell *auiTableHeaderCellDef></aui-table-header-cell>
          <aui-table-cell *auiTableCellDef="let item">
            <ng-container *ngIf="item.status?.phase as phase">
              <ng-container [ngSwitch]="true">
                <acl-disabled-container
                  *ngSwitchCase="phase === 'Completed'"
                  [isAllowed]="(permissions$ | async).create"
                >
                  <button
                    aui-button="text"
                    size="small"
                    (click)="download(item)"
                  >
                    {{ 'download' | translate }}
                  </button>
                </acl-disabled-container>
                <span
                  *ngSwitchCase="phase === 'Processing' || phase === 'Pending'"
                  style="padding: 4px 0;"
                  [auiTooltip]="'download_after_export' | translate"
                >
                  <button disabled aui-button="text" size="small">
                    {{ 'download' | translate }}
                  </button>
                </span>
                <acl-disabled-container
                  *ngSwitchCase="phase === 'Failed'"
                  [isAllowed]="(permissions$ | async).create"
                >
                  <button
                    aui-button="text"
                    size="small"
                    (click)="reExport(item)"
                  >
                    {{ 're_export' | translate }}
                  </button>
                </acl-disabled-container>
              </ng-container>
            </ng-container>
          </aui-table-cell>
        </ng-container>
        <aui-table-header-row
          *auiTableHeaderRowDef="columns"
        ></aui-table-header-row>
        <aui-table-row
          *auiTableRowDef="let row; columns: columns"
        ></aui-table-row>
      </aui-table>
      <acl-k8s-resource-list-footer
        [list]="list"
      ></acl-k8s-resource-list-footer>
    </aui-card>
  </ng-container>
</acl-page-guard>

<ng-template #noTime>-</ng-template>
