<div class="section">
  <div class="section-title">
    {{ 'tdsql_deploy_info' | translate }}
  </div>
  <alu-tdsql-deploy-reliability-form
    [model]="model"
    [isDisabled]="submitting || (startDisabled$ | async)"
    [componentsState]="componentsState$ | async"
    [chituHostIp]="chituHostIp"
  ></alu-tdsql-deploy-reliability-form>
</div>

<div class="deploy-bottom">
  <div
    class="form-submit"
    *ngIf="!tasks.length || !(hasActiveStep$ | async); else started"
  >
    <button
      aui-button="primary"
      type="submit"
      [disabled]="
        submitting || (startDisabled$ | async) || (completed$ | async)
      "
      (click)="startDeploy()"
    >
      {{ 'start_deploy' | translate }}
    </button>
  </div>
  <ng-template #started>
    <div class="section">
      <div class="section-title">{{ 'deploy_progress' | translate }}</div>
      <aui-inline-alert type="info">
        <span>{{ 'tdsql_after_reliability_deploy_hint1' | translate }}</span>
        <a
          *ngIf="cr | pure: getEntryPoint as chituLink"
          [href]="chituLink | pure: getChituLink"
          target="_blank"
        >
          {{ 'tdsql_chitu_operation_platform' | translate }}
          <aui-icon icon="basic:jump"></aui-icon>
        </a>
        <span>{{ 'tdsql_after_reliability_deploy_hint2' | translate }}</span>
        <span>{{ 'tdsql_after_reliability_deploy_hint3' | translate }}</span>
        <ng-container *ngFor="let name of docLinks">
          <a
            [href]="name | pure: getDocHref"
            target="_blank"
            class="component-link"
          >
            {{ name | pure: getComponentDocName | translate }}
            <aui-icon icon="basic:jump"></aui-icon>
          </a>
        </ng-container>
        <span>{{ 'tdsql_after_reliability_deploy_hint4' | translate }}</span>
      </aui-inline-alert>
      <alu-middleware-deploy-process
        [steps]="steps$ | async"
        [size]="'small'"
        [needTranslate]="true"
        [logLoader]="logLoader"
        [status]="installState.status"
        [sequential]="false"
        [errorHint]="'tdsql_deploy_failed_hint' | translate"
        (start)="startDeploy()"
        (stop)="stop.emit()"
      ></alu-middleware-deploy-process>
    </div>
  </ng-template>
</div>

<footer class="form__footer">
  <button
    aui-button="text"
    class="button-overview"
    (click)="openComponentsOverviewDialog()"
  >
    {{ 'tdsql_overview_components' | translate }}
  </button>
  <button aui-button type="button" (click)="complete.emit(action)">
    {{ 'finished' | translate }}
  </button>
</footer>
