@import 'var';

.search_setting-header {
  border-left: 4px solid $color-primary;
  font-size: 16px;
  font-weight: 500;
  display: flex;
  height: 22px;
  align-items: center;
  padding-left: 16px;
  margin-bottom: 16px;
}
