<form auiForm [formGroup]="form" auiFormLabelWidth="114px">
  <aui-card>
    <div auiCardHeader>{{ 'ldap_server_setting' | translate }}</div>
    <aui-form-item>
      <label auiFormItemLabel>{{ 'server_address' | translate }}</label>
      <ng-container required auiFormItemControl>
        <input
          aui-input
          [placeholder]="'ldap_server_address_placeholder' | translate"
          formControlName="host"
        />
      </ng-container>
      <alu-error-mapper
        auiFormItemError
        [errors]="form.controls['host'].errors"
        [errorsMapper]="{
          required:
            'field_is_required'
            | translate: { field: 'server_address' | translate }
        }"
      ></alu-error-mapper>
    </aui-form-item>
    <aui-form-item>
      <label auiFormItemLabel>{{ 'username' | translate }}</label>
      <ng-container required auiFormItemControl>
        <input
          aui-input
          [placeholder]="'ldap_server_username_placeholder' | translate"
          formControlName="bindDN"
        />
      </ng-container>
      <alu-error-mapper
        auiFormItemError
        [errors]="form.controls['bindDN'].errors"
        [errorsMapper]="{
          required:
            'field_is_required' | translate: { field: 'username' | translate }
        }"
      ></alu-error-mapper>
    </aui-form-item>
    <aui-form-item>
      <label auiFormItemLabel>{{ 'password' | translate }}</label>
      <ng-container required auiFormItemControl>
        <input
          aui-input
          [placeholder]="'ldap_server_password_placeholder' | translate"
          formControlName="bindPW"
        />
      </ng-container>
      <alu-error-mapper
        auiFormItemError
        [errors]="form.controls['bindPW'].errors"
        [errorsMapper]="{
          required:
            'field_is_required' | translate: { field: 'password' | translate }
        }"
      ></alu-error-mapper>
    </aui-form-item>
    <aui-form-item>
      <label auiFormItemLabel>
        {{ 'login_field_username_tip' | translate }}
      </label>
      <input
        aui-input
        [placeholder]="'ldap_server_username_field_placeholder' | translate"
        formControlName="usernamePrompt"
      />
      <alu-error-mapper
        auiFormItemError
        [errors]="form.controls['usernamePrompt'].errors"
        [errorsMapper]="{
          required:
            'field_is_required'
            | translate: { field: 'login_field_username_tip' | translate }
        }"
      ></alu-error-mapper>
    </aui-form-item>
  </aui-card>
  <aui-card>
    <div auiCardHeader>
      {{ 'search_setting' | translate }}
      <div fxFlex></div>
      <aui-checkbox [(ngModel)]="check" [ngModelOptions]="{ standalone: true }">
        {{ 'group_search_setting' | translate }}
      </aui-checkbox>
    </div>
    <div class="search_setting-header">{{ 'user' | translate }}</div>
    <alu-user-search-setting-form
      formControlName="userSearch"
    ></alu-user-search-setting-form>
    <ng-container *ngIf="check">
      <div class="search_setting-header">{{ 'group' | translate }}</div>
      <alu-group-search-setting-form
        formControlName="groupSearch"
      ></alu-group-search-setting-form>
    </ng-container>
  </aui-card>
</form>
