:host {
  .head {
    &:nth-of-type(1) {
      width: 110px;
    }
    &:nth-of-type(2) {
      width: 160px;
    }
    &.required:before {
      content: '*';
      color: #e54545;
      margin-right: 4px;
    }
  }
}
