<aui-dialog-header>
  {{
    (update ? 'update_notification_object' : 'add_notification_object')
      | translate
  }}
</aui-dialog-header>
<aui-dialog-content>
  <form auiForm #ngForm="ngForm" [formGroup]="form">
    <alu-array-form-table
      [noRowSeparator]="true"
      [rows]="form.controls"
      [resourceName]="'notification_object'"
    >
      <ng-container *aluArrayFormTableHeader>
        <th class="head">{{ 'type' | translate }}</th>
        <th class="head required">{{ 'display_name' | translate }}</th>
        <th class="head required">{{ 'object_name' | translate }}</th>
      </ng-container>

      <ng-container *aluArrayFormTableRow="let control">
        <td colspan="3" style="padding: 0;">
          <alu-notification-receiver-form-item
            [method]="dialogData?.method"
            [formControl]="control"
          ></alu-notification-receiver-form-item>
        </td>
      </ng-container>

      <ng-container *aluArrayFormTableRowControl="let item; let index = index">
        <button
          [hidden]="update"
          aui-button="text"
          size="mini"
          type="button"
          (click)="remove(index)"
          [square]="true"
          [plain]="true"
        >
          <aui-icon icon="basic:minus_circle"></aui-icon>
        </button>
      </ng-container>

      <ng-container *aluArrayFormTableFooter>
        <button
          aui-button="primary"
          type="button"
          size="mini"
          [plain]="true"
          [hidden]="update"
          [disabled]="form.length > 9"
          (click)="add(form.length)"
        >
          <aui-icon icon="basic:add_circle"></aui-icon>
          {{ 'add_notification_object' | translate }}
        </button>
      </ng-container>
    </alu-array-form-table>
  </form>
</aui-dialog-content>
<aui-dialog-footer>
  <button
    aui-button="primary"
    [loading]="submitting"
    [disabled]="submitting"
    (click)="onSubmit(ngForm)"
  >
    <ng-container *ngIf="update">{{ 'update' | translate }}</ng-container>
    <ng-container *ngIf="!update">{{ 'add' | translate }}</ng-container>
  </button>
  <button aui-button (click)="cancel()">
    {{ 'cancel' | translate }}
  </button>
</aui-dialog-footer>
