<aui-dialog-header>
  {{ data.title || 'update' | translate }}
</aui-dialog-header>
<aui-dialog-content>
  <form #ngForm="ngForm" (ngSubmit)="ngForm.valid && onUpdate$$.next()">
    <alu-key-value-form-table
      [(ngModel)]="keyValues"
      [readonlyKeys]="data.readonlyKeys"
      [validator]="data.validator"
      [errorMapper]="data.errorMapper"
      name="key-values"
    ></alu-key-value-form-table>
  </form>
</aui-dialog-content>
<aui-dialog-footer>
  <button
    aui-button="primary"
    [loading]="submitting$$ | async"
    [disabled]="submitting$$ | async"
    (click)="ngForm.onSubmit()"
  >
    {{ 'update' | translate }}
  </button>
  <button aui-button type="button" (click)="dialogRef.close()">
    {{ 'cancel' | translate }}
  </button>
</aui-dialog-footer>
