@import 'var';

:host {
  .aui-table {
    .aui-table__column-reason,
    .aui-table__column-message {
      flex: 1 0 100px;
    }
  }
  ::ng-deep {
    .aui-multi-select__input {
      min-width: 0;
    }
  }
  .event-wrapper {
    display: flex;
    aui-multi-select {
      min-width: 460px;
    }
    button {
      margin: 0 0 12px 8px;
      flex: 0 0 32px;
      align-self: center;
    }
  }

  .event-list {
    padding: space(5);
    background-color: $color-white;
    .aui-table {
      &__cell,
      &__header-cell {
        padding: 0 space(2);
        white-space: nowrap;
        text-overflow: ellipsis;
      }
      &__column {
        &-namespace {
          flex: 1 1 100px;
        }
        &-type {
          flex: 0 1 100px;
        }
        &-resource_name {
          flex: 3;
        }
        &-count {
          flex: 0 0 80px;
          text-align: right;
        }
        &-reason {
          flex: 0 1 120px;
        }
        &-time_range {
          flex: 0 0 150px;
        }
        &-message {
          flex: 8;
        }
        &-action {
          flex: 0 0 90px;
        }
      }
    }
  }

  .event-empty {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $color-text-help;
  }

  .event-pagination {
    margin-bottom: 12px;
    display: flex;
    justify-content: flex-end;
    .event-search-hint {
      margin-top: 12px;
      padding: 6px 6px 0;
    }
  }
}
