<ng-container
  [ngTemplateOutlet]="infoTmpl"
  [ngTemplateOutletContext]="{ $implicit: type | pure: getLabelInfo }"
></ng-container>
<ng-template #infoTmpl let-info>
  <aui-icon
    size="16"
    [icon]="info.icon"
    [class]="'icon__' + type"
    [auiTooltip]="type | translate"
    auiTooltipType="info"
  ></aui-icon>
  {{ rawValue | pure: info.formatter:translate.locale }}
</ng-template>
