<aui-dialog-header>
  {{ 'log' | translate }}
</aui-dialog-header>
<aui-dialog-content>
  <aui-code-editor
    [ngModel]="log$ | async"
    [options]="editorOptions"
    [actionsConfig]="actionsConfig"
    (monacoEditorChanged)="editorChanged$$.next($event)"
  ></aui-code-editor>
</aui-dialog-content>
