<form
  #ngForm="ngForm"
  auiForm
  auiFormLabelWidth="114px"
  [formGroup]="form"
  *ngIf="form"
>
  <alu-tdsql-hdfs-field
    formControlName="hdfs"
    (checkedChange)="checkedChange('hdfs', $event)"
  ></alu-tdsql-hdfs-field>

  <alu-tdsql-kafka-field
    formControlName="kafka"
    (checkedChange)="checkedChange('kafka', $event)"
  ></alu-tdsql-kafka-field>

  <alu-tdsql-consumer-field
    formControlName="consumer"
    (checkedChange)="checkedChange('consumer', $event)"
    [dependsChecked]="dependsState.consumer.checked"
  ></alu-tdsql-consumer-field>

  <alu-tdsql-lvs-field
    formControlName="lvs"
    (checkedChange)="checkedChange('lvs', $event)"
  ></alu-tdsql-lvs-field>

  <alu-tdsql-es-field
    formControlName="es"
    (checkedChange)="checkedChange('es', $event)"
    [dependsChecked]="dependsState.es.checked"
    (hostIpChange)="esHostIpChanged($event)"
    [chituHostIp]="chituHostIp"
    [chituStandbyIp]="chituStandbyIp"
  ></alu-tdsql-es-field>

  <alu-tdsql-chitubackup-field
    *ngIf="isProcessMode()"
    formControlName="backupchituop"
    (checkedChange)="checkedChange('backupchituop', $event)"
    (standbyIpChange)="chituStandbyIpChanged($event)"
    [chituHostIp]="chituHostIp"
    [esHostIp]="esHostIp"
  ></alu-tdsql-chitubackup-field>
</form>
