.aui-table__column-name {
  flex: 0.5;
}
.aui-table__column-type,
.aui-table__column-create_time {
  flex: 0.3;
}

.form-container {
  width: 360px;
  padding: 13px 5px;
  ::ng-deep {
    .aui-select {
      width: 100px;
    }
  }
}
