<ng-container *aluPageHeaderContent>
  <aui-breadcrumb>
    <aui-breadcrumb-item>
      <span>{{ 'user_role_management' | translate }}</span>
    </aui-breadcrumb-item>
    <aui-breadcrumb-item>
      <span>{{ 'idp_option' | translate }}</span>
    </aui-breadcrumb-item>
  </aui-breadcrumb>
</ng-container>

<aui-card [divider]="false">
  <div auiCardHeader>
    <acl-disabled-container [isAllowed]="permissions$ | async">
      <button aui-button="primary" [routerLink]="['create', 'ldap']">
        {{ 'add_ldap' | translate }}
      </button>
    </acl-disabled-container>
    <acl-disabled-container [isAllowed]="permissions$ | async">
      <button aui-button="primary" [routerLink]="['create', 'oidc']">
        {{ 'add_oidc' | translate }}
      </button>
    </acl-disabled-container>
    <div fxFlex></div>
    <acl-disabled-container [isAllowed]="syncLdappermissions$ | async">
      <button
        #buttonRef
        aui-button="text"
        [auiTooltip]="template"
        auiTooltipTrigger="manual"
        #tooltipEl="auiTooltip"
        auiTooltipType="info"
        auiTooltipPosition="bottom end"
        (click)="toggleTooltip()"
      >
        <aui-icon icon="basic:setting"></aui-icon>
        {{ 'ldap_auto_sync_strategy' | translate }}
      </button>
    </acl-disabled-container>
    <ng-template #template>
      <div class="form-container">
        <form auiForm>
          <aui-form-item>
            <label auiFormItemLabel>{{ 'auto_sync_user' | translate }}</label>
            <aui-switch
              name="auto"
              [(ngModel)]="auto"
              (ngModelChange)="autoChange()"
            ></aui-switch>
            <span auiFormItemHint>
              {{ 'ldap_auto_sync_strategy_tip' | translate }}
            </span>
          </aui-form-item>
          <aui-form-item *ngIf="auto">
            <label auiFormItemLabel>
              {{ 'sync_time_interval' | translate }}
            </label>
            <aui-select name="interval" [(ngModel)]="interval">
              <aui-option
                *ngFor="let intervalOption of intervalOptions"
                [value]="intervalOption.value"
                [label]="intervalOption.translate | translate"
              >
                {{ intervalOption.translate | translate }}
              </aui-option>
            </aui-select>
          </aui-form-item>
        </form>
        <div fxLayout>
          <div fxFlex></div>
          <button aui-button="primary" (click)="submit()">
            {{ 'confirm' | translate }}
          </button>
          <button aui-button (click)="cancel()">
            {{ 'cancel' | translate }}
          </button>
        </div>
      </div>
    </ng-template>
  </div>
  <aui-table [dataSource]="list.items$ | async">
    <aui-table-header-row
      *auiTableHeaderRowDef="columns"
    ></aui-table-header-row>
    <aui-table-row *auiTableRowDef="let row; columns: columns"></aui-table-row>
    <ng-container auiTableColumnDef="name">
      <aui-table-header-cell *auiTableHeaderCellDef>
        {{ 'name' | translate }}
      </aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let item">
        <a [routerLink]="['detail', item.metadata.name]">
          {{ item | aclName }}
        </a>
        <div class="table-cell__label-container table-cell__display-name">
          {{ item.name }}
        </div>
      </aui-table-cell>
    </ng-container>
    <ng-container auiTableColumnDef="type">
      <aui-table-header-cell *auiTableHeaderCellDef>
        {{ 'type' | translate }}
      </aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let item">
        {{ item.type | uppercase }}
      </aui-table-cell>
    </ng-container>
    <ng-container auiTableColumnDef="description">
      <aui-table-header-cell *auiTableHeaderCellDef>
        {{ 'description' | translate }}
      </aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let item">
        {{ item | aclDescription | aclFieldNotAvailable }}
      </aui-table-cell>
    </ng-container>
    <ng-container auiTableColumnDef="create_time">
      <aui-table-header-cell *auiTableHeaderCellDef>
        {{ 'create_time' | translate }}
      </aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let item">
        {{ item | aclCreationTimestamp | aclRelativeTime }}
      </aui-table-cell>
    </ng-container>
  </aui-table>
  <acl-k8s-resource-list-footer [list]="list"></acl-k8s-resource-list-footer>
</aui-card>
