<aui-dialog-header>
  {{ 'clean_up_invalid_user' | translate }}
</aui-dialog-header>
<ng-container *ngIf="list.items$ | async; let items">
  <aui-dialog-content>
    <div class="table-container">
      <aui-table [dataSource]="items">
        <aui-table-header-row
          *auiTableHeaderRowDef="columns"
        ></aui-table-header-row>
        <aui-table-row
          *auiTableRowDef="let row; columns: columns"
        ></aui-table-row>
        <ng-container auiTableColumnDef="checkbox">
          <aui-table-header-cell *auiTableHeaderCellDef></aui-table-header-cell>
          <aui-table-cell *auiTableCellDef="let item">
            <aui-checkbox [(ngModel)]="item.check"></aui-checkbox>
          </aui-table-cell>
        </ng-container>
        <ng-container auiTableColumnDef="email">
          <aui-table-header-cell *auiTableHeaderCellDef>
            {{ 'email' | translate }}
          </aui-table-header-cell>
          <aui-table-cell *auiTableCellDef="let item">
            {{ item.spec.email }}
            <div class="table-cell__label-container table-cell__display-name">
              {{ item | aclDisplayName }}
            </div>
          </aui-table-cell>
        </ng-container>
        <ng-container auiTableColumnDef="user_group">
          <aui-table-header-cell *auiTableHeaderCellDef>
            {{ 'user_group' | translate }}
          </aui-table-header-cell>
          <aui-table-cell *auiTableCellDef="let item">
            <alu-user-groups-display
              [groups]="item.spec.groups"
              parentPadding="20"
            ></alu-user-groups-display>
          </aui-table-cell>
        </ng-container>
        <ng-container auiTableColumnDef="status">
          <aui-table-header-cell *auiTableHeaderCellDef>
            {{ 'status' | translate }}
          </aui-table-header-cell>
          <aui-table-cell *auiTableCellDef="let item">
            <alu-status-icon
              status="{{ item.spec.valid ? 'success' : 'invalid' }}"
            ></alu-status-icon>
            {{ (item.spec.valid ? 'valid' : 'invalid') | translate }}
          </aui-table-cell>
        </ng-container>
      </aui-table>
      <acl-k8s-resource-list-footer
        [list]="list"
      ></acl-k8s-resource-list-footer>
    </div>
  </aui-dialog-content>
  <aui-dialog-footer *ngIf="getCheckListNames(items) as checkList">
    <span fxFlex></span>
    <button
      aui-button="primary"
      [disabled]="!items.length"
      (click)="cleanUp(items, 'all')"
    >
      {{ 'clean_all' | translate }}
    </button>
    <button
      aui-button="primary"
      [disabled]="!items.length"
      (click)="cleanUp(items)"
    >
      {{ 'clean' | translate }}({{ checkList.length }})
    </button>
    <button aui-button (click)="cancel()">
      {{ 'cancel' | translate }}
    </button>
  </aui-dialog-footer>
</ng-container>
