@import 'mixins';

:host {
  .project-header {
    margin-bottom: 12px;
  }
  .aui-table {
    &__column-name {
      flex: 2;
    }
    &__column-status {
      flex: 1;
    }
    &__column-clusters {
      flex: 3;
    }
    // &__column-administrators {
    //   flex: 2;
    // }
    &__column-creationTimestamp {
      flex: 1;
    }
  }
  .display-name {
    color: #999;
  }
  .cluster-info {
    display: flex;
    color: #333;
    font-size: 12px;
    line-height: 16px;
    margin-top: 3px;
    span {
      display: block;
      font-size: 14px;
      line-height: 16px;
      width: 30%;
      text-align: right;
      @include text-overflow;
    }
    aui-icon {
      margin-right: 4px;
    }
  }
}
