<aui-card>
  <div class="project-header">
    <div fxFlex></div>
    <aui-search
      [searchButton]="true"
      [(keyword)]="projectName"
      [placeholder]="'filter_by_name_placeholder' | translate"
      (search)="projectName$.next($event)"
    ></aui-search>
  </div>
  <aui-table [dataSource]="projects$ | async">
    <ng-container auiTableColumnDef="name">
      <aui-table-header-cell *auiTableHeaderCellDef>
        {{ 'name' | translate }}
      </aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let item">
        {{ item.metadata.name }}
        <div class="table-cell__label-container display-name">
          {{ item | aclDisplayName }}
        </div>
      </aui-table-cell>
    </ng-container>

    <ng-container auiTableColumnDef="clusters">
      <aui-table-header-cell *auiTableHeaderCellDef>
        {{ 'quota' | translate }}
      </aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let item">
        <ng-container
          *ngFor="let cluster of item | pure: getClusters; index as i"
        >
          <div class="cluster-info">
            <alu-project-quota-display-list
              [values]="cluster.quota"
            ></alu-project-quota-display-list>
          </div>
        </ng-container>
      </aui-table-cell>
    </ng-container>

    <ng-container auiTableColumnDef="creationTimestamp">
      <aui-table-header-cell *auiTableHeaderCellDef>
        {{ 'create_time' | translate }}
      </aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let item">
        {{ item.metadata.creationTimestamp | aclRelativeTime }}
      </aui-table-cell>
    </ng-container>
    <aui-table-header-row
      *auiTableHeaderRowDef="columns"
    ></aui-table-header-row>
    <aui-table-row *auiTableRowDef="let row; columns: columns"></aui-table-row>
  </aui-table>

  <div *ngIf="data.length === 0" class="empty-placeholder">
    {{ 'zero_state_hint' | translate: { resourceName: 'project' | translate } }}
  </div>
</aui-card>
