<ng-container *aluPageHeaderContent>
  <aui-breadcrumb>
    <aui-breadcrumb-item>
      <span>{{ 'log' | translate }}</span>
    </aui-breadcrumb-item>
    <aui-breadcrumb-item>
      <span>{{ 'log_strategy_management' | translate }}</span>
    </aui-breadcrumb-item>
  </aui-breadcrumb>
</ng-container>
<aui-inline-alert>
  <div>{{ 'strategy_management_tip1' | translate }}</div>
  <div>{{ 'strategy_management_tip2' | translate }}</div>
</aui-inline-alert>

<alu-global-strategy></alu-global-strategy>

<aui-card [divider]="false">
  <div auiCardHeader class="header">
    {{ 'project_strategy' | translate }}
    <div fxFlex></div>
    <acl-disabled-container [isAllowed]="permissions$ | async">
      <button plain="true" aui-button="primary" (click)="addProjectStrategy()">
        {{ 'add_project_strategy' | translate }}
      </button>
    </acl-disabled-container>
    <aui-search
      [searchButton]="true"
      [keyword]="searchKey$ | async"
      placeholder="{{ 'search_by_name_placeholder' | translate }}"
      (search)="searchByName($event)"
    ></aui-search>
    <button
      aui-button
      [square]="true"
      [loading]="list.loading$ | async"
      [disabled]="list.loading$ | async"
      (click)="list.reload()"
    >
      <aui-icon icon="basic:refresh"></aui-icon>
    </button>
  </div>

  <aui-table [dataSource]="list.items$" [trackBy]="trackByFn">
    <ng-container auiTableColumnDef="project_name">
      <aui-table-header-cell *auiTableHeaderCellDef>
        {{ 'project_name' | translate }}
      </aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let item">
        {{ item | aclName }}
        <div class="table-cell__label-container table-cell__display-name">
          {{ item | aclDisplayName }}
        </div>
      </aui-table-cell>
    </ng-container>
    <ng-container auiTableColumnDef="log_retention_time">
      <aui-table-header-cell *auiTableHeaderCellDef>
        {{ 'log_retention_time' | translate }} ({{
          'hint_for_the_remaining_days_suffix' | translate
        }})
      </aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let item">
        {{ item | aclLabel: 'project.esIndicesKeepDays' }}
      </aui-table-cell>
    </ng-container>
    <ng-container auiTableColumnDef="status">
      <aui-table-header-cell *auiTableHeaderCellDef>
        {{ 'strategy_status' | translate }}
      </aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let item">
        <alu-status-icon [status]="item | pure: getStatus"></alu-status-icon>
        {{ ((item | pure: getEnable) ? 'enabled' : 'deactivated') | translate }}
      </aui-table-cell>
    </ng-container>
    <ng-container auiTableColumnDef="time">
      <aui-table-header-cell *auiTableHeaderCellDef>
        {{ 'last_disabled_time' | translate }}
      </aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let item">
        {{
          item
            | aclAnnotation: 'project.esPolicyLastDisabledTimestamp'
            | aclRelativeTime
        }}
      </aui-table-cell>
    </ng-container>
    <ng-container auiTableColumnDef="create_time">
      <aui-table-header-cell *auiTableHeaderCellDef>
        {{ 'create_time' | translate }}
      </aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let item">
        {{ item | aclCreationTimestamp | aclRelativeTime }}
      </aui-table-cell>
    </ng-container>
    <ng-container auiTableColumnDef="action">
      <aui-table-header-cell *auiTableHeaderCellDef></aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let item">
        <button
          aui-button="text"
          [square]="true"
          [plain]="true"
          size="small"
          [auiDropdown]="menu"
        >
          <aui-icon icon="basic:ellipsis_v_s"></aui-icon>
        </button>
        <aui-menu #menu size="small">
          <acl-disabled-container [isAllowed]="permissions$ | async">
            <aui-menu-item (click)="update(item)">
              {{ 'update' | translate }}
            </aui-menu-item>
          </acl-disabled-container>
          <acl-disabled-container [isAllowed]="permissions$ | async">
            <aui-menu-item (click)="switch(item)">
              {{
                ((item | pure: getEnable) ? 'deactivate' : 'enable') | translate
              }}
            </aui-menu-item>
          </acl-disabled-container>
          <acl-disabled-container
            [isAllowed]="permissions$ | async"
            [isDisabled]="item | pure: getEnable"
            [tooltip]="'enabled_cannot_deleted' | translate"
          >
            <aui-menu-item type="danger" (click)="delete(item)">
              {{ 'delete' | translate }}
            </aui-menu-item>
          </acl-disabled-container>
        </aui-menu>
      </aui-table-cell>
    </ng-container>
    <aui-table-header-row
      *auiTableHeaderRowDef="columns"
    ></aui-table-header-row>
    <aui-table-row *auiTableRowDef="let row; columns: columns"></aui-table-row>
  </aui-table>
  <acl-k8s-resource-list-footer
    [list]="list"
    resourceName="project_strategy"
  ></acl-k8s-resource-list-footer>
</aui-card>
