@import 'var';

:host {
  ::ng-deep {
    .aui-layout__page-header {
      display: none;
    }

    .aui-layout__toolbar {
      padding-left: 0;
    }
  }
}

.role-list-card {
  display: block;
  margin-top: 16px;
}

.user-token-template-content {
  line-height: 1.4285em;
  margin: 16px;
  color: rgba(0, 0, 0, 0.87);

  p {
    margin-bottom: 10px;
  }

  .input {
    display: flex;
  }

  input {
    flex: 1;
    border: 1px solid $color-info;
    border-radius: 2px 0 0 2px;
    outline: 0;
    padding: 7px 8px;
  }

  button {
    border: 1px solid $color-info;
    border-left: none;
    padding: 0 10px;
    background: darken($color-white, 5%);
    &:hover {
      cursor: pointer;
    }

    &:last-of-type {
      border-radius: 0 2px 2px 0;
    }
  }
}
