<acl-page-state [adapter]="dataLoader">
  <ng-template let-user>
    <aui-card>
      <div auiCardHeader>{{ user?.spec.email }}</div>
      <alu-field-set-group>
        <alu-field-set-item>
          <label>{{ 'display_name' | translate }}</label>
          <span [title]="user | aclDisplayName">
            {{ user | aclDisplayName | aclFieldNotAvailable }}
          </span>
          <button
            *ngIf="user.spec.connector_type === 'local'"
            aluFieldSetItemAction
            aui-button="text"
            (click)="updateDisplayName(user)"
          >
            <aui-icon icon="basic:pencil_s"></aui-icon>
          </button>
        </alu-field-set-item>
        <alu-field-set-item>
          <label>{{ 'password' | translate }}</label>
          ******
          <button
            aui-button="text"
            *ngIf="user.spec.connector_type === 'local'"
            (click)="updatePassword(user)"
          >
            <aui-icon icon="basic:pencil_s"></aui-icon>
          </button>
        </alu-field-set-item>
        <alu-field-set-item>
          <label>{{ 'email' | translate }}</label>
          {{ email }}
        </alu-field-set-item>
        <alu-field-set-item>
          <label>{{ 'creator' | translate }}</label>
          {{ user | aclCreator | aclFieldNotAvailable }}
        </alu-field-set-item>
        <alu-field-set-item [allowFlex]="true">
          <label>{{ 'user_group' | translate }}</label>
          <alu-user-groups-display
            *ngIf="user"
            [groups]="user.spec.groups"
            parentPadding="20"
          ></alu-user-groups-display>
        </alu-field-set-item>
        <alu-field-set-item>
          <label>{{ 'create_time' | translate }}</label>
          <span>{{ user | aclCreationTimestamp | aclStandardTime }}</span>
        </alu-field-set-item>
        <alu-field-set-item>
          <label>Token</label>
          <span>
            <button
              aui-button="text"
              size="small"
              [auiTooltip]="tokenTemplate"
              auiTooltipType="info"
              auiTooltipTrigger="click"
              auiTooltipPosition="bottom start"
              [auiTooltipContext]="{ token: accountToken$ | async }"
            >
              {{ 'platform_token' | translate }}
            </button>
          </span>
        </alu-field-set-item>
      </alu-field-set-group>
    </aui-card>
    <aui-card [divider]="false" class="role-list-card">
      <div auiCardHeader>{{ 'role' | translate }}</div>
      <alu-user-role-agg-list
        [list]="list"
        [showDelete]="false"
      ></alu-user-role-agg-list>
    </aui-card>
  </ng-template>
</acl-page-state>
<ng-template #tokenTemplate let-token="token">
  <div class="user-token-template-content">
    <div>{{ 'token_help_text2' | translate }}</div>
    <div>{{ 'token_help_example' | translate: { host: host } }}</div>
    <p>{{ 'token_help_text1' | translate }}</p>
    <div class="input">
      <input #input [value]="token" readonly />
      <button (click)="copyText(input)" [disabled]="refreshing">
        <aui-icon [icon]="tokenCopied ? 'check_s' : 'copy'"></aui-icon>
        {{ 'copy' | translate }}
      </button>
      <button (click)="refreshToken()" [disabled]="refreshing">
        <aui-icon icon="basic:refresh"></aui-icon>
        {{ 'refresh' | translate }}
      </button>
    </div>
  </div>
</ng-template>
