<aui-dialog-header>
  {{ 'add_node' | translate }}
</aui-dialog-header>
<aui-dialog-content>
  <aui-inline-alert
    *ngIf="
      nodesCannotReach.length || nodesDuplicate.length || nodesFailed.length
    "
    [type]="nodesSuccess.length ? 'warning' : 'error'"
  >
    <ng-container *ngIf="nodesSuccess.length">
      {{ getAlertTranslation('node_success_detail', nodesSuccess.length) }}
    </ng-container>
    <ng-container *ngIf="nodesCannotReach.length">
      {{ getAlertTranslation('node_cannot_reach_detail', nodesCannotReach) }}
    </ng-container>
    <ng-container *ngIf="nodesDuplicate.length">
      {{ getAlertTranslation('node_duplicate_detail', nodesDuplicate) }}
    </ng-container>
    <ng-container *ngIf="nodesFailed.length">
      {{ getFailedTranslation(nodesFailed) }}
    </ng-container>
  </aui-inline-alert>
  <form auiForm auiFormLabelWidth="80px" #addNodeForm="ngForm">
    <aui-form-item>
      <label auiFormItemLabel>{{ 'node_ip' | translate }}</label>
      <alu-node-fieldset
        name="node"
        auiFormItemControl
        [(ngModel)]="nodeList"
        [isGPUCluster]="isGPUCluster"
      ></alu-node-fieldset>
      <span auiFormItemAddon>
        <aui-icon
          [auiTooltip]="'add_node_ip_tip' | translate"
          [auiTooltipPosition]="'start center'"
          icon="basic:question"
          color="#999"
        ></aui-icon>
      </span>
    </aui-form-item>
    <aui-form-item>
      <label auiFormItemLabel>{{ 'port' | translate }}</label>
      <input
        aui-input
        auiFormItemControl
        required
        #sshPortName="ngModel"
        name="port"
        min="1"
        max="65535"
        [(ngModel)]="sshPort"
        [placeholder]="'node_port' | translate"
        [pattern]="positiveIntegerPattern.pattern"
      />
      <span auiFormItemAddon></span>
      <alu-error-mapper
        auiFormItemError
        [errors]="sshPortName.errors"
        [errorsMapper]="{
          required:
            'field_is_required' | translate: { field: 'port' | translate },
          pattern: positiveIntegerPattern.tip | translate,
          max: 'port_max_pattern' | translate
        }"
      ></alu-error-mapper>
    </aui-form-item>
    <aui-form-item>
      <label auiFormItemLabel>{{ 'node_verify' | translate }}</label>
      <aui-radio-group name="usePassword" [(ngModel)]="usePassword">
        <aui-radio-button [value]="true">
          {{ 'password' | translate }}
        </aui-radio-button>
        <aui-radio-button [value]="false">
          {{ 'encryption_key' | translate }}
        </aui-radio-button>
      </aui-radio-group>
      <span auiFormItemAddon></span>
    </aui-form-item>
    <aui-form-item>
      <label auiFormItemLabel>{{ 'username' | translate }}</label>
      <input
        aui-input
        auiFormItemControl
        required
        #userName="ngModel"
        name="username"
        [(ngModel)]="sshUsername"
        [placeholder]="'node_username' | translate"
      />
      <span auiFormItemAddon></span>
      <alu-error-mapper
        auiFormItemError
        [errors]="userName.errors"
        [errorsMapper]="{
          required:
            'field_is_required' | translate: { field: 'username' | translate }
        }"
      ></alu-error-mapper>
    </aui-form-item>
    <ng-container *ngIf="usePassword">
      <aui-form-item>
        <label auiFormItemLabel>{{ 'password' | translate }}</label>
        <aui-input-group style="width: 100%;">
          <input
            aui-input
            auiFormItemControl
            required
            #passwordName="ngModel"
            name="password"
            [type]="showPassword ? 'text' : 'password'"
            [(ngModel)]="sshPassword"
            [placeholder]="'node_password' | translate"
          />
          <aui-icon
            auiInputSuffix
            class="eye-icon"
            [icon]="showPassword ? 'basic:eye_s' : 'basic:eye_slash_s'"
            (click)="showPassword = !showPassword"
          ></aui-icon>
        </aui-input-group>
        <span auiFormItemAddon></span>
        <alu-error-mapper
          auiFormItemError
          [errors]="userName.errors"
          [errorsMapper]="{
            required:
              'field_is_required' | translate: { field: 'password' | translate }
          }"
        ></alu-error-mapper>
      </aui-form-item>
    </ng-container>
    <ng-container *ngIf="!usePassword">
      <aui-form-item>
        <label auiFormItemLabel>{{ 'private_key' | translate }}</label>
        <textarea
          aui-input
          auiFormItemControl
          required
          #keyName="ngModel"
          name="key"
          type="key"
          [(ngModel)]="sshKey"
        ></textarea>
        <span auiFormItemAddon></span>
        <alu-error-mapper
          auiFormItemError
          [errors]="keyName.errors"
          [errorsMapper]="{
            required:
              'field_is_required'
              | translate: { field: 'private_key' | translate }
          }"
        ></alu-error-mapper>
      </aui-form-item>
      <aui-form-item>
        <label auiFormItemLabel>{{ 'private_key_password' | translate }}</label>
        <textarea
          aui-input
          auiFormItemControl
          #keyPassName="ngModel"
          name="keyPass"
          type="keyPass"
          [(ngModel)]="sshKeyPass"
        ></textarea>
        <span auiFormItemAddon></span>
        <alu-error-mapper
          auiFormItemError
          [errors]="keyPassName.errors"
          [errorsMapper]="{
            required:
              'field_is_required'
              | translate: { field: 'private_key_password' | translate }
          }"
        ></alu-error-mapper>
      </aui-form-item>
    </ng-container>
  </form>
</aui-dialog-content>
<aui-dialog-footer>
  <div fxFlex></div>
  <div>
    <button
      aui-button="primary"
      [loading]="submitting"
      [disabled]="submitting"
      (click)="confirm(addNodeForm)"
    >
      {{ 'add' | translate }}
    </button>
    <button aui-button (click)="cancel()">
      {{ 'cancel' | translate }}
    </button>
  </div>
</aui-dialog-footer>
