<aui-dialog-header>
  {{ 'update_display_name' | translate }}
</aui-dialog-header>

<aui-dialog-content>
  <form #form="ngForm" auiForm auiFormLabelWidth="100px">
    <aui-form-item>
      <label auiFormItemLabel>{{ 'email' | translate }}</label>
      <span>{{ data.user.spec.email }}</span>
    </aui-form-item>
    <aui-form-item>
      <label auiFormItemLabel>{{ 'display_name' | translate }}</label>
      <input
        aui-input
        name="displayName"
        [(ngModel)]="displayName"
        maxlength="64"
        [placeholder]="'max_length_charts' | translate: { num: 64 }"
      />
    </aui-form-item>
  </form>
</aui-dialog-content>

<aui-dialog-footer>
  <button aui-button="primary" (click)="update()">
    {{ 'update' | translate }}
  </button>
  <button aui-button (click)="cancel()">
    {{ 'cancel' | translate }}
  </button>
</aui-dialog-footer>
