.full-line-wrapper {
  alu-field-set-item {
    width: 100%;
    margin-bottom: 12px;
  }
}

:host {
  ::ng-deep {
    alu-field-set-item {
      &.tags {
        .field-set-item__label {
          align-self: baseline;
        }
      }
    }
  }
}
