<ng-container *aluPageHeaderContent>
  <aui-breadcrumb>
    <aui-breadcrumb-item>
      {{ 'cluster_management' | translate }}
    </aui-breadcrumb-item>
    <aui-breadcrumb-item>
      <a routerLink="/manage-platform/cluster/list">
        {{ 'cluster' | translate }}
      </a>
    </aui-breadcrumb-item>
    <aui-breadcrumb-item>
      <a [routerLink]="'/manage-platform/cluster/detail/' + clusterName">
        {{ clusterName }}
      </a>
    </aui-breadcrumb-item>
    <aui-breadcrumb-item>{{ nodeName }}</aui-breadcrumb-item>
  </aui-breadcrumb>
</ng-container>

<aui-tab-group *ngIf="node$ | async" type="line" [lazy]="true">
  <aui-tab>
    <ng-container *auiTabLabel>
      {{ 'detail_info' | translate }}
    </ng-container>
    <aui-card>
      <div auiCardHeader>
        {{ node | aclName }}
        <div fxFlex></div>
        <div>
          <button aui-button="default" [auiDropdown]="menu">
            {{ 'action' | translate }}
            <aui-icon icon="angle_down" margin="left"></aui-icon>
          </button>
          <aui-menu #menu size="small">
            <acl-disabled-container
              [isAllowed]="(permissions$ | async).update"
              [isDisabled]="node | pure: getNodeStatus | pure: isNodeAbnormal"
              [tooltip]="'status_abnormal_can_not_operate' | translate"
            >
              <aui-menu-item (click)="updateNodeTag()">
                {{ 'update_node_tags' | translate }}
              </aui-menu-item>
            </acl-disabled-container>
            <acl-disabled-container
              [isAllowed]="(permissions$ | async).update"
              [isDisabled]="node | pure: getNodeStatus | pure: isNodeAbnormal"
              [tooltip]="'status_abnormal_can_not_operate' | translate"
            >
              <aui-menu-item (click)="updateNodeTaint()">
                {{ 'update_node_taints' | translate }}
              </aui-menu-item>
            </acl-disabled-container>
            <acl-disabled-container
              [isAllowed]="(permissions$ | async).update"
              [isDisabled]="node | pure: getNodeStatus | pure: isNodeAbnormal"
              [tooltip]="'status_abnormal_can_not_operate' | translate"
            >
              <aui-menu-item
                [hidden]="!node.spec.unschedulable"
                (click)="updateNodeCordon('uncordon')"
              >
                {{ 'start_scheduling' | translate }}
              </aui-menu-item>
            </acl-disabled-container>
            <acl-disabled-container
              [isAllowed]="(permissions$ | async).update"
              [isDisabled]="node | pure: getNodeStatus | pure: isNodeAbnormal"
              [tooltip]="'status_abnormal_can_not_operate' | translate"
            >
              <aui-menu-item
                [hidden]="node.spec.unschedulable"
                (click)="updateNodeCordon('cordon')"
              >
                {{ 'stop_scheduling' | translate }}
              </aui-menu-item>
            </acl-disabled-container>
            <acl-disabled-container
              [isAllowed]="(permissions$ | async).update"
              [isDisabled]="node | pure: getNodeStatus | pure: isNodeAbnormal"
              [tooltip]="'status_abnormal_can_not_operate' | translate"
            >
              <aui-menu-item (click)="drainNode()">
                {{ 'drain_node' | translate }}
              </aui-menu-item>
            </acl-disabled-container>
            <acl-disabled-container
              *ngIf="isBaremetal === 'true'"
              [isAllowed]="(permissions$ | async).delete"
              [isDisabled]="nodeVm.type === 'master'"
            >
              <aui-menu-item (click)="deleteNode()">
                {{ 'cluster_delete_node' | translate }}
              </aui-menu-item>
            </acl-disabled-container>
          </aui-menu>
        </div>
      </div>
      <alu-field-set-group auiCardContent>
        <alu-field-set-item>
          <label>{{ 'display_name' | translate }}</label>
          {{
            (node | aclDisplayName) || (machine | aclDisplayName)
              | aclFieldNotAvailable
          }}
          <acl-disabled-container
            [isAllowed]="(permissions$ | async).update"
            [isDisabled]="node | pure: getNodeStatus | pure: isNodeAbnormal"
            [tooltip]="'status_abnormal_can_not_operate' | translate"
          >
            <button aui-button="text" (click)="updateDisplayName(node)">
              <aui-icon icon="basic:pencil_s" margin="left"></aui-icon>
            </button>
          </acl-disabled-container>
        </alu-field-set-item>
        <alu-field-set-item>
          <label>{{ 'status' | translate }}</label>
          <alu-status-icon
            [status]="node | pure: getNodeStatus"
          ></alu-status-icon>
          {{ node | pure: getNodeStatus | translate }}
        </alu-field-set-item>
        <alu-field-set-item>
          <label>{{ 'node_ip' | translate }}</label>
          {{ nodeVm.privateIp }}
        </alu-field-set-item>
        <alu-field-set-item>
          <label>{{ 'cluster_node_type' | translate }}</label>
          {{
            (nodeVm.type === 'master'
              ? 'cluster_master_node'
              : 'cluster_slave_node'
            ) | translate
          }}
        </alu-field-set-item>
        <alu-field-set-item>
          <label>{{ 'gpu_node' | translate }}</label>
          {{
            (node.metadata.labels['nvidia-device-enable'] === 'enable'
              ? 'yes'
              : 'no'
            ) | translate
          }}
        </alu-field-set-item>
        <alu-field-set-item>
          <label>{{ 'cluster_node_schedule_schedule' | translate }}</label>
          {{ (node.spec.unschedulable ? 'no' : 'yes') | translate }}
        </alu-field-set-item>
        <alu-field-set-item>
          <label>{{ 'resource_amount' | translate }}</label>
          <aui-icon
            icon="basic:cpu"
            color="#6359b4"
            margin="right"
            [title]="'cpu' | translate"
          ></aui-icon>
          {{
            node.status.allocatable.cpu
              | pure: formatNumUnit
              | aclFieldNotAvailable
          }}{{ 'core' | translate }}
          <aui-icon
            icon="basic:memory"
            color="#3793bf"
            margin="right"
            [title]="'memory' | translate"
          ></aui-icon>
          {{ node.status.allocatable.memory | pure: formatCommonUnit:true }} Gi
          <ng-container
            *ngIf="node.status.allocatable['tencent.com/vcuda-core'] as cores"
          >
            <aui-icon
              icon="basic:gpu"
              color="#a44444"
              margin="right"
              [title]="'gpu' | translate"
            ></aui-icon>
            {{ cores / 100 | aclFieldNotAvailable }}{{ 'core' | translate }}
            <aui-icon
              icon="basic:gpu"
              color="#7da41b"
              margin="right"
              [title]="'gpu_memory' | translate"
            ></aui-icon>
            {{ node.status.allocatable['tencent.com/vcuda-memory'] / 4 }} Gi
          </ng-container>
        </alu-field-set-item>
        <alu-field-set-item>
          <label>{{ 'oprerating_system' | translate }}</label>
          {{ node.status.nodeInfo.osImage | aclFieldNotAvailable }}
        </alu-field-set-item>
        <alu-field-set-item>
          <label>{{ 'create_time' | translate }}</label>
          {{ node | aclCreationTimestamp | aclStandardTime }}
        </alu-field-set-item>
      </alu-field-set-group>
    </aui-card>
    <aui-card>
      <div auiCardHeader>
        {{ 'kubernetes_info' | translate }}
      </div>
      <div auiCardContent class="full-line-wrapper">
        <alu-field-set-item>
          <label>{{ 'docker_version' | translate }}</label>
          {{ node.status.nodeInfo.containerRuntimeVersion }}
        </alu-field-set-item>
        <alu-field-set-item>
          <label>{{ 'kubelet_version' | translate }}</label>
          {{ node.status.nodeInfo.kubeletVersion }}
        </alu-field-set-item>
        <alu-field-set-item>
          <label>{{ 'kubeproxy_version' | translate }}</label>
          {{ node.status.nodeInfo.kubeProxyVersion }}
        </alu-field-set-item>
        <alu-field-set-item>
          <label>{{ 'pod_cidr' | translate }}</label>
          {{ node.spec.podCIDR }}
        </alu-field-set-item>
        <alu-field-set-item>
          <label>{{ 'pod_limit' | translate }}</label>
          {{ 'allocated' | translate }}{{ (pods$ | async)?.length }}
          {{ 'allocatable' | translate }}{{ node.status.allocatable.pods }}
        </alu-field-set-item>
        <alu-field-set-item class="tags">
          <label>{{ 'node_tags' | translate }}</label>
          <alu-tags-label
            [tags]="node.metadata.labels"
            [isWrapped]="true"
          ></alu-tags-label>
        </alu-field-set-item>
        <alu-field-set-item class="tags">
          <label>{{ 'annotation' | translate }}</label>
          <alu-tags-label
            [tags]="node.metadata.annotations"
            [isWrapped]="true"
          ></alu-tags-label>
        </alu-field-set-item>
        <alu-field-set-item class="tags">
          <label>{{ 'taint_info' | translate }}</label>
          <alu-tags-label
            [tagList]="node.spec.taints | pure: transformTaint"
            [isWrapped]="true"
          ></alu-tags-label>
        </alu-field-set-item>
      </div>
    </aui-card>
  </aui-tab>
  <aui-tab>
    <ng-container *auiTabLabel>
      {{ 'pod' | translate }}
    </ng-container>
    <ng-container *auiTabContent>
      <alu-pod-list
        [baseParams]="{ cluster: clusterName }"
        [matchFields]="{ 'spec.nodeName': node | aclName }"
      ></alu-pod-list>
    </ng-container>
  </aui-tab>
  <aui-tab *ngIf="metricDocked">
    <ng-container *auiTabLabel>
      {{ 'monitoring' | translate }}
    </ng-container>
    <ng-container *auiTabContent>
      <alu-cluster-monitor
        [clusterName]="clusterName"
        [privateIp]="nodeVm.privateIp"
        [hostname]="nodeVm.hostname"
        [isOCP]="isOCP"
        [isGPU]="node.metadata.labels['nvidia-device-enable'] === 'enable'"
      ></alu-cluster-monitor>
    </ng-container>
  </aui-tab>
  <aui-tab>
    <ng-container *auiTabLabel>
      YAML
    </ng-container>
    <alu-resource-yaml-display
      *auiTabContent
      [resource]="node"
    ></alu-resource-yaml-display>
  </aui-tab>
</aui-tab-group>
