:host {
  ::ng-deep {
    .aui-form-item__addon-wrapper {
      align-self: start;
    }
    .aui-card {
      margin-bottom: 52px;
    }
  }
}

.notification-template-content-pre {
  background: transparent;
  font-size: 14px;
  padding: 12px;
  border: 1px solid #ccc;
  max-height: 400px;
  overflow: scroll;
}
