<ng-container *aluPageHeaderContent>
  <aui-breadcrumb>
    <aui-breadcrumb-item>
      <span>{{ 'notification' | translate }}</span>
    </aui-breadcrumb-item>
    <aui-breadcrumb-item>
      <a routerLink="/maintenance-center/notification_template">
        {{ 'notification_template' | translate }}
      </a>
    </aui-breadcrumb-item>
    <aui-breadcrumb-item>
      <span>
        {{ (update ? 'update' : 'create') | translate }}
      </span>
    </aui-breadcrumb-item>
  </aui-breadcrumb>
</ng-container>
<aui-card>
  <div *ngIf="!update" auiCardHeader>
    {{ 'create_notification_template' | translate }}
  </div>
  <div *ngIf="update" auiCardHeader>
    {{ 'update_notification_template' | translate }}
  </div>
  <div class="alu-secondary-title">{{ 'basic_info' | translate }}</div>
  <form #ngForm="ngForm" auiForm auiFormLabelWidth="114px" [formGroup]="form">
    <ng-container formGroupName="metadata">
      <aui-form-item>
        <label auiFormItemLabel>{{ 'name' | translate }}</label>
        <ng-container required auiFormItemControl>
          <input
            [hidden]="update"
            aui-input
            formControlName="name"
            maxlength="63"
            [placeholder]="K8S_RESOURCE_NAME_BASE.tip | translate"
          />
          <span [hidden]="!update">{{ form.get('metadata.name').value }}</span>
        </ng-container>
        <span auiFormItemAddon></span>
        <alu-error-mapper
          auiFormItemError
          [errors]="form.get('metadata.name').errors"
          [errorsMapper]="{
            required:
              'field_is_required' | translate: { field: 'name' | translate },
            pattern: K8S_RESOURCE_NAME_BASE.tip | translate
          }"
        ></alu-error-mapper>
      </aui-form-item>
      <aui-form-item formGroupName="annotations">
        <label auiFormItemLabel>{{ 'display_name' | translate }}</label>
        <ng-container required auiFormItemControl>
          <input
            aui-input
            [formControlName]="displayName"
            maxlength="63"
            [placeholder]="'input_display_name' | translate"
          />
        </ng-container>
        <span auiFormItemAddon></span>
        <alu-error-mapper
          *ngIf="displayName"
          auiFormItemError
          [errors]="form.get(['metadata', 'annotations', displayName]).errors"
          [errorsMapper]="{
            required:
              'field_is_required'
              | translate: { field: 'display_name' | translate }
          }"
        ></alu-error-mapper>
      </aui-form-item>
      <aui-form-item formGroupName="labels">
        <label auiFormItemLabel>{{ 'template_type' | translate }}</label>
        <aui-radio-group [formControlName]="type">
          <aui-radio value="email">{{ 'email' | translate }}</aui-radio>
          <aui-radio value="sms">{{ 'sms' | translate }}</aui-radio>
          <aui-radio value="other">
            {{ 'notification_template_type_other' | translate }}
          </aui-radio>
        </aui-radio-group>
      </aui-form-item>
      <aui-form-item formGroupName="annotations">
        <label auiFormItemLabel>{{ 'description' | translate }}</label>
        <input
          aui-input
          [formControlName]="description"
          [placeholder]="'input_description' | translate"
        />
        <span auiFormItemAddon></span>
      </aui-form-item>
    </ng-container>
    <div class="alu-secondary-title">{{ 'template_setting' | translate }}</div>
    <ng-container formGroupName="spec">
      <aui-form-item [hidden]="get(form.value, typeControlPath) !== 'email'">
        <label auiFormItemLabel>{{ 'notification_subject' | translate }}</label>
        <ng-container required auiFormItemControl>
          <input aui-input formControlName="subject" />
        </ng-container>
        <span auiFormItemAddon></span>
        <alu-error-mapper
          auiFormItemError
          [errors]="form.get(['spec', 'subject']).errors"
          [errorsMapper]="{
            required:
              'field_is_required'
              | translate: { field: 'notification_subject' | translate }
          }"
        ></alu-error-mapper>
      </aui-form-item>
      <aui-form-item>
        <label auiFormItemLabel>{{ 'notification_content' | translate }}</label>
        <ng-container required auiFormItemControl>
          <textarea
            aui-input
            [autosize]="{ minRows: 12, maxRows: 12 }"
            formControlName="content"
          ></textarea>
        </ng-container>
        <span auiFormItemAddon>
          <aui-icon
            [auiTooltip]="'notification_template_content_tip' | translate"
            auiTooltipPosition="start center"
            icon="basic:question"
            color="#999"
          ></aui-icon>
        </span>
        <alu-error-mapper
          auiFormItemError
          [errors]="form.get(['spec', 'content']).errors"
          [errorsMapper]="{
            required:
              'field_is_required'
              | translate: { field: 'notification_content' | translate }
          }"
        ></alu-error-mapper>
      </aui-form-item>
    </ng-container>
    <aui-form-item>
      {{ 'notification_content_template_demo' | translate }} ：
      <a href="javascript:;" (click)="showDemoTemplate(demoTemplate)">
        <aui-icon icon="basic:eye_s"></aui-icon>
        {{ 'view' | translate }}
      </a>
    </aui-form-item>
  </form>
</aui-card>

<div class="form__footer">
  <div style="flex: 1;"></div>
  <button
    type="button"
    aui-button="primary"
    [loading]="submitting"
    [disabled]="submitting"
    (click)="confirm(ngForm)"
  >
    <span *ngIf="update">{{ 'update' | translate }}</span>
    <span *ngIf="!update">{{ 'create' | translate }}</span>
  </button>
  <button type="button" aui-button [disabled]="submitting" (click)="cancel()">
    {{ 'cancel' | translate }}
  </button>
</div>

<ng-template #demoTemplate>
  <aui-dialog-header>
    {{ 'notification_content_template_demo' | translate }}
  </aui-dialog-header>
  <aui-dialog-content>
    <pre class="notification-template-content-pre">{{
      NOTIFICATION_TEMPLATE_CONTENT_WITH_TIP
    }}</pre>
  </aui-dialog-content>
</ng-template>
