:host {
  .value {
    display: flex;
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    padding: 5px 7px;
    color: #333;
    word-break: break-all;
    &__copy {
      white-space: nowrap;
      background: #fff;
      display: table;
      padding: 4px;
      margin: -5px -7px 0 4px;
      &:hover {
        color: #006eff;
        cursor: pointer;
      }
    }
  }
}
