<aui-dialog-header>
  {{ 'view_cluster_credential' | translate }}
</aui-dialog-header>

<aui-dialog-content>
  <acl-page-state [adapter]="dataManager" [autoRedirect]="false">
    <ng-template let-resource="resource">
      <form auiForm auiFormLabelPosition="right" auiFormLabelWidth="114px">
        <aui-form-item>
          <label auiFormItemLabel>
            Token
          </label>
          <div class="value">
            {{ resource.token }}
            <div class="value__copy" [auiTooltipCopy]="resource.token">
              <aui-icon icon="copy"></aui-icon>
              {{ 'copy' | translate }}
            </div>
          </div>
        </aui-form-item>
        <aui-form-item>
          <label auiFormItemLabel>
            {{ 'ca_cert' | translate }}
          </label>
          <div class="value">
            {{ resource.caCert }}
            <div class="value__copy" [auiTooltipCopy]="resource.caCert">
              <aui-icon icon="copy"></aui-icon>
              {{ 'copy' | translate }}
            </div>
          </div>
        </aui-form-item>
      </form>
    </ng-template>
  </acl-page-state>
</aui-dialog-content>
