<aui-dialog-header>
  {{ 'labels_update' | translate }}
</aui-dialog-header>

<aui-dialog-content>
  <form #form="ngForm" auiForm>
    <aui-form-item>
      <alu-key-value-form-table
        auiFormItemControl
        name="label"
        [(ngModel)]="labels"
      ></alu-key-value-form-table>
    </aui-form-item>
  </form>
</aui-dialog-content>

<aui-dialog-footer>
  <div>
    <button aui-button="primary" (click)="confirm()" [loading]="loading">
      {{ 'update' | translate }}
    </button>
    <button aui-button [auiDialogClose]="false">
      {{ 'cancel' | translate }}
    </button>
  </div>
</aui-dialog-footer>
