@import 'var';

.form-section {
  &__title {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 16px;
    display: flex;
    align-items: center;
    &:before {
      content: '';
      width: 4px;
      height: 16px;
      background-color: $color-primary;
      margin-right: 8px;
    }
  }
}

.radio-item {
  &:first-child {
    margin-bottom: 12px;
  }
  &__des {
    font-size: 12px;
    color: #999;
    padding-left: 24px;
  }
}
