<form
  *ngIf="form"
  #ngForm="ngForm"
  auiForm
  [formGroup]="form"
  auiFormLabelWidth="114px"
  [auiFormEmptyAddon]="true"
  novalidate
>
  <div class="form-section">
    <div class="form-section__title">
      {{ 'tdsql_deploy_prepare' | translate }}
    </div>
    <aui-inline-alert type="info">
      {{ 'redis_deploy_plan_prepare_hint_start' | translate }}
      <a
        target="_blank"
        href="/platform-docs/10usermanual/platformmanagement/50ace/05redis/03prepare/"
      >
        {{ 'help_document' | translate }}
        <aui-icon icon="basic:jump"></aui-icon>
      </a>
      {{ 'redis_deploy_plan_prepare_hint_end' | translate }}
    </aui-inline-alert>
    <div class="form-section__fields">
      <aui-form-item>
        <label auiFormItemLabel>
          {{ 'deploy_plan' | translate }}
        </label>
        <aui-checkbox
          auiFormItemControl
          formControlName="deployPlan"
          (valueChange)="checkStateChange($event, 'deployPlan')"
          required
        >
          {{ 'deploy_plan_text' | translate }}
        </aui-checkbox>
        <alu-error-mapper
          auiFormItemError
          [errors]="form.get('deployPlan').errors"
          [errorsMapper]="{
            required:
              'please_complete_deploy_prepare_and_check'
              | translate: { field: 'deploy_plan' | translate }
          }"
        ></alu-error-mapper>
      </aui-form-item>
      <aui-form-item>
        <label auiFormItemLabel>
          {{ 'system_params_config' | translate }}
        </label>
        <aui-checkbox
          auiFormItemControl
          formControlName="systemParamsConfig"
          (valueChange)="checkStateChange($event, 'systemParamsConfig')"
          required
        >
          {{ 'read_and_complete_operations_on_host' | translate }}
        </aui-checkbox>
        <alu-error-mapper
          auiFormItemError
          [errors]="form.get('systemParamsConfig').errors"
          [errorsMapper]="{
            required:
              'please_complete_deploy_prepare_and_check'
              | translate: { field: 'system_params_config' | translate }
          }"
        ></alu-error-mapper>
      </aui-form-item>
      <aui-form-item>
        <label auiFormItemLabel>
          {{ 'data_dir_prepare' | translate }}
        </label>
        <aui-checkbox
          auiFormItemControl
          formControlName="dataDirPrepare"
          (valueChange)="checkStateChange($event, 'dataDirPrepare')"
          required
        >
          {{ 'read_and_complete_operations_on_host' | translate }}
        </aui-checkbox>
        <alu-error-mapper
          auiFormItemError
          [errors]="form.get('dataDirPrepare').errors"
          [errorsMapper]="{
            required:
              'please_complete_deploy_prepare_and_check'
              | translate: { field: 'data_dir_prepare' | translate }
          }"
        ></alu-error-mapper>
      </aui-form-item>
    </div>
  </div>

  <div class="form-section">
    <div class="form-section__title">
      {{ 'deploy_info' | translate }}
    </div>
    <div class="form-section__fields">
      <aui-form-item>
        <label auiFormItemLabel>
          {{ 'deploy_mode' | translate }}
        </label>
        <aui-radio-group
          auiFormItemControl
          formControlName="deployMode"
          [direction]="'column'"
          required
        >
          <div class="radio-item">
            <aui-radio [value]="1" [disabled]="isDisabled">
              {{ 'minimal_deployment' | translate }}
            </aui-radio>
            <div class="radio-item__des">
              {{ 'minimal_deployment_des' | translate }}
            </div>
          </div>
          <div class="radio-item">
            <aui-radio [value]="2" [disabled]="isDisabled">
              {{ 'high_availability_deployment' | translate }}
            </aui-radio>
            <div class="radio-item__des">
              {{ 'high_availability_deployment_des' | translate }}
            </div>
          </div>
        </aui-radio-group>
        <alu-error-mapper
          auiFormItemError
          [errors]="form.get('deployMode').errors"
          [errorsMapper]="{
            required: 'please_select_deploy_mode' | translate
          }"
        ></alu-error-mapper>
      </aui-form-item>
      <aui-form-item>
        <label auiFormItemLabel>
          {{ 'deploy_version' | translate }}
        </label>
        <aui-radio-group
          auiFormItemControl
          formControlName="deployVersion"
          [direction]="'column'"
          required
        >
          <div class="radio-item">
            <aui-radio [value]="1" [disabled]="isDisabled">
              {{ 'standard_version' | translate }}
            </aui-radio>
            <div class="radio-item__des">
              {{ 'deploy_standard_version_des' | translate }}
            </div>
          </div>
          <div class="radio-item">
            <aui-radio [value]="2" [disabled]="isDisabled">
              {{ 'cluster_version' | translate }}
            </aui-radio>
            <div class="radio-item__des">
              {{ 'deploy_cluster_version_des' | translate }}
            </div>
          </div>
        </aui-radio-group>
        <alu-error-mapper
          auiFormItemError
          [errors]="form.get('deployVersion').errors"
          [errorsMapper]="{
            required: 'please_select_deploy_version' | translate
          }"
        ></alu-error-mapper>
      </aui-form-item>
    </div>
  </div>

  <div class="form-section">
    <div class="form-section__title">
      {{ 'host_allocate' | translate }}
    </div>
    <div #tipWrapper *ngIf="form.value.deployMode && form.value.deployVersion">
      <aui-inline-alert
        [type]="
          ngForm.submitted && form.get('hostsAllocation').errors
            ? 'error'
            : 'info'
        "
      >
        <div auiInlineAlertTitle>
          <ng-container
            *ngIf="
              !(ngForm.submitted && form.get('hostsAllocation').errors);
              else hasErrors
            "
          >
            <ng-container *ngIf="form.get('deployMode').value === 1">
              {{ 'minimal_deployment' | translate }}
            </ng-container>
            <ng-container *ngIf="form.get('deployMode').value === 2">
              {{ 'high_availability_deployment' | translate }}
            </ng-container>
            <ng-container *ngIf="form.get('deployVersion').value === 1">
              {{ 'standard_version' | translate }}
            </ng-container>
            <ng-container *ngIf="form.get('deployVersion').value === 2">
              {{ 'cluster_version' | translate }}
            </ng-container>
          </ng-container>
          <ng-template #hasErrors>
            <div auiInlineAlertTitle>
              {{ 'host_allocation_invalid_hint_title' | translate }}
            </div>
          </ng-template>
        </div>
        <div
          *ngIf="
            !(
              ngForm.submitted &&
              !form.get('hostsAllocation').errors?.hostNumber
            )
          "
        >
          1.
          <ng-container>
            {{
              [form.value.deployMode, form.value.deployVersion]
                | pure: getHostNumberTip
            }}
            <a
              href=""
              target="_blank"
              href="/platform-docs/10usermanual/platformmanagement/50ace/05redis/06install/01core/"
            >
              {{ 'help_document' | translate }}
              <aui-icon icon="basic:jump"></aui-icon>
            </a>
          </ng-container>
        </div>
        <ng-container
          *ngIf="
            !(
              ngForm.submitted &&
              !form.get('hostsAllocation').errors
                ?.HostAllocateFormTableComponent
            )
          "
        >
          <div>2. {{ 'host_config_requests' | translate }}</div>
          <div
            *ngFor="
              let req of hostConfigRequirement | pure: getConfigRequirements
            "
          >
            {{ req | pure: getConfigTipItem }}
          </div>
        </ng-container>
      </aui-inline-alert>
    </div>
    <div class="form-section__fields">
      <alu-host-allocate-form-table
        auiFormItemControl
        formControlName="hostsAllocation"
        [hostConfigRequirement]="hostConfigRequirement"
        [aluHostNumberRequirement]="
          [form.value.deployMode, form.value.deployVersion]
            | pure: getHostNumberRequirement
        "
      ></alu-host-allocate-form-table>
    </div>
  </div>
</form>
