<ng-container *aluPageHeaderContent>
  <aui-breadcrumb>
    <aui-breadcrumb-item>
      <span>{{ 'create_project' | translate }}</span>
    </aui-breadcrumb-item>
  </aui-breadcrumb>
</ng-container>

<aui-card>
  <div auiCardHeader>
    <alu-steps-process [steps]="steps" [currStep]="curStep"></alu-steps-process>
  </div>
  <!-- step 1 -->
  <section class="basic-info" [hidden]="curStep !== stepsEnum['BASIC']">
    <form #basicForm="ngForm" auiForm auiFormLabelWidth="140px">
      <ng-container>
        <!-- name -->
        <aui-form-item>
          <label auiFormItemLabel>{{ 'name' | translate }}</label>
          <input
            auiFormItemControl
            aui-input
            type="text"
            [placeholder]="projectPatternObj.tip | translate"
            name="name"
            #projectName="ngModel"
            required
            [(ngModel)]="data.name"
            [pattern]="projectPatternObj.pattern"
            maxlength="32"
          />
          <alu-error-mapper
            auiFormItemError
            [errors]="projectName.errors"
            [errorsMapper]="{
              required:
                'field_is_required' | translate: { field: 'name' | translate },
              pattern: projectPatternObj.tip | translate
            }"
          ></alu-error-mapper>
        </aui-form-item>
        <!-- display name -->
        <aui-form-item>
          <label auiFormItemLabel>{{ 'display_name' | translate }}</label>
          <input
            auiFormItemControl
            aui-input
            type="text"
            name="displayName"
            [(ngModel)]="data.displayName"
            maxlength="36"
          />
        </aui-form-item>
      </ng-container>
      <!-- description -->
      <aui-form-item>
        <label auiFormItemLabel>{{ 'description' | translate }}</label>
        <textarea
          auiFormItemControl
          aui-input
          name="description"
          [(ngModel)]="data.description"
        ></textarea>
      </aui-form-item>
      <!-- clusters -->
      <aui-form-item>
        <label auiFormItemLabel>{{ 'cluster_belonged' | translate }}</label>
        <aui-multi-select
          auiFormItemControl
          name="cluster"
          #projectCluster="ngModel"
          required
          [filterable]="true"
          [(ngModel)]="selectClusters"
          [value]="selectClusters"
          (valueChange)="selectClustersChange($event)"
        >
          <aui-option
            class="cluster-select"
            *ngFor="let cluster of clusterList"
            [label]="option"
            [labelContext]="{ cluster: cluster }"
            [value]="cluster"
            [disabled]="isClusterDisabled(cluster)"
            auiTooltipPosition="top start"
          >
            <div class="cluster-select-option">
              <span>{{ cluster.name }}</span>
              <span *ngIf="cluster.displayName">
                ({{ cluster.displayName }})
              </span>
              <aui-icon
                *ngIf="!cluster.isNormal"
                color="#e54545"
                icon="exclamation_triangle_s"
                [auiTooltip]="'cluster_abnormal' | translate"
              ></aui-icon>
              <div *ngIf="cluster.capacity" class="cluster-select-option__desc">
                {{ 'allocatable' | translate }}
                <span *ngIf="cluster.limit['requests.cpu']">
                  CPU {{ cluster.limit['requests.cpu'] | pure: toUnitNum
                  }}{{ 'unit_core' | translate }}({{
                    cluster.capacity['requests.cpu'] | pure: toUnitNum
                  }}{{ 'unit_core' | translate }})
                </span>
                <span *ngIf="cluster.limit['requests.memory']">
                  {{ 'memory' | translate }}
                  {{ cluster.limit['requests.memory'] | pure: toUnitGi
                  }}{{ 'unit_Gi' | translate }}({{
                    cluster.capacity['requests.memory'] | pure: toUnitGi
                  }}{{ 'unit_Gi' | translate }})
                </span>
                <span *ngIf="cluster.limit['requests.storage']">
                  {{ 'storage' | translate }}
                  {{ cluster.limit['requests.storage'] | pure: toUnitGi
                  }}{{ 'unit_Gi' | translate }}({{
                    cluster.capacity['requests.storage'] | pure: toUnitGi
                  }}{{ 'unit_Gi' | translate }})
                </span>
              </div>
            </div>
          </aui-option>
          <ng-container *aclFeatureGate="'kubefed'">
            <aui-option
              class="cluster-select"
              *ngFor="let fedCluster of fedClusters"
              [label]="option"
              [labelContext]="{ cluster: fedCluster }"
              [value]="fedCluster"
              [disabled]="isClusterFedDisabled(fedCluster)"
              auiTooltipPosition="top start"
            >
              <div class="cluster-select-option">
                <aui-icon
                  class="federation_icon"
                  icon="basic:federation_cluster"
                ></aui-icon>
                <span>{{ fedCluster.name }}</span>
                <span *ngIf="fedCluster.displayName">
                  ({{ fedCluster.displayName }})
                </span>
                <div class="cluster-select-option__desc">
                  {{ 'include' | translate }}
                  <span *ngFor="let cluster of fedCluster.clusters">
                    {{ cluster.name }}
                    <aui-icon
                      *ngIf="!cluster.isNormal"
                      color="#e54545"
                      icon="exclamation_triangle_s"
                      [auiTooltip]="'cluster_abnormal' | translate"
                    ></aui-icon>
                  </span>
                </div>
              </div>
            </aui-option>
          </ng-container>
        </aui-multi-select>
        <alu-error-mapper
          auiFormItemError
          [errors]="projectCluster.errors"
          [errorsMapper]="{
            required:
              'field_is_required'
              | translate: { field: 'cluster_belonged' | translate }
          }"
        ></alu-error-mapper>
      </aui-form-item>
    </form>
  </section>

  <!-- step 2 -->
  <alu-project-quota-form
    [hidden]="curStep !== stepsEnum['QUOTA']"
    #quotaForm
    [clusters]="selectClusters"
    [quotaMap]="quotaMap"
  ></alu-project-quota-form>

  <div class="form__footer">
    <button
      aui-button
      *ngIf="curStep === stepsEnum['QUOTA']"
      (click)="curStep = stepsEnum['BASIC']"
    >
      {{ 'prev_step' | translate }}
    </button>
    <button
      aui-button="primary"
      *ngIf="curStep === stepsEnum['BASIC']"
      (click)="stepQuota()"
    >
      {{ 'next_step' | translate }}
    </button>
    <button
      aui-button="primary"
      *ngIf="curStep === stepsEnum['QUOTA']"
      [disabled]="submitting"
      [loading]="submitting"
      (click)="create()"
    >
      {{ 'create_project' | translate }}
    </button>
    <button
      aui-button
      *ngIf="curStep === stepsEnum['BASIC'] || curStep === stepsEnum['QUOTA']"
      routerLink=".."
    >
      {{ 'cancel' | translate }}
    </button>
  </div>
</aui-card>

<ng-template #option let-cluster="cluster">
  <aui-icon
    *ngIf="cluster.clusters"
    class="federation_icon"
    icon="basic:federation_cluster"
  ></aui-icon>
  <span>{{ cluster.name }}</span>
  <span *ngIf="cluster.displayName">({{ cluster.displayName }})</span>
</ng-template>
