@import 'var';

.cluster-select ::ng-deep .aui-option {
  height: auto;
  line-height: 28px;
}

:host {
  ::ng-deep {
    .aui-card__content {
      position: relative;
    }
  }
}

.cluster-select-option {
  display: inline-block;
  align-items: center;
  vertical-align: top;
  line-height: 20px;
  padding: 4px 0;
  &__desc {
    color: $color-text-help;
    line-height: 16px;
    span {
      &:after {
        content: ',';
      }
      &:last-of-type:after {
        content: '';
      }
    }
  }
}

.federation_icon {
  color: #00a3af;
}

.links {
  .toc-links {
    a.active {
      color: $color-primary;
    }
  }
}
