<aui-card>
  <div auiCardHeader>
    {{ 'global_strategy' | translate }}
  </div>
  <alu-field-set-group auiCardContent *ngIf="data$ | async as data">
    <alu-field-set-item>
      <label>{{ 'system_log_time' | translate }}</label>
      <acl-disabled-container [isAllowed]="permissions$ | async">
        {{ data[type.SYSTEM]?.value | aclFieldNotAvailable }}
        {{ 'hint_for_the_remaining_days_suffix' | translate }}
        <button aui-button="text" (click)="openDialog(type.SYSTEM, data)">
          <aui-icon icon="basic:pencil_s" margin="right"></aui-icon>
        </button>
      </acl-disabled-container>
    </alu-field-set-item>
    <alu-field-set-item>
      <label>{{ 'platform_log_time' | translate }}</label>
      {{ data[type.PLATFORM]?.value | aclFieldNotAvailable }}
      {{ 'hint_for_the_remaining_days_suffix' | translate }}
      <acl-disabled-container [isAllowed]="permissions$ | async">
        <button aui-button="text" (click)="openDialog(type.PLATFORM, data)">
          <aui-icon icon="basic:pencil_s" margin="right"></aui-icon>
        </button>
      </acl-disabled-container>
    </alu-field-set-item>
    <alu-field-set-item>
      <label>{{ 'kubenetes_log_time' | translate }}</label>
      {{ data[type.KUBERNETES]?.value | aclFieldNotAvailable }}
      {{ 'hint_for_the_remaining_days_suffix' | translate }}
      <acl-disabled-container [isAllowed]="permissions$ | async">
        <button aui-button="text" (click)="openDialog(type.KUBERNETES, data)">
          <aui-icon icon="basic:pencil_s" margin="right"></aui-icon>
        </button>
      </acl-disabled-container>
    </alu-field-set-item>
    <alu-field-set-item>
      <label>{{ 'application_log_time' | translate }}</label>
      {{ data[type.WORKLOAD]?.value | aclFieldNotAvailable }}
      {{ 'hint_for_the_remaining_days_suffix' | translate }}
      <acl-disabled-container [isAllowed]="permissions$ | async">
        <button aui-button="text" (click)="openDialog(type.WORKLOAD, data)">
          <aui-icon icon="basic:pencil_s" margin="right"></aui-icon>
        </button>
      </acl-disabled-container>
    </alu-field-set-item>
  </alu-field-set-group>
</aui-card>
