<aui-dialog-header>
  {{ 'add_custom_resource' | translate }}
</aui-dialog-header>

<aui-dialog-content>
  <form #form="ngForm" auiForm auiFormLabelWidth="100px">
    <aui-form-item>
      <label auiFormItemLabel>API {{ 'group' | translate }}</label>
      <aui-radio-group
        required
        auiFormItemControl
        name="apiGroupType"
        [(ngModel)]="apiGroupType"
      >
        <aui-radio value="*">{{ 'default' | translate }} (*)</aui-radio>
        <aui-radio value="custom">{{ 'custom' | translate }}</aui-radio>
      </aui-radio-group>
    </aui-form-item>
    <aui-form-item *ngIf="apiGroupType == 'custom'">
      <label auiFormItemLabel>{{ 'group_name' | translate }}</label>
      <input
        required
        auiFormItemControl
        aui-input
        [pattern]="namePattern.pattern"
        name="groupName"
        [(ngModel)]="groupName"
        #groupNameRef="ngModel"
        maxlength="253"
      />
      <alu-error-mapper
        auiFormItemError
        [errors]="groupNameRef.errors"
        [errorsMapper]="{
          required:
            'field_is_required'
            | translate: { field: 'group_name' | translate },
          pattern: namePattern.tip | translate
        }"
      ></alu-error-mapper>
    </aui-form-item>
    <aui-form-item>
      <label auiFormItemLabel>{{ 'resource_name' | translate }}</label>
      <aui-tags-input
        name="resources"
        [(ngModel)]="resources"
        #resourcesRef="ngModel"
        required
        [tagInputPattern]="namePattern.pattern"
        auiFormItemControl
      ></aui-tags-input>
      <alu-error-mapper
        auiFormItemError
        [errors]="resourcesRef.errors"
        [errorsMapper]="{
          required:
            'field_is_required'
            | translate: { field: 'resource_name' | translate },
          pattern: namePattern.tip | translate
        }"
      ></alu-error-mapper>
    </aui-form-item>
  </form>
</aui-dialog-content>
<aui-dialog-footer>
  <button aui-button="primary" (click)="add(form)">
    {{ 'add' | translate }}
  </button>
  <button aui-button (click)="cancel()">
    {{ 'cancel' | translate }}
  </button>
</aui-dialog-footer>
