<alu-field-set-group>
  <alu-field-set-item>
    <label>{{ 'display_name' | translate }}</label>
    {{ namespace | aclDisplayName | aclFieldNotAvailable }}
    <acl-disabled-container aluFieldSetItemAction [isAllowed]="canUpdate">
      <button
        aui-button="text"
        (click)="onUpdateDisplayName(updateDisplayName)"
      >
        <aui-icon icon="basic:pencil_s"></aui-icon>
      </button>
    </acl-disabled-container>
  </alu-field-set-item>
  <alu-field-set-item>
    <label>{{ 'creator' | translate }}</label>
    {{ namespace | aclCreator | aclFieldNotAvailable }}
  </alu-field-set-item>
  <alu-field-set-item>
    <label>
      {{ 'namespace_administrator' | translate }}
    </label>
    <span
      [auiTooltip]="admins?.join(', ')"
      [auiTooltipDisabled]="!admins?.length"
      [auiTooltipPosition]="'top start'"
    >
      {{ admins | aclFieldNotAvailable }}
    </span>
  </alu-field-set-item>
  <alu-field-set-item>
    <label>{{ 'created_at' | translate }}</label>
    {{
      namespace | aclCreationTimestamp | aclStandardTime | aclFieldNotAvailable
    }}
  </alu-field-set-item>
  <ng-container *ngIf="!params.isFederated">
    <alu-field-set-item>
      <label>
        {{ 'annotation' | translate }}
      </label>
      <alu-tags-label [tags]="namespace?.metadata.annotations">
        <acl-disabled-container [isAllowed]="canUpdate">
          <button aui-button="text" (click)="onUpdate('annotations')">
            <aui-icon icon="basic:pencil_s"></aui-icon>
          </button>
        </acl-disabled-container>
      </alu-tags-label>
    </alu-field-set-item>
    <alu-field-set-item>
      <label>
        {{ 'label' | translate }}
      </label>
      <alu-tags-label [tags]="namespace?.metadata.labels">
        <acl-disabled-container [isAllowed]="canUpdate">
          <button aui-button="text" (click)="onUpdate('labels')">
            <aui-icon icon="basic:pencil_s"></aui-icon>
          </button>
        </acl-disabled-container>
      </alu-tags-label>
    </alu-field-set-item>
  </ng-container>
  <alu-field-set-item>
    <label>
      {{
        (params.isFederated
          ? 'federated_cluster_belonged'
          : 'cluster_belonged'
        ) | translate
      }}
    </label>
    {{
      (params.isFederated
        ? (namespace | aclLabel: 'name':'federation')
        : params.cluster
      ) | aclFieldNotAvailable
    }}
  </alu-field-set-item>
</alu-field-set-group>

<ng-template #updateDisplayName>
  <aui-dialog-header>{{ 'update_basic_info' | translate }}</aui-dialog-header>
  <aui-dialog-content>
    <form auiForm #ngForm="ngForm" (ngSubmit)="onSubmit()">
      <aui-form-item>
        <label auiFormItemLabel>{{ 'name' | translate }}</label>
        {{ namespace | aclName }}
      </aui-form-item>
      <aui-form-item>
        <label auiFormItemLabel>{{ 'display_name' | translate }}</label>
        <input
          aui-input
          auiFormItemControl
          name="displayName"
          [(ngModel)]="displayName"
        />
      </aui-form-item>
    </form>
  </aui-dialog-content>
  <aui-dialog-footer>
    <button aui-button="primary" (click)="ngForm.onSubmit()">
      {{ 'update' | translate }}
    </button>
    <button aui-button type="button" (click)="dialogRef.close()">
      {{ 'cancel' | translate }}
    </button>
  </aui-dialog-footer>
</ng-template>
