:host {
  .field-set-header {
    margin-bottom: 16px;
    font-size: 18px;
    line-height: 24px;
  }
  .template-table {
    width: 100%;
    border-collapse: collapse;
    tr {
      td {
        border: 1px solid #eee;
        padding: 7px;
        vertical-align: top;
        pre {
          background: transparent;
          font-size: 14px;
          padding: 0;
        }
      }
    }
    &_header {
      text-align: right;
      width: 90px;
      background: #f4f4f4;
    }
  }
}
