<ng-container *aluPageHeaderContent>
  <aui-breadcrumb>
    <aui-breadcrumb-item>
      <span>{{ 'notification' | translate }}</span>
    </aui-breadcrumb-item>
    <aui-breadcrumb-item>
      <a routerLink="/maintenance-center/notification_template">
        {{ 'notification_template' | translate }}
      </a>
    </aui-breadcrumb-item>
    <aui-breadcrumb-item>
      <span>
        {{ (params$ | async).name }}
      </span>
    </aui-breadcrumb-item>
  </aui-breadcrumb>
</ng-container>
<acl-page-state
  [adapter]="dataManager"
  [autoRedirect]="false"
  (redirect)="jumpToListPage()"
>
  <ng-template let-resource="resource" let-permissions="permissions">
    <aui-card>
      <div auiCardHeader>
        <span>{{ resource | aclName }}</span>
        <div fxFlex></div>
        <div class="detail-buttons" fxLayout>
          <button aui-button="default" [plain]="true" [auiDropdown]="menu">
            {{ 'action' | translate }}
            <aui-icon icon="angle_down" margin="left"></aui-icon>
          </button>
          <aui-menu #menu size="small">
            <acl-disabled-container [isAllowed]="(permissions$ | async).update">
              <aui-menu-item (click)="update(resource)">
                {{ 'update' | translate }}
              </aui-menu-item>
            </acl-disabled-container>
            <acl-disabled-container [isAllowed]="(permissions$ | async).delete">
              <aui-menu-item (click)="delete(resource)">
                {{ 'delete' | translate }}
              </aui-menu-item>
            </acl-disabled-container>
          </aui-menu>
        </div>
      </div>
      <ng-container auiCardContent>
        <alu-field-set-group>
          <alu-field-set-item>
            <label>{{ 'display_name' | translate }}</label>
            {{ resource | aclDisplayName | aclFieldNotAvailable }}
          </alu-field-set-item>
          <alu-field-set-item>
            <label>{{ 'type' | translate }}</label>
            {{
              resource
                | aclLabel: 'type'
                | pure: getTemplateTypeTranslateKey
                | translate
            }}
          </alu-field-set-item>
          <alu-field-set-item>
            <label>{{ 'description' | translate }}</label>
            {{ resource | aclDescription | aclFieldNotAvailable }}
          </alu-field-set-item>
          <alu-field-set-item>
            <label>{{ 'create_time' | translate }}</label>
            {{ resource | aclCreationTimestamp | aclStandardTime }}
          </alu-field-set-item>
        </alu-field-set-group>
        <div class="alu-separator"></div>
        <div class="field-set-header">
          {{ 'template_setting' | translate }}
        </div>
        <table
          class="template-table"
          border="0"
          cellspacing="0"
          cellpadding="0"
        >
          <tr *ngIf="(resource | aclLabel: 'type') === 'email'">
            <td class="template-table_header">
              {{ 'notification_subject' | translate }}
            </td>
            <td>{{ resource.spec.subject }}</td>
          </tr>
          <tr>
            <td class="template-table_header">
              {{ 'notification_content' | translate }}
            </td>
            <td>
              <pre>{{ resource.spec.content }}</pre>
            </td>
          </tr>
        </table>
      </ng-container>
    </aui-card>
  </ng-template>
</acl-page-state>
