<aui-dialog-header>
  <aui-icon class="header-icon" icon="exclamation_triangle_s"></aui-icon>
  {{ 'delete_project' | translate }}
</aui-dialog-header>

<aui-dialog-content>
  <aui-inline-alert type="warning" *ngIf="clearResourceTip">
    {{ clearResourceTip }}
  </aui-inline-alert>
  <p class="delete-confirm">{{ deleteConfirm }}</p>
  <p class="delete-confirm">{{ inputTitle }}</p>
  <input aui-input [(ngModel)]="inputValue" />
</aui-dialog-content>

<aui-dialog-footer>
  <div fxFlex></div>
  <div>
    <button
      aui-button="danger"
      [loading]="submitting"
      [disabled]="disabled"
      (click)="confirm()"
    >
      {{ 'remove' | translate }}
    </button>
    <button aui-button (click)="cancel()">
      {{ 'cancel' | translate }}
    </button>
  </div>
</aui-dialog-footer>
