<ng-container [formGroup]="form">
  <ng-container
    *ngFor="
      let quotaType of K8S_QUOTA_TYPES | pure: filter;
      trackBy: trackByKey
    "
  >
    <ng-container
      *ngTemplateOutlet="
        unit;
        context: {
          $implicit:
            quotaType.unit !== 'unit_ge' && (quotaType.unit | translate)
        }
      "
    ></ng-container>
    <ng-template #unit let-unit>
      <ng-container
        *ngTemplateOutlet="
          limit;
          context: { $implicit: maxLimits | pure: getQuotaLimit:quotaType.key }
        "
      ></ng-container>
      <ng-template #limit let-limit>
        <aui-form-item
          *ngIf="
            hasLimit(quotaType.key) && limit
              ? isUpdate || +limit
                ? ('recommended_no_more_than'
                  | translate
                    : {
                        content: limit + (unit ? ' ' + unit : '')
                      })
                : ('no_more_resource_tip' | translate)
              : ('unlimited' | translate) as limitText
          "
        >
          <label auiFormItemLabel>{{ quotaType.name | translate }}</label>
          <aui-input-group fxFlex>
            <input
              aui-input
              auiFormItemControl
              [formControlName]="quotaType.key"
              pattern="^\d+$"
              maxlength="10"
              [min]="getMin(quotaType.key)"
            />
            <span *ngIf="unit" auiInputAddonAfter>{{ unit }}</span>
          </aui-input-group>
          <span auiFormItemAddon>
            <aui-icon
              *ngIf="showIcon(quotaType.name)"
              [auiTooltip]="quotaType.name + '_input_tip' | translate"
              icon="basic:question"
              color="#999"
            ></aui-icon>
          </span>
          <alu-error-mapper
            auiFormItemError
            [errors]="form.controls[quotaType.key].errors"
            [errorsMapper]="{
              pattern: 'zero_positive_integer_pattern' | translate,
              min:
                'larger_than_allocated'
                | translate
                  : {
                      content: getMin(quotaType.key) + (unit ? ' ' + unit : '')
                    }
            }"
          ></alu-error-mapper>
          <ng-container auiFormItemHint>
            {{ limitText }}
            <ng-container
              *ngTemplateOutlet="
                used;
                context: {
                  $implicit: allUsed | pure: getQuotaLimit:quotaType.key
                }
              "
            ></ng-container>
            <ng-template #used let-used>
              <span *ngIf="hasLimit(quotaType.key) && limit">
                , {{ 'allocated' | translate }}{{ used }}{{ unit }}
              </span>
            </ng-template>
            <ng-container
              *ngTemplateOutlet="
                capacity;
                context: {
                  $implicit: allCapacity | pure: getQuotaLimit:quotaType.key
                }
              "
            ></ng-container>
            <ng-template #capacity let-capacity>
              <span *ngIf="hasLimit(quotaType.key) && limit">
                , {{ 'total' | translate }} {{ capacity }}{{ unit }}
              </span>
            </ng-template>
          </ng-container>
        </aui-form-item>
      </ng-template>
    </ng-template>
  </ng-container>
</ng-container>
