@import 'mixins';
@import 'var';

:host {
  display: flex;
  ::ng-deep {
    aui-icon {
      margin: 0 4px 0 8px;
    }
  }
  .unit-content {
    min-width: 58px;
    max-width: 80px;
    margin-right: 4px;
    color: $color-black;
    @include text-overflow;
    &:last-child {
      margin-right: 0;
    }
  }
}
