@import 'var';

.aui-table__column {
  &-products {
    flex: 5;
    div {
      line-height: $line-height-regular;
    }
  }
  &-status {
    flex: 4;
  }
  &-version_type,
  &-effective_time,
  &-deadline_time {
    flex: 3;
  }
  &-action {
    flex-basis: 44px;
  }
}

.status {
  &--activated {
    color: $color-success;
  }
  &--expired {
    color: $color-warning;
  }
  &--invalid {
    color: $color-text-disabled;
  }
}

.nearby-outdate__wrapper {
  color: $color-danger;
  margin-left: 4px;
}
