<ng-container *aluPageHeaderContent>
  <aui-breadcrumb>
    <aui-breadcrumb-item>
      <span>{{ 'license_manage' | translate }}</span>
    </aui-breadcrumb-item>
  </aui-breadcrumb>
</ng-container>
<aui-inline-alert type="warning" class="text--multiline">
  <div>{{ 'license_manage_tip' | translate }}</div>
  <ol [ngStyle]="{ margin: 0, paddingLeft: '1.2em' }">
    <li>
      <a href="javascript:;" (click)="downloadCfcInfo()">
        {{ 'download' | translate }}
      </a>
      {{ 'license_manage_cfc_tip' | translate }}
    </li>
    <li>{{ 'license_manage_import_tip' | translate }}</li>
  </ol>
</aui-inline-alert>
<aui-card [divider]="false">
  <div auiCardHeader>
    <acl-disabled-container [isAllowed]="(permissions$ | async).create">
      <button aui-button="primary" (click)="importLicense()">
        {{ 'import_license' | translate }}
      </button>
    </acl-disabled-container>
  </div>
  <aui-table [dataSource]="list.items$ | async">
    <aui-table-header-row
      *auiTableHeaderRowDef="columns"
    ></aui-table-header-row>
    <aui-table-row *auiTableRowDef="let row; columns: columns"></aui-table-row>

    <ng-container auiTableColumnDef="products">
      <aui-table-header-cell *auiTableHeaderCellDef>
        {{ 'products' | translate }}
      </aui-table-header-cell>
      <aui-table-cell
        *auiTableCellDef="let item"
        fxLayout="column"
        fxLayoutGap="6px"
      >
        <div *ngFor="let product of item.spec.products">
          {{ product.name | pure: formatProductsName }}
        </div>
      </aui-table-cell>
    </ng-container>

    <ng-container auiTableColumnDef="status">
      <aui-table-header-cell *auiTableHeaderCellDef>
        {{ 'status' | translate }}
      </aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let item">
        <ng-container
          [ngTemplateOutlet]="statusTmpl"
          [ngTemplateOutletContext]="{
            $implicit: item | pure: resolveStatus
          }"
        ></ng-container>

        <ng-template #statusTmpl let-status>
          <aui-icon
            [class]="'status--' + status"
            [icon]="status | pure: getLicenseStatusIcon"
            margin="right"
          ></aui-icon>
          {{ status | translate }}
          <span *ngIf="item.spec.enabled" class="nearby-outdate__wrapper">
            {{
              (item.spec.validity.notAfter | pure: nearbyOutdate)
                ? ('nearby_outdate_hint' | translate)
                : ''
            }}
          </span>
        </ng-template>
      </aui-table-cell>
    </ng-container>

    <ng-container auiTableColumnDef="version_type">
      <aui-table-header-cell *auiTableHeaderCellDef>
        {{ 'version_type' | translate }}
      </aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let item">
        {{ item.spec.type | lowercase | translate }}
      </aui-table-cell>
    </ng-container>

    <ng-container auiTableColumnDef="effective_time">
      <aui-table-header-cell *auiTableHeaderCellDef>
        {{ 'effective_time' | translate }}
      </aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let item">
        {{ item.spec.validity.notBefore | aclStandardDate }}
      </aui-table-cell>
    </ng-container>

    <ng-container auiTableColumnDef="deadline_time">
      <aui-table-header-cell *auiTableHeaderCellDef>
        {{ 'deadline_time' | translate }}
      </aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let item">
        {{ item.spec.validity.notAfter | aclStandardDate }}
      </aui-table-cell>
    </ng-container>

    <ng-container auiTableColumnDef="action">
      <aui-table-header-cell *auiTableHeaderCellDef></aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let item">
        <ng-container *ngIf="permissions$ | async; let permission">
          <alu-menu-trigger [menu]="menu" size="small"></alu-menu-trigger>
          <aui-menu #menu size="small">
            <acl-disabled-container [isAllowed]="permission.delete">
              <aui-menu-item (click)="deleteLicense(item)">
                {{ 'delete' | translate }}
              </aui-menu-item>
            </acl-disabled-container>
          </aui-menu>
        </ng-container>
      </aui-table-cell>
    </ng-container>
  </aui-table>
  <acl-k8s-resource-list-footer [list]="list"></acl-k8s-resource-list-footer>
</aui-card>
