<aui-dialog-header>
  {{ 'execution_progress' | translate }}
  <ng-container *ngIf="data?.name">: {{ data.name }}</ng-container>
</aui-dialog-header>

<aui-dialog-content>
  <aui-table [dataSource]="data.conditions">
    <aui-table-header-row
      *auiTableHeaderRowDef="columns"
    ></aui-table-header-row>
    <aui-table-row *auiTableRowDef="let row; columns: columns"></aui-table-row>
    <ng-container auiTableColumnDef="type">
      <aui-table-header-cell *auiTableHeaderCellDef>
        {{ 'type' | translate }}
      </aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let item">
        {{ item.type }}
      </aui-table-cell>
    </ng-container>
    <ng-container auiTableColumnDef="status">
      <aui-table-header-cell *auiTableHeaderCellDef>
        {{ 'status' | translate }}
      </aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let item">
        <alu-status-icon [status]="item | pure: getStatus"></alu-status-icon>
        {{ item | pure: getStatus | translate }}
      </aui-table-cell>
    </ng-container>
    <ng-container auiTableColumnDef="last_detect_time">
      <aui-table-header-cell *auiTableHeaderCellDef>
        {{ 'last_detect_time' | translate }}
      </aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let item">
        {{ item.lastTransitionTime | aclStandardTime }}
      </aui-table-cell>
    </ng-container>
    <ng-container auiTableColumnDef="reason">
      <aui-table-header-cell *auiTableHeaderCellDef>
        {{ 'reason' | translate }}
      </aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let item">
        <ng-container *ngIf="item.reason === 'Created'">-</ng-container>
        <ng-container *ngIf="item.reason !== 'Created'">
          <ng-container *ngIf="item.message">
            <button aui-button="text" [auiTooltip]="item.message">
              {{ item.reason }}
            </button>
          </ng-container>
          <ng-container *ngIf="!item.message">{{ item.reason }}</ng-container>
        </ng-container>
      </aui-table-cell>
    </ng-container>
  </aui-table>
</aui-dialog-content>
