.node-list {
  width: 100%;
  border: 1px solid #f0f0f0;
  border-collapse: collapse;
  tbody {
    background-color: #fff;
    tr:not(:first-of-type) {
      border-top: 1px dashed #e8e8e8;
    }
  }
}
