<alu-array-form-table
  [noRowSeparator]="true"
  [resourceName]="'node'"
  (add)="add()"
  [rows]="nodes"
>
  <!-- Input row -->
  <ng-container *aluArrayFormTableRow="let item">
    <td>
      <table class="node-list">
        <thead>
          <th style="width: 40%;">
            {{ 'ssh_port' | translate }}：{{ item.port }}
          </th>
          <th style="width: 30%;">
            {{ 'cert_method' | translate }}：{{ item.certMethod | translate }}
          </th>
          <th style="width: 30%;">
            {{ 'username' | translate }}：{{ item.username }}
          </th>
        </thead>
        <tbody>
          <tr *ngFor="let machine of item.machines">
            <td>
              <ng-container *ngIf="machine.type === 'master'">
                {{ 'cluster_master_node' | translate }}
              </ng-container>
              <ng-container *ngIf="machine.type !== 'master'">
                {{ 'cluster_slave_node' | translate }}
              </ng-container>
              ：{{ machine.ip }}
              <ng-container *ngIf="machine.displayname">
                （{{ machine.displayname }}）
              </ng-container>
            </td>
            <td *ngIf="enableGPU">
              {{ 'gpu_host' | translate }}：{{
                (machine.switch ? 'yes' : 'no') | translate
              }}
            </td>
            <td>
              <ng-container *ngIf="machine.type === 'master'">
                {{ 'can_deploy_app' | translate }}：{{
                  (machine.deployapp ? 'yes' : 'no') | translate
                }}
              </ng-container>
              <ng-container *ngIf="machine.type !== 'master'">-</ng-container>
            </td>
            <td *ngIf="!enableGPU"></td>
          </tr>
        </tbody>
      </table>
    </td>
  </ng-container>

  <ng-container *aluArrayFormTableRowControl="let item; let index = index">
    <button
      aui-button="text"
      size="mini"
      type="button"
      (click)="edit(index)"
      [square]="true"
      [plain]="true"
    >
      <aui-icon icon="basic:pencil_edit"></aui-icon>
    </button>
    <button
      aui-button="text"
      size="mini"
      type="button"
      (click)="remove(index)"
      [square]="true"
      [plain]="true"
    >
      <aui-icon icon="basic:minus_circle"></aui-icon>
    </button>
  </ng-container>

  <ng-container *aluArrayFormTableFooter>
    <button
      aui-button="primary"
      type="button"
      size="mini"
      [plain]="true"
      (click)="add()"
    >
      <aui-icon icon="basic:add_circle"></aui-icon>
      {{ 'add_node' | translate }}
    </button>
  </ng-container>
</alu-array-form-table>
