<ng-container *aluPageHeaderContent>
  <aui-breadcrumb>
    <aui-breadcrumb-item>
      <span>{{ 'user_role_management' | translate }}</span>
    </aui-breadcrumb-item>
    <aui-breadcrumb-item>
      <span>{{ 'user_manage' | translate }}</span>
    </aui-breadcrumb-item>
  </aui-breadcrumb>
</ng-container>

<aui-card [divider]="false">
  <div auiCardHeader>
    <ng-container *ngIf="permissions$ | async; let permission">
      <acl-disabled-container
        [isAllowed]="permission.create"
        [isDisabled]="!(idps$ | async)?.length"
        [tooltip]="'unset_idp_can_not_sync_user' | translate"
      >
        <button aui-button="primary" (click)="syncUser()">
          {{ 'sync_user' | translate }}
        </button>
      </acl-disabled-container>
      <acl-disabled-container [isAllowed]="permission.create">
        <button aui-button="primary" [plain]="true" [routerLink]="['create']">
          {{ 'create_user' | translate }}
        </button>
      </acl-disabled-container>
      <acl-disabled-container [isAllowed]="permission.delete">
        <button
          aui-button="primary"
          [plain]="true"
          (click)="cleanUpInvalidUser()"
        >
          {{ 'clean_up_invalid_user' | translate }}
        </button>
      </acl-disabled-container>
    </ng-container>
    <div fxFlex></div>
    <alu-search-group-wrapper>
      <aui-select
        fxFlex="1 1 100px"
        [(ngModel)]="searchType"
        (ngModelChange)="searchTypeChange($event)"
      >
        <aui-option
          *ngFor="let item of searchTypeList"
          [value]="item"
          [label]="item | translate"
        >
          {{ item | translate }}
        </aui-option>
      </aui-select>
      <aui-search
        [placeholder]="searchType | pure: getPlaceHolder | translate"
        [keyword]="keywords$ | async"
        [searchButton]="true"
        (search)="search($event)"
      ></aui-search>
    </alu-search-group-wrapper>
  </div>
  <aui-table [dataSource]="list.items$ | async">
    <aui-table-header-row
      *auiTableHeaderRowDef="columns"
    ></aui-table-header-row>
    <aui-table-row *auiTableRowDef="let row; columns: columns"></aui-table-row>
    <ng-container auiTableColumnDef="account">
      <aui-table-header-cell *auiTableHeaderCellDef>
        {{ 'account' | translate }}
      </aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let item">
        <a
          class="table-cell__name"
          [routerLink]="['detail', item.metadata.name]"
        >
          {{ item.spec.email }}
        </a>
        <div class="table-cell__label-container table-cell__display-name">
          {{ item | aclDisplayName }}
        </div>
      </aui-table-cell>
    </ng-container>
    <ng-container auiTableColumnDef="user_group">
      <aui-table-header-cell *auiTableHeaderCellDef>
        {{ 'user_group' | translate }}
      </aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let item">
        <alu-user-groups-display
          [groups]="item.spec.groups"
          parentPadding="20"
        ></alu-user-groups-display>
      </aui-table-cell>
    </ng-container>
    <ng-container auiTableColumnDef="role">
      <aui-table-header-cell *auiTableHeaderCellDef>
        {{ 'role' | translate }}
      </aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let item">
        <alu-user-groups-display
          [groups]="userRoleMap[item.metadata.name]"
          parentPadding="20"
        ></alu-user-groups-display>
      </aui-table-cell>
    </ng-container>
    <ng-container auiTableColumnDef="source">
      <aui-table-header-cell *auiTableHeaderCellDef>
        {{ 'source' | translate }}
      </aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let item">
        {{ item | aclLabel: 'user.connector_id':'auth' | aclFieldNotAvailable }}
      </aui-table-cell>
    </ng-container>
    <ng-container auiTableColumnDef="status">
      <aui-table-header-cell *auiTableHeaderCellDef>
        {{ 'status' | translate }}
      </aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let item">
        <alu-status-icon
          status="{{ item.spec.valid ? 'success' : 'invalid' }}"
        ></alu-status-icon>
        {{ (item.spec.valid ? 'valid' : 'invalid') | translate }}
      </aui-table-cell>
    </ng-container>
    <ng-container auiTableColumnDef="create_time">
      <aui-table-header-cell *auiTableHeaderCellDef>
        {{ 'create_time' | translate }}
      </aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let item">
        {{ item.metadata.creationTimestamp | aclRelativeTime }}
      </aui-table-cell>
    </ng-container>
    <ng-container auiTableColumnDef="action">
      <aui-table-header-cell *auiTableHeaderCellDef></aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let item">
        <ng-container *ngIf="permissions$ | async; let permission">
          <alu-menu-trigger [menu]="menu" size="small"></alu-menu-trigger>
          <aui-menu #menu size="small">
            <acl-disabled-container
              *ngIf="item.spec.connector_type == 'local'"
              [isAllowed]="permission.update"
              [isDisabled]="accountEmail$ | async | pure: isDisabled:item"
              [tooltip]="item | pure: getDisabledTooltip | translate"
              tooltipPosition="start top"
            >
              <aui-menu-item (click)="resetPassword(item)">
                {{ 'reset_password' | translate }}
              </aui-menu-item>
            </acl-disabled-container>
            <acl-disabled-container
              [isAllowed]="permission.delete"
              [isDisabled]="accountEmail$ | async | pure: isDisabled:item"
              [tooltip]="item | pure: getDisabledTooltip | translate"
              tooltipPosition="start top"
            >
              <aui-menu-item (click)="deleteUser(item)">
                {{ 'delete' | translate }}
              </aui-menu-item>
            </acl-disabled-container>
          </aui-menu>
        </ng-container>
      </aui-table-cell>
    </ng-container>
  </aui-table>
  <acl-k8s-resource-list-footer [list]="list"></acl-k8s-resource-list-footer>
</aui-card>
