/* stylelint-disable scss/dollar-variable-default */
@import 'var';

$main-green: $green-6;
$main-red: $red-6;
$main-yellow: $orange-6;
$main-blue: $blue-5;
$main-gray: $gray-7;

$secondary-green: $green-3;
$secondary-red: $red-2;
$secondary-yellow: $orange-3;
$secondary-blue: $blue-2;
$secondary-gray: $gray-5;

$state-colors: ('green', 'yellow', 'red', 'blue', 'gray');

@function main($color) {
  @if ($color == 'green') {
    @return $main-green;
  } @else if ($color == 'red') {
    @return $main-red;
  } @else if ($color == 'yellow') {
    @return $main-yellow;
  } @else if ($color == 'blue') {
    @return $main-blue;
  } @else if ($color == 'gray') {
    @return $main-gray;
  }
}

@function secondary($color) {
  @if ($color == 'green') {
    @return $secondary-green;
  } @else if ($color == 'red') {
    @return $secondary-red;
  } @else if ($color == 'yellow') {
    @return $secondary-yellow;
  } @else if ($color == 'blue') {
    @return $secondary-blue;
  } @else if ($color == 'gray') {
    @return $secondary-gray;
  }
}
