<form (ngSubmit)="removeCluster()">
  <aui-dialog-header>
    <aui-icon
      icon="exclamation_triangle_s"
      size="22"
      color="#eb6262"
    ></aui-icon>
    {{ 'remove_cluster' | translate }}
  </aui-dialog-header>
  <aui-dialog-content>
    <aui-inline-alert type="warning" *ngIf="clearResourceTip">
      {{ clearResourceTip }}
    </aui-inline-alert>
    <p class="confirm-delete__tips">
      {{
        'remove_cluster_confirm_title'
          | translate: { name: dialogData.projectName }
      }}
    </p>
    <div class="confirm-delete__label">
      {{
        'please_enter_a_correct_cluster_name_to_determine_removal' | translate
      }}
    </div>
    <aui-input-group>
      <aui-icon
        *ngIf="isFedCluster(inputValue)"
        auiInputPrefix
        class="federation_icon"
        icon="basic:federation_cluster"
      ></aui-icon>
      <input
        auiFormItemControl
        aui-input
        name="resource-name"
        [(ngModel)]="inputValue"
      />
    </aui-input-group>
    <div class="confirm-delete__extra-confirm-tips">
      {{ 'clusters_under_project' | translate }}
      <span class="cluster_name" *ngFor="let clusetrName of clusterNames">
        <aui-icon
          *ngIf="isFedCluster(clusetrName)"
          class="federation_icon"
          icon="basic:federation_cluster"
        ></aui-icon>
        {{ clusetrName }}
      </span>
    </div>
  </aui-dialog-content>
  <aui-dialog-footer>
    <aui-checkbox name="clearResource" [(ngModel)]="clearResource">
      {{ 'clear_cluster_resource' | translate }}
    </aui-checkbox>
    <div fxFlex></div>
    <button
      aui-button="danger"
      [loading]="deleting"
      [disabled]="!clusterNames.includes(inputValue)"
    >
      {{ 'remove' | translate }}
    </button>
    <button aui-button type="button" (click)="closeDialog()">
      {{ 'cancel' | translate }}
    </button>
  </aui-dialog-footer>
</form>
