@import 'var';

.confirm-delete {
  &__tips {
    margin: 0 0 16px 0;
    color: $color-text-main;
    word-break: break-all;
  }

  &__extra-confirm-tips {
    margin-top: 4px;
    font-size: $font-size-small;
    color: $color-text-help;
  }

  &__label {
    display: flex;
    align-items: center;
    line-height: 32px;
    word-break: break-all;
  }
}

.federation_icon {
  color: #00a3af;
}

.cluster_name {
  &:after {
    content: '、';
  }
  &:last-of-type:after {
    content: '';
  }
}
