@import 'var';

.section {
  &-title {
    position: relative;
    height: 22px;
    line-height: 22px;
    padding-left: 12px;
    margin: 16px 0;
    font-size: 16px;
    font-weight: 500;

    &:before {
      content: '';
      position: absolute;
      left: 0;
      top: 50%;
      margin-top: -8px;
      width: 4px;
      height: 16px;
      background-color: $color-primary;
    }
  }
}

.deploy-bottom {
  border-top: 1px solid #ededed;
}

.form-submit {
  padding-left: 114px;
  padding-top: 20px;
}

.button-overview {
  margin-right: auto;
}
