@import 'var';

::ng-deep .aui-card {
  margin-bottom: 52px;
}

.deploy-title {
  display: flex;
  align-items: baseline;
  margin-bottom: 20px;
  &__name {
    font-size: 18px;
    font-weight: 400;
  }
  &__version {
    font-size: 14px;
    margin: 0 8px;
  }
  .icon-question {
    color: #999;
    font-size: 16px;
    &:hover {
      color: $color-primary;
    }
  }
}

.deploy-process {
  font-size: 16px;
  border-bottom: 1px solid #ededed;
  margin-bottom: 16px;
  padding: 0 24px 12px;
}
