<ng-container *aluPageHeaderContent>
  <div fxLayoutAlign="space-between center">
    <aui-breadcrumb>
      <aui-breadcrumb-item>
        <a routerLink="../../..">{{ 'product_management' | translate }}</a>
      </aui-breadcrumb-item>
      <aui-breadcrumb-item>
        <span>{{ 'tdsql_deploy' | translate }}</span>
      </aui-breadcrumb-item>
    </aui-breadcrumb>

    <a
      href="/platform-docs/10usermanual/platformmanagement/50ace/03tdsql/"
      target="_blank"
      style="font-size: 14px;"
    >
      {{ 'deployment_instructions' | translate }}
      <aui-icon icon="basic:jump"></aui-icon>
    </a>
  </div>
</ng-container>

<aui-card>
  <div class="deploy-title">
    <span class="deploy-title__name">{{ 'tdsql_deploy' | translate }}</span>
    <span class="deploy-title__version">{{ version }}</span>
    <aui-icon
      icon="basic:question"
      [auiTooltip]="'tdsql_description' | translate"
    ></aui-icon>
  </div>
  <div class="deploy-process">
    <alu-steps-process
      [steps]="steps"
      [currStep]="currentState | pure: getStageNumber"
    ></alu-steps-process>
  </div>

  <ng-container *ngIf="(detail$ | async) && (installState$ | async)">
    <!-- core -->
    <alu-tdsql-deploy-core-step
      *ngIf="currentState?.stage === 'core'"
      [cr]="cr$ | async"
      [model]="model?.core"
      [installState]="currentState"
      [tasks]="cr$ | async | pure: getStageTasks:'core'"
      (next)="toNextStep()"
      (start)="deployCore($event)"
      (stop)="stopDeploy()"
      (cancel)="close($event)"
    ></alu-tdsql-deploy-core-step>

    <!-- chitu -->
    <alu-tdsql-deploy-chitu-step
      *ngIf="currentState?.stage === 'chitu'"
      [cr]="cr$ | async"
      [model]="model?.chitu"
      [tasks]="cr$ | async | pure: getStageTasks:'chitu'"
      [installState]="currentState"
      (next)="toNextStep()"
      (start)="deployChitu($event)"
      (stop)="stopDeploy()"
      (cancel)="close($event)"
    ></alu-tdsql-deploy-chitu-step>

    <!-- reliability -->
    <alu-tdsql-deploy-reliability-step
      *ngIf="currentState?.stage === 'reliability'"
      [cr]="cr$ | async"
      [tasks]="cr$ | async | pure: getStageTasks:'reliability'"
      [installState]="currentState"
      [componentReqs]="(cr$ | async)?.spec.componentreqs"
      [model]="model?.reliability"
      [chituHostIp]="chituHostIp"
      (start)="deployReliability($event)"
      (stop)="stopDeploy()"
      (complete)="close($event, 'complete')"
    ></alu-tdsql-deploy-reliability-step>
  </ng-container>
</aui-card>
