<ng-container *aluPageHeaderContent>
  <aui-breadcrumb>
    <aui-breadcrumb-item>
      <span>{{ 'notification' | translate }}</span>
    </aui-breadcrumb-item>
    <aui-breadcrumb-item>
      <a routerLink="/maintenance-center/notification_server">
        {{ 'notification_server' | translate }}
      </a>
    </aui-breadcrumb-item>
    <aui-breadcrumb-item>
      <span>
        {{ (params$ | async).name }}
      </span>
    </aui-breadcrumb-item>
  </aui-breadcrumb>
</ng-container>
<acl-page-state
  [adapter]="dataManager"
  [autoRedirect]="false"
  (redirect)="jumpToListPage()"
>
  <ng-template let-resource="resource" let-permissions="permissions">
    <aui-card>
      <div auiCardHeader>
        <span>{{ resource | aclName }}</span>
        <div fxFlex></div>
        <div class="detail-buttons" fxLayout>
          <button aui-button="default" [plain]="true" [auiDropdown]="menu">
            {{ 'action' | translate }}
            <aui-icon icon="angle_down" margin="left"></aui-icon>
          </button>
          <aui-menu #menu size="small">
            <acl-disabled-container [isAllowed]="(permissions$ | async).update">
              <aui-menu-item (click)="update(resource)">
                {{ 'update' | translate }}
              </aui-menu-item>
            </acl-disabled-container>
            <acl-disabled-container [isAllowed]="(permissions$ | async).delete">
              <aui-menu-item type="danger" (click)="delete(confirmDelete)">
                {{ 'delete' | translate }}
              </aui-menu-item>
            </acl-disabled-container>
          </aui-menu>
        </div>
      </div>
      <ng-container auiCardContent>
        <alu-field-set-group>
          <alu-field-set-item>
            <label>{{ 'display_name' | translate }}</label>
            {{ resource | aclDisplayName | aclFieldNotAvailable }}
          </alu-field-set-item>
          <alu-field-set-item>
            <label>{{ 'type' | translate }}</label>
            {{ resource | aclLabel: 'type' | translate }}
          </alu-field-set-item>
          <alu-field-set-item>
            <label>{{ 'description' | translate }}</label>
            {{ resource | aclDescription | aclFieldNotAvailable }}
          </alu-field-set-item>
          <alu-field-set-item>
            <label>{{ 'create_time' | translate }}</label>
            {{ resource | aclCreationTimestamp | aclStandardTime }}
          </alu-field-set-item>
        </alu-field-set-group>
        <div class="alu-separator"></div>
        <div class="field-set-header">
          {{ 'server_setting' | translate }}
        </div>
        <alu-field-set-group>
          <ng-container *ngIf="resource.spec.email as email">
            <alu-field-set-item>
              <label>{{ 'host' | translate }}</label>
              {{ email.host }}
            </alu-field-set-item>
            <alu-field-set-item>
              <label>{{ 'is_use_ssl' | translate }}</label>
              {{ (email.ssl ? 'yes' : 'no') | translate }}
            </alu-field-set-item>
            <alu-field-set-item>
              <label>{{ 'port' | translate }}</label>
              {{ email.port }}
            </alu-field-set-item>
            <alu-field-set-item>
              <label>{{ 'is_skip_verify' | translate }}</label>
              {{ (email.insecureSkipVerify ? 'yes' : 'no') | translate }}
            </alu-field-set-item>
          </ng-container>
        </alu-field-set-group>
      </ng-container>
    </aui-card>
    <ng-template #confirmDelete>
      <alu-confirm-delete
        [context]="context"
        [title]="'delete_notification_server_title' | translate"
        [resourceName]="resource.metadata.name"
        [deleteTips]="
          'delete_notification_server_content'
            | translate: { name: resource.metadata.name }
        "
        [deleteResourceApi]="deleteNotificationServer"
        [deleteSuccessMsg]="'delete_success' | translate"
        [deleteFailMsg]="'delete_failed' | translate"
        (close)="deleteDialogRef.close()"
      ></alu-confirm-delete>
    </ng-template>
  </ng-template>
</acl-page-state>
