<aui-table [dataSource]="quotaItems$">
  <aui-table-header-row *auiTableHeaderRowDef="columns"></aui-table-header-row>
  <aui-table-row *auiTableRowDef="let row; columns: columns"></aui-table-row>

  <ng-container *ngFor="let quotaType of K8S_QUOTA_TYPES">
    <ng-container [auiTableColumnDef]="quotaType.name">
      <aui-table-header-cell *auiTableHeaderCellDef>
        {{ quotaType.name | translate }}
        <ng-container *ngIf="quotaType.unit !== 'unit_ge'">
          {{ 'bracket' | translate: { content: quotaType.unit | translate } }}
        </ng-container>
      </aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let item">
        <ng-container
          *ngTemplateOutlet="tmpl; context: item | pure: calc:quotaType"
        ></ng-container>
        <ng-template #tmpl let-total="total" let-used="used" let-ratio="ratio">
          <div
            [ngStyle]="{
              color: ratio > 0.9 ? '#e54545' : ratio > 0.7 ? '#ffab00' : ''
            }"
          >
            <ng-container *ngIf="total; else unlimited">
              {{
                ratio >= 0
                  ? (ratio * 100).toFixed(2) + '%'
                  : ('' | aclFieldNotAvailable)
              }}
            </ng-container>
            <ng-template #unlimited>{{ 'unlimited' | translate }}</ng-template>
          </div>
          <div>
            {{ used | aclFieldNotAvailable }}
            /
            {{ total || ('unlimited' | translate) }}
          </div>
        </ng-template>
      </aui-table-cell>
    </ng-container>
  </ng-container>
</aui-table>
