@import 'var';

.header-text {
  font-size: 18px;
  line-height: 24px;
  padding-bottom: 12px;
}

.title {
  align-self: center;
  display: flex;
  align-items: center;
  &-text {
    padding-left: 8px;
    padding-right: 40px;
    display: block;
    .display-name {
      font-size: 18px;
      color: #333;
      line-height: 24px;
    }
    .description {
      font-size: 12px;
      line-height: 16px;
      color: #999;
      margin-top: 2px;
    }
  }
  img {
    align-self: center;
    width: 40px;
    height: 40px;
  }
}

hr {
  width: 100%;
  border: dashed 1px #ededed;
  transform: scaleY(0.5);
  margin-bottom: 16px;
}

.process {
  margin-left: 6px;
  cursor: pointer;
  overflow: hidden;
  img {
    height: 14px;
    line-height: 20px;
    vertical-align: middle;
  }
  &:hover {
    img {
      height: 14px;
      line-height: 20px;
      vertical-align: middle;
      filter: drop-shadow($color-primary 150px 0);
      transform: translateX(-150px);
    }
  }
}
