<ng-container *aluPageHeaderContent>
  <aui-breadcrumb>
    <aui-breadcrumb-item>
      <a routerLink="/manage-platform/product">
        {{ 'product_management' | translate }}
      </a>
    </aui-breadcrumb-item>
    <aui-breadcrumb-item>
      <span>{{ 'coding_detail' | translate }}</span>
    </aui-breadcrumb-item>
  </aui-breadcrumb>
</ng-container>
<aui-card *ngIf="isShow">
  <div auiCardHeader>
    <div fxFlexAlign="center" class="title">
      <img
        [src]="crd$ | async | aclAnnotation: 'product-logo' | pure: getLogo"
        alt="icon"
      />
      <div class="title-text">
        <div class="display-name">{{ crd$ | async | aclDisplayName }}</div>
        <div class="description">{{ crd$ | async | aclDescription }}</div>
      </div>
    </div>
    <div fxFlex></div>
    <button aui-button [plain]="true" [auiDropdown]="menu">
      {{ 'action' | translate }}
      <aui-icon icon="angle_down" margin="left"></aui-icon>
    </button>
    <aui-menu #menu>
      <ng-template auiMenuContent>
        <aui-menu-item (click)="deployProcess()">
          {{ 'coding_deploy_status' | translate }}
        </aui-menu-item>
        <acl-disabled-container
          [isAllowed]="(coding$ | async)?.status?.deletable"
          [isDisabled]="isDelete"
          [tooltip]="'deletion_not_supported_in_current_state' | translate"
        >
          <aui-menu-item (click)="deleteDialog(confirmDelete)">
            {{ 'uninstall' | translate }}
          </aui-menu-item>
          <ng-template #confirmDelete>
            <alu-confirm-delete
              type="uninstall"
              [context]="context"
              [title]="'uninstall_product' | translate"
              [resourceName]="'Coding'"
              [deleteTips]="
                'delete_product_content' | translate: { name: 'Coding' }
              "
              [deleteResourceApi]="deleteCoding"
              [deleteSuccessMsg]="
                'product_uninstall_successed' | translate: { name: 'Coding' }
              "
              [deleteFailMsg]="
                'product_uninstall_failed' | translate: { name: 'Coding' }
              "
              (close)="deleteDialogRef.close()"
            ></alu-confirm-delete>
          </ng-template>
        </acl-disabled-container>
      </ng-template>
    </aui-menu>
  </div>
  <div class="header-text">
    {{ 'basic_info' | translate }}
  </div>
  <alu-field-set-group>
    <alu-field-set-item>
      <label>{{ 'product_deploy_status' | translate }}</label>
      <span>
        <alu-status-icon
          [status]="coding$ | async | pure: getDeployStatus"
        ></alu-status-icon>
        {{
          'deploy_status_' + (coding$ | async | pure: getDeployStatus)
            | translate
        }}
        <a
          class="process"
          [auiTooltip]="'coding_deploy_status' | translate"
          [auiTooltipPosition]="'top center'"
          (click)="deployProcess()"
        >
          <img alt="process" src="products/process.svg" />
        </a>
      </span>
    </alu-field-set-item>
    <alu-field-set-item>
      <label>{{ 'product_entrance' | translate }}</label>
      <a
        [href]="
          (coding$ | async)?.status?.productEntrypoint | pure: getProductHref
        "
        target="_blank"
      >
        {{ 'coding_href' | translate }}
        <aui-icon icon="basic:jump"></aui-icon>
      </a>
    </alu-field-set-item>
  </alu-field-set-group>
  <alu-field-set-group>
    <alu-field-set-item>
      <label>{{ 'coding_running_status' | translate }}</label>
      <span>
        <alu-status-icon
          *ngIf="coding$ | async | pure: getRunningStatus"
          [status]="coding$ | async | pure: getRunningStatus"
        ></alu-status-icon>
        {{
          'deploy_running_' + (coding$ | async | pure: getRunningStatus)
            | translate
        }}
      </span>
    </alu-field-set-item>
    <alu-field-set-item>
      <label>{{ 'product_type' | translate }}</label>
      {{ (crd$ | async | aclLabel: 'product-type')?.toLowerCase() | translate }}
    </alu-field-set-item>
  </alu-field-set-group>
  <alu-field-set-group>
    <alu-field-set-item>
      <label>{{ 'product_version' | translate }}</label>
      {{ (coding$ | async)?.status?.version }}
    </alu-field-set-item>
    <alu-field-set-item>
      <label>{{ 'deployment_time' | translate }}</label>
      {{ coding$ | async | aclCreationTimestamp | aclStandardTime }}
    </alu-field-set-item>
  </alu-field-set-group>
  <hr />
  <div class="header-text">
    {{ 'cluster_cluster_info' | translate }}
  </div>
  <alu-field-set-group>
    <alu-field-set-item>
      <label>{{ 'cluster_name' | translate }}</label>
      {{ cluster$ | async | aclName }}
    </alu-field-set-item>
    <alu-field-set-item>
      <label>{{ 'cluster_display_name' | translate }}</label>
      {{ cluster$ | async | aclDisplayName }}
    </alu-field-set-item>
  </alu-field-set-group>
  <alu-field-set-group>
    <alu-field-set-item>
      <label>{{ 'cluster_status' | translate }}</label>
      <alu-status-icon
        [status]="cluster$ | async | pure: getClusterStatus"
      ></alu-status-icon>
      {{
        'cluster_status_' + (cluster$ | async | pure: getClusterStatus)
          | translate
      }}
    </alu-field-set-item>
    <alu-field-set-item>
      <label>{{ 'k8s_version' | translate }}</label>
      {{ (cluster$ | async)?.status?.version }}
    </alu-field-set-item>
  </alu-field-set-group>
</aui-card>
<alu-cluster-nodes
  *ngIf="isShow"
  [metricDocked]="metricDocked$ | async"
  [clusterName]="clusterName"
  [isOCP]="(cluster$ | async | aclLabel: 'cluster-type') === 'OCP'"
  [isBaremetal]="(cluster$ | async)?.spec?.type === 'Baremetal'"
  [isGPU]="!!(cluster$ | async)?.spec?.features?.gpuType"
></alu-cluster-nodes>
