@import 'var';
@import '../step-common.scss';

.guidance {
  color: #333;
  &-step {
    margin-bottom: 16px;
  }
  &-title {
    font-size: 14px;
    font-weight: 500;
  }
  &-info {
    margin-top: 8px;
    font-size: 14px;
    font-weight: normal;
  }
}
