<div class="section">
  <div class="section-title">
    {{ 'tdsql_init_chitu' | translate }}
  </div>
  <div class="guidance">
    <div class="guidance-step">
      <div class="guidance-title">
        {{ 'tdsql_chitu_init_title1' | translate }}
      </div>
      <div class="guidance-info">
        <span>
          {{ 'tdsql_chitu_init_step1_hint1' | translate }}
        </span>
        <a
          *ngIf="cr | pure: getEntryPoint as chituLink"
          [href]="chituLink | pure: getChituLink"
          target="_blank"
        >
          {{ 'tdsql_chitu_operation_platform' | translate }}
          <aui-icon icon="basic:jump"></aui-icon>
        </a>
        <span>
          {{ 'tdsql_chitu_init_step1_hint2' | translate }}
        </span>
        <a
          href="/platform-docs/10usermanual/platformmanagement/50ace/03tdsql/06install/02chitu/#%E8%B5%A4%E5%85%94%E5%88%9D%E5%A7%8B%E5%8C%96"
          target="_blank"
        >
          {{ 'help_document' | translate }}
          <aui-icon icon="basic:jump"></aui-icon>
        </a>
      </div>
    </div>

    <div class="guidance-step">
      <div class="guidance-title">
        {{ 'tdsql_chitu_init_title2' | translate }}
      </div>
      <div class="guidance-info">
        <span>
          {{ 'tdsql_chitu_init_step2_hint' | translate }}
        </span>
        <a
          href="/platform-docs/10usermanual/platformmanagement/50ace/03tdsql/06install/02chitu/#%E7%9B%91%E6%8E%A7-db-%E6%B5%8B%E8%AF%95"
          target="_blank"
        >
          {{ 'help_document' | translate }}
          <aui-icon icon="basic:jump"></aui-icon>
        </a>
      </div>
    </div>
  </div>
  <!-- chitu form -->
  <alu-tdsql-deploy-chitu-form
    [model]="model"
    [isDisabled]="editDisabled$ | async"
  ></alu-tdsql-deploy-chitu-form>
</div>
<div class="deploy-bottom">
  <div
    class="form-submit"
    *ngIf="installState.status === 'edit' || !tasks.length; else started"
  >
    <button
      aui-button="primary"
      type="submit"
      [disabled]="submitting || (editDisabled$ | async)"
      (click)="startTest()"
    >
      {{ 'start_deploy' | translate }}
    </button>
  </div>
  <ng-template #started>
    <div class="section">
      <div class="section-title">{{ 'deploy_progress' | translate }}</div>
      <alu-middleware-deploy-process
        [steps]="tasks | pure: getSteps"
        [size]="'small'"
        [needTranslate]="true"
        [logLoader]="logLoader"
        [status]="installState.status"
        [errorHint]="'tdsql_deploy_failed_hint' | translate"
        (start)="startTest()"
        (stop)="stop.emit()"
      ></alu-middleware-deploy-process>
    </div>
  </ng-template>
</div>

<footer class="form__footer">
  <button
    aui-button="text"
    class="button-overview"
    (click)="openComponentsOverviewDialog()"
  >
    {{ 'tdsql_overview_components' | translate }}
  </button>
  <button
    aui-button="primary"
    [disabled]="submitting || (nextDisabled$ | async)"
    (click)="next.emit()"
  >
    {{ 'next_step' | translate }}
  </button>
  <button aui-button type="button" (click)="cancel.emit(action)">
    {{ 'cancel' | translate }}
  </button>
</footer>
