@import 'mixins';
:host {
  .aui-table {
    &__column-name {
      flex: 0 0 150px;
    }
    &__column-detail {
      flex: 0 0 120px;
    }
    &__column-deploy {
      flex: 0 0 100px;
    }
  }
}
