<aui-dialog-header>{{ 'deploy_cluster_addons' | translate }}</aui-dialog-header>

<aui-dialog-content>
  <aui-table [dataSource]="modalData.clusterAddOnTypes">
    <ng-container auiTableColumnDef="name">
      <aui-table-header-cell *auiTableHeaderCellDef>
        {{ 'addon_type' | translate }}
      </aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let item">
        {{ item.type }}
        <ng-container *ngIf="item.type">
          <div class="aui-table__cell__display-name">
            {{ 'addon_' + item.type | lowercase | translate }}
          </div>
        </ng-container>
      </aui-table-cell>
    </ng-container>
    <ng-container auiTableColumnDef="desc">
      <aui-table-header-cell *auiTableHeaderCellDef>
        {{ 'description' | translate }}
      </aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let item">
        <ng-container *ngIf="addWithDesc.includes(item.type); else empty">
          <span
            [auiTooltip]="
              'addon_' + (item.type | lowercase) + '_desc' | translate
            "
            auiTooltipPosition="top start"
          >
            {{ 'addon_' + (item.type | lowercase) + '_desc' | translate }}
          </span>
        </ng-container>
      </aui-table-cell>
    </ng-container>
    <ng-container auiTableColumnDef="detail">
      <aui-table-header-cell *auiTableHeaderCellDef>
        {{ 'detail' | translate }}
      </aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let item">
        <ng-container *ngIf="item.description; else empty">
          <button aui-button="text" (click)="showDetail(item)">
            {{ 'detail' | translate }}
          </button>
        </ng-container>
      </aui-table-cell>
    </ng-container>
    <ng-container auiTableColumnDef="deploy">
      <aui-table-header-cell *auiTableHeaderCellDef></aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let item">
        <span
          [auiTooltip]="'addon_can_not_deploy_again' | translate"
          [auiTooltipDisabled]="!(item | pure: isAddOnDeployed)"
        >
          <button
            aui-button="primary"
            [plain]="true"
            [disabled]="item | pure: isAddOnDeployed"
            (click)="deploy(item)"
          >
            {{ 'deploy' | translate }}
          </button>
        </span>
      </aui-table-cell>
    </ng-container>
    <aui-table-header-row
      *auiTableHeaderRowDef="columns"
    ></aui-table-header-row>
    <aui-table-row *auiTableRowDef="let row; columns: columns"></aui-table-row>
  </aui-table>
</aui-dialog-content>

<ng-template #empty>-</ng-template>
