<ng-container [formGroup]="form">
  <aui-form-item>
    <label auiFormItemLabel>
      {{ (isFederated ? 'federated_cluster' : 'cluster_belonged') | translate }}
    </label>
    <ng-container *ngIf="actionType === 'update'; else selectCluster">
      {{ form.value[isFederated ? 'clusterFedName' : 'clusterName'] }}
    </ng-container>
    <ng-template #selectCluster>
      <aui-select
        auiFormItemControl
        [formControlName]="isFederated ? 'clusterFedName' : 'clusterName'"
        required
      >
        <aui-option
          *ngFor="let item of isFederated ? clusterFedNames : clusterNames"
          [value]="item.name"
          [label]="item | pure: unionDisplayName"
        >
          {{ item | pure: unionDisplayName }}
        </aui-option>
      </aui-select>
    </ng-template>
    <alu-error-mapper
      auiFormItemError
      [errors]="
        form.controls[isFederated ? 'clusterFedName' : 'clusterName'].errors
      "
      [errorsMapper]="{
        required:
          'field_is_required'
          | translate
            : {
                field:
                  (isFederated ? 'federated_cluster' : 'cluster_belonged')
                  | translate
              }
      }"
    ></alu-error-mapper>
  </aui-form-item>
  <aui-form-item>
    <label auiFormItemLabel>
      {{ (isFederated ? 'name' : 'namespace') | translate }}
    </label>
    <ng-container [ngSwitch]="actionType">
      <aui-input-group *ngSwitchCase="'create'" fxFlex>
        <span auiInputAddonBefore>{{ projectName }}-</span>
        <input
          aui-input
          auiFormItemControl
          formControlName="_name"
          required
          [maxLength]="62 - projectName.length"
          [pattern]="namePattern.pattern"
        />
      </aui-input-group>
      <aui-select
        *ngSwitchCase="'import'"
        fxFlex
        filterable
        auiFormItemControl
        formControlName="name"
        required
        [loading]="namespacesLoading"
      >
        <aui-option
          *ngFor="let namespace of namespaces"
          [value]="namespace | aclName"
          [label]="
            (namespace | aclName) +
            ((namespace | aclDisplayName)
              ? '(' + (namespace | aclDisplayName) + ')'
              : '')
          "
        >
          {{ namespace | aclName }}
          <ng-container *ngIf="namespace | aclDisplayName as displayName">
            ({{ displayName }})
          </ng-container>
        </aui-option>
      </aui-select>
      <ng-container *ngSwitchCase="'update'">
        {{ form.value?.name }}
      </ng-container>
    </ng-container>
    <alu-error-mapper
      *ngIf="actionType == 'create'"
      auiFormItemError
      [errors]="form.controls._name.errors"
      [errorsMapper]="{
        required:
          'field_is_required'
          | translate
            : { field: (isFederated ? 'name' : 'namespace') | translate },
        pattern: namePattern.tip | translate
      }"
    ></alu-error-mapper>
    <alu-error-mapper
      *ngIf="actionType == 'import'"
      auiFormItemError
      [errors]="form.controls.name.errors"
      [errorsMapper]="{
        required:
          'field_is_required'
          | translate
            : { field: (isFederated ? 'name' : 'namespace') | translate }
      }"
    ></alu-error-mapper>
  </aui-form-item>
  <aui-form-item>
    <label auiFormItemLabel>{{ 'display_name' | translate }}</label>
    <input aui-input auiFormItemControl formControlName="displayName" />
  </aui-form-item>
</ng-container>
