<ng-container *aluPageHeaderContent>
  <aui-breadcrumb>
    <aui-breadcrumb-item>
      <span>{{ 'meter' | translate }}</span>
    </aui-breadcrumb-item>
    <aui-breadcrumb-item>
      <span>{{ 'meter_summary' | translate }}</span>
    </aui-breadcrumb-item>
  </aui-breadcrumb>
</ng-container>
<acl-page-guard
  [allowed]="isDeployed$ | async"
  [reason]="reason.NotDeployed"
  [description]="'not_deployed_es' | translate"
>
  <aui-card [divider]="false" *aclPageGuardContent>
    <div auiCardHeader>
      <span fxFlex></span>
      <aui-tag
        *ngFor="let range of rangeList"
        style="cursor: pointer;"
        [type]="rangeSelectedText === range.text ? 'primary' : 'info'"
        size="small"
        [round]="true"
        (click)="queryTopN(range)"
      >
        {{ range.text | translate }}
      </aui-tag>
    </div>
    <aui-tab-group type="card">
      <aui-tab *ngFor="let type of types">
        <ng-container *auiTabLabel>
          {{ type.text | translate }}
        </ng-container>
        <ng-container *auiTabContent>
          <alu-meter-top
            [type]="type.key"
            [range]="rangeSelected"
            orderBy="cpu"
          ></alu-meter-top>
          <alu-meter-top
            [type]="type.key"
            [range]="rangeSelected"
            orderBy="memory"
          ></alu-meter-top>
        </ng-container>
      </aui-tab>
    </aui-tab-group>
  </aui-card>
</acl-page-guard>
