<ng-container *aluPageHeaderContent>
  <aui-breadcrumb>
    <aui-breadcrumb-item>
      <span>{{ 'cluster_management' | translate }}</span>
    </aui-breadcrumb-item>
    <aui-breadcrumb-item>
      <a routerLink="/manage-platform/cluster">
        {{ 'cluster' | translate }}
      </a>
    </aui-breadcrumb-item>
    <aui-breadcrumb-item>
      <span>{{ (params$ | async).name }}</span>
    </aui-breadcrumb-item>
  </aui-breadcrumb>
</ng-container>
<acl-page-state
  [adapter]="dataManager"
  [autoRedirect]="false"
  (redirect)="jumpToListPage()"
>
  <ng-template let-cluster="resource" let-permissions="permissions">
    <aui-inline-alert
      *ngIf="
        showNodeErrAlert && cluster
          | aclAnnotation: 'machines'
          | pure: getSlaveMachines as errMachines
      "
      type="warning"
    >
      <div>
        <div>
          {{ 'slave_node_add_failed' | translate: { machines: errMachines } }}
          <button
            aui-button="text"
            size="small"
            (click)="addNodeAgain(errMachines)"
          >
            {{ 'add_again' | translate }}
          </button>
          {{ 'punctuation_period' | translate }}
        </div>
        <div fxFlex></div>
        <button aui-button size="mini" (click)="clearAnnotation()">
          {{ 'do_not_show' | translate }}
        </button>
      </div>
    </aui-inline-alert>
    <aui-tab-group type="line" [lazy]="true">
      <aui-tab>
        <ng-container *auiTabLabel>
          {{ 'detail_info' | translate }}
        </ng-container>
        <aui-card>
          <div auiCardHeader>
            {{ cluster | aclName }}
            <aui-icon
              *ngIf="isHighAvailability$ | async"
              style="margin-left: 8px;"
              icon="basic:high_availability"
              [title]="'high_availability_cluster' | translate"
            ></aui-icon>
            <ng-container *aclFeatureGate="'kubefed'">
              <ng-container *ngIf="federations$ | async as federations">
                <aui-icon
                  *ngIf="cluster | pure: getFederation:federations as fed"
                  style="margin-left: 8px;"
                  class="cluster-card__info__icon"
                  icon="basic:federation_cluster"
                  [auiTooltip]="fed | aclUnionDisplayName"
                  color="#1cb6cc"
                ></aui-icon>
              </ng-container>
            </ng-container>
            <div fxFlex></div>
            <button aui-button="default" [auiDropdown]="menu">
              {{ 'action' | translate }}
              <aui-icon icon="angle_down" margin="left"></aui-icon>
            </button>
            <aui-menu #menu size="small">
              <acl-disabled-container [isAllowed]="permissions.update">
                <aui-menu-item (click)="updateToken(cluster)">
                  {{ 'update' | translate }}Token
                </aui-menu-item>
              </acl-disabled-container>
              <acl-disabled-container
                *aclFeatureGate="
                  'resource-ratio';
                  cluster: cluster.metadata.name
                "
                [isAllowed]="permissions.update"
                [isDisabled]="
                  cluster | pure: getClusterStatus | pure: isClusterAbnormal
                "
                [tooltip]="'status_abnormal_can_not_operate' | translate"
              >
                <aui-menu-item (click)="updateResourceRatio(cluster)">
                  {{ 'update_over_commit' | translate }}
                </aui-menu-item>
              </acl-disabled-container>
              <acl-disabled-container [isAllowed]="permissions.delete">
                <aui-menu-item (click)="deleteCluster(confirmDelete)">
                  {{ 'delete_cluster' | translate }}
                </aui-menu-item>
                <ng-template #confirmDelete>
                  <alu-confirm-delete
                    [context]="context"
                    [title]="'delete_cluster' | translate"
                    [resourceName]="cluster.metadata.name"
                    [deleteTips]="
                      'confirm_delete_cluster'
                        | translate: { name: cluster | aclUnionDisplayName }
                    "
                    [deleteResourceApi]="deleteClusterApi"
                    [deleteSuccessMsg]="'delete_success' | translate"
                    [deleteFailMsg]="'delete_failed' | translate"
                    (close)="deleteDialogRef.close()"
                  ></alu-confirm-delete>
                </ng-template>
              </acl-disabled-container>
            </aui-menu>
          </div>
          <alu-field-set-group auiCardContent>
            <alu-field-set-item [allowOverflow]="false">
              <label>{{ 'display_name' | translate }}</label>
              <div [title]="cluster.spec.displayName" class="alu-text-item">
                {{ cluster.spec.displayName | aclFieldNotAvailable }}
              </div>
              <acl-disabled-container
                [isAllowed]="permissions.update"
                [isDisabled]="
                  cluster | pure: getClusterStatus | pure: isClusterAbnormal
                "
                [tooltip]="'status_abnormal_can_not_operate' | translate"
              >
                <button
                  style="margin-left: 4px;"
                  aui-button="text"
                  (click)="updateDisplayName(cluster)"
                >
                  <aui-icon icon="basic:pencil_s"></aui-icon>
                </button>
              </acl-disabled-container>
            </alu-field-set-item>
            <alu-field-set-item>
              <label>{{ 'type' | translate }}</label>
              <ng-container *ngIf="cluster.spec.type === 'Baremetal'">
                {{ 'cluster_baremetel' | translate }}
              </ng-container>
              <ng-container *ngIf="cluster.spec.type === 'Imported'">
                {{ 'access' | translate }}
                <span style="margin-left: 4px;">
                  (
                  {{
                    (cluster.metadata.labels &&
                    cluster.metadata.labels['cluster-type'] == 'OCP'
                      ? 'openshift_cluster'
                      : 'standard_k8s_cluster'
                    ) | translate
                  }})
                </span>
              </ng-container>
            </alu-field-set-item>
            <alu-field-set-item>
              <label>{{ 'status' | translate }}</label>
              <alu-status-icon
                [status]="cluster | pure: getClusterStatus"
              ></alu-status-icon>
              {{ cluster | pure: getClusterStatus | translate }}
            </alu-field-set-item>
            <alu-field-set-item>
              <label>{{ 'vm_num' | translate }}</label>
              {{ (this.nodes$ | async)?.length }}
            </alu-field-set-item>
            <alu-field-set-item>
              <label>{{ 'cluster_cluster_endpoint' | translate }}</label>
              <ng-container
                *ngIf="getClusterEndpoint(cluster) as address; else noData"
              >
                {{ address.host + ':' + address.port }}
              </ng-container>
            </alu-field-set-item>
            <alu-field-set-item>
              <label>{{ 'cluster_credential' | translate }}</label>
              <a href="javascript:;" (click)="viewClusterCredential(cluster)">
                {{ 'view' | translate }}
              </a>
            </alu-field-set-item>
            <alu-field-set-item>
              <label>{{ 'cluster_manage_endpoint' | translate }}</label>
              <a
                *ngIf="
                  cluster
                    | aclAnnotation
                      : 'k8s-dashboard-endpoint'
                      : 'infrastructure' as endpoint;
                  else noData
                "
                style="overflow: hidden; text-overflow: ellipsis;"
                [href]="
                  endpoint + '?id_token=' + authState.stateSnapshot.idToken
                    | aluTrustUrl
                "
                target="_blank"
                rel="noopener noreferrer"
                stop
              >
                {{ endpoint }}
              </a>
              <acl-disabled-container
                [isAllowed]="permissions.update"
                [isDisabled]="
                  cluster | pure: getClusterStatus | pure: isClusterAbnormal
                "
                [tooltip]="'status_abnormal_can_not_operate' | translate"
              >
                <button
                  style="margin-left: 4px;"
                  aui-button="text"
                  (click)="updateManageEndpoint(cluster)"
                >
                  <aui-icon icon="basic:pencil_s"></aui-icon>
                </button>
              </acl-disabled-container>
            </alu-field-set-item>
            <alu-field-set-item>
              <label>{{ 'resource_amount' | translate }}</label>
              <ng-container *ngIf="resourceAmount$ | async as resourceAmount">
                <aui-icon
                  icon="basic:cpu"
                  color="#6359b4"
                  margin="right"
                  [title]="'cpu' | translate"
                ></aui-icon>
                {{ resourceAmount.cpu | number: '1.0-2'
                }}{{ 'core' | translate }}
                <aui-icon
                  icon="basic:memory"
                  color="#3793bf"
                  margin="right"
                  [title]="'memory' | translate"
                ></aui-icon>
                {{ resourceAmount.memory | number: '1.0-2' }} Gi
                <ng-container *ngIf="resourceAmount.gpu">
                  <aui-icon
                    icon="basic:gpu"
                    color="#a44444"
                    margin="right"
                    [title]="'gpu' | translate"
                  ></aui-icon>
                  {{ resourceAmount.gpu | number: '1.0-2'
                  }}{{ 'core' | translate }}
                  <aui-icon
                    icon="basic:gpu"
                    color="#7da41b"
                    margin="right"
                    [title]="'gpu_memory' | translate"
                  ></aui-icon>
                  {{ resourceAmount.gpuMemory | number: '1.0-2' }} Gi
                </ng-container>
              </ng-container>
            </alu-field-set-item>
            <alu-field-set-item>
              <label>{{ 'k8s_version' | translate }}</label>
              {{ cluster?.status?.version | aclFieldNotAvailable }}
            </alu-field-set-item>
            <alu-field-set-item
              *aclFeatureGate="'resource-ratio'; cluster: cluster.metadata.name"
            >
              <label>{{ 'cluster_over_commit' | translate }}</label>
              <ng-container
                *ngTemplateOutlet="
                  deployInfo;
                  context: cluster.spec.properties?.oversoldRatio
                "
              ></ng-container>
              <ng-template #deployInfo let-cpu="cpu" let-memory="memory">
                <span style="margin-right: 8px;">
                  <aui-icon
                    icon="basic:cpu"
                    color="#6359b4"
                    margin="right"
                    [title]="'cpu' | translate"
                  ></aui-icon>
                  {{ cpu || '-' }}
                </span>
                <span>
                  <aui-icon
                    icon="basic:memory"
                    color="#3793bf"
                    margin="right"
                    [title]="'memory' | translate"
                  ></aui-icon>
                  {{ memory || '-' }}
                </span>
              </ng-template>
            </alu-field-set-item>
            <ng-container *ngIf="cluster.spec.type === 'Baremetal'">
              <alu-field-set-item>
                <label>GPU</label>
                {{
                  cluster.spec.features?.gpuType
                    ? cluster.spec.features?.gpuType
                    : ('no' | translate)
                }}
              </alu-field-set-item>
              <alu-field-set-item>
                <label>Cluster CIDR</label>
                {{ cluster.spec.clusterCIDR }}
                <button style="margin-left: 4px;" aui-button="text">
                  <aui-icon
                    icon="basic:file"
                    [auiTooltip]="cluster | pure: getNodeMax"
                  ></aui-icon>
                </button>
              </alu-field-set-item>
              <alu-field-set-item *ngIf="cluster.spec.serviceCIDR">
                <label>Service CIDR</label>
                {{ cluster.spec.serviceCIDR }}
              </alu-field-set-item>
              <alu-field-set-item>
                <label>{{ 'node_pod_limit_num' | translate }}</label>
                {{ cluster.spec.properties.maxNodePodNum }}
              </alu-field-set-item>
              <alu-field-set-item
                *ngIf="cluster.spec.properties.maxClusterServiceNum"
              >
                <label>{{ 'node_service_limit_num' | translate }}</label>
                {{ cluster.spec.properties.maxClusterServiceNum }}
              </alu-field-set-item>
            </ng-container>
            <alu-field-set-item>
              <label>{{ 'create_time' | translate }}</label>
              {{ cluster | aclCreationTimestamp | aclStandardTime }}
            </alu-field-set-item>
            <ng-container *aclFeatureGate="'kubefed'">
              <ng-container *ngIf="federations$ | async as federations">
                <alu-field-set-item
                  *ngIf="cluster | pure: getFederation:federations as fed"
                >
                  <label>{{ 'clusterfed_belonged' | translate }}</label>
                  <a
                    [routerLink]="[
                      '/manage-platform/federation/detail',
                      fed | aclName
                    ]"
                  >
                    {{ fed | aclUnionDisplayName }}
                  </a>
                </alu-field-set-item>
              </ng-container>
            </ng-container>
          </alu-field-set-group>
          <alu-foldable-block
            [hint]="'extended_parameters' | translate"
            context="card"
            *ngIf="
              cluster.spec.dockerExtraArgs ||
              cluster.spec.kubeletExtraArgs ||
              cluster.spec.controllerManagerExtraArgs ||
              cluster.spec.schedulerExtraArgs ||
              cluster.spec.apiServerExtraArgs ||
              cluster.spec.publicAlternativeNames
            "
          >
            <alu-field-set-group>
              <alu-field-set-item *ngIf="cluster.spec.dockerExtraArgs">
                <label>{{ 'docker_parameters' | translate }}</label>
                <alu-tags-label
                  [isWrapped]="true"
                  [tags]="cluster.spec.dockerExtraArgs"
                ></alu-tags-label>
              </alu-field-set-item>
              <alu-field-set-item *ngIf="cluster.spec.kubeletExtraArgs">
                <label>{{ 'kubelet_parameters' | translate }}</label>
                <alu-tags-label
                  [isWrapped]="true"
                  [tags]="cluster.spec.kubeletExtraArgs"
                ></alu-tags-label>
              </alu-field-set-item>
              <alu-field-set-item
                *ngIf="cluster.spec.controllerManagerExtraArgs"
              >
                <label>{{ 'controller_manager_parameters' | translate }}</label>
                <alu-tags-label
                  [isWrapped]="true"
                  [tags]="cluster.spec.controllerManagerExtraArgs"
                ></alu-tags-label>
              </alu-field-set-item>
              <alu-field-set-item *ngIf="cluster.spec.schedulerExtraArgs">
                <label>{{ 'scheduler_parameters' | translate }}</label>
                <alu-tags-label
                  [isWrapped]="true"
                  [tags]="cluster.spec.schedulerExtraArgs"
                ></alu-tags-label>
              </alu-field-set-item>
              <alu-field-set-item *ngIf="cluster.spec.apiServerExtraArgs">
                <label>{{ 'api_server_parameters' | translate }}</label>
                <alu-tags-label
                  [isWrapped]="true"
                  [tags]="cluster.spec.apiServerExtraArgs"
                ></alu-tags-label>
              </alu-field-set-item>
              <alu-field-set-item *ngIf="cluster.spec.publicAlternativeNames">
                <label>{{ 'api_server_addresses' | translate }}</label>
                <alu-tags-label
                  [isWrapped]="true"
                  [tagList]="cluster.spec.publicAlternativeNames"
                ></alu-tags-label>
              </alu-field-set-item>
            </alu-field-set-group>
          </alu-foldable-block>
        </aui-card>
        <ng-container>
          <alu-cluster-node-list
            [metricDocked]="metricDocked$ | async"
            [clusterName]="(params$ | async).name"
            [isOCP]="(cluster | aclLabel: 'cluster-type') === 'OCP'"
            [isBaremetal]="cluster.spec.type === 'Baremetal'"
            [isGPU]="!!cluster.spec.features?.gpuType"
            [isClusterAbnormal]="
              cluster | pure: getClusterStatus | pure: isClusterAbnormal
            "
          ></alu-cluster-node-list>
        </ng-container>
      </aui-tab>
      <aui-tab *ngIf="metricDocked$ | async">
        <ng-container *auiTabLabel>
          {{ 'monitoring' | translate }}
        </ng-container>
        <alu-cluster-monitor
          [clusterName]="(params$ | async).name"
          [isGPU]="!!cluster.spec.features?.gpuType"
        ></alu-cluster-monitor>
      </aui-tab>
      <aui-tab>
        <ng-container *auiTabLabel>
          {{ 'project' | translate }}
        </ng-container>
        <alu-cluster-project-list
          *ngIf="projects$ | async as projects"
          [data]="projects"
          [clusterName]="(params$ | async).name"
        ></alu-cluster-project-list>
      </aui-tab>
    </aui-tab-group>
  </ng-template>
</acl-page-state>

<ng-template #noData>-</ng-template>
