<aui-dialog-header>{{ 'add_cluster' | translate }}</aui-dialog-header>
<aui-dialog-content>
  <aui-inline-alert>
    {{ 'add_cluster_to_project_tip' | translate }}
  </aui-inline-alert>
  <form
    auiForm
    #form="ngForm"
    auiFormLabelPosition="right"
    auiFormLabelWidth="80px"
  >
    <aui-form-item>
      <label auiFormItemLabel>{{ 'project' | translate }}</label>
      <span>{{ dialogData.name }}</span>
    </aui-form-item>
    <aui-form-item>
      <label auiFormItemLabel>{{ 'cluster' | translate }}</label>
      <aui-select
        auiFormItemControl
        name="clusters"
        #clusters="ngModel"
        required
        [(ngModel)]="selectCluster"
        (ngModelChange)="selectClusterChange()"
      >
        <aui-option
          class="cluster-select"
          *ngFor="let cluster of clusters$ | async"
          [value]="cluster"
          [labelContext]="{ cluster: cluster }"
          [disabled]="!cluster.isNormal"
          [label]="option"
        >
          <div class="cluster-select-option">
            <span>{{ cluster.name }}</span>
            <span *ngIf="cluster.displayName">({{ cluster.displayName }})</span>
            <aui-icon
              *ngIf="!cluster.isNormal"
              color="#e54545"
              icon="exclamation_triangle_s"
              [auiTooltip]="'cluster_abnormal' | translate"
            ></aui-icon>
            <div *ngIf="cluster.capacity" class="cluster-select-option__desc">
              {{ 'allocatable' | translate }}
              <span *ngIf="cluster.limit['requests.cpu']">
                CPU {{ cluster.limit['requests.cpu'] | pure: toUnitNum
                }}{{ 'unit_core' | translate }}({{
                  cluster.capacity['requests.cpu'] | pure: toUnitNum
                }}{{ 'unit_core' | translate }})
              </span>
              <span *ngIf="cluster.limit['requests.memory']">
                {{ 'memory' | translate }}
                {{ cluster.limit['requests.memory'] | pure: toUnitGi
                }}{{ 'unit_Gi' | translate }}({{
                  cluster.capacity['requests.memory'] | pure: toUnitGi
                }}{{ 'unit_Gi' | translate }})
              </span>
              <span *ngIf="cluster.limit['requests.storage']">
                {{ 'storage' | translate }}
                {{ cluster.limit['requests.storage'] | pure: toUnitGi
                }}{{ 'unit_Gi' | translate }}({{
                  cluster.capacity['requests.storage'] | pure: toUnitGi
                }}{{ 'unit_Gi' | translate }})
              </span>
            </div>
          </div>
        </aui-option>
        <ng-container *aclFeatureGate="'kubefed'">
          <aui-option
            class="cluster-select"
            *ngFor="let fedCluster of fedClusters"
            [label]="option"
            [disabled]="isClusterFedDisabled(fedCluster)"
            [labelContext]="{ cluster: fedCluster }"
            [value]="fedCluster"
          >
            <div class="cluster-select-option">
              <aui-icon
                class="federation_icon"
                icon="basic:federation_cluster"
              ></aui-icon>
              <span>{{ fedCluster.name }}</span>
              <span *ngIf="fedCluster.displayName">
                ({{ fedCluster.displayName }})
              </span>
              <div class="cluster-select-option__desc">
                {{ 'include' | translate }}
                <span *ngFor="let cluster of fedCluster.clusters">
                  {{ cluster.name }}
                  <aui-icon
                    *ngIf="!cluster.isNormal"
                    color="#e54545"
                    icon="exclamation_triangle_s"
                    [auiTooltip]="'cluster_abnormal' | translate"
                  ></aui-icon>
                </span>
              </div>
            </div>
          </aui-option>
        </ng-container>
        <aui-option-placeholder>
          {{ 'no_data' | translate }}
        </aui-option-placeholder>
      </aui-select>
      <alu-error-mapper
        auiFormItemError
        [errors]="clusters.errors"
        [errorsMapper]="{
          required:
            'field_is_required'
            | translate: { field: 'cluster_belonged' | translate }
        }"
      ></alu-error-mapper>
      <span auiFormItemAddon></span>
    </aui-form-item>
    <aui-form-item *ngIf="isFedCluster(selectCluster)">
      <label auiFormItemLabel>{{ 'quota_set_type' | translate }}</label>
      <aui-checkbox
        name="check"
        [(ngModel)]="uniteCheck"
        (ngModelChange)="fedClusterCheckChange(selectCluster)"
        [disabled]="selectCluster.disabledCheck"
        [auiTooltip]="'inconsistent_quota' | translate"
        [auiTooltipDisabled]="!selectCluster.disabledCheck"
      >
        {{ 'fed_cluster_set_some_quota' | translate }}
      </aui-checkbox>
    </aui-form-item>
    <aui-accordion *ngIf="isFedCluster(selectCluster)" [multi]="true">
      <div
        *ngFor="let c of getFedClusters(selectCluster); let i = index"
        class="toc-form-group"
      >
        <aui-accordion-item [expanded]="true">
          <div auiAccordionItemHeader>
            <aui-icon
              class="federation_icon"
              icon="basic:federation_cluster"
            ></aui-icon>
            {{ uniteCheck ? ('quota' | translate) : c.name }}
            <ng-container *ngIf="!uniteCheck">
              <aui-tag
                *ngIf="c.type === 'Host'"
                type="info"
                size="mini"
                style="margin-right: 4px;"
              >
                {{ 'control_cluster' | translate }}
              </aui-tag>
            </ng-container>
          </div>
          <div class="form-group-content">
            <alu-project-quota-base-form
              [ngModel]="quotaMap[c.name].quota"
              (ngModelChange)="quotaMap[c.name]._quota = $event"
              [name]="'cluster-quota' + i"
              [allCapacity]="getQuotaLimit(c, 'capacity')"
              [allUsed]="getQuotaLimit(c, 'used')"
              [maxLimits]="getQuotaLimit(c, 'limit')"
              [isUpdate]="false"
              [hardQuota]="getQuotaLimit(c, 'hard')"
            ></alu-project-quota-base-form>
          </div>
        </aui-accordion-item>
      </div>
    </aui-accordion>
    <alu-project-quota-base-form
      *ngIf="!isFedCluster(selectCluster)"
      [(ngModel)]="quota"
      name="cluster-quota"
      [allCapacity]="getQuotaLimit(selectCluster, 'capacity')"
      [allUsed]="getQuotaLimit(selectCluster, 'used')"
      [maxLimits]="getQuotaLimit(selectCluster, 'limit')"
      [isUpdate]="false"
      [hardQuota]="getQuotaLimit(selectCluster, 'hard')"
    ></alu-project-quota-base-form>
  </form>
</aui-dialog-content>
<aui-dialog-footer>
  <button
    aui-button="primary"
    (click)="add(form)"
    [loading]="loading$$ | async"
    [disabled]="loading$$ | async"
  >
    {{ 'add' | translate }}
  </button>
  <button aui-button (click)="dialogRef.close()">
    {{ 'cancel' | translate }}
  </button>
</aui-dialog-footer>

<ng-template #option let-cluster="cluster">
  <aui-icon
    *ngIf="cluster.clusters"
    class="federation_icon"
    icon="basic:federation_cluster"
  ></aui-icon>
  <span>{{ cluster.name }}</span>
  <span *ngIf="cluster.displayName">({{ cluster.displayName }})</span>
</ng-template>
