@import 'var';

:host {
  ::ng-deep {
    .aui-dialog__content {
      max-height: 520px;
      overflow: auto;
    }
    .aui-accordion-item {
      border-top: none;
    }
  }
}

.cluster-select ::ng-deep .aui-option {
  height: auto;
  line-height: 28px;
}

.federation_icon {
  color: #00a3af;
  margin-right: 4px;
}

.cluster-select-option {
  display: inline-block;
  align-items: center;
  vertical-align: top;
  line-height: 20px;
  padding: 4px 0;
  &__desc {
    color: $color-text-help;
    line-height: 16px;
    span {
      &:after {
        content: ',';
      }
      &:last-of-type:after {
        content: '';
      }
    }
  }
}
