@import 'var';

:host.foldable-card {
  display: flex;
  flex-flow: column;
}
:host ::ng-deep .foldable-item .aui-form-item {
  margin-bottom: 12px;
  .aui-form-item__label-wrapper.hasLabel:after {
    content: '';
    align-self: flex-start;
    margin-left: 0;
  }
}

.aui-button--text.expanded {
  color: #666;
}

.toggle-bar {
  display: flex;
  width: 100%;
  margin-bottom: 8px;

  &__dashed {
    display: flex;
    align-items: center;
    flex: 1 0 auto;
    > hr {
      border: none;
      border-top: 1px dashed #ccc;
      height: 1px;
      margin: 0;
      width: 100%;
    }
  }

  &:hover {
    color: $color-primary;
    cursor: pointer;
    .toggle-bar__dashed > hr {
      border-color: $color-primary;
    }
  }

  &__text {
    margin: 0 8px;
    font-size: 12px;
  }
}
