<div class="toggle-bar" (click)="folded = !folded" *ngIf="context === 'card'">
  <div class="toggle-bar__dashed">
    <hr />
  </div>
  <div class="toggle-bar__text">
    {{ hint }}
    <aui-icon *ngIf="folded" icon="basic:angle_double_down"></aui-icon>
    <aui-icon *ngIf="!folded" icon="basic:angle_double_up"></aui-icon>
  </div>
  <div class="toggle-bar__dashed">
    <hr />
  </div>
</div>

<div [hidden]="folded" class="foldable-content">
  <ng-content></ng-content>
</div>

<aui-form-item *ngIf="context === 'form'" [ngClass]="'foldable-item'">
  <label auiFormItemLabel>
    <button
      (click)="folded = !folded"
      [ngClass]="{ expanded: !folded }"
      aui-button="text"
      size="small"
      type="button"
    >
      {{ hint || ((folded ? 'more' : 'collapse') | translate) }}
      <aui-icon
        [icon]="folded ? 'basic:angle_double_down' : 'basic:angle_double_up'"
      ></aui-icon>
    </button>
  </label>
</aui-form-item>
