@import 'var';

:host {
  .card {
    margin: 10px;
    width: 160px;
    height: 210px;
    border: solid 1px $color-text-placeholder;
    background-color: $color-white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 22px;
    &:hover {
      box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.16);
    }
    img {
      max-width: 48px;
      height: 48px;
    }
    .name {
      min-width: 73px;
      min-height: 20px;
      margin: 12px 0 4px 0;
      text-align: center;
      font-size: 18px;
      color: $color-text-main;
      font-weight: 500;
    }
    .info {
      display: flex;
      div {
        min-width: 40px;
        min-height: 12px;
        margin: 0 2px;
        font-size: 12px;
        color: #666;
      }
      .type {
        text-align: right;
      }
    }
    hr {
      width: 100%;
      margin-block-start: 12px;
      margin-block-end: 12px;
      border: none;
      height: 1px;
      color: $color-text-placeholder;
      background-color: $color-text-placeholder;
    }
    .metric {
      margin: 6px 0;
      display: flex;
      align-items: center;
      .status {
        width: 4px;
        height: 4px;
        border-radius: 50%;
        margin-right: 6px;
      }
      .data {
        min-width: 90px;
        min-height: 4px;
        font-size: 12px;
        color: $color-text-main;
      }
    }
  }
  .metric-data {
    background-color: $color-text-main;
  }
  .empty {
    background-color: $color-text-placeholder;
  }
  .empty-card {
    background-color: #f2f2f2;
  }
}
