<a [href]="name ? href : 'javascript:;'" [target]="name ? '_blank' : '_self'">
  <div class="card" [ngClass]="{ 'empty-card': !name }">
    <img class="img" [src]="logo" alt="icon" />
    <div class="name" [ngClass]="{ empty: !name }">{{ name }}</div>
    <div class="info">
      <div class="type" [ngClass]="{ empty: !type }">{{ type }}</div>
      <div class="version" [ngClass]="{ empty: !version }">{{ version }}</div>
    </div>
    <hr />
    <div>
      <div class="metric" *ngFor="let data of metricData.slice(0, 3)">
        <div class="status metric-data"></div>
        <div class="data">{{ data }}</div>
      </div>
    </div>
  </div>
</a>
