circle {
  -webkit-transition: stroke-dasharray 0.5s;
  transition: stroke-dasharray 0.5s;
}
text {
  &.value {
    font-size: 20px;
    font-weight: 500;
  }
  &.unit {
    font-size: 12px;
  }
  &.noAvail {
    font-size: 12px;
  }
}
