<svg width="100" height="100">
  <ng-container *ngIf="percent >= 0; else noAvail">
    <text
      x="50"
      y="50"
      [attr.fill]="color"
      text-anchor="middle"
      dominant-baseline="middle"
      class="value"
    >
      {{ percent < 1 && percent !== 0 ? '< 1' : round(percent) }}
    </text>
    <text
      [attr.x]="percent < 100 ? 65 : 70"
      y="50"
      [attr.fill]="color"
      dominant-baseline="middle"
      class="unit"
    >
      %
    </text>
  </ng-container>
  <ng-template #noAvail>
    <text
      x="50"
      y="50"
      fill="#999999"
      text-anchor="middle"
      dominant-baseline="middle"
      class="noAvail"
    >
      {{ noAvailText | translate }}
    </text>
  </ng-template>
  <circle
    cx="50"
    cy="50"
    r="40"
    stroke-width="4"
    stroke="#ededed"
    fill="none"
  ></circle>
  <circle
    cx="50"
    cy="50"
    r="40"
    stroke-width="4"
    [attr.stroke]="color"
    fill="none"
    transform="matrix(0,-1,1,0,0,100)"
    [attr.stroke-dasharray]="animatedPercent$ | async"
  ></circle>
</svg>
