@import 'var';
.table_role_agg {
  width: 100%;
  padding-right: 20px;
  th {
    text-align: left;
    size: 12px;
    color: #999;
    font-weight: normal;
  }
  td {
    padding: 8px 0;
    border-bottom: dashed 1px #ededed;
  }
}

.action-col {
  text-align: right;
  padding: 8px 4px;
  white-space: nowrap;
  width: 28px;

  aui-icon {
    font-size: 16px;
    color: #000;
    cursor: pointer;
    opacity: 0.4;

    &:not(:first-child) {
      margin-left: 4px;
    }

    &:hover {
      opacity: 1;
      color: $color-primary;
    }
  }
}

.aui-table__column-role_name {
  flex: 0.5;
}
.aui-table__column-role_type {
  flex: 0.3;
}
.aui-table__column-action {
  min-width: 70px;
}
