<aui-table [dataSource]="userBindingAggs$ | async">
  <aui-table-header-row *auiTableHeaderRowDef="columns"></aui-table-header-row>
  <aui-table-row *auiTableRowDef="let row; columns: columns"></aui-table-row>
  <ng-container auiTableColumnDef="role_name">
    <aui-table-header-cell *auiTableHeaderCellDef>
      {{ 'role_name' | translate }}
    </aui-table-header-cell>
    <aui-table-cell *auiTableCellDef="let item">
      {{ item.roleName }}
    </aui-table-cell>
  </ng-container>
  <ng-container auiTableColumnDef="role_type">
    <aui-table-header-cell *auiTableHeaderCellDef>
      {{ 'role_type' | translate }}
    </aui-table-header-cell>
    <aui-table-cell *auiTableCellDef="let item">
      {{ item.roleLevel | translate }}
    </aui-table-cell>
  </ng-container>
  <ng-container auiTableColumnDef="project_or_namespace">
    <aui-table-header-cell *auiTableHeaderCellDef>
      {{ 'project_or_namespace' | translate }}
    </aui-table-header-cell>
    <aui-table-cell *auiTableCellDef="let item">
      <ng-container [ngSwitch]="item.roleLevel">
        <ng-container *ngSwitchCase="'namespace'">
          <table class="table_role_agg">
            <thead>
              <th style="width: 60%;">{{ 'namespace' | translate }}</th>
              <th style="width: 30%;">{{ 'cluster' | translate }}</th>
              <th></th>
            </thead>
            <tr *ngFor="let agg of item.aggs.slice(0, item.sliceIndex)">
              <td>{{ agg.name }}</td>
              <td>{{ agg.clusterName }}</td>
              <td class="action-col">
                <aui-icon
                  *ngIf="showDelete && canDelete && item.aggs.length > 1"
                  icon="basic:minus_circle"
                  (click)="deleteUserbinding(item, agg)"
                ></aui-icon>
              </td>
            </tr>
          </table>

          <ng-container *ngIf="item.aggs.length > 5">
            <span *ngIf="item.sliceIndex === 5">
              {{ 'total' | translate }}
              <a
                href="javascript:;"
                (click)="item.sliceIndex = item.aggs.length"
              >
                {{ item.aggs.length }}
              </a>
              {{ 'item' | translate }}
            </span>
            <span *ngIf="item.sliceIndex > 5">
              <a href="javascript:;" (click)="item.sliceIndex = 5">
                {{ 'pack_up' | translate }}
              </a>
            </span>
          </ng-container>
        </ng-container>
        <ng-container *ngSwitchCase="'project'">
          <table class="table_role_agg">
            <thead>
              <th>{{ 'project' | translate }}</th>
              <th></th>
            </thead>
            <tr *ngFor="let agg of item.aggs.slice(0, item.sliceIndex)">
              <td>{{ agg.name }}</td>
              <td class="action-col">
                <aui-icon
                  *ngIf="showDelete && canDelete && item.aggs.length > 1"
                  icon="basic:minus_circle"
                  (click)="deleteUserbinding(item, agg)"
                ></aui-icon>
              </td>
            </tr>
          </table>

          <ng-container *ngIf="item.aggs.length > 5">
            <span *ngIf="item.sliceIndex === 5">
              {{ 'total' | translate }}
              <a
                href="javascript:;"
                (click)="item.sliceIndex = item.aggs.length"
              >
                {{ item.aggs.length }}
              </a>
              {{ 'item' | translate }}
            </span>
            <span *ngIf="item.sliceIndex > 5">
              <a href="javascript:;" (click)="item.sliceIndex = 5">
                {{ 'pack_up' | translate }}
              </a>
            </span>
          </ng-container>
        </ng-container>
        <ng-container *ngSwitchDefault>-</ng-container>
      </ng-container>
    </aui-table-cell>
  </ng-container>
  <ng-container auiTableColumnDef="action">
    <aui-table-header-cell *auiTableHeaderCellDef></aui-table-header-cell>
    <aui-table-cell *auiTableCellDef="let item">
      <acl-disabled-container *ngIf="showDelete" [isAllowed]="canDelete">
        <button aui-button="text" (click)="deleteUserbindings(item)">
          {{ 'delete' | translate }}
        </button>
      </acl-disabled-container>
    </aui-table-cell>
  </ng-container>
</aui-table>
<acl-k8s-resource-list-footer
  [list]="list"
  resourceName="role"
></acl-k8s-resource-list-footer>
