<ng-container *aluPageHeaderContent>
  <aui-breadcrumb>
    <aui-breadcrumb-item>
      <span>
        {{ 'alarm' | translate }}
      </span>
    </aui-breadcrumb-item>
    <aui-breadcrumb-item>
      <a [routerLink]="resource?.metadata.name ? ['../../'] : ['../']">
        {{ 'alerttemplate' | translate }}
      </a>
    </aui-breadcrumb-item>
    <aui-breadcrumb-item>
      <span>
        {{ (resource?.metadata.name ? 'update' : 'create') | translate }}
      </span>
    </aui-breadcrumb-item>
    <ng-container *ngIf="resource?.metadata.name">
      <aui-breadcrumb-item>
        <span>{{ resource?.metadata.name }}</span>
      </aui-breadcrumb-item>
    </ng-container>
  </aui-breadcrumb>
</ng-container>

<alu-loading-mask [loading]="!initialized"></alu-loading-mask>
<div class="form-wrapper" *ngIf="initialized">
  <aui-card>
    <div auiCardHeader>
      {{ 'basic_info' | translate }}
    </div>
    <form
      #form="ngForm"
      auiForm
      auiFormLabelPosition="right"
      auiFormLabelWidth="114px"
    >
      <aui-form-item [hidden]="resource">
        <label auiFormItemLabel>
          {{ 'name' | translate }}
        </label>
        <input
          auiFormItemControl
          aui-input
          required
          name="name"
          maxlength="63"
          #name="ngModel"
          [(ngModel)]="viewModel.name"
          [pattern]="resourceNameReg.pattern"
          [placeholder]="resourceNameReg.tip | translate"
        />
        <alu-error-mapper
          auiFormItemError
          [errors]="name.errors"
          [errorsMapper]="{
            required:
              'field_is_required' | translate: { field: 'name' | translate },
            pattern: resourceNameReg.tip | translate
          }"
        ></alu-error-mapper>
      </aui-form-item>
      <aui-form-item [hidden]="!resource">
        <label auiFormItemLabel>
          {{ 'name' | translate }}
        </label>
        <span>{{ resource?.metadata.name }}</span>
      </aui-form-item>
      <aui-form-item>
        <label auiFormItemLabel>{{ 'description' | translate }}</label>
        <input
          auiFormItemControl
          aui-input
          name="description"
          [(ngModel)]="viewModel.description"
        />
      </aui-form-item>
      <aui-form-item [hidden]="resource">
        <label auiFormItemLabel>{{ 'resource_type' | translate }}</label>
        <aui-radio-group
          size="medium"
          auiFormItemControl
          name="kind"
          [(ngModel)]="viewModel.kind"
        >
          <aui-radio-button value="cluster" [disabled]="!canChangeResourceType">
            {{ 'cluster' | translate }}
          </aui-radio-button>
          <aui-radio-button value="node" [disabled]="!canChangeResourceType">
            {{ 'node' | translate }}
          </aui-radio-button>
          <aui-radio-button
            value="workload"
            [disabled]="!canChangeResourceType"
          >
            {{ 'workload' | translate }}
          </aui-radio-button>
        </aui-radio-group>
      </aui-form-item>
      <aui-form-item [hidden]="!resource">
        <label auiFormItemLabel>{{ 'resource_type' | translate }}</label>
        <span>{{ viewModel.kind | translate }}</span>
      </aui-form-item>
    </form>
  </aui-card>
  <aui-card>
    <div auiCardHeader>
      {{ 'alarm_rule' | translate }}
    </div>
    <alu-alarm-template-rule-list
      auiFormItemControl
      name="template"
      [kind]="viewModel.kind"
      [(ngModel)]="viewModel.templates"
      (ngModelChange)="onRulesChange($event)"
    ></alu-alarm-template-rule-list>
  </aui-card>
  <aui-card class="resource-form__card">
    <div auiCardHeader>
      {{ 'alarm_action' | translate }}
    </div>
    <alu-alarm-action-form
      auiFormItemControl
      name="action"
      [(ngModel)]="viewModel.actions"
    ></alu-alarm-action-form>
  </aui-card>
</div>
<!-- <div class="form__footer">
  <span fxFlex></span>
  <button
    aui-button="primary"
    [loading]="submitting"
    [disabled]="submitting"
    (click)="confirm()"
  >
    {{ formSubmitText | translate }}
  </button>
  <button aui-button (click)="cancel()">
    {{ 'cancel' | translate }}
  </button>
</div> -->

<footer class="form__footer">
  <button
    aui-button="primary"
    [loading]="submitting"
    [disabled]="submitting"
    (click)="confirm()"
  >
    {{ formSubmitText | translate }}
  </button>
  <button aui-button (click)="cancel()">
    {{ 'cancel' | translate }}
  </button>
</footer>
