<aui-dialog-header>
  {{ 'update_display_name' | translate }}
</aui-dialog-header>

<aui-dialog-content>
  <form
    #form="ngForm"
    auiForm
    auiFormLabelPosition="right"
    auiFormLabelWidth="114px"
  >
    <aui-form-item *ngIf="modalData.cluster">
      <label auiFormItemLabel>
        {{ 'cluster' | translate }}
      </label>
      {{ modalData.cluster | aclName }}
    </aui-form-item>
    <aui-form-item *ngIf="modalData.node">
      <label auiFormItemLabel>
        {{ 'node_ip' | translate }}
      </label>
      {{ modalData.node | aclName }}
    </aui-form-item>
    <aui-form-item>
      <label auiFormItemLabel>
        {{ 'display_name' | translate }}
      </label>
      <input
        aui-input
        auiFormItemControl
        name="displayName"
        [(ngModel)]="displayName"
        [placeholder]="'should_less_than_64' | translate"
        maxlength="64"
      />
    </aui-form-item>
  </form>
</aui-dialog-content>

<aui-dialog-footer>
  <button aui-button="primary" [loading]="submitting" (click)="confirm()">
    {{ 'update' | translate }}
  </button>
  <button aui-button (click)="cancel()">
    {{ 'cancel' | translate }}
  </button>
</aui-dialog-footer>
