.chart-header {
  display: flex;

  .chart-title {
    line-height: 32px;
  }

  alu-inline-form-group {
    justify-content: flex-end;
  }
}

.chart {
  height: 188px;

  > * {
    height: 188px;
  }

  highcharts-chart {
    display: block;
    width: 100%;
  }
}
