<div class="chart-header">
  <div class="chart-title">{{ 'monitoring_info' | translate }}</div>
  <span fxFlex></span>
  <alu-inline-form-group>
    <alu-inline-form-item>
      <label>{{ 'monitor_period' | translate }}</label>
      <aui-select
        [(ngModel)]="selectedTimeStampOption"
        (ngModelChange)="onTimeStampOptionSelect()"
      >
        <aui-option
          *ngFor="let timeStampOption of timeStampOptions"
          [value]="timeStampOption.type"
          [label]="timeStampOption.name | translate"
        >
          {{ timeStampOption.name | translate }}
        </aui-option>
      </aui-select>
    </alu-inline-form-item>
    <ng-container *ngIf="selectedTimeStampOption === 'custom_time_range'">
      <alu-inline-form-item>
        <label>{{ 'from' | translate }}</label>
        <div
          (valueChange)="onStartTimeSelect($event)"
          [aclCalendar]="dateTimeOptions"
          [(value)]="queryDatesShown.start_time"
        >
          <input aui-input [value]="queryDatesShown.start_time" />
        </div>
      </alu-inline-form-item>
      <alu-inline-form-item>
        <label>{{ 'to' | translate }}</label>
        <div
          (valueChange)="onEndTimeSelect($event)"
          [aclCalendar]="dateTimeOptions"
          [(value)]="queryDatesShown.end_time"
        >
          <input aui-input [value]="queryDatesShown.end_time" />
        </div>
      </alu-inline-form-item>
      <alu-inline-form-item>
        <button aui-button="primary" (click)="onSearch()">
          {{ 'confirm' | translate }}
        </button>
      </alu-inline-form-item>
    </ng-container>
  </alu-inline-form-group>
</div>
<div class="chart">
  <highcharts-chart
    *ngIf="chartPercentOptions.series?.length"
    [Highcharts]="Highcharts"
    [options]="chartPercentOptions"
  ></highcharts-chart>
  <highcharts-chart
    *ngIf="chartNumericOptions.series?.length"
    [Highcharts]="Highcharts"
    [options]="chartNumericOptions"
  ></highcharts-chart>
  <alu-zero-state
    [zeroState]="
      !chartPercentOptions.series?.length &&
      !chartNumericOptions.series?.length &&
      !chartLoading
    "
  ></alu-zero-state>
</div>
