<aui-dialog-header>
  {{ 'add_project_strategy' | translate }}
</aui-dialog-header>

<aui-dialog-content>
  <aui-inline-alert type="warning">
    {{ 'add_project_strategy_tip' | translate }}
  </aui-inline-alert>
  <form #form="ngForm" auiForm auiFormLabelWidth="120px">
    <aui-form-item>
      <label auiFormItemLabel>
        {{ 'project' | translate }}
      </label>
      <ng-container *ngIf="dialogData.resource">
        {{ dialogData?.resource | aclName }}
        <ng-container *ngIf="dialogData?.resource | aclDisplayName">
          ({{ dialogData?.resource | aclDisplayName }})
        </ng-container>
      </ng-container>

      <aui-select
        [hidden]="dialogData?.resource"
        auiFormItemControl
        required
        name="project"
        #project="ngModel"
        [placeholder]="'please_select_project' | translate"
        [(ngModel)]="viewModel.project"
      >
        <aui-option
          *ngFor="let item of project$ | async"
          [label]="item | pure: getProjectLabel"
          [value]="item | aclName"
          [disabled]="item | pure: disabledProject"
          [auiTooltip]="'existed' | translate"
          [auiTooltipDisabled]="!(item | pure: disabledProject)"
        >
          {{ item | aclName }}
          <ng-container *ngIf="item | aclDisplayName">
            ({{ item | aclDisplayName }})
          </ng-container>
        </aui-option>
      </aui-select>
      <alu-error-mapper
        auiFormItemError
        [errors]="project.errors"
        [errorsMapper]="{
          required:
            'field_is_required' | translate: { field: 'project' | translate }
        }"
      ></alu-error-mapper>
    </aui-form-item>

    <aui-form-item>
      <label auiFormItemLabel>
        {{ 'log_retention_time' | translate }}
      </label>
      <aui-number-input
        auiFormItemControl
        required
        name="log"
        [min]="1"
        [max]="30"
        [(ngModel)]="viewModel.log"
        (ngModelChange)="valueMathCeil(viewModel.log)"
      ></aui-number-input>
      {{ 'hint_for_the_remaining_days_suffix' | translate }}
    </aui-form-item>
  </form>
</aui-dialog-content>

<aui-dialog-footer>
  <button
    aui-button="primary"
    [disabled]="submitting"
    [loading]="submitting"
    (click)="confirm(form)"
  >
    {{ 'update' | translate }}
  </button>
  <button aui-button [auiDialogClose]="false">
    {{ 'cancel' | translate }}
  </button>
</aui-dialog-footer>
