@import 'var';
.portal {
  display: flex;
  flex-direction: column;
  margin-top: 48px;
  .banner {
    width: 100%;
    min-height: 300px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .title {
      &__product-name {
        font-size: 36px;
        font-weight: 500;
        color: white;
      }
      &__product-description {
        font-size: 18px;
        color: white;
        padding-top: 8px;
      }
    }
  }
  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
    .title {
      &__product-overview {
        font-size: 24px;
        font-weight: 500;
        color: $color-text-main;
      }
      &__description {
        padding-top: 8px;
        font-size: 14px;
        color: $color-text-secondary;
      }
    }
    .cards {
      display: flex;
      flex-direction: row;
      margin: 10px 0;
    }
    .empty {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 47px 0 18px 0;
      &__title {
        padding-top: 16px;
        color: $color-text-main;
        font-weight: 500;
      }
      &__text {
        padding-top: 8px;
        font-size: 12px;
        color: $color-text-help;
      }
      img {
        width: 160px;
      }
    }
  }
  .footer {
    width: 100%;
    min-height: 200px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    .title {
      &__products {
        font-size: 24px;
        font-weight: 500;
        color: $color-white;
        margin: 40px 0 8px 0;
      }
      &__description {
        font-size: 14px;
        color: $color-info;
      }
    }
  }
  .products-list {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 30px 0;
    justify-content: center;
  }
  .list {
    display: flex;
    width: 198px;
    flex-direction: column;
    &:not(:last-child) {
      margin-right: 20px;
    }
    .type-name {
      padding-left: 38px;
      font-size: 20px;
      font-weight: 500;
      color: $color-white;
    }
  }
  .product {
    display: flex;
    padding-top: 16px;
    .img {
      img {
        height: 30px;
        width: 30px;
        padding-right: 8px;
      }
      aui-icon {
        height: 30px;
        width: 30px;
        padding-right: 8px;
        font-size: 30px;
        color: #00a4ff;
      }
    }
    .info {
      display: flex;
      flex-direction: column;
      justify-content: center;
      a {
        font-size: 16px;
        font-weight: 500;
        color: #00a4ff;
      }
      div {
        max-width: 162px;
        font-size: 12px;
        color: $color-info;
      }
    }
  }
}
.available {
  ::ng-deep .aui-page.hasHeader .aui-page__content {
    padding: 0;
    min-height: 0;
  }
}
