<aui-page [ngClass]="{ available: featGuardAllowed$ | async }">
  <ng-container *auiPageHeader>
    <div class="header-left">
      <alu-logo [title]="logoTitle$ | async"></alu-logo>
    </div>
    <div fxFlex></div>
    <acl-account-menu platformPath=""></acl-account-menu>
  </ng-container>

  <div *auiPageContent>
    <acl-page-guard
      [allowed]="featGuardAllowed$ | async"
      [reason]="reason.NotDeployed"
      [description]="'not_deployed_tke' | translate"
    >
      <div *aclPageGuardContent class="layout-page-content portal">
        <div
          class="banner"
          style="background-image: url(banners/banner-top.png);"
        >
          <div class="title__product-name">
            {{ 'portal_banner_title' | translate }}
          </div>
          <div class="title__product-description">
            {{ 'portal_title_description' | translate }}
          </div>
        </div>

        <div class="content">
          <div class="title__product-overview">
            {{ 'product_resource_overview' | translate }}
          </div>
          <div class="title__description">
            {{
              'overview_of_used_cloud_products_and_product_business_information'
                | translate
            }}
          </div>
          <ng-container *ngIf="productCards$ | async as cards">
            <ng-container *ngFor="let productItems of cards">
              <div class="cards">
                <ng-container *ngFor="let product of productItems">
                  <alu-product-card
                    [href]="
                      product
                        | pure: getProductEntryPoint
                        | pure: getProductHref
                    "
                    [name]="
                      product.crd
                        | aclDisplayName
                        | aluParseJson
                        | translate: {}:true
                    "
                    [logo]="product | pure: getLogo"
                    [type]="product | pure: getProductType | translate"
                    [version]="product | pure: getVersion"
                    [metricData]="product.metrics"
                  ></alu-product-card>
                </ng-container>
              </div>
            </ng-container>
            <ng-container *ngIf="cards.length === 0 || metricsAbnormal">
              <div class="empty">
                <img
                  [attr.src]="
                    metricsAbnormal
                      ? 'images/img-failed.svg'
                      : 'images/empty.svg'
                  "
                  alt=""
                />
                <div class="empty__title">
                  {{
                    (metricsAbnormal
                      ? 'product_abnormal_title'
                      : 'no_product_title'
                    ) | translate
                  }}
                </div>
                <div class="empty__text">
                  {{
                    (metricsAbnormal ? 'product_abnormal' : 'no_product')
                      | translate
                  }}
                </div>
              </div>
            </ng-container>
          </ng-container>
        </div>

        <div
          class="footer"
          style="background-image: url(banners/banner-bottom.png);"
        >
          <div class="title__products">
            {{ 'all_cloud_products_and_services' | translate }}
          </div>
          <div class="title__description">
            {{
              'all_deployed_cloud_products_and_platform_public_services'
                | translate
            }}
          </div>
          <div class="products-list">
            <ng-container *ngFor="let type of productTypes">
              <div class="list" *ngIf="type === 'public_service'">
                <div class="type-name">{{ type | translate }}</div>
                <div class="product">
                  <div class="img">
                    <aui-icon icon="basic:setting_home"></aui-icon>
                  </div>
                  <div class="info">
                    <a
                      target="_blank"
                      [routerLink]="['../../', 'manage-platform']"
                      rel="noopener noreferrer"
                    >
                      {{ 'platform_management' | translate }}
                    </a>
                    <div>
                      {{ 'platform_management_description' | translate }}
                    </div>
                  </div>
                </div>
                <div class="product">
                  <div class="img">
                    <aui-icon icon="basic:project_management_s"></aui-icon>
                  </div>
                  <div class="info">
                    <a
                      target="_blank"
                      [routerLink]="['../../', 'home']"
                      rel="noopener noreferrer"
                    >
                      {{ 'project_management' | translate }}
                    </a>
                    <div>
                      {{ 'project_management_description' | translate }}
                    </div>
                  </div>
                </div>

                <div class="product">
                  <div class="img">
                    <aui-icon icon="basic:operation_center"></aui-icon>
                  </div>
                  <div class="info">
                    <a
                      target="_blank"
                      [routerLink]="['../../', 'maintenance-center']"
                      rel="noopener noreferrer"
                    >
                      {{ 'maintenance_center' | translate }}
                    </a>
                    <div>
                      {{ 'maintenance_center_description' | translate }}
                    </div>
                  </div>
                </div>
              </div>

              <ng-container
                *ngIf="products$ | async | pure: filterType:type as products"
              >
                <div class="list" *ngIf="products.length > 0">
                  <div class="type-name">{{ type | translate }}</div>
                  <ng-container *ngFor="let product of products">
                    <div class="product">
                      <div class="img">
                        <img [src]="product | pure: getLogo" />
                      </div>
                      <div class="info">
                        <a
                          [href]="
                            product
                              | pure: getProductEntryPoint
                              | pure: getProductHref
                          "
                          target="_blank"
                          rel="noopener noreferrer"
                        >
                          {{
                            product.crd
                              | aclDisplayName
                              | aluParseJson
                              | translate: {}:true
                          }}
                          {{ product | pure: getVersion }}
                        </a>
                        <div
                          *ngIf="
                            product.crd
                              | aclAnnotation: 'brief'
                              | aluParseJson
                              | translate: {}:true as brief
                          "
                        >
                          {{ brief }}
                        </div>
                      </div>
                    </div>
                  </ng-container>
                </div>
              </ng-container>
            </ng-container>
          </div>
        </div>
      </div>
    </acl-page-guard>
  </div>
</aui-page>
