@import 'var';

.container {
  display: flex;
  position: relative;
  height: calc(100vh - 280px);
  .links {
    width: 200px;
    border-right: 1px solid #e5e5e5;
    ul {
      margin: 0;
      padding: 0;
      list-style: none;
      li > a {
        display: block;
        line-height: 32px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        &.isActive {
          font-weight: 700;
        }
      }
    }
  }

  .toc-container {
    display: block;
    padding: 20px;
    flex: 1;
    overflow: auto;
  }

  .fed-cluster {
    padding-left: 30px;
    &__label {
      display: flex;
      align-items: center;
      span {
        margin-right: 8px;
      }
    }
  }

  .federation_icon {
    color: #00a3af;
    margin-right: 4px;
  }
}
