<form auiForm #form="ngForm" auiFormLabelWidth="94px">
  <div class="container">
    <div class="links">
      <ul class="toc-links">
        <li *ngFor="let cluster of clusters">
          <a
            href="javascript:void(0)"
            [auiTocLink]="cluster.name"
            [for]="toc"
            [title]="cluster | pure: getDisplayName"
          >
            <aui-icon
              *ngIf="cluster | pure: isFedCluster"
              class="federation_icon"
              icon="basic:federation_cluster"
            ></aui-icon>
            {{ cluster | pure: getDisplayName }}
          </a>
        </li>
      </ul>
    </div>
    <div class="toc-container" auiTocContainer #toc="auiTocContainer">
      <aui-accordion [multi]="true">
        <div
          *ngFor="let cluster of clusters; let i = index"
          class="toc-form-group"
          [auiTocContent]="cluster.name"
        >
          <ng-container *ngIf="quotaMap">
            <aui-accordion-item [expanded]="true">
              <div auiAccordionItemHeader>
                <aui-icon
                  *ngIf="cluster | pure: isFedCluster"
                  class="federation_icon"
                  icon="basic:federation_cluster"
                ></aui-icon>
                {{ cluster | pure: getDisplayName }}
              </div>
              <div class="fed-cluster" *ngIf="cluster | pure: isFedCluster">
                <div class="fed-cluster__label">
                  <span>{{ 'quota_set_type' | translate }}</span>
                  <aui-checkbox
                    [name]="'check' + i"
                    [(ngModel)]="cluster.check"
                    (ngModelChange)="fedClusterCheckChange(cluster)"
                    [disabled]="cluster.disabledCheck"
                    [auiTooltip]="'inconsistent_quota' | translate"
                    [auiTooltipDisabled]="!cluster.disabledCheck"
                  >
                    {{ 'fed_cluster_set_some_quota' | translate }}
                  </aui-checkbox>
                </div>
                <aui-accordion [multi]="true">
                  <div
                    *ngFor="let c of getFedClusters(cluster); let j = index"
                    class="toc-form-group"
                  >
                    <aui-accordion-item [expanded]="true">
                      <div auiAccordionItemHeader>
                        <aui-icon
                          class="federation_icon"
                          icon="basic:federation_cluster"
                        ></aui-icon>
                        {{ cluster.check ? ('quota' | translate) : c.name }}
                        <ng-container *ngIf="!cluster.check">
                          <aui-tag
                            *ngIf="c.type === 'Host'"
                            type="info"
                            size="mini"
                            style="margin-right: 4px;"
                          >
                            {{ 'control_cluster' | translate }}
                          </aui-tag>
                        </ng-container>
                      </div>
                      <div class="form-group-content">
                        <alu-project-quota-base-form
                          *ngIf="quotaMap[c.name]"
                          [ngModel]="quotaMap[c.name].quota"
                          (ngModelChange)="quotaMap[c.name]._quota = $event"
                          [name]="'resource-quota-' + i + j"
                          [allCapacity]="quotaMap[c.name].capacity"
                          [allUsed]="quotaMap[c.name].used"
                          [maxLimits]="quotaMap[c.name].limit"
                          [isUpdate]="isUpdate"
                          [hardQuota]="quotaMap[c.name].hard"
                        ></alu-project-quota-base-form>
                      </div>
                    </aui-accordion-item>
                  </div>
                </aui-accordion>
              </div>
              <ng-container *ngIf="!(cluster | pure: isFedCluster)">
                <div class="form-group-content">
                  <alu-project-quota-base-form
                    [ngModel]="quotaMap[cluster.name].quota"
                    (ngModelChange)="quotaMap[cluster.name]._quota = $event"
                    [name]="'resource-quota-' + i"
                    [allCapacity]="quotaMap[cluster.name].capacity"
                    [allUsed]="quotaMap[cluster.name].used"
                    [maxLimits]="quotaMap[cluster.name].limit"
                    [isUpdate]="isUpdate"
                    [hardQuota]="quotaMap[cluster.name].hard"
                  ></alu-project-quota-base-form>
                </div>
              </ng-container>
            </aui-accordion-item>
          </ng-container>
        </div>
      </aui-accordion>
    </div>
  </div>
</form>
