<ng-container [formGroup]="form">
  <aui-form-item *ngIf="updateMode">
    <label auiFormItemLabel>{{ 'namespace_name' | translate }}</label>
    {{ form.controls.metadata['namespace'] || namespace }}
  </aui-form-item>
  <ng-container formGroupName="spec">
    <alu-quota-base-form
      *ngIf="!isForProject"
      formControlName="hard"
      [maxLimits]="maxLimits"
      [limitOrDisplay]="limitOrDisplay"
      [updateOrCreate]="updateOrCreate"
      [customResourceLimits]="customResourceLimits"
    ></alu-quota-base-form>
    <alu-project-quota-base-form
      *ngIf="isForProject"
      formControlName="hard"
      [maxLimits]="maxLimits"
    ></alu-project-quota-base-form>
  </ng-container>
</ng-container>
