<ng-container [formGroup]="form">
  <ng-container *ngFor="let quotaType of k8sQuotaTypes; trackBy: trackByKey">
    <ng-container
      *ngTemplateOutlet="
        tpl;
        context: {
          unit: quotaType.unit !== 'unit_ge' && (quotaType.unit | translate),
          limit: maxLimits | pure: getQuotaLimit:quotaType.key
        }
      "
    ></ng-container>
    <ng-template #tpl let-unit="unit" let-limit="limit">
      <aui-form-item
        *ngIf="
          limit
            ? +limit
              ? ('available_content'
                | translate
                  : {
                      content: limit + (unit ? ' ' + unit : '')
                    })
              : ('no_more_resource_tip' | translate)
            : ('unlimited' | translate) as limitText
        "
      >
        <label auiFormItemLabel>{{ quotaType.name | translate }}</label>
        <aui-input-group fxFlex>
          <input
            aui-input
            auiFormItemControl
            [formControlName]="quotaType.key"
            pattern="^\d+$"
            [min]="0"
            [max]="limitOrDisplay && limit"
            [required]="limitOrDisplay && !!limit"
          />
          <span *ngIf="unit" auiInputAddonAfter>{{ unit }}</span>
        </aui-input-group>
        <alu-error-mapper
          auiFormItemError
          [errors]="form.controls[quotaType.key].errors"
          [errorsMapper]="{
            pattern: 'zero_positive_integer_pattern' | translate,
            max: limitText
          }"
        ></alu-error-mapper>
        <ng-container
          *ngIf="!form.controls[quotaType.key].errors?.max"
          auiFormItemHint
        >
          {{ limitText }}
        </ng-container>
        <div *ngIf="quotaType.description" auiFormItemAddon>
          <aui-icon
            icon="basic:question"
            [auiTooltip]="quotaType.description | translate"
          ></aui-icon>
        </div>
      </aui-form-item>
    </ng-template>
  </ng-container>
</ng-container>
