<form auiForm *ngIf="form" auiFormLabelWidth="114px" [formGroup]="form">
  <div class="field-head">
    <aui-checkbox
      auiFormItemControl
      formControlName="selected"
      (ngModelChange)="select($event)"
    >
      {{ 'tdsql_lvs' | translate }}
    </aui-checkbox>
    <div class="field-head__des">
      {{ 'tdsql_lvs_description' | translate }}
    </div>
  </div>
  <div class="field-body" *ngIf="form.get('selected').value">
    <aui-form-item>
      <label auiFormItemLabel>{{ 'tdsql_host_ip' | translate }}</label>
      <alu-tdsql-ip-selector
        auiFormItemControl
        formControlName="hostIps"
        [multiSelect]="true"
        [allowedCount]="[2]"
        [placeholder]="'tdsql_lvs_host_ip_limit_placeholder' | translate"
        required
      ></alu-tdsql-ip-selector>
      <div auiFormItemHint>
        {{ 'lvs_host_ip_hint' | translate }}
      </div>
      <div auiFormItemAddon>
        <aui-icon
          icon="basic:question"
          [auiTooltipPosition]="'start bottom'"
          [auiTooltip]="'tdsql_tooltip_lvs_host_ip' | translate"
        ></aui-icon>
      </div>
      <alu-error-mapper
        auiFormItemError
        [errors]="form.get('hostIps').errors"
        [errorsMapper]="{
          required:
            'field_is_required'
            | translate: { field: 'tdsql_host_ip' | translate },
          allowedCountError: 'tdsql_lvs_host_ip_limit_placeholder' | translate
        }"
      ></alu-error-mapper>
    </aui-form-item>
  </div>
</form>
