@import 'var';

aui-card {
  display: block;
  margin-bottom: 52px;
}

.deploy-method {
  &__title {
    margin-bottom: 16px;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    aui-icon {
      font-size: 16px;
      color: #999;
      margin-left: 8px;
      &:hover {
        color: $color-primary;
      }
    }
  }
  &__body {
    display: flex;
    justify-content: space-between;
  }
  &__item {
    border: 1px solid #ccc;
    padding: 20px;
    flex: 1;
    &:first-child {
      margin-right: 20px;
    }
    &:hover {
      border-color: $color-primary;
    }
  }
  &__figure {
    height: 260px;
    margin-bottom: 20px;
    img {
      width: 100%;
      height: 100%;
    }
  }
  &__name {
    text-align: center;
  }
}
