<ng-container *aluPageHeaderContent>
  <aui-breadcrumb>
    <aui-breadcrumb-item>
      <a routerLink="/manage-platform/product">
        {{ 'product_management' | translate }}
      </a>
    </aui-breadcrumb-item>
    <aui-breadcrumb-item>
      <span>{{ 'deploy_ti_matrix' | translate }}</span>
    </aui-breadcrumb-item>
  </aui-breadcrumb>
</ng-container>

<ng-container>
  <aui-card>
    <div auiCardHeader>
      <span>{{ 'deploy_ti_matrix' | translate }}</span>
    </div>
    <ng-container *ngIf="!isMethodSelected">
      <div class="deploy-method">
        <div class="deploy-method__title">
          {{ 'ti_deploy_method_title' | translate }}
          <aui-icon icon="basic:question"></aui-icon>
        </div>
        <div class="deploy-method__body">
          <div class="deploy-method__item" (click)="selectMethod('visual')">
            <div class="deploy-method__figure">
              <img
                class="view-image"
                [attr.src]="'images/ti-visual-deployment.svg'"
                alt=""
              />
            </div>
            <div class="deploy-method__name">
              {{ 'visual_deployment' | translate }}
            </div>
          </div>
          <div class="deploy-method__item" (click)="selectMethod('yaml')">
            <div class="deploy-method__figure">
              <img
                class="view-image"
                [attr.src]="'images/ti-yaml-deployment.svg'"
                alt=""
              />
            </div>
            <div class="deploy-method__name">
              {{ 'yaml_deployment' | translate }}
            </div>
          </div>
        </div>
      </div>
    </ng-container>

    <ng-container *ngIf="isMethodSelected">
      <alu-ti-deploy-form
        *ngIf="deployMethod === 'visual'"
        [version]="version$ | async"
      ></alu-ti-deploy-form>
      <ng-container *ngIf="deployMethod === 'yaml'">
        <aui-code-editor
          *ngIf="deployMethod === 'yaml'"
          [options]="{ language: 'yaml', readOnly: false }"
          [actionsConfig]="editorActions"
          [(ngModel)]="deployYaml"
        ></aui-code-editor>
        <footer class="form__footer">
          <button
            aui-button="primary"
            [disabled]="!deployYaml || submitting"
            [loading]="submitting"
            (click)="deploy()"
          >
            {{ 'deploy' | translate }}
          </button>
          <button aui-button type="button" (click)="goBack()">
            {{ 'cancel' | translate }}
          </button>
        </footer>
      </ng-container>
    </ng-container>
  </aui-card>
</ng-container>
