@import '../../common.scss';

.field-group {
  display: flex;
  margin-bottom: 16px;
  &__label {
    width: 118px;
    text-align: right;
    &:after {
      content: ':';
      margin-right: 2;
      padding-right: 8px;
      box-sizing: border-box;
      line-height: 32px;
    }
  }
  &__items {
    flex: 1;
    padding-right: 32px;
    aui-form-item {
      ::ng-deep {
        .aui-form-item {
          margin-bottom: 12px;
          &__label-wrapper {
            height: 32px;
          }
        }
      }
      &:last-child {
        ::ng-deep {
          .aui-form-item {
            margin-bottom: 0;
          }
        }
      }
    }
  }
}

.comp-deploy__type {
  margin-bottom: 8px;
}
