<form
  *ngIf="formGroup"
  #ngForm="ngForm"
  auiForm
  [formGroup]="formGroup"
  auiFormLabelWidth="118px"
  [auiFormEmptyAddon]="true"
  novalidate
>
  <aui-form-item>
    <label auiFormItemLabel>{{ 'Mysql Server' }}</label>
    <alu-mysql-server-field
      auiFormItemControl
      formControlName="mysqlServer"
      [hosts]="hosts"
      required
    ></alu-mysql-server-field>
  </aui-form-item>
  <aui-form-item>
    <label auiFormItemLabel>{{ 'Redis' }}</label>
    <alu-redis-field
      auiFormItemControl
      formControlName="redis"
      [hosts]="hosts"
      required
    ></alu-redis-field>
  </aui-form-item>
  <aui-form-item>
    <label auiFormItemLabel>{{ 'Zk Server' }}</label>
    <alu-zk-server-field
      auiFormItemControl
      formControlName="zkServer"
      [defaultAddresses]="defaultAddresses$ | async"
      [hosts]="hosts"
      required
    ></alu-zk-server-field>
  </aui-form-item>
  <aui-form-item>
    <label auiFormItemLabel>{{ 'Kfk Server' }}</label>
    <alu-kfk-server-field
      auiFormItemControl
      formControlName="kfkServer"
      [defaultAddresses]="defaultAddresses$ | async"
      [hosts]="hosts"
      required
    ></alu-kfk-server-field>
  </aui-form-item>
  <aui-form-item>
    <label auiFormItemLabel>{{ 'ES Master' }}</label>
    <alu-es-master-field
      auiFormItemControl
      formControlName="esMaster"
      [defaultAddresses]="defaultAddresses$ | async"
      [hosts]="hosts"
      required
    ></alu-es-master-field>
  </aui-form-item>
  <aui-form-item>
    <label auiFormItemLabel>{{ 'Consul Server' }}</label>
    <alu-consul-server-field
      auiFormItemControl
      formControlName="consulServer"
      [hosts]="hosts"
      required
    ></alu-consul-server-field>
  </aui-form-item>
  <!-- etcd -->
  <aui-form-item>
    <label auiFormItemLabel>{{ 'Etcd' }}</label>
    <aui-multi-select auiFormItemControl formControlName="etcd" required>
      <aui-option *ngFor="let node of nodes" [value]="node.internalip">
        {{ node.internalip }}
      </aui-option>
    </aui-multi-select>
    <alu-error-mapper
      auiFormItemError
      [errors]="formGroup.get('etcd').errors"
      [errorsMapper]="{
        required: 'field_is_required' | translate: { field: 'Etcd' | translate }
      }"
    ></alu-error-mapper>
  </aui-form-item>
  <!-- influxdb -->
  <div class="field-group">
    <label class="field-group__label">{{ 'InfluxDB' }}</label>
    <div class="field-group__items">
      <div class="comp-deploy__type">
        <aui-radio-group [size]="'small'" [value]="1">
          <aui-radio-button [value]="1" [disabled]="isUpdate">
            {{ 'access_component' | translate }}
          </aui-radio-button>
        </aui-radio-group>
      </div>
      <div class="field-panel__wrap">
        <div class="field-panel__body">
          <aui-form-item [emptyAddon]="false" labelWidth="96px">
            <label auiFormItemLabel>{{ 'address' | translate }}</label>
            <input
              auiFormItemControl
              formControlName="influxdbAddress"
              aui-input
            />
          </aui-form-item>
          <aui-form-item [emptyAddon]="false" labelWidth="96px">
            <label auiFormItemLabel>{{ 'username' | translate }}</label>
            <input
              auiFormItemControl
              formControlName="influxdbUser"
              aui-input
            />
          </aui-form-item>
          <aui-form-item [emptyAddon]="false" labelWidth="96px">
            <label auiFormItemLabel>{{ 'password' | translate }}</label>
            <input
              auiFormItemControl
              formControlName="influxdbPassword"
              aui-input
              type="password"
            />
          </aui-form-item>
        </div>
      </div>
    </div>
  </div>
  <aui-form-item>
    <label auiFormItemLabel>{{ 'storage_mode' | translate }}</label>
    <aui-radio-group formControlName="storageMode" [size]="'small'">
      <aui-radio-button
        *ngFor="
          let option of [
            { label: 'locale_storage', value: 0 },
            { label: 'cos_storage', value: 1 }
          ]
        "
        [value]="option.value"
        [disabled]="isUpdate"
      >
        {{ option.label | translate }}
      </aui-radio-button>
    </aui-radio-group>
  </aui-form-item>
  <!-- cos -->
  <div class="field-group" *ngIf="formGroup.get('storageMode').value === 1">
    <label class="field-group__label">{{ 'Cos' }}</label>
    <div class="field-group__items">
      <div class="field-panel__wrap">
        <div class="field-panel__body">
          <aui-form-item [emptyAddon]="false" labelWidth="96px">
            <label auiFormItemLabel>{{ 'Cos Region' }}</label>
            <input
              auiFormItemControl
              formControlName="cosRegion"
              aui-input
              [required]="formGroup.get('storageMode').value === 1"
            />
            <alu-error-mapper
              auiFormItemError
              [errors]="formGroup.get('cosRegion').errors"
              [errorsMapper]="{
                required:
                  'field_is_required' | translate: { field: 'Cos Region' }
              }"
            ></alu-error-mapper>
          </aui-form-item>
          <aui-form-item [emptyAddon]="false" labelWidth="96px">
            <label auiFormItemLabel>{{ 'Bucket' }}</label>
            <input
              auiFormItemControl
              formControlName="cosBucket"
              aui-input
              [required]="formGroup.get('storageMode').value === 1"
            />
            <alu-error-mapper
              auiFormItemError
              [errors]="formGroup.get('cosBucket').errors"
              [errorsMapper]="{
                required: 'field_is_required' | translate: { field: 'Bucket' }
              }"
            ></alu-error-mapper>
          </aui-form-item>
          <aui-form-item [emptyAddon]="false" labelWidth="96px">
            <label auiFormItemLabel>{{ 'Secret ID' }}</label>
            <input
              auiFormItemControl
              formControlName="cosSecretId"
              aui-input
              [required]="formGroup.get('storageMode').value === 1"
            />
            <alu-error-mapper
              auiFormItemError
              [errors]="formGroup.get('cosSecretId').errors"
              [errorsMapper]="{
                required:
                  'field_is_required' | translate: { field: 'Secret ID' }
              }"
            ></alu-error-mapper>
          </aui-form-item>
          <aui-form-item [emptyAddon]="false" labelWidth="96px">
            <label auiFormItemLabel>{{ 'Secret Key' }}</label>
            <input
              auiFormItemControl
              formControlName="cosSecretKey"
              aui-input
              [required]="formGroup.get('storageMode').value === 1"
            />
            <alu-error-mapper
              auiFormItemError
              [errors]="formGroup.get('cosSecretKey').errors"
              [errorsMapper]="{
                required:
                  'field_is_required' | translate: { field: 'Secret Key' }
              }"
            ></alu-error-mapper>
          </aui-form-item>
          <aui-form-item [emptyAddon]="false" labelWidth="96px">
            <label auiFormItemLabel>{{ 'App ID' }}</label>
            <input
              auiFormItemControl
              formControlName="cosAppId"
              aui-input
              [required]="formGroup.get('storageMode').value === 1"
            />
            <alu-error-mapper
              auiFormItemError
              [errors]="formGroup.get('cosAppId').errors"
              [errorsMapper]="{
                required: 'field_is_required' | translate: { field: 'App ID' }
              }"
            ></alu-error-mapper>
          </aui-form-item>
        </div>
      </div>
    </div>
  </div>
  <!-- keepalived -->
  <div class="field-group">
    <label class="field-group__label">{{ 'Keepalived' }}</label>
    <div class="field-group__items">
      <div class="field-panel__wrap">
        <div class="field-panel__body">
          <aui-form-item [emptyAddon]="false" labelWidth="96px">
            <label auiFormItemLabel>{{ 'Vip' | translate }}</label>
            <input
              auiFormItemControl
              formControlName="keepalivedVip"
              aui-input
            />
          </aui-form-item>
          <aui-form-item [emptyAddon]="false" labelWidth="96px">
            <label auiFormItemLabel>{{ 'Rsip' | translate }}</label>
            <aui-multi-select
              auiFormItemControl
              formControlName="keepalivedRsip"
            >
              <aui-option *ngFor="let node of nodes" [value]="node.internalip">
                {{ node.internalip }}
              </aui-option>
            </aui-multi-select>
          </aui-form-item>
        </div>
      </div>
    </div>
  </div>
  <div class="field-group">
    <label class="field-group__label">{{ 'others' | translate }}</label>
    <div class="field-group__items">
      <div class="comp-deploy__type">
        <aui-radio-group [size]="'small'" [value]="1">
          <aui-radio-button [value]="1" [disabled]="isUpdate">
            {{ 'access_component' | translate }}
          </aui-radio-button>
        </aui-radio-group>
      </div>
      <div class="field-panel__wrap">
        <div class="field-panel__body">
          <aui-form-item>
            <label auiFormItemLabel>{{ 'Grafana' }}</label>
            <input auiFormItemControl formControlName="grafana" aui-input />
          </aui-form-item>
          <aui-form-item>
            <label auiFormItemLabel>{{ 'Ceph' }}</label>
            <input auiFormItemControl formControlName="ceph" aui-input />
          </aui-form-item>
          <aui-form-item>
            <label auiFormItemLabel>{{ 'Time Server' }}</label>
            <input auiFormItemControl formControlName="timeServer" aui-input />
          </aui-form-item>
        </div>
      </div>
    </div>
  </div>
</form>
