<form #form="ngForm" auiForm auiFormLabelWidth="114px">
  <aui-form-item *ngFor="let item of list; let i = index">
    <label auiFormItemLabel>
      {{ item.label | translate }}
    </label>

    <aui-checkbox
      auiFormItemControl
      name="{{ 'ck_' + i }}"
      [(ngModel)]="item.checked"
      (ngModelChange)="itemStateChange($event)"
      [disabled]="isDisabled"
      required
    >
      {{ item.text | translate }}
    </aui-checkbox>
    <!-- FIXME: aui-checkbox为“reauired”时，无论check状态为true或false，它的errors都是null。 -->
    <input
      [hidden]="true"
      type="checkbox"
      name="{{ 'ck_' + i }}"
      [(ngModel)]="item.checked"
      required
    />

    <alu-error-mapper
      auiFormItemError
      [errors]="form.controls['ck_' + i]?.errors"
      [errorsMapper]="{
        required: item.tip | translate
      }"
    ></alu-error-mapper>
  </aui-form-item>
</form>
