<alu-array-form-table
  [noRowSeparator]="true"
  [resourceName]="resourceName"
  [rowBackgroundColorFn]="rowBackgroundColorFn"
  (add)="add(form.length)"
  (remove)="remove($event)"
  [rows]="form.controls"
  [formGroup]="form"
>
  <ng-container *aluArrayFormTableHeader>
    <th style="width:33%">{{ 'key' | translate }}</th>
    <th style="width:66%">{{ 'value' | translate }}</th>
  </ng-container>

  <!-- Input row -->
  <ng-container
    *aluArrayFormTableRow="let index = index"
    [formGroupName]="index"
  >
    <td>
      <input
        (blur)="onBlur()"
        aui-input
        [readonly]="isLabelReadonly(index)"
        formControlName="0"
      />
    </td>

    <td>
      <input
        (blur)="onBlur()"
        aui-input
        [readonly]="isLabelReadonly(index)"
        formControlName="1"
      />
    </td>
  </ng-container>

  <!-- Input error row -->
  <ng-container *aluArrayFormTableRow="let control">
    <td *ngIf="control.invalid" colspan="3" class="alu-table-form-error-hint">
      <ng-container *ngIf="control.errors?.keyIsMissing">
        {{ 'key_is_missing_error_message' | translate }}
      </ng-container>

      <ng-container *ngIf="control.errors?.duplicateKey">
        {{
          'duplicate_key_error_message'
            | translate: { key: control?.errors?.duplicateKey }
        }}
      </ng-container>

      <alu-error-mapper
        auiFormItemError
        [errors]="control.errors?.key"
        [errorsMapper]="errorMapper?.key"
      ></alu-error-mapper>
      <alu-error-mapper
        auiFormItemError
        [errors]="control.errors?.value"
        [errorsMapper]="errorMapper?.value"
      ></alu-error-mapper>
    </td>
  </ng-container>

  <ng-container *aluArrayFormTableRowControl="let item; let index = index">
    <aui-icon
      [hidden]="isLabelReadonly(index)"
      icon="basic:minus_circle"
      (click)="remove(index)"
    ></aui-icon>
  </ng-container>
</alu-array-form-table>
