<aui-dialog-header>
  {{ 'update_display_name' | translate }}
</aui-dialog-header>

<aui-dialog-content>
  <form
    #form="ngForm"
    auiForm
    auiFormLabelPosition="right"
    auiFormLabelWidth="114px"
  >
    <aui-form-item>
      <label auiFormItemLabel>
        {{ 'clusterfed' | translate }}
      </label>
      <span>{{ name }}</span>
    </aui-form-item>
    <aui-form-item>
      <label auiFormItemLabel>
        {{ 'display_name' | translate }}
      </label>
      <input
        aui-input
        auiFormItemControl
        required
        #displayNameModel="ngModel"
        name="displayName"
        [(ngModel)]="displayName"
        [placeholder]="'input_display_name' | translate"
      />
      <alu-error-mapper
        auiFormItemError
        [errors]="displayNameModel.errors"
        [errorsMapper]="{
          required:
            'field_is_required'
            | translate: { field: 'display_name' | translate }
        }"
      ></alu-error-mapper>
    </aui-form-item>
  </form>
</aui-dialog-content>

<aui-dialog-footer>
  <button aui-button="primary" [loading]="submitting" (click)="confirm()">
    {{ 'update' | translate }}
  </button>
  <button aui-button (click)="cancel()">
    {{ 'cancel' | translate }}
  </button>
</aui-dialog-footer>
