:host {
  .field {
    display: flex;
    height: 20px;

    &-label {
      position: relative;
      padding-right: 14px;

      &:after {
        position: absolute;
        top: 0;
        right: 8px;
        content: ':';
      }
    }
  }
}
