<aui-card>
  <aui-table [dataSource]="dataSource$ | async">
    <ng-container auiTableColumnDef="name">
      <aui-table-header-cell *auiTableHeaderCellDef>
        {{ 'name' | translate }}
      </aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let item">
        <div class="field">
          <span class="field-content">{{ item.name }}</span>
        </div>
        <div class="field">
          <span class="field-content">{{ item.displayName }}</span>
        </div>
      </aui-table-cell>
    </ng-container>

    <ng-container auiTableColumnDef="host">
      <aui-table-header-cell *auiTableHeaderCellDef>
        {{ 'host' | translate }}
      </aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let item">
        {{ item.ip }}
      </aui-table-cell>
    </ng-container>

    <ng-container auiTableColumnDef="machine_configuration">
      <aui-table-header-cell *auiTableHeaderCellDef>
        {{ 'machine_configuration' | translate }}
      </aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let item">
        <div class="field">
          <label class="field-label">{{ 'cpu' | translate }}</label>
          <span class="field-content">
            {{ item.config.cpu }}
          </span>
        </div>
        <div class="field">
          <label class="field-label">{{ 'memory' | translate }}</label>
          <span class="field-content">
            {{ item.config.memory / 1000 / 1000 | pure: toFix:2 }}
          </span>
        </div>
        <div class="field">
          <label class="field-label">{{ 'storage' | translate }}</label>
          <span class="field-content">
            {{ item.config.disk }}
          </span>
        </div>
      </aui-table-cell>
    </ng-container>

    <ng-container auiTableColumnDef="proxy_cache">
      <aui-table-header-cell *auiTableHeaderCellDef>
        {{ 'proxy_cache' | translate }}
      </aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let item">
        <ng-container
          *ngTemplateOutlet="
            installationTemplate;
            context: { installed: item.proxyCache }
          "
        ></ng-container>
      </aui-table-cell>
    </ng-container>

    <ng-container auiTableColumnDef="control_equipment">
      <aui-table-header-cell *auiTableHeaderCellDef>
        {{ 'control_equipment' | translate }}
      </aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let item">
        <ng-container
          *ngTemplateOutlet="
            installationTemplate;
            context: { installed: item.controlEquip }
          "
        ></ng-container>
      </aui-table-cell>
    </ng-container>

    <ng-container auiTableColumnDef="lvs">
      <aui-table-header-cell *auiTableHeaderCellDef>
        {{ 'lvs' | translate }}
      </aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let item">
        <ng-container
          *ngTemplateOutlet="
            installationTemplate;
            context: { installed: item.lvs }
          "
        ></ng-container>
      </aui-table-cell>
    </ng-container>

    <ng-container auiTableColumnDef="influx_db">
      <aui-table-header-cell *auiTableHeaderCellDef>
        {{ 'influx_db' | translate }}
      </aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let item">
        <ng-container
          *ngTemplateOutlet="
            installationTemplate;
            context: { installed: item.influxdb }
          "
        ></ng-container>
      </aui-table-cell>
    </ng-container>
    <aui-table-header-row
      *auiTableHeaderRowDef="columns"
    ></aui-table-header-row>
    <aui-table-row *auiTableRowDef="let row; columns: columns"></aui-table-row>
  </aui-table>
</aui-card>

<ng-template #installationTemplate let-installed="installed">
  <ng-container *ngIf="installed">
    <aui-icon icon="basic:success_s"></aui-icon>
  </ng-container>
</ng-template>
