<form auiForm *ngIf="form" auiFormLabelWidth="114px" [formGroup]="form">
  <div class="field-head">
    <aui-checkbox
      auiFormItemControl
      formControlName="selected"
      (ngModelChange)="select($event)"
    >
      {{ 'tdsql_standby_chitu' | translate }}
    </aui-checkbox>
    <div class="field-head__des">
      {{ 'tdsql_chitu_description' | translate }}
    </div>
  </div>
  <div class="field-body" *ngIf="form.get('selected').value">
    <aui-form-item>
      <label auiFormItemLabel>{{ 'tdsql_host_ip' | translate }}</label>
      <span auiFormItemControl>{{ chituHostIp }}</span>
    </aui-form-item>
    <aui-form-item>
      <label auiFormItemLabel>
        {{ 'tdsql_standby_chitu' | translate }}
      </label>
      <alu-tdsql-ip-selector
        auiFormItemControl
        formControlName="standbyIp"
        [excludeOptions]="getChituSlaveExcludeOptions()"
        required
        [placeholder]="
          'tdsql_standby_chitu_host_ip_limit_placeholder' | translate
        "
      ></alu-tdsql-ip-selector>
      <ng-container *ngTemplateOutlet="addIpButton"></ng-container>
      <div auiFormItemAddon>
        <aui-icon
          icon="basic:question"
          [auiTooltip]="'tdsql_tooltip_chitu_slave_ip' | translate"
        ></aui-icon>
      </div>
      <div
        auiFormItemError
        *ngIf="form.get('standbyIp').errors?.excludeOptionsError"
      >
        {{ 'tdsql_standby_chitu_host_ip_limit_placeholder' | translate }}
      </div>
    </aui-form-item>
  </div>
</form>
