@import '~@alauda/ui/theme/var';

$color-text-disabled: #ccc !default;
$border-color: #ededed;
$page-top-padding: 112px;
$page-bottom-padding: 20px;
$snack-bar-height: 56px;
$default-border: $border-width $border-style $border-color;
