@import '~@alauda/ui/theme/mixin';
@import '~@alauda/ui/theme/pattern';
@import '~@alauda/ui/theme/style';
@import '../app/shared/var';
@import './var';

html {
  height: 100vh;
  font-size: 14px;
}

body,
ul {
  margin: 0;
  padding: 0;
}

.aui-card__header {
  display: flex;
  align-items: center;
}

.alu-separator {
  border-top: 1px dashed $border-color;
  padding: 0 16px;
  margin-bottom: 20px;
}

.alu-secondary-title {
  display: flex;
  font-weight: 400;
  font-size: 16px;
  color: #333;
  margin-bottom: 16px;
  align-items: center;
  &:before {
    content: '';
    display: block;
    margin-right: 8px;
    height: 16px;
    width: 4px;
    background-color: $color-primary;
  }
}

td.alu-table-form-error-hint {
  padding-top: 0;
  color: $color-error;
  font-size: 12px;
}

.empty-placeholder {
  @include table-placeholder;
}

.sk-folding-cube {
  width: 40px;
  height: 40px;
  position: relative;
  transform: rotateZ(45deg);

  &.index-loading-spinner {
    position: fixed;
    top: calc(50% - 20px);
    left: calc(50% - 20px);
  }

  .sk-cube {
    float: left;
    width: 50%;
    height: 50%;
    position: relative;
    transform: scale(1.1);

    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #006eff;
      animation: sk-foldCubeAngle 2.4s infinite linear both;
      transform-origin: 100% 100%;
    }
  }

  .sk-cube2 {
    transform: scale(1.1) rotateZ(90deg);

    &:before {
      animation-delay: 0.3s;
    }
  }

  .sk-cube3 {
    transform: scale(1.1) rotateZ(180deg);

    &:before {
      animation-delay: 0.6s;
    }
  }

  .sk-cube4 {
    transform: scale(1.1) rotateZ(270deg);

    &:before {
      animation-delay: 0.9s;
    }
  }
}

@keyframes sk-foldCubeAngle {
  from,
  10% {
    transform: perspective(140px) rotateX(-180deg);
    opacity: 0;
  }

  25%,
  75% {
    transform: perspective(140px) rotateX(0deg);
    opacity: 1;
  }

  90%,
  to {
    transform: perspective(140px) rotateY(180deg);
    opacity: 0;
  }
}

acl-product-select {
  margin: {
    left: 4px;
    right: 40px;
  }
}

aui-icon[ng-reflect-aui-tooltip-copy] {
  margin-left: 4px;
  cursor: pointer;

  &:hover {
    color: $color-primary;
  }
}

.base-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: -7px 0;
}

.aui-table__header-cell.aui-table__column-action,
.aui-table__cell.aui-table__column-action {
  flex: 0 0 48px;
}

.table-cell__display-name {
  margin-top: 2px;
  font-size: $font-size-small;
  color: $color-text-help;
}

.table-cell__name {
  font-weight: 500;
  font-size: 16px;
}

.form__footer {
  display: flex;
  justify-content: flex-end;
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 12px 20px 12px 220px;
  box-shadow: 0 -1px 2px 0 rgba(0, 0, 0, 0.1);
  background-color: rgba(#fff, 0.9);
  z-index: 2;
  align-items: center;
}

.metadata__name {
  width: 50%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

textarea.aui-input.textarea--no-resize {
  resize: none;
}

.text--multiline {
  white-space: pre-line;
}

.aui-select__input.aui-input[disabled][readonly] {
  background-color: #f2f2f2;
  border-color: #ccc;
  cursor: not-allowed;
}

.aui-breadcrumb__item {
  max-width: 224px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

aui-paginator {
  margin-top: 12px;
  display: flex;
  flex-direction: row-reverse;
}

[hidden] {
  display: none !important;
}
.text-help {
  color: $color-text-help;
}
.aui-table {
  // Reset AUI Table styles until they are applied to the master branch.
  .aui-table__header-row {
    margin-top: -1px;
    padding: 0;
  }

  .aui-table__cell,
  .aui-table__header-cell {
    padding: 0 8px;
    white-space: nowrap;
    text-overflow: ellipsis;
    flex: 1 0 100px;
  }

  .aui-table__cell__display-name {
    @include text-overflow;

    margin-top: 2px;
    font-size: 12px;
    color: $color-text-help;
  }

  .aui-table__column-name {
    flex: 2 0 100px;
    @include text-overflow;
    a {
      display: inline-block;
      color: $color-primary;
      text-decoration: none;
      max-width: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }

  .aui-table__column-create_time {
    flex: 0 0 150px;
    display: flex;
  }

  .aui-table__column-action {
    flex: 0 0 44px;
    display: flex;
    justify-content: center;
  }
}

.aui-form-item__content aui-multi-select,
.aui-form-item__content aui-select {
  flex: 1;
}
