<aui-dialog-header>
  {{ 'create_alarm_from_template' | translate }}
</aui-dialog-header>

<aui-dialog-content>
  <form
    #form="ngForm"
    auiForm
    auiFormLabelPosition="right"
    auiFormLabelWidth="114px"
  >
    <aui-form-item>
      <label auiFormItemLabel>
        {{ 'alarm_name' | translate }}
      </label>
      <input
        auiFormItemControl
        aui-input
        required
        name="name"
        #name="ngModel"
        maxlength="63"
        [(ngModel)]="viewModel.name"
        [pattern]="resourceNameReg.pattern"
        [placeholder]="resourceNameReg.tip | translate"
      />
      <alu-error-mapper
        auiFormItemError
        [errors]="name.errors"
        [errorsMapper]="{
          required:
            'field_is_required'
            | translate: { field: 'alarm_name' | translate },
          pattern: resourceNameReg.tip | translate
        }"
      ></alu-error-mapper>
    </aui-form-item>
    <aui-form-item>
      <label auiFormItemLabel>{{ 'cluster_template_name' | translate }}</label>
      <aui-select
        auiFormItemControl
        name="template"
        #template="ngModel"
        required
        clearable
        filterable
        [loading]="loading"
        [(ngModel)]="viewModel.template"
      >
        <ng-container *ngFor="let templates of templatesGroup">
          <aui-option-group *ngIf="templates.length">
            <div auiOptionGroupTitle>
              {{ templates[0] | aclLabel: 'kind' | translate }}
            </div>
            <aui-option
              *ngFor="let temp of templates"
              [label]="temp.metadata.name"
              [value]="temp"
              class="alarm-template-option"
            >
              {{ temp.metadata.name }}
              <span *ngIf="temp | aclDescription" class="description">
                ({{ temp | aclDescription | aclFieldNotAvailable }})
              </span>
            </aui-option>
          </aui-option-group>
        </ng-container>
        <aui-option-placeholder>
          {{ 'no_data' | translate }}
        </aui-option-placeholder>
      </aui-select>
      <alu-error-mapper
        auiFormItemError
        [errors]="template.errors"
        [errorsMapper]="{
          required:
            'field_is_required'
            | translate: { field: 'cluster_template_name' | translate }
        }"
      ></alu-error-mapper>
    </aui-form-item>
    <ng-container *ngIf="viewModel.template">
      <aui-form-item>
        <label auiFormItemLabel>{{ 'resource_type' | translate }}</label>
        <ng-container auiFormItemControl>
          {{ viewModel.template | aclLabel: 'kind' | translate }}
        </ng-container>
      </aui-form-item>
      <aui-form-item>
        <label auiFormItemLabel>{{ 'resource_name' | translate }}</label>
        <span
          *ngIf="
            (viewModel.template | aclLabel: 'kind' | lowercase) === 'cluster'
          "
          auiFormItemControl
        >
          {{ modalData.cluster }}
        </span>
        <aui-select
          *ngIf="(viewModel.template | aclLabel: 'kind' | lowercase) === 'node'"
          auiFormItemControl
          name="node"
          required
          [(ngModel)]="viewModel.node"
        >
          <aui-option
            [value]="{ address: '0.0.0.0', hostname: '' }"
            [label]="'all_nodes' | translate"
          >
            {{ 'all_nodes' | translate }}
          </aui-option>
          <aui-option
            *ngFor="let node of nodes"
            [value]="node"
            [label]="node.address"
          >
            {{ node.address }}
          </aui-option>
        </aui-select>
      </aui-form-item>
      <aui-form-item *ngIf="metricType">
        <label auiFormItemLabel>{{ 'alarm_rule' | translate }}</label>
        <table class="alarm-table-rules" cellspacing="0">
          <thead class="alarm-table-rules__header">
            <tr>
              <td>{{ 'alarm_rule' | translate }}</td>
              <td>{{ 'alarm_type' | translate }}</td>
              <td>{{ 'level' | translate }}</td>
            </tr>
          </thead>
          <tbody class="alarm-table-rules__body">
            <tr
              *ngFor="
                let rule of parseAlertList(
                  viewModel.template.spec.templates,
                  '',
                  metricType,
                  modalData.cluster
                )
              "
            >
              <td>
                <div>{{ getRule(rule, metricType) }}</div>
              </td>
              <td>
                {{ rule.metric_name | pure: getAlarmTypeTitle | translate }}
              </td>
              <td>
                <div>{{ rule.labels?.severity | aclFieldNotAvailable }}</div>
              </td>
            </tr>
          </tbody>
        </table>
      </aui-form-item>
      <aui-form-item>
        <label auiFormItemLabel>{{ 'alarm_action' | translate }}</label>
        <table class="alarm-table-rules" cellspacing="0">
          <thead class="alarm-table-rules__header">
            <tr>
              <td>{{ 'action_type' | translate }}</td>
              <td>{{ 'resource' | translate }}</td>
            </tr>
          </thead>
          <tbody class="alarm-table-rules__body">
            <tr>
              <td>
                <div>{{ 'notification' | translate }}</div>
              </td>
              <td>
                <alu-tags-label
                  [tagList]="
                    viewModel.template
                      | aclAnnotation: 'notifications':'alert'
                      | pure: parseNotifications
                  "
                ></alu-tags-label>
              </td>
            </tr>
          </tbody>
        </table>
      </aui-form-item>
    </ng-container>
  </form>
</aui-dialog-content>

<aui-dialog-footer>
  <button aui-button="primary" [loading]="submitting" (click)="confirm()">
    {{ 'create' | translate }}
  </button>
  <button aui-button (click)="cancel()">
    {{ 'cancel' | translate }}
  </button>
</aui-dialog-footer>
