/* stylelint-disable no-descending-specificity */
@import 'var';
:host {
  flex: 1;
}

.alu-array-form-table {
  flex: 1;
  width: 100%;
  border-spacing: 0;
  background: #fafafa;

  alu-no-data {
    .no-data {
      border-bottom: none;
      background: #fafafa;
      padding: 0;
      height: 32px;
      color: $color-text-help;
    }
  }

  thead {
    background: #f0f0f0;
    th,
    td {
      height: 32px;
      text-align: left;
      font-weight: 400;
      &[required]:before {
        content: '*';
        color: $color-error;
        margin-right: 4px;
      }
    }
  }

  tbody tr:first-child {
    display: table-caption;
    padding-top: 8px;
  }

  th,
  td {
    vertical-align: middle;
    padding: 4px;
    line-height: 24px;
    &:first-child {
      padding-left: 8px;
    }
    &:last-child {
      padding-right: 8px;
    }
  }

  .error {
    padding: 0 8px;
    color: #e54545;
    background-color: #fdeded;
  }

  &__action-col {
    text-align: right;
    padding: 8px 4px;
    white-space: nowrap;
    width: 28px;
    min-width: 16px;
  }

  &__bottom-control-row {
    td {
      padding-bottom: 8px;
    }
  }

  &__bottom-control-buttons {
    display: flex;
    width: 100%;
    border-top: none;

    .aui-button {
      flex: 1;
      border-style: dashed;

      &--default {
        border-color: #333;

        &:hover {
          border-color: $color-primary;
        }
      }
    }
  }

  &:not(.alu-array-form-table--no-row-separator)
    tr.alu-array-form-table--row-group-start:not(:first-child)
    td {
    border-top: 1px dashed #e8e8e8;
  }

  .alu-table-form-error-hint {
    color: $color-error;
    font-size: 12px;
  }

  td.alu-table-form-error-hint {
    padding-top: 0;
  }
}
