<table class="alu-array-form-table alu-array-form-table--no-row-separator">
  <thead>
    <tr>
      <th style="width: 33.3%;">{{ 'role_name' | translate }}</th>
      <th style="width: 33.3%;">{{ 'project' | translate }}</th>
      <th style="width: 33.3%;">{{ 'namespace' | translate }}</th>
      <th class="alu-array-form-table__action-col"></th>
    </tr>
  </thead>

  <ng-container *ngFor="let control of form.controls; let index = index">
    <tr
      [style.background-color]="rowBackgroundColorFn(control, index)"
      [class.alu-array-form-table--row-group-start]="index === 0"
      aluUserRoleItem
      [formControl]="control"
      [roleGroups]="roleGroup"
      [userEmail]="userEmail"
      [projects]="projects"
      [userbindingNameList]="userbindingNameList"
      [projectNamespaceGroups]="projectNamespaceGroups"
      (addProjectNamespaceGroups)="addProjectNamespaceGroups($event)"
      (remove)="remove(index)"
    ></tr>
    <tr *ngIf="control.invalid" class="error">
      <td colspan="100">
        <span *ngIf="!control.errors.duplicate">
          {{
            'field_is_required'
              | translate
                : { field: control.value | pure: getErrorName | translate }
          }}
        </span>
        <span *ngIf="control.errors.duplicate">
          {{
            'duplicate_role_error'
              | translate
                : { level: control.value | pure: getDuplicateName | translate }
          }}
        </span>
      </td>
    </tr>
  </ng-container>

  <tr *ngIf="!form.controls || form.controls.length === 0">
    <td colspan="100">
      <alu-no-data [resourceName]="'role'"></alu-no-data>
    </td>
  </tr>

  <tr class="alu-array-form-table__bottom-control-row">
    <td colspan="100">
      <div class="alu-array-form-table__bottom-control-buttons">
        <button
          aui-button="primary"
          type="button"
          class="add-button"
          size="mini"
          [plain]="true"
          (click)="addRow()"
        >
          <aui-icon icon="basic:add_circle"></aui-icon>
          {{ 'add' | translate }}
        </button>
      </div>
    </td>
  </tr>
</table>
