<aui-dialog-header>
  <aui-icon class="header-icon" icon="exclamation_triangle_s"></aui-icon>
  {{ 'delete_cluster' | translate }}
</aui-dialog-header>

<aui-dialog-content>
  <div class="delete-hint">
    {{ displayName }}
    <span class="text-danger">{{ modalData.projectItems.length }}</span>
    <span class="text-danger">{{ 'unit_ge' | translate }}</span>
    {{ 'cluster_delete_with_project' | translate }}
  </div>
  <aui-table [dataSource]="projects$ | async">
    <ng-container auiTableColumnDef="project_name">
      <aui-table-header-cell *auiTableHeaderCellDef>
        {{ 'project_name' | translate }}
      </aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let item">
        {{ item.metadata.name }}
      </aui-table-cell>
    </ng-container>
    <ng-container auiTableColumnDef="display_name">
      <aui-table-header-cell *auiTableHeaderCellDef>
        {{ 'display_name' | translate }}
      </aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let item">
        {{ item | aclDisplayName | aclFieldNotAvailable }}
      </aui-table-cell>
    </ng-container>
    <ng-container auiTableColumnDef="admin">
      <aui-table-header-cell *auiTableHeaderCellDef>
        {{ 'project_administrator' | translate }}
      </aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let item">
        {{ item.userbinding | aclFieldNotAvailable }}
      </aui-table-cell>
    </ng-container>
    <aui-table-header-row
      *auiTableHeaderRowDef="columns"
    ></aui-table-header-row>
    <aui-table-row *auiTableRowDef="let row; columns: columns"></aui-table-row>
  </aui-table>
  <p class="delete-confirm">{{ inputTitle }}</p>
  <input aui-input [(ngModel)]="inputValue" />
</aui-dialog-content>

<aui-dialog-footer>
  <div>
    <button aui-button="danger" (click)="delete()" [disabled]="disabled">
      {{ 'delete' | translate }}
    </button>
    <button aui-button (click)="close()">{{ 'cancel' | translate }}</button>
  </div>
</aui-dialog-footer>
