<div
  class="{{ mode !== 'rect' ? 'alu-status-badge' : 'alu-status-badge--rect' }}"
  [attr.status]="statusAttr"
>
  <span
    *ngIf="['default', 'indicator'].includes(mode)"
    class="alu-status-indicator"
  ></span>
  <!--<span *ngIf="mode === 'icon'" class="alu-status-icon"></span>-->
  <span *ngIf="mode !== 'indicator'" class="alu-status-text">
    {{ statusText }}
  </span>
</div>
