<aui-dialog-header>
  {{ data.title || 'view_yaml' | translate }}
</aui-dialog-header>
<aui-dialog-content>
  <aui-code-editor
    [ngModel]="data.code || ''"
    [options]="codeEditorOptions"
    [actionsConfig]="editorActions"
  ></aui-code-editor>
</aui-dialog-content>
