:host {
  .permission_resources {
    padding-left: 16px;
  }
  .aui-table__column-function {
    flex: 4;
  }
  ::ng-deep {
    .aui-accordion-item__content-body {
      padding-left: 16px;
    }
  }
}
.email-list {
  max-height: 250px;
  overflow: auto;
  margin: 10px 0;
  background-color: #fafafa;
  ul {
    padding-inline-start: 16px;
  }
  li {
    list-style: none;
    margin: 5px 0;
  }
}
