<acl-page-state [adapter]="dataLoader">
  <ng-template let-resource>
    <ng-container *aluPageHeaderContent>
      <aui-breadcrumb>
        <aui-breadcrumb-item>
          <span>{{ 'user_role_management' | translate }}</span>
        </aui-breadcrumb-item>
        <aui-breadcrumb-item>
          <a routerLink="/manage-platform/role">
            {{ 'role_manage' | translate }}
          </a>
        </aui-breadcrumb-item>
        <aui-breadcrumb-item>
          <span>
            {{
              (resource
                | aclAnnotation
                  : ('display-name' | pure: formatLocaleKey | translate)) ||
                (resource | aclDisplayName)
            }}
          </span>
        </aui-breadcrumb-item>
      </aui-breadcrumb>
    </ng-container>
    <aui-card>
      <div auiCardHeader>
        <div fxFlexAlign="center" class="metadata__name">
          <span
            [auiTooltip]="resource | aclName"
            auiTooltipPosition="bottom start"
          >
            {{ resource | aclName }}
          </span>
        </div>
        <div fxFlex></div>
        <button aui-button [plain]="true" [auiDropdown]="menu">
          {{ 'action' | translate }}
          <aui-icon icon="angle_down" margin="left"></aui-icon>
        </button>
        <aui-menu #menu>
          <ng-template auiMenuContent>
            <ng-container *ngIf="permissions$ | async as _permission">
              <acl-disabled-container [isAllowed]="_permission.create">
                <aui-menu-item
                  [routerLink]="['/manage-platform/role', 'create']"
                  [queryParams]="{ copy_name: name }"
                >
                  {{ 'copy_for_new_role' | translate }}
                </aui-menu-item>
              </acl-disabled-container>
              <acl-disabled-container
                [isAllowed]="notOfficial && _permission.update"
              >
                <aui-menu-item (click)="updateBasicInfo(resource)">
                  {{ 'update_basic_info' | translate }}
                </aui-menu-item>
              </acl-disabled-container>
              <acl-disabled-container
                [isAllowed]="notOfficial && _permission.delete"
              >
                <aui-menu-item
                  type="danger"
                  (click)="confirmDeleteRole(confirmDelete)"
                >
                  {{ 'delete' | translate }}
                </aui-menu-item>
              </acl-disabled-container>
            </ng-container>
          </ng-template>
        </aui-menu>
      </div>
      <alu-field-set-group>
        <alu-field-set-item>
          <label>{{ 'display_name' | translate }}</label>
          <span
            [title]="
              (resource
                | aclAnnotation
                  : ('display-name' | pure: formatLocaleKey | translate)) ||
              (resource | aclDisplayName)
            "
          >
            {{
              (resource
                | aclAnnotation
                  : ('display-name' | pure: formatLocaleKey | translate)) ||
                (resource | aclDisplayName)
            }}
          </span>
        </alu-field-set-item>
        <alu-field-set-item>
          <label>{{ 'type' | translate }}</label>
          <span>
            {{
              (resource | aclLabel: 'roletemplate.level':'auth') + '_role'
                | translate
            }}
          </span>
        </alu-field-set-item>
        <alu-field-set-item>
          <label>{{ 'attribute' | translate }}</label>
          <span>
            {{ (notOfficial ? 'custom_role' : 'system_role') | translate }}
          </span>
        </alu-field-set-item>
        <alu-field-set-item>
          <label>{{ 'creator' | translate }}</label>
          <span>{{ resource | aclCreator | aclFieldNotAvailable }}</span>
        </alu-field-set-item>
        <alu-field-set-item>
          <label>{{ 'description' | translate }}</label>
          <span
            [title]="
              (role
                | aclAnnotation
                  : ('description' | pure: formatLocaleKey | translate)) ||
              (role | aclDescription)
            "
          >
            {{
              (resource
                | aclAnnotation
                  : ('description' | pure: formatLocaleKey | translate)) ||
                (resource | aclDescription)
            }}
          </span>
        </alu-field-set-item>
        <alu-field-set-item>
          <label>{{ 'create_time' | translate }}</label>
          <span>{{ resource | aclCreationTimestamp | aclStandardTime }}</span>
        </alu-field-set-item>
      </alu-field-set-group>
    </aui-card>
    <aui-card [divider]="false">
      <div auiCardHeader>
        <div fxFlexAlign="center">{{ 'permission' | translate }}</div>
        <div fxFlex></div>
        <button aui-button [plain]="true" [auiDropdown]="menu1">
          {{ 'action' | translate }}
          <aui-icon icon="angle_down" margin="left"></aui-icon>
        </button>
        <aui-menu #menu1>
          <ng-template auiMenuContent>
            <acl-disabled-container
              [isAllowed]="notOfficial && (permissions$ | async).update"
            >
              <aui-menu-item
                [routerLink]="['/manage-platform/role', 'permission', name]"
              >
                {{ 'manage_permission' | translate }}
              </aui-menu-item>
            </acl-disabled-container>
          </ng-template>
        </aui-menu>
      </div>
      <aui-accordion [multi]="true">
        <div
          *ngFor="let rule of resource | pure: format"
          class="toc-form-group"
          [auiTocContent]="rule.module"
        >
          <aui-accordion-item [expanded]="true">
            <div auiAccordionItemHeader>
              {{
                rule.custom || !translation[rule.module]
                  ? rule.module
                  : (translation[rule.module] | translate)
              }}
            </div>
            <div class="form-group-content">
              <aui-table [dataSource]="rule.verbsItem">
                <ng-container auiTableColumnDef="function">
                  <aui-table-header-cell *auiTableHeaderCellDef>
                    {{ 'function' | translate }}
                  </aui-table-header-cell>
                  <aui-table-cell *auiTableCellDef="let item">
                    {{
                      rule.custom ||
                      !translation[rule.module + '_' + item.func_name]
                        ? item.func_name
                        : (translation[rule.module + '_' + item.func_name]
                          | translate)
                    }}
                  </aui-table-cell>
                </ng-container>
                <ng-container auiTableColumnDef="view">
                  <aui-table-header-cell *auiTableHeaderCellDef>
                    {{ 'view' | translate }}
                  </aui-table-header-cell>
                  <aui-table-cell *auiTableCellDef="let item">
                    <div *ngIf="item.view">
                      <aui-icon icon="basic:success_s"></aui-icon>
                    </div>
                  </aui-table-cell>
                </ng-container>
                <ng-container auiTableColumnDef="create">
                  <aui-table-header-cell *auiTableHeaderCellDef>
                    {{ 'create' | translate }}
                  </aui-table-header-cell>
                  <aui-table-cell *auiTableCellDef="let item">
                    <div *ngIf="item.create">
                      <aui-icon icon="basic:success_s"></aui-icon>
                    </div>
                  </aui-table-cell>
                </ng-container>
                <ng-container auiTableColumnDef="update">
                  <aui-table-header-cell *auiTableHeaderCellDef>
                    {{ 'update' | translate }}
                  </aui-table-header-cell>
                  <aui-table-cell *auiTableCellDef="let item">
                    <div *ngIf="item.update">
                      <aui-icon icon="basic:success_s"></aui-icon>
                    </div>
                  </aui-table-cell>
                </ng-container>
                <ng-container auiTableColumnDef="delete">
                  <aui-table-header-cell *auiTableHeaderCellDef>
                    {{ 'delete' | translate }}
                  </aui-table-header-cell>
                  <aui-table-cell *auiTableCellDef="let item">
                    <div *ngIf="item.delete">
                      <aui-icon icon="basic:success_s"></aui-icon>
                    </div>
                  </aui-table-cell>
                </ng-container>
                <aui-table-header-row
                  *auiTableHeaderRowDef="columnsRules"
                ></aui-table-header-row>
                <aui-table-row
                  *auiTableRowDef="let row; columns: columnsRules"
                ></aui-table-row>
              </aui-table>
            </div>
          </aui-accordion-item>
        </div>
      </aui-accordion>
    </aui-card>
  </ng-template>
</acl-page-state>

<ng-template #confirmDelete>
  <alu-confirm-delete
    [context]="this"
    [title]="'delete_role_title' | translate"
    [resourceName]="name"
    [deleteTips]="'delete_role_content' | translate: { name: name }"
    [deleteResourceApi]="deleteRole"
    [deleteSuccessMsg]="'delete_successed' | translate"
    [deleteFailMsg]="'delete_failed' | translate"
    (close)="deleteDialogRef.close()"
  >
    <ng-container *aluConfirmDeleteContent>
      <div class="email-list">
        <ng-container *ngIf="emails$ | async; let emails">
          <ul *ngIf="emails.length">
            <li *ngFor="let email of emails">{{ email }}</li>
          </ul>
          <alu-no-data
            *ngIf="!emails.length"
            [resourceName]="'user'"
          ></alu-no-data>
        </ng-container>
      </div>
    </ng-container>
  </alu-confirm-delete>
</ng-template>
