<acl-page-state [adapter]="dataLoader">
  <ng-template let-cr>
    <div
      *aluPageHeaderContent
      fxLayout="row"
      fxLayoutAlign="space-between center"
    >
      <aui-breadcrumb>
        <aui-breadcrumb-item>
          <a routerLink="/manage-platform/product">
            {{ 'product_management' | translate }}
          </a>
        </aui-breadcrumb-item>
        <aui-breadcrumb-item>
          <span>{{ 'ti_matrix_deploy_detail' | translate }}</span>
        </aui-breadcrumb-item>
      </aui-breadcrumb>
    </div>
    <aui-tab-group *ngIf="deployment$ | async as deployment">
      <aui-tab>
        <span *auiTabLabel>{{ 'basic_info' | translate }}</span>
        <alu-ti-detail-basic
          [deployment]="deployment"
          (reload)="reload()"
        ></alu-ti-detail-basic>
      </aui-tab>
      <aui-tab>
        <span *auiTabLabel>{{ 'host_config' | translate }}</span>
        <alu-ti-detail-host-config
          [deployment]="deployment"
        ></alu-ti-detail-host-config>
      </aui-tab>
      <aui-tab>
        <span *auiTabLabel>
          {{ 'preinstallation_service_config' | translate }}
        </span>
        <alu-ti-detail-preinstallation
          [deployment]="deployment"
        ></alu-ti-detail-preinstallation>
      </aui-tab>
      <aui-tab>
        <span *auiTabLabel>{{ 'platform_args_config' | translate }}</span>
        <alu-ti-detail-platform-args
          [deployment]="deployment"
        ></alu-ti-detail-platform-args>
      </aui-tab>
    </aui-tab-group>
  </ng-template>
</acl-page-state>
