<ng-container *aluPageHeaderContent>
  <aui-breadcrumb>
    <aui-breadcrumb-item>
      <span>{{ 'notification' | translate }}</span>
    </aui-breadcrumb-item>
    <aui-breadcrumb-item>
      <a routerLink="/maintenance-center/notification">
        {{ 'notification' | translate }}
      </a>
    </aui-breadcrumb-item>
    <aui-breadcrumb-item>
      <span>
        {{ (params$ | async).name }}
      </span>
    </aui-breadcrumb-item>
  </aui-breadcrumb>
</ng-container>
<acl-page-state
  [adapter]="dataManager"
  [autoRedirect]="false"
  (redirect)="jumpToListPage()"
>
  <ng-template let-resource="resource" let-permissions="permissions">
    <aui-card>
      <div auiCardHeader>
        <span>{{ resource | aclName }}</span>
        <div fxFlex></div>
        <div class="detail-buttons" fxLayout>
          <button aui-button="default" [plain]="true" [auiDropdown]="menu">
            {{ 'action' | translate }}
            <aui-icon icon="angle_down" margin="left"></aui-icon>
          </button>
          <aui-menu #menu size="small">
            <acl-disabled-container [isAllowed]="(permissions$ | async).update">
              <aui-menu-item (click)="update(resource)">
                {{ 'update' | translate }}
              </aui-menu-item>
            </acl-disabled-container>
            <acl-disabled-container [isAllowed]="(permissions$ | async).delete">
              <aui-menu-item type="danger" (click)="delete(confirmDelete)">
                {{ 'delete' | translate }}
              </aui-menu-item>
            </acl-disabled-container>
          </aui-menu>
        </div>
      </div>
      <alu-field-set-group auiCardContent>
        <alu-field-set-item>
          <label>{{ 'display_name' | translate }}</label>
          {{ resource | aclDisplayName | aclFieldNotAvailable }}
        </alu-field-set-item>
        <alu-field-set-item>
          <label>{{ 'creator' | translate }}</label>
          {{ resource | aclCreator | aclFieldNotAvailable }}
        </alu-field-set-item>
        <alu-field-set-item>
          <label>{{ 'description' | translate }}</label>
          {{ resource | aclDescription | aclFieldNotAvailable }}
        </alu-field-set-item>
        <alu-field-set-item>
          <label>{{ 'create_time' | translate }}</label>
          {{ resource | aclCreationTimestamp | aclStandardTime }}
        </alu-field-set-item>
      </alu-field-set-group>
    </aui-card>
    <aui-card>
      <div auiCardHeader>
        {{ 'notification_method' | translate }}
      </div>
      <div *ngFor="let method of resource.spec.subscriptions; let i = index">
        <div *ngIf="i !== 0" class="alu-separator"></div>
        <div class="subscription-item">
          {{ 'type' | translate }}：{{ method.method | translate }}
        </div>
        <div *ngIf="receivers" class="subscription-item">
          {{ 'notification_object' | translate }}：
          <aui-tag
            *ngFor="let receiver of method.receivers"
            type="info"
            size="mini"
          >
            {{ receiver.name | pure: getReceiverLabel }}
          </aui-tag>
        </div>
        <div *ngIf="templates" class="subscription-item">
          {{ 'notification_template' | translate }}：{{
            method.template | pure: getTemplateLabel
          }}
        </div>
        <div *ngIf="method.sender && senders" class="subscription-item__last">
          {{ 'sender' | translate }}：{{ method.sender | pure: getSenderLabel }}
        </div>
      </div>
    </aui-card>
    <ng-template #confirmDelete>
      <alu-confirm-delete
        [context]="context"
        [title]="'delete_notification_title' | translate"
        [resourceName]="resource.metadata.name"
        [deleteTips]="
          'delete_notification_content'
            | translate: { name: resource.metadata.name }
        "
        [deleteResourceApi]="deleteNotification"
        [deleteSuccessMsg]="'delete_success' | translate"
        [deleteFailMsg]="'delete_failed' | translate"
        (close)="deleteDialogRef.close()"
      ></alu-confirm-delete>
    </ng-template>
  </ng-template>
</acl-page-state>
