<aui-dialog-header>
  {{ 'update_container_limit_range' | translate }}
</aui-dialog-header>
<aui-dialog-content>
  <form
    #ngForm="ngForm"
    (ngSubmit)="ngForm.valid && updateLimitRange()"
    auiForm
    auiFormLabelWidth="104px"
  >
    <alu-limit-range-form
      [(ngModel)]="limitRange"
      [updateMode]="true"
      name="limit-range"
    ></alu-limit-range-form>
  </form>
</aui-dialog-content>
<aui-dialog-footer>
  <button
    aui-button="primary"
    [disabled]="(loading$$ | async) || (loadError$$ | async)"
    [loading]="loading$$ | async"
    (click)="ngForm.onSubmit()"
  >
    {{ 'update' | translate }}
  </button>
  <button aui-button (click)="dialogRef.close()">
    {{ 'cancel' | translate }}
  </button>
</aui-dialog-footer>
