$border: 1px solid #eee;
$border-radius: 10px;
@mixin text-overflow() {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
@mixin labelContainer {
  border: $border;
  border-radius: $border-radius;
  font-size: 12px;
  background: #f2f2f2;
  color: #666;
  display: inline-block;
  padding: 2px 8px;
}

:host {
  display: inline-flex;
  max-width: 100%;
}

.plain-container {
  @include text-overflow;

  display: inline-block;
  margin-right: 4px;
}

.full-content-toggle {
  cursor: pointer;
  flex-shrink: 0;
  @include labelContainer;

  &.isActive,
  &:hover {
    color: #009ce3;
    background: #e5f5fc;
    border-color: #009ce3;
  }
}

ul {
  padding-inline-start: 5px;
  padding-inline-end: 5px;
}

.group-container {
  margin-left: 12px;
  font-size: 14px;
  line-height: 20px;
  color: #000;
}
