<div class="plain-container">
  {{ groups[0] === UNGROUPED ? (groups[0] | translate) : groups.join(', ') }}
</div>
<div class="spacer"></div>
<div
  *ngIf="groups?.length && showToggleLabel"
  class="full-content-toggle"
  [auiTooltip]="labels"
  auiTooltipTrigger="click"
  auiTooltipType="info"
  auiTooltipActive="isActive"
>
  <aui-icon icon="ellipsis_h_s"></aui-icon>
</div>
<div *ngIf="!groups?.length">-</div>

<ng-template #labels>
  <ul class="group-container">
    <li *ngFor="let group of groups">{{ group }}</li>
  </ul>
</ng-template>
