<ng-container *aluPageHeaderContent>
  <aui-breadcrumb>
    <aui-breadcrumb-item>
      <a routerLink="/home/project/list">{{ 'project_list' | translate }}</a>
    </aui-breadcrumb-item>
    <aui-breadcrumb-item>
      <span>{{ 'project_detail' | translate }}</span>
    </aui-breadcrumb-item>
  </aui-breadcrumb>
</ng-container>
<acl-page-state
  [adapter]="dataLoader"
  *ngIf="permissions$ | async as permissions"
>
  <ng-template let-project>
    <aui-card>
      <div auiCardHeader class="base-header">
        <span class="title">
          {{ project | aclName | aclFieldNotAvailable }}
        </span>
        <button aui-button="primary" plain="true" [auiDropdown]="menu">
          {{ 'action' | translate }}
          <aui-icon icon="angle_down" margin="left"></aui-icon>
        </button>
        <aui-menu #menu>
          <ng-container>
            <acl-disabled-container [isAllowed]="permissions.update">
              <aui-menu-item (click)="showAddClusterDialog(project)">
                {{ 'add_cluster' | translate }}
              </aui-menu-item>
            </acl-disabled-container>
            <acl-disabled-container [isAllowed]="permissions.update">
              <aui-menu-item (click)="showUpdateBasicInfoDialog(project)">
                {{ 'update_basic_info' | translate }}
              </aui-menu-item>
            </acl-disabled-container>
            <acl-disabled-container
              *ngIf="project | pure: hasCluster"
              [isAllowed]="permissions.update"
            >
              <aui-menu-item
                type="danger"
                (click)="showRemoveClusterDialog(project)"
              >
                {{ 'remove_cluster' | translate }}
              </aui-menu-item>
            </acl-disabled-container>
            <acl-disabled-container [isAllowed]="permissions.delete">
              <aui-menu-item type="danger" (click)="showDeleteDialog(project)">
                {{ 'delete_project' | translate }}
              </aui-menu-item>
            </acl-disabled-container>
          </ng-container>
        </aui-menu>
      </div>
      <alu-field-set-group>
        <alu-field-set-item>
          <label>{{ 'display_name' | translate }}</label>
          <span>{{ project | aclDisplayName | aclFieldNotAvailable }}</span>
        </alu-field-set-item>
        <alu-field-set-item>
          <label>{{ 'creator' | translate }}</label>
          <span>
            {{ project | aclAnnotation: 'creator' | aclFieldNotAvailable }}
          </span>
        </alu-field-set-item>
        <alu-field-set-item>
          <label>{{ 'status' | translate }}</label>
          <span>
            <alu-status-icon
              [status]="project | aluStatus: false:'status'"
            ></alu-status-icon>
            {{ project | aluStatus: false | translate }}
          </span>
        </alu-field-set-item>
        <alu-field-set-item>
          <label>{{ 'created_at' | translate }}</label>
          <span>{{ project | aclCreationTimestamp | aclStandardTime }}</span>
        </alu-field-set-item>
        <alu-field-set-item>
          <label>{{ 'project_administrator' | translate }}</label>
          <ng-container
            *ngIf="
              ((projectAdmins$ | async) || []).join(',') as projectAdmin;
              else noData
            "
          >
            <span
              [auiTooltip]="projectAdmin"
              [auiTooltipPosition]="'top start'"
            >
              {{ projectAdmin }}
            </span>
          </ng-container>
          <ng-template #noData>-</ng-template>
        </alu-field-set-item>
        <alu-field-set-item>
          <label>{{ 'updated_at' | translate }}</label>
          <span>
            {{
              project
                | aclAnnotation: 'updated-at'
                | aclRelativeTime
                | aclFieldNotAvailable
            }}
          </span>
        </alu-field-set-item>
        <alu-field-set-item>
          <label>{{ 'log_policy' | translate }}</label>
          <span>
            <ng-container
              *ngIf="
                project | aclLabel: 'project.esIndicesKeepDays';
                else elseTemplate
              "
            >
              {{ 'project_strategy' | translate }} ({{
                project | aclLabel: 'project.esIndicesKeepDays'
              }}
              {{ 'hint_for_the_remaining_days_suffix' | translate }})
            </ng-container>
            <ng-template #elseTemplate>
              {{ 'global_strategy' | translate }}
            </ng-template>
            <acl-disabled-container
              *aclFeatureGate="'logpolicy'"
              [isAllowed]="(permissions$ | async).update"
            >
              <button
                aui-button="text"
                (click)="showUpdateLogPolicyDialog(project)"
              >
                <aui-icon icon="basic:pencil_s" margin="right"></aui-icon>
              </button>
            </acl-disabled-container>
          </span>
        </alu-field-set-item>
        <alu-field-set-item>
          <label>{{ 'description' | translate }}</label>
          <span [title]="project | aclDescription | aclFieldNotAvailable">
            {{ project | aclDescription | aclFieldNotAvailable }}
          </span>
        </alu-field-set-item>
      </alu-field-set-group>
    </aui-card>
    <aui-card>
      <div auiCardHeader>{{ 'quota' | translate }}</div>
      <div class="clusters-container">
        <aui-card *ngIf="!(project | pure: hasCluster)">
          <div class="no_cluster">
            {{ 'project_not_associated_cluster' | translate }}
            <a href="javascript:;" (click)="showAddClusterDialog(project)">
              {{ 'add' | translate }}
            </a>
          </div>
        </aui-card>
        <ng-container *ngFor="let quota of quotas$ | async">
          <aui-card *ngIf="quota.clusters">
            <div auiCardHeader>
              <aui-icon
                class="federation_icon"
                icon="basic:federation_cluster"
              ></aui-icon>
              <span class="cluster_name">{{ quota.displayName }}</span>
              <aui-icon
                *ngIf="isHostClusterFedDisabled(quota.clusters)"
                color="#e54545"
                icon="exclamation_triangle_s"
                [auiTooltip]="'clusterfed_abnormal' | translate"
              ></aui-icon>
              <div fxFlex></div>
              <alu-menu-trigger [menu]="menu" size="small"></alu-menu-trigger>
              <aui-menu #menu size="small">
                <acl-disabled-container
                  [isAllowed]="permissions.update"
                  [isDisabled]="isClusterFedDisabled(quota.clusters)"
                  [tooltip]="'cluster_member_abnormal_tip' | translate"
                  tooltipPosition="bottom end"
                >
                  <aui-menu-item
                    routerLink="../update-quota"
                    [queryParams]="{
                      cluster: getFedClusterString(quota.clusters)
                    }"
                  >
                    {{ 'update_quota' | translate }}
                  </aui-menu-item>
                </acl-disabled-container>
              </aui-menu>
            </div>
            <div class="quota-fed-item" *ngFor="let cluster of quota.clusters">
              <span>{{ cluster.displayName }}</span>
              <aui-tag *ngIf="cluster.isHost" type="info" size="small">
                {{ 'control_cluster' | translate }}
              </aui-tag>
              <aui-icon
                *ngIf="!cluster.isNormal"
                color="#e54545"
                icon="exclamation_triangle_s"
                [auiTooltip]="'cluster_abnormal' | translate"
              ></aui-icon>
              <alu-quota-horizontal
                [quota]="cluster.projectQuota"
                [capacity]="cluster.capacity"
                hardKey="spec.hard"
                usedKey="status.hard"
              ></alu-quota-horizontal>
            </div>
          </aui-card>
          <aui-card *ngIf="!quota.clusters" [divider]="false">
            <div auiCardHeader>
              <span class="cluster_name">{{ quota.displayName }}</span>
              <aui-icon
                *ngIf="!quota.isNormal"
                color="#e54545"
                icon="exclamation_triangle_s"
                [auiTooltip]="'cluster_abnormal' | translate"
              ></aui-icon>
              <div fxFlex></div>
              <alu-menu-trigger [menu]="menu" size="small"></alu-menu-trigger>
              <aui-menu #menu size="small">
                <acl-disabled-container
                  [isAllowed]="permissions.update"
                  [isDisabled]="!quota.isNormal"
                  [tooltip]="'cluster_abnormal_tip' | translate"
                  tooltipPosition="bottom end"
                >
                  <aui-menu-item
                    routerLink="../update-quota"
                    [queryParams]="{ cluster: quota.name }"
                  >
                    {{ 'update_quota' | translate }}
                  </aui-menu-item>
                </acl-disabled-container>
              </aui-menu>
            </div>
            <alu-quota-horizontal
              [quota]="quota.projectQuota"
              [capacity]="quota.capacity"
              hardKey="spec.hard"
              usedKey="status.hard"
            ></alu-quota-horizontal>
          </aui-card>
        </ng-container>
      </div>
    </aui-card>
  </ng-template>
</acl-page-state>
