@import 'var';

.quotas-container {
  display: flex;
  justify-content: space-around;
  .quota {
    .title {
      font-size: 16px;
      font-weight: 500;
      text-align: center;
    }
    .desc {
      text-align: center;
      .usage {
        color: $color-success;
        margin-left: 3px;
      }
      .unit {
        margin-left: 3px;
      }
    }
  }
}

.federation_icon {
  color: #00a3af;
}

.cluster_name {
  margin: 0 10px 0 4px;
}

.quota-fed-item {
  span {
    margin: 16px 8px 16px 0;
    display: inline-block;
  }
  &:first-of-type {
    span {
      margin: 0 8px 16px 0;
      display: inline-block;
    }
  }
}

.no_cluster {
  display: flex;
  height: 150px;
  align-items: center;
  justify-content: center;
  a {
    margin-left: 4px;
  }
}
