<ng-container *aluPageHeaderContent>
  <aui-breadcrumb>
    <aui-breadcrumb-item>
      <span>{{ 'notification' | translate }}</span>
    </aui-breadcrumb-item>
    <aui-breadcrumb-item>
      <span>{{ 'notification_sender' | translate }}</span>
    </aui-breadcrumb-item>
  </aui-breadcrumb>
</ng-container>
<aui-card [divider]="false">
  <div fxLayout auiCardHeader>
    <acl-disabled-container [isAllowed]="(permissions$ | async).create">
      <button aui-button="primary" (click)="create()">
        {{ 'add_notification_sender' | translate }}
      </button>
    </acl-disabled-container>
  </div>

  <aui-table [dataSource]="list.items$">
    <ng-container auiTableColumnDef="email">
      <aui-table-header-cell *auiTableHeaderCellDef>
        {{ 'email' | translate }}
      </aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let item">
        {{ item.data?.username | pure: atob | aclFieldNotAvailable }}
      </aui-table-cell>
    </ng-container>
    <ng-container auiTableColumnDef="password">
      <aui-table-header-cell *auiTableHeaderCellDef>
        {{ 'password' | translate }}
      </aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let item">
        <ng-container
          *ngIf="visibleMap[item.metadata.name]; else slashEyeIconTmpl"
        >
          {{ item.data?.password | pure: atob | aclFieldNotAvailable }}
          <aui-icon
            class="password"
            icon="basic:eye_s"
            (click)="toggleCollapse(item.metadata.name)"
          ></aui-icon>
        </ng-container>
        <ng-template #slashEyeIconTmpl>
          ******
          <aui-icon
            class="password"
            icon="basic:eye_slash_s"
            (click)="toggleCollapse(item.metadata.name)"
          ></aui-icon>
        </ng-template>
      </aui-table-cell>
    </ng-container>
    <ng-container auiTableColumnDef="send_server">
      <aui-table-header-cell *auiTableHeaderCellDef>
        {{ 'email_server' | translate }}
      </aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let item">
        {{ item | aclLabel: 'server' | aclFieldNotAvailable }}
      </aui-table-cell>
    </ng-container>
    <ng-container auiTableColumnDef="create_time">
      <aui-table-header-cell *auiTableHeaderCellDef>
        {{ 'create_time' | translate }}
      </aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let rowData">
        {{ rowData | aclCreationTimestamp | aclRelativeTime }}
      </aui-table-cell>
    </ng-container>
    <ng-container auiTableColumnDef="action">
      <aui-table-header-cell *auiTableHeaderCellDef></aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let item">
        <button
          aui-button="text"
          [square]="true"
          [plain]="true"
          size="small"
          [auiDropdown]="menu"
        >
          <aui-icon icon="basic:ellipsis_v_s"></aui-icon>
        </button>
        <aui-menu #menu size="small">
          <acl-disabled-container [isAllowed]="(permissions$ | async).update">
            <aui-menu-item (click)="update(item)">
              {{ 'update' | translate }}
            </aui-menu-item>
          </acl-disabled-container>
          <acl-disabled-container [isAllowed]="(permissions$ | async).delete">
            <aui-menu-item (click)="delete(item)">
              {{ 'delete' | translate }}
            </aui-menu-item>
          </acl-disabled-container>
        </aui-menu>
      </aui-table-cell>
    </ng-container>
    <aui-table-header-row
      *auiTableHeaderRowDef="columns"
    ></aui-table-header-row>
    <aui-table-row *auiTableRowDef="let row; columns: columns"></aui-table-row>
  </aui-table>
  <acl-k8s-resource-list-footer
    [list]="list"
    resourceName="notification_sender"
  ></acl-k8s-resource-list-footer>
</aui-card>
