:host {
  .alu-search-group-wapper ::ng-deep {
    .aui-search__input {
      border-radius: 0 2px 2px 0;
      margin-left: -1px;
      position: relative;
    }
    .aui-select__input {
      border-radius: 2px 0 0 2px;
      position: relative;
      &:hover,
      &:focus {
        z-index: 1;
      }
    }
    .aui-select__label-container,
    .aui-input-group__suffix {
      z-index: 1;
    }
  }
}
