<alu-array-form-table
  [noRowSeparator]="true"
  (add)="add(form.length)"
  (remove)="remove($event)"
  [formGroup]="form"
  [rows]="form.controls"
  [rowBackgroundColorFn]="rowBackgroundColorFn"
>
  <ng-container *aluArrayFormTableHeader>
    <th>
      <span class="required">{{ 'node_type' | translate }}</span>
    </th>
    <th>
      <span class="required">{{ 'node_ip' | translate }}</span>
    </th>
    <th>{{ 'display_name' | translate }}</th>
    <th [hidden]="!enableGPU" style="width: 120px;">
      {{ 'gpu_host' | translate }}
    </th>
    <th style="width: 120px;">{{ 'can_deploy_app' | translate }}</th>
  </ng-container>
  <ng-container
    *aluArrayFormTableRow="let control; let index = index"
    [formGroupName]="index"
  >
    <td>
      <aui-select formControlName="type">
        <aui-option value="master" [label]="'cluster_master_node' | translate">
          {{ 'cluster_master_node' | translate }}
        </aui-option>
        <aui-option value="slave" [label]="'cluster_slave_node' | translate">
          {{ 'cluster_slave_node' | translate }}
        </aui-option>
      </aui-select>
    </td>
    <td>
      <input
        aui-input
        formControlName="ip"
        [placeholder]="'node_ip' | translate"
      />
    </td>
    <td>
      <input
        aui-input
        formControlName="displayname"
        maxlength="32"
        [placeholder]="'display_name' | translate"
      />
    </td>
    <td [hidden]="!enableGPU">
      <aui-switch formControlName="switch"></aui-switch>
    </td>
    <td>
      <aui-switch
        [hidden]="control.get('type').value !== 'master'"
        formControlName="deployapp"
      ></aui-switch>
      <ng-container *ngIf="control.get('type').value !== 'master'">
        -
      </ng-container>
    </td>
  </ng-container>
  <ng-container *aluArrayFormTableRowControl="let item; let index = index">
    <button
      aui-button="text"
      size="mini"
      type="button"
      [disabled]="form.length === 1"
      (click)="remove(index)"
      [square]="true"
      [plain]="true"
    >
      <aui-icon icon="basic:minus_circle"></aui-icon>
    </button>
  </ng-container>
  <ng-container *aluArrayFormTableRow="let control">
    <td
      *ngIf="
        (control.dirty || $any(controlContainer?.formDirective)?.submitted) &&
        control.errors
      "
      colspan="5"
      class="alu-table-form-error-hint"
    >
      {{ control.errors | pure: getRowErrorMessage }}
    </td>
  </ng-container>
</alu-array-form-table>
