@import 'var';
@import '../form-common.scss';

aui-select {
  width: 100%;
  ::ng-deep .aui-select {
    width: 100%;
  }
}

.section {
  &-title {
    height: 22px;
    border-left: 4px solid $color-primary;
    padding-left: 8px;
    margin: 16px 0;
    font-size: 16px;
    font-weight: 500;
  }
}
