<form
  #ngForm="ngForm"
  auiForm
  auiFormLabelWidth="114px"
  [auiFormEmptyAddon]="true"
  [formGroup]="form"
  *ngIf="form"
>
  <!--env check-->
  <aui-form-item>
    <label auiFormItemLabel>{{ 'tdsql_password' | translate }}</label>
    <input aui-input auiFormItemControl formControlName="password" required />
    <div auiFormItemAddon>
      <aui-icon
        icon="basic:question"
        class="icon-question"
        [auiTooltip]="'tdsql_tooltip_password' | translate"
        auiTooltipPosition="start bottom"
      ></aui-icon>
    </div>
    <alu-error-mapper
      auiFormItemError
      [errors]="form.get('password').errors"
      [errorsMapper]="{
        required:
          'field_is_required'
          | translate: { field: 'tdsql_password' | translate }
      }"
    ></alu-error-mapper>
  </aui-form-item>
  <aui-form-item>
    <label auiFormItemLabel>{{ 'tdsql_all_host_ip' | translate }}</label>
    <alu-tdsql-ip-selector
      auiFormItemControl
      formControlName="allIps"
      [multiSelect]="true"
      [selectDisabled]="true"
      [minCount]="3"
      [placeholder]="'tdsql_tooltip_all_host_ip' | translate"
      required
    ></alu-tdsql-ip-selector>
    <div auiFormItemAddon>
      <aui-icon
        icon="basic:question"
        [auiTooltip]="'tdsql_tooltip_all_host_ip' | translate"
        [auiTooltipPosition]="'start bottom'"
      ></aui-icon>
    </div>
    <alu-error-mapper
      auiFormItemError
      [errors]="form.get('allIps').errors"
      [errorsMapper]="{
        required:
          'field_is_required'
          | translate: { field: 'tdsql_tooltip_all_host_ip' | translate }
      }"
    ></alu-error-mapper>
  </aui-form-item>

  <aui-form-item *ngIf="!isProcessMode()">
    <label auiFormItemLabel>{{ 'k8s_cluster' | translate }}</label>
    <aui-select auiFormItemControl formControlName="cluster" required>
      <aui-option
        *ngFor="let cluster of clusters$ | async"
        [value]="cluster.metadata.name"
        [label]="cluster.metadata.name"
      >
        {{ cluster.metadata.name }}
      </aui-option>
    </aui-select>
    <alu-error-mapper
      auiFormItemError
      [errors]="form.get('cluster').errors"
      [errorsMapper]="{
        required:
          'field_is_required' | translate: { field: 'k8s_cluster' | translate }
      }"
    ></alu-error-mapper>
  </aui-form-item>

  <!-- zookeeper -->
  <alu-tdsql-form-section
    [sectionTitle]="'tdsql_zookeeper' | translate"
    [sectionDescription]="'tdsql_zookeeper_description' | translate"
  >
    <ng-container formGroupName="zookeeper">
      <aui-form-item>
        <label auiFormItemLabel>
          {{ 'tdsql_zookeeper_root_path' | translate }}
        </label>
        <input
          aui-input
          auiFormItemControl
          formControlName="rootPath"
          [pattern]="pathPattern.pattern"
          required
        />
        <div auiFormItemAddon>
          <aui-icon
            icon="basic:question"
            [auiTooltip]="'tdsql_tooltip_zookeeper_root_path' | translate"
            [auiTooltipPosition]="'start bottom'"
          ></aui-icon>
        </div>
        <alu-error-mapper
          auiFormItemError
          [errors]="form.get(['zookeeper', 'rootPath']).errors"
          [errorsMapper]="{
            required:
              'field_is_required'
              | translate: { field: 'tdsql_zookeeper_root_path' | translate },
            pattern: pathPattern.tip | translate
          }"
        ></alu-error-mapper>
      </aui-form-item>
      <aui-form-item>
        <label auiFormItemLabel>{{ 'tdsql_host_ip' | translate }}</label>
        <alu-tdsql-ip-selector
          auiFormItemControl
          formControlName="ips"
          [multiSelect]="true"
          [allowedCount]="[1, 3, 5]"
          [placeholder]="'tdsql_zookeeper_ip_placeholder' | translate"
          (valueChange)="usedIpsChange('zookeeper', $event)"
          required
        ></alu-tdsql-ip-selector>
        <div auiFormItemAddon>
          <aui-icon
            icon="basic:question"
            [auiTooltip]="'tdsql_tooltip_zookeeper_host_ip' | translate"
            [auiTooltipPosition]="'start bottom'"
          ></aui-icon>
        </div>
        <alu-error-mapper
          auiFormItemError
          [errors]="form.get(['zookeeper', 'ips']).errors"
          [errorsMapper]="{
            required:
              'field_is_required'
              | translate: { field: 'tdsql_host_ip' | translate },
            allowedCountError: 'tdsql_zookeeper_ip_placeholder' | translate
          }"
        ></alu-error-mapper>
      </aui-form-item>
    </ng-container>
  </alu-tdsql-form-section>

  <!--scheduler -->
  <alu-tdsql-form-section
    [sectionTitle]="'tdsql_scheduler' | translate"
    [sectionDescription]="'tdsql_scheduler_description' | translate"
  >
    <ng-container formGroupName="scheduler">
      <aui-form-item>
        <label auiFormItemLabel>
          {{ 'tdsql_network_card_name' | translate }}
        </label>
        <input
          aui-input
          auiFormItemControl
          formControlName="netifName"
          required
        />
        <div auiFormItemAddon>
          <aui-icon
            icon="basic:question"
            [auiTooltip]="'tdsql_tooltip_scheduler_network_card' | translate"
            [auiTooltipPosition]="'start bottom'"
          ></aui-icon>
        </div>
        <alu-error-mapper
          auiFormItemError
          [errors]="form.get(['scheduler', 'netifName']).errors"
          [errorsMapper]="{
            required:
              'field_is_required'
              | translate: { field: 'tdsql_network_card_name' | translate }
          }"
        ></alu-error-mapper>
      </aui-form-item>
      <aui-form-item>
        <label auiFormItemLabel>{{ 'tdsql_host_ip' | translate }}</label>
        <alu-tdsql-ip-selector
          auiFormItemControl
          formControlName="ip"
          (valueChange)="usedIpsChange('scheduler', $event)"
          required
        ></alu-tdsql-ip-selector>
        <div auiFormItemAddon>
          <aui-icon
            icon="basic:question"
            [auiTooltip]="'tdsql_tooltip_scheduler_host_ip' | translate"
            [auiTooltipPosition]="'start bottom'"
          ></aui-icon>
        </div>
        <alu-error-mapper
          auiFormItemError
          [errors]="form.get(['scheduler', 'ip']).errors"
          [errorsMapper]="{
            required:
              'field_is_required'
              | translate: { field: 'tdsql_host_ip' | translate }
          }"
        ></alu-error-mapper>
      </aui-form-item>
    </ng-container>
  </alu-tdsql-form-section>

  <ng-container *ngIf="isProcessMode(); else containerizationTemplate">
    <!-- oss -->
    <alu-tdsql-form-section
      [sectionTitle]="'tdsql_oss' | translate"
      [sectionDescription]="'tdsql_oss_description' | translate"
    >
      <ng-container formGroupName="oss">
        <aui-form-item>
          <label auiFormItemLabel>{{ 'tdsql_host_ip' | translate }}</label>
          <alu-tdsql-ip-selector
            auiFormItemControl
            formControlName="ips"
            [multiSelect]="true"
            required
          ></alu-tdsql-ip-selector>

          <ng-container *ngTemplateOutlet="addIpButton"></ng-container>
          <div auiFormItemAddon>
            <aui-icon
              icon="basic:question"
              [auiTooltip]="'tdsql_tooltip_oss_host_ip' | translate"
            ></aui-icon>
          </div>
        </aui-form-item>
      </ng-container>
    </alu-tdsql-form-section>

    <!-- chitu -->
    <alu-tdsql-form-section
      [sectionTitle]="'tdsql_chitu' | translate"
      [sectionDescription]="'tdsql_chitu_description' | translate"
    >
      <ng-container formGroupName="chitu">
        <aui-form-item>
          <label auiFormItemLabel>{{ 'tdsql_host_ip' | translate }}</label>
          <alu-tdsql-ip-selector
            auiFormItemControl
            formControlName="ip"
            required
          ></alu-tdsql-ip-selector>
          <ng-container *ngTemplateOutlet="addIpButton"></ng-container>
          <div auiFormItemAddon>
            <aui-icon
              icon="basic:question"
              [auiTooltip]="'tdsql_tooltip_chitu_host_ip' | translate"
            ></aui-icon>
          </div>
        </aui-form-item>
        <aui-form-item>
          <label auiFormItemLabel>
            {{ 'tdsql_chitu_standby_ip' | translate }}
          </label>
          <alu-tdsql-ip-selector
            auiFormItemControl
            formControlName="standbyIp"
            [placeholder]="
              'tdsql_chitu_standby_ip_limit_placeholder' | translate
            "
            [excludeOptions]="getchituExcludeOptions('ip')"
          ></alu-tdsql-ip-selector>
          <ng-container *ngTemplateOutlet="addIpButton"></ng-container>
          <div auiFormItemAddon>
            <aui-icon
              icon="basic:question"
              [auiTooltip]="'tdsql_tooltip_chitu_slave_ip' | translate"
            ></aui-icon>
          </div>
          <div
            auiFormItemError
            *ngIf="form.get(['chitu', 'standbyIp']).errors?.excludeOptionsError"
          >
            {{ 'tdsql_chitu_standby_ip_limit_placeholder' | translate }}
          </div>
        </aui-form-item>
      </ng-container>
    </alu-tdsql-form-section>
  </ng-container>

  <ng-template #containerizationTemplate>
    <!-- oss -->
    <alu-tdsql-form-section
      [sectionTitle]="'tdsql_oss' | translate"
      [sectionDescription]="'tdsql_oss_description' | translate"
    >
      <ng-container formGroupName="oss">
        <aui-form-item>
          <label auiFormItemLabel>{{ 'replicas_num' | translate }}</label>
          <aui-number-input
            auiFormItemControl
            formControlName="replicas_num"
            [min]="1"
            [pattern]="positiveIntegerPattern.pattern"
            required
          ></aui-number-input>
          <alu-error-mapper
            auiFormItemError
            [errors]="form.get(['oss', 'replicas_num']).errors"
            [errorsMapper]="{
              required:
                'field_is_required'
                | translate: { field: 'replicas_num' | translate },
              pattern: positiveIntegerPattern.tip | translate
            }"
          ></alu-error-mapper>
        </aui-form-item>
      </ng-container>
    </alu-tdsql-form-section>

    <!-- chitu -->
    <alu-tdsql-form-section
      [sectionTitle]="'tdsql_chitu' | translate"
      [sectionDescription]="'tdsql_chitu_description' | translate"
    >
      <ng-container formGroupName="chitu">
        <aui-form-item>
          <label auiFormItemLabel>{{ 'replicas_num' | translate }}</label>
          <aui-number-input
            auiFormItemControl
            formControlName="replicas_num"
            [min]="1"
            [pattern]="positiveIntegerPattern.pattern"
            required
          ></aui-number-input>
          <alu-error-mapper
            auiFormItemError
            [errors]="form.get(['chitu', 'replicas_num']).errors"
            [errorsMapper]="{
              required:
                'field_is_required'
                | translate: { field: 'replicas_num' | translate },
              pattern: positiveIntegerPattern.tip | translate
            }"
          ></alu-error-mapper>
        </aui-form-item>
      </ng-container>
    </alu-tdsql-form-section>
  </ng-template>

  <!-- monitor -->
  <alu-tdsql-form-section
    [sectionTitle]="'tdsql_monitor' | translate"
    [sectionDescription]="'tdsql_monitor_description' | translate"
  >
    <ng-container formGroupName="monitor">
      <aui-form-item>
        <label auiFormItemLabel>{{ 'tdsql_host_ip' | translate }}</label>
        <alu-tdsql-ip-selector
          auiFormItemControl
          formControlName="ip"
          (valueChange)="usedIpsChange('monitor', $event)"
          required
        ></alu-tdsql-ip-selector>
        <div auiFormItemAddon>
          <aui-icon
            icon="basic:question"
            class="icon-question"
            [auiTooltip]="'tdsql_tooltip_monitor_host_ip' | translate"
            auiTooltipPosition="start bottom"
          ></aui-icon>
        </div>
        <alu-error-mapper
          auiFormItemError
          [errors]="form.get(['monitor', 'ip']).errors"
          [errorsMapper]="{
            required:
              'field_is_required'
              | translate: { field: 'tdsql_host_ip' | translate }
          }"
        ></alu-error-mapper>
      </aui-form-item>
    </ng-container>
  </alu-tdsql-form-section>

  <!-- db -->
  <alu-tdsql-form-section
    [sectionTitle]="'tdsql_db' | translate"
    [sectionDescription]="'tdsql_db_description' | translate"
  >
    <ng-container formGroupName="db">
      <aui-form-item>
        <label auiFormItemLabel>{{ 'tdsql_host_ip' | translate }}</label>
        <alu-tdsql-ip-selector
          auiFormItemControl
          formControlName="ips"
          [multiSelect]="true"
          (valueChange)="usedIpsChange('db', $event)"
          [minCount]="2"
          [placeholder]="'tdsql_db_ip_placeholder' | translate"
          required
        ></alu-tdsql-ip-selector>
        <div auiFormItemAddon>
          <aui-icon
            icon="basic:question"
            [auiTooltipPosition]="'start bottom'"
            [auiTooltip]="'tdsql_tooltip_db_host_ip' | translate"
          ></aui-icon>
        </div>
        <alu-error-mapper
          auiFormItemError
          [errors]="form.get(['db', 'ips']).errors"
          [errorsMapper]="{
            required:
              'field_is_required'
              | translate: { field: 'tdsql_host_ip' | translate },
            minCountError: 'tdsql_db_ip_placeholder' | translate
          }"
        ></alu-error-mapper>
      </aui-form-item>
    </ng-container>
  </alu-tdsql-form-section>

  <!-- proxy -->
  <alu-tdsql-form-section
    [sectionTitle]="'tdsql_proxy' | translate"
    [sectionDescription]="'tdsql_proxy_description' | translate"
  >
    <ng-container formGroupName="proxy">
      <aui-form-item>
        <label auiFormItemLabel>{{ 'tdsql_host_ip' | translate }}</label>
        <alu-tdsql-ip-selector
          auiFormItemControl
          formControlName="ips"
          [multiSelect]="true"
          (valueChange)="usedIpsChange('proxy', $event)"
          required
        ></alu-tdsql-ip-selector>
        <div auiFormItemAddon>
          <aui-icon
            icon="basic:question"
            [auiTooltipPosition]="'start bottom'"
            [auiTooltip]="'tdsql_tooltip_proxy_host_ip' | translate"
          ></aui-icon>
        </div>
        <alu-error-mapper
          auiFormItemError
          [errors]="form.get(['proxy', 'ips']).errors"
          [errorsMapper]="{
            required:
              'field_is_required'
              | translate: { field: 'tdsql_host_ip' | translate }
          }"
        ></alu-error-mapper>
      </aui-form-item>
    </ng-container>
  </alu-tdsql-form-section>
</form>
