@import 'var';

:host {
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.add-ip {
  margin-top: 20px;
  button {
    margin-left: 16px;
  }
}

.aui-table {
  &__column-actions {
    max-width: 40px;
  }
  &__cell {
    line-height: 20px;
    .icon-delete {
      &:not(.disabled) {
        color: #999;
        cursor: pointer;
        &:hover {
          color: $color-primary;
        }
      }
      &.disabled {
        color: #ccc;
      }
    }
  }
}

input {
  max-width: 200px;
}
