<aui-dialog-header [result]="ips">
  {{ 'tdsql_host_ip_manage' | translate }}
</aui-dialog-header>
<aui-dialog-content>
  <aui-table [dataSource]="ips">
    <aui-table-header-row
      *auiTableHeaderRowDef="columns"
    ></aui-table-header-row>
    <aui-table-row *auiTableRowDef="let row; columns: columns"></aui-table-row>
    <ng-container auiTableColumnDef="all_ip">
      <aui-table-header-cell *auiTableHeaderCellDef>
        {{ 'tdsql_all_host_ip' | translate }}
      </aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let ip">
        {{ ip }}
      </aui-table-cell>
    </ng-container>
    <ng-container auiTableColumnDef="actions">
      <aui-table-header-cell *auiTableHeaderCellDef></aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let ip">
        <ng-container *ngIf="ip | pure: disableDelete; else canDelete">
          <aui-icon
            icon="basic:trash"
            class="icon-delete disabled"
            [auiTooltip]="'tdsql_host_ip_used_hint' | translate"
            [auiTooltipPosition]="'start'"
          ></aui-icon>
        </ng-container>
        <ng-template #canDelete>
          <aui-icon
            class="icon-delete"
            icon="basic:trash"
            (click)="removeIp(ip)"
          ></aui-icon>
        </ng-template>
      </aui-table-cell>
    </ng-container>
  </aui-table>
  <alu-no-data
    *ngIf="ips && !ips.length"
    mode="table"
    [resourceName]="'tdsql_host_ip'"
  ></alu-no-data>
  <div class="add-ip">
    <form auiForm #form="ngForm">
      <aui-form-item>
        <label auiFormItemLabel>{{ 'tdsql_host_ip' | translate }}</label>
        <input
          aui-input
          auiFormItemControl
          name="newIp"
          #newIpControl="ngModel"
          [(ngModel)]="newIp"
          [pattern]="ipPattern.pattern"
        />
        <button aui-button="primary" (click)="addIp(newIp)" [disabled]="!newIp">
          {{ 'add' | translate }}
        </button>
        <div auiFormItemError *ngIf="newIpControl.errors?.pattern">
          {{ ipPattern.tip | translate }}
        </div>
      </aui-form-item>
    </form>
  </div>
</aui-dialog-content>
