<aui-table [dataSource]="limitRangeItemDefs">
  <ng-container *ngFor="let column of columns">
    <ng-container [auiTableColumnDef]="column">
      <aui-table-header-cell *auiTableHeaderCellDef>
        {{ column | translate }}
      </aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let item">
        {{
          item
            | pure: getLimitRangeItemText:column
            | translate: null:true
            | aclFieldNotAvailable
        }}
        {{ item | pure: getFallbackUnit:column | translate }}
      </aui-table-cell>
    </ng-container>
  </ng-container>
  <aui-table-header-row *auiTableHeaderRowDef="columns"></aui-table-header-row>
  <aui-table-row *auiTableRowDef="let row; columns: columns"></aui-table-row>
</aui-table>
<alu-no-data
  *ngIf="!limitRangeItemDefs"
  mode="table"
  [resourceName]="'container_limit_range'"
></alu-no-data>
