/* stylelint-disable no-descending-specificity, plugin/no-low-performance-animation-properties, scss/dollar-variable-default */
$code-editor-toolbar-padding: 0 20px;
$code-editor-toolbar-height: 40px;
$code-editor-toolbar-icon-size: 16px;
$code-editor-toolbar-font-size: 14px;
$code-editor-toolbar-control-margin: 4px;
$code-editor-toolbar-background: #f7f7f7;
$code-editor-toolbar-background-dark: #333;
$code-editor-toolbar-color: #000;
$code-editor-toolbar-color-dark: #fff;
$code-editor-toolbar-inactive-opacity: 0.6;

:host {
  display: flex;
  flex-flow: column;
  height: 100vh;
  width: 100vw;
  position: relative;
  ::ng-deep {
    .aui-tab-body,
    .aui-tab-group {
      height: 100%;
    }
    aui-tab-header + .aui-tab-group__body-wrapper {
      margin-top: 0;
    }
  }
}

/* todo: rm when move re-shell in aui-tab-body */
.tab-body-wrapper {
  position: relative;
  overflow: hidden;
  display: flex;
  transition: height 0.5s cubic-bezier(0.35, 0, 0.25, 1);
}
.tab-body {
  top: 100px;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  display: block;
  overflow: hidden;
  flex-basis: 100%;
}
.tab-body.active {
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
  z-index: 1;
  flex-grow: 1;
  top: unset;
}
.title {
  padding: 10px 14px;
}
.terminal-toolbar {
  position: relative;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  z-index: 99;
  padding: $code-editor-toolbar-padding;
  height: $code-editor-toolbar-height;
  background-color: $code-editor-toolbar-background;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  color: $code-editor-toolbar-color;

  &--dark-theme {
    background-color: $code-editor-toolbar-background-dark;
    color: $code-editor-toolbar-color-dark;

    ::ng-deep {
      .terminal-toolbar__control-button-icon {
        > svg {
          fill: $code-editor-toolbar-color-dark;
        }
      }

      input {
        background: #364a56;
        color: $code-editor-toolbar-color-dark;
        border-color: #908d8d;
      }

      .aui-input-group__addon {
        background: #333;
        border-color: #908d8d;
        .aui-button {
          background: #364a55;
          border-color: #908d8d;

          &:active {
            background: #2a3942;
          }

          svg {
            fill: #eee;
          }
        }
      }

      [auiinputaddonafter] {
        display: flex;
        align-items: center;

        .aui-button + .aui-button {
          margin-left: 4px;
        }
      }
    }
  }

  &__title {
    display: flex;
    align-items: center;
  }

  &__spacer {
    flex: 1;
  }

  &__control-button {
    flex-shrink: 0;
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    font-size: $code-editor-toolbar-font-size;
    margin: 0 $code-editor-toolbar-control-margin;
    opacity: 0.6;

    &:hover,
    &--active {
      opacity: 1;
    }
  }

  &__control-button-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: $code-editor-toolbar-icon-size + 2px;
    height: $code-editor-toolbar-icon-size + 2px;

    ::ng-deep > svg {
      width: $code-editor-toolbar-icon-size;
      height: $code-editor-toolbar-icon-size;
      fill: $code-editor-toolbar-color;
    }
  }

  .terminal-search-bar {
    position: absolute;
    right: 0;
    top: 100%;
    box-shadow: -3px 3px 3px #0003;
    transform-origin: top right;

    ::ng-deep {
      input {
        border-radius: 0;
      }
      .aui-button {
        padding: 0 6px;
      }
      [auiinputaddonafter] {
        display: flex;
        align-items: center;

        .aui-button + .aui-button {
          margin-left: 4px;
        }
      }
    }
  }
}

alu-shell {
  position: relative;
  z-index: 0;
  display: block;
  flex: 1;
  justify-items: stretch;
  overflow: hidden;
  height: 100%;
}

aui-breadcrumb {
  flex-shrink: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

alu-web-shell {
  position: relative;
  z-index: 0;
  display: block;
  flex: 1;
  justify-items: stretch;
  overflow: hidden;
}
