<form auiForm *ngIf="form" auiFormLabelWidth="114px" [formGroup]="form">
  <div class="field-head">
    <aui-checkbox
      auiFormItemControl
      formControlName="selected"
      (ngModelChange)="select($event)"
    >
      {{ 'tdsql_consumer' | translate }}
    </aui-checkbox>
    <div class="field-head__des">
      {{ 'tdsql_consumer_description' | translate }}
    </div>
  </div>
  <ng-container *ngIf="form.get('selected').value">
    <aui-inline-alert [type]="dependsChecked ? 'info' : 'error'">
      <span>{{ 'tdsql_consumer_precheck_hint' | translate }}</span>
    </aui-inline-alert>
    <div class="field-body">
      <aui-form-item>
        <label auiFormItemLabel>{{ 'tdsql_host_ip' | translate }}</label>
        <alu-tdsql-ip-selector
          auiFormItemControl
          formControlName="hostIp"
          required
        ></alu-tdsql-ip-selector>
        <div auiFormItemAddon>
          <aui-icon
            icon="basic:question"
            [auiTooltipPosition]="'start bottom'"
            [auiTooltip]="'tdsql_tooltip_consumer_host_ip' | translate"
          ></aui-icon>
        </div>
        <alu-error-mapper
          auiFormItemError
          [errors]="form.get('hostIp').errors"
          [errorsMapper]="{
            required:
              'field_is_required'
              | translate: { field: 'tdsql_host_ip' | translate }
          }"
        ></alu-error-mapper>
      </aui-form-item>
      <aui-form-item>
        <label auiFormItemLabel>
          {{ 'tdsql_network_card_name' | translate }}
        </label>
        <input
          aui-input
          auiFormItemControl
          formControlName="networkCardName"
          required
        />
        <div auiFormItemAddon>
          <aui-icon
            icon="basic:question"
            [auiTooltipPosition]="'start bottom'"
            [auiTooltip]="'tdsql_consumer_network_card_tooltip' | translate"
          ></aui-icon>
        </div>
        <alu-error-mapper
          auiFormItemError
          [errors]="form.get('networkCardName').errors"
          [errorsMapper]="{
            required:
              'field_is_required'
              | translate: { field: 'tdsql_network_card_name' | translate }
          }"
        ></alu-error-mapper>
      </aui-form-item>
    </div>
  </ng-container>
</form>
