<ng-container *aluPageHeaderContent>
  <aui-breadcrumb>
    <aui-breadcrumb-item>
      <span>{{ 'cluster_management' | translate }}</span>
    </aui-breadcrumb-item>
    <aui-breadcrumb-item>
      <a routerLink="/manage-platform/federation">
        {{ 'clusterfed' | translate }}
      </a>
    </aui-breadcrumb-item>
    <aui-breadcrumb-item>
      <span>{{ (params$ | async).name }}</span>
    </aui-breadcrumb-item>
  </aui-breadcrumb>
</ng-container>
<acl-page-state
  [adapter]="dataManager"
  [autoRedirect]="false"
  (redirect)="jumpToListPage()"
>
  <ng-template let-resource="resource" let-permissions="permissions">
    <div style="margin-bottom: 16px;">
      <aui-card>
        <div auiCardHeader>
          <span>{{ resource | aclName }}</span>
          <div fxFlex></div>
          <div class="detail-buttons" fxLayout>
            <button aui-button="default" [plain]="true" [auiDropdown]="menu">
              {{ 'action' | translate }}
              <aui-icon icon="angle_down" margin="left"></aui-icon>
            </button>
            <aui-menu #menu size="small">
              <acl-disabled-container [isAllowed]="permissions.delete">
                <aui-menu-item type="danger" (click)="delete(confirmDelete)">
                  {{ 'delete_cluster_federation' | translate }}
                </aui-menu-item>
              </acl-disabled-container>
            </aui-menu>
          </div>
        </div>
        <alu-field-set-group auiCardContent>
          <alu-field-set-item [allowOverflow]="false">
            <label>{{ 'display_name' | translate }}</label>
            <div
              [title]="resource | aclDisplayName | aclFieldNotAvailable"
              class="alu-text-item"
            >
              {{ resource | aclDisplayName | aclFieldNotAvailable }}
            </div>
            <acl-disabled-container
              [isAllowed]="permissions.update"
              [isDisabled]="
                resource | pure: getClusterFedStatus | pure: isClusterAbnormal
              "
              [tooltip]="'status_abnormal_can_not_operate' | translate"
            >
              <button
                style="margin-left: 4px;"
                aui-button="text"
                (click)="update(resource)"
              >
                <aui-icon icon="basic:pencil_s"></aui-icon>
              </button>
            </acl-disabled-container>
          </alu-field-set-item>
          <alu-field-set-item>
            <label>{{ 'create_time' | translate }}</label>
            {{ resource | aclCreationTimestamp | aclStandardTime }}
          </alu-field-set-item>
          <alu-field-set-item>
            <label>{{ 'status' | translate }}</label>
            <alu-status-icon
              [status]="resource | pure: getClusterFedStatus"
            ></alu-status-icon>
            {{ resource | pure: getClusterFedStatus | translate }}
          </alu-field-set-item>
        </alu-field-set-group>
      </aui-card>
    </div>
    <alu-cluster-fed-members
      [clusterFed]="resource"
      (onUpdate)="onUpdate()"
    ></alu-cluster-fed-members>
    <ng-template #confirmDelete>
      <alu-confirm-delete
        [context]="context"
        [title]="'delete_cluster_federation' | translate"
        [resourceName]="resource.metadata.name"
        [deleteTips]="
          'delete_federation_content'
            | translate: { name: resource.metadata.name }
        "
        [deleteResourceApi]="deleteClusterFedApi"
        [deleteSuccessMsg]="'delete_success' | translate"
        [deleteFailMsg]="'delete_failed' | translate"
        (close)="deleteDialogRef.close()"
      ></alu-confirm-delete>
    </ng-template>
  </ng-template>
</acl-page-state>
