<ng-container *aluPageHeaderContent>
  <aui-breadcrumb>
    <aui-breadcrumb-item>
      <span>{{ 'log' | translate }}</span>
    </aui-breadcrumb-item>
    <aui-breadcrumb-item>
      <span>{{ 'meter_export' | translate }}</span>
    </aui-breadcrumb-item>
  </aui-breadcrumb>
</ng-container>
<acl-page-guard
  [allowed]="isDeployed$ | async"
  [reason]="reason.NotSupported"
  [title]="'no_shared_volumn' | translate"
  [description]="'undeployed_log_report' | translate"
>
  <div *aclPageGuardContent>
    <aui-inline-alert>
      <div>{{ 'meter_export_tip' | translate }}</div>
    </aui-inline-alert>
    <aui-card [divider]="false">
      <div auiCardHeader>
        <div fxFlex></div>
        <div class="status-select">
          <div class="status-select__prefix">{{ 'status' | translate }}:</div>
          <aui-select
            [ngModel]="selectedStatus || ALL_STATUS_SYMBOL"
            [filterable]="true"
            (ngModelChange)="onStatusChange($event)"
          >
            <aui-option [value]="ALL_STATUS_SYMBOL" [label]="'all' | translate">
              {{ 'all' | translate }}
            </aui-option>
            <aui-option
              *ngFor="let i of statusOptions"
              [value]="i"
              [label]="'export_' + i | lowercase | translate"
            >
              {{ 'export_' + i | lowercase | translate }}
            </aui-option>
          </aui-select>
        </div>
        <button
          aui-button
          [square]="true"
          [loading]="loading"
          [disabled]="loading"
          (click)="list.reload()"
        >
          <aui-icon icon="basic:refresh"></aui-icon>
        </button>
      </div>
      <aui-table [dataSource]="list.items$ | async">
        <ng-container auiTableColumnDef="file_name">
          <aui-table-header-cell *auiTableHeaderCellDef>
            {{ 'file_name' | translate }}
          </aui-table-header-cell>
          <aui-table-cell *auiTableCellDef="let item">
            {{ item | aclName }}
          </aui-table-cell>
        </ng-container>
        <ng-container auiTableColumnDef="type">
          <aui-table-header-cell *auiTableHeaderCellDef>
            {{ 'log_type' | translate }}
          </aui-table-header-cell>
          <aui-table-cell *auiTableCellDef="let item">
            {{ 'log_export_' + item.spec.type | translate }}
          </aui-table-cell>
        </ng-container>
        <ng-container auiTableColumnDef="status">
          <aui-table-header-cell *auiTableHeaderCellDef>
            {{ 'status' | translate }}
          </aui-table-header-cell>
          <aui-table-cell *auiTableCellDef="let item">
            <alu-status-icon
              [status]="item | aluStatus: false:'status'"
            ></alu-status-icon>
            {{ 'export_' + item.status?.phase | lowercase | translate }}
            <aui-icon
              *ngIf="item.status?.phase === 'Failed'"
              [auiTooltip]="item | pure: getMessage"
              icon="basic:overview"
              color="#999"
            ></aui-icon>
          </aui-table-cell>
        </ng-container>
        <ng-container auiTableColumnDef="description">
          <aui-table-header-cell *auiTableHeaderCellDef>
            {{ 'description' | translate }}
          </aui-table-header-cell>
          <aui-table-cell
            *auiTableCellDef="let item"
            [auiTooltip]="item | pure: getDescription"
          >
            {{ item | pure: getDescription }}
          </aui-table-cell>
        </ng-container>
        <ng-container auiTableColumnDef="time">
          <aui-table-header-cell *auiTableHeaderCellDef>
            {{ 'file_generation_time' | translate }}
          </aui-table-header-cell>
          <aui-table-cell *auiTableCellDef="let item">
            <ng-container
              *ngIf="item.status?.phase === 'Completed'; else noTime"
            >
              {{ item | pure: getTransitionTime | pure: getDate }}
            </ng-container>
          </aui-table-cell>
        </ng-container>
        <ng-container auiTableColumnDef="export">
          <aui-table-header-cell *auiTableHeaderCellDef></aui-table-header-cell>
          <aui-table-cell *auiTableCellDef="let item">
            <ng-container *ngIf="item.status?.phase as phase">
              <button
                aui-button="text"
                [square]="true"
                [plain]="true"
                size="small"
                [auiDropdown]="menu"
              >
                <aui-icon icon="basic:ellipsis_v_s"></aui-icon>
              </button>
              <aui-menu #menu size="small">
                <aui-menu-item
                  *ngIf="phase === 'Failed'"
                  (click)="reExport(item)"
                >
                  {{ 're_export' | translate }}
                </aui-menu-item>
                <aui-menu-item
                  *ngIf="phase !== 'Failed'"
                  (click)="download(item)"
                  [disabled]="phase !== 'Completed'"
                  [auiTooltip]="'download_after_export' | translate"
                  [auiTooltipDisabled]="phase === 'Completed'"
                >
                  {{ 'download' | translate }}
                </aui-menu-item>
                <aui-menu-item (click)="delete(item)">
                  {{ 'delete' | translate }}
                </aui-menu-item>
              </aui-menu>
            </ng-container>
          </aui-table-cell>
        </ng-container>
        <aui-table-header-row
          *auiTableHeaderRowDef="columns"
        ></aui-table-header-row>
        <aui-table-row
          *auiTableRowDef="let row; columns: columns"
        ></aui-table-row>
      </aui-table>
      <acl-k8s-resource-list-footer
        [list]="list"
      ></acl-k8s-resource-list-footer>
    </aui-card>

    <ng-template #noTime>-</ng-template>
  </div>
</acl-page-guard>
