:host {
  .create-tip {
    margin-left: 8px;
  }
  .cluster-nodes {
    display: flex;
    align-items: center;
    span {
      margin-left: 8px;
    }
  }
  .status-bar-title {
    display: inline-block;
    width: 32px;
  }
  .status-bar {
    flex: 1;
    ::ng-deep .aui-status-bar {
      width: 100px;
    }
  }
  .status-amount {
    padding: 0 4px;
  }
  .aui-table {
    &__column-name {
      a {
        margin-right: 4px;
      }
      a,
      .cluster-name {
        font-size: 16px;
        font-weight: 500;
        line-height: 22px;
      }
      .cluster-name {
        color: #b2d3ff;
        cursor: not-allowed;
      }
      aui-icon {
        line-height: 22px;
        vertical-align: top;
      }
    }
    &__column-status {
      flex: 1 1 90px;
    }
    &__column-count {
      flex: 1 1 90px;
    }
    &__column-usage {
      flex: 1 0 180px;
    }
  }
}
