<ng-container *aluPageHeaderContent>
  <aui-breadcrumb>
    <aui-breadcrumb-item>
      <span>{{ 'cluster_management' | translate }}</span>
    </aui-breadcrumb-item>
    <aui-breadcrumb-item>
      <span>{{ 'cluster' | translate }}</span>
    </aui-breadcrumb-item>
  </aui-breadcrumb>
</ng-container>
<aui-card [divider]="false">
  <div fxLayout auiCardHeader>
    <acl-disabled-container [isAllowed]="(permissions$ | async).create">
      <button aui-button="primary" routerLink="/manage-platform/cluster/create">
        {{ 'cluster_create_cluster' | translate }}
      </button>
    </acl-disabled-container>
    <acl-disabled-container [isAllowed]="(permissions$ | async).create">
      <button
        aui-button="primary"
        [plain]="true"
        routerLink="/manage-platform/cluster/access"
      >
        {{ 'cluster_access_cluster' | translate }}
      </button>
    </acl-disabled-container>
    <aui-icon
      class="create-tip"
      icon="basic:question"
      [auiTooltip]="createTip"
      color="#999"
    ></aui-icon>
    <div fxFlex></div>
    <aui-search
      [keyword]="keyword"
      [searchButton]="false"
      placeholder="{{ 'filter_by_name_placeholder' | translate }}"
      (keywordChange)="search($event)"
    ></aui-search>
    <button
      style="margin-left: 8px;"
      aui-button
      square="true"
      (click)="list.reload()"
    >
      <aui-icon icon="basic:refresh"></aui-icon>
    </button>
  </div>
  <aui-table
    auiSort
    [dataSource]="list.items$"
    active="name"
    direction="asc"
    (sortChange)="sortData($event)"
  >
    <ng-container auiTableColumnDef="name">
      <aui-table-header-cell *auiTableHeaderCellDef aui-sort-header>
        {{ 'name' | translate }}
      </aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let item">
        <span
          *ngIf="item | pure: getClusterStatus | pure: getClusterNameDisable"
          class="cluster-name"
        >
          {{ item | aclName }}
        </span>
        <a
          *ngIf="!(item | pure: getClusterStatus | pure: getClusterNameDisable)"
          [routerLink]="['/manage-platform/cluster/detail', item.metadata.name]"
        >
          {{ item | aclName }}
        </a>
        <aui-icon
          *ngIf="item.isHighAvailability"
          class="cluster-card__info__icon"
          icon="basic:high_availability"
          [title]="'high_availability_cluster' | translate"
        ></aui-icon>
        <ng-container *aclFeatureGate="'kubefed'">
          <ng-container *ngIf="federations$ | async as federations">
            <aui-icon
              *ngIf="item | pure: getFederation:federations as fed"
              class="cluster-card__info__icon"
              icon="basic:federation_cluster"
              [auiTooltip]="fed | aclUnionDisplayName"
              color="#1cb6cc"
            ></aui-icon>
          </ng-container>
        </ng-container>
        <div
          class="table-cell__label-container aui-table__cell__display-name"
          [title]="item.spec.displayName"
        >
          {{ item.spec.displayName }}
        </div>
      </aui-table-cell>
    </ng-container>
    <ng-container auiTableColumnDef="status">
      <aui-table-header-cell *auiTableHeaderCellDef>
        {{ 'status' | translate }}
      </aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let item">
        <alu-status-icon
          [status]="item | pure: getClusterStatus"
        ></alu-status-icon>
        {{ item | pure: getClusterStatus | translate }}
      </aui-table-cell>
    </ng-container>
    <ng-container auiTableColumnDef="type">
      <aui-table-header-cell *auiTableHeaderCellDef>
        {{ 'cluster_type' | translate }}
      </aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let item">
        <ng-container *ngIf="item.spec.type == 'Baremetal'">
          {{ 'cluster_baremetel' | translate }}
        </ng-container>
        <ng-container *ngIf="item.spec.type == 'Imported'">
          {{ 'access' | translate }}
          <div
            class="table-cell__label-container aui-table__cell__display-name"
          >
            {{
              (item.metadata.labels &&
              item.metadata.labels['cluster-type'] == 'OCP'
                ? 'openshift_cluster'
                : 'standard_k8s_cluster'
              ) | translate
            }}
          </div>
        </ng-container>
      </aui-table-cell>
    </ng-container>
    <ng-container auiTableColumnDef="count">
      <aui-table-header-cell *auiTableHeaderCellDef>
        {{ 'cluster_nodes_count' | translate }}
        <aui-icon
          icon="basic:question"
          [auiTooltip]="'only_show_normal_abnormal_nodes' | translate"
          color="#999"
        ></aui-icon>
      </aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let item">
        <div *ngIf="item.nodes as nodes; else noNode" class="cluster-nodes">
          <alu-node-status-pie-chart
            [total]="nodes.length"
            [abnormal]="(nodes | pure: abnormalNodes).length"
          ></alu-node-status-pie-chart>
          <span>{{ nodes.length }}</span>
        </div>
      </aui-table-cell>
    </ng-container>
    <ng-container auiTableColumnDef="usage">
      <aui-table-header-cell *auiTableHeaderCellDef>
        {{ 'cluster_percent_cpu_memory' | translate }}
      </aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let item">
        <ng-container
          *ngIf="
            clusterCpuMemMap[item.metadata.name] as clusterCpuMem;
            else elseTmp
          "
        >
          <div>
            <span class="status-bar-title">CPU</span>
            <aui-status-bar
              class="status-bar"
              [status]="
                clusterCpuMem.cluster_cpu_usage_rate | pure: getBarStatus
              "
              [auiTooltip]="ratioCPUTemplate"
              size="small"
            ></aui-status-bar>
            {{ clusterCpuMem.cluster_cpu_usage_rate }}%
            <ng-template #ratioCPUTemplate>
              <div>CPU</div>
              <div>
                {{ 'used' | translate }}:
                {{
                  (
                    (clusterCpuMem.cluster_cpu_usage_rate *
                      clusterCpuMem.cluster_cpu_total) /
                    100
                  ).toFixed(2)
                }}{{ 'core' | translate }} ({{
                  clusterCpuMem.cluster_cpu_usage_rate
                }}%)
              </div>
              <div>
                {{ 'requests_value' | translate }}:
                {{
                  clusterCpuMem.cluster_cpu_request
                    ? (clusterCpuMem.cluster_cpu_request * 1).toFixed(2)
                    : '-'
                }}{{ 'core' | translate }} ({{
                  clusterCpuMem.cluster_cpu_request
                    ? (
                        (clusterCpuMem.cluster_cpu_request /
                          clusterCpuMem.cluster_cpu_total) *
                        100
                      ).toFixed(2)
                    : '-'
                }}%)
              </div>
              <div>
                {{ 'limits_value' | translate }}:
                {{
                  clusterCpuMem.cluster_cpu_limit
                    ? (clusterCpuMem.cluster_cpu_limit * 1).toFixed(2)
                    : '-'
                }}{{ 'core' | translate }} ({{
                  clusterCpuMem.cluster_cpu_limit
                    ? (
                        (clusterCpuMem.cluster_cpu_limit /
                          clusterCpuMem.cluster_cpu_total) *
                        100
                      ).toFixed(2)
                    : '-'
                }}%)
              </div>
              <div>
                {{ 'rental' | translate }}: {{ clusterCpuMem.cluster_cpu_total
                }}{{ 'core' | translate }}
              </div>
            </ng-template>
          </div>
          <div>
            <span class="status-bar-title">{{ 'memory' | translate }}</span>
            <aui-status-bar
              class="status-bar"
              [status]="
                clusterCpuMem.cluster_memory_usage_rate | pure: getBarStatus
              "
              [auiTooltip]="ratioMemoryTemplate"
              size="small"
            ></aui-status-bar>
            {{ clusterCpuMem.cluster_memory_usage_rate }}%
            <ng-template #ratioMemoryTemplate>
              <div>{{ 'memory' | translate }}</div>
              <div>
                {{ 'used' | translate }}:
                {{ clusterCpuMem.cluster_memory_usage }}Gi ({{
                  clusterCpuMem.cluster_memory_usage_rate
                }}%)
              </div>
              <div>
                {{ 'requests_value' | translate }}:
                {{
                  clusterCpuMem.cluster_memory_request
                    ? (clusterCpuMem.cluster_memory_request * 1).toFixed(2)
                    : '-'
                }}Gi ({{
                  clusterCpuMem.cluster_memory_request
                    ? (
                        (clusterCpuMem.cluster_memory_request /
                          clusterCpuMem.cluster_memory_total) *
                        100
                      ).toFixed(2)
                    : '-'
                }}%)
              </div>
              <div>
                {{ 'limits_value' | translate }}:
                {{
                  clusterCpuMem.cluster_memory_limit
                    ? (clusterCpuMem.cluster_memory_limit * 1).toFixed(2)
                    : '-'
                }}Gi ({{
                  clusterCpuMem.cluster_memory_limit
                    ? (
                        (clusterCpuMem.cluster_memory_limit /
                          clusterCpuMem.cluster_memory_total) *
                        100
                      ).toFixed(2)
                    : '-'
                }}%)
              </div>
              <div>
                {{ 'rental' | translate }}:
                {{ clusterCpuMem.cluster_memory_total }}Gi
              </div>
            </ng-template>
          </div>
        </ng-container>
        <ng-template #elseTmp>
          <ng-container *ngIf="item.resourceAmount">
            <div>
              <span class="status-bar-title">CPU</span>
              ：{{ 'rental' | translate }}
              <span class="status-amount">
                {{ item.resourceAmount.cpu.toFixed(2) }}
              </span>
              {{ 'core' | translate }}
            </div>
            <div>
              <span class="status-bar-title">{{ 'memory' | translate }}</span>
              ：{{ 'rental' | translate }}
              <span class="status-amount">
                {{ item.resourceAmount.memory.toFixed(2) }}
              </span>
              Gi
            </div>
          </ng-container>
          <ng-container *ngIf="!item.resourceAmount">
            <div>
              <span class="status-bar-title">CPU</span>
              -
            </div>
            <div>
              <span class="status-bar-title">{{ 'memory' | translate }}</span>
              -
            </div>
          </ng-container>
        </ng-template>
      </aui-table-cell>
    </ng-container>
    <ng-container auiTableColumnDef="create_time">
      <aui-table-header-cell *auiTableHeaderCellDef aui-sort-header>
        {{ 'create_time' | translate }}
      </aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let item">
        {{ item | aclCreationTimestamp | aclRelativeTime }}
      </aui-table-cell>
    </ng-container>
    <ng-container auiTableColumnDef="action">
      <aui-table-header-cell *auiTableHeaderCellDef></aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let item">
        <button
          aui-button="text"
          [square]="true"
          [plain]="true"
          size="small"
          [auiDropdown]="menu"
        >
          <aui-icon icon="basic:ellipsis_v_s"></aui-icon>
        </button>
        <aui-menu #menu size="small">
          <aui-menu-item
            *ngIf="item | pure: getClusterStatus | pure: getViewProgressVisible"
            (click)="viewExecutionProgress(item)"
          >
            {{ 'view_execution_progress' | translate }}
          </aui-menu-item>
          <acl-disabled-container
            [isAllowed]="(permissions$ | async).delete"
            [isDisabled]="
              item | pure: getClusterStatus | pure: getDeleteDisable
            "
            [tooltip]="'deleting_can_not_operate' | translate"
          >
            <aui-menu-item (click)="deleteCluster(item, confirmDelete)">
              {{ 'delete' | translate }}
            </aui-menu-item>
          </acl-disabled-container>
        </aui-menu>
        <ng-template #confirmDelete>
          <alu-confirm-delete
            [context]="context"
            [title]="'delete_cluster' | translate"
            [resourceName]="item.metadata.name"
            [deleteTips]="
              'confirm_delete_cluster'
                | translate: { name: item | aclUnionDisplayName }
            "
            [deleteResourceApi]="deleteClusterApi"
            [deleteSuccessMsg]="'delete_success' | translate"
            [deleteFailMsg]="'delete_failed' | translate"
            (close)="deleteDialogRef.close()"
          ></alu-confirm-delete>
        </ng-template>
      </aui-table-cell>
    </ng-container>
    <aui-table-header-row
      *auiTableHeaderRowDef="columns"
    ></aui-table-header-row>
    <aui-table-row *auiTableRowDef="let row; columns: columns"></aui-table-row>
  </aui-table>
  <acl-k8s-resource-list-footer [list]="list"></acl-k8s-resource-list-footer>
</aui-card>

<ng-template #noNode>
  <div class="cluster-nodes">
    <alu-node-status-pie-chart
      [total]="0"
      [abnormal]="0"
    ></alu-node-status-pie-chart>
    <span>0</span>
  </div>
</ng-template>

<ng-template #createTip>
  <div>· {{ 'utilization_calc_tip' | translate }}</div>
  <div>· {{ 'prometheus_not_deployed_tip' | translate }}</div>
</ng-template>
