<ng-container *aluPageHeaderContent>
  <aui-breadcrumb>
    <aui-breadcrumb-item>
      <a routerLink="../../..">
        {{
          ((isFederated$ | async) ? 'federated_namespace' : 'namespace')
            | translate
        }}
      </a>
    </aui-breadcrumb-item>
    <aui-breadcrumb-item>
      <span>{{ (params$ | async).namespace }}</span>
    </aui-breadcrumb-item>
  </aui-breadcrumb>
</ng-container>

<aui-tab-group>
  <aui-tab>
    <ng-container *auiTabLabel>{{ 'detail_info' | translate }}</ng-container>
    <alu-namespace-detail-info
      *auiTabContent
      [params]="params$ | async"
      [projectQuota]="projectQuota$ | async"
    ></alu-namespace-detail-info>
  </aui-tab>
  <aui-tab>
    <ng-container *auiTabLabel>
      {{ 'namespace_member' | translate }}
    </ng-container>
    <alu-scope-member-list
      *auiTabContent
      [project]="(params$ | async).project"
      [namespace]="(params$ | async).namespace"
      [cluster]="(params$ | async).cluster"
      [isFederated]="isFederated$ | async"
    ></alu-scope-member-list>
  </aui-tab>
</aui-tab-group>
