<acl-page-state [adapter]="dataLoader">
  <ng-template let-namespace>
    <aui-card>
      <div auiCardHeader>
        <div fxFlexAlign="center">{{ params.namespace }}</div>
        <div fxFlex></div>
        <button aui-button [plain]="true" [auiDropdown]="menu">
          {{ 'action' | translate }}
          <aui-icon icon="angle_down" margin="left"></aui-icon>
        </button>
        <aui-menu #menu>
          <ng-template auiMenuContent>
            <ng-container *ngIf="params.isFederated; else nonFedMenus">
              <acl-disabled-container
                [isAllowed]="(permissions$ | async).update"
              >
                <a
                  [routerLink]="[
                    '../../../update',
                    params.cluster,
                    params.namespace
                  ]"
                >
                  <aui-menu-item>
                    {{ 'update_federated_namespace' | translate }}
                  </aui-menu-item>
                </a>
              </acl-disabled-container>
            </ng-container>
            <ng-template #nonFedMenus>
              <acl-disabled-container
                [isAllowed]="resourceQuotaPermission$ | async"
              >
                <aui-menu-item (click)="updateResourceQuota()">
                  {{ 'update_resource_quota' | translate }}
                </aui-menu-item>
              </acl-disabled-container>
              <acl-disabled-container
                [isAllowed]="limitRangePermission$ | async"
              >
                <aui-menu-item (click)="updateLimitRange()">
                  {{ 'update_container_limit_range' | translate }}
                </aui-menu-item>
              </acl-disabled-container>
              <acl-disabled-container
                *aclFeatureGate="'kubefed'"
                [isAllowed]="federatedNamespaceCreatePermission$ | async"
                [isDisabled]="createNamespaceDisabled$ | async"
              >
                <aui-menu-item
                  (click)="confirmFederalizeNamespace(federalizeNamespaceTpl)"
                >
                  {{ 'federalize_namespace' | translate }}
                </aui-menu-item>
              </acl-disabled-container>
              <acl-disabled-container
                [isAllowed]="(permissions$ | async).patch"
              >
                <aui-menu-item (click)="removeNamespace(namespace)">
                  {{ 'remove_namespace' | translate }}
                </aui-menu-item>
              </acl-disabled-container>
            </ng-template>
            <acl-disabled-container [isAllowed]="(permissions$ | async).delete">
              <aui-menu-item
                type="danger"
                (click)="confirmDeleteNamespace(confirmDelete)"
              >
                {{
                  (params.isFederated
                    ? 'delete_federated_namespace'
                    : 'delete_namespace'
                  ) | translate
                }}
              </aui-menu-item>
            </acl-disabled-container>
          </ng-template>
        </aui-menu>
      </div>
      <alu-namespace-basic-info
        [params]="params"
        [namespace]="namespace"
        [canUpdate]="(permissions$ | async).update"
        [admins]="admins$ | async"
      ></alu-namespace-basic-info>
    </aui-card>

    <aui-card *ngIf="params.isFederated; else normalNamespace">
      <div auiCardHeader>{{ 'resource_config' | translate }}</div>
      <aui-tab-group
        *ngIf="namespace.status?.clusters; else noCluster"
        type="card"
        [lazy]="true"
      >
        <aui-tab
          *ngFor="
            let cluster of namespace.status.clusters
              | pure: getClusterNames
              | async;
            index as i
          "
          [label]="cluster | pure: unionDisplayName"
        >
          <div class="namespace-detail-info__sub-title">
            {{ 'resource_quota' | translate }}
          </div>
          <alu-quota-horizontal
            [quota]="(resourceQuotas$ | async)[i]"
          ></alu-quota-horizontal>
          <div class="namespace-detail-info__sub-title">
            {{ 'container_limit_range' | translate }}
          </div>
          <alu-limit-range
            *ngIf="limitRanges$ | async"
            [limitRange]="(limitRanges$ | async)[i]"
          ></alu-limit-range>
        </aui-tab>
      </aui-tab-group>
    </aui-card>

    <ng-template #noCluster>
      <div class="no-cluster">
        <aui-icon icon="spinner"></aui-icon>
        {{ 'resource_creating' | translate }}
      </div>
    </ng-template>

    <ng-template #normalNamespace>
      <aui-card>
        <div auiCardHeader>{{ 'resource_quota' | translate }}</div>
        <alu-quota-horizontal
          [quota]="resourceQuota$ | async"
          [customResourceLimits]="customResourceLimits$ | async"
        ></alu-quota-horizontal>
      </aui-card>
      <aui-card>
        <div auiCardHeader>{{ 'container_limit_range' | translate }}</div>
        <alu-limit-range [limitRange]="limitRange$ | async"></alu-limit-range>
      </aui-card>
    </ng-template>

    <ng-template #confirmDelete>
      <alu-confirm-delete
        [context]="this"
        [title]="
          (params.isFederated
            ? 'delete_federated_namespace'
            : 'delete_namespace'
          ) | translate
        "
        [resourceName]="params.namespace"
        [deleteTips]="
          (params.isFederated
            ? 'confirm_delete_federated_namespace'
            : 'confirm_delete_namespace'
          ) | translate: { name: params.namespace }
        "
        [deleteResourceApi]="deleteNamespace"
        [deleteResourceParams]="namespace"
        [deleteSuccessMsg]="
          (params.isFederated
            ? 'federated_namespace_delete_successed'
            : 'namespace_delete_successed'
          ) | translate
        "
        [deleteFailMsg]="
          (params.isFederated
            ? 'federated_namespace_delete_failed'
            : 'namespace_delete_failed'
          ) | translate
        "
        (close)="deleteDialogRef.close()"
      ></alu-confirm-delete>
    </ng-template>

    <ng-template #federalizeNamespaceTpl>
      <aui-dialog-header>
        {{ 'federalize_namespace' | translate }}
      </aui-dialog-header>
      <aui-dialog-content class="federalize-namespace-dialog">
        <aui-inline-alert>
          {{ 'federalize_namespace_tips' | translate }}
        </aui-inline-alert>
        <alu-field-set-group>
          <alu-field-set-item>
            <label>{{ 'name' | translate }}</label>
            {{ namespace | aclName }}
          </alu-field-set-item>
          <alu-field-set-item>
            <label>{{ 'display_name' | translate }}</label>
            {{ namespace | aclDisplayName | aclFieldNotAvailable }}
          </alu-field-set-item>
          <alu-field-set-item>
            <label>{{ 'federated_cluster_belonged' | translate }}</label>
            {{ clusterFedInfo$ | async }}
          </alu-field-set-item>
        </alu-field-set-group>
        <h4>{{ 'resource_quota' | translate }}</h4>
        <alu-quota-horizontal
          [quota]="resourceQuota$ | async"
        ></alu-quota-horizontal>
        <h4>{{ 'container_limit_range' | translate }}</h4>
        <alu-limit-range [limitRange]="limitRange$ | async"></alu-limit-range>
      </aui-dialog-content>
      <aui-dialog-footer>
        <button aui-button="primary" (click)="federalizeNamespace()">
          {{ 'federalize' | translate }}
        </button>
        <button aui-button (click)="dialogRef.close()">
          {{ 'cancel' | translate }}
        </button>
      </aui-dialog-footer>
    </ng-template>
  </ng-template>
</acl-page-state>
