@import 'var';

.namespace-detail-info {
  &__sub-title {
    font-weight: 500;
    margin-bottom: 12px;

    &:not(:first-child) {
      margin-top: 12px;
    }
  }

  &__confirm-text {
    margin-bottom: 16px;
    color: $color-text-main;
  }
}

.federalize-namespace-dialog {
  alu-field-set-item {
    margin-right: 0;
    min-width: 100%;

    &:last-child {
      margin-bottom: 0;
    }

    ::ng-deep .field-set-item__label {
      width: 100px;
      text-align: right;
    }
  }

  h4 {
    margin: 16px 0 12px;
  }
}

.no-cluster {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  color: #999;

  aui-icon {
    margin-right: 5px;
  }
}
