@import 'var';
@import '../step-common.scss';

aui-select {
  width: 100%;
  ::ng-deep .aui-select {
    width: 100%;
  }
}

aui-number-input.ng-invalid {
  ::ng-deep {
    .aui-number-input__input {
      z-index: 2;
      border: 1px solid $input-border-color-error;
    }
  }
}
