<!-- preparation -->
<div class="section">
  <div class="section-title">
    {{ 'tdsql_deploy_prepare' | translate }}
  </div>
  <aui-inline-alert>
    {{ 'tdsql_deploy_core_pre_condition1' | translate }}
    <a
      href="/platform-docs/10usermanual/platformmanagement/50ace/03tdsql/03prepare/"
      target="_blank"
    >
      {{ 'help_document' | translate }}
      <aui-icon icon="basic:jump"></aui-icon>
    </a>
    {{ 'tdsql_deploy_core_pre_condition2' | translate }}
  </aui-inline-alert>
  <alu-tdsql-deploy-precheck-form
    [list]="precheckList"
    [isDisabled]="editDisabled$ | async"
  ></alu-tdsql-deploy-precheck-form>
</div>

<div class="section">
  <div class="section-title">
    {{ 'tdsql_deploy_info' | translate }}
  </div>
  <alu-tdsql-deploy-core-form
    [model]="installState?.status === 'edit' ? null : model"
    [isDisabled]="editDisabled$ | async"
  ></alu-tdsql-deploy-core-form>
</div>

<div class="deploy-bottom">
  <div class="form-submit" *ngIf="!tasks.length; else started">
    <button
      aui-button="primary"
      type="submit"
      [disabled]="submitting || (editDisabled$ | async)"
      (click)="startDeploy()"
    >
      {{ 'start_deploy' | translate }}
    </button>
  </div>
  <ng-template #started>
    <div class="section">
      <div class="section-title">{{ 'deploy_progress' | translate }}</div>
      <alu-middleware-deploy-process
        [steps]="tasks | pure: getSteps"
        [size]="'small'"
        [needTranslate]="true"
        [logLoader]="logLoader"
        [status]="installState.status"
        [errorHint]="'tdsql_deploy_failed_hint' | translate"
        (start)="startDeploy()"
        (stop)="stop.emit()"
      ></alu-middleware-deploy-process>
    </div>
  </ng-template>
</div>

<footer class="form__footer">
  <button
    aui-button="text"
    class="button-overview"
    (click)="openComponentsOverviewDialog()"
  >
    {{ 'tdsql_overview_components' | translate }}
  </button>
  <button
    aui-button="primary"
    [disabled]="submitting || (nextDisabled$ | async)"
    (click)="next.emit()"
  >
    {{ 'next_step' | translate }}
  </button>
  <button aui-button type="button" (click)="cancel.emit(action)">
    {{ 'cancel' | translate }}
  </button>
</footer>
