<form auiForm auiFormLabelWidth="114px" [formGroup]="form">
  <aui-form-item>
    <label auiFormItemLabel>{{ 'name' | translate }}</label>
    <ng-container required auiFormItemControl>
      <input aui-input maxlength="63" formControlName="name" />
    </ng-container>
    <alu-error-mapper
      auiFormItemError
      [errors]="form.get('name').errors"
      [errorsMapper]="{
        required:
          'field_is_required' | translate: { field: 'name' | translate },
        pattern: namePattern.tip | translate
      }"
    ></alu-error-mapper>
  </aui-form-item>
  <ng-container formGroupName="annotations">
    <aui-form-item>
      <label auiFormItemLabel>{{ 'display_name' | translate }}</label>
      <ng-container required auiFormItemControl>
        <input aui-input maxlength="30" [formControlName]="displayName" />
      </ng-container>
      <alu-error-mapper
        auiFormItemError
        [errors]="form.get(['annotations', displayName]).errors"
        [errorsMapper]="{
          required:
            'field_is_required'
            | translate: { field: 'display_name' | translate }
        }"
      ></alu-error-mapper>
    </aui-form-item>
    <aui-form-item>
      <label auiFormItemLabel>{{ 'description' | translate }}</label>
      <input aui-input maxlength="100" [formControlName]="description" />
    </aui-form-item>
  </ng-container>
  <ng-container formGroupName="labels">
    <aui-form-item>
      <label auiFormItemLabel>{{ 'role_type' | translate }}</label>
      <aui-radio-group [formControlName]="level">
        <aui-radio-button value="platform">
          {{ 'platform_role' | translate }}
        </aui-radio-button>
        <aui-radio-button value="project">
          {{ 'project_role' | translate }}
        </aui-radio-button>
        <aui-radio-button value="namespace">
          {{ 'namespace_role' | translate }}
        </aui-radio-button>
      </aui-radio-group>
    </aui-form-item>
  </ng-container>
</form>
