<aui-dialog-header>
  {{ 'log' | translate }}
</aui-dialog-header>
<aui-dialog-content>
  <alu-middleware-deploy-process
    [steps]="steps$ | async"
    size="normal"
    [needTranslate]="true"
    [logLoader]="logLoader"
    [operationEnabled]="false"
    [errorHint]="'tdsql_deploy_failed_hint' | translate"
  ></alu-middleware-deploy-process>
</aui-dialog-content>
<aui-dialog-footer>
  <button
    *ngIf="(status$ | async)?.type === 'InDeployment'"
    aui-button
    (click)="terminate()"
  >
    {{ 'stop_deployment' | translate }}
  </button>
  <button
    *ngIf="(status$ | async)?.type === 'Running'"
    aui-button
    (click)="close()"
  >
    {{ 'close' | translate }}
  </button>
  <button
    *ngIf="
      (status$ | async)?.type === 'DeploymentFailure' && !(redployable$ | async)
    "
    aui-button
    (click)="edit()"
  >
    {{ 'edit_config' | translate }}
  </button>
  <button
    *ngIf="
      (status$ | async)?.type === 'DeploymentFailure' && (redployable$ | async)
    "
    aui-button
    (click)="redeploy()"
  >
    {{ 'redeploy' | translate }}
  </button>
</aui-dialog-footer>
