@import 'var';
$table-flex-common: 1 0 160px;
$table-flex-wide: 2 0 160px;

:host {
  .namespace-select {
    display: flex;
    margin-right: 8px;
    border: 1px solid #ccc;
    &__prefix {
      height: 32px;
      font-size: 14px;
      display: flex;
      justify-content: center;
      align-items: center;
      padding-left: 8px;
      color: #999;
    }
    &:hover {
      border-color: $color-primary;
    }
    ::ng-deep aui-select {
      .aui-input {
        border: none;
      }
    }
  }
  .aui-table {
    &__column-name {
      flex: $table-flex-common;
    }
    &__column-metric {
      flex: $table-flex-wide;
    }
    &__column-status {
      flex: 0 0 100px;
    }
    &__column-action {
      flex: 0 0 80px;
    }
    &__column-description {
      text-overflow: ellipsis;
    }
  }
}
