<ng-container *aluPageHeaderContent>
  <aui-breadcrumb>
    <aui-breadcrumb-item>
      <span>{{ 'alarm' | translate }}</span>
    </aui-breadcrumb-item>
    <aui-breadcrumb-item>
      <span>{{ 'alarm' | translate }}</span>
    </aui-breadcrumb-item>
  </aui-breadcrumb>
</ng-container>

<aui-card [divider]="false">
  <div fxLayout auiCardHeader>
    <acl-disabled-container [isAllowed]="(permissions$ | async).create">
      <aui-dropdown-button
        [plain]="false"
        type="primary"
        (buttonClick)="createAlarm()"
      >
        {{ 'alarm_create' | translate }}
        <aui-menu>
          <aui-menu-item
            [hidden]="!(permissions$ | async).create"
            (click)="createAlarmTemplate()"
          >
            {{ 'create_alarm_from_template' | translate }}
          </aui-menu-item>
        </aui-menu>
      </aui-dropdown-button>
    </acl-disabled-container>
    <div fxFlex></div>
    <div
      class="namespace-select"
      [title]="
        (selectedNamespace$ | async | pure: getActualNamespace) ||
        ('all' | translate)
      "
    >
      <div class="namespace-select__prefix">{{ 'namespace' | translate }}:</div>
      <aui-select
        [ngModel]="selectedNamespace$ | async"
        [filterable]="true"
        (ngModelChange)="onNamespaceChange($event)"
        [loading]="!(namespaceOptions$ | async)"
      >
        <aui-option [value]="ALL_NAMESPACE_SYMBOL" [label]="'all' | translate">
          {{ 'all' | translate }}
        </aui-option>
        <aui-option-group>
          <aui-option
            *ngFor="let i of namespaceOptions$ | async"
            [value]="i"
            [label]="i"
          >
            {{ i }}
          </aui-option>
        </aui-option-group>
        <aui-option-placeholder>
          {{ 'no_data' | translate }}
        </aui-option-placeholder>
      </aui-select>
    </div>
    <aui-search
      [searchButton]="true"
      [keyword]="searchKey$ | async"
      placeholder="{{ 'search_by_name_placeholder' | translate }}"
      (search)="searchByName($event)"
    ></aui-search>
    <button
      aui-button
      [square]="true"
      [loading]="list.loading$ | async"
      [disabled]="list.loading$ | async"
      (click)="list.reload()"
    >
      <aui-icon icon="basic:refresh"></aui-icon>
    </button>
  </div>

  <aui-table [dataSource]="list.items$" [trackBy]="trackByFn">
    <ng-container auiTableColumnDef="name">
      <aui-table-header-cell *auiTableHeaderCellDef>
        {{ 'alarm_name' | translate }}
      </aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let item">
        <div>
          <a
            [routerLink]="[
              '/maintenance-center/alarm/detail',
              item.metadata.name
            ]"
            [queryParams]="{
              cluster: clusterName,
              namespace: item.metadata.namespace
            }"
          >
            {{ item.metadata.name }}
          </a>
        </div>
      </aui-table-cell>
    </ng-container>
    <ng-container auiTableColumnDef="metric">
      <aui-table-header-cell *auiTableHeaderCellDef>
        {{ 'resource' | translate }}
      </aui-table-header-cell>
      <aui-table-cell
        *auiTableCellDef="let item"
        [auiTooltip]="item | aclLabel: 'name':'alert'"
        auiTooltipPosition="top start"
      >
        <span *ngIf="item | aclLabel: 'kind':'alert' as kind">
          {{ kind | lowercase | translate }} ：
          <span *ngIf="(item | aclLabel: 'name':'alert') === '0.0.0.0'">
            {{ 'all_nodes' | translate }}
          </span>
          <span *ngIf="(item | aclLabel: 'name':'alert') !== '0.0.0.0'">
            {{ item | aclLabel: 'name':'alert' }}
            {{ item | pure: getDisplayName }}
          </span>
        </span>
      </aui-table-cell>
    </ng-container>
    <ng-container auiTableColumnDef="status">
      <aui-table-header-cell *auiTableHeaderCellDef>
        {{ 'status' | translate }}
      </aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let item">
        <alu-alarm-status-bar
          [rules]="item.spec.groups[0].rules"
          [alarmState]="alertState"
          [metricType]="metricType"
        ></alu-alarm-status-bar>
      </aui-table-cell>
    </ng-container>
    <ng-container auiTableColumnDef="notification">
      <aui-table-header-cell *auiTableHeaderCellDef>
        {{ 'alarm_rules_action' | translate }}
      </aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let item">
        <alu-tags-label
          [tagList]="
            item
              | aclAnnotation: 'notifications':'alert'
              | pure: parseNotifications
          "
        ></alu-tags-label>
      </aui-table-cell>
    </ng-container>
    <ng-container auiTableColumnDef="description">
      <aui-table-header-cell *auiTableHeaderCellDef>
        {{ 'description' | translate }}
      </aui-table-header-cell>
      <aui-table-cell
        *auiTableCellDef="let item"
        [auiTooltip]="item | aclDescription | aclFieldNotAvailable"
        auiTooltipPosition="top start"
      >
        {{ item | aclDescription | aclFieldNotAvailable }}
      </aui-table-cell>
    </ng-container>
    <ng-container auiTableColumnDef="create_time">
      <aui-table-header-cell *auiTableHeaderCellDef>
        {{ 'create_time' | translate }}
      </aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let rowData">
        <alu-relative-time
          [time]="rowData.metadata.creationTimestamp"
        ></alu-relative-time>
      </aui-table-cell>
    </ng-container>
    <ng-container auiTableColumnDef="action">
      <aui-table-header-cell *auiTableHeaderCellDef></aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let item">
        <button
          aui-button="text"
          size="small"
          [square]="true"
          [plain]="true"
          [disabled]="item | pure: shouldDisable"
          [auiDropdown]="menu"
          [auiDropdownDisabled]="item | pure: shouldDisable"
          [auiDropdownContext]="{ item: item }"
        >
          <aui-icon icon="basic:ellipsis_v_s"></aui-icon>
        </button>
        <aui-menu #menu size="small">
          <ng-template auiMenuContent let-item="item">
            <acl-disabled-container [isAllowed]="(permissions$ | async).update">
              <aui-menu-item (click)="updateAlarm(item)">
                {{ 'update' | translate }}
              </aui-menu-item>
            </acl-disabled-container>
            <acl-disabled-container [isAllowed]="(permissions$ | async).delete">
              <aui-menu-item (click)="deleteAlarm(item)">
                {{ 'delete' | translate }}
              </aui-menu-item>
            </acl-disabled-container>
          </ng-template>
        </aui-menu>
      </aui-table-cell>
    </ng-container>
    <aui-table-header-row
      *auiTableHeaderRowDef="columns"
    ></aui-table-header-row>
    <aui-table-row *auiTableRowDef="let row; columns: columns"></aui-table-row>
  </aui-table>
  <acl-k8s-resource-list-footer [list]="list"></acl-k8s-resource-list-footer>
</aui-card>
