:host {
  display: flex !important;
  flex-direction: column;
  flex: 1;
}
.grafana-dashboard {
  display: flex;
  flex: 1;
  background: #fff;
  position: relative;
  ::ng-deep {
    .aui-button--mini .aui-button__content {
      padding: 0 5px;
    }
  }
  .fullScreen {
    position: absolute;
    right: 1px;
    top: 1px;
    background: #d8d9da;
    color: #1e2022;
    z-index: 111;
    border-radius: 1px;
    &:hover {
      background: #fff;
    }
  }
  .height {
    height: 800px;
  }
  iframe {
    z-index: 2;
    width: 100%;
    border: none;
    background: transparent;
  }

  .iframe-placeholder {
    width: 100%;
    text-align: center;
    padding: 50px 0;
    .title {
      font-size: 18px;
      margin-top: 24px;
    }
    .content {
      color: #999;
      margin-top: 8px;
    }
    img {
      width: 160px;
      margin: 0 auto;
    }
  }

  .not-safe-hint {
    z-index: 1;
    position: absolute;
    height: 800px;
    left: 0;
    top: 0;
  }

  .not-intsalled {
    z-index: 2;
    display: flex;
    flex-direction: column;
    background: #fff;
  }
}
