<ng-container *aluPageHeaderContent>
  <aui-breadcrumb>
    <aui-breadcrumb-item>
      <span>{{ 'monitor' | translate }}</span>
    </aui-breadcrumb-item>
  </aui-breadcrumb>
</ng-container>

<div [hidden]="loading" class="grafana-dashboard" id="grafana">
  <button
    aui-button
    *ngIf="grafanaUrl"
    class="fullScreen"
    size="mini"
    (click)="toggleFullScreen()"
    [attr.title]="
      (isFullScreen ? 'exit_full_screen' : 'view_full_screen') | translate
    "
  >
    <aui-icon [icon]="isFullScreen ? 'compress_s' : 'expand_s'"></aui-icon>
  </button>
  <iframe
    #iframe
    [class.height]="!isFullScreen"
    *ngIf="grafanaUrl; else noInstalled"
    [attr.src]="grafanaUrl"
  ></iframe>
  <div
    *ngIf="!loading && unsafeScript"
    class="iframe-placeholder not-safe-hint"
  >
    <img src="images/not-installed.svg" />
    <div class="title">
      {{ 'cluster_unsafe_script_title' | translate }}
    </div>
    <div class="content">
      {{ 'cluster_unsafe_script' | translate }}
    </div>
  </div>

  <ng-template #noInstalled>
    <div *ngIf="!loading" class="iframe-placeholder not-intsalled">
      <img src="images/not-installed.svg" />
      <div class="title">
        {{ 'cluster_no_monitor_title' | translate }}
      </div>
      <div class="content">
        {{ 'cluster_no_monitor' | translate }}
      </div>
    </div>
  </ng-template>
</div>
