<aui-dialog-header>{{ 'update_basic_info' | translate }}</aui-dialog-header>
<aui-dialog-content>
  <form
    auiForm
    #form="ngForm"
    auiFormLabelPosition="right"
    auiFormLabelWidth="90px"
  >
    <aui-form-item>
      <label auiFormItemLabel>{{ 'name' | translate }}</label>
      <span>{{ dialogData.project | aclName }}</span>
    </aui-form-item>
    <aui-form-item>
      <label auiFormItemLabel>{{ 'display_name' | translate }}</label>
      <input
        auiFormItemControl
        aui-input
        name="display_name"
        maxlength="36"
        [(ngModel)]="displayName"
      />
    </aui-form-item>
    <aui-form-item>
      <label auiFormItemLabel>{{ 'description' | translate }}</label>
      <textarea
        auiFormItemControl
        aui-input
        name="description"
        [autosize]="{ minRows: 3, maxRows: 6 }"
        [(ngModel)]="description"
      ></textarea>
    </aui-form-item>
  </form>
</aui-dialog-content>
<aui-dialog-footer>
  <button
    aui-button="primary"
    [loading]="loading$$ | async"
    [disabled]="loading$$ | async"
    (click)="update()"
  >
    {{ 'update' | translate }}
  </button>
  <button aui-button (click)="dialogRef.close()">
    {{ 'cancel' | translate }}
  </button>
</aui-dialog-footer>
