<form auiForm [formGroup]="form" auiFormLabelWidth="114px">
  <aui-form-item>
    <label auiFormItemLabel>{{ 'object_type' | translate }}</label>
    <ng-container required auiFormItemControl>
      <input aui-input formControlName="objectType" />
    </ng-container>
    <alu-error-mapper
      auiFormItemError
      [errors]="form.controls['objectType'].errors"
      [errorsMapper]="{
        required:
          'field_is_required' | translate: { field: 'object_type' | translate }
      }"
    ></alu-error-mapper>
  </aui-form-item>
  <aui-form-item>
    <label auiFormItemLabel>{{ 'login_field' | translate }}</label>
    <ng-container required auiFormItemControl>
      <input aui-input formControlName="username" />
    </ng-container>
    <alu-error-mapper
      auiFormItemError
      [errors]="form.controls['username'].errors"
      [errorsMapper]="{
        required:
          'field_is_required' | translate: { field: 'login_field' | translate }
      }"
    ></alu-error-mapper>
  </aui-form-item>
  <aui-form-item>
    <label auiFormItemLabel>{{ 'filter_condition' | translate }}</label>
    <input aui-input formControlName="filter" />
  </aui-form-item>
  <aui-form-item>
    <label auiFormItemLabel>{{ 'search_start' | translate }}</label>
    <ng-container required auiFormItemControl>
      <input aui-input formControlName="baseDN" />
    </ng-container>
    <alu-error-mapper
      auiFormItemError
      [errors]="form.controls['baseDN'].errors"
      [errorsMapper]="{
        required:
          'field_is_required' | translate: { field: 'search_start' | translate }
      }"
    ></alu-error-mapper>
  </aui-form-item>
  <aui-form-item>
    <label auiFormItemLabel>{{ 'search_scope' | translate }}</label>
    <input aui-input formControlName="scope" />
  </aui-form-item>
  <aui-form-item>
    <label auiFormItemLabel>{{ 'login_attribute' | translate }}</label>
    <ng-container required auiFormItemControl>
      <input aui-input formControlName="idAttr" />
    </ng-container>
    <alu-error-mapper
      auiFormItemError
      [errors]="form.controls['idAttr'].errors"
      [errorsMapper]="{
        required:
          'field_is_required'
          | translate: { field: 'login_attribute' | translate }
      }"
    ></alu-error-mapper>
  </aui-form-item>
  <aui-form-item>
    <label auiFormItemLabel>{{ 'name_attribute' | translate }}</label>
    <ng-container required auiFormItemControl>
      <input aui-input formControlName="nameAttr" />
    </ng-container>
    <alu-error-mapper
      auiFormItemError
      [errors]="form.controls['nameAttr'].errors"
      [errorsMapper]="{
        required:
          'field_is_required'
          | translate: { field: 'name_attribute' | translate }
      }"
    ></alu-error-mapper>
  </aui-form-item>
  <aui-form-item>
    <label auiFormItemLabel>{{ 'email_attribute' | translate }}</label>
    <ng-container required auiFormItemControl>
      <input aui-input formControlName="emailAttr" />
    </ng-container>
    <alu-error-mapper
      auiFormItemError
      [errors]="form.controls['emailAttr'].errors"
      [errorsMapper]="{
        required:
          'field_is_required'
          | translate: { field: 'email_attribute' | translate }
      }"
    ></alu-error-mapper>
  </aui-form-item>
</form>
