<aui-table [dataSource]="quotaItems$">
  <aui-table-header-row *auiTableHeaderRowDef="columns"></aui-table-header-row>
  <aui-table-row *auiTableRowDef="let row; columns: columns"></aui-table-row>

  <ng-container auiTableColumnDef="resourceType">
    <aui-table-header-cell *auiTableHeaderCellDef>
      {{ 'resource_type' | translate }}
    </aui-table-header-cell>
    <aui-table-cell *auiTableCellDef="let item">
      {{ item.name | translate }}
      <ng-container *ngIf="item.unit !== 'unit_ge'">
        {{ 'bracket' | translate: { content: item.unit | translate } }}
      </ng-container>
      <aui-icon
        *ngIf="item.description"
        icon="basic:question"
        color="#999"
        [auiTooltip]="item.description | translate"
      ></aui-icon>
    </aui-table-cell>
  </ng-container>

  <ng-container auiTableColumnDef="allocated">
    <aui-table-header-cell *auiTableHeaderCellDef>
      {{ 'allocated' | translate }}
    </aui-table-header-cell>
    <aui-table-cell *auiTableCellDef="let item">
      {{ item.used | aclFieldNotAvailable }}
    </aui-table-cell>
  </ng-container>

  <ng-container auiTableColumnDef="totalQuota">
    <aui-table-header-cell *auiTableHeaderCellDef>
      {{ 'total_quota' | translate }}
    </aui-table-header-cell>
    <aui-table-cell *auiTableCellDef="let item">
      {{ item.total || ('unlimited' | translate) }}
    </aui-table-cell>
  </ng-container>

  <ng-container auiTableColumnDef="distributionRatio">
    <aui-table-header-cell *auiTableHeaderCellDef>
      {{ 'distribution_ratio' | translate }}
    </aui-table-header-cell>
    <aui-table-cell *auiTableCellDef="let item">
      <alu-ratio-line [ratio]="item.ratio"></alu-ratio-line>
    </aui-table-cell>
  </ng-container>
</aui-table>
