<aui-dialog-header>{{ 'update' | translate }} Token</aui-dialog-header>

<aui-dialog-content>
  <form #form="ngForm" auiForm auiFormLabelPosition="right">
    <aui-form-item>
      <textarea
        auiFormItemControl
        aui-input
        #tokenModel="ngModel"
        name="token"
        required
        [(ngModel)]="token"
        style="height: 500px;"
      ></textarea>
      <alu-error-mapper
        auiFormItemError
        [errors]="tokenModel.errors"
        [errorsMapper]="{
          required: 'field_is_required' | translate: { field: 'token' }
        }"
      ></alu-error-mapper>
    </aui-form-item>
  </form>
</aui-dialog-content>

<aui-dialog-footer>
  <button aui-button="primary" [loading]="submitting" (click)="confirm()">
    {{ 'update' | translate }}
  </button>
  <button aui-button (click)="cancel()">
    {{ 'cancel' | translate }}
  </button>
</aui-dialog-footer>
