<acl-page-state [adapter]="dataLoader">
  <ng-template let-user="user" let-permissions="permissions">
    <ng-container *aluPageHeaderContent>
      <aui-breadcrumb>
        <aui-breadcrumb-item>
          <span>{{ 'user_role_management' | translate }}</span>
        </aui-breadcrumb-item>
        <aui-breadcrumb-item>
          <a routerLink="/manage-platform/user">
            {{ 'user_manage' | translate }}
          </a>
        </aui-breadcrumb-item>
        <aui-breadcrumb-item>
          <span>{{ user?.spec.email }}</span>
        </aui-breadcrumb-item>
      </aui-breadcrumb>
    </ng-container>
    <aui-card>
      <div auiCardHeader>
        <div fxFlexAlign="center" class="metadata__name">
          {{ user?.spec.email }}
        </div>
        <div fxFlex></div>
        <button aui-button [plain]="true" [auiDropdown]="menu">
          {{ 'action' | translate }}
          <aui-icon icon="angle_down" margin="left"></aui-icon>
        </button>
        <aui-menu #menu>
          <ng-template auiMenuContent>
            <acl-disabled-container
              *ngIf="user.spec.connector_type == 'local'"
              [isAllowed]="permissions.update"
              [isDisabled]="accountEmail$ | async | pure: isDisabled:user"
              [tooltip]="user | pure: getDisabledTooltip | translate"
              tooltipPosition="start top"
            >
              <aui-menu-item (click)="resetPassword(user)">
                {{ 'reset_password' | translate }}
              </aui-menu-item>
            </acl-disabled-container>
            <acl-disabled-container
              [isAllowed]="permissions.delete"
              [isDisabled]="accountEmail$ | async | pure: isDisabled:user"
              [tooltip]="user | pure: getDisabledTooltip | translate"
              tooltipPosition="start top"
            >
              <aui-menu-item type="danger" (click)="deleteUser(user)">
                {{ 'delete' | translate }}
              </aui-menu-item>
            </acl-disabled-container>
          </ng-template>
        </aui-menu>
      </div>
      <alu-field-set-group>
        <alu-field-set-item>
          <label>{{ 'username' | translate }}</label>
          <span [title]="user?.spec.account">
            {{ user?.spec.account | aclFieldNotAvailable }}
          </span>
        </alu-field-set-item>
        <alu-field-set-item>
          <label>{{ 'password' | translate }}</label>
          <span>******</span>
        </alu-field-set-item>
        <alu-field-set-item>
          <label>{{ 'display_name' | translate }}</label>
          <span [title]="user | aclDisplayName">
            {{ user | aclDisplayName | aclFieldNotAvailable }}
          </span>
          <acl-disabled-container
            *ngIf="
              !(accountEmail$ | async | pure: isDisabled:user) &&
              user.spec.connector_type === 'local'
            "
            aluFieldSetItemAction
            [isAllowed]="permissions.update"
          >
            <button aui-button="text" (click)="updateDisplayName(user)">
              <aui-icon icon="basic:pencil_s"></aui-icon>
            </button>
          </acl-disabled-container>
        </alu-field-set-item>
        <alu-field-set-item>
          <label>{{ 'creator' | translate }}</label>
          <span>{{ user | aclCreator | aclFieldNotAvailable }}</span>
        </alu-field-set-item>
        <alu-field-set-item [allowFlex]="true">
          <label>{{ 'user_group' | translate }}</label>
          <alu-user-groups-display
            [groups]="user?.spec.groups"
            parentPadding="20"
          ></alu-user-groups-display>
        </alu-field-set-item>
        <alu-field-set-item>
          <label>{{ 'create_time' | translate }}</label>
          <span>{{ user | aclCreationTimestamp | aclStandardTime }}</span>
        </alu-field-set-item>
      </alu-field-set-group>
    </aui-card>
    <aui-card [divider]="false">
      <div auiCardHeader>
        <div fxFlexAlign="center">{{ 'role_list' | translate }}</div>
        <div fxFlex></div>
        <acl-disabled-container
          [isAllowed]="(permissionsRole$ | async).create"
          [isDisabled]="accountEmail$ | async | pure: isDisabled:user"
          [tooltip]="user | pure: getDisabledTooltip | translate"
        >
          <button aui-button="primary" [plain]="true" (click)="addRole(user)">
            {{ 'add_role' | translate }}
          </button>
        </acl-disabled-container>
      </div>
      <alu-user-role-agg-list
        [list]="list"
        [canDelete]="(permissionsRole$ | async).delete"
        [showDelete]="!(accountEmail$ | async | pure: isDisabled:user)"
        (reload)="list.reload()"
      ></alu-user-role-agg-list>
    </aui-card>
  </ng-template>
</acl-page-state>
