@import 'var';

.card-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.status-icon-enabled {
  color: $color-success;
}

.status-icon-forbidden {
  color: $color-info;
}

.aui-table .aui-table__column-action {
  flex-basis: 80px;
}

::ng-deep {
  alu-fg-table + alu-fg-table .aui-card {
    margin-top: 16px;
  }
}
