<aui-card [divider]="false">
  <div auiCardHeader>
    <span *ngIf="isGlobal">
      {{ 'platform_setting' | translate }}
    </span>
    <div *ngIf="!isGlobal" class="card-header">
      <span *ngIf="clusterDisplayName">{{ clusterDisplayName }}</span>
      <span *ngIf="!clusterDisplayName">
        {{ clusterName }} {{ 'cluster' | translate }}
      </span>
      <button aui-button [disabled]="!items" (click)="addFg.emit(clusterName)">
        {{ 'add_cluster_feature_gate' | translate }}
      </button>
    </div>
  </div>
  <div>
    <aui-table [dataSource]="items">
      <ng-container auiTableColumnDef="name">
        <aui-table-header-cell *auiTableHeaderCellDef>
          {{ 'name' | translate }}
        </aui-table-header-cell>
        <aui-table-cell *auiTableCellDef="let item">
          {{ item | aclName }}
        </aui-table-cell>
      </ng-container>

      <ng-container auiTableColumnDef="stage">
        <aui-table-header-cell *auiTableHeaderCellDef>
          {{ 'feature_gate_stage' | translate }}
        </aui-table-header-cell>
        <aui-table-cell *auiTableCellDef="let item">
          {{ item.spec.stage | aclFieldNotAvailable }}
        </aui-table-cell>
      </ng-container>

      <ng-container auiTableColumnDef="dependencies">
        <aui-table-header-cell *auiTableHeaderCellDef>
          {{ 'dependencies' | translate }}
        </aui-table-header-cell>
        <aui-table-cell *auiTableCellDef="let item">
          <span [title]="item.spec.dependency?.featureGates?.join(', ')">
            {{
              item.spec.dependency?.featureGates?.join(', ')
                | aclFieldNotAvailable
            }}
          </span>
        </aui-table-cell>
      </ng-container>

      <ng-container auiTableColumnDef="description">
        <aui-table-header-cell *auiTableHeaderCellDef>
          {{ 'description' | translate }}
        </aui-table-header-cell>
        <aui-table-cell *auiTableCellDef="let item">
          <span [title]="item.spec.description">
            {{ item.spec.description | aclFieldNotAvailable }}
          </span>
        </aui-table-cell>
      </ng-container>

      <ng-container auiTableColumnDef="status">
        <aui-table-header-cell *auiTableHeaderCellDef>
          {{ 'feature_gate_status' | translate }}
        </aui-table-header-cell>
        <aui-table-cell *auiTableCellDef="let item">
          <ng-container *ngIf="item.status?.enabled">
            <aui-icon
              class="status-icon-enabled"
              icon="check_circle_s"
              margin="right"
            ></aui-icon>
            <span>{{ 'enabled' | translate }}</span>
          </ng-container>
          <ng-container *ngIf="!item.status?.enabled">
            <aui-icon
              class="status-icon-forbidden"
              icon="basic:stop_circle_s"
              margin="right"
            ></aui-icon>
            <span>{{ 'forbidden' | translate }}</span>
          </ng-container>
        </aui-table-cell>
      </ng-container>

      <ng-container auiTableColumnDef="setting">
        <aui-table-header-cell *auiTableHeaderCellDef>
          {{ 'feature_gate' | translate }}
        </aui-table-header-cell>
        <aui-table-cell *auiTableCellDef="let item">
          <aui-switch
            [value]="item.spec.enabled"
            (valueChange)="switch(item)"
            [loading]="switching[item.metadata.name]"
          ></aui-switch>
        </aui-table-cell>
      </ng-container>

      <ng-container auiTableColumnDef="action">
        <aui-table-header-cell *auiTableHeaderCellDef></aui-table-header-cell>
        <aui-table-cell *auiTableCellDef="let item">
          <button *ngIf="!isGlobal" aui-button (click)="delete(item)">
            {{ 'delete' | translate }}
          </button>
        </aui-table-cell>
      </ng-container>

      <aui-table-header-row
        *auiTableHeaderRowDef="[
          'name',
          'stage',
          'dependencies',
          'description',
          'status',
          'setting',
          'action'
        ]"
      ></aui-table-header-row>
      <aui-table-row
        *auiTableRowDef="
          let row;
          columns: [
            'name',
            'stage',
            'dependencies',
            'description',
            'status',
            'setting',
            'action'
          ]
        "
        [disabled]="isRowDisabled(row)"
      ></aui-table-row>
    </aui-table>
    <alu-no-data
      *ngIf="items && !items.length"
      mode="table"
      [loading]="!items"
      [resourceName]="'feature_gate'"
    ></alu-no-data>
  </div>
</aui-card>
