:host {
  $table-flex-common: 1 0 160px;
  $table-flex-wide: 7 0 160px;

  .template-info {
    padding-bottom: 60px;

    &__title {
      border-bottom: 1px solid #ededed;
      margin-bottom: 16px;
      padding-bottom: 12px;
      font-size: 18px;
    }

    &__group {
      display: flex;
      padding: 6px 0;
    }

    &__item {
      display: flex;
      width: percentage(1 / 2);

      > label {
        display: inline-flex;
        align-items: center;
        padding-right: 6px;
        white-space: nowrap;

        &:after {
          content: '\00a0:';
        }
      }

      > div {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        margin-right: 10px;
      }
    }
  }

  .aui-table {
    &__column-name {
      flex: $table-flex-common;
    }
    &__column-rule {
      flex: $table-flex-wide;
    }
    &__column-level {
      flex: $table-flex-common;
    }
    &__column-action {
      flex: $table-flex-common;
    }
  }
}
