<ng-container *aluPageHeaderContent>
  <aui-breadcrumb>
    <aui-breadcrumb-item>
      <span>{{ 'alarm' | translate }}</span>
    </aui-breadcrumb-item>
    <aui-breadcrumb-item>
      <span>
        <a routerLink="../../">{{ 'alerttemplate' | translate }}</a>
      </span>
    </aui-breadcrumb-item>
    <aui-breadcrumb-item>
      <span>{{ (params$ | async)?.name }}</span>
    </aui-breadcrumb-item>
  </aui-breadcrumb>
</ng-container>

<acl-page-state
  [adapter]="dataManager"
  [autoRedirect]="false"
  (redirect)="jumpToListPage()"
>
  <ng-template let-resource="resource" let-permissions="permissions">
    <aui-card>
      <div auiCardHeader>
        <span>{{ 'basic_info' | translate }}</span>
        <span fxFlex></span>
        <button aui-button="default" [plain]="true" [auiDropdown]="menu">
          {{ 'action' | translate }}
          <aui-icon icon="angle_down" margin="left"></aui-icon>
        </button>
        <aui-menu #menu size="small">
          <acl-disabled-container [isAllowed]="(permissions$ | async).update">
            <aui-menu-item (click)="updateAlarmTemplate(resource)">
              {{ 'update' | translate }}
            </aui-menu-item>
          </acl-disabled-container>
          <acl-disabled-container [isAllowed]="(permissions$ | async).delete">
            <aui-menu-item (click)="deleteAlarmTemplate(resource)">
              {{ 'delete' | translate }}
            </aui-menu-item>
          </acl-disabled-container>
        </aui-menu>
      </div>
      <alu-field-set-group auiCardContent>
        <alu-field-set-item>
          <label>{{ 'name' | translate }}</label>
          {{ resource | aclName }}
        </alu-field-set-item>
        <alu-field-set-item>
          <label>{{ 'create_time' | translate }}</label>
          {{ resource.metadata.creationTimestamp | aluFormatUtcStr }}
        </alu-field-set-item>
        <alu-field-set-item>
          <label>{{ 'resource_type' | translate }}</label>
          {{ resource | aclLabel: 'kind' | translate }}
        </alu-field-set-item>
        <alu-field-set-item>
          <label>{{ 'updated_at' | translate }}</label>
          {{ resource | aclUpdatedAt | aluFormatUtcStr }}
        </alu-field-set-item>
        <alu-field-set-item>
          <label>{{ 'description' | translate }}</label>
          {{ resource | aclDescription | aclFieldNotAvailable }}
        </alu-field-set-item>
      </alu-field-set-group>
    </aui-card>
    <aui-card *ngIf="metricType">
      <div auiCardHeader>
        {{ 'alarm_rule' | translate }}
      </div>
      <aui-table
        [dataSource]="parseAlertList(resource.spec.templates, '', metricType)"
        [trackBy]="trackByFn"
      >
        <ng-container auiTableColumnDef="rule">
          <aui-table-header-cell *auiTableHeaderCellDef>
            {{ 'rule' | translate }}
          </aui-table-header-cell>
          <aui-table-cell
            *auiTableCellDef="let rule"
            [auiTooltip]="getRule(rule, metricType)"
            auiTooltipPosition="top start"
          >
            <div>{{ getRule(rule, metricType) }}</div>
          </aui-table-cell>
        </ng-container>
        <ng-container auiTableColumnDef="type">
          <aui-table-header-cell *auiTableHeaderCellDef>
            {{ 'alarm_type' | translate }}
          </aui-table-header-cell>
          <aui-table-cell *auiTableCellDef="let rule">
            {{ rule.metric_name | pure: getAlarmTypeTitle | translate }}
          </aui-table-cell>
        </ng-container>
        <ng-container auiTableColumnDef="level">
          <aui-table-header-cell *auiTableHeaderCellDef>
            {{ 'level' | translate }}
          </aui-table-header-cell>
          <aui-table-cell *auiTableCellDef="let rule">
            <div>{{ rule.labels?.severity }}</div>
          </aui-table-cell>
        </ng-container>
        <aui-table-header-row
          *auiTableHeaderRowDef="columns"
        ></aui-table-header-row>
        <aui-table-row
          *auiTableRowDef="let row; columns: columns"
        ></aui-table-row>
      </aui-table>
    </aui-card>
    <aui-card>
      <div auiCardHeader>
        {{ 'alarm_action' | translate }}
      </div>
      <alu-alarm-action-list
        [notifications]="
          resource
            | aclAnnotation: 'notifications':'alert'
            | pure: parseNotifications
        "
      ></alu-alarm-action-list>
    </aui-card>
  </ng-template>
</acl-page-state>
