<ng-container *aluPageHeaderContent>
  <aui-breadcrumb>
    <aui-breadcrumb-item>
      <span>{{ 'event' | translate }}</span>
    </aui-breadcrumb-item>
  </aui-breadcrumb>
</ng-container>

<acl-page-guard
  [allowed]="isDeployed$ | async"
  [reason]="reason.NotDeployed"
  [description]="'not_deployed_es' | translate"
>
  <aui-card *aclPageGuardContent>
    <alu-k8s-event-list
      *ngIf="initialized"
      [cluster]="cluster"
      [embedded]="false"
    ></alu-k8s-event-list>
  </aui-card>
</acl-page-guard>
