.form-item {
  margin-top: 16px;
  display: block;
}
form {
  margin-bottom: 52px;
}

aui-input-group {
  width: 100%;
  .aui-input-group__addon {
    background: #fff;
  }
  .value_copy {
    &:hover {
      color: #006eff;
      cursor: pointer;
    }
  }
}
