<ng-container *aluPageHeaderContent>
  <aui-breadcrumb>
    <aui-breadcrumb-item>
      <span>{{ 'user_role_management' | translate }}</span>
    </aui-breadcrumb-item>
    <aui-breadcrumb-item>
      <a routerLink="/manage-platform/user">
        {{ 'user_management' | translate }}
      </a>
    </aui-breadcrumb-item>
    <aui-breadcrumb-item>
      <span>{{ 'create_user' | translate }}</span>
    </aui-breadcrumb-item>
  </aui-breadcrumb>
</ng-container>

<form #ngForm="ngForm" auiForm auiFormLabelWidth="114px" [formGroup]="form">
  <aui-card>
    <div auiCardHeader>
      {{ 'create_user' | translate }}
    </div>
    <ng-container formGroupName="spec">
      <aui-form-item>
        <label auiFormItemLabel>{{ 'username' | translate }}</label>
        <ng-container required auiFormItemControl>
          <input
            aui-input
            formControlName="account"
            maxlength="253"
            [placeholder]="
              (namePattern.tip | translate) +
              ' ' +
              ('max_length_charts' | translate: { num: 253 })
            "
          />
        </ng-container>
        <alu-error-mapper
          auiFormItemError
          [errors]="form.get('spec.account')?.errors"
          [errorsMapper]="{
            required:
              'field_is_required'
              | translate: { field: 'username' | translate },
            pattern: namePattern.tip | translate
          }"
        ></alu-error-mapper>
      </aui-form-item>
      <aui-form-item>
        <label auiFormItemLabel>{{ 'display_name' | translate }}</label>
        <input
          aui-input
          formControlName="username"
          maxlength="64"
          [placeholder]="'max_length_charts' | translate: { num: 64 }"
        />
      </aui-form-item>
      <aui-form-item>
        <label auiFormItemLabel>{{ 'password_type' | translate }}</label>
        <aui-radio-group
          [(ngModel)]="passwordType"
          [ngModelOptions]="{ standalone: true }"
          (ngModelChange)="passwordTypeChange($event)"
        >
          <aui-radio-button value="custom">
            {{ 'custom' | translate }}
          </aui-radio-button>
          <aui-radio-button value="random">
            {{ 'random' | translate }}
          </aui-radio-button>
        </aui-radio-group>
      </aui-form-item>
      <aui-form-item>
        <label auiFormItemLabel>{{ 'password' | translate }}</label>
        <ng-container required auiFormItemControl>
          <aui-input-group>
            <span
              auiInputAddonAfter
              class="value_copy"
              [auiTooltipCopy]="form.get('spec.password')?.value"
              [auiTooltipCopySuccessTip]="'copied_to_pasteboard' | translate"
            >
              <aui-icon icon="copy"></aui-icon>
            </span>
            <input
              aui-input
              formControlName="password"
              [readonly]="passwordType === 'random'"
              [placeholder]="passwordPattern.tip | translate"
            />
          </aui-input-group>
        </ng-container>
        <alu-error-mapper
          auiFormItemError
          [errors]="form.get('spec.password')?.errors"
          [errorsMapper]="{
            required:
              'field_is_required'
              | translate: { field: 'password' | translate },
            pattern: passwordPattern.tip | translate
          }"
        ></alu-error-mapper>
      </aui-form-item>
      <aui-form-item>
        <label auiFormItemLabel>{{ 'email' | translate }}</label>
        <ng-container required auiFormItemControl>
          <input aui-input type="email" formControlName="email" />
        </ng-container>
        <alu-error-mapper
          auiFormItemError
          [errors]="form.get('spec.email')?.errors"
          [errorsMapper]="{
            required:
              'field_is_required' | translate: { field: 'email' | translate },
            pattern: emailPattern.tip | translate
          }"
        ></alu-error-mapper>
      </aui-form-item>
    </ng-container>
    <aui-form-item>
      <label auiFormItemLabel>{{ 'role' | translate }}</label>
      <alu-user-role-form-table
        [userEmail]="form.get('spec.email')?.value"
        formControlName="userbindings"
      ></alu-user-role-form-table>
    </aui-form-item>
  </aui-card>
</form>
<footer class="form__footer">
  <aui-checkbox [(ngModel)]="continueCreate">
    {{ 'continue_to_create' | translate }}
  </aui-checkbox>
  <div fxFlex></div>
  <button
    aui-button="primary"
    type="button"
    (click)="submit(ngForm)"
    [disabled]="submitting"
    [loading]="submitting"
  >
    {{ 'create' | translate }}
  </button>
  <button aui-button type="button" (click)="goBack()">
    {{ 'cancel' | translate }}
  </button>
</footer>
