@import 'var';

:host {
  $cpu-color: #7c70e2;
  $memory-color: #1cb6cc;
  $table-flex-common: 1 1 160px;
  $table-flex-wide: 5 1 160px;

  .meter-header {
    margin-bottom: 12px;
  }
  .meter-title {
    line-height: 32px;
  }
  .cpu-text {
    color: $cpu-color;
    font-size: 16px;
  }
  .memory-text {
    color: $memory-color;
    font-size: 16px;
  }
  .name {
    font-size: 16px;
    line-height: 22px;
  }
  .namespace-hint {
    color: #999;
    &:hover {
      color: $color-primary;
    }
  }
  .empty {
    text-align: center;
    line-height: 50px;
    border-bottom: 1px solid #eee;
  }
  .aui-table {
    &__column-project_name {
      flex: $table-flex-common;
    }
    &__cell__display-name {
      font-size: 12px;
      line-height: 16px;
      margin-top: 2px;
      color: #999;
    }
    &__column-namespace_name {
      flex: $table-flex-common;
    }
    &__column-cluster {
      flex: $table-flex-common;
    }
    &__column-project {
      flex: $table-flex-common;
    }
    &__column-total_proportion {
      flex: $table-flex-common;
      display: flex;
      align-items: center;
      span {
        margin-left: 8px;
      }
      alu-meter-pie-chart {
        display: inline-flex;
      }
    }
    &__column-usage_amount {
      flex: $table-flex-wide;
      div {
        display: flex;
        span {
          display: inline-flex;
          overflow: hidden;
          flex: 1;
          &.usage {
            flex: 0 0 100px;
            margin-right: 12px;
            justify-content: flex-end;
          }
          aui-status-bar {
            width: 80%;
          }
        }
      }
    }
  }

  .icon-wrapper {
    display: inline-block;
    width: 26px;
    height: 26px;
    border-radius: 50%;
    line-height: 26px;
    margin: 0 8px;
    &.icon-cpu {
      background-color: $cpu-color;
    }
    &.icon-memory {
      background-color: $memory-color;
    }
    aui-icon {
      color: #fff;
      margin: 6px;
    }
  }

  ::ng-deep {
    .aui-status-bar {
      &__chunk.cpu {
        background-color: $cpu-color;
      }
      &__chunk.memory {
        background-color: $memory-color;
      }
    }
  }
}
