<div class="meter-header" [style.marginTop.px]="orderBy === 'memory' ? 16 : 0">
  <span class="meter-title">
    <ng-container *ngIf="orderBy === 'cpu'">
      <span class="icon-wrapper icon-cpu">
        <aui-icon icon="basic:cpu"></aui-icon>
      </span>
      {{ 'cpu_used_all' | translate }}:
      <span class="cpu-text">{{ allVal | number: '1.2-2' }}</span>
      {{ 'core_plus_hour' | translate }}
    </ng-container>
    <ng-container *ngIf="orderBy === 'memory'">
      <span class="icon-wrapper icon-memory">
        <aui-icon icon="basic:memory"></aui-icon>
      </span>
      {{ 'memory_used_all' | translate }}:
      <span class="memory-text">{{ allVal | number: '1.2-2' }}</span>
      {{ 'gb_plus_hour' | translate }}
    </ng-container>
  </span>
  <span fxFlex></span>
  <aui-button-group *ngIf="(type$ | async) !== 'projectQuota'">
    <button
      aui-button="primary"
      (click)="groupBy$.next('project')"
      [plain]="(groupBy$ | async) !== 'project'"
    >
      {{ 'meter_by_project' | translate }}
    </button>
    <button
      aui-button="primary"
      (click)="groupBy$.next('namespace')"
      [plain]="(groupBy$ | async) !== 'namespace'"
    >
      {{ 'meter_by_namespace' | translate }}
    </button>
  </aui-button-group>
</div>
<aui-table [dataSource]="list$ | async">
  <ng-container auiTableColumnDef="project_name">
    <aui-table-header-cell *auiTableHeaderCellDef>
      {{ 'project_name' | translate }}
    </aui-table-header-cell>
    <aui-table-cell *auiTableCellDef="let item">
      <div class="name">
        <ng-container *ngIf="!item.last">
          <a
            [routerLink]="['/manage-platform/meter/report']"
            [queryParams]="{
              type: type$ | async,
              range: (range$ | async).text,
              groupBy: groupBy$ | async,
              project: item.project
            }"
            title="{{ item.project }}"
          >
            {{ item.project }}
          </a>
          <div class="aui-table__cell__display-name">
            {{ item.projectDisplayName }}
          </div>
        </ng-container>
        <ng-container *ngIf="item.last">
          {{ 'other_project' | translate }}
        </ng-container>
      </div>
    </aui-table-cell>
  </ng-container>
  <ng-container auiTableColumnDef="namespace_name">
    <aui-table-header-cell *auiTableHeaderCellDef>
      {{ 'namespace_name' | translate }}
      <aui-icon
        icon="basic:question"
        class="namespace-hint"
        [auiTooltip]="'namespace_hint' | translate"
      ></aui-icon>
    </aui-table-header-cell>
    <aui-table-cell *auiTableCellDef="let item">
      <div class="name">
        <ng-container *ngIf="!item.last">
          <a
            *ngIf="item.project"
            [routerLink]="['/manage-platform/meter/report']"
            [queryParams]="{
              type: type$ | async,
              range: (range$ | async).text,
              groupBy: groupBy$ | async,
              project: item.project
            }"
            title="{{ item.namespace }}"
          >
            {{ item.namespace }}
          </a>
          <ng-container *ngIf="!item.project">
            {{ item.namespace }}
          </ng-container>
          <div class="aui-table__cell__display-name">
            {{ item.namespaceDisplayName }}
          </div>
        </ng-container>
        <ng-container *ngIf="item.last">
          {{ 'other_namespace' | translate }}
        </ng-container>
      </div>
    </aui-table-cell>
  </ng-container>
  <ng-container auiTableColumnDef="cluster">
    <aui-table-header-cell *auiTableHeaderCellDef>
      {{ 'cluster_belonged' | translate }}
    </aui-table-header-cell>
    <aui-table-cell *auiTableCellDef="let item">
      {{ item.last ? '-' : (item.cluster | aclFieldNotAvailable) }}
    </aui-table-cell>
  </ng-container>
  <ng-container auiTableColumnDef="project">
    <aui-table-header-cell *auiTableHeaderCellDef>
      {{ 'project_belonged' | translate }}
    </aui-table-header-cell>
    <aui-table-cell *auiTableCellDef="let item">
      {{ item.last ? '-' : (item.project | aclFieldNotAvailable) }}
    </aui-table-cell>
  </ng-container>
  <ng-container auiTableColumnDef="usage_amount">
    <aui-table-header-cell *auiTableHeaderCellDef>
      <div style="margin-left: 110px;">
        {{ 'usage_amount' | translate }}
        <ng-container *ngIf="orderBy === 'cpu'">
          ({{ 'core_plus_hour' | translate }})
        </ng-container>
        <ng-container *ngIf="orderBy === 'memory'">
          ({{ 'gb_plus_hour' | translate }})
        </ng-container>
      </div>
    </aui-table-header-cell>
    <aui-table-cell *auiTableCellDef="let item">
      <div>
        <span class="usage">{{ item.usage | number: '1.2-2' }}</span>
        <span>
          <aui-status-bar
            [status]="[
              {
                scale: item.percentMax,
                class: orderBy
              },
              {
                scale: 1 - item.percentMax
              }
            ]"
            size="small"
          ></aui-status-bar>
        </span>
      </div>
    </aui-table-cell>
  </ng-container>
  <ng-container auiTableColumnDef="total_proportion">
    <aui-table-header-cell *auiTableHeaderCellDef>
      {{ 'total_proportion' | translate }}
    </aui-table-header-cell>
    <aui-table-cell *auiTableCellDef="let item">
      <alu-pie-chart
        [percentage]="item.percentAll"
        [color]="orderBy === 'cpu' ? '#7c70e2' : '#1cb6cc'"
      ></alu-pie-chart>
      <span>{{ item.percentAll * 100 | number: '1.2-2' }}%</span>
    </aui-table-cell>
  </ng-container>
  <aui-table-header-row *auiTableHeaderRowDef="columns"></aui-table-header-row>
  <aui-table-row *auiTableRowDef="let row; columns: columns"></aui-table-row>
</aui-table>
<ng-container *ngIf="!(list$ | async)?.length">
  <div class="empty">
    {{ 'no_data' | translate }}
  </div>
</ng-container>
