<ng-container *aluPageHeaderContent>
  <aui-breadcrumb>
    <aui-breadcrumb-item>
      <span>{{ 'user_role_management' | translate }}</span>
    </aui-breadcrumb-item>
    <aui-breadcrumb-item>
      <a routerLink="../..">{{ 'idp_option' | translate }}</a>
    </aui-breadcrumb-item>
    <aui-breadcrumb-item>
      <span>
        {{ (update ? 'update' : 'create') | translate }} {{ type | uppercase }}
      </span>
    </aui-breadcrumb-item>
  </aui-breadcrumb>
</ng-container>

<form #ngForm="ngForm" auiForm auiFormLabelWidth="114px" [formGroup]="form">
  <aui-card>
    <div auiCardHeader>{{ 'basic_info' | translate }}</div>
    <aui-form-item>
      <label auiFormItemLabel>{{ 'name' | translate }}</label>
      <span *ngIf="update">{{ this.form.get('id').value }}</span>
      <ng-container *ngIf="!update" required auiFormItemControl>
        <input aui-input maxlength="64" formControlName="id" />
      </ng-container>
      <alu-error-mapper
        auiFormItemError
        [errors]="form.controls['id'].errors"
        [errorsMapper]="{
          required:
            'field_is_required' | translate: { field: 'name' | translate },
          pattern: namePattern.tip | translate
        }"
      ></alu-error-mapper>
    </aui-form-item>
    <aui-form-item>
      <label auiFormItemLabel>{{ 'display_name' | translate }}</label>
      <ng-container required auiFormItemControl>
        <input aui-input formControlName="name" />
      </ng-container>
      <alu-error-mapper
        auiFormItemError
        [errors]="form.controls['name'].errors"
        [errorsMapper]="{
          required:
            'field_is_required'
            | translate: { field: 'display_name' | translate }
        }"
      ></alu-error-mapper>
    </aui-form-item>
    <ng-container formGroupName="metadata">
      <ng-container formGroupName="annotations">
        <aui-form-item>
          <label auiFormItemLabel>{{ 'description' | translate }}</label>
          <input aui-input [formControlName]="description" />
        </aui-form-item>
      </ng-container>
    </ng-container>
  </aui-card>

  <alu-oidc-setting-form
    *ngIf="type == 'oidc'"
    class="form-item"
    formControlName="config"
  ></alu-oidc-setting-form>

  <alu-ldap-setting-form
    *ngIf="type == 'ldap'"
    class="form-item"
    formControlName="config"
  ></alu-ldap-setting-form>

  <alu-idp-server-setting-check-form
    class="form-item"
    formControlName="idpValidation"
  ></alu-idp-server-setting-check-form>
</form>
<footer class="form__footer">
  <button aui-button="primary" type="button" (click)="submit(ngForm)">
    {{ (update ? 'update' : 'create') | translate }}
  </button>
  <button aui-button type="button" (click)="goBack()">
    {{ 'cancel' | translate }}
  </button>
</footer>
