@import 'var';
@import '../../common.scss';

.form-section {
  & + & {
    margin-top: 16px;
  }
}

.field-panel__wrap {
  & + & {
    margin-top: 12px;
  }
}

.pwd-display {
  display: flex;
  align-items: center;
  aui-icon {
    color: #999;
    margin-left: 8px;
    font-size: 16px;
    cursor: pointer;
    &:hover {
      color: $color-primary;
    }
  }
}
