<aui-card *ngIf="deployment?.cr?.spec as spec">
  <div class="form-section">
    <div class="form-section__header">
      {{ 'cluster_config' | translate }}
    </div>
    <alu-field-set-group>
      <alu-field-set-item>
        <label>{{ 'image_repo_address' | translate }}</label>
        <span>{{ spec.repository }}</span>
      </alu-field-set-item>
      <alu-field-set-item>
        <label>{{ 'K8s Master' }}</label>
        <span>{{ spec.k8sMaster }}</span>
      </alu-field-set-item>
    </alu-field-set-group>
  </div>
  <div class="form-section">
    <div class="form-section__header">
      {{ 'default_ssh_config' | translate }}
    </div>
    <alu-field-set-group>
      <alu-field-set-item>
        <label>{{ 'host' | translate }}</label>
        <span>{{ spec.sshConfig.global.user }}</span>
      </alu-field-set-item>
      <alu-field-set-item>
        <label>{{ 'port' | translate }}</label>
        <span>{{ spec.sshConfig.global.port }}</span>
      </alu-field-set-item>
      <alu-field-set-item>
        <label>{{ 'password' | translate }}</label>
        <span>
          <span class="pwd-display">
            <ng-container *ngIf="showPassword">
              {{ spec.sshConfig.global.password }}
              <aui-icon
                icon="basic:eye_s"
                (click)="showPassword = false"
              ></aui-icon>
            </ng-container>
            <ng-container *ngIf="!showPassword">
              ******
              <aui-icon
                icon="basic:eye_slash_s"
                (click)="showPassword = true"
              ></aui-icon>
            </ng-container>
          </span>
        </span>
      </alu-field-set-item>
    </alu-field-set-group>
  </div>
  <div class="form-section">
    <div class="form-section__header">
      {{ 'host_config' | translate }}
    </div>
    <alu-field-set-group>
      <alu-field-set-item [allowFlex]="true">
        <label>{{ 'host' | translate }}</label>
        <span>
          <div
            class="field-panel__wrap"
            *ngFor="let host of spec.sshConfig.others | pure: getHosts"
          >
            <div class="field-panel__body">
              <alu-field-set-group>
                <alu-field-set-item>
                  <label>{{ 'IP' }}</label>
                  <span>{{ host.ip }}</span>
                </alu-field-set-item>
              </alu-field-set-group>
              <alu-field-set-group>
                <alu-field-set-item>
                  <label>{{ 'ssh_config' | translate }}</label>
                  <span>{{ host.sshConfig | translate }}</span>
                </alu-field-set-item>
              </alu-field-set-group>
              <ng-container *ngIf="host.sshConfig === 'custom'">
                <alu-field-set-group>
                  <alu-field-set-item>
                    <label>{{ 'username' | translate }}</label>
                    <span>{{ host.user }}</span>
                  </alu-field-set-item>
                </alu-field-set-group>
                <alu-field-set-group>
                  <alu-field-set-item>
                    <label>{{ 'port' | translate }}</label>
                    <span>{{ host.port }}</span>
                  </alu-field-set-item>
                </alu-field-set-group>
                <alu-field-set-group>
                  <alu-field-set-item>
                    <label>{{ 'password' | translate }}</label>
                    <span>{{ host.password }}</span>
                  </alu-field-set-item>
                </alu-field-set-group>
              </ng-container>
            </div>
          </div>
        </span>
      </alu-field-set-item>
    </alu-field-set-group>
  </div>
</aui-card>
