<aui-dialog-header>
  {{ 'update_cluster_manage_endpoint' | translate }}
</aui-dialog-header>

<aui-dialog-content>
  <form
    #form="ngForm"
    auiForm
    auiFormLabelPosition="right"
    auiFormLabelWidth="114px"
  >
    <aui-form-item>
      <label auiFormItemLabel>
        {{ 'cluster' | translate }}
      </label>
      {{ modalData.cluster | aclName }}
    </aui-form-item>
    <aui-form-item>
      <label auiFormItemLabel>
        {{ 'cluster_manage_endpoint' | translate }}
      </label>
      <input
        aui-input
        auiFormItemControl
        #endpointName="ngModel"
        name="manage_endpoint"
        pattern="https?:\/\/.+"
        [placeholder]="'cluster_manage_endpoint_placeholder' | translate"
        [(ngModel)]="k8sDashboardEndpoint"
      />
      <alu-error-mapper
        auiFormItemError
        [errors]="endpointName.errors"
        [errorsMapper]="{
          required:
            'field_is_required'
            | translate: { field: 'cluster_manage_endpoint' | translate },
          pattern: 'cluster_manage_endpoint_pattern_tip' | translate
        }"
      ></alu-error-mapper>
    </aui-form-item>
  </form>
</aui-dialog-content>

<aui-dialog-footer>
  <button aui-button="primary" [loading]="submitting" (click)="confirm()">
    {{ 'update' | translate }}
  </button>
  <button aui-button (click)="cancel()">
    {{ 'cancel' | translate }}
  </button>
</aui-dialog-footer>
