$table-flex-common: 1 3 100px;

:host {
  .aui-table {
    &__column-cluster_name {
      flex: 4 1 160px;
      .cluster-name {
        display: inline-flex;
        max-width: 100%;
        a {
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          margin-right: 4px;
        }
      }
    }
    &__column-k8s_version {
      flex: $table-flex-common;
    }
    &__column-node_count {
      flex: $table-flex-common;
    }
    &__column-high_availability {
      flex: $table-flex-common;
    }
    &__column-status {
      flex: $table-flex-common;
    }
    &__column-create_time {
      flex: $table-flex-common;
    }
    &__column-action {
      flex: 0 0 100px;
    }
  }

  .aui-table__cell__display-name {
    text-overflow: ellipsis;
    overflow: hidden;
  }
}
