<aui-card [divider]="false">
  <div auiCardHeader>
    <span>{{ 'federation_member' | translate }}</span>
    <div fxFlex></div>
    <acl-disabled-container
      [isAllowed]="(permissions$ | async).create"
      [isDisabled]="
        getClusterFedStatus(clusterFed) !== ClusterFedStatusEnum.NORMAL
      "
      [tooltip]="'clusterfed_error' | translate"
    >
      <button aui-button="default" (click)="addMember()">
        {{ 'add_member' | translate }}
      </button>
    </acl-disabled-container>
  </div>
  <aui-table [dataSource]="clusters$ | async">
    <ng-container auiTableColumnDef="cluster_name">
      <aui-table-header-cell *auiTableHeaderCellDef>
        {{ 'cluster_name' | translate }}
      </aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let item">
        <div class="cluster-name">
          <a
            [routerLink]="[
              '/manage-platform/cluster/detail',
              item.cluster | aclName
            ]"
          >
            {{ item.cluster | aclName }}
          </a>
          <aui-tag
            *ngIf="item.type === 'Host'"
            type="info"
            [size]="ComponentSize.Mini"
          >
            {{ 'control_cluster' | translate }}
          </aui-tag>
        </div>
        <div
          *ngIf="item.cluster.spec.displayName as displayName"
          class="aui-table__cell__display-name"
          [title]="displayName"
        >
          {{ displayName }}
        </div>
      </aui-table-cell>
    </ng-container>
    <ng-container auiTableColumnDef="k8s_version">
      <aui-table-header-cell *auiTableHeaderCellDef>
        {{ 'k8s_version' | translate }}
      </aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let item">
        {{ item?.cluster?.status?.version | aclFieldNotAvailable }}
      </aui-table-cell>
    </ng-container>
    <ng-container auiTableColumnDef="node_count">
      <aui-table-header-cell *auiTableHeaderCellDef>
        {{ 'vm_num' | translate }}
        <aui-icon
          icon="basic:question"
          [auiTooltip]="'only_show_normal_abnormal_nodes' | translate"
          color="#999"
        ></aui-icon>
      </aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let item">
        {{ item?.nodes?.length | aclFieldNotAvailable }}
      </aui-table-cell>
    </ng-container>
    <ng-container auiTableColumnDef="high_availability">
      <aui-table-header-cell *auiTableHeaderCellDef>
        {{ 'high_availability' | translate }}
      </aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let item">
        {{ item?.isHighAvailability | translate | aclFieldNotAvailable }}
      </aui-table-cell>
    </ng-container>
    <ng-container auiTableColumnDef="status">
      <aui-table-header-cell *auiTableHeaderCellDef>
        {{ 'cluster_status' | translate }}
      </aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let item">
        <alu-status-icon
          [status]="item?.cluster | pure: getClusterStatus"
        ></alu-status-icon>
        {{ item?.cluster | pure: getClusterStatus | translate }}
      </aui-table-cell>
    </ng-container>
    <ng-container auiTableColumnDef="create_time">
      <aui-table-header-cell *auiTableHeaderCellDef>
        {{ 'create_time' | translate }}
      </aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let item">
        {{ item?.cluster | aclCreationTimestamp | aclRelativeTime }}
      </aui-table-cell>
    </ng-container>
    <ng-container auiTableColumnDef="action">
      <aui-table-header-cell *auiTableHeaderCellDef></aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let item">
        <button
          *ngIf="item.type !== 'Host'"
          aui-button="text"
          [square]="true"
          [plain]="true"
          (click)="removeMember(item.cluster)"
        >
          <a>{{ 'remove' | translate }}</a>
        </button>
        <ng-container *ngIf="item.type === 'Host'">-</ng-container>
      </aui-table-cell>
    </ng-container>
    <aui-table-header-row
      *auiTableHeaderRowDef="columns"
    ></aui-table-header-row>
    <aui-table-row *auiTableRowDef="let row; columns: columns"></aui-table-row>
  </aui-table>
  <div
    *ngIf="!(clusters$ | async)"
    class="loading"
    style="padding-top: 18px; text-align: center;"
  >
    <aui-icon icon="spinner" margin="right"></aui-icon>
    <span>{{ 'loading' | translate }}</span>
  </div>
</aui-card>
