@import 'var';
:host {
  ::ng-deep {
    .aui-form-item__addon-wrapper {
      align-self: start;
    }
    .aui-card {
      margin-bottom: 52px;
    }
    aui-code-editor {
      height: calc(
        100vh - #{$page-top-padding} - #{$page-bottom-padding} - #{$snack-bar-height}
      );
    }
  }
}
