<ng-container *aluPageHeaderContent>
  <aui-breadcrumb>
    <aui-breadcrumb-item>
      <span>
        {{ 'cluster_management' | translate }}
      </span>
    </aui-breadcrumb-item>
    <aui-breadcrumb-item>
      <a [routerLink]="['../']">
        {{ 'resource_management' | translate }}
      </a>
    </aui-breadcrumb-item>
    <ng-container>
      <aui-breadcrumb-item>
        <span>{{ (isUpdate ? 'update' : 'create') | translate }}</span>
      </aui-breadcrumb-item>
    </ng-container>
  </aui-breadcrumb>
</ng-container>

<aui-card>
  <div auiCardHeader>
    <ng-container *ngIf="isUpdate; else createTpl">
      {{ 'update' | translate }} {{ updatePayload | aclUnionDisplayName }}
    </ng-container>
    <ng-template #createTpl>
      {{ 'resource_create' | translate }}
    </ng-template>
  </div>

  <alu-field-set-item style="margin-bottom: 16px;">
    <label>{{ 'cluster_belonged' | translate }}</label>
    {{ RSRCService.cluster }}
  </alu-field-set-item>

  <form #form="ngForm">
    <aui-code-editor
      name="yaml"
      required
      [originalValue]="originalYaml"
      [actionsConfig]="editorActions"
      [options]="editorOptions"
      [(ngModel)]="yamlInputValue"
    ></aui-code-editor>
  </form>
</aui-card>
<footer class="form__footer">
  <button aui-button="primary" (click)="confirm()">
    {{ (isUpdate ? 'update' : 'create') | translate }}
  </button>
  <button aui-button="default" (click)="cancel()">
    {{ 'cancel' | translate }}
  </button>
</footer>
