<acl-page-state [adapter]="dataLoader">
  <ng-template let-deployment>
    <div
      *aluPageHeaderContent
      fxLayout="row"
      fxLayoutAlign="space-between center"
    >
      <aui-breadcrumb>
        <aui-breadcrumb-item>
          <a routerLink="/manage-platform/product">
            {{ 'product_management' | translate }}
          </a>
        </aui-breadcrumb-item>
        <aui-breadcrumb-item>
          <a
            [routerLink]="[
              '/manage-platform/product/timatrix/detail',
              crdName$ | async | pure: secretName
            ]"
          >
            {{ 'ti_matrix_deploy_detail' | translate }}
          </a>
        </aui-breadcrumb-item>
        <aui-breadcrumb-item>
          <span>{{ 'ti_matrix_update' | translate }}</span>
        </aui-breadcrumb-item>
      </aui-breadcrumb>
    </div>
    <aui-card>
      <div auiCardHeader>{{ 'ti_matrix_update' | translate }}</div>
      <alu-field-set-group>
        <alu-field-set-item>
          <label>{{ 'deploy_running_status' | translate }}</label>
          <span>
            <alu-status-icon
              [status]="deployment.cr | pure: getStatusIcon"
            ></alu-status-icon>
            {{ deployment.cr | pure: getStatusText | translate }}
          </span>
        </alu-field-set-item>
        <alu-field-set-item>
          <label>{{ 'product_entrance' | translate }}</label>
          <span>
            <a
              [href]="deployment.cr.status.productEntrypoint"
              *ngIf="deployment.cr.status.productEntrypoint; else noEntrance"
              target="_blank"
            >
              {{ deployment.cr.status.productEntrypoint }}
            </a>
            <ng-template #noEntrance>-</ng-template>
          </span>
        </alu-field-set-item>
        <alu-field-set-item>
          <label>{{ 'product_version' | translate }}</label>
          <span>{{ deployment.cr.spec.version }}</span>
        </alu-field-set-item>
        <alu-field-set-item>
          <label>{{ 'product_type' | translate }}</label>
          <span>
            {{
              deployment.crd | aclLabel: 'product-type' | lowercase | translate
            }}
          </span>
        </alu-field-set-item>
        <alu-field-set-item>
          <label>{{ 'product_intro' | translate }}</label>
          <span>
            {{
              deployment.crd
                | aclAnnotation: 'brief'
                | aluParseJson
                | translate: {}
            }}
          </span>
        </alu-field-set-item>
        <alu-field-set-item>
          <label>{{ 'deploy_time' | translate }}</label>
          <span>
            {{ deployment.cr | aclCreationTimestamp | aclRelativeTime }}
          </span>
        </alu-field-set-item>
      </alu-field-set-group>
    </aui-card>
    <alu-ti-deploy-update-form [cr]="deployment.cr"></alu-ti-deploy-update-form>
  </ng-template>
</acl-page-state>
<footer class="form__footer">
  <button
    aui-button="primary"
    [disabled]="submitting"
    [loading]="submitting"
    (click)="update()"
  >
    {{ 'update' | translate }}
  </button>
  <button aui-button type="button" (click)="goBack()">
    {{ 'cancel' | translate }}
  </button>
</footer>
