@import 'var';
@import '../../common.scss';

:host {
  width: 100%;
}

.comp-deploy__type {
  margin-bottom: 8px;
  aui-icon {
    margin-left: 8px;
    color: #999;
    &:hover {
      color: $color-primary;
    }
  }
}
