<form auiForm *ngIf="form" auiFormLabelWidth="96px" [formGroup]="form">
  <div class="comp-deploy__type">
    <aui-radio-group
      formControlName="mode"
      [size]="'small'"
      (valueChange)="modeChange($event)"
    >
      <aui-radio-button
        *ngFor="let option of componentOptions"
        [value]="option.value"
        [disabled]="isUpdate"
      >
        {{ option.label | translate }}
      </aui-radio-button>
    </aui-radio-group>
    <aui-icon icon="basic:question" *ngIf="!isUpdate"></aui-icon>
  </div>
  <div class="field-panel__wrap">
    <div class="field-panel__body">
      <ng-container *ngIf="form.get('mode').value === 0">
        <aui-form-item>
          <label auiFormItemLabel>{{ 'host' | translate }}</label>
          <aui-multi-select auiFormItemControl formControlName="hosts" required>
            <aui-option *ngFor="let host of hosts" [value]="host">
              {{ host }}
            </aui-option>
          </aui-multi-select>
          <alu-error-mapper
            auiFormItemError
            [errors]="form.get('hosts').errors"
            [errorsMapper]="{
              required:
                'field_is_required' | translate: { field: 'host' | translate }
            }"
          ></alu-error-mapper>
        </aui-form-item>
      </ng-container>
      <ng-container *ngIf="form.get('mode').value === 1">
        <aui-form-item>
          <label auiFormItemLabel>{{ 'host' | translate }}</label>
          <input
            auiFormItemControl
            formControlName="accessHost"
            aui-input
            required
          />
          <alu-error-mapper
            auiFormItemError
            [errors]="form.get('accessHost').errors"
            [errorsMapper]="{
              required:
                'field_is_required' | translate: { field: 'host' | translate }
            }"
          ></alu-error-mapper>
        </aui-form-item>
        <aui-form-item>
          <label auiFormItemLabel>{{ 'port' | translate }}</label>
          <input
            auiFormItemControl
            formControlName="port"
            aui-input
            required
            [pattern]="portPattern.pattern"
          />
          <alu-error-mapper
            auiFormItemError
            [errors]="form.get('port').errors"
            [errorsMapper]="{
              pattern: portPattern.tip | translate,
              required:
                'field_is_required' | translate: { field: 'port' | translate }
            }"
          ></alu-error-mapper>
        </aui-form-item>
      </ng-container>
    </div>
  </div>
</form>
