:host {
  $cpu-color: #7c70e2;
  $memory-color: #1cb6cc;
  ::ng-deep {
    .aui-card {
      min-width: 960px;
    }
    aui-form-item {
      display: inline-block;
      width: 33%;
      aui-search {
        width: 100%;
      }
    }
    .aui-accordion-item__header-content {
      flex: 1;
    }
    .aui-accordion-item__content-body {
      max-height: 500px;
      overflow: auto;
    }
    .aui-multi-select--medium {
      position: static;
      max-height: 82px;
      overflow: auto;
    }
  }

  aui-radio-group {
    flex: 0 0 170px;
    align-self: start;
  }

  aui-multi-select {
    flex: 1;
    position: relative;
  }

  .search-wrapper {
    display: flex;
    flex-wrap: wrap;
  }

  .export-btn-wrapper {
    padding: 4px 0;
    margin-left: 8px;
  }

  .time-select {
    flex: 1;
    display: flex;
    label {
      line-height: 32px;
      margin: 0 10px;
    }
  }

  .time-input {
    position: relative;
    .aui-input {
      background-color: #fff;
      cursor: pointer;
    }
  }

  .time-button {
    position: absolute;
    top: 0;
    right: 1px;
    height: 32px;
    display: flex;
    align-items: center;
    .time-button-icon {
      padding: 0 7px;
      border-left: 1px solid #ccc;
    }
  }

  .search-button {
    display: inline-block;
    width: 100%;
    margin-bottom: 16px;
    text-align: right;
  }

  .table-header {
    padding: 0 20px;
    line-height: 48px;
    background-color: #fafafa;
  }

  .icon-wrapper {
    display: inline-block;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    line-height: 24px;
    margin: 0 6px;
    &.icon-cpu {
      background-color: $cpu-color;
    }
    &.icon-memory {
      background-color: $memory-color;
    }
    aui-icon {
      color: #fff;
      margin: 5px;
    }
  }

  .meter-time {
    margin-left: 5px;
  }

  .meter-item {
    min-width: 160px;
    margin-right: 10px;
    span {
      margin-left: 5px;
    }
  }

  .color-cpu {
    color: $cpu-color;
    font-size: 16px;
  }

  .color-memory {
    color: $memory-color;
    font-size: 16px;
  }
}
