<div class="alarm-dashboard">
  <alu-prometheus-list
    *ngIf="metricDocked; else noInstalled"
  ></alu-prometheus-list>

  <ng-template #noInstalled>
    <div *ngIf="!loading" class="not-intsalled">
      <img src="images/not-installed.svg" />
      <div class="title">
        {{ 'cluster_no_alarm_title' | translate }}
      </div>
      <div class="content">
        {{ 'cluster_no_alarm' | translate }}
      </div>
    </div>
  </ng-template>
</div>
