@import 'var';

:host {
  flex: 1;
}

.functions {
  width: 30%;
  border-right: 1px solid #e5e5e5;
  text-align: left;
  height: 32px;
  font-weight: 400;
}
.verbs {
  text-align: center;
  height: 32px;
  font-weight: 400;
}

.alu-array-form-table {
  flex: 1;
  width: 100%;
  border-spacing: 0;
  background: #fafafa;
  border-collapse: collapse;

  alu-no-data {
    .no-data {
      border-bottom: none;
      background: #fafafa;
      padding: 0;
      height: 32px;
      color: $color-text-help;
    }
  }

  th,
  td {
    vertical-align: middle;
    padding: 4px;
    line-height: 24px;
    &:first-child {
      padding-left: 8px;
    }
  }

  thead {
    background: #f0f0f0;
  }

  tr:not(:last-child) {
    border-bottom: 1px solid #ededed;
  }
}

aui-icon {
  cursor: pointer;
}
