<table class="alu-array-form-table" [formGroup]="form">
  <thead>
    <tr>
      <th class="functions">
        {{ 'function' | translate }}
      </th>
      <th *ngFor="let verb of verbs" class="verbs">
        {{ verb | translate }}
        <aui-icon
          icon="basic:setting"
          [auiDropdown]="menu"
          [auiDropdownContext]="{ verb: verb }"
        ></aui-icon>
      </th>
      <th class="verbs"></th>
    </tr>
  </thead>

  <ng-container *ngFor="let control of functions.controls">
    <tr
      aluVerbsItem
      [formControl]="control"
      [moduleName]="moduleName"
      [translation]="translation"
      [custom]="custom"
      (remove)="remove($event)"
    ></tr>
  </ng-container>
</table>

<aui-menu #menu>
  <ng-template auiMenuContent let-verb="verb">
    <aui-menu-item (click)="verbAction(verb, true)">
      {{ 'select_all' | translate }}
    </aui-menu-item>
    <aui-menu-item (click)="verbAction(verb, false)">
      {{ 'cancel_all' | translate }}
    </aui-menu-item>
  </ng-template>
</aui-menu>
