@import 'var';

.cluster-select ::ng-deep .aui-option {
  height: auto;
  line-height: 28px;
}

.cluster-select-option {
  display: inline-block;
  align-items: center;
  vertical-align: top;
  line-height: 20px;
  padding: 4px 0;
  &__desc {
    color: $color-text-help;
    line-height: 16px;
    span {
      &:after {
        content: ',';
      }
      &:last-of-type:after {
        content: '';
      }
    }
  }
}

:host ::ng-deep .aui-form-item__container {
  overflow: hidden;
}
