<aui-dialog-header>
  {{ 'add_member' | translate }}
</aui-dialog-header>

<aui-dialog-content>
  <aui-inline-alert>
    <div>{{ 'cluster_fed_create_tip' | translate }}</div>
  </aui-inline-alert>
  <form
    #form="ngForm"
    auiForm
    auiFormLabelPosition="right"
    auiFormLabelWidth="114px"
  >
    <aui-form-item>
      <label auiFormItemLabel>
        {{ 'clusterfed' | translate }}
      </label>
      <span>{{ modalData.clusterFed | aclName }}</span>
    </aui-form-item>
    <aui-form-item>
      <label auiFormItemLabel>
        {{ 'cluster' | translate }}
      </label>
      <aui-multi-select
        auiFormItemControl
        required
        name="members"
        [(ngModel)]="members"
        clearable
        filterable
      >
        <aui-option
          class="cluster-select"
          *ngFor="let cluster of clusters"
          [value]="cluster"
          [label]="cluster | aclUnionDisplayName"
          [disabled]="getClusterStatus(cluster) !== 'normal'"
        >
          <div class="cluster-select-option">
            {{ cluster | aclUnionDisplayName }}
            <aui-icon
              *ngIf="getClusterStatus(cluster) !== 'normal'"
              color="#e54545"
              icon="exclamation_triangle_s"
              [auiTooltip]="'cluster_abnormal' | translate"
            ></aui-icon>
            <div
              *ngIf="cluster.capacity; else noQuota"
              class="cluster-select-option__desc"
            >
              {{ 'allocatable' | translate }}
              <span *ngIf="cluster.allocatable['requests.cpu']">
                CPU {{ cluster.allocatable['requests.cpu'] | pure: toUnitNum
                }}{{ 'unit_core' | translate }}
              </span>
              <span *ngIf="cluster.allocatable['requests.memory']">
                {{ 'memory' | translate }}
                {{ cluster.allocatable['requests.memory'] | pure: toUnitGi
                }}{{ 'unit_Gi' | translate }}
              </span>
              <span *ngIf="cluster.allocatable['requests.storage']">
                {{ 'storage' | translate }}
                {{ cluster.allocatable['requests.storage'] | pure: toUnitGi
                }}{{ 'unit_Gi' | translate }}
              </span>
            </div>
          </div>
        </aui-option>
        <aui-option-placeholder>
          {{ 'no_data' | translate }}
        </aui-option-placeholder>
      </aui-multi-select>
    </aui-form-item>
  </form>
</aui-dialog-content>

<aui-dialog-footer>
  <button aui-button="primary" [loading]="submitting" (click)="confirm()">
    {{ 'add' | translate }}
  </button>
  <button aui-button (click)="cancel()">
    {{ 'cancel' | translate }}
  </button>
</aui-dialog-footer>

<ng-template #noQuota>
  <div class="cluster-select-option__desc">
    {{ 'cannot_get_data' | translate }}
  </div>
</ng-template>
