@import 'var';

.confirm-delete {
  &__tips {
    margin-bottom: 16px;
    color: $color-text-main;
    word-break: break-all;
  }

  &__extra-confirm-tips {
    margin-top: 4px;
    font-size: $font-size-small;
    color: $color-text-help;
  }

  &__label {
    margin-bottom: 12px;
    word-break: break-all;
    color: $color-text-main;

    .name {
      color: #e54545;
      padding: 0 4px;
    }
  }
}
