<form (ngSubmit)="onConfirm()">
  <aui-dialog-header>
    <aui-icon
      icon="exclamation_triangle_s"
      size="22"
      color="#eb6262"
    ></aui-icon>
    {{ title }}
  </aui-dialog-header>
  <aui-dialog-content>
    <p class="confirm-delete__tips">
      {{ deleteTips }}
    </p>
    <ng-container *ngIf="contentTemplate">
      <ng-container *ngTemplateOutlet="contentTemplate"></ng-container>
    </ng-container>
    <div class="confirm-delete__label">
      <ng-container *ngIf="labelTemplate">
        <ng-container *ngTemplateOutlet="labelTemplate"></ng-container>
      </ng-container>
      <ng-container *ngIf="!labelTemplate">
        <ng-container *ngIf="confirmTips">
          {{ confirmTips }}
        </ng-container>
        <ng-container *ngIf="!confirmTips">
          {{ 'please_enter' | translate }}
          <span class="name">{{ resourceName }}</span>
          {{
            (type === deleteType.UNINSTALL
              ? 'determine_uninstall'
              : 'determine_delete'
            ) | translate
          }}
        </ng-container>
      </ng-container>
    </div>
    <input
      auiFormItemControl
      aui-input
      name="resource-name"
      [(ngModel)]="inputValue"
      (ngModelChange)="inputValue$$.next($event)"
    />
    <div *ngIf="extraConfirmTips" class="confirm-delete__extra-confirm-tips">
      {{ extraConfirmTips }}
    </div>
  </aui-dialog-content>
  <aui-dialog-footer>
    <button
      aui-button="danger"
      [loading]="deleting$$ | async"
      [disabled]="disabled$ | async"
    >
      {{
        confirmText || (type === deleteType.UNINSTALL ? 'uninstall' : 'delete')
          | translate
      }}
    </button>
    <button aui-button type="button" (click)="closeDialog()">
      {{ 'cancel' | translate }}
    </button>
  </aui-dialog-footer>
</form>
