<form
  *ngIf="formGroup"
  auiForm
  #ngForm="ngForm"
  [formGroup]="formGroup"
  auiFormLabelWidth="118px"
  [auiFormEmptyAddon]="true"
  novalidate
>
  <div class="form-section">
    <div class="form-section__header">
      {{ 'cluster_config' | translate }}
    </div>
    <aui-form-item>
      <label auiFormItemLabel>{{ 'cluster' | translate }}</label>
      <aui-select
        auiFormItemControl
        formControlName="cluster"
        (valueChange)="selectCluster($event)"
        required
      >
        <aui-option *ngFor="let option of clusters$ | async" [value]="option">
          {{ option }}
        </aui-option>
      </aui-select>
      <alu-error-mapper
        auiFormItemError
        [errors]="formGroup.get('cluster').errors"
        [errorsMapper]="{
          required:
            'field_is_required' | translate: { field: 'cluster' | translate }
        }"
      ></alu-error-mapper>
    </aui-form-item>
    <aui-form-item>
      <label auiFormItemLabel>{{ 'K8s Master' }}</label>
      <aui-select auiFormItemControl formControlName="k8sMaster" required>
        <aui-option
          *ngFor="let node of nodes"
          [value]="node.internalip"
          [label]="node.hostname"
        >
          {{ node.hostname }}
        </aui-option>
      </aui-select>
      <alu-error-mapper
        auiFormItemError
        [errors]="formGroup.get('k8sMaster').errors"
        [errorsMapper]="{
          required: 'field_is_required' | translate: { field: 'K8s Master' }
        }"
      ></alu-error-mapper>
    </aui-form-item>
  </div>
  <div class="form-section">
    <div class="form-section__header">
      {{ 'default_ssh_config' | translate }}
    </div>
    <aui-form-item>
      <label auiFormItemLabel>{{ 'username' | translate }}</label>
      <input auiFormItemControl formControlName="username" aui-input required />
      <alu-error-mapper
        auiFormItemError
        [errors]="formGroup.get('username').errors"
        [errorsMapper]="{
          required:
            'field_is_required' | translate: { field: 'username' | translate }
        }"
      ></alu-error-mapper>
    </aui-form-item>
    <aui-form-item>
      <label auiFormItemLabel>{{ 'password' | translate }}</label>
      <input
        auiFormItemControl
        formControlName="password"
        type="password"
        aui-input
        required
      />
      <alu-error-mapper
        auiFormItemError
        [errors]="formGroup.get('password').errors"
        [errorsMapper]="{
          required:
            'field_is_required' | translate: { field: 'password' | translate }
        }"
      ></alu-error-mapper>
    </aui-form-item>
    <aui-form-item>
      <label auiFormItemLabel>{{ 'port' | translate }}</label>
      <input auiFormItemControl formControlName="port" aui-input required />
      <alu-error-mapper
        auiFormItemError
        [errors]="formGroup.get('port').errors"
        [errorsMapper]="{
          required:
            'field_is_required' | translate: { field: 'port' | translate },
          pattern: portPattern.tip | translate
        }"
      ></alu-error-mapper>
    </aui-form-item>
  </div>

  <div class="form-section">
    <div class="form-section__header">
      {{ 'host_config' | translate }}
    </div>
    <aui-form-item>
      <label auiFormItemLabel>{{ 'host' | translate }}</label>
      <alu-hosts-field
        auiFormItemControl
        required
        [options]="nodes"
        formControlName="hosts"
      ></alu-hosts-field>
    </aui-form-item>
  </div>
</form>
