@import 'var';

.node-select {
  width: 100%;
}

.node-select-option ::ng-deep .aui-option {
  height: auto;
  line-height: 28px;
}

.cluster-select-option {
  display: inline-block;
  align-items: center;
  vertical-align: top;
  line-height: 20px;
  padding: 4px 0;
  &__title {
    color: #4d88f7;
    font-size: 18px;
    padding: 4px 0;
  }
  &__desc {
    color: $color-text-help;
    line-height: 16px;
    span {
      &:after {
        content: ',';
      }
      &:last-of-type:after {
        content: '';
      }
    }
  }
}

.table-form {
  margin-left: 125px;
  margin-bottom: 20px;
  .header-cell-required {
    color: red;
  }
}

:host {
  ::ng-deep {
    .aui-table__header-row {
      height: 42px;
      padding: 0;
      background-color: #f0f0f0;
      border-color: #eee;
      border-style: solid;
      border-width: 1px 0;
    }

    .aui-table__row {
      padding: 12px 0;
      border-style: solid;
      border-color: #eee;
      background: #fafafa;
      position: relative;
      border-width: 0 0 1px;
    }
  }
}

.regionNode ::ng-deep .border-primary .bordered > .card-section {
  &__title {
    border-left: 4px solid $color-primary;
  }
}
