<div [formGroup]="form" class="regionNode">
  <alu-card-section
    [title]="'tsf_node_selection' | translate"
    class="border-primary"
  >
    <div formArrayName="regionNode">
      <div
        *ngFor="let group of form.get('regionNode')?.controls; let i = index"
        [formGroupName]="i"
      >
        <aui-form-item>
          <label auiFormItemLabel>
            {{ 'tsf_business_node' | translate }}
            {{ i + 1 }}
          </label>
          <ng-container auiFormItemControl required>
            <aui-select
              formControlName="node"
              class="node-select"
              [disabled]="disabled"
              (valueChange)="nodeChange(i)"
            >
              <aui-option
                class="node-select-option"
                *ngFor="let node of nodes"
                [value]="node"
                [label]="node.label"
              >
                <div class="cluster-select-option">
                  <div class="cluster-select-option__title">
                    {{ node.metadata.name }}
                  </div>
                  <div class="cluster-select-option__desc">
                    {{
                      'tsf_node_select_options'
                        | translate
                          : {
                              type: getType(node),
                              nodeIP: getNodeIP(node),
                              nodeCPU: node.status.capacity.cpu,
                              nodeMemory: getMemoryNum(
                                node.status.capacity.memory
                              )
                            }
                    }}
                  </div>
                </div>
              </aui-option>
            </aui-select>
          </ng-container>
          <alu-error-mapper
            auiFormItemError
            [errors]="group.get('node').errors"
            [errorsMapper]="{
              businessRepeat: 'tsf_selected_error_business_repeat' | translate,
              operationalRepeat:
                'tsf_selected_error_operational_repeat' | translate,
              required: 'required' | translate,
              businessResources: 'tsf_selected_error_resources' | translate
            }"
          ></alu-error-mapper>
          <div auiFormItemHint>
            {{ 'tsf_business_node_hint' | translate }}
          </div>
        </aui-form-item>
        <div class="table-form">
          <aui-table [dataSource]="[1]">
            <ng-container auiTableColumnDef="sshPort">
              <aui-table-header-cell *auiTableHeaderCellDef>
                <span class="header-cell-required">*</span>
                {{ 'tsf_ssh_port' | translate }}
              </aui-table-header-cell>
              <aui-table-cell *auiTableCellDef>
                <input
                  required
                  aui-input
                  type="number"
                  formControlName="sshPort"
                  [disabled]="
                    disabled ||
                    !group.get('node').value ||
                    group.get('node').errors
                  "
                />
              </aui-table-cell>
            </ng-container>
            <ng-container auiTableColumnDef="userName">
              <aui-table-header-cell *auiTableHeaderCellDef>
                <span class="header-cell-required">*</span>
                {{ 'username' | translate }}
              </aui-table-header-cell>
              <aui-table-cell *auiTableCellDef>
                <input
                  required
                  aui-input
                  formControlName="userName"
                  [disabled]="
                    disabled ||
                    !group.get('node').value ||
                    group.get('node').errors
                  "
                />
              </aui-table-cell>
            </ng-container>
            <ng-container auiTableColumnDef="password">
              <aui-table-header-cell *auiTableHeaderCellDef>
                <span class="header-cell-required">*</span>
                {{ 'password' | translate }}
              </aui-table-header-cell>
              <aui-table-cell *auiTableCellDef>
                <input
                  required
                  aui-input
                  type="password"
                  formControlName="password"
                  [disabled]="
                    disabled ||
                    !group.get('node').value ||
                    group.get('node').errors
                  "
                />
              </aui-table-cell>
            </ng-container>
            <aui-table-header-row
              *auiTableHeaderRowDef="columns"
            ></aui-table-header-row>
            <aui-table-row
              *auiTableRowDef="let row; columns: columns"
            ></aui-table-row>
          </aui-table>
        </div>
      </div>
    </div>
  </alu-card-section>
  <alu-card-section [title]="'args_config' | translate" class="border-primary">
    <ng-container formGroupName="registry">
      <aui-form-item>
        <label auiFormItemLabel>{{ 'tsf_image_repo_type' | translate }}</label>
        <input
          required
          aui-input
          auiFormItemControl
          formControlName="type"
          [disabled]="disabled"
        />
        <ng-container auiFormItemHint>
          {{ 'tsf_image_repo_type_hint' | translate }}:
          {{ imageRepoType }}
          <button
            aui-button="text"
            type="button"
            (click)="setRegistryType()"
            [disabled]="disabled"
          >
            <aui-icon icon="basic:write_file"></aui-icon>
          </button>
        </ng-container>
      </aui-form-item>
      <aui-form-item>
        <label auiFormItemLabel>{{ 'image_repo_address' | translate }}</label>
        <input
          required
          aui-input
          auiFormItemControl
          [disabled]="disabled"
          formControlName="addr"
          [placeholder]="'tsf_image_repo_address_placeholder' | translate"
        />
      </aui-form-item>
      <aui-form-item>
        <label auiFormItemLabel>
          {{ 'tsf_image_repo_account' | translate }}
        </label>
        <input
          required
          aui-input
          auiFormItemControl
          formControlName="account"
          [disabled]="disabled"
        />
        <ng-container auiFormItemHint>
          {{ 'tsf_image_repo_account_hint' | translate }}:
          {{ imageRepoAccount }}
          <button
            aui-button="text"
            type="button"
            (click)="setRegistryAccount()"
            [disabled]="disabled"
          >
            <aui-icon icon="basic:write_file"></aui-icon>
          </button>
        </ng-container>
      </aui-form-item>
      <aui-form-item>
        <label auiFormItemLabel>{{ 'tsf_image_repo_auth' | translate }}</label>
        <input
          required
          aui-input
          auiFormItemControl
          [disabled]="disabled"
          formControlName="auth"
          [placeholder]="'tsf_image_repo_auth_placeholder' | translate"
        />
      </aui-form-item>
    </ng-container>
    <ng-container formGroupName="mysql">
      <aui-form-item>
        <label auiFormItemLabel>{{ 'tsf_mysql_password' | translate }}</label>
        <input
          required
          aui-input
          auiFormItemControl
          [disabled]="disabled"
          formControlName="password"
          [placeholder]="'tsf_mysql_password_placeholder' | translate"
        />
      </aui-form-item>
    </ng-container>
    <aui-form-item>
      <label auiFormItemLabel>{{ 'tsf_redis_password' | translate }}</label>
      <input
        required
        aui-input
        auiFormItemControl
        [disabled]="disabled"
        formControlName="redisPassword"
        [placeholder]="'tsf_redis_password_placeholder' | translate"
      />
    </aui-form-item>
  </alu-card-section>
</div>
