.container {
  display: flex;
  align-items: center;
}

.line {
  position: relative;
  max-width: 200px;
  height: 8px;
  background-color: #ecebeb;
  flex: 1;

  > div {
    height: 100%;
  }

  + span {
    margin-left: 10px;
  }
}
