<ng-container *ngIf="ratio === -1">
  {{ 'unlimited' | translate }}
</ng-container>
<ng-container *ngIf="isNaN(ratio)">
  {{ '' | aclFieldNotAvailable }}
</ng-container>
<ng-container *ngIf="ratio >= 0">
  <div class="container">
    <div class="line">
      <div
        [ngStyle]="{ backgroundColor: color, width: width * 100 + '%' }"
      ></div>
    </div>
    <span [ngStyle]="{ color: ratio > 0.9 && color }">
      {{ (ratio * 100).toFixed(2) }}%
    </span>
  </div>
</ng-container>
