<ng-container *aluPageHeaderContent>
  <aui-breadcrumb>
    <aui-breadcrumb-item>
      <span>{{ 'notification' | translate }}</span>
    </aui-breadcrumb-item>
    <aui-breadcrumb-item>
      <a routerLink="/maintenance-center/notification_server">
        {{ 'notification_server' | translate }}
      </a>
    </aui-breadcrumb-item>
    <aui-breadcrumb-item>
      <span>
        {{ (update ? 'update' : 'create') | translate }}
      </span>
    </aui-breadcrumb-item>
  </aui-breadcrumb>
</ng-container>
<form #ngForm="ngForm" auiForm auiFormLabelWidth="114px" [formGroup]="form">
  <aui-card>
    <div *ngIf="!update" auiCardHeader>
      {{ 'create_notification_server' | translate }}
    </div>
    <div *ngIf="update" auiCardHeader>
      {{ 'update_notification_server' | translate }}
    </div>
    <div class="alu-secondary-title">{{ 'basic_info' | translate }}</div>
    <ng-container formGroupName="metadata">
      <aui-form-item>
        <label auiFormItemLabel>{{ 'name' | translate }}</label>
        <ng-container required auiFormItemControl>
          <input
            [hidden]="update"
            aui-input
            formControlName="name"
            maxlength="63"
            [placeholder]="K8S_RESOURCE_NAME_BASE.tip | translate"
          />
          <span [hidden]="!update">{{ form.get('metadata.name').value }}</span>
        </ng-container>
        <alu-error-mapper
          auiFormItemError
          [errors]="form.get('metadata.name').errors"
          [errorsMapper]="{
            required:
              'field_is_required' | translate: { field: 'name' | translate },
            pattern: K8S_RESOURCE_NAME_BASE.tip | translate
          }"
        ></alu-error-mapper>
      </aui-form-item>
      <ng-container formGroupName="annotations">
        <aui-form-item>
          <label auiFormItemLabel>{{ 'display_name' | translate }}</label>
          <ng-container required auiFormItemControl>
            <input
              aui-input
              [formControlName]="displayName"
              maxlength="63"
              [placeholder]="'input_display_name' | translate"
            />
          </ng-container>
          <alu-error-mapper
            *ngIf="displayName"
            auiFormItemError
            [errors]="form.get(['metadata', 'annotations', displayName]).errors"
            [errorsMapper]="{
              required:
                'field_is_required'
                | translate: { field: 'display_name' | translate }
            }"
          ></alu-error-mapper>
        </aui-form-item>
        <aui-form-item>
          <label auiFormItemLabel>{{ 'description' | translate }}</label>
          <textarea
            aui-input
            [formControlName]="description"
            [placeholder]="'input_description' | translate"
            [autosize]="{ minRows: 1 }"
          ></textarea>
        </aui-form-item>
      </ng-container>
    </ng-container>
    <div class="alu-secondary-title">{{ 'server_setting' | translate }}</div>
    <alu-notification-email-setting-form
      formControlName="spec"
    ></alu-notification-email-setting-form>
  </aui-card>
</form>

<div class="form__footer">
  <div style="flex: 1;"></div>
  <button
    type="button"
    aui-button="primary"
    [loading]="submitting"
    [disabled]="submitting"
    (click)="confirm(ngForm)"
  >
    <span *ngIf="update">{{ 'update' | translate }}</span>
    <span *ngIf="!update">{{ 'create' | translate }}</span>
  </button>
  <button type="button" aui-button [disabled]="submitting" (click)="cancel()">
    {{ 'cancel' | translate }}
  </button>
</div>
