.logo {
  width: 32px;
  height: 32px;
  margin-right: 8px;
}

.title {
  height: 24px;
  margin-bottom: 2px;
}

.desc {
  line-height: 16px;
  margin: 0 40px 0 0;
  font-size: 12px;
  color: #999;
}

.section {
  position: relative;
  margin-top: 16px;
  padding-bottom: 16px;

  &-title {
    line-height: 20px;
    margin-bottom: 16px;
    font-size: 16px;
    font-weight: 500;
    color: #333;
  }

  &:after {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    border: 1px dashed #ededed;
    height: 0;
    content: '';
  }

  &:last-child {
    padding-bottom: 0;

    &:after {
      border: none;
    }
  }
}
