<aui-card>
  <div auiCardHeader>
    <div fxLayoutAlign="start center">
      <img class="logo" [src]="data.crd | pure: getLogo" alt="redis" />
      <div>
        <span class="title">{{ data.crd | pure: getProductName }}</span>
        <p class="desc" auiTooltipPosition="top start">
          {{ data.crd | pure: getBrief }}
        </p>
      </div>
    </div>
    <div fxFlex></div>
    <button aui-button="primary" plain="true" [auiDropdown]="menu">
      {{ 'action' | translate }}
      <aui-icon icon="angle_down" margin="left"></aui-icon>
    </button>
    <aui-menu #menu>
      <ng-template auiMenuContent>
        <acl-disabled-container
          [isAllowed]="(permissions$ | async).update"
          [isDisabled]="(data | pure: handleUpgradeable)?.disabled"
          [tooltip]="(data | pure: handleUpgradeable)?.tooltip | translate"
        >
          <aui-menu-item (click)="upgrade()">
            {{ 'upgrade' | translate }}
          </aui-menu-item>
        </acl-disabled-container>
        <acl-disabled-container
          [isAllowed]="(permissions$ | async).delete"
          [isDisabled]="!(data.cr | pure: isDeletable)"
          [tooltip]="'deletion_not_supported_in_current_state' | translate"
        >
          <aui-menu-item (click)="uninstall(uninstallingTemplate)">
            {{ 'uninstall' | translate }}
          </aui-menu-item>
        </acl-disabled-container>
      </ng-template>
    </aui-menu>
  </div>

  <section class="section">
    <div class="section-title">{{ 'basic_info' | translate }}</div>
    <alu-field-set-group>
      <alu-field-set-item>
        <label>{{ 'deployment_status' | translate }}</label>
        <span *ngIf="data.cr | pure: mapDeployStatus as status">
          <alu-status-icon [status]="status['icon']"></alu-status-icon>
          {{ status['text'] | translate }}
          <a
            *ngIf="status.type !== 'DeleteFailure'; else FailedTemplate"
            (click)="viewProcessLog()"
            style="cursor: pointer;"
          >
            <aui-icon icon="basic:details" margin="left"></aui-icon>
          </a>
          <ng-template #FailedTemplate>
            <a (click)="viewFailedLog()" style="cursor: pointer;">
              <aui-icon icon="basic:log" margin="left"></aui-icon>
            </a>
          </ng-template>
        </span>
      </alu-field-set-item>
      <alu-field-set-item>
        <label>{{ 'product_entrance' | translate }}</label>
        <span>
          <a
            *ngIf="
              data.cr?.status?.productEntrypoint as entrance;
              else noEntrance
            "
            [href]="entrance"
            target="_blank"
          >
            {{ 'redis_platform' | translate }}
            <aui-icon icon="basic:jump"></aui-icon>
          </a>
          <ng-template #noEntrance>-</ng-template>
        </span>
      </alu-field-set-item>
      <alu-field-set-item>
        <label>{{ 'operating_status' | translate }}</label>
        <alu-status-icon
          [status]="(data.cr | pure: geOperatingStatus)?.icon"
        ></alu-status-icon>
        <span>
          {{
            (data.cr | pure: geOperatingStatus)?.text
              | translate
              | aclFieldNotAvailable
          }}
        </span>
      </alu-field-set-item>
      <alu-field-set-item>
        <label>{{ 'product_version' | translate }}</label>
        <span>
          {{ data | pure: getVersion | aclFieldNotAvailable }}
        </span>
      </alu-field-set-item>
      <alu-field-set-item>
        <label>{{ 'product_type' | translate }}</label>
        <span>{{ data.crd | pure: getProductType | translate }}</span>
      </alu-field-set-item>
      <alu-field-set-item>
        <label>{{ 'deployment_mode' | translate }}</label>
        <span>
          {{ data.cr | pure: getDeploymentMode }}
        </span>
      </alu-field-set-item>
      <alu-field-set-item>
        <label>{{ 'deploy_time' | translate }}</label>
        <span>
          {{ data.cr | aclCreationTimestamp | aclStandardTime }}
        </span>
      </alu-field-set-item>
    </alu-field-set-group>
  </section>

  <section class="section">
    <div class="section-title">{{ 'config' | translate }}</div>
    <alu-field-set-group>
      <alu-field-set-item>
        <label>{{ 'control_db_host' | translate }}</label>
        <span>{{ data.cr | pure: getDbHost | aclFieldNotAvailable }}</span>
      </alu-field-set-item>
      <alu-field-set-item>
        <label>LVS_VIP</label>
        <span>
          {{ data.cr | pure: getLvsVip | aclFieldNotAvailable }}
        </span>
      </alu-field-set-item>
      <alu-field-set-item>
        <label>{{ 'control_db_port' | translate }}</label>
        <span>{{ data.cr | pure: getDbPort | aclFieldNotAvailable }}</span>
      </alu-field-set-item>
      <alu-field-set-item>
        <label>{{ 'lvs_network_interface_card' | translate }}</label>
        <span>
          {{ data.cr | pure: getLvsNetworkInterface | aclFieldNotAvailable }}
        </span>
      </alu-field-set-item>
      <alu-field-set-item>
        <label>{{ 'control_db_user' | translate }}</label>
        <span>{{ data.cr | pure: getDbUser | aclFieldNotAvailable }}</span>
      </alu-field-set-item>
    </alu-field-set-group>
  </section>
</aui-card>

<ng-template #uninstallingTemplate>
  <alu-confirm-delete
    [context]="context"
    [title]="'uninstall_product' | translate"
    [resourceName]="
      data.crd | aclDisplayName | aluParseJson | translate: {}:true
    "
    [type]="type.UNINSTALL"
    [deleteTips]="
      'delete_product_content'
        | translate
          : {
              name:
                data.crd | aclDisplayName | aluParseJson | translate: {}:true
            }
    "
    [deleteResourceApi]="deleteResourceApi"
    [deleteSuccessMsg]="
      'product_uninstall_successed'
        | translate
          : {
              name:
                data.crd | aclDisplayName | aluParseJson | translate: {}:true
            }
    "
    [deleteFailMsg]="
      'product_uninstall_failed'
        | translate
          : {
              name:
                data.crd | aclDisplayName | aluParseJson | translate: {}:true
            }
    "
    (close)="closeDialog()"
  ></alu-confirm-delete>
</ng-template>
