@import 'var';

:host {
  ::ng-deep {
    .aui-accordion-item__content-body {
      padding-left: 16px;
    }
  }
}
.container {
  display: flex;
  position: relative;
  height: calc(100vh - 300px);
  .links {
    width: 200px;
    max-width: 200px;
    overflow-y: auto;
    .toc-links {
      margin: 0;
      padding: 0;
      list-style: none;
      &__custom {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
      li > a {
        display: block;
        line-height: 32px;
        &.isActive {
          font-weight: 700;
        }
      }
    }
  }

  .toc-container {
    display: block;
    padding: 0 20px;
    border-left: 1px solid #e5e5e5;
    flex: 1;
    overflow: auto;
  }
}
