<form auiForm [formGroup]="form">
  <div class="container">
    <div class="links">
      <ul class="toc-links">
        <li *ngFor="let rule of form.get('rules').value || []">
          <a
            href="javascript:void(0)"
            [auiTocLink]="rule.module | pure: hashStr"
            [for]="toc"
          >
            {{
              translation[rule.module]
                ? (translation[rule.module] | translate)
                : rule.module
            }}
          </a>
        </li>
        <li *ngFor="let rule of form.get('customRules').value || []">
          <a
            class="toc-links__custom"
            href="javascript:void(0)"
            [auiTocLink]="rule.module | pure: hashStr"
            [for]="toc"
            [title]="rule.module"
          >
            {{ rule.module }}
          </a>
        </li>
      </ul>
    </div>
    <div class="toc-container" auiTocContainer #toc="auiTocContainer">
      <aui-accordion [multi]="true">
        <div
          *ngFor="let control of rules.controls"
          class="toc-form-group"
          [auiTocContent]="control.value['module'] | pure: hashStr"
        >
          <aui-accordion-item [expanded]="true">
            <div auiAccordionItemHeader>
              {{
                translation[control.value['module']]
                  ? (translation[control.value['module']] | translate)
                  : control.value['module']
              }}
            </div>
            <div class="form-group-content">
              <alu-verbs-form
                [moduleName]="control.value['module']"
                [formControl]="control"
                [translation]="translation"
              ></alu-verbs-form>
            </div>
          </aui-accordion-item>
        </div>
        <div
          *ngFor="let _control of customRules.controls"
          class="toc-form-group"
          [auiTocContent]="_control.value['module'] | pure: hashStr"
        >
          <aui-accordion-item [expanded]="true">
            <div auiAccordionItemHeader>{{ _control.value['module'] }}</div>
            <div class="form-group-content">
              <alu-verbs-form
                [formControl]="_control"
                [custom]="true"
                (removeResource)="removeCustomResourceChange.next($event)"
              ></alu-verbs-form>
            </div>
          </aui-accordion-item>
        </div>
      </aui-accordion>
    </div>
  </div>
</form>
