<aui-table [dataSource]="namespaces">
  <ng-container auiTableColumnDef="name">
    <aui-table-header-cell *auiTableHeaderCellDef>
      {{ 'name' | translate }}
    </aui-table-header-cell>
    <aui-table-cell *auiTableCellDef="let item">
      <div class="table-cell__name">
        <a [routerLink]="['../detail', cluster?.name, item | aclName]">
          {{ item | aclName }}
        </a>
        <aui-tag
          *ngIf="item | pure: isTerminating"
          [solid]="true"
          size="mini"
          type="error"
        >
          {{ 'deleting' | translate }}
        </aui-tag>
      </div>
      <span *ngIf="item | aclDisplayName" class="namespace-table__display-name">
        {{ item | aclDisplayName }}
      </span>
    </aui-table-cell>
  </ng-container>
  <ng-container auiTableColumnDef="status">
    <aui-table-header-cell *auiTableHeaderCellDef>
      {{ 'status' | translate }}
    </aui-table-header-cell>
    <aui-table-cell *auiTableCellDef="let item">
      <alu-status-icon
        [status]="item | aluStatus: false:'status'"
      ></alu-status-icon>
      {{ item | aluStatus: false | translate }}
    </aui-table-cell>
  </ng-container>
  <ng-container auiTableColumnDef="clusterName">
    <aui-table-header-cell *auiTableHeaderCellDef>
      {{ (isFederated ? 'federated_cluster' : 'cluster') | translate }}
    </aui-table-header-cell>
    <aui-table-cell *auiTableCellDef="let item">
      <ng-container *ngIf="isFederated; else normalNamespace">
        {{ item | aclLabel: 'name':'federation' | aclFieldNotAvailable }}
        <ng-container *ngIf="item.status?.clusters as clusters">
          <ng-container *ngIf="clusters?.length">
            ({{ clusters | pure: getFedClusterNames }})
          </ng-container>
        </ng-container>
      </ng-container>
      <ng-template #normalNamespace>
        <span>{{ cluster?.name }}</span>
        <span *ngIf="cluster?.displayName">({{ cluster.displayName }})</span>
      </ng-template>
    </aui-table-cell>
  </ng-container>
  <ng-container auiTableColumnDef="creationTime">
    <aui-table-header-cell *auiTableHeaderCellDef>
      {{ 'create_time' | translate }}
    </aui-table-header-cell>
    <aui-table-cell *auiTableCellDef="let item">
      {{ item | aclCreationTimestamp | aclRelativeTime }}
    </aui-table-cell>
  </ng-container>
  <ng-container auiTableColumnDef="action">
    <aui-table-header-cell *auiTableHeaderCellDef></aui-table-header-cell>
    <aui-table-cell *auiTableCellDef="let item">
      <alu-menu-trigger [menu]="menu" size="small"></alu-menu-trigger>
      <aui-menu #menu size="small">
        <ng-container *ngIf="isFederated; else nonFedMenus">
          <acl-disabled-container [isAllowed]="canUpdate">
            <a [routerLink]="['../update', cluster?.name, item | aclName]">
              <aui-menu-item>
                {{ 'update_federated_namespace' | translate }}
              </aui-menu-item>
            </a>
          </acl-disabled-container>
        </ng-container>
        <ng-template #nonFedMenus>
          <acl-disabled-container [isAllowed]="canUpdate">
            <aui-menu-item (click)="updateResourceQuota(item)">
              {{ 'update_resource_quota' | translate }}
            </aui-menu-item>
          </acl-disabled-container>
          <acl-disabled-container [isAllowed]="canUpdate">
            <aui-menu-item (click)="updateLimitRange(item)">
              {{ 'update_container_limit_range' | translate }}
            </aui-menu-item>
          </acl-disabled-container>
        </ng-template>
      </aui-menu>
    </aui-table-cell>
  </ng-container>
  <aui-table-header-row *auiTableHeaderRowDef="columns"></aui-table-header-row>
  <aui-table-row
    *auiTableRowDef="let row; columns: columns"
    [disabled]="row | pure: isTerminating"
  ></aui-table-row>
</aui-table>
