@import 'var';

.namespace-list {
  &__actions {
    display: flex;
    margin-bottom: 16px;

    .left {
      flex: 1;
      margin-right: 12px;
      margin-bottom: -8px;

      ::ng-deep {
        .aui-button {
          margin-right: 8px;
          margin-bottom: 8px;

          + .aui-button {
            margin-left: 0;
          }

          &__content {
            max-width: 238px;
          }
        }
      }
    }

    .right {
      display: flex;
      align-items: flex-end;
    }
  }

  &__cluster-type {
    margin-right: 10px;
  }

  &__search {
    margin-right: 8px;
  }
}

.create-btn {
  display: block;
  margin: 0 -15px;
  padding: 0 15px;
  color: #fff;
}
