<ng-container *aluPageHeaderContent>
  <aui-breadcrumb>
    <aui-breadcrumb-item>
      <span>
        {{
          ((isFederated$ | async) ? 'federated_namespace' : 'namespace')
            | translate
        }}
      </span>
    </aui-breadcrumb-item>
  </aui-breadcrumb>
</ng-container>

<acl-page-guard
  [allowed]="featGuardAllowed$ | async"
  [title]="'federated_namespace_not_supported' | translate"
  [description]="'federated_cluster_not_included' | translate"
>
  <ng-container *aclPageGuardContent>
    <aui-card>
      <div auiCardHeader>
        <acl-disabled-container
          [isAllowed]="(permissions$ | async).create"
          [isDisabled]="createNamespaceDisabled$ | async"
        >
          <a
            *ngIf="isFederated$ | async"
            [routerLink]="(permissions$ | async).create ? '../create' : null"
          >
            <button aui-button="primary">
              {{ 'create_federated_namespace' | translate }}
            </button>
          </a>
          <aui-dropdown-button
            *ngIf="!(isFederated$ | async)"
            [plain]="false"
            type="primary"
          >
            <a
              [routerLink]="(permissions$ | async).create ? '../create' : null"
              class="create-btn"
            >
              {{ 'create_namespace' | translate }}
            </a>
            <aui-menu>
              <a routerLink="../import">
                <acl-disabled-container
                  [isAllowed]="namespaceImportPermission$ | async"
                >
                  <aui-menu-item>
                    {{ 'import_namespace' | translate }}
                  </aui-menu-item>
                </acl-disabled-container>
              </a>
            </aui-menu>
          </aui-dropdown-button>
        </acl-disabled-container>
      </div>

      <div
        *ngIf="(unionClusters$ | async)?.length"
        class="namespace-list__actions"
      >
        <div class="left">
          <span class="namespace-list__cluster-type">
            {{
              ((isFederated$ | async) ? 'federated_cluster' : 'cluster')
                | translate
            }}
          </span>
          <button
            *ngFor="let cluster of unionClusters$ | async"
            [aui-button]="(cluster$ | async) === cluster ? 'primary' : 'info'"
            [round]="true"
            (click)="onSearch({ cluster: cluster.fedName || cluster.name })"
          >
            {{ cluster.fedName || cluster.name }}
            <ng-container *ngIf="cluster.displayName">
              ({{ cluster.displayName }})
            </ng-container>
          </button>
        </div>
        <div class="right">
          <aui-search
            class="namespace-list__search"
            [searchButton]="true"
            [placeholder]="'search_by_name_placeholder' | translate"
            [keyword]="(params$ | async)?.keyword"
            (search)="onSearch({ keyword: $event })"
          ></aui-search>
          <button aui-button [square]="true" (click)="list.reload()">
            <aui-icon icon="basic:refresh"></aui-icon>
          </button>
        </div>
      </div>

      <alu-namespace-table
        [isFederated]="isFederated$ | async"
        [projectQuota]="projectQuota$ | async"
        [customResourceLimits]="customResourceLimits$ | async"
        [cluster]="cluster$ | async"
        [namespaces]="list.items$ | async"
        [canUpdate]="(permissions$ | async).update"
        (remove)="list.delete($event)"
      ></alu-namespace-table>
      <acl-k8s-resource-list-footer
        [list]="list"
      ></acl-k8s-resource-list-footer>
    </aui-card>
  </ng-container>
</acl-page-guard>
