:host {
  display: block;
}

.ti-log {
  display: flex;
  &__steps {
    width: 250px;
    margin-right: 16px;
    background-color: #fff;
    padding: 20px;
    &-header {
      margin-bottom: 16px;
    }
  }
  &__panel {
    background-color: #fff;
    flex: 1;
    padding: 20px;
    &-header {
      margin-bottom: 16px;
      font-weight: 500;
    }
    &-info {
      font-size: 14px;
    }
    &-content {
      margin-top: 16px;
    }
  }
}
