<div class="ti-log">
  <div class="ti-log__steps">
    <div class="ti-log__steps-header">
      {{ 'deploy_progress' | translate }}
    </div>
    <alu-steps-process
      [steps]="steps | pure: getProcessSteps"
      [currStep]="currStep"
      [layout]="'column'"
      [selectable]="true"
      [needTranslate]="false"
      (select)="stepSelect($event)"
    ></alu-steps-process>
  </div>
  <div class="ti-log__panel" *ngIf="logs$ | async as logs">
    <ng-container *ngFor="let log of logs; let i = index">
      <ng-container *ngIf="i + 1 === (selectedStep || currStep)">
        <div class="ti-log__panel-header">
          {{ log.name }}
        </div>
        <div
          class="ti-log__panel-info"
          *ngIf="log | pure: getStatus as executeStatus"
        >
          <alu-field-set-group>
            <alu-field-set-item>
              <label>{{ 'execution_status' | translate }}</label>
              <span>
                <alu-status-icon
                  [status]="executeStatus.icon"
                ></alu-status-icon>
                {{ executeStatus.text | translate }}
              </span>
            </alu-field-set-item>
          </alu-field-set-group>
          <alu-field-set-group>
            <alu-field-set-item>
              <label>{{ 'execution_message' | translate }}</label>
              <span>
                {{ executeStatus.message }}
              </span>
            </alu-field-set-item>
          </alu-field-set-group>
        </div>
        <div class="ti-log__panel-content" *ngIf="log.log.enable">
          <aui-code-editor
            [options]="{ language: 'log', readOnly: true }"
            [actionsConfig]="editorActions"
            [value]="log.content"
          ></aui-code-editor>
        </div>
      </ng-container>
    </ng-container>
  </div>
</div>
