<form #ngForm="ngForm" auiForm auiFormLabelWidth="114px" [formGroup]="form">
  <ng-container formGroupName="email">
    <aui-form-item>
      <label auiFormItemLabel>{{ 'server_address' | translate }}</label>
      <ng-container required auiFormItemControl>
        <input
          aui-input
          formControlName="host"
          [placeholder]="'input_server_address' | translate"
        />
      </ng-container>
      <alu-error-mapper
        auiFormItemError
        [errors]="form.get(['email', 'host']).errors"
        [errorsMapper]="{
          required:
            'field_is_required'
            | translate: { field: 'server_address' | translate }
        }"
      ></alu-error-mapper>
    </aui-form-item>
    <aui-form-item>
      <label auiFormItemLabel>{{ 'port' | translate }}</label>
      <ng-container required auiFormItemControl>
        <input
          aui-input
          formControlName="port"
          [placeholder]="'input_server_port' | translate"
        />
      </ng-container>
      <alu-error-mapper
        auiFormItemError
        [errors]="form.get(['email', 'port']).errors"
        [errorsMapper]="{
          required:
            'field_is_required' | translate: { field: 'port' | translate },
          pattern: portPattern.tip | translate
        }"
      ></alu-error-mapper>
    </aui-form-item>
    <aui-form-item class="checkbox">
      <aui-checkbox formControlName="ssl">
        {{ 'use_ssl' | translate }}
      </aui-checkbox>
    </aui-form-item>
    <aui-form-item class="checkbox">
      <aui-checkbox formControlName="insecureSkipVerify">
        {{ 'skip_verify' | translate }}
      </aui-checkbox>
    </aui-form-item>
  </ng-container>
</form>
