:host {
  $table-flex-common: 1 1 160px;
  $table-flex-wide: 4 1 160px;

  .aui-table {
    &__column-name {
      flex: $table-flex-wide;
    }
    &__column-deploy_status {
      flex: $table-flex-common;
    }
    &__column-operating_status {
      flex: $table-flex-common;
    }
    &__column-version {
      flex: $table-flex-common;
    }
    &__column-type {
      flex: $table-flex-common;
    }
    &__column-actions {
      flex: $table-flex-common;
    }
  }
  .disallow-access {
    cursor: default;
    opacity: 0.3;
  }
  .product-name {
    display: flex;
    .img {
      height: 32px;
      max-width: 32px;
      margin-right: 16px;
    }
    .container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      overflow: hidden;
      .brief {
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }
}
