<ng-container *aluPageHeaderContent>
  <aui-breadcrumb>
    <aui-breadcrumb-item>
      <span>{{ 'product_management' | translate }}</span>
    </aui-breadcrumb-item>
  </aui-breadcrumb>
</ng-container>

<acl-page-guard
  [allowed]="featGuardStatus$ | async"
  [reason]="reason.NotDeployed"
  [description]="'not_deployed_tke' | translate"
>
  <aui-card *aclPageGuardContent [divider]="false">
    <div auiCardHeader>
      <aui-check-tag
        [checked]="displayAllProduct"
        (click)="checkDisplayProduct(true)"
      >
        {{ 'all_products' | translate }}
      </aui-check-tag>
      <aui-check-tag
        [checked]="displayDeployedProduct"
        (click)="checkDisplayProduct(false)"
      >
        {{ 'deployed_products' | translate }}
      </aui-check-tag>
      <div fxFlex></div>
      <aui-search
        [searchButton]="false"
        placeholder="{{ 'filter_by_name_placeholder' | translate }}"
        (keywordChange)="keywordChanged($event)"
      ></aui-search>
    </div>
    <aui-table [dataSource]="displayList(list$ | async)">
      <aui-table-header-row
        *auiTableHeaderRowDef="columns"
      ></aui-table-header-row>
      <aui-table-row
        *auiTableRowDef="let row; columns: columns"
      ></aui-table-row>
      <ng-container auiTableColumnDef="name">
        <aui-table-header-cell *auiTableHeaderCellDef>
          {{ 'name' | translate }}
        </aui-table-header-cell>
        <aui-table-cell *auiTableCellDef="let item">
          <div class="product-name">
            <img class="img" [src]="item | pure: getLogo" alt="icon" />
            <div class="container">
              <ng-container
                *ngIf="item | pure: canVisitDetail; else notDeployed"
              >
                <a
                  class="table-cell__name"
                  [class.disallow-access]="item | pure: disallowAccess"
                  [routerLink]="
                    (item | pure: disallowAccess)
                      ? []
                      : [
                          '../',
                          item | pure: getKind,
                          'detail',
                          item | pure: getBase64CrdName
                        ]
                  "
                >
                  {{
                    item.crd
                      | aclDisplayName
                      | aluParseJson
                      | translate: {}:true
                  }}
                </a>
              </ng-container>
              <ng-template #notDeployed>
                <span class="table-cell__name">
                  {{
                    item.crd
                      | aclDisplayName
                      | aluParseJson
                      | translate: {}:true
                  }}
                </span>
              </ng-template>
              <div
                *ngIf="
                  item.crd
                    | aclAnnotation: 'brief'
                    | aluParseJson
                    | translate: {}:true as brief
                "
                [attr.title]="brief"
                class="table-cell__label-container table-cell__display-name brief"
              >
                {{ brief }}
              </div>
            </div>
          </div>
        </aui-table-cell>
      </ng-container>
      <ng-container auiTableColumnDef="deploy_status">
        <aui-table-header-cell *auiTableHeaderCellDef>
          {{ 'deployment_status' | translate }}
        </aui-table-header-cell>
        <aui-table-cell *auiTableCellDef="let item">
          <alu-status-icon
            [status]="(item | pure: getDeployStatus)?.icon"
          ></alu-status-icon>
          {{ (item | pure: getDeployStatus)?.text | translate }}
        </aui-table-cell>
      </ng-container>

      <ng-container auiTableColumnDef="operating_status">
        <aui-table-header-cell *auiTableHeaderCellDef>
          {{ 'operating_status' | translate }}
        </aui-table-header-cell>
        <aui-table-cell *auiTableCellDef="let item">
          <alu-status-icon
            [status]="(item | pure: geOperatingStatus)?.icon"
          ></alu-status-icon>
          {{
            (item | pure: geOperatingStatus)?.text
              | translate
              | aclFieldNotAvailable
          }}
        </aui-table-cell>
      </ng-container>

      <ng-container auiTableColumnDef="version">
        <aui-table-header-cell *auiTableHeaderCellDef>
          {{ 'product_version' | translate }}
        </aui-table-header-cell>
        <aui-table-cell *auiTableCellDef="let item">
          {{ item | pure: getVersion }}
        </aui-table-cell>
      </ng-container>
      <ng-container auiTableColumnDef="type">
        <aui-table-header-cell *auiTableHeaderCellDef>
          {{ 'product_type' | translate }}
        </aui-table-header-cell>
        <aui-table-cell *auiTableCellDef="let item">
          {{ item | pure: getProductType | translate }}
        </aui-table-cell>
      </ng-container>
      <ng-container auiTableColumnDef="action">
        <aui-table-header-cell *auiTableHeaderCellDef></aui-table-header-cell>
        <aui-table-cell *auiTableCellDef="let item">
          <alu-menu-trigger [menu]="menu" size="small"></alu-menu-trigger>
          <aui-menu #menu size="small">
            <ng-container *ngIf="item | pure: isInstallable; else elseTemplate">
              <acl-disabled-container
                [isAllowed]="(permissions$ | async).create"
              >
                <aui-menu-item (click)="deployProduct(item)">
                  {{ 'deploy' | translate }}
                </aui-menu-item>
              </acl-disabled-container>
            </ng-container>
            <ng-template #elseTemplate>
              <acl-disabled-container
                [isAllowed]="(permissions$ | async).update"
                [isDisabled]="(item | pure: handleUpgradeable)?.disabled"
                [tooltip]="
                  (item | pure: handleUpgradeable)?.tooltip | translate
                "
              >
                <aui-menu-item (click)="upgradeProduct(item)">
                  {{ 'upgrade' | translate }}
                </aui-menu-item>
              </acl-disabled-container>
              <acl-disabled-container
                [isAllowed]="(permissions$ | async).delete"
                [isDisabled]="!(item | pure: isDeletable)"
                [tooltip]="item | pure: disabledDeleteTip | translate"
              >
                <aui-menu-item (click)="deleteProduct(confirmDelete, item)">
                  {{ 'uninstall' | translate }}
                </aui-menu-item>
              </acl-disabled-container>
            </ng-template>
          </aui-menu>
        </aui-table-cell>
      </ng-container>
    </aui-table>
    <alu-no-data *ngIf="!displayList(list$ | async).length"></alu-no-data>
  </aui-card>
</acl-page-guard>

<ng-template #confirmDelete>
  <alu-confirm-delete
    [context]="context"
    [title]="'uninstall_product' | translate"
    [resourceName]="
      resource.crd | aclDisplayName | aluParseJson | translate: {}:true
    "
    [type]="type.UNINSTALL"
    [deleteTips]="
      'delete_product_content'
        | translate
          : {
              name:
                resource.crd
                | aclDisplayName
                | aluParseJson
                | translate: {}:true
            }
    "
    [deleteResourceApi]="deleteProductApi"
    [deleteSuccessMsg]="
      'product_uninstall_successed'
        | translate
          : {
              name:
                resource.crd
                | aclDisplayName
                | aluParseJson
                | translate: {}:true
            }
    "
    [deleteFailMsg]="
      'product_uninstall_failed'
        | translate
          : {
              name:
                resource.crd
                | aclDisplayName
                | aluParseJson
                | translate: {}:true
            }
    "
    (close)="closeDeleteProductDialog($event)"
  ></alu-confirm-delete>
</ng-template>
