<div class="loading-placeholder text-help" *ngIf="zeroState && !fetching">
  {{
    'zero_state_hint' | translate: { resourceName: resourceName | translate }
  }}
</div>

<alu-loading-mask [loading]="fetching"></alu-loading-mask>
