@import 'var';

.header-text {
  font-size: 18px;
  line-height: 24px;
  padding-bottom: 12px;
}

.title {
  align-self: center;
  display: flex;
  align-items: center;
  &-text {
    padding-left: 10px;
    padding-right: 70px;
    display: block;
  }
  img {
    align-self: flex-start;
  }
}

hr {
  width: 100%;
  border: dashed 1px $color-text-placeholder;
  opacity: 0.6;
  margin-bottom: 16px;
}

.description {
  white-space: normal;
  margin-top: 5px;
  font-size: $font-size-small;
  color: $color-text-help;
  line-height: normal;
}
