<aui-dialog-header>
  {{ 'log' | translate }}
</aui-dialog-header>
<aui-dialog-content>
  <aui-code-editor
    [value]="log$ | async"
    [options]="editorOptions"
    [actionsConfig]="editorActions"
    (monacoEditorChanged)="editorUpdated$$.next($event)"
  ></aui-code-editor>
</aui-dialog-content>
