@import 'var';

:host {
  .chart-container {
    height: 240px;
    margin-bottom: 16px;
    background-color: $color-white;
    .chart-title {
      padding: 10px 8px;
      border-top: $default-border;
      border-bottom: $default-border;
      background: $table-header-row-bg;
    }
    .chart {
      highcharts-chart {
        width: 100%;
        height: 188px;
        display: block;
      }
    }
  }
}
