<aui-dialog-header>
  {{ title }}
</aui-dialog-header>

<aui-dialog-content>
  <form #form="ngForm" auiForm auiFormLabelWidth="114px">
    <ng-container *ngIf="userEnabled">
      <aui-form-item *ngIf="isAdmin; else isUser">
        <label auiFormItemLabel>
          {{ 'user' | translate }}
        </label>
        <input
          auiFormItemControl
          aui-input
          #userModel="ngModel"
          name="user"
          required
          [(ngModel)]="user"
        />
        <alu-error-mapper
          auiFormItemError
          [errors]="userModel.errors"
          [errorsMapper]="{
            required: 'field_is_required' | translate: { field: 'user' }
          }"
        ></alu-error-mapper>
      </aui-form-item>
    </ng-container>
    <ng-template #isUser>
      <aui-form-item>
        <label auiFormItemLabel>
          {{ 'user' | translate }}
        </label>
        <input
          auiFormItemControl
          aui-input
          #patternModel="ngModel"
          name="user"
          required
          [pattern]="rootPattern"
          [(ngModel)]="user"
        />
        <alu-error-mapper
          auiFormItemError
          [errors]="patternModel.errors"
          [errorsMapper]="{
            required: 'field_is_required' | translate: { field: 'user' },
            pattern: 'user_does_not_have_root_permission' | translate
          }"
        ></alu-error-mapper>
      </aui-form-item>
    </ng-template>
    <aui-form-item>
      <label auiFormItemLabel>
        {{ 'exec_command' | translate }}
      </label>
      <input
        auiFormItemControl
        required
        aui-input
        #commandModel="ngModel"
        name="command"
        [(ngModel)]="command"
      />
      <alu-error-mapper
        auiFormItemError
        [errors]="commandModel.errors"
        [errorsMapper]="{
          required: 'field_is_required' | translate: { field: 'exec_command' }
        }"
      ></alu-error-mapper>
    </aui-form-item>
  </form>
</aui-dialog-content>

<aui-dialog-footer>
  <button aui-button="primary" (click)="confirm()" [loading]="loading">
    {{ 'confirm' | translate }}
  </button>
  <button aui-button (click)="cancel()">
    {{ 'cancel' | translate }}
  </button>
</aui-dialog-footer>
