@import 'var';

.confirm-delete {
  &__tips {
    margin-bottom: 16px;
    color: $color-text-main;
    word-break: break-all;
  }

  &__extra-confirm-tips {
    margin-top: 4px;
    font-size: $font-size-small;
    color: $color-text-help;
  }

  &__label {
    display: flex;
    align-items: center;
    line-height: 32px;
    word-break: break-all;
  }
}
