<form (ngSubmit)="onConfirm()">
  <aui-dialog-header>
    <aui-icon
      icon="exclamation_triangle_s"
      size="22"
      color="#eb6262"
    ></aui-icon>
    {{ 'delete_idp_title' | translate }}
  </aui-dialog-header>
  <aui-dialog-content>
    <p class="confirm-delete__tips">
      {{ 'delete_idp_content' | translate: { name: data.name } }}
    </p>
    <div class="confirm-delete__label">
      {{ 'confirm_delete_text' | translate: { name: data.name } }}
    </div>
    <input auiFormItemControl aui-input name="name" [(ngModel)]="inputValue" />
  </aui-dialog-content>
  <aui-dialog-footer>
    <aui-checkbox [(ngModel)]="deleteUser" name="check">
      {{ 'idp_delete_sync_delete_users' | translate }}
    </aui-checkbox>
    <div fxFlex></div>
    <button
      aui-button="danger"
      [loading]="submitting"
      [disabled]="inputValue != data.name"
    >
      {{ 'delete' | translate }}
    </button>
    <button aui-button type="button" (click)="cancel()">
      {{ 'cancel' | translate }}
    </button>
  </aui-dialog-footer>
</form>
