@import 'var';

.namespace-action {
  &__container ::ng-deep .aui-card {
    margin-bottom: 52px;
  }

  &__no-fed-cluster {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 180px;
    color: $color-text-help;
  }

  &__invalid-icon {
    display: none;
    color: $color-error;
  }

  &__key-value-form-item ::ng-deep .aui-form-item__addon-wrapper {
    align-self: flex-start;
  }
}

::ng-deep .ng-submitted .namespace-action {
  &__invalid-icon {
    display: inline;
  }
}

.tips {
  margin-left: 8px;
}

.card-bordered {
  border: 1px solid $card-border-color;

  alu-quota-form,
  alu-limit-range-form {
    display: block;
    padding: 0 16px;
  }

  alu-limit-range-form {
    padding-bottom: 16px;
  }
}
