<ng-container *aluPageHeaderContent>
  <aui-breadcrumb>
    <aui-breadcrumb-item>
      <a [routerLink]="params.action === 'update' ? '../../..' : '..'">
        {{ namespacePrefix$ | async | translate }}
      </a>
    </aui-breadcrumb-item>
    <aui-breadcrumb-item>
      <span>
        {{ (actionPrefix$ | async) + (namespacePrefix$ | async) | translate }}
      </span>
    </aui-breadcrumb-item>
  </aui-breadcrumb>
</ng-container>

<acl-page-state [adapter]="dataLoader">
  <ng-template let-project>
    <aui-inline-alert *ngIf="isCreate && (isFederated$ | async)">
      {{ 'federated_namespace_create_tips' | translate }}
    </aui-inline-alert>
    <aui-card class="namespace-action__container">
      <div auiCardHeader>
        {{ (actionPrefix$ | async) + (namespacePrefix$ | async) | translate }}
      </div>
      <form
        #ngForm="ngForm"
        (ngSubmit)="editNamespace()"
        auiForm
        auiFormLabelWidth="114px"
        [formGroup]="form"
      >
        <alu-card-section [title]="'basic_info' | translate">
          <alu-namespace-basic-info-form
            formControlName="basicInfo"
            [isFederated]="isFederated$ | async"
            [actionType]="params.action"
            [projectName]="projectName$ | async"
            [clusterFedNames]="clusterFedNames$ | async"
            [clusterNames]="project | pure: getProjectClusterNames | async"
            [namespacesLoading]="namespacesLoading$$ | async"
            [namespaces]="namespaces$ | async"
          ></alu-namespace-basic-info-form>
        </alu-card-section>
        <alu-card-section
          *ngIf="isFederated$ | async"
          [title]="'resource_config' | translate"
        >
          <div
            *ngIf="!(fedClusterNames$ | async)?.length; else hasFedClusters"
            class="card-bordered namespace-action__no-fed-cluster"
          >
            {{ 'no_resource_config' | translate }}
          </div>
          <ng-template #hasFedClusters>
            <aui-form-item>
              <label auiFormItemLabel>{{ 'diff_config' | translate }}</label>
              <aui-switch
                [(ngModel)]="diffConfig"
                [ngModelOptions]="{ standalone: true }"
                (ngModelChange)="onDiffConfigChange($event)"
              ></aui-switch>
              <aui-icon
                class="tips"
                icon="basic:question"
                color="#999"
                [auiTooltip]="'diff_config_tips' | translate"
              ></aui-icon>
            </aui-form-item>
            <div [hidden]="diffConfig" class="card-bordered">
              <alu-card-section
                [bordered]="false"
                [title]="'resource_quota' | translate"
              >
                <alu-quota-form
                  formControlName="resourcequota"
                  [namespace]="form.controls.basicInfo.value?.name"
                  [maxLimits]="quotaMaxLimits$ | async"
                  [limitOrDisplay]="true"
                ></alu-quota-form>
              </alu-card-section>
              <alu-card-section
                [bordered]="false"
                [title]="'container_limit_range' | translate"
              >
                <alu-limit-range-form
                  formControlName="limitrange"
                  [namespace]="form.controls.basicInfo.value?.name"
                ></alu-limit-range-form>
              </alu-card-section>
            </div>
            <aui-tab-group
              [hidden]="!diffConfig"
              type="card"
              formArrayName="resourceConfigs"
            >
              <aui-tab
                *ngFor="
                  let fedCluster of fedClusterNames$ | async;
                  trackBy: trackByKey;
                  index as i
                "
                [formGroupName]="i"
              >
                <ng-container *auiTabLabel>
                  <aui-icon
                    *ngIf="form.controls.resourceConfigs['controls'][i].invalid"
                    class="namespace-action__invalid-icon"
                    icon="basic:close_circle_s"
                  ></aui-icon>
                  {{ fedCluster }}
                </ng-container>
                <alu-card-section
                  [bordered]="false"
                  [title]="'resource_quota' | translate"
                >
                  <alu-quota-form
                    formControlName="resourcequota"
                    [namespace]="form.controls.basicInfo.value?.name"
                    [maxLimits]="(quotaMaxLimitsList$ | async)[i]"
                    [limitOrDisplay]="true"
                  ></alu-quota-form>
                </alu-card-section>
                <alu-card-section
                  [bordered]="false"
                  [title]="'container_limit_range' | translate"
                >
                  <alu-limit-range-form
                    formControlName="limitrange"
                    [namespace]="form.controls.basicInfo.value?.name"
                  ></alu-limit-range-form>
                </alu-card-section>
              </aui-tab>
            </aui-tab-group>
          </ng-template>
        </alu-card-section>
        <alu-card-section
          *ngIf="!(isFederated$ | async)"
          [title]="'resource_quota' | translate"
        >
          <alu-quota-form
            formControlName="resourcequota"
            [namespace]="form.controls.basicInfo.value?.name"
            [maxLimits]="quotaMaxLimits$ | async"
            [customResourceLimits]="customResourceLimits$ | async"
            [limitOrDisplay]="true"
          ></alu-quota-form>
        </alu-card-section>
        <alu-card-section
          *ngIf="!(isFederated$ | async)"
          [title]="'container_limit_range' | translate"
        >
          <alu-limit-range-form
            formControlName="limitrange"
            [namespace]="form.controls.basicInfo.value?.name"
          ></alu-limit-range-form>
        </alu-card-section>
        <alu-card-section
          *ngIf="!(isFederated$ | async)"
          [title]="'more_configurations' | translate"
        >
          <aui-form-item class="namespace-action__key-value-form-item">
            <label auiFormItemLabel>{{ 'label' | translate }}</label>
            <alu-key-value-form-table
              formControlName="labels"
              [resourceName]="'label' | translate"
              [readonlyKeys]="readonlyLabels"
              [validator]="labelKeyValueValidators"
              [errorMapper]="keyValueErrorMapper$ | async"
            ></alu-key-value-form-table>
          </aui-form-item>
          <aui-form-item class="namespace-action__key-value-form-item">
            <label auiFormItemLabel>{{ 'annotation' | translate }}</label>
            <alu-key-value-form-table
              formControlName="annotations"
              [resourceName]="'annotation' | translate"
              [readonlyKeys]="readonlyAnnotations"
              [validator]="annotationKeyValueValidators"
              [errorMapper]="keyValueErrorMapper$ | async"
            ></alu-key-value-form-table>
          </aui-form-item>
        </alu-card-section>
      </form>
    </aui-card>
    <footer class="form__footer">
      <button aui-button="primary" (click)="ngForm.onSubmit()">
        {{ params.action | translate }}
      </button>
      <button
        aui-button
        type="button"
        [routerLink]="params.action === 'update' ? '../../..' : '..'"
      >
        {{ 'cancel' | translate }}
      </button>
    </footer>
  </ng-template>
</acl-page-state>
