@import 'var';

aui-icon[icon='basic:question'] {
  color: #999;
  font-size: 16px;
  &:hover {
    color: $color-primary;
  }
}

.field-head {
  margin-bottom: 16px;
  aui-checkbox {
    font-weight: 500;
  }
  &__des {
    padding-left: 24px;
    font-size: 12px;
    color: #999;
  }
}

// FIXME: to be removed

.ng-submitted alu-tdsql-ip-selector,
alu-tdsql-ip-selector.ng-dirty {
  &.ng-invalid {
    ::ng-deep {
      aui-select,
      aui-multi-select {
        .aui-input {
          border-color: $color-error;
        }
      }
    }
  }
}
