<ng-container *aluPageHeaderContent>
  <aui-breadcrumb>
    <aui-breadcrumb-item>
      <span>{{ 'user_role_management' | translate }}</span>
    </aui-breadcrumb-item>
    <aui-breadcrumb-item>
      <a routerLink="/manage-platform/role">
        {{ 'role_management' | translate }}
      </a>
    </aui-breadcrumb-item>
    <ng-container *ngIf="copyName">
      <aui-breadcrumb-item>
        <a [routerLink]="['/manage-platform/role', 'detail', copyName]">
          {{ copyDisplayName }}
        </a>
      </aui-breadcrumb-item>
      <aui-breadcrumb-item>
        <span>{{ 'copy_for_new_role' | translate }}</span>
      </aui-breadcrumb-item>
    </ng-container>
    <ng-container *ngIf="!copyName && form.value.metadata">
      <aui-breadcrumb-item *ngIf="managePermission">
        <a
          [routerLink]="[
            '/manage-platform/role',
            'detail',
            form.value.metadata.name
          ]"
        >
          {{ form.value.metadata.annotations[displayNameLabel] }}
        </a>
      </aui-breadcrumb-item>
      <aui-breadcrumb-item>
        <span>
          {{ (managePermission ? 'manage_permission' : 'create') | translate }}
        </span>
      </aui-breadcrumb-item>
    </ng-container>
  </aui-breadcrumb>
</ng-container>

<form #ngForm="ngForm" auiForm auiFormLabelWidth="114px" [formGroup]="form">
  <aui-card>
    <div auiCardHeader>
      <alu-steps-process
        *ngIf="!managePermission"
        [steps]="steps"
        [currStep]="stepsEnum[curStep]"
      ></alu-steps-process>
      <span *ngIf="managePermission">
        {{ 'manage_permission' | translate }}
      </span>
    </div>
    <alu-role-basic-info-form
      *ngIf="curStep === 'BASIC'"
      formControlName="metadata"
    ></alu-role-basic-info-form>
    <alu-role-permission-setting-form
      *ngIf="curStep === 'ROLES'"
      (removeCustomResourceChange)="removeCustomResourceChange($event)"
      [translation]="translation"
      formControlName="spec"
    ></alu-role-permission-setting-form>
  </aui-card>
</form>
<footer class="form__footer">
  <button
    *ngIf="curStep === 'ROLES'"
    aui-button="primary"
    [plain]="true"
    (click)="addCustomResourceDialog()"
  >
    {{ 'add_custom_resource' | translate }}
  </button>
  <div fxFlex></div>
  <ng-container *ngIf="!managePermission">
    <button aui-button *ngIf="curStep === 'ROLES'" (click)="curStep = 'BASIC'">
      {{ 'prev_step' | translate }}
    </button>
    <button
      aui-button="primary"
      *ngIf="curStep === 'BASIC'"
      (click)="next(ngForm)"
    >
      {{ 'next_step' | translate }}
    </button>
    <button
      *ngIf="curStep === 'ROLES'"
      aui-button="primary"
      type="button"
      (click)="submit(ngForm)"
    >
      {{ 'create' | translate }}
    </button>
  </ng-container>
  <ng-container *ngIf="managePermission">
    <button aui-button="primary" type="button" (click)="submit(ngForm)">
      {{ 'confirm' | translate }}
    </button>
  </ng-container>
  <button aui-button type="button" (click)="goBack()">
    {{ 'cancel' | translate }}
  </button>
</footer>
