<ng-container *aluPageHeaderContent>
  <aui-breadcrumb>
    <aui-breadcrumb-item>
      <span>{{ 'project_list' | translate }}</span>
    </aui-breadcrumb-item>
  </aui-breadcrumb>
</ng-container>

<aui-card [divider]="false">
  <div auiCardHeader>
    <acl-disabled-container [isAllowed]="(permissions$ | async).create">
      <button aui-button="primary" routerLink="../create">
        {{ 'create_project' | translate }}
      </button>
    </acl-disabled-container>

    <div fxFlex></div>
    <alu-search-group-wrapper>
      <aui-select
        fxFlex="1 1 100px"
        [(ngModel)]="searchType"
        (ngModelChange)="searchTypeChange($event)"
      >
        <aui-option
          *ngFor="let item of searchTypeList"
          [value]="item"
          [label]="item | translate"
        >
          {{ item | translate }}
        </aui-option>
      </aui-select>
      <aui-search
        [placeholder]="searchType | pure: getPlaceHolder | translate"
        [keyword]="keywords$ | async"
        [searchButton]="true"
        (search)="search($event)"
      ></aui-search>
    </alu-search-group-wrapper>
  </div>
  <alu-project-list-table
    [data]="list.items$ | async"
    [clusterFeds]="clusterFeds$ | async"
  ></alu-project-list-table>
  <acl-k8s-resource-list-footer [list]="list"></acl-k8s-resource-list-footer>
</aui-card>
