<aui-table [dataSource]="data">
  <ng-container auiTableColumnDef="name">
    <aui-table-header-cell *auiTableHeaderCellDef>
      {{ 'name' | translate }}
    </aui-table-header-cell>
    <aui-table-cell *auiTableCellDef="let item">
      <a
        [routerLink]="[
          '/manage-project',
          'project',
          { project: item | aclName },
          'detail'
        ]"
      >
        {{ item | aclName }}
      </a>
      <div class="table-cell__label-container table-cell__display-name">
        {{ item | aclDisplayName }}
      </div>
    </aui-table-cell>
  </ng-container>

  <ng-container auiTableColumnDef="status">
    <aui-table-header-cell *auiTableHeaderCellDef>
      {{ 'status' | translate }}
    </aui-table-header-cell>
    <aui-table-cell *auiTableCellDef="let item">
      <alu-status-icon
        [status]="item | aluStatus: false:'status'"
      ></alu-status-icon>
      {{ item | aluStatus: false | translate }}
    </aui-table-cell>
  </ng-container>

  <ng-container auiTableColumnDef="clusters">
    <aui-table-header-cell class="cluster-table-header" *auiTableHeaderCellDef>
      {{ 'cluster' | translate }}(CPU/{{ 'memory' | translate }}/{{
        'storage' | translate
      }})
    </aui-table-header-cell>
    <aui-table-cell *auiTableCellDef="let item">
      <ng-template #clusterFullDetail>
        <div class="cluster-info__tooltip-wrapper">
          <div
            class="cluster-info__tooltip"
            *ngFor="let cluster of item | pure: getClusters; index as i"
          >
            <span class="cluster-name">
              <ng-container *aclFeatureGate="'kubefed'">
                <aui-icon
                  *ngIf="cluster.type === 'FedMember'"
                  [auiTooltip]="getClusterFedDisplayName(cluster)"
                  [auiTooltipDisabled]="!getClusterFedDisplayName(cluster)"
                  class="federation_icon"
                  icon="basic:federation_cluster"
                ></aui-icon>
              </ng-container>
              <label [title]="cluster.name | pure: getDisplayName">
                {{ cluster.name | pure: getDisplayName }}
              </label>
            </span>
            <div class="quota-list">
              <alu-project-quota-display-list
                [values]="cluster.quota"
              ></alu-project-quota-display-list>
            </div>
          </div>
        </div>
      </ng-template>
      <ng-container
        *ngFor="
          let cluster of item | pure: getClusters;
          index as i;
          count as count
        "
      >
        <div class="cluster-info" *ngIf="i < 2 || count === 3">
          <span>
            <ng-container *aclFeatureGate="'kubefed'">
              <aui-icon
                *ngIf="cluster.type === 'FedMember'"
                [auiTooltip]="getClusterFedDisplayName(cluster)"
                [auiTooltipDisabled]="!getClusterFedDisplayName(cluster)"
                class="federation_icon"
                icon="basic:federation_cluster"
              ></aui-icon>
            </ng-container>
            <label [title]="cluster.name | pure: getDisplayName">
              {{ cluster.name | pure: getDisplayName }}
            </label>
          </span>
          :
          <alu-project-quota-display-list
            [values]="cluster.quota"
          ></alu-project-quota-display-list>
        </div>
      </ng-container>
      <div
        class="cluster-info__no-cluster"
        *ngIf="(item | pure: getClusters).length === 0"
      >
        -
      </div>
      <div
        class="cluster-info__footer"
        *ngIf="(item | pure: getClusters).length > 3"
      >
        <div class="cluster-info__footer-left"></div>
        <span
          class="cluster-info__footer-right"
          [auiTooltip]="clusterFullDetail"
          auiTooltipTrigger="hover"
          auiTooltipType="info"
        >
          {{ 'total' | translate }}
          <a href="javascript:;">
            {{ (item | pure: getClusters).length }}
          </a>
          {{ 'unit_ge' | translate }}{{ 'cluster' | translate }}
        </span>
      </div>
    </aui-table-cell>
  </ng-container>
  <ng-container auiTableColumnDef="creationTimestamp">
    <aui-table-header-cell *auiTableHeaderCellDef>
      {{ 'created_at' | translate }}
    </aui-table-header-cell>
    <aui-table-cell *auiTableCellDef="let item">
      {{ item | aclCreationTimestamp | aclRelativeTime }}
    </aui-table-cell>
  </ng-container>
  <aui-table-header-row *auiTableHeaderRowDef="columns"></aui-table-header-row>
  <aui-table-row *auiTableRowDef="let row; columns: columns"></aui-table-row>
</aui-table>
