@import 'mixins';
@import 'var';

alu-status-icon {
  margin-right: 5px;
}

.aui-table {
  &__column-name {
    flex: 2;
    > a {
      font-size: 16px;
    }
  }
  &__column-status {
    flex: 1;
    display: flex;
    align-items: center;
  }
  &__column-clusters {
    flex: 3;
  }
  // &__column-administrators {
  //   flex: 2;
  // }
  &__column-creationTimestamp {
    flex: 1;
  }
}

.cluster-table-header {
  text-align: center;
}

.cluster-info {
  display: flex;
  color: #333;
  font-size: 12px;
  line-height: 16px;
  margin-top: 3px;

  span {
    display: block;
    font-size: 14px;
    line-height: 16px;
    width: 30%;
    text-align: right;
    @include text-overflow;
  }

  &__tooltip {
    .cluster-name {
      color: #333;
    }
    .quota-list {
      margin-top: 4px;
      margin-bottom: 12px;
    }
  }

  &__footer {
    padding-left: 30%;
    font-size: $font-size-small;
    color: $color-text-help;
    margin-top: 8px;
  }

  &__no-cluster {
    text-align: center;
  }

  alu-project-quota-display-list {
    margin-left: 10px;
  }

  aui-icon {
    margin: 0 4px 0 8px;
  }
}

.federation_icon {
  color: #00a3af;
  margin-right: 4px;
}
