@import 'var';

:host {
  display: block;
}

.process {
  display: flex;
}

.steps {
  width: 180px;
  margin-right: 20px;
  padding-right: 20px;
  &__item {
    display: flex;
    align-items: center;
    color: #999;
    &-icon {
      margin-right: 8px;
      display: flex;
      aui-icon {
        display: inline-flex;
      }
    }
    &-label {
      &--highlighted {
        font-weight: 500;
      }
    }
    &-number {
      display: inline-flex;
      border: 1px solid #999;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
    }
    &--success {
      aui-icon {
        color: $color-success;
      }
    }
    &--failed {
      aui-icon {
        color: $color-error;
      }
    }
    &--pending {
      aui-icon {
        color: $color-primary;
      }
    }
  }
  &__line {
    height: 20px;
    width: 1px;
    background-color: #ccc;
    margin: 2px 0;
    &--success {
      background-color: $color-success;
    }
  }
  &__small {
    .steps__item-label {
      font-size: 14px;
    }
    .steps__item-icon {
      font-size: 16px;
    }
    .steps__item-number {
      width: 16px;
      line-height: 16px;
      font-size: 12px;
    }
    .steps__line {
      margin-left: 7px;
    }
  }
  &__normal {
    .steps__item-label {
      font-size: 16px;
    }
    .steps__item-icon {
      font-size: 24px;
    }
    .steps__item-number {
      width: 22px;
      line-height: 22px;
      font-size: 16px;
    }
    .steps__line {
      margin-left: 11px;
    }
  }
  &__item--actived {
    color: #333;
    &.steps__item--clickable:hover {
      .steps__item-label {
        color: $color-primary;
      }
    }
  }
}

.detail {
  flex: 1;
  padding-left: 20px;
  border-left: 1px solid #ededed;
  &__log {
    margin: 16px 0;
  }
  &__hint {
    margin-top: 16px;
  }
}

aui-icon[icon='basic:sync_circle_s'] {
  position: relative;
  transform-origin: center;
  animation: spin 4s infinite linear;
}
