<div class="process">
  <div class="steps steps__{{ size }}" *ngIf="steps && steps.length">
    <ng-container *ngFor="let step of steps; let i = index">
      <div
        class="steps__item steps__item--{{ step.status.toLowerCase() }}"
        [ngClass]="{
          'steps__item--actived': !['Waiting', 'Skipped'].includes(step.status),
          'steps__item--clickable': switchable
        }"
        (click)="stepClick(step)"
      >
        <div class="steps__item-icon">
          <ng-container *ngIf="step.status !== 'Waiting'">
            <aui-icon
              [icon]="step.status | pure: getIcon:i + 1 === selectedStep?.index"
            ></aui-icon>
          </ng-container>
          <ng-container *ngIf="step.status === 'Waiting'">
            <span class="steps__item-number" *ngIf="sequential">
              {{ i + 1 }}
            </span>
            <aui-icon icon="basic:check_circle" *ngIf="!sequential"></aui-icon>
          </ng-container>
        </div>
        <div
          class="steps__item-label"
          [ngClass]="{
            'steps__item-label--highlighted': i + 1 === selectedStep?.index
          }"
        >
          {{ step.label | pure: getStepLabel }}
        </div>
      </div>
      <div
        *ngIf="i < steps.length - 1"
        class="steps__line steps__line--{{ step.status.toLowerCase() }}"
      ></div>
    </ng-container>
  </div>
  <div class="detail">
    <div class="detail__status">
      <alu-field-set-group>
        <alu-field-set-item>
          <label>{{ 'deploy_info' | translate }}</label>
          <span fxLayout="row" fxLayoutAlign="center center">
            <ng-container *ngIf="latestStep">
              <ng-container *ngIf="latestStep.status === 'Waiting'">
                <alu-status-icon [status]="'invalid'"></alu-status-icon>
              </ng-container>
              <ng-container *ngIf="latestStep.status !== 'Waiting'">
                <alu-status-icon
                  [status]="latestStep.status.toLowerCase()"
                ></alu-status-icon>
              </ng-container>
              {{ latestStep.label | pure: getStepLabel }}
              {{ latestStep.status | pure: getStateText | translate }}
            </ng-container>
          </span>
        </alu-field-set-item>
      </alu-field-set-group>
    </div>
    <div class="detail__hint">
      <aui-inline-alert *ngIf="latestStep?.status === 'Failed'" type="error">
        {{ errorHint }}
      </aui-inline-alert>
    </div>
    <div class="detail__log">
      <aui-code-editor
        [options]="{ language: 'log', readOnly: true }"
        [actionsConfig]="editorActions"
        [value]="log$ | async"
      ></aui-code-editor>
    </div>
    <div class="detail__buttons" *ngIf="operationEnabled">
      <button
        aui-button="primary"
        [disabled]="['pending', 'success'].includes(status)"
        (click)="start.emit()"
      >
        {{ 'start_deploy' | translate }}
      </button>
      <button
        aui-button
        [disabled]="status !== 'pending'"
        (click)="stop.emit()"
      >
        {{ 'stop_deploy' | translate }}
      </button>
    </div>
  </div>
</div>
