<alu-array-form-table
  [noRowSeparator]="true"
  [resourceName]="'alarm_rule'"
  (add)="add()"
  [rows]="templates"
>
  <ng-container *aluArrayFormTableHeader>
    <th width="50%">{{ 'rule' | translate }}</th>
    <th width="20%">{{ 'alarm_type' | translate }}</th>
    <th>{{ 'level' | translate }}</th>
  </ng-container>

  <!-- Input row -->
  <ng-container *aluArrayFormTableRow="let template">
    <td>
      <span *ngIf="metricType" class="alarm-rule">
        {{ getPrometheusRule(template, metricType) }}
      </span>
    </td>
    <td>
      {{
        template.labels?.alert_indicator | pure: getAlarmTypeTitle | translate
      }}
    </td>
    <td>
      <span>
        {{ template.labels?.severity | aclFieldNotAvailable }}
      </span>
    </td>
  </ng-container>

  <ng-container *aluArrayFormTableRowControl="let item; let index = index">
    <button
      aui-button="text"
      size="mini"
      type="button"
      (click)="edit(index)"
      [square]="true"
      [plain]="true"
    >
      <aui-icon icon="basic:pencil_edit"></aui-icon>
    </button>
    <button
      aui-button="text"
      size="mini"
      type="button"
      (click)="remove(index)"
      [square]="true"
      [plain]="true"
    >
      <aui-icon icon="basic:minus_circle"></aui-icon>
    </button>
  </ng-container>

  <ng-container *aluArrayFormTableFooter>
    <button
      aui-button="primary"
      type="button"
      size="mini"
      [plain]="true"
      (click)="add()"
    >
      <aui-icon icon="basic:add_circle"></aui-icon>
      {{ 'add_alarm_rule' | translate }}
    </button>
  </ng-container>
</alu-array-form-table>
