aui-input-group {
  width: 100%;
  .aui-input-group__addon {
    background: #fff;
  }
  .value_copy {
    &:hover {
      color: #006eff;
      cursor: pointer;
    }
  }
}

.email {
  width: 80%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
