<aui-dialog-header>
  {{ 'reset_password' | translate }}
</aui-dialog-header>

<aui-dialog-content>
  <form #form="ngForm" auiForm auiFormLabelWidth="100px">
    <aui-form-item>
      <label auiFormItemLabel>{{ 'email' | translate }}</label>
      <div class="email" [title]="data.user | pure: getTitle">
        <span>{{ data.user.spec.email }}</span>
        <ng-container *ngIf="data.user | aclDisplayName">
          ({{ data.user | aclDisplayName }})
        </ng-container>
      </div>
    </aui-form-item>
    <aui-form-item>
      <label auiFormItemLabel>{{ 'password_type' | translate }}</label>
      <aui-radio-group
        name="password_type"
        [(ngModel)]="passwordType"
        (ngModelChange)="changePassword($event)"
      >
        <aui-radio-button value="random">
          {{ 'random' | translate }}
        </aui-radio-button>
        <aui-radio-button value="custom">
          {{ 'custom' | translate }}
        </aui-radio-button>
      </aui-radio-group>
    </aui-form-item>
    <aui-form-item>
      <label auiFormItemLabel>{{ 'new_password' | translate }}</label>
      <aui-input-group>
        <span
          auiInputAddonAfter
          class="value_copy"
          [auiTooltipCopy]="newPassword"
          [auiTooltipCopySuccessTip]="'copied_to_pasteboard' | translate"
        >
          <aui-icon icon="copy"></aui-icon>
        </span>
        <input
          required
          auiFormItemControl
          aui-input
          [readonly]="passwordType === 'random'"
          name="newPassword"
          #newPasswordRef="ngModel"
          [(ngModel)]="newPassword"
          [pattern]="passwordPattern.pattern"
          [placeholder]="passwordPattern.tip | translate"
        />
      </aui-input-group>
      <alu-error-mapper
        auiFormItemError
        [errors]="newPasswordRef.errors"
        [errorsMapper]="{
          required:
            'field_is_required' | translate: { field: 'password' | translate },
          pattern: passwordPattern.tip | translate
        }"
      ></alu-error-mapper>
    </aui-form-item>
  </form>
</aui-dialog-content>

<aui-dialog-footer>
  <button aui-button="primary" (click)="reset(form)">
    {{ 'reset' | translate }}
  </button>
  <button aui-button (click)="cancel()">
    {{ 'cancel' | translate }}
  </button>
</aui-dialog-footer>
