.logo {
  width: 40px;
  height: 40px;
  margin-right: 8px;
}

.title {
  font-size: 18px;
  font-weight: normal;
}

.desc {
  font-size: 12px;
  font-weight: normal;
  line-height: 16px;
  color: #999;
}

.operations {
  margin-left: 20px;
}
