<aui-card>
  <div auiCardHeader>
    <div fxLayoutAlign="start center">
      <img class="logo" [src]="deployment.crd | pure: getLogo" alt="tdsql" />
      <div>
        <span class="title">
          {{ deployment.crd | aclDisplayName | aluParseJson | translate: {} }}
        </span>
        <div class="desc" auiTooltipPosition="top start">
          {{ deployment.crd | aclDescription | aluParseJson | translate: {} }}
        </div>
      </div>
    </div>
    <div fxFlex></div>
    <div class="operations">
      <button aui-button [auiDropdown]="menu" size="small">
        {{ 'action' | translate }}
        <aui-icon icon="angle_down" margin="left"></aui-icon>
      </button>
      <aui-menu #menu>
        <ng-template auiMenuContent>
          <acl-disabled-container
            [isAllowed]="true"
            [isDisabled]="!(deployment.cr | pure: isExecutable)"
            [tooltip]="'non_running_status_execute_not_supported' | translate"
          >
            <aui-menu-item
              [routerLink]="[
                '../../',
                deployment.crd | pure: getBase64CrdName,
                'update'
              ]"
            >
              {{ 'update' | translate }}
            </aui-menu-item>
          </acl-disabled-container>
          <acl-disabled-container
            [isAllowed]="true"
            [isDisabled]="!(deployment.cr | pure: isExecutable)"
            [tooltip]="'non_running_status_execute_not_supported' | translate"
          >
            <aui-menu-item (click)="systemConfig()">
              {{ 'system_config' | translate }}
            </aui-menu-item>
          </acl-disabled-container>
          <acl-disabled-container
            [isAllowed]="true"
            [isDisabled]="(deployment | pure: handleUpgradeable)?.disabled"
            [tooltip]="
              (deployment | pure: handleUpgradeable)?.tooltip | translate
            "
          >
            <aui-menu-item (click)="upgrade()">
              {{ 'upgrade' | translate }}
            </aui-menu-item>
          </acl-disabled-container>
          <acl-disabled-container
            [isAllowed]="true"
            [isDisabled]="!(deployment.cr | pure: isDeletable)"
            [tooltip]="'deletion_not_supported_in_current_state' | translate"
          >
            <aui-menu-item (click)="delete(confirmDelete)">
              {{ 'uninstall' | translate }}
            </aui-menu-item>
          </acl-disabled-container>
        </ng-template>
      </aui-menu>
    </div>
    <ng-template #confirmDelete>
      <alu-confirm-delete
        [context]="context"
        [title]="'uninstall_product' | translate"
        [resourceName]="
          deployment.crd | aclDisplayName | aluParseJson | translate: {}
        "
        [deleteResourceApi]="deleteApi"
        [type]="'uninstall'"
        [deleteTips]="
          'delete_product_content'
            | translate
              : {
                  name:
                    deployment.crd
                    | aclDisplayName
                    | aluParseJson
                    | translate: {}:true
                }
        "
        [deleteSuccessMsg]="
          'product_uninstall_successed'
            | translate
              : {
                  name:
                    deployment.crd
                    | aclDisplayName
                    | aluParseJson
                    | translate: {}:true
                }
        "
        [deleteFailMsg]="
          'product_uninstall_failed'
            | translate
              : {
                  name:
                    deployment.crd
                    | aclDisplayName
                    | aluParseJson
                    | translate: {}:true
                }
        "
        [confirmText]="'uninstall' | translate"
        (close)="deleteConfirmDialog.close()"
      ></alu-confirm-delete>
    </ng-template>
  </div>
  <alu-field-set-group>
    <alu-field-set-item>
      <label>{{ 'deployment_status' | translate }}</label>
      <span>
        <alu-status-icon
          [status]="(deployment.cr | pure: mapDeployStatus)?.icon"
        ></alu-status-icon>
        {{ (deployment.cr | pure: mapDeployStatus)?.text | translate }}
      </span>
    </alu-field-set-item>
    <alu-field-set-item>
      <label>{{ 'product_entrance' | translate }}</label>
      <span>
        <a
          [href]="deployment.cr.status.productEntrypoint"
          *ngIf="deployment.cr.status.productEntrypoint; else noEntrance"
          target="_blank"
        >
          {{ deployment.cr.status.productEntrypoint }}
        </a>
        <ng-template #noEntrance>-</ng-template>
      </span>
    </alu-field-set-item>
    <alu-field-set-item>
      <label>{{ 'operating_status' | translate }}</label>
      <span>
        <ng-container
          *ngIf="
            deployment.cr | pure: mapOperatingStatus as operatingStatus;
            else noOperatingStatus
          "
        >
          <alu-status-icon [status]="operatingStatus.icon"></alu-status-icon>
          <span>{{ operatingStatus.text | translate }}</span>
        </ng-container>
        <ng-template #noOperatingStatus>-</ng-template>
      </span>
    </alu-field-set-item>
    <alu-field-set-item>
      <label>{{ 'product_type' | translate }}</label>
      <span>
        {{ deployment.crd | aclLabel: 'product-type' | lowercase | translate }}
      </span>
    </alu-field-set-item>
    <alu-field-set-item>
      <label>{{ 'product_version' | translate }}</label>
      <span>{{ deployment.cr.spec.version || '-' }}</span>
    </alu-field-set-item>
    <alu-field-set-item>
      <label>{{ 'deploy_time' | translate }}</label>
      <span>
        {{ deployment.cr | aclCreationTimestamp | aclRelativeTime }}
      </span>
    </alu-field-set-item>
  </alu-field-set-group>
</aui-card>
<alu-ti-deploy-log [steps]="deployment.cr | pure: getSteps"></alu-ti-deploy-log>
