<aui-card>
  <div auiCardHeader>{{ 'oidc_server_setting' | translate }}</div>
  <form auiForm [formGroup]="form" auiFormLabelWidth="114px">
    <aui-form-item>
      <label auiFormItemLabel>{{ 'server_provider_url' | translate }}</label>
      <ng-container required auiFormItemControl>
        <input aui-input formControlName="issuer" />
      </ng-container>
      <alu-error-mapper
        auiFormItemError
        [errors]="form.controls['issuer'].errors"
        [errorsMapper]="{
          required:
            'field_is_required'
            | translate: { field: 'server_provider_url' | translate }
        }"
      ></alu-error-mapper>
    </aui-form-item>
    <aui-form-item>
      <label auiFormItemLabel>{{ 'client_id' | translate }}</label>
      <ng-container required auiFormItemControl>
        <input aui-input formControlName="clientID" />
      </ng-container>
      <alu-error-mapper
        auiFormItemError
        [errors]="form.controls['clientID'].errors"
        [errorsMapper]="{
          required:
            'field_is_required' | translate: { field: 'client_id' | translate }
        }"
      ></alu-error-mapper>
    </aui-form-item>
    <aui-form-item>
      <label auiFormItemLabel>{{ 'client_key' | translate }}</label>
      <ng-container required auiFormItemControl>
        <input aui-input formControlName="clientSecret" />
      </ng-container>
      <alu-error-mapper
        auiFormItemError
        [errors]="form.controls['clientSecret'].errors"
        [errorsMapper]="{
          required:
            'field_is_required' | translate: { field: 'client_key' | translate }
        }"
      ></alu-error-mapper>
    </aui-form-item>
    <aui-form-item>
      <label auiFormItemLabel>{{ 'redirect_uri' | translate }}</label>
      <ng-container required auiFormItemControl>
        <input aui-input formControlName="redirectURI" />
      </ng-container>
      <alu-error-mapper
        auiFormItemError
        [errors]="form.controls['redirectURI'].errors"
        [errorsMapper]="{
          required:
            'field_is_required'
            | translate: { field: 'redirect_uri' | translate }
        }"
      ></alu-error-mapper>
    </aui-form-item>
  </form>
</aui-card>
