<form auiForm *ngIf="form" auiFormLabelWidth="114px" [formGroup]="form">
  <div class="field-head">
    <aui-checkbox
      auiFormItemControl
      formControlName="selected"
      (ngModelChange)="select($event)"
    >
      {{ 'tdsql_hdfs' | translate }}
    </aui-checkbox>
    <div class="field-head__des">
      {{ 'tdsql_hdfs_description' | translate }}
    </div>
  </div>
  <ng-container *ngIf="form.get('selected').value">
    <aui-inline-alert>
      <span>{{ 'tdsql_hdfs_deploy_hint1' | translate }}</span>
      <a
        href="/platform-docs/10usermanual/platformmanagement/50ace/03tdsql/03prepare/#hdfs"
        target="_blank"
      >
        {{ 'help_document' | translate }}
        <aui-icon icon="basic:jump"></aui-icon>
      </a>
      <span>{{ 'tdsql_hdfs_deploy_hint2' | translate }}</span>
    </aui-inline-alert>
    <div class="field-body">
      <aui-form-item>
        <label auiFormItemLabel>
          {{ 'tdsql_hdfs_data_dir_prepare' | translate }}
        </label>
        <aui-checkbox
          auiFormItemControl
          formControlName="dataDirPrepare"
          required
        >
          {{ 'read_and_complete_operations_on_host' | translate }}
        </aui-checkbox>
        <!-- FIXME: to be removed -->
        <input
          [hidden]="true"
          type="checkbox"
          formControlName="dataDirPrepare"
          required
        />
        <alu-error-mapper
          auiFormItemError
          [errors]="form.get('dataDirPrepare').errors"
          [errorsMapper]="{
            required: 'data_dir_preparation_tip' | translate
          }"
        ></alu-error-mapper>
      </aui-form-item>
      <aui-form-item>
        <label auiFormItemLabel>
          {{ 'tdsql_hdfs_host_config_prepare' | translate }}
        </label>
        <aui-checkbox
          auiFormItemControl
          formControlName="hostNameSetting"
          required
        >
          {{ 'read_and_complete_operations_on_host' | translate }}
        </aui-checkbox>
        <!-- FIXME: to be removed -->
        <input
          [hidden]="true"
          type="checkbox"
          formControlName="hostNameSetting"
          required
        />
        <alu-error-mapper
          auiFormItemError
          [errors]="form.get('hostNameSetting').errors"
          [errorsMapper]="{
            required: 'hdfs_host_config_tip' | translate
          }"
        ></alu-error-mapper>
      </aui-form-item>
      <aui-form-item>
        <label auiFormItemLabel>{{ 'tdsql_hdfs_ssh_port' | translate }}</label>
        <input
          aui-input
          auiFormItemControl
          formControlName="sshPort"
          required
        />
        <div auiFormItemAddon>
          <aui-icon
            icon="basic:question"
            [auiTooltipPosition]="'start bottom'"
            [auiTooltip]="'tdsql_tooltip_hdfs_ssh_port' | translate"
          ></aui-icon>
        </div>
        <alu-error-mapper
          auiFormItemError
          [errors]="form.get('sshPort').errors"
          [errorsMapper]="{
            required:
              'hdfs_host_config_tip'
              | translate: { field: 'tdsql_hdfs_ssh_port' | translate }
          }"
        ></alu-error-mapper>
      </aui-form-item>
      <aui-form-item>
        <label auiFormItemLabel>
          {{ 'tdsql_hdfs_data_file_path' | translate }}
        </label>
        <input
          aui-input
          auiFormItemControl
          formControlName="dataFilePath"
          [pattern]="pathPattern.pattern"
          required
        />
        <div auiFormItemAddon>
          <aui-icon
            icon="basic:question"
            [auiTooltipPosition]="'start bottom'"
            [auiTooltip]="'tdsql_tooltip_hdfs_data_path' | translate"
          ></aui-icon>
        </div>
        <alu-error-mapper
          auiFormItemError
          [errors]="form.get('dataFilePath').errors"
          [errorsMapper]="{
            required:
              'field_is_required'
              | translate: { field: 'tdsql_hdfs_data_file_path' | translate },
            pattern: pathPattern.tip | translate
          }"
        ></alu-error-mapper>
      </aui-form-item>
      <aui-form-item>
        <label auiFormItemLabel>{{ 'tdsql_host_ip' | translate }}</label>
        <alu-tdsql-ip-selector
          auiFormItemControl
          formControlName="hostIps"
          [multiSelect]="true"
          [allowedCount]="allowedIpCount$ | async"
          [placeholder]="'tdsql_hdfs_host_ip_limit_placeholder' | translate"
          required
        ></alu-tdsql-ip-selector>
        <div auiFormItemAddon>
          <aui-icon
            icon="basic:question"
            [auiTooltipPosition]="'start bottom'"
            [auiTooltip]="'tdsql_tooltip_hdfs_host_ip' | translate"
          ></aui-icon>
        </div>
        <alu-error-mapper
          auiFormItemError
          [errors]="form.get('hostIps').errors"
          [errorsMapper]="{
            required:
              'field_is_required'
              | translate: { field: 'tdsql_host_ip' | translate },
            allowedCountError:
              'tdsql_hdfs_host_ip_limit_placeholder' | translate
          }"
        ></alu-error-mapper>
      </aui-form-item>
    </div>
  </ng-container>
</form>
