<aui-dialog-header>
  {{ 'open_dashboard' | translate }}
</aui-dialog-header>

<aui-dialog-content>
  <form #form="ngForm" auiForm auiFormLabelPosition="right">
    <aui-form-item>
      <label auiFormItemLabel>
        {{ 'choose_grafana_cluster' | translate }}
      </label>
      <aui-select
        auiFormItemControl
        required
        name="cluster"
        [(ngModel)]="cluster"
        clearable
        filterable
      >
        <aui-option
          *ngFor="let cluster of data?.clusters"
          [value]="cluster"
          [label]="cluster | pure: label"
        >
          {{ cluster | pure: label }}
        </aui-option>
        <aui-option-placeholder>
          {{ 'no_data' | translate }}
        </aui-option-placeholder>
      </aui-select>
    </aui-form-item>
  </form>
</aui-dialog-content>

<aui-dialog-footer>
  <button aui-button="primary" [loading]="submitting" (click)="confirm()">
    {{ 'confirm' | translate }}
  </button>
  <button aui-button (click)="cancel()">
    {{ 'cancel' | translate }}
  </button>
</aui-dialog-footer>
