/* stylelint-disable no-descending-specificity */
@import 'var';
$log-hover-background-color: #465155;
$log-result-background-color: #263238;
$log-context-background-color: #121b1b;

:host {
  ::ng-deep {
    em {
      font-style: normal;
      background-color: #f7e8ac;
      color: #1a282f;
    }
    .aui-input.aui-multi-select {
      height: auto;
    }
    .aui-multi-select__input {
      min-width: 0;
    }
    &.tag-application .aui-tag {
      background-color: #fde8d8 !important;
      &:hover {
        background-color: #f1ccb1 !important;
      }
    }
    &.tag-node .aui-tag {
      background-color: #d5edfa !important;
      &:hover {
        background-color: #a8d5ed !important;
      }
    }
    &.tag-pod .aui-tag {
      background: #cbf2e6 !important;
      &:hover {
        background-color: #9ce5d6 !important;
      }
    }
    &.tag-instance .aui-tag {
      background: #e2f2cb !important;
      &:hover {
        background-color: #c7e59c !important;
      }
    }
    &.tag-path .aui-tag {
      background-color: #fff2cb !important;
      &:hover {
        background-color: #f4de9c !important;
      }
    }
    &.tag-cluster .aui-tag {
      background-color: #d0f1da !important;
      &:hover {
        background-color: #8fe7aa !important;
      }
    }
    &.tag-namespace .aui-tag {
      background-color: #eedef8 !important;
      &:hover {
        background-color: #e4d3f5 !important;
      }
    }
  }
}

.alu-log-section-container {
  background-color: #fff;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.14);
  &.log-header {
    display: flex;
    flex: 1;
    .alu-log-dashboard-fields {
      padding: 16px 16px 0;
      flex: 1;
      overflow: visible;
      .field-container {
        display: flex;
        .custom-time {
          > * {
            display: inline-block;
            margin-left: 8px;
          }
          label:after {
            content: ':';
            margin-left: 2px;
          }
          input[readonly] {
            background-color: #fff;
          }
        }
      }
    }
    .alu-log-dashboard-submit {
      flex: 0 0 122px;
      justify-content: center;
      display: flex;
      background: #f7f7f7;
      button {
        align-self: center;
        width: 72px;
        height: 40px;
      }
    }
  }
  &.log-detail {
    margin-top: 12px;
    padding: 0 12px 16px;
    .alu-log-dashboard-events {
      position: relative;
      .charts-container {
        position: relative;
        height: 120px;
        .logCount {
          position: absolute;
          top: 0;
          margin-top: 5px;
          margin-left: 15px;
          font-size: 12px;
          background: #fff;
          z-index: 1;
        }
        .chart-wrapper {
          position: absolute;
          bottom: 0;
          width: 100%;
          height: 100px;
        }
      }
      > .alu-loading-mask-placeholder {
        font-size: 14px;
        height: 120px;
        background: #fff;
        display: flex;
        flex: 1;
        align-items: center;
        justify-content: center;
        color: #a1a1a1;
        flex-direction: column;
      }
    }
    .log-pagination {
      display: flex;
      justify-content: flex-end;
      .log-search-hint {
        margin-top: 12px;
        padding: 6px 6px 0;
      }
    }
  }
}

.aui-multi-select-addon {
  height: auto;
  border-radius: 0 3px 3px 0;
  transform: translateX(-1px);
}

.alu-log-result-wrap {
  max-height: 480px;
  min-height: 450px;
  overflow: scroll;
  background-color: $log-result-background-color;
  .alu-log-result {
    font-family: 'Monaco', 'DejaVu Sans Mono', 'Liberation Mono', monospace;
    color: #e1e6e6;
    font-size: 12px;
    background-color: $log-result-background-color;
    .alu-log-item {
      padding: 4px 8px;
      line-height: 20px;
      &:hover {
        background-color: $log-hover-background-color;
      }
      > span {
        margin-right: 4px;
      }
      :not(.log-message) {
        display: inline-block;
      }
      .keyword {
        cursor: pointer;
        &:hover {
          text-decoration: underline;
        }
      }
      .log-service {
        color: #ff7c57;
      }

      .log-cluster {
        color: #72f08c;
      }

      .log-node {
        color: #2dcbf6;
      }

      .log-pod {
        color: #7adbd4;
      }

      .log-instance {
        color: #b3db7a;
      }

      .log-path {
        color: #efc241;
      }

      .log-kubernetes_namespace {
        color: #c68eff;
      }

      .log-project {
        color: #ccc;
      }

      .log-message {
        word-break: break-word;
      }

      aui-icon {
        color: #e1e6e6;
        cursor: pointer;
        &.circle {
          margin: 0 2px 0 5px;
        }
        &.angle {
          margin: 0 2px 0 -2px;
          &.up {
            transform: rotate(0.5turn);
            margin: 0 2px 0 -3px;
          }
        }
      }
    }
    .alu-log-context {
      margin: 0 8px;
      background-color: $log-context-background-color;
      border-radius: 4px;
      &.collapse {
        height: 0;
        display: none;
      }
    }
  }
}
