<div #aluSwiper class="alu-swiper">
  <div
    #aluWrapper
    [@swiper]="state"
    (@swiper.done)="afterPlay()"
    class="alu-swiper__wrapper"
  >
    <div
      *ngFor="let slide of sliders$ | async"
      #aluSwiperContainer
      class="alu-swiper__container"
      (mouseenter)="swiperStop()"
      (mouseleave)="swiperStart()"
    >
      <ng-template #aluSlide [ngTemplateOutlet]="slide.template"></ng-template>
    </div>
  </div>

  <div class="alu-swiper-pagination" *ngIf="(sliders$ | async)?.length >= 2">
    <div
      *ngFor="let slide of sliders$ | async; index as i"
      [ngClass]="{
        'alu-swiper-pagination__bullet': true,
        'alu-swiper-pagination__bullet--active': i === currIndex
      }"
      (mouseenter)="swiperTo(i)"
    ></div>
  </div>
</div>
