:host {
  display: flex;
  justify-content: center;
}

svg {
  overflow: visible;
}

.dot {
  width: 4px;
  height: 4px;
  border-radius: 50%;
  margin-right: 4px;
}

li {
  list-style: none;
  display: flex;
  align-items: center;
}
