<svg
  *ngIf="total; else noNode"
  [attr.width]="width"
  [attr.height]="height"
  [auiTooltip]="template"
>
  <svg:g [attr.transform]="transform">
    <svg:path
      [attr.d]="AbnormalFractionArcD"
      [attr.fill]="'#e54545'"
    ></svg:path>
    <svg:path [attr.d]="NormalFractionArcD" [attr.fill]="'#0abf5b'"></svg:path>
  </svg:g>
</svg>

<ng-template #template>
  <ul>
    <li>
      <i class="dot" style="background: #0abf5b"></i>
      {{ 'normal' | translate }}: {{ total - abnormal }}
    </li>
    <li>
      <i class="dot" style="background: #e54545"></i>
      {{ 'abnormal' | translate }}: {{ abnormal }}
    </li>
    <li>
      <i class="dot" style="background: #ffffff"></i>
      {{ 'total_num' | translate }}: {{ total }}
    </li>
  </ul>
</ng-template>

<ng-template #noNode>
  <svg [attr.width]="width" [attr.height]="height">
    <svg:g [attr.transform]="transform">
      <svg:path [attr.d]="NoneFractionArcD" [attr.fill]="'#cccccc'"></svg:path>
    </svg:g>
  </svg>
</ng-template>
