:host {
  flex: 1;
  ::ng-deep {
    .aui-checkbox {
      margin-right: 0;
    }
  }
}

.function {
  width: 30%;
  max-width: 220px;
  border-right: 1px solid #e5e5e5;
  padding: 2px 2px 2px 8px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.verb {
  width: 17%;
  text-align: center;
}
aui-icon {
  cursor: pointer;
  position: relative;
  right: 10px;
}
.hidden {
  opacity: 0;
}

td {
  vertical-align: middle;
  padding: 4px;
  line-height: 24px;
}
