<ng-container [formGroup]="form">
  <td class="function">
    {{
      custom || !translation[moduleName + '_' + form.get('func_name').value]
        ? form.get('func_name').value
        : (translation[moduleName + '_' + form.get('func_name').value]
          | translate)
    }}
  </td>
  <td class="verb">
    <aui-checkbox formControlName="view"></aui-checkbox>
  </td>
  <td class="verb">
    <aui-checkbox formControlName="create"></aui-checkbox>
  </td>
  <td class="verb">
    <aui-checkbox formControlName="update"></aui-checkbox>
  </td>
  <td class="verb">
    <aui-checkbox formControlName="delete"></aui-checkbox>
  </td>
  <td [class.hidden]="!custom">
    <aui-icon
      icon="basic:minus_circle"
      (click)="remove.next(form.get('func_name').value)"
    ></aui-icon>
  </td>
</ng-container>
