<ng-container *aluPageHeaderContent>
  <aui-breadcrumb>
    <aui-breadcrumb-item>
      <span>{{ 'cluster_management' | translate }}</span>
    </aui-breadcrumb-item>
    <aui-breadcrumb-item>
      <a routerLink="/manage-platform/federation">
        {{ 'clusterfed' | translate }}
      </a>
    </aui-breadcrumb-item>
    <aui-breadcrumb-item>
      <span>{{ 'create' | translate }}</span>
    </aui-breadcrumb-item>
  </aui-breadcrumb>
</ng-container>

<aui-inline-alert>
  <div>{{ 'cluster_fed_create_tip' | translate }}</div>
</aui-inline-alert>

<div class="form-wrapper">
  <aui-card>
    <div auiCardHeader>{{ 'create_cluster_federation' | translate }}</div>
    <form
      auiForm
      #ngForm="ngForm"
      auiFormLabelPosition="right"
      auiFormLabelWidth="114px"
    >
      <aui-form-item>
        <label auiFormItemLabel>{{ 'name' | translate }}</label>
        <input
          aui-input
          auiFormItemControl
          required
          #clusterName="ngModel"
          name="name"
          [(ngModel)]="name"
          maxlength="32"
          [pattern]="K8S_RESOURCE_NAME_BASE.pattern"
          [placeholder]="K8S_RESOURCE_NAME_BASE.tip | translate"
        />
        <alu-error-mapper
          auiFormItemError
          [errors]="clusterName.errors"
          [errorsMapper]="{
            required:
              'field_is_required' | translate: { field: 'name' | translate },
            pattern: K8S_RESOURCE_NAME_BASE.tip | translate
          }"
        ></alu-error-mapper>
      </aui-form-item>
      <aui-form-item>
        <label auiFormItemLabel>{{ 'display_name' | translate }}</label>
        <input
          aui-input
          auiFormItemControl
          required
          #displayNameModel="ngModel"
          name="displayName"
          [(ngModel)]="displayName"
          [placeholder]="'input_display_name' | translate"
        />
        <alu-error-mapper
          auiFormItemError
          [errors]="displayNameModel.errors"
          [errorsMapper]="{
            required:
              'field_is_required'
              | translate: { field: 'display_name' | translate }
          }"
        ></alu-error-mapper>
      </aui-form-item>
      <aui-form-item>
        <label auiFormItemLabel>{{ 'federation_member' | translate }}</label>
        <aui-multi-select
          auiFormItemControl
          required
          #memberName="ngModel"
          name="members"
          [(ngModel)]="members"
          (valueChange)="membersChange($event)"
          clearable
          [loading]="!(clusters$ | async)"
        >
          <aui-option
            class="cluster-select"
            *ngFor="let cluster of clusters$ | async"
            [value]="cluster"
            [label]="cluster | aclUnionDisplayName"
            [disabled]="getClusterStatus(cluster) !== 'normal'"
          >
            <div class="cluster-select-option">
              {{ cluster | aclUnionDisplayName }}
              <aui-icon
                *ngIf="getClusterStatus(cluster) !== 'normal'"
                color="#e54545"
                icon="exclamation_triangle_s"
                [auiTooltip]="'cluster_abnormal' | translate"
              ></aui-icon>
              <div
                *ngIf="cluster.capacity; else noQuota"
                class="cluster-select-option__desc"
              >
                {{ 'allocatable' | translate }}
                <span *ngIf="cluster.allocatable['requests.cpu']">
                  CPU {{ cluster.allocatable['requests.cpu'] | pure: toUnitNum
                  }}{{ 'unit_core' | translate }}
                </span>
                <span *ngIf="cluster.allocatable['requests.memory']">
                  {{ 'memory' | translate }}
                  {{ cluster.allocatable['requests.memory'] | pure: toUnitGi
                  }}{{ 'unit_Gi' | translate }}
                </span>
                <span *ngIf="cluster.allocatable['requests.storage']">
                  {{ 'storage' | translate }}
                  {{ cluster.allocatable['requests.storage'] | pure: toUnitGi
                  }}{{ 'unit_Gi' | translate }}
                </span>
              </div>
            </div>
          </aui-option>
          <aui-option-placeholder>
            {{ 'no_data' | translate }}
          </aui-option-placeholder>
        </aui-multi-select>
        <alu-error-mapper
          auiFormItemError
          [errors]="memberName.errors"
          [errorsMapper]="{
            required:
              'field_is_required'
              | translate: { field: 'federation_member' | translate }
          }"
        ></alu-error-mapper>
      </aui-form-item>
      <aui-form-item>
        <label auiFormItemLabel>{{ 'control_cluster' | translate }}</label>
        <aui-select
          auiFormItemControl
          required
          name="control"
          [(ngModel)]="control"
          #controlModel="ngModel"
          [placeholder]="controlPlaceholder | translate"
          [disabled]="controlDisabled"
          clearable
          filterable
        >
          <aui-option
            class="cluster-select"
            *ngFor="let member of members"
            [value]="member"
            [label]="member | aclUnionDisplayName"
          >
            <div class="cluster-select-option">
              {{ member | aclUnionDisplayName }}
              <div
                *ngIf="member.capacity; else noQuota"
                class="cluster-select-option__desc"
              >
                {{ 'allocatable' | translate }}
                <span *ngIf="member.allocatable['requests.cpu']">
                  CPU {{ member.allocatable['requests.cpu'] | pure: toUnitNum
                  }}{{ 'unit_core' | translate }}
                </span>
                <span *ngIf="member.allocatable['requests.memory']">
                  {{ 'memory' | translate }}
                  {{ member.allocatable['requests.memory'] | pure: toUnitGi
                  }}{{ 'unit_Gi' | translate }}
                </span>
                <span *ngIf="member.allocatable['requests.storage']">
                  {{ 'storage' | translate }}
                  {{ member.allocatable['requests.storage'] | pure: toUnitGi
                  }}{{ 'unit_Gi' | translate }}
                </span>
              </div>
            </div>
          </aui-option>
          <aui-option-placeholder>
            {{ 'no_data' | translate }}
          </aui-option-placeholder>
        </aui-select>
        <alu-error-mapper
          auiFormItemError
          [errors]="controlModel.errors"
          [errorsMapper]="{
            required:
              'field_is_required'
              | translate: { field: 'control_cluster' | translate }
          }"
        ></alu-error-mapper>
      </aui-form-item>
    </form>
  </aui-card>
</div>

<div class="form__footer">
  <div style="flex: 1;"></div>
  <button
    aui-button="primary"
    [loading]="submitting"
    [disabled]="submitting"
    (click)="confirm(ngForm)"
  >
    <span>{{ 'create' | translate }}</span>
  </button>
  <button type="button" aui-button [disabled]="submitting" (click)="cancel()">
    {{ 'cancel' | translate }}
  </button>
</div>

<ng-template #noQuota>
  <div class="cluster-select-option__desc">
    {{ 'cannot_get_data' | translate }}
  </div>
</ng-template>
