@import 'var';

.content-dialog {
  display: flex;
  alu-steps-process {
    width: 30%;
  }
  .line {
    width: 0.5px;
    background-color: #f1f1f1;
    height: 100%;
  }
  .log {
    border-left: 0.5px #f1f1f1 solid;
    padding-left: 20px;
    width: 80%;
    .log-title {
      padding: 10px 0 10px;
    }
    &-code {
      height: 400px;
    }
  }
}
