<aui-dialog-header [closeable]="false">
  {{ 'deploy_process' | translate }}
</aui-dialog-header>
<aui-dialog-content>
  <div class="content-dialog">
    <alu-steps-process
      layout="column"
      [currStep]="stepIndex"
      [steps]="(tsfSteps$ | async) || []"
    ></alu-steps-process>
    <!--<div class="line"></div>-->
    <div class="log">
      <div class="log-title">
        {{ 'deployment_info' | translate }}:
        <alu-status-icon
          [status]="stepInfo?.status | pure: getDeployStatus"
        ></alu-status-icon>
        {{ stepInfo | pure: getTranslateStatus }}
      </div>
      <aui-inline-alert
        *ngIf="stepInfo?.status === 'Failed'"
        type="error"
        [content]="'deploy_process_error' | translate"
      ></aui-inline-alert>
      <div class="log-code">
        <aui-code-editor
          [ngModel]="logContext"
          [options]="codeEditorOptions"
          [actionsConfig]="editorActions"
        ></aui-code-editor>
      </div>
    </div>
  </div>
</aui-dialog-content>
<aui-dialog-footer>
  <button
    aui-button
    (click)="close()"
    [disabled]="data.isDetail ? false : deployLoading"
  >
    {{ 'close' | translate }}
  </button>
</aui-dialog-footer>
