<form
  #ngForm="ngForm"
  auiForm
  auiFormLabelWidth="114px"
  [formGroup]="form"
  *ngIf="form"
>
  <aui-form-item>
    <label auiFormItemLabel>{{ 'tdsql_chitu_monitor_ip' | translate }}</label>
    <input aui-input auiFormItemControl formControlName="metadbIp" required />
    <div auiFormItemAddon>
      <aui-icon
        icon="basic:question"
        [auiTooltip]="'tdsql_tooltip_monitoring_library_ip' | translate"
        [auiTooltipPosition]="'start bottom'"
      ></aui-icon>
    </div>
    <alu-error-mapper
      auiFormItemError
      [errors]="form.get('metadbIp').errors"
      [errorsMapper]="{
        required:
          'field_is_required'
          | translate: { field: 'tdsql_chitu_monitor_ip' | translate },
        pattern: ipPattern.tip | translate
      }"
    ></alu-error-mapper>
  </aui-form-item>

  <aui-form-item>
    <label auiFormItemLabel>{{ 'tdsql_chitu_monitor_port' | translate }}</label>
    <input aui-input auiFormItemControl formControlName="metadbPort" required />
    <div auiFormItemAddon>
      <aui-icon
        icon="basic:question"
        [auiTooltipPosition]="'start bottom'"
        [auiTooltip]="'tdsql_tooltip_monitoring_library_port' | translate"
      ></aui-icon>
    </div>
    <alu-error-mapper
      auiFormItemError
      [errors]="form.get('metadbPort').errors"
      [errorsMapper]="{
        required:
          'field_is_required'
          | translate: { field: 'tdsql_chitu_monitor_port' | translate },
        pattern: portPattern.tip | translate
      }"
    ></alu-error-mapper>
  </aui-form-item>

  <aui-form-item>
    <label auiFormItemLabel>
      {{ 'tdsql_chitu_standby_monitor_ip' | translate }}
    </label>
    <input aui-input auiFormItemControl formControlName="metadbIpBak" />
    <div auiFormItemAddon>
      <aui-icon
        icon="basic:question"
        [auiTooltipPosition]="'start bottom'"
        [auiTooltip]="'tdsql_tooltip_monitoring_library_slave_ip' | translate"
      ></aui-icon>
    </div>
    <alu-error-mapper
      auiFormItemError
      [errors]="form.get('metadbIpBak').errors"
      [errorsMapper]="{
        pattern: ipPattern.tip | translate
      }"
    ></alu-error-mapper>
  </aui-form-item>

  <aui-form-item>
    <label auiFormItemLabel>
      {{ 'tdsql_chitu_standby_monitor_port' | translate }}
    </label>
    <input aui-input auiFormItemControl formControlName="metadbPortBak" />
    <div auiFormItemAddon>
      <aui-icon
        icon="basic:question"
        [auiTooltipPosition]="'start bottom'"
        [auiTooltip]="'tdsql_tooltip_monitoring_library_slave_port' | translate"
      ></aui-icon>
    </div>
    <alu-error-mapper
      auiFormItemError
      [errors]="form.get('metadbPortBak').errors"
      [errorsMapper]="{
        pattern: portPattern.tip | translate
      }"
    ></alu-error-mapper>
  </aui-form-item>

  <aui-form-item>
    <label auiFormItemLabel>
      {{ 'tdsql_chitu_monitor_username' | translate }}
    </label>
    <input aui-input auiFormItemControl formControlName="metadbUser" required />
    <div auiFormItemAddon>
      <aui-icon
        icon="basic:question"
        [auiTooltipPosition]="'start bottom'"
        [auiTooltip]="'tdsql_tooltip_monitoring_library_username' | translate"
      ></aui-icon>
    </div>
    <alu-error-mapper
      auiFormItemError
      [errors]="form.get('metadbUser').errors"
      [errorsMapper]="{
        required:
          'field_is_required'
          | translate: { field: 'tdsql_chitu_monitor_username' | translate }
      }"
    ></alu-error-mapper>
  </aui-form-item>

  <aui-form-item>
    <label auiFormItemLabel>
      {{ 'tdsql_chitu_monitor_password' | translate }}
    </label>
    <input
      aui-input
      auiFormItemControl
      formControlName="metadbPassword"
      required
    />
    <div auiFormItemAddon>
      <aui-icon
        icon="basic:question"
        [auiTooltipPosition]="'start bottom'"
        [auiTooltip]="'tdsql_tooltip_monitoring_library_password' | translate"
      ></aui-icon>
    </div>
    <alu-error-mapper
      auiFormItemError
      [errors]="form.get('metadbPassword').errors"
      [errorsMapper]="{
        required:
          'field_is_required'
          | translate: { field: 'tdsql_chitu_monitor_password' | translate }
      }"
    ></alu-error-mapper>
  </aui-form-item>
</form>
