.section {
  &-header {
    position: relative;
    padding-left: 12px;
    margin: 16px 0;
    font-size: 16px;
    font-weight: 500;
    color: #4d4d4d;

    &:before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      border-left: 4px solid #006eff;
    }
  }
}

.footer {
  margin-top: 12px;
}

.notification {
  padding: 0 23px;
  color: #6554c0;
}
