<section class="section">
  <div class="section-header">{{ 'config' | translate }}</div>
  <form
    #ngForm="ngForm"
    [formGroup]="form"
    auiForm
    auiFormLabelWidth="138px"
    auiFormLabelPosition="right"
  >
    <aui-form-item>
      <label auiFormItemLabel>{{ 'control_db_host' | translate }}</label>
      <input
        formControlName="control_db_host"
        auiFormItemControl
        aui-input
        [pattern]="ipPattern.pattern"
        required
      />
      <alu-error-mapper
        auiFormItemError
        [errors]="form.get('control_db_host').errors"
        [errorsMapper]="{
          required: 'field_required' | translate,
          pattern: ipPattern.tip | translate
        }"
      ></alu-error-mapper>
    </aui-form-item>

    <aui-form-item>
      <label auiFormItemLabel>{{ 'control_db_port' | translate }}</label>
      <input
        formControlName="control_db_port"
        auiFormItemControl
        aui-input="number"
        [pattern]="portPattern.pattern"
        required
      />
      <alu-error-mapper
        auiFormItemError
        [errors]="form.get('control_db_port').errors"
        [errorsMapper]="{
          required: 'field_required' | translate,
          pattern: portPattern.tip | translate
        }"
      ></alu-error-mapper>
    </aui-form-item>

    <aui-form-item>
      <label auiFormItemLabel>{{ 'control_db_user' | translate }}</label>
      <input
        formControlName="control_db_user"
        auiFormItemControl
        aui-input
        required
      />
      <alu-error-mapper
        auiFormItemError
        [errors]="form.get('control_db_user').errors"
        [errorsMapper]="{
          required: 'field_required' | translate
        }"
      ></alu-error-mapper>
    </aui-form-item>

    <aui-form-item>
      <label auiFormItemLabel>{{ 'control_db_password' | translate }}</label>
      <input
        formControlName="control_db_password"
        auiFormItemControl
        aui-input
        required
      />
      <alu-error-mapper
        auiFormItemError
        [errors]="form.get('control_db_password').errors"
        [errorsMapper]="{
          required: 'field_required' | translate
        }"
      ></alu-error-mapper>
    </aui-form-item>

    <aui-form-item>
      <label auiFormItemLabel>LVS_VIP</label>
      <input
        formControlName="lvs_vip"
        auiFormItemControl
        aui-input
        [pattern]="ipPattern.pattern"
        [required]="deployMode === 2"
      />
      <alu-error-mapper
        auiFormItemError
        [errors]="form.get('lvs_vip').errors"
        [errorsMapper]="{
          pattern: ipPattern.tip | translate,
          required: 'field_required' | translate
        }"
      ></alu-error-mapper>
    </aui-form-item>

    <aui-form-item>
      <label auiFormItemLabel>
        {{ 'lvs_network_interface_card' | translate }}
      </label>
      <input
        formControlName="lvs_network_interface_card"
        auiFormItemControl
        aui-input
        required
      />
      <alu-error-mapper
        auiFormItemError
        [errors]="form.get('lvs_network_interface_card').errors"
        [errorsMapper]="{
          required: 'field_required' | translate
        }"
      ></alu-error-mapper>
    </aui-form-item>
  </form>
</section>
