<aui-dialog-header>
  {{ 'update_node_taints' | translate }}
</aui-dialog-header>

<aui-dialog-content>
  <form #form="ngForm">
    <alu-node-taint-fieldset
      name="taint"
      auiFormItemControl
      [(ngModel)]="taints"
    ></alu-node-taint-fieldset>
  </form>
</aui-dialog-content>

<aui-dialog-footer>
  <button
    aui-button="primary"
    [loading]="submitting"
    [disabled]="submitting"
    (click)="confirm()"
  >
    {{ 'confirm' | translate }}
  </button>
  <button aui-button [disabled]="submitting" (click)="cancel()">
    {{ 'cancel' | translate }}
  </button>
</aui-dialog-footer>
