<aui-dialog-header>
  {{ 'add_cluster_feature_gate' | translate }}
</aui-dialog-header>
<aui-dialog-content>
  <form ngForm #form="ngForm" auiFormLabelWidth="114px">
    <aui-form-item>
      <label auiFormItemLabel>{{ 'cluster' | translate }}</label>
      <span auiFormItemControl>{{ cluster }}</span>
    </aui-form-item>
    <aui-form-item>
      <label auiFormItemLabel>{{ 'feature' | translate }}</label>
      <aui-select
        auiFormItemControl
        name="fg"
        [(ngModel)]="selectedFg"
        required
      >
        <aui-option
          *ngFor="let fg of selectableFg"
          [label]="fg.metadata.name"
          [value]="fg"
        >
          {{ fg.metadata.name }}
        </aui-option>
        <aui-option-placeholder>
          {{ 'no_data' | translate }}
        </aui-option-placeholder>
      </aui-select>
      <alu-error-mapper
        auiFormItemError
        [errors]="selectedFg ? null : { required: true }"
      ></alu-error-mapper>
    </aui-form-item>
    <ng-container *ngIf="selectedFg">
      <aui-form-item>
        <label auiFormItemLabel>{{ 'feature_gate_stage' | translate }}</label>
        <span auiFormItemControl>
          {{ selectedFg?.spec?.stage | aclFieldNotAvailable }}
        </span>
      </aui-form-item>
      <aui-form-item>
        <label auiFormItemLabel>{{ 'dependencies' | translate }}</label>
        <span auiFormItemControl>
          {{
            selectedFg.spec.dependency?.featureGates?.join(', ')
              | aclFieldNotAvailable
          }}
        </span>
      </aui-form-item>
      <aui-form-item>
        <label auiFormItemLabel>{{ 'description' | translate }}</label>
        <span auiFormItemControl>
          {{ selectedFg?.spec?.description | aclFieldNotAvailable }}
        </span>
      </aui-form-item>
    </ng-container>
  </form>
</aui-dialog-content>
<aui-dialog-footer>
  <button
    aui-button="primary"
    [disabled]="loading"
    [loading]="loading"
    (click)="confirm()"
  >
    {{ 'add' | translate }}
  </button>
  <button aui-button [disabled]="loading" [loading]="loading" auiDialogClose>
    {{ 'cancel' | translate }}
  </button>
</aui-dialog-footer>
