@import 'var';

:host {
  display: flex;
  span {
    max-width: 80%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  aui-icon {
    margin-left: 8px;
    cursor: pointer;
    color: $color-primary;
  }
}
