<div class="deploy-steps">
  <alu-steps-process [steps]="steps" [currStep]="currStep"></alu-steps-process>
</div>

<alu-host-config
  [hidden]="currStep !== 1"
  (clusterChange)="clusterChange($event)"
  [nodes]="nodes$ | async"
></alu-host-config>
<alu-preinstallation-service-config
  [hidden]="currStep !== 2"
  [hosts]="hostConfigModel | pure: getHosts"
  [nodes]="nodes$ | async"
></alu-preinstallation-service-config>
<alu-platform-args-config
  [hidden]="currStep !== 3"
  [version]="version"
  [hosts]="hostConfigModel | pure: getHosts"
  [nodes]="nodes$ | async"
></alu-platform-args-config>

<footer class="form__footer">
  <button
    aui-button="primary"
    [plain]="true"
    *ngIf="currStep !== 1"
    (click)="prev()"
  >
    {{ 'prev_step' | translate }}
  </button>
  <button aui-button="primary" *ngIf="currStep !== 3" (click)="next()">
    {{ 'next_step' | translate }}
  </button>
  <button
    aui-button="primary"
    [disabled]="submitting"
    [loading]="submitting"
    *ngIf="currStep === 3"
    (click)="deploy()"
  >
    {{ 'deploy' | translate }}
  </button>
  <button aui-button type="button" (click)="goBack()">
    {{ 'cancel' | translate }}
  </button>
</footer>
