<aui-card>
  <div auiCardHeader>
    {{ 'idp_server_setting_check' | translate }}
  </div>
  <form auiForm [formGroup]="form" auiFormLabelWidth="114px">
    <aui-form-item>
      <label auiFormItemLabel>{{ 'username' | translate }}</label>
      <ng-container required auiFormItemControl>
        <input
          aui-input
          [placeholder]="'idp_username_placeholder' | translate"
          formControlName="username"
        />
      </ng-container>
      <alu-error-mapper
        auiFormItemError
        [errors]="form.controls['username'].errors"
        [errorsMapper]="{
          required:
            'field_is_required' | translate: { field: 'username' | translate }
        }"
      ></alu-error-mapper>
    </aui-form-item>
    <aui-form-item>
      <label auiFormItemLabel>{{ 'password' | translate }}</label>
      <ng-container required auiFormItemControl>
        <input
          aui-input
          [placeholder]="'idp_password_placeholder' | translate"
          formControlName="password"
        />
      </ng-container>
      <alu-error-mapper
        auiFormItemError
        [errors]="form.controls['password'].errors"
        [errorsMapper]="{
          required:
            'field_is_required' | translate: { field: 'password' | translate }
        }"
      ></alu-error-mapper>
    </aui-form-item>
  </form>
</aui-card>
