.section {
  &-checked {
    width: 28px;
  }
  &-header {
    display: flex;
  }
  &-title {
    margin-bottom: 16px;
    &-main {
      font-size: 14px;
      font-weight: 500;
      color: #333;
    }
    &-description {
      font-size: 12px;
      color: #999;
      margin-top: 4px;
    }
  }
}
