<div class="section">
  <div class="section-header">
    <div *ngIf="isOptional" class="section-checked">
      <aui-checkbox
        [(ngModel)]="checked"
        (ngModelChange)="stateChange.emit($event)"
        [disabled]="disabled"
      ></aui-checkbox>
    </div>
    <div class="section-title">
      <div class="section-title-main">
        {{ sectionTitle }}
      </div>
      <div class="section-title-description">
        {{ sectionDescription }}
      </div>
    </div>
  </div>

  <div class="content" *ngIf="checked || !isOptional">
    <ng-content></ng-content>
  </div>
</div>
