:host {
  .load-bar {
    text-align: center;
    line-height: 50px;
    aui-icon {
      margin-right: 5px;
    }
  }
  .name {
    font-size: 16px;
    line-height: 22px;
  }
  .aui-table {
    &__cell__display-name {
      font-size: 12px;
      line-height: 16px;
      margin-top: 2px;
      color: #999;
    }
    &__column-detail {
      flex: 0 0 80px;
    }
  }
}
