<aui-table
  auiSort
  [dataSource]="list$ | async"
  active="cpu"
  direction="desc"
  (sortChange)="sortData($event)"
>
  <ng-container auiTableColumnDef="name">
    <aui-table-header-cell *auiTableHeaderCellDef aui-sort-header>
      <div *ngIf="groupBy === 'project'">
        {{ 'project_name' | translate }}
      </div>
      <div *ngIf="groupBy === 'namespace'">
        {{ 'namespace_name' | translate }}
      </div>
    </aui-table-header-cell>
    <aui-table-cell *auiTableCellDef="let item">
      <div class="name">
        <div *ngIf="groupBy === 'project'">
          {{ item.project.name | aclFieldNotAvailable }}
          <div class="aui-table__cell__display-name">
            {{ item.project.displayName }}
          </div>
        </div>
        <div *ngIf="groupBy === 'namespace'">
          {{ item.namespace.name | aclFieldNotAvailable }}
          <div class="aui-table__cell__display-name">
            {{ item.namespace.displayName }}
          </div>
        </div>
      </div>
    </aui-table-cell>
  </ng-container>
  <ng-container auiTableColumnDef="cluster">
    <aui-table-header-cell *auiTableHeaderCellDef>
      {{ 'cluster_belonged' | translate }}
    </aui-table-header-cell>
    <aui-table-cell *auiTableCellDef="let item">
      {{ item.cluster.name }}
    </aui-table-cell>
  </ng-container>
  <ng-container auiTableColumnDef="project">
    <aui-table-header-cell *auiTableHeaderCellDef aui-sort-header>
      {{ 'project_belonged' | translate }}
    </aui-table-header-cell>
    <aui-table-cell *auiTableCellDef="let item">
      {{ item.project.name }}
    </aui-table-cell>
  </ng-container>
  <ng-container auiTableColumnDef="cpu">
    <aui-table-header-cell *auiTableHeaderCellDef aui-sort-header>
      {{ 'cpu_used_all' | translate }} ({{ 'core_plus_hour' | translate }})
    </aui-table-header-cell>
    <aui-table-cell *auiTableCellDef="let item">
      {{ item.meter.cpu | number: '1.2-2' }}
    </aui-table-cell>
  </ng-container>
  <ng-container auiTableColumnDef="memory">
    <aui-table-header-cell *auiTableHeaderCellDef aui-sort-header>
      {{ 'memory_used_all' | translate }} ({{ 'gb_plus_hour' | translate }})
    </aui-table-header-cell>
    <aui-table-cell *auiTableCellDef="let item">
      {{ item.meter.memory | number: '1.2-2' }}
    </aui-table-cell>
  </ng-container>
  <ng-container auiTableColumnDef="detail">
    <aui-table-header-cell *auiTableHeaderCellDef></aui-table-header-cell>
    <aui-table-cell *auiTableCellDef="let item">
      <button
        aui-button="text"
        [disabled]="groupBy === 'namespace' && !item.project.name"
        [auiTooltip]="'meter_namespace_detail_disabled_tip' | translate"
        [auiTooltipDisabled]="groupBy !== 'namespace' || item.project.name"
        [routerLink]="['/manage-platform/meter/detail']"
        [queryParams]="{
          type: type,
          project: item.project.name,
          namespace: item.namespace.name,
          cluster: item.cluster.name,
          startTime: item.startTime?.slice(0, 10)
        }"
      >
        {{ 'meter_detail_text' | translate }}
      </button>
    </aui-table-cell>
  </ng-container>
  <aui-table-header-row *auiTableHeaderRowDef="columns"></aui-table-header-row>
  <aui-table-row *auiTableRowDef="let row; columns: columns"></aui-table-row>
</aui-table>
<div class="load-bar">
  <ng-container *ngIf="!(loading$ | async) && !(list$ | async)?.length">
    {{ 'no_data' | translate }}
  </ng-container>
  <ng-container *ngIf="loading$ | async">
    <aui-icon icon="spinner"></aui-icon>
  </ng-container>
  <ng-container *ngIf="next">
    <span style="cursor: pointer;" (click)="loadMore()">
      {{ 'load_more' | translate }}
    </span>
  </ng-container>
</div>
