@import 'var';
.content {
  width: 100%;
  position: relative;
  .tip {
    position: absolute;
    top: 26px;
    color: $color-text-help;
    font-size: 12px;
  }
}
.log-form-item {
  display: block;
  padding-top: 10px;
}
aui-number-input {
  margin-right: 4px;
}
