<aui-dialog-header>
  {{ 'update_log_policy' | translate }}
</aui-dialog-header>

<aui-dialog-content>
  <aui-inline-alert type="warning">
    {{ 'update_log_policy_tip' | translate }}
  </aui-inline-alert>
  <form #form="ngForm" auiForm auiFormLabelWidth="120px">
    <aui-form-item>
      <label auiFormItemLabel>
        {{ 'log_policy' | translate }}
      </label>
      <div class="content">
        <aui-switch name="enable" [(value)]="viewModel.enable"></aui-switch>
        <div class="tip">
          <ng-container *ngIf="viewModel.enable; else elseTemplate">
            {{ 'global_policy_is_enabled_tip' | translate }}
          </ng-container>
          <ng-template #elseTemplate>
            {{ 'global_policy_is_not_enabled_tip' | translate }}
          </ng-template>
        </div>
      </div>
    </aui-form-item>

    <aui-form-item *ngIf="viewModel.enable" class="log-form-item">
      <label auiFormItemLabel>
        {{ 'log_retention_time' | translate }}
      </label>
      <aui-number-input
        auiFormItemControl
        required
        name="log"
        [min]="1"
        [max]="30"
        [(ngModel)]="viewModel.log"
        (ngModelChange)="valueMathCeil(viewModel.log)"
      ></aui-number-input>
      {{ 'hint_for_the_remaining_days_suffix' | translate }}
    </aui-form-item>
  </form>
</aui-dialog-content>

<aui-dialog-footer>
  <button
    aui-button="primary"
    [disabled]="submitting"
    [loading]="submitting"
    (click)="confirm(form)"
  >
    {{ 'update' | translate }}
  </button>
  <button aui-button [auiDialogClose]="false">
    {{ 'cancel' | translate }}
  </button>
</aui-dialog-footer>
