<aui-dialog-header>
  {{ 'add_role' | translate }} ({{ 'email' | translate }}:
  {{ data.user.spec.email }})
</aui-dialog-header>

<aui-dialog-content>
  <form #form="ngForm" auiForm auiFormLabelWidth="100px">
    <alu-user-role-form-table
      name="roles"
      [userEmail]="data.user.spec.email"
      [(ngModel)]="userbindings"
      [userbindingNameList]="data.userbindingNameList"
    ></alu-user-role-form-table>
  </form>
</aui-dialog-content>

<aui-dialog-footer>
  <button aui-button="primary" (click)="update(form)">
    {{ 'add' | translate }}
  </button>
  <button aui-button (click)="cancel()">
    {{ 'cancel' | translate }}
  </button>
</aui-dialog-footer>
