<aui-card [divider]="false">
  <div auiCardHeader>
    {{ 'node_list' | translate }}
    <aui-icon
      class="create-tip"
      icon="basic:question"
      [auiTooltip]="createTip"
      color="#999"
    ></aui-icon>
  </div>
  <aui-table [dataSource]="list.items$">
    <ng-container auiTableColumnDef="name">
      <aui-table-header-cell *auiTableHeaderCellDef>
        {{ 'name' | translate }}
      </aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let item">
        <div *ngIf="item.type === TYPE_TKE_MACHINE" class="tke-name">
          {{ item.spec.ip }}
        </div>
        <a
          *ngIf="item.type !== TYPE_TKE_MACHINE"
          [routerLink]="[
            '/manage-platform/cluster/detail',
            clusterName,
            item | aclName
          ]"
          [queryParams]="{ isOCP: isOCP, isBaremetal: isBaremetal }"
        >
          {{ item | aclName }}
        </a>
        <div class="table-cell__label-container aui-table__cell__display-name">
          <ng-container *ngIf="item.type !== TYPE_TKE_MACHINE">
            {{
              (item | aclDisplayName) || item.displayName | aclFieldNotAvailable
            }}
          </ng-container>
          <ng-container *ngIf="item.type === TYPE_TKE_MACHINE">
            {{ item | aclDisplayName }}
          </ng-container>
        </div>
      </aui-table-cell>
    </ng-container>
    <ng-container auiTableColumnDef="status">
      <aui-table-header-cell *auiTableHeaderCellDef>
        {{ 'node_status' | translate }}
      </aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let item">
        <alu-status-icon
          [status]="
            item.type !== TYPE_TKE_MACHINE
              ? (item | pure: getNodeStatus)
              : NodeStatusEnum.adding
          "
        ></alu-status-icon>
        {{
          (item.type !== TYPE_TKE_MACHINE
            ? (item | pure: getNodeStatus)
            : NodeStatusEnum.adding
          ) | translate
        }}
      </aui-table-cell>
    </ng-container>
    <ng-container auiTableColumnDef="privateIp">
      <aui-table-header-cell *auiTableHeaderCellDef>
        {{ 'node_ip' | translate }}
      </aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let item">
        <ng-container *ngIf="item.type !== TYPE_TKE_MACHINE">
          {{ item | pure: getPrivateIp }}
        </ng-container>
        <ng-container *ngIf="item.type === TYPE_TKE_MACHINE">
          {{ item.spec.ip }}
        </ng-container>
      </aui-table-cell>
    </ng-container>
    <ng-container auiTableColumnDef="deployComponent">
      <aui-table-header-cell *auiTableHeaderCellDef>
        {{ 'deploy_component' | translate }}
      </aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let item">
        <ng-container>
          {{
            ((item | aclLabel: nodeLabel) === 'enabled' ? 'yes' : 'no')
              | translate
          }}
        </ng-container>
      </aui-table-cell>
    </ng-container>
    <ng-container auiTableColumnDef="nodeType">
      <aui-table-header-cell *auiTableHeaderCellDef>
        {{ 'cluster_node_type' | translate }}
      </aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let item">
        <ng-container *ngIf="item.type !== TYPE_TKE_MACHINE">
          {{ (item | pure: getNodeType) ? 'master' : 'node' }}
        </ng-container>
        <ng-container *ngIf="item.type === TYPE_TKE_MACHINE">-</ng-container>
      </aui-table-cell>
    </ng-container>
    <ng-container auiTableColumnDef="schedule">
      <aui-table-header-cell *auiTableHeaderCellDef>
        {{ 'cluster_node_schedule_schedule' | translate }}
      </aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let item">
        <ng-container *ngIf="item.type !== TYPE_TKE_MACHINE">
          {{ (item.spec.unschedulable ? 'no' : 'yes') | translate }}
        </ng-container>
        <ng-container *ngIf="item.type === TYPE_TKE_MACHINE">-</ng-container>
      </aui-table-cell>
    </ng-container>
    <ng-container auiTableColumnDef="cpu">
      <aui-table-header-cell *auiTableHeaderCellDef>
        {{ 'cluster_cpus_percent' | translate }}
      </aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let item">
        <ng-container
          *ngIf="nodeCpuMemMap[item.metadata.name] as nodeCpuMem; else elseTmp"
        >
          <span
            *ngIf="nodeCpuMem.cpu_usage_rate; else elseTmp"
            [ngClass]="{
              warning:
                nodeCpuMem.cpu_usage_rate > 70 &&
                nodeCpuMem.cpu_usage_rate <= 90,
              alert: nodeCpuMem.cpu_usage_rate > 90
            }"
          >
            {{ nodeCpuMem.cpu_usage_rate }}%
          </span>
          <div
            *ngIf="nodeCpuMem.cpu_total"
            class="table-cell__label-container aui-table__cell__display-name"
          >
            {{ nodeCpuMem.cpu_usage }}/{{ nodeCpuMem.cpu_total
            }}{{ 'core' | translate }}
          </div>
        </ng-container>
      </aui-table-cell>
    </ng-container>
    <ng-container auiTableColumnDef="memory">
      <aui-table-header-cell *auiTableHeaderCellDef>
        {{ 'cluster_mem_percent' | translate }}
      </aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let item">
        <ng-container
          *ngIf="nodeCpuMemMap[item.metadata.name] as nodeCpuMem; else elseTmp"
        >
          <span
            *ngIf="nodeCpuMem.memory_usage_rate; else elseTmp"
            [ngClass]="{
              warning:
                nodeCpuMem.memory_usage_rate > 70 &&
                nodeCpuMem.memory_usage_rate <= 90,
              alert: nodeCpuMem.memory_usage_rate > 90
            }"
          >
            {{ nodeCpuMem.memory_usage_rate }}%
          </span>
          <div
            *ngIf="nodeCpuMem.memory_total"
            class="table-cell__label-container aui-table__cell__display-name"
          >
            {{ nodeCpuMem.memory_usage }}/{{ nodeCpuMem.memory_total }}Gi
          </div>
        </ng-container>
      </aui-table-cell>
    </ng-container>
    <aui-table-header-row
      *auiTableHeaderRowDef="columns"
    ></aui-table-header-row>
    <aui-table-row *auiTableRowDef="let row; columns: columns"></aui-table-row>
  </aui-table>
  <acl-k8s-resource-list-footer [list]="list"></acl-k8s-resource-list-footer>
</aui-card>

<ng-template #createTip>
  <div>· {{ 'utilization_calc_tip' | translate }}</div>
  <div>· {{ 'prometheus_not_deployed_tip' | translate }}</div>
</ng-template>

<ng-template #elseTmp>-</ng-template>
