<div
  class="cluster-badge"
  #tooltipAnchor
  [class.no-clusters]="(clusterLength$ | async) === 0"
>
  <div
    class="left-badge"
    (click)="goToDetail()"
    [class.has-selected-cluster]="selectedCluster | aclName"
    title="{{ 'current_cluster' | translate }}"
  >
    <aui-icon icon="basic:server_s"></aui-icon>
  </div>

  <div
    #clusterSelectAnchor
    [fxShow]="clusterLength$ | async"
    class="right-badge"
    [auiDropdown]="clustersMenu"
    auiDropdownPosition="bottom start"
  >
    <div class="display-name">
      <span [title]="selectedCluster | aclName | pure: getDisplayNameLabel">
        {{ selectedCluster | aclName }}
      </span>
    </div>
    <aui-icon
      *ngIf="clusterLength$ | async"
      size="16px"
      icon="caret_down_s"
      class="expand-icon"
    ></aui-icon>
    <aui-menu #clustersMenu size="medium">
      <div class="aui-menu__scrollable-wrapper">
        <aui-search
          class="cluster-badge__search"
          (click)="searchName($event)"
          [searchButton]="false"
          placeholder="{{ 'filter_by_name_placeholder' | translate }}"
          (search)="onSearch($event)"
          (keywordChange)="onSearch($event)"
        ></aui-search>
        <aui-menu-item
          *ngFor="
            let cluster of filteredClusters$ | async;
            trackBy: trackByName
          "
          (click)="onClusterSelected(cluster)"
          [actived]="(selectedCluster | aclName) === (cluster | aclName)"
        >
          <span>{{ cluster | aclName }}</span>
          <span
            *ngIf="cluster | aclDisplayName"
            class="alu-cluster-select__display-name"
          >
            ({{ cluster | aclDisplayName }})
          </span>
        </aui-menu-item>
      </div>
    </aui-menu>
  </div>

  <div
    *ngIf="(clusterLength$ | async) === 0"
    class="no-cluster-hint right-badge"
  >
    {{ 'cluster_none' | translate }}
  </div>
</div>
