@import 'var';

.card-section {
  &__title {
    color: $color-text-main;
    font-size: $font-size-large;
    line-height: $line-height-large;
    padding-left: 16px;
    margin-top: 16px;
    margin-bottom: 16px;
  }
}

.bordered > .card-section {
  &__title {
    border-left: 4px solid $card-border-color;
  }
}
