:host {
  ::ng-deep {
    .aui-tag__content {
      max-width: 240px;
    }
    .aui-form-item__label-wrapper {
      width: 114px !important;
    }
    .aui-multi-select {
      line-height: 0;
    }
    .aui-form-item__content {
      aui-multi-select,
      aui-select {
        flex: 1;
      }
      > aui-input-group {
        display: inline-block;
        width: 100%;
      }
    }
  }
}
