<form auiForm [formGroup]="form">
  <aui-form-item>
    <label auiFormItemLabel>{{ 'type' | translate }}</label>
    <ng-container required auiFormItemControl>
      <aui-select formControlName="method">
        <aui-option
          *ngFor="let method of methods"
          [value]="method"
          [label]="method | translate"
        >
          {{ method | translate }}
        </aui-option>
      </aui-select>
    </ng-container>
  </aui-form-item>
  <aui-form-item>
    <label auiFormItemLabel>
      {{ 'notification_object' | translate }}
    </label>
    <ng-container required auiFormItemControl>
      <aui-multi-select
        formControlName="receivers"
        [loading]="!(receivers$ | async)"
      >
        <aui-option
          *ngFor="let receiver of filterReceivers$ | async"
          [value]="receiver | aclName"
          [label]="receiver | pure: getReceiverLabel"
        >
          {{ receiver | pure: getReceiverLabel }}
        </aui-option>
        <aui-option-placeholder>
          {{ 'no_data' | translate }}
        </aui-option-placeholder>
      </aui-multi-select>
      <button
        type="button"
        aui-button
        style="margin-left: 8px;"
        (click)="addObject()"
      >
        {{ 'add_notification_object' | translate }}
      </button>
    </ng-container>
    <alu-error-mapper
      auiFormItemError
      [errors]="form.get('receivers').errors"
      [errorsMapper]="{
        required:
          'field_is_required'
          | translate: { field: 'notification_object' | translate }
      }"
    ></alu-error-mapper>
  </aui-form-item>
  <aui-form-item>
    <label auiFormItemLabel>
      {{ 'notification_template' | translate }}
    </label>
    <ng-container required auiFormItemControl>
      <aui-select formControlName="template" [trackFn]="templateTrackFn">
        <aui-option
          *ngFor="let template of filterTemplates$ | async"
          [value]="template | aclName"
          [label]="template | pure: getDisplayName"
        >
          {{ template | pure: getDisplayName }}
        </aui-option>
        <aui-option-placeholder>
          {{ 'no_data' | translate }}
        </aui-option-placeholder>
      </aui-select>
    </ng-container>
    <alu-error-mapper
      auiFormItemError
      [errors]="form.get('template').errors"
      [errorsMapper]="{
        required:
          'field_is_required'
          | translate: { field: 'notification_template' | translate }
      }"
    ></alu-error-mapper>
  </aui-form-item>
  <aui-form-item
    [hidden]="
      form.get('method').value !== 'email' && form.get('method').value !== 'sms'
    "
  >
    <label auiFormItemLabel>{{ 'sender' | translate }}</label>
    <ng-container required auiFormItemControl>
      <aui-select formControlName="sender" [trackFn]="senderTrackFn">
        <aui-option
          *ngFor="let sender of filterSenders$ | async"
          [value]="sender | aclName"
          [label]="sender | pure: getSenderName"
        >
          {{ sender | pure: getSenderName }}
        </aui-option>
        <aui-option-placeholder>
          {{ 'no_data' | translate }}
        </aui-option-placeholder>
      </aui-select>
    </ng-container>
    <alu-error-mapper
      auiFormItemError
      [errors]="form.get('sender').errors"
      [errorsMapper]="{
        required:
          'field_is_required' | translate: { field: 'sender' | translate }
      }"
    ></alu-error-mapper>
  </aui-form-item>
</form>
