<aui-dialog-header>
  {{ 'update_resource_quota' | translate }}
</aui-dialog-header>
<aui-dialog-content>
  <form
    #ngForm="ngForm"
    (ngSubmit)="ngForm.valid && updateResourceQuota()"
    auiForm
    auiFormLabelWidth="130px"
  >
    <alu-quota-form
      [(ngModel)]="resourceQuota"
      [updateMode]="true"
      [namespace]="params.namespace"
      [maxLimits]="maxLimits"
      [customResourceLimits]="customResourceLimits"
      [limitOrDisplay]="true"
      [updateOrCreate]="updateOrCreate"
      name="resource-quota"
    ></alu-quota-form>
  </form>
</aui-dialog-content>
<aui-dialog-footer>
  <button
    aui-button="primary"
    [disabled]="(loading$$ | async) || (loadError$$ | async)"
    [loading]="loading$$ | async"
    (click)="ngForm.onSubmit()"
  >
    {{ 'update' | translate }}
  </button>
  <button aui-button (click)="dialogRef.close()">
    {{ 'cancel' | translate }}
  </button>
</aui-dialog-footer>
