@import 'var';
:host {
  .header-icon {
    margin-right: 8px;
    font-size: 24px;
    color: $color-error;
  }
  .delete-confirm {
    margin: 0 0 16px 0;
  }
  .delete-hint {
    margin: 4px 0;
  }
  .color-danger {
    color: $color-error;
  }
  .table-wrapper {
    margin-top: 16px;
    max-height: 350px;
    overflow: auto;
  }
}
