<aui-dialog-header>
  <aui-icon class="header-icon" icon="exclamation_triangle_s"></aui-icon>
  {{ 'cluster_delete_node' | translate }}
</aui-dialog-header>

<aui-dialog-content>
  <p class="delete-confirm">
    {{
      'node_delete_confirm_prefix'
        | translate
          : {
              name: !modalData.isMachine
                ? modalData.node.metadata.name
                : modalData.node.spec.ip,
              ip: !modalData.isMachine ? modalData.ip : modalData.node.spec.ip
            }
    }}
    <span *ngIf="!modalData.isMachine && pods$ | async as pods">
      {{ 'delete_node_pod_count_prefix' | translate }}
      <span class="color-danger">{{ pods.length }}{{ 'ge' | translate }}</span>
      {{ 'delete_node_pod_count_suffix' | translate }}
    </span>
    {{ 'node_delete_confirm_suffix' | translate }}
  </p>
  <p class="delete-confirm">
    {{
      'input_name_force_delete'
        | translate
          : {
              name: !modalData.isMachine
                ? modalData.node.metadata.name
                : modalData.node.spec.ip
            }
    }}
  </p>
  <input aui-input [(ngModel)]="inputValue" />
  <div
    *ngIf="!modalData.isMachine && pods$ | async as pods"
    class="table-wrapper"
  >
    <aui-table [dataSource]="pods">
      <ng-container auiTableColumnDef="name">
        <aui-table-header-cell *auiTableHeaderCellDef>
          {{ 'pod_name' | translate }}
        </aui-table-header-cell>
        <aui-table-cell *auiTableCellDef="let item">
          {{ item | aclName }}
        </aui-table-cell>
      </ng-container>
      <ng-container auiTableColumnDef="namespace">
        <aui-table-header-cell *auiTableHeaderCellDef>
          {{ 'namespace_belonged' | translate }}
        </aui-table-header-cell>
        <aui-table-cell *auiTableCellDef="let item">
          {{ item | aclNamespace }}
        </aui-table-cell>
      </ng-container>
      <aui-table-header-row
        *auiTableHeaderRowDef="columns"
      ></aui-table-header-row>
      <aui-table-row
        *auiTableRowDef="let row; columns: columns"
      ></aui-table-row>
    </aui-table>
  </div>
</aui-dialog-content>

<aui-dialog-footer>
  <div>
    <button aui-button="text" size="small" (click)="downloadScript()">
      <aui-icon icon="basic:download"></aui-icon>
      {{ 'download_node_clean_script' | translate }}
    </button>
  </div>
  <div fxFlex></div>
  <div>
    <button
      aui-button="danger"
      [loading]="submitting"
      [disabled]="disabled"
      (click)="confirm()"
    >
      {{ 'remove' | translate }}
    </button>
    <button aui-button (click)="cancel()">
      {{ 'cancel' | translate }}
    </button>
  </div>
</aui-dialog-footer>
