<aui-dialog-header>
  {{ 'add_member' | translate }}
</aui-dialog-header>

<aui-dialog-content>
  <aui-inline-alert type="warning">
    <section>
      {{ 'add_member_description_1' | translate }}
    </section>
    <section>
      {{ 'add_member_description_2' | translate }}
    </section>
  </aui-inline-alert>
  <form #form="ngForm" auiForm auiFormLabelWidth="100px">
    <aui-form-item>
      <label auiFormItemLabel>{{ 'username' | translate }}</label>
      <input
        name="username"
        aui-input
        #usernameFiled="ngModel"
        [(ngModel)]="username"
        required
        auiFormItemControl
        [placeholder]="'please_enter_username' | translate"
      />
      <alu-error-mapper
        auiFormItemError
        [errors]="usernameFiled.errors"
        [errorsMapper]="{
          required:
            'field_is_required' | translate: { field: 'username' | translate }
        }"
      ></alu-error-mapper>
    </aui-form-item>
    <aui-form-item>
      <label auiFormItemLabel>{{ 'role' | translate }}</label>
      <aui-select
        name="role"
        [(ngModel)]="role"
        required
        auiFormItemControl
        #roleFiled="ngModel"
      >
        <aui-option
          *ngFor="let item of roleList$ | async"
          [value]="item"
          [label]="item | pure: displayName"
        >
          {{ item | pure: displayName }}
        </aui-option>
      </aui-select>
      <alu-error-mapper
        auiFormItemError
        [errors]="roleFiled.errors"
        [errorsMapper]="{
          required:
            'field_is_required' | translate: { field: 'role' | translate }
        }"
      ></alu-error-mapper>
    </aui-form-item>
  </form>
</aui-dialog-content>
<aui-dialog-footer>
  <button aui-button="primary" (click)="addMember(form)">
    {{ 'add' | translate }}
  </button>
  <button aui-button (click)="cancel()">
    {{ 'cancel' | translate }}
  </button>
</aui-dialog-footer>
