:host {
  .aui-table {
    &__column-rules {
      a {
        cursor: pointer;
      }
    }
    &__column-action {
      flex: 0 0 80px;
    }
  }
}

::ng-deep .aui-tooltip.aui-tooltip--alarm_rule_list {
  max-width: 800px !important;
  max-height: 400px;
  overflow: scroll;
}

.alarm-table-rules {
  border-collapse: collapse;
  td {
    &:first-child {
      min-width: 200px;
    }
    &:nth-of-type(2) {
      min-width: 100px;
    }
    &:last-child {
      min-width: 100px;
    }

    padding: 6px 8px;
  }
  &__body {
    font-size: 14px;
    color: #333;
    tr:not(:last-child) {
      border-bottom: 1px dashed #e8e8e8;
    }
  }
}
