<ng-container *aluPageHeaderContent>
  <aui-breadcrumb>
    <aui-breadcrumb-item>
      <span>{{ 'alarm' | translate }}</span>
    </aui-breadcrumb-item>
    <aui-breadcrumb-item>
      <span>{{ 'alerttemplate' | translate }}</span>
    </aui-breadcrumb-item>
  </aui-breadcrumb>
</ng-container>

<aui-card [divider]="false">
  <div fxLayout auiCardHeader>
    <acl-disabled-container [isAllowed]="(permissions$ | async).create">
      <button aui-button="primary" (click)="createAlarmTemplate()">
        {{ 'alarm_template_create' | translate }}
      </button>
    </acl-disabled-container>
    <div fxFlex></div>
    <aui-search
      [searchButton]="true"
      [keyword]="searchKey$ | async"
      placeholder="{{ 'search_by_name_placeholder' | translate }}"
      (search)="searchByName($event)"
    ></aui-search>
    <button
      aui-button
      [square]="true"
      [loading]="list.loading$ | async"
      [disabled]="list.loading$ | async"
      (click)="list.reload()"
    >
      <aui-icon icon="basic:refresh"></aui-icon>
    </button>
  </div>

  <aui-table [dataSource]="list.items$" [trackBy]="trackByFn">
    <ng-container auiTableColumnDef="name">
      <aui-table-header-cell *auiTableHeaderCellDef>
        {{ 'name' | translate }}
      </aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let item">
        <a
          [routerLink]="[
            '/maintenance-center/alarm_template/detail',
            item.metadata.name
          ]"
        >
          {{ item | aclName }}
        </a>
      </aui-table-cell>
    </ng-container>
    <ng-container auiTableColumnDef="type">
      <aui-table-header-cell *auiTableHeaderCellDef>
        {{ 'resource_type' | translate }}
      </aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let item">
        {{ item | aclLabel: 'kind' | translate }}
      </aui-table-cell>
    </ng-container>
    <ng-container auiTableColumnDef="rules">
      <aui-table-header-cell *auiTableHeaderCellDef>
        {{ 'alarm_template_rules' | translate }}
      </aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let item">
        <a
          [auiTooltip]="ruleDetail"
          auiTooltipType="info"
          auiTooltipTrigger="click"
          auiTooltipClass="aui-tooltip--alarm_rule_list"
          [auiTooltipContext]="{ rules: parseRules(item.spec.templates) }"
        >
          {{ item.spec.templates?.length }}
        </a>
      </aui-table-cell>
    </ng-container>
    <ng-container auiTableColumnDef="alarm_action">
      <aui-table-header-cell *auiTableHeaderCellDef>
        {{ 'alarm_rules_action' | translate }}
      </aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let item">
        <alu-tags-label
          [tagList]="
            item
              | aclAnnotation: 'notifications':'alert'
              | pure: parseNotifications
          "
        ></alu-tags-label>
      </aui-table-cell>
    </ng-container>
    <ng-container auiTableColumnDef="create_time">
      <aui-table-header-cell *auiTableHeaderCellDef>
        {{ 'create_time' | translate }}
      </aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let rowData">
        <alu-relative-time
          [time]="rowData.metadata.creationTimestamp"
        ></alu-relative-time>
      </aui-table-cell>
    </ng-container>
    <ng-container auiTableColumnDef="action">
      <aui-table-header-cell *auiTableHeaderCellDef></aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let item">
        <button
          aui-button="text"
          [square]="true"
          [plain]="true"
          size="small"
          [auiDropdown]="menu"
        >
          <aui-icon icon="basic:ellipsis_v_s"></aui-icon>
        </button>
        <aui-menu #menu size="small">
          <acl-disabled-container [isAllowed]="(permissions$ | async).update">
            <aui-menu-item (click)="updateAlarmTemplate(item)">
              {{ 'update' | translate }}
            </aui-menu-item>
          </acl-disabled-container>
          <acl-disabled-container [isAllowed]="(permissions$ | async).delete">
            <aui-menu-item (click)="deleteAlarmTemplate(item)">
              {{ 'delete' | translate }}
            </aui-menu-item>
          </acl-disabled-container>
        </aui-menu>
      </aui-table-cell>
    </ng-container>
    <aui-table-header-row
      *auiTableHeaderRowDef="columns"
    ></aui-table-header-row>
    <aui-table-row *auiTableRowDef="let row; columns: columns"></aui-table-row>
  </aui-table>
  <acl-k8s-resource-list-footer [list]="list"></acl-k8s-resource-list-footer>
</aui-card>

<ng-template #ruleDetail let-rules="rules">
  <div class="alarm-table">
    <table class="alarm-table-rules">
      <thead class="alarm-table-rules__header">
        <tr>
          <td>{{ 'rule' | translate }}</td>
          <td>{{ 'alarm_type' | translate }}</td>
          <td>{{ 'level' | translate }}</td>
        </tr>
      </thead>
      <tbody class="alarm-table-rules__body">
        <tr *ngFor="let rule of rules">
          <td class="alarm-table-rules__body__host">
            <div>{{ getRule(rule, metricType) }}</div>
          </td>
          <td>
            {{ rule.metric_name | pure: getAlarmTypeTitle | translate }}
          </td>
          <td>
            <div>
              {{ rule.labels?.severity | aclFieldNotAvailable }}
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</ng-template>
