:host {
  ::ng-deep {
    aui-dialog-content {
      font-size: 14px;
      td,
      th {
        padding: 0;
      }

      * {
        box-sizing: border-box;
        line-height: 26px;
        list-style: inherit;
      }

      a {
        background-color: transparent;
        color: #4078c0;
        text-decoration: none;
      }

      a:active,
      a:hover {
        outline: 0;
        text-decoration: underline;
      }

      hr {
        overflow: hidden;
        border: 0;
        border-bottom: 1px solid #ddd;
        height: 4px;
        padding: 0;
        margin: 16px 0;
        background-color: #e7e7e7;
      }

      hr:before {
        display: table;
        content: '';
      }

      hr:after {
        display: table;
        clear: both;
        content: '';
      }

      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        margin-top: 15px;
        line-height: 1.1;
        color: #000;
      }

      ol {
        list-style-type: decimal;
      }

      ol,
      ul,
      .toc-list ul {
        padding-left: 17px;
      }

      .toc-list ul li > ul {
        padding-left: 24px;
      }

      li > p {
        margin-top: 16px;
      }

      dl {
        padding: 0;
      }

      dl dt {
        padding: 0;
        margin-top: 16px;
        font-size: 1em;
        font-style: italic;
        font-weight: 700;
      }

      dl dd {
        padding: 0 16px;
        margin-bottom: 16px;
      }

      blockquote {
        padding: 0 15px;
        color: #777;
        border-left: 4px solid #ddd;
      }

      blockquote > :first-child {
        margin-top: 0;
      }

      blockquote > :last-child {
        margin-bottom: 0;
      }

      table {
        border-collapse: collapse;
        border-spacing: 0;
        display: block;
        width: 100%;
        overflow: auto;
        word-break: normal;
        word-break: keep-all;
      }

      table th {
        background-color: #fafafa;
        font-weight: 700;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      table td,
      table th {
        padding: 2px 15px;
        word-wrap: break-word;
        box-sizing: border-box;
        text-align: left;
      }

      table td {
        padding: 9px 15px;
      }

      table thead th {
        word-break: inherit;
      }

      table tbody {
        border-bottom: 1px solid #d1d5de;
      }

      table tr {
        background-color: #fff;
        border-top: 1px solid #d1d5de;
      }

      img {
        border: 0;
        height: auto;
        max-width: 100%;
        box-sizing: content-box;
        background-color: #fff;
      }

      code {
        padding: 0.2em 0;
        margin-left: 3px;
        margin-right: 3px;
        background-color: rgba(0, 0, 0, 0.04);
        border-radius: 3px;
      }

      code:after,
      code:before {
        letter-spacing: -0.2em;
        content: '\00a0';
      }

      pre > code {
        padding: 0;
        margin: 0;
        font-size: 100%;
        word-break: normal;
        white-space: pre;
        background: 0 0;
        border: 0;
      }

      pre {
        word-wrap: normal;
        border-left: 10px solid #d2e7f7;
      }

      pre code {
        display: inline;
        max-width: initial;
        padding: 0;
        margin: 0;
        overflow: initial;
        line-height: inherit;
        word-wrap: normal;
        background-color: transparent;
        border: 0;
      }

      pre code:after,
      pre code:before {
        content: normal;
      }

      .highlight {
        margin-bottom: 16px;
      }

      pre,
      .highlight pre {
        padding: 16px;
        overflow: auto;
        line-height: 1.45;
        background-color: #f6f6f6;
        border-radius: 3px;
      }

      .highlight pre {
        margin-bottom: 0;
        word-break: normal;
      }

      kbd {
        display: inline-block;
        padding: 3px 5px;
        font: 11px Consolas, 'Liberation Mono', Menlo, Courier, monospace;
        line-height: 10px;
        color: #555;
        vertical-align: middle;
        background-color: #fcfcfc;
        border: 1px solid #ccc;
        border-bottom-color: #bbb;
        border-radius: 3px;
        box-shadow: inset 0 -1px 0 #bbb;
      }
    }
  }
}

.button-wrapper {
  display: inline-flex;
  margin-right: 8px;
}
