<aui-dialog-header>
  {{ modalData.clusterAddOnType.type }}
</aui-dialog-header>

<aui-dialog-content>
  <div [innerHTML]="addOnDetail | aluTrustHtml"></div>
</aui-dialog-content>

<aui-dialog-footer>
  <span
    class="button-wrapper"
    [auiTooltip]="'addon_can_not_deploy_again' | translate"
    [auiTooltipDisabled]="!modalData.disableDeploy"
  >
    <button
      aui-button="primary"
      [loading]="submitting"
      [disabled]="modalData.disableDeploy"
      (click)="deploy()"
    >
      {{ 'deploy' | translate }}
    </button>
  </span>
  <button aui-button (click)="cancel()">
    {{ 'cancel' | translate }}
  </button>
</aui-dialog-footer>
