<aui-dialog-header>
  <aui-icon class="header-icon" icon="exclamation_triangle_s"></aui-icon>
  {{ 'drain_node' | translate }}
</aui-dialog-header>

<aui-dialog-content>
  <p class="delete-hint">
    {{ 'drain_node_desc' | translate: { name: modalData.node.metadata.name } }}
  </p>
  <p>
    {{ 'drain_node_pod_count_prefix' | translate }}
    <span class="color-danger">{{ pods?.length }}{{ 'ge' | translate }}</span>
    {{ 'drain_node_pod_count_suffix' | translate }}
  </p>
  <div class="table-wrapper">
    <aui-table [dataSource]="pods">
      <ng-container auiTableColumnDef="name">
        <aui-table-header-cell *auiTableHeaderCellDef>
          {{ 'pod_name' | translate }}
        </aui-table-header-cell>
        <aui-table-cell *auiTableCellDef="let item">
          {{ item | aclName }}
        </aui-table-cell>
      </ng-container>
      <ng-container auiTableColumnDef="namespace">
        <aui-table-header-cell *auiTableHeaderCellDef>
          {{ 'namespace_belonged' | translate }}
        </aui-table-header-cell>
        <aui-table-cell *auiTableCellDef="let item">
          {{ item | aclNamespace }}
        </aui-table-cell>
      </ng-container>
      <aui-table-header-row
        *auiTableHeaderRowDef="columns"
      ></aui-table-header-row>
      <aui-table-row
        *auiTableRowDef="let row; columns: columns"
      ></aui-table-row>
    </aui-table>
  </div>
</aui-dialog-content>

<aui-dialog-footer>
  <div fxFlex></div>
  <div>
    <button
      aui-button="danger"
      [loading]="submitting"
      [disabled]="submitting"
      (click)="confirm()"
    >
      {{ 'drain' | translate }}
    </button>
    <button aui-button (click)="cancel()">
      {{ 'cancel' | translate }}
    </button>
  </div>
</aui-dialog-footer>
