@import 'var';

.node-select {
  width: 100%;
}

.cluster-select ::ng-deep .aui-option {
  height: auto;
  line-height: 28px;
}

.cluster-select-option {
  display: inline-block;
  align-items: center;
  vertical-align: top;
  line-height: 20px;
  padding: 4px 0;
  &__tip {
    color: #4d88f7;
    padding: 4px 0;
  }
  &__title {
    color: #4d88f7;
    font-size: 18px;
    padding: 4px 0;
  }
  &__desc {
    color: $color-text-help;
    line-height: 16px;
    span {
      &:after {
        content: ',';
      }
      &:last-of-type:after {
        content: '';
      }
    }
  }
  &__title—disable {
    @extend .cluster-select-option__title;

    color: #ddd;
  }
  &__desc—disable {
    @extend .cluster-select-option__desc;

    color: #ddd;
  }
}

.domain {
  display: flex;
  width: 100%;
  align-items: flex-end;
  input:first-child {
    width: 30%;
  }
}
