<ng-container [formGroup]="form">
  <aui-form-item>
    <label auiFormItemLabel>{{ 'tsf_cluster' | translate }}</label>
    <aui-select
      formControlName="selectedCluster"
      auiFormItemControl
      required
      [disabled]="disabled"
      (valueChange)="clusterChange()"
    >
      <aui-option
        class="cluster-select"
        *ngFor="let cluster of clusters$ | async"
        [value]="cluster"
        [label]="cluster.label"
        [disabled]="cluster.disableTip"
      >
        <div
          class="cluster-select-option"
          *ngIf="!cluster.disableTip; else disable"
        >
          <div class="cluster-select-option__title">
            {{ cluster.metadata.name }}
            ({{ cluster | aclDisplayName }})
          </div>
          <div class="cluster-select-option__desc">
            {{
              'cluster_select_options'
                | translate
                  : {
                      controlNode: cluster.controlNode,
                      computingNode: cluster.computingNode
                    }
            }}
          </div>
        </div>
        <ng-template #disable>
          <div
            class="cluster-select-option"
            [auiTooltip]="cluster.disableTip | translate"
            [auiTooltipPosition]="'top start'"
          >
            <div class="cluster-select-option__title-disabled">
              {{ cluster.metadata.name }}
              ({{ cluster | aclDisplayName }})
            </div>
            <div class="cluster-select-option__desc-disabled">
              {{
                'cluster_select_options'
                  | translate
                    : {
                        controlNode: cluster.controlNode,
                        computingNode: cluster.computingNode
                      }
              }}
            </div>
          </div>
        </ng-template>
      </aui-option>
    </aui-select>
    <alu-error-mapper
      auiFormItemError
      [errors]="form.get('selectedCluster')?.errors"
      [errorsMapper]="{
        nodeNumber: 'coding_cluster_node_error' | translate,
        version: 'coding_cluster_version_error' | translate
      }"
    ></alu-error-mapper>
  </aui-form-item>
  <aui-form-item>
    <label auiFormItemLabel>
      {{ 'operational_component_node' | translate }}
    </label>
    <aui-select
      formControlName="operationalNode"
      auiFormItemControl
      required
      [disabled]="disabled"
      (valueChange)="operationalNodeChange($event)"
    >
      <aui-option
        class="cluster-select"
        *ngFor="let node of form.get('selectedCluster')?.value?.nodes"
        [value]="node"
        [label]="node.label"
        (mouseenter)="node.isShowTip = true"
        (mouseleave)="node.isShowTip = false"
      >
        <div class="cluster-select-option">
          <div>
            {{ node.metadata.name }}
            <span *ngIf="node.isShowTip" class="cluster-select-option__tip">
              {{ node.disableTip | translate }}
            </span>
          </div>
          <div class="cluster-select-option__desc">
            {{
              'tsf_node_select_options'
                | translate
                  : {
                      type: getType(node),
                      nodeIP: getNodeIP(node),
                      nodeCPU: node.status.capacity.cpu,
                      nodeMemory: getMemoryNum(node.status.capacity.memory)
                    }
            }}
          </div>
        </div>
      </aui-option>
    </aui-select>
    <alu-error-mapper
      auiFormItemError
      [errors]="form.get('selectedCluster')?.errors"
      [errorsMapper]="{
        operationalResources:
          'tsf_selected_error_operational_resources' | translate
      }"
    ></alu-error-mapper>
    <ng-container auiFormItemHint>
      {{ 'operational_component_node_hint' | translate }}
    </ng-container>
  </aui-form-item>
  <aui-form-item>
    <label auiFormItemLabel>{{ 'tsf_product_url' | translate }}</label>
    <input
      formControlName="productEntrypoint"
      required
      aui-input
      auiFormItemControl
      [disabled]="disabled"
    />
    <ng-container auiFormItemHint>
      {{ 'tsf_product_url_hint' | translate }}:
      {{ productEntrypoint }}
      <button aui-button="text" type="button" (click)="setProductEntrypoint()">
        <aui-icon icon="basic:write_file"></aui-icon>
      </button>
    </ng-container>
  </aui-form-item>
</ng-container>
