<aui-dialog-header>
  {{ 'system_config' | translate }}
</aui-dialog-header>
<aui-dialog-content>
  <div class="form-section">
    <div class="form-section__header">{{ 'monitor_config' | translate }}</div>
    <form auiForm #form="ngForm" auiFormLabelWidth="128px">
      <aui-form-item>
        <label auiFormItemLabel>TI Secret Key</label>
        <input
          aui-input
          name="tiSecretKey"
          #tiSecretKey="ngModel"
          auiFormItemControl
          [(ngModel)]="model.tiSecretKey"
          required
        />
        <alu-error-mapper
          auiFormItemError
          [errors]="tiSecretKey.errors"
          [errorsMapper]="{
            required:
              'field_is_required' | translate: { field: 'TI Secret Key' }
          }"
        ></alu-error-mapper>
      </aui-form-item>
      <aui-form-item>
        <label auiFormItemLabel>TI Secret Id</label>
        <input
          aui-input
          name="tiSecretId"
          #tiSecretId="ngModel"
          auiFormItemControl
          [(ngModel)]="model.tiSecretId"
          required
        />
        <alu-error-mapper
          auiFormItemError
          [errors]="tiSecretId.errors"
          [errorsMapper]="{
            required: 'field_is_required' | translate: { field: 'TI Secret Id' }
          }"
        ></alu-error-mapper>
      </aui-form-item>
    </form>
  </div>
</aui-dialog-content>
<aui-dialog-footer>
  <button
    aui-button="primary"
    (click)="config(form)"
    [disabled]="submitting"
    [loading]="submitting"
    type="button"
  >
    {{ 'config' | translate }}
  </button>
  <button aui-button type="button" auiDialogClose>
    {{ 'cancel' | translate }}
  </button>
</aui-dialog-footer>
