:host {
  ::ng-deep {
    .aui-form-item {
      display: block;
      margin: 0;
    }
  }
  .method {
    height: 32px;
    line-height: 32px;
  }
  .object-item {
    display: inline-block;
    vertical-align: top;
    padding: 8px 4px;
    &:nth-of-type(1) {
      width: 110px;
      padding-left: 8px;
    }
    &:nth-of-type(2) {
      width: 160px;
    }
    &:nth-of-type(3) {
      width: 210px;
    }
  }
  alu-error-mapper {
    color: #e54545;
    font-size: 12px;
    line-height: 16px;
  }
}
