<div auiForm [formGroup]="form">
  <aui-form-item [ngClass]="'object-item'">
    <aui-select *ngIf="!method" formControlName="method">
      <aui-option
        *ngFor="let type of types"
        [value]="type"
        [label]="type | translate"
      >
        {{ type | translate }}
      </aui-option>
    </aui-select>
    <div *ngIf="method" class="method">{{ method | translate }}</div>
  </aui-form-item>
  <aui-form-item class="object-item">
    <input
      aui-input
      formControlName="displayName"
      [placeholder]="'input_display_name' | translate"
    />
    <alu-error-mapper
      auiFormItemError
      [errors]="form.get('displayName').errors"
      [errorsMapper]="{
        required:
          'field_is_required' | translate: { field: 'display_name' | translate }
      }"
    ></alu-error-mapper>
  </aui-form-item>
  <aui-form-item class="object-item">
    <input
      *ngIf="form.get('method').value === Method.EMAIL"
      aui-input
      formControlName="email"
      [placeholder]="'input_email_address' | translate"
    />
    <alu-error-mapper
      [hidden]="form.get('method').value !== Method.EMAIL"
      auiFormItemError
      [errors]="form.get('email')?.errors"
      [errorsMapper]="{
        required:
          'field_is_required' | translate: { field: 'email' | translate },
        pattern: EMAIL_PATTERN.tip | translate
      }"
    ></alu-error-mapper>
    <input
      *ngIf="form.get('method').value === Method.SMS"
      aui-input
      formControlName="sms"
      [placeholder]="'input_phone_number' | translate"
    />
    <alu-error-mapper
      [hidden]="form.get('method').value !== Method.SMS"
      auiFormItemError
      [errors]="form.get('sms')?.errors"
      [errorsMapper]="{
        required: 'field_is_required' | translate: { field: 'sms' | translate },
        pattern: PHONE_PATTERN.tip | translate
      }"
    ></alu-error-mapper>
    <input
      *ngIf="form.get('method').value === Method.DINGTALK"
      aui-input
      formControlName="dingtalk"
      [placeholder]="'input_dingtalk_bot' | translate"
    />
    <alu-error-mapper
      [hidden]="form.get('method').value !== Method.DINGTALK"
      auiFormItemError
      [errors]="form.get('dingtalk')?.errors"
      [errorsMapper]="{
        required:
          'field_is_required' | translate: { field: 'dingtalk' | translate },
        pattern: HTTP_ADDRESS_PATTERN.tip | translate
      }"
    ></alu-error-mapper>
    <input
      *ngIf="form.get('method').value === Method.WECHAT"
      aui-input
      formControlName="wechat"
      [placeholder]="'input_wechat_bot' | translate"
    />
    <alu-error-mapper
      [hidden]="form.get('method').value !== Method.WECHAT"
      auiFormItemError
      [errors]="form.get('wechat')?.errors"
      [errorsMapper]="{
        required:
          'field_is_required' | translate: { field: 'wechat' | translate },
        pattern: HTTP_ADDRESS_PATTERN.tip | translate
      }"
    ></alu-error-mapper>
    <input
      *ngIf="form.get('method').value === Method.WEBHOOK"
      aui-input
      formControlName="webhook"
      [placeholder]="'input_webhook_address' | translate"
    />
    <alu-error-mapper
      [hidden]="form.get('method').value !== Method.WEBHOOK"
      auiFormItemError
      [errors]="form.get('webhook')?.errors"
      [errorsMapper]="{
        required:
          'field_is_required' | translate: { field: 'webhook' | translate },
        pattern: HTTP_ADDRESS_PATTERN.tip | translate
      }"
    ></alu-error-mapper>
  </aui-form-item>
</div>
