<form auiForm *ngIf="form" auiFormLabelWidth="114px" [formGroup]="form">
  <div class="field-head">
    <aui-checkbox
      auiFormItemControl
      formControlName="selected"
      (ngModelChange)="select($event)"
    >
      {{ 'tdsql_es' | translate }}
    </aui-checkbox>
    <div class="field-head__des">
      {{ 'tdsql_es_description' | translate }}
    </div>
  </div>
  <ng-container *ngIf="form.get('selected').value">
    <aui-inline-alert [type]="dependsChecked ? 'info' : 'error'">
      <span>{{ 'tdsql_es_check_hint' | translate }}</span>
    </aui-inline-alert>
    <div class="field-body">
      <aui-form-item>
        <label auiFormItemLabel>
          {{ 'memory' | translate }}
        </label>
        <aui-input-group>
          <input
            aui-input
            auiFormItemControl
            formControlName="memory"
            type="number"
            required
          />
          <span auiInputAddonAfter>G</span>
        </aui-input-group>
        <div auiFormItemAddon>
          <aui-icon
            icon="basic:question"
            [auiTooltipPosition]="'start bottom'"
            [auiTooltip]="'tdsql_tooltip_es_memory' | translate"
          ></aui-icon>
        </div>
        <alu-error-mapper
          auiFormItemError
          [errors]="form.get('memory').errors"
          [errorsMapper]="{
            required:
              'field_is_required' | translate: { field: 'memory' | translate }
          }"
        ></alu-error-mapper>
      </aui-form-item>
      <aui-form-item>
        <label auiFormItemLabel>
          {{ 'tdsql_es_log_day_number' | translate }}
        </label>
        <aui-input-group>
          <input
            aui-input
            auiFormItemControl
            type="number"
            formControlName="logDays"
            required
          />
          <span auiInputAddonAfter>
            {{ 'hint_for_the_remaining_days_suffix' | translate }}
          </span>
        </aui-input-group>
        <div auiFormItemAddon>
          <aui-icon
            icon="basic:question"
            [auiTooltipPosition]="'start bottom'"
            [auiTooltip]="'tdsql_tooltip_es_expire_logs_days' | translate"
          ></aui-icon>
        </div>
        <alu-error-mapper
          auiFormItemError
          [errors]="form.get('logDays').errors"
          [errorsMapper]="{
            required:
              'field_is_required'
              | translate: { field: 'tdsql_es_log_day_number' | translate }
          }"
        ></alu-error-mapper>
      </aui-form-item>
      <aui-form-item>
        <label auiFormItemLabel>{{ 'tdsql_host_ip' | translate }}</label>
        <alu-tdsql-ip-selector
          auiFormItemControl
          formControlName="hostIp"
          [excludeOptions]="getEsExcludeOptions()"
          required
        ></alu-tdsql-ip-selector>
        <div auiFormItemAddon>
          <aui-icon
            icon="basic:question"
            [auiTooltipPosition]="'start bottom'"
            [auiTooltip]="'tdsql_tooltip_es_host_ip' | translate"
          ></aui-icon>
        </div>
        <alu-error-mapper
          auiFormItemError
          [errors]="form.get('hostIp').errors"
          [errorsMapper]="{
            excludeOptionsError:
              'tdsql_es_host_ip_limit_placeholder' | translate,
            required:
              'field_is_required'
              | translate: { field: 'tdsql_host_ip' | translate }
          }"
        ></alu-error-mapper>
      </aui-form-item>
    </div>
  </ng-container>
</form>
