<aui-dialog-header>
  {{ 'update_basic_info' | translate }}
</aui-dialog-header>

<aui-dialog-content>
  <form #form="ngForm" auiForm auiFormLabelWidth="100px">
    <aui-form-item>
      <label auiFormItemLabel>{{ 'role_name' | translate }}</label>
      <span>{{ data.resource | aclName }}</span>
    </aui-form-item>
    <aui-form-item>
      <label auiFormItemLabel>{{ 'display_name' | translate }}</label>
      <input
        aui-input
        name="dispalyName"
        maxlength="30"
        [(ngModel)]="annotations[displayName]"
        #displayNameModel="ngModel"
        required
        auiFormItemControl
      />
      <alu-error-mapper
        auiFormItemError
        [errors]="displayNameModel.errors"
        [errorsMapper]="{
          required:
            'field_is_required'
            | translate: { field: 'display_name' | translate }
        }"
      ></alu-error-mapper>
    </aui-form-item>
    <aui-form-item>
      <label auiFormItemLabel>{{ 'description' | translate }}</label>
      <input
        aui-input
        name="description"
        [(ngModel)]="annotations[description]"
        maxlength="100"
        auiFormItemControl
      />
    </aui-form-item>
    <aui-form-item>
      <label auiFormItemLabel>{{ 'role_type' | translate }}</label>
      <span>
        {{
          (data.resource | aclLabel: 'roletemplate.level':'auth') + '_role'
            | translate
        }}
      </span>
    </aui-form-item>
  </form>
</aui-dialog-content>
<aui-dialog-footer>
  <button aui-button="primary" (click)="update(form)">
    {{ 'update' | translate }}
  </button>
  <button aui-button (click)="cancel()">
    {{ 'cancel' | translate }}
  </button>
</aui-dialog-footer>
