@import 'mixins';
@import 'var';

:host {
  display: flex;
}

$nav-width: 218px;

.resource__nav {
  position: fixed;
  top: 112px;
  max-height: calc(100vh - 174px);
  width: 218px;
  display: flex;
  padding: 20px;
  flex-direction: column;
  border: $card-border-width $card-border-style $card-border-color;
  background-color: $color-white;
  font-size: $font-size-regular;

  &__header {
    margin-bottom: 16px;

    .aui-button {
      width: 100%;
      margin-bottom: 16px;
    }
  }

  &__content {
    flex: 1;
    overflow: auto;
    @include scroll-bar;
  }
}
.resource__list {
  flex: 1;
  min-width: 60%;
  margin-left: 268px;
  aui-card {
    .aui-card__header {
      align-items: center;
      border-bottom: none;
    }
    ::ng-deep .aui-paginator {
      margin-top: 12px;
    }
  }
  .namespace-select {
    display: flex;
    margin-right: 8px;
    border: 1px solid #ccc;
    &__prefix {
      height: 32px;
      font-size: 14px;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 6px 0 6px 8px;
      box-sizing: border-box;
      color: #999;
    }
    &:hover {
      border-color: $color-primary;
    }
    ::ng-deep aui-select {
      .aui-input {
        border: none;
      }
    }
  }
}

.category-list {
  list-style: none;
  .category-item {
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    padding: 0 18px;
    height: 32px;
    line-height: 32px;
    font-size: 14px;
    color: #333;
    background-color: #fff;
    border-radius: 2px;
    position: relative;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    cursor: pointer;

    &.isActive,
    &:hover {
      color: $color-primary;
      background-color: $color-primary-extra-light;
    }
  }
}

.category-expansion-panel {
  display: flex;
  align-items: center;
  padding: 8px 16px 8px 0;
  color: #999;
  font-size: 14px;
  cursor: pointer;
  span {
    margin-left: 2px;
  }
}
