<ng-container *aluPageHeaderContent>
  <aui-breadcrumb>
    <aui-breadcrumb-item>
      <span>{{ 'cluster_management' | translate }}</span>
    </aui-breadcrumb-item>
    <aui-breadcrumb-item>
      <span>{{ 'resource_management' | translate }}</span>
    </aui-breadcrumb-item>
  </aui-breadcrumb>
</ng-container>

<section class="resource__nav">
  <div class="resource__nav__header">
    <acl-disabled-container [isAllowed]="(permissions$ | async).create">
      <button
        aui-button="primary"
        routerLink="../edit"
        (click)="RSRCService.setResourceData(null)"
      >
        <aui-icon icon="basic:plus"></aui-icon>
        {{ 'resource_create' | translate }}
      </button>
    </acl-disabled-container>
    <aui-search
      [searchButton]="false"
      placeholder="{{ 'filter_by_name_placeholder' | translate }}"
      (search)="navSearch($event)"
      (keywordChange)="onChangeHandler($event)"
    ></aui-search>
  </div>

  <alu-zero-state
    [zeroState]="!category.namespaced.length && !category.cluster.length"
    [fetching]="navLoading$ | async"
    resourceName="resource_category"
  ></alu-zero-state>

  <div *ngIf="!(navLoading$ | async)" class="resource__nav__content">
    <div class="category-expansion-panel" (click)="toggleExpand('namespaced')">
      <aui-icon
        [icon]="expandedMap.namespaced ? 'angle_down' : 'angle_right'"
      ></aui-icon>
      <span>
        {{ 'namespace_correlated' | translate }}
        ({{ filteredCategory.namespaced?.length }})
      </span>
    </div>
    <ul class="category-list" [hidden]="!expandedMap.namespaced">
      <li
        *ngFor="let item of filteredCategory.namespaced"
        class="category-item"
        [class.isActive]="resourceType?.kind === item.kind"
        (click)="onResourceTypeChange(item)"
      >
        {{ item.kind }}
      </li>
    </ul>
    <div class="category-expansion-panel" (click)="toggleExpand('cluster')">
      <aui-icon
        [icon]="expandedMap.cluster ? 'angle_down' : 'angle_right'"
      ></aui-icon>
      <span>
        {{ 'cluster_correlated' | translate }}
        ({{ filteredCategory.cluster?.length }})
      </span>
    </div>
    <ul class="category-list" [hidden]="!expandedMap.cluster">
      <li
        *ngFor="let item of filteredCategory.cluster"
        class="category-item"
        [class.isActive]="resourceType?.kind === item.kind"
        (click)="onResourceTypeChange(item)"
      >
        {{ item.kind }}
      </li>
    </ul>
  </div>
</section>
<section class="resource__list">
  <aui-card [divider]="false">
    <div fxLayout auiCardHeader>
      {{ resourceType?.kind }}
      <div fxFlex></div>
      <div [hidden]="clusterContext$ | async">
        <div
          class="namespace-select"
          [title]="
            (selectedNamespace | pure: getActualNamespace) ||
            ('all' | translate)
          "
        >
          <div class="namespace-select__prefix">
            {{ 'namespace' | translate }}:
          </div>
          <aui-select
            [ngModel]="selectedNamespace || ALL_NAMESPACE_SYMBOL"
            [filterable]="true"
            (ngModelChange)="onNamespaceChange($event)"
            [loading]="!(namespaceOptions$ | async)"
          >
            <aui-option
              [value]="ALL_NAMESPACE_SYMBOL"
              [label]="'all' | translate"
            >
              {{ 'all' | translate }}
            </aui-option>
            <aui-option-group>
              <aui-option
                *ngFor="let i of namespaceOptions$ | async"
                [value]="i"
                [label]="i"
              >
                {{ i }}
              </aui-option>
            </aui-option-group>
            <aui-option-placeholder>
              {{ 'no_data' | translate }}
            </aui-option-placeholder>
          </aui-select>
        </div>
      </div>
      <aui-search
        [searchButton]="true"
        [searching]="list.loading$ | async"
        [keyword]="keyword$ | async"
        placeholder="{{ 'search_by_name_placeholder' | translate }}"
        (search)="onSearch($event)"
      ></aui-search>
    </div>

    <aui-table auiSort [trackBy]="trackByFn" [dataSource]="list.items$">
      <ng-container *ngFor="let column of columnDefs">
        <ng-container [auiTableColumnDef]="column.name">
          <ng-container *ngIf="column.sortable">
            <aui-table-header-cell
              *auiTableHeaderCellDef
              aui-sort-header
              [start]="column.sortStart"
            >
              {{ column.label | translate }}
            </aui-table-header-cell>
          </ng-container>

          <ng-container *ngIf="!column.sortable">
            <aui-table-header-cell *auiTableHeaderCellDef>
              {{ column.label | translate }}
            </aui-table-header-cell>
          </ng-container>
          <aui-table-cell *auiTableCellDef="let item">
            <ng-container [ngSwitch]="column.name">
              <div *ngSwitchCase="'name'">
                <a
                  href="javascript:;"
                  (click)="viewResource(item, yamlViewDialog)"
                  [auiTooltip]="item.metadata.name"
                  [auiTooltipPosition]="'top start'"
                >
                  {{ item.metadata.name }}
                </a>
                <alu-deleting-tag [resource]="item"></alu-deleting-tag>
              </div>

              <div *ngSwitchCase="'label'">
                <ng-container *ngIf="getLabelValue(item)">
                  <alu-tags-label [tags]="getLabelValue(item)"></alu-tags-label>
                </ng-container>
              </div>

              <div *ngSwitchCase="'creationTimestamp'">
                {{ item.metadata.creationTimestamp | aluFormatUtcStr }}
              </div>

              <div *ngSwitchCase="'namespace'">
                {{ item.metadata.namespace }}
              </div>

              <button
                *ngSwitchCase="'action'"
                aui-button="text"
                size="small"
                [square]="true"
                [plain]="true"
                [auiDropdown]="menu"
                [auiDropdownContext]="{ item: item }"
              >
                <aui-icon icon="basic:ellipsis_v_s"></aui-icon>
              </button>
            </ng-container>
          </aui-table-cell>
        </ng-container>
      </ng-container>
      <aui-table-header-row
        *auiTableHeaderRowDef="columns$ | async"
      ></aui-table-header-row>
      <aui-table-row
        *auiTableRowDef="let row; columns: columns$ | async"
      ></aui-table-row>
    </aui-table>
    <acl-k8s-resource-list-footer [list]="list"></acl-k8s-resource-list-footer>
  </aui-card>
</section>

<ng-template #yamlViewDialog let-data>
  <aui-dialog-header>
    {{ data?.name }}{{ 'detail' | translate }}
  </aui-dialog-header>

  <aui-dialog-content>
    <aui-code-editor
      [actionsConfig]="editorActions"
      [options]="editorOptions"
      [(ngModel)]="yamlInputValue"
    ></aui-code-editor>
  </aui-dialog-content>
</ng-template>

<aui-menu #menu size="small">
  <ng-template auiMenuContent let-item="item">
    <acl-disabled-container
      *ngIf="canUpdate(item)"
      [isAllowed]="(permissions$ | async).update"
    >
      <aui-menu-item (click)="updateAction(item)">
        {{ 'update' | translate }}
      </aui-menu-item>
    </acl-disabled-container>
    <acl-disabled-container
      *ngIf="!(item | aluIsDeleting)"
      [isAllowed]="(permissions$ | async).delete"
    >
      <aui-menu-item (click)="deleteAction(item)">
        {{ 'delete' | translate }}
      </aui-menu-item>
    </acl-disabled-container>
    <acl-disabled-container
      *ngIf="item | aluIsDeleting"
      [isAllowed]="(permissions$ | async).delete"
    >
      <aui-menu-item (click)="forceDelete(item)">
        {{ 'force_delete' | translate }}
      </aui-menu-item>
    </acl-disabled-container>
  </ng-template>
</aui-menu>
