<svg [attr.width]="width" [attr.height]="height">
  <svg:g [attr.transform]="transform">
    <svg:path
      [attr.d]="UsedFractionArcD"
      [attr.fill]="color"
      auiTooltipType="info"
      class="fraction-arc-path"
    ></svg:path>
    <svg:path
      [attr.d]="NormalFractionArcD"
      [attr.fill]="'#f2f2f2'"
      auiTooltipType="info"
      class="fraction-arc-path"
    ></svg:path>
  </svg:g>
</svg>
