<alu-inline-form-group>
  <alu-inline-form-item>
    <label>
      {{ 'monitor_aggregator' | translate }}
    </label>
    <aui-select [(ngModel)]="selectedAggregator" (ngModelChange)="onSearch()">
      <aui-option
        *ngFor="let aggregator of aggregators"
        [value]="aggregator.key"
        [label]="aggregator.name | translate"
      >
        {{ aggregator.name | translate }}
      </aui-option>
    </aui-select>
  </alu-inline-form-item>
  <alu-inline-form-item>
    <label>
      {{ 'monitor_period' | translate }}
    </label>
    <aui-select
      [(ngModel)]="selectedTimeStampOption"
      (ngModelChange)="onTimeStampOptionSelect()"
    >
      <aui-option
        *ngFor="let timeStampOption of timeStampOptions"
        [value]="timeStampOption.type"
        [label]="timeStampOption.name | translate"
      >
        {{ timeStampOption.name | translate }}
      </aui-option>
    </aui-select>
  </alu-inline-form-item>
  <ng-container *ngIf="selectedTimeStampOption === 'custom_time_range'">
    <alu-inline-form-item>
      <label>{{ 'from' | translate }}</label>
      <div
        (valueChange)="onStartTimeSelect($event)"
        [aclCalendar]="dateTimeOptions"
        [(value)]="queryDatesShown.start_time"
      >
        <input aui-input [value]="queryDatesShown.start_time" />
      </div>
    </alu-inline-form-item>
    <alu-inline-form-item>
      <label>{{ 'to' | translate }}</label>
      <div
        (valueChange)="onEndTimeSelect($event)"
        [aclCalendar]="dateTimeOptions"
        [(value)]="queryDatesShown.end_time"
      >
        <input aui-input [value]="queryDatesShown.end_time" />
      </div>
    </alu-inline-form-item>
    <alu-inline-form-item>
      <button aui-button="primary" (click)="onSearch()">
        {{ 'confirm' | translate }}
      </button>
    </alu-inline-form-item>
  </ng-container>
</alu-inline-form-group>

<alu-loading-mask [loading]="chartLoading"></alu-loading-mask>
<ng-container *ngIf="!chartLoading">
  <alu-metric-chart
    [metricOptions]="metricPercentOptions"
    [series]="cpuChartSeries"
    chartTitle="cpu_utilization"
  ></alu-metric-chart>
  <alu-metric-chart
    [metricOptions]="metricPercentOptions"
    [series]="memChartSeries"
    chartTitle="memory_utilization"
  ></alu-metric-chart>
  <alu-metric-chart
    *ngIf="!privateIp"
    [metricOptions]="systemLoadOptions"
    [series]="apiserverChartSeries"
    chartTitle="apiserver_request_latency"
  ></alu-metric-chart>
  <alu-metric-chart
    *ngIf="!privateIp"
    [metricOptions]="metricNumericOptions"
    [series]="etcdNetworkChartSeries"
    chartTitle="etcd_client_traffic"
  ></alu-metric-chart>
  <alu-metric-chart
    *ngIf="privateIp"
    [metricOptions]="systemLoadOptions"
    [series]="loadChartSeries"
    chartTitle="system_load"
  ></alu-metric-chart>
  <alu-metric-chart
    *ngIf="privateIp"
    [metricOptions]="metricPercentOptions"
    [series]="diskChartSeries"
    chartTitle="disk_utilization"
  ></alu-metric-chart>
  <alu-metric-chart
    *ngIf="privateIp"
    [metricOptions]="metricNumericOptions"
    [series]="diskRWChartSeries"
    chartTitle="disk_read_write"
  ></alu-metric-chart>
  <alu-metric-chart
    *ngIf="privateIp"
    [metricOptions]="metricNumericOptions"
    [series]="networkChartSeries"
    chartTitle="network_utilization"
  ></alu-metric-chart>
  <alu-metric-chart
    *ngIf="isGPU"
    [metricOptions]="metricPercentOptions"
    [series]="gpuChartSeries"
    chartTitle="gpu_utilization"
  ></alu-metric-chart>
  <alu-metric-chart
    *ngIf="isGPU"
    [metricOptions]="metricPercentOptions"
    [series]="gpuMemChartSeries"
    chartTitle="gpu_memory_utilization"
  ></alu-metric-chart>
</ng-container>
