<ng-container *aluPageHeaderContent>
  <aui-breadcrumb>
    <aui-breadcrumb-item>
      <span>{{ 'notification' | translate }}</span>
    </aui-breadcrumb-item>
    <aui-breadcrumb-item>
      <span>{{ 'notification_template' | translate }}</span>
    </aui-breadcrumb-item>
  </aui-breadcrumb>
</ng-container>
<aui-card [divider]="false">
  <div fxLayout auiCardHeader>
    <acl-disabled-container [isAllowed]="(permissions$ | async).create">
      <button aui-button="primary" [routerLink]="['create']">
        {{ 'create_notification_template' | translate }}
      </button>
    </acl-disabled-container>
  </div>

  <aui-table [dataSource]="list.items$">
    <ng-container auiTableColumnDef="name">
      <aui-table-header-cell *auiTableHeaderCellDef>
        {{ 'name' | translate }}
      </aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let item">
        <a
          [routerLink]="[
            '/maintenance-center/notification_template/detail',
            item.metadata.name
          ]"
          title="{{ item | aclName }}"
        >
          {{ item | aclName }}
        </a>
        <div class="aui-table__cell__display-name">
          {{ item | aclDisplayName | aclFieldNotAvailable }}
        </div>
      </aui-table-cell>
    </ng-container>
    <ng-container auiTableColumnDef="type">
      <aui-table-header-cell *auiTableHeaderCellDef>
        {{ 'type' | translate }}
      </aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let item">
        {{
          item
            | aclLabel: 'type'
            | pure: getTemplateTypeTranslateKey
            | translate
        }}
      </aui-table-cell>
    </ng-container>
    <ng-container auiTableColumnDef="description">
      <aui-table-header-cell *auiTableHeaderCellDef>
        {{ 'description' | translate }}
      </aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let item">
        {{ item | aclDescription | aclFieldNotAvailable }}
      </aui-table-cell>
    </ng-container>
    <ng-container auiTableColumnDef="create_time">
      <aui-table-header-cell *auiTableHeaderCellDef>
        {{ 'create_time' | translate }}
      </aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let rowData">
        {{ rowData | aclCreationTimestamp | aclRelativeTime }}
      </aui-table-cell>
    </ng-container>
    <ng-container auiTableColumnDef="action">
      <aui-table-header-cell *auiTableHeaderCellDef></aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let item">
        <button
          aui-button="text"
          [square]="true"
          [plain]="true"
          size="small"
          [auiDropdown]="menu"
        >
          <aui-icon icon="basic:ellipsis_v_s"></aui-icon>
        </button>
        <aui-menu #menu size="small">
          <acl-disabled-container [isAllowed]="(permissions$ | async).update">
            <aui-menu-item (click)="update(item)">
              {{ 'update' | translate }}
            </aui-menu-item>
          </acl-disabled-container>
          <acl-disabled-container [isAllowed]="(permissions$ | async).delete">
            <aui-menu-item (click)="delete(item)">
              {{ 'delete' | translate }}
            </aui-menu-item>
          </acl-disabled-container>
        </aui-menu>
      </aui-table-cell>
    </ng-container>
    <aui-table-header-row
      *auiTableHeaderRowDef="columns"
    ></aui-table-header-row>
    <aui-table-row *auiTableRowDef="let row; columns: columns"></aui-table-row>
  </aui-table>
  <acl-k8s-resource-list-footer [list]="list"></acl-k8s-resource-list-footer>
</aui-card>
