@import 'var';

.project-card {
  display: flex;
  padding: 12px 8px;
  background: #fff;
  margin: 2px 0;
  border-radius: 2px;
  > div {
    min-width: 100px;
    display: flex;
    align-items: center;
    width: 33%;
    margin: 0 16px;
  }
  .name-container {
    img {
      margin-right: 8px;
    }
    .name {
      display: flex;
      flex-direction: column;
      min-width: 0;
      > span,
      a {
        text-overflow: ellipsis;
        overflow: hidden;
        word-break: break-all;
        white-space: nowrap;
      }
      > span:first-child {
        display: flex;
        font-size: 16px;
        color: $color-primary;
        a {
          margin-right: 8px;
        }
      }
      > span:last-child {
        font-size: 12px;
        color: #999;
      }
    }
  }

  .description {
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }
}
.list-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 12px;
}

aui-paginator {
  margin-top: 20px;
}

main {
  overflow: auto;
}
:host {
  .load-bar {
    text-align: center;
    line-height: 50px;
    aui-icon {
      margin-right: 5px;
    }
  }
  .more {
    cursor: pointer;
    &:hover {
      color: $color-primary;
    }
  }
}
