<main>
  <div class="list-header">
    <div class="actions"></div>
    <div class="alo-search">
      <aui-search
        [keyword]="keyword"
        [placeholder]="'tsf_project_search_by_name_placeholder' | translate"
        [searchButton]="true"
        [searching]="loading$ | async"
        (search)="search($event)"
      ></aui-search>
    </div>
  </div>
  <ng-container>
    <div class="project-card" *ngFor="let item of projects$ | async">
      <div class="name-container">
        <img src="products/tsf-project.svg" alt="project" />
        <div class="name">
          <span>
            <a
              *ngIf="productEntrypoint; else noUrl"
              [href]="tsfRoute(item | aclLabel: 'project.id')"
            >
              <span>{{ item | aclName }}</span>
            </a>
            <ng-template #noUrl>
              <span>{{ item | aclName }}</span>
            </ng-template>
          </span>
          <span>{{ item | aclDisplayName }}</span>
        </div>
      </div>
      <div>
        <span class="created-time">
          {{ item | aclCreationTimestamp | aclRelativeTime }}
        </span>
      </div>
      <div>
        <span
          title="{{ (item | aclDescription) || '-' }}"
          class="description"
          style="-webkit-box-orient: vertical;"
        >
          {{ (item | aclDescription) || '-' }}
        </span>
      </div>
    </div>
  </ng-container>
  <div class="load-bar">
    <ng-container *ngIf="!(loading$ | async) && !(projects$ | async)?.length">
      {{ 'no_data' | translate }}
    </ng-container>
    <ng-container *ngIf="loading$ | async">
      <aui-icon icon="spinner"></aui-icon>
    </ng-container>
    <ng-container *ngIf="next">
      <span class="more" (click)="loadMore()">
        {{ 'load_more' | translate }}
      </span>
    </ng-container>
  </div>
</main>
