<aui-dialog-header>
  {{ 'add_host' | translate }}
</aui-dialog-header>
<aui-dialog-content>
  <aui-inline-alert
    *ngIf="
      !submitting && (hostsState.failed.length || hostsState.duplicated.length)
    "
    [type]="hostsState.successful.length ? 'warning' : 'error'"
  >
    <ng-container *ngIf="hostsState.successful.length">
      {{
        'host_add_success_hint'
          | translate: { number: hostsState.successful.length }
      }}
    </ng-container>
    <ng-container *ngIf="hostsState.failed.length">
      {{ 'host_cannot_access_hint' | translate: { nodes: hostsState.failed } }}
    </ng-container>
    <ng-container *ngIf="hostsState.duplicated.length">
      {{ 'host_duplicate_hint' | translate: { nodes: hostsState.duplicated } }}
    </ng-container>
  </aui-inline-alert>
  <form
    auiForm
    auiFormLabelWidth="114px"
    #form="ngForm"
    [auiFormEmptyAddon]="true"
  >
    <aui-form-item>
      <label auiFormItemLabel>{{ 'host' | translate }}</label>
      <alu-host-form-table
        name="hosts"
        auiFormItemControl
        [(ngModel)]="model.hosts"
      ></alu-host-form-table>
      <span auiFormItemAddon>
        <aui-icon
          [auiTooltip]="'add_node_ip_tip' | translate"
          [auiTooltipPosition]="'end top'"
          icon="basic:question"
          color="#999"
        ></aui-icon>
      </span>
    </aui-form-item>
    <aui-form-item>
      <label auiFormItemLabel>{{ 'ssh_port' | translate }}</label>
      <input
        aui-input
        auiFormItemControl
        required
        name="sshPort"
        #sshPort="ngModel"
        [pattern]="portPattern.pattern"
        [(ngModel)]="model.sshPort"
        [placeholder]="'ssh_port_placeholder' | translate"
      />
      <alu-error-mapper
        auiFormItemError
        [errors]="sshPort.errors"
        [errorsMapper]="{
          required:
            'field_is_required' | translate: { field: 'ssh_port' | translate },
          pattern: portPattern.tip | translate
        }"
      ></alu-error-mapper>
    </aui-form-item>
    <aui-form-item>
      <label auiFormItemLabel>{{ 'host_auth' | translate }}</label>
      <aui-radio-group name="authMethod" [(ngModel)]="model.authMethod">
        <aui-radio-button [value]="'password'">
          {{ 'password' | translate }}
        </aui-radio-button>
        <aui-radio-button [value]="'secret'">
          {{ 'secret' | translate }}
        </aui-radio-button>
      </aui-radio-group>
    </aui-form-item>
    <aui-form-item>
      <label auiFormItemLabel>{{ 'username' | translate }}</label>
      <input
        aui-input
        auiFormItemControl
        required
        name="username"
        #username="ngModel"
        [(ngModel)]="model.username"
        autocomplete="off"
      />
      <alu-error-mapper
        auiFormItemError
        [errors]="username.errors"
        [errorsMapper]="{
          required:
            'field_is_required' | translate: { field: 'username' | translate }
        }"
      ></alu-error-mapper>
    </aui-form-item>
    <ng-container *ngIf="model.authMethod === 'password'">
      <aui-form-item>
        <label auiFormItemLabel>{{ 'password' | translate }}</label>
        <aui-input-group>
          <input
            aui-input
            auiFormItemControl
            required
            name="password"
            #password="ngModel"
            [type]="showPassword ? 'text' : 'password'"
            [(ngModel)]="model.password"
            autocomplete="new-password"
          />

          <aui-icon
            auiInputSuffix
            class="eye-icon"
            [icon]="showPassword ? 'basic:eye_s' : 'basic:eye_slash_s'"
            (click)="showPassword = !showPassword"
          ></aui-icon>
        </aui-input-group>
        <alu-error-mapper
          auiFormItemError
          [errors]="password.errors"
          [errorsMapper]="{
            required:
              'field_is_required' | translate: { field: 'password' | translate }
          }"
        ></alu-error-mapper>
      </aui-form-item>
    </ng-container>
    <ng-container *ngIf="model.authMethod === 'secret'">
      <aui-form-item>
        <label auiFormItemLabel>{{ 'private_key' | translate }}</label>
        <textarea
          aui-input
          auiFormItemControl
          required
          name="secretKey"
          #secretKey="ngModel"
          [(ngModel)]="model.secretKey"
          autocomplete="off"
        ></textarea>
        <alu-error-mapper
          auiFormItemError
          [errors]="secretKey.errors"
          [errorsMapper]="{
            required:
              'field_is_required'
              | translate: { field: 'private_key' | translate }
          }"
        ></alu-error-mapper>
      </aui-form-item>
      <aui-form-item>
        <label auiFormItemLabel>{{ 'private_key_password' | translate }}</label>
        <textarea
          aui-input
          auiFormItemControl
          name="secretPassword"
          #secretPassword="ngModel"
          autocomplete="off"
          [(ngModel)]="model.secretPassword"
        ></textarea>
      </aui-form-item>
    </ng-container>
  </form>
</aui-dialog-content>
<aui-dialog-footer>
  <button
    aui-button="primary"
    [loading]="submitting"
    [disabled]="submitting"
    (click)="confirm(form)"
  >
    {{ 'add' | translate }}
  </button>
  <button aui-button [auiDialogClose]="false">
    {{ 'cancel' | translate }}
  </button>
</aui-dialog-footer>
