<ng-container *aluPageHeaderContent>
  <aui-breadcrumb>
    <aui-breadcrumb-item>
      <span>{{ 'cluster_management' | translate }}</span>
    </aui-breadcrumb-item>
    <aui-breadcrumb-item>
      <a routerLink="/manage-platform/cluster">
        {{ 'cluster' | translate }}
      </a>
    </aui-breadcrumb-item>
    <aui-breadcrumb-item>
      <span>{{ 'access' | translate }}</span>
    </aui-breadcrumb-item>
  </aui-breadcrumb>
</ng-container>
<aui-inline-alert type="warning" [hidden]="clusterType === 'openshift'">
  <div>{{ 'cluster_access_alert_title' | translate }}</div>
  <div>
    --oidc-issuer-url={{ dexHost$ | async | pure: replaceProtocol }}/dex；{{
      'cluster_access_alert_issuer_url' | translate
    }}
  </div>
  <div>
    --oidc-client-id=alauda-auth；{{
      'cluster_access_alert_client_id' | translate
    }}
  </div>
  <div>
    --oidc-ca-file=/etc/kubernetes/pki/apiserver-dex-ca.crt；{{
      'cluster_access_alert_ca_file_prefix' | translate
    }}
    <a href="javascript:;" (click)="downloadCAFile()">
      {{ 'download' | translate }}
    </a>
    {{ 'cluster_access_alert_ca_file_suffix' | translate }}
  </div>
  <div>
    --oidc-username-claim=email；{{
      'cluster_access_alert_username_claim' | translate
    }}
  </div>
  <div>
    --oidc-groups-claim=groups；{{
      'cluster_access_alert_groups_claim' | translate
    }}
  </div>
</aui-inline-alert>
<aui-inline-alert type="warning" [hidden]="clusterType === 'kubernetes'">
  <div>{{ 'cluster_access_alert_openshift' | translate }}</div>
</aui-inline-alert>
<div class="form-wrapper">
  <aui-card>
    <div auiCardHeader>
      <span>{{ 'cluster_access_cluster' | translate }}</span>
    </div>
    <form #form="ngForm" auiForm auiFormLabelWidth="114px">
      <aui-form-item>
        <label auiFormItemLabel>{{ 'cluster_type' | translate }}</label>
        <aui-radio-group
          name="clusterType"
          [(ngModel)]="clusterType"
          (ngModelChange)="clusterTypeChange($event)"
        >
          <aui-radio-button value="kubernetes">
            {{ 'standard_k8s_cluster' | translate }}
          </aui-radio-button>
          <aui-radio-button value="openshift">
            {{ 'openshift_cluster' | translate }}
          </aui-radio-button>
        </aui-radio-group>
        <span auiFormItemAddon></span>
      </aui-form-item>
      <aui-form-item>
        <label auiFormItemLabel>{{ 'name' | translate }}</label>
        <input
          aui-input
          auiFormItemControl
          #clusterName="ngModel"
          name="name"
          [pattern]="baseRSReg.pattern"
          [placeholder]="'cluster_name_placeholder' | translate"
          maxlength="36"
          required
          [(ngModel)]="cluster.metadata.name"
        />
        <span auiFormItemAddon></span>
        <alu-error-mapper
          auiFormItemError
          [errors]="clusterName.errors"
          [errorsMapper]="{
            required:
              'field_is_required' | translate: { field: 'name' | translate },
            pattern: baseRSReg.tip | translate
          }"
        ></alu-error-mapper>
      </aui-form-item>
      <aui-form-item>
        <label auiFormItemLabel>{{ 'display_name' | translate }}</label>
        <input
          aui-input
          auiFormItemControl
          #displayName="ngModel"
          name="display_name"
          [placeholder]="'should_less_than_64' | translate"
          maxlength="64"
          required
          [(ngModel)]="cluster.spec.displayName"
        />
        <span auiFormItemAddon></span>
        <alu-error-mapper
          auiFormItemError
          [errors]="displayName.errors"
          [errorsMapper]="{
            required:
              'field_is_required'
              | translate: { field: 'display_name' | translate }
          }"
        ></alu-error-mapper>
      </aui-form-item>
      <aui-form-item>
        <label auiFormItemLabel class="input-required">
          {{ 'cluster_cluster_endpoint' | translate }}
        </label>
        <aui-input-group>
          <span class="input-required" auiInputAddonBefore>
            {{ 'ip_address' | translate }}/{{ 'domain' | translate }}
          </span>
          <input
            aui-input
            required
            #ipAddressName="ngModel"
            name="host"
            [pattern]="IP_ADDRESS_HOSTNAME_PATTERN.pattern"
            maxlength="253"
            [(ngModel)]="cluster.status.addresses[0].host"
            [placeholder]="'ip_address_domain_placeholder' | translate"
          />
        </aui-input-group>
        <aui-input-group class="port_input">
          <span class="input-required" auiInputAddonBefore>
            {{ 'port' | translate }}
          </span>
          <input
            aui-input
            required
            #ipPortName="ngModel"
            name="port"
            [(ngModel)]="cluster.status.addresses[0].port"
            [pattern]="portPattern.pattern"
          />
        </aui-input-group>
        <span auiFormItemAddon></span>
        <alu-error-mapper
          auiFormItemError
          [errors]="ipAddressName.errors"
          [errorsMapper]="{
            required:
              'field_is_required'
              | translate: { field: 'cluster_cluster_endpoint' | translate },
            pattern: 'cluster_endpoint_ip_hostname_tip' | translate
          }"
        ></alu-error-mapper>
        <alu-error-mapper
          auiFormItemError
          [errors]="ipPortName.errors"
          [errorsMapper]="{
            required:
              'field_is_required' | translate: { field: 'port' | translate },
            pattern: portPattern.tip | translate
          }"
        ></alu-error-mapper>
      </aui-form-item>
      <aui-form-item>
        <label auiFormItemLabel>Token</label>
        <textarea
          size="medium"
          aui-input
          required
          auiFormItemControl
          [(ngModel)]="clusterCredential.token"
          #tokenName="ngModel"
          name="token"
        ></textarea>
        <span auiFormItemAddon></span>
        <alu-error-mapper
          auiFormItemError
          [errors]="tokenName.errors"
          [errorsMapper]="{
            required: 'field_is_required' | translate: { field: 'Token' }
          }"
        ></alu-error-mapper>
      </aui-form-item>
      <aui-form-item>
        <label auiFormItemLabel>
          {{ 'ca_cert' | translate }}
        </label>
        <textarea
          size="medium"
          aui-input
          required
          #caName="ngModel"
          auiFormItemControl
          [pattern]="caFileReg.pattern"
          [(ngModel)]="clusterCredential.caCert"
          name="ca"
          [placeholder]="'ca_input_placeholder' | translate"
        ></textarea>
        <span auiFormItemAddon></span>
        <alu-error-mapper
          auiFormItemError
          [errors]="caName.errors"
          [errorsMapper]="{
            required:
              'field_is_required' | translate: { field: 'ca_cert' | translate },
            pattern: caFileReg.tip | translate
          }"
        ></alu-error-mapper>
      </aui-form-item>
      <aui-form-item>
        <label auiFormItemLabel>
          {{ 'cluster_manage_endpoint' | translate }}
        </label>
        <input
          aui-input
          auiFormItemControl
          #endpointName="ngModel"
          name="manage_endpoint"
          pattern="https?:\/\/.+"
          [placeholder]="'cluster_manage_endpoint_placeholder' | translate"
          [(ngModel)]="manageEndpoint"
        />
        <span auiFormItemAddon>
          <aui-icon
            [auiTooltip]="'cluster_manage_endpoint_tip' | translate"
            [auiTooltipPosition]="'start center'"
            icon="basic:question"
            color="#999"
          ></aui-icon>
        </span>
        <alu-error-mapper
          auiFormItemError
          [errors]="endpointName.errors"
          [errorsMapper]="{
            required:
              'field_is_required'
              | translate: { field: 'cluster_manage_endpoint' | translate },
            pattern: 'cluster_manage_endpoint_pattern_tip' | translate
          }"
        ></alu-error-mapper>
      </aui-form-item>
    </form>
  </aui-card>
</div>
<div class="form__footer">
  <div style="flex: 1;"></div>
  <button
    aui-button="primary"
    [disabled]="loading"
    [loading]="loading"
    type="button"
    (click)="confirm()"
  >
    {{ 'access' | translate }}
  </button>
  <button aui-button type="button" [disabled]="loading" (click)="cancel()">
    {{ 'cancel' | translate }}
  </button>
</div>
