<aui-dialog-header>
  {{ formSubmitText | translate }}{{ 'alarm_rule' | translate }}
</aui-dialog-header>

<aui-dialog-content>
  <alu-base-alarm-metric-chart
    [rule]="rule$ | async"
    [metricType]="modalData?.metricType"
  ></alu-base-alarm-metric-chart>
  <form
    #ruleForm="ngForm"
    auiForm
    class="alarm-wrapper-form"
    auiFormLabelWidth="114px"
  >
    <alu-prometheus-alarm-rule-form
      auiFormItemControl
      name="rule"
      [(ngModel)]="rule"
      (ngModelChange)="onRuleChange($event)"
      [modalData]="modalData"
    ></alu-prometheus-alarm-rule-form>
  </form>
</aui-dialog-content>

<div class="separator"></div>
<aui-dialog-footer>
  <button aui-button="primary" (click)="confirm(ruleForm)">
    {{ formSubmitText | translate }}
  </button>
  <button aui-button (click)="cancel()">
    {{ 'cancel' | translate }}
  </button>
</aui-dialog-footer>
