<ng-container *aluPageHeaderContent>
  <aui-breadcrumb>
    <aui-breadcrumb-item>
      <span>{{ 'update_quota' | translate }}</span>
    </aui-breadcrumb-item>
  </aui-breadcrumb>
</ng-container>

<acl-page-state [adapter]="dataLoader">
  <ng-template let-data>
    <aui-inline-alert type="error" *ngIf="abnormalClusters.length">
      {{
        'update_quota_abnormal_cluster_tip'
          | translate: { content: abnormalClusters.join('、') }
      }}
    </aui-inline-alert>
    <aui-card>
      <div auiCardHeader>{{ 'update_quota' | translate }}</div>
      <alu-project-quota-form
        *ngIf="data"
        #quotaForm
        [clusters]="data"
        [isUpdate]="true"
        [quotaMap]="quotaMap"
      ></alu-project-quota-form>
    </aui-card>
    <div class="form__footer">
      <button
        aui-button="primary"
        [disabled]="submitting"
        [loading]="submitting"
        (click)="update()"
      >
        {{ 'update' | translate }}
      </button>
      <button aui-button routerLink="..">
        {{ 'cancel' | translate }}
      </button>
    </div>
  </ng-template>
</acl-page-state>
