<ng-container *ngFor="let definition of definitions">
  <aui-icon
    [color]="'#' + definition.color"
    size="16px,16px"
    [title]="definition.name | translate"
    [icon]="'basic:' + (definition.icon || definition.name)"
  ></aui-icon>
  <span
    *ngIf="values[definition.key]; else unlimitedBlock"
    class="unit-content"
    [title]="values[definition.key]"
  >
    <ng-container [ngSwitch]="definition.unit">
      <ng-container *ngSwitchCase="'core'">
        {{ values[definition.key] }}{{ 'unit_core' | translate }}
      </ng-container>
      <ng-container *ngSwitchCase="'Gi'">
        {{ values[definition.key] }}
      </ng-container>
    </ng-container>
  </span>
</ng-container>
<ng-template #unlimitedBlock>
  <span class="unit-content">
    {{ 'unlimited' | translate }}
  </span>
</ng-template>
