@import 'var';

.form-wrapper {
  margin-bottom: 52px;
}

.input-required:before {
  content: '*';
  color: #eb6262;
  margin-right: 2px;
}

.tip-span {
  color: #eb6262;
}

.port_input {
  width: 35%;
  margin-left: 8px;
}

.input_container {
  flex: 1;
  margin-top: 10px;
}

.container_network__source {
  display: inline-flex;
  width: 100%;
  aui-input-group {
    flex: 1;
  }
}

.select-inner-wrapper {
  display: flex;
  flex: 1;
  span {
    padding: 0 7px;
  }
}

.eye-icon {
  cursor: pointer;
  &:hover {
    color: #006eff;
  }
}

.input-group {
  padding: 4px;
  background: #fafafa;
}

.alu-item-divider {
  border-top: 1px dashed $border-color;
  margin: 16px 0;
}

:host {
  ::ng-deep {
    .aui-inline-alert {
      margin: 8px 8px 10px 8px;
    }
  }
}
