<ng-container *aluPageHeaderContent>
  <aui-breadcrumb>
    <aui-breadcrumb-item>
      <span>{{ 'cluster_management' | translate }}</span>
    </aui-breadcrumb-item>
    <aui-breadcrumb-item>
      <a routerLink="/manage-platform/cluster">
        {{ 'cluster' | translate }}
      </a>
    </aui-breadcrumb-item>
    <aui-breadcrumb-item>
      <span>{{ 'create' | translate }}</span>
    </aui-breadcrumb-item>
  </aui-breadcrumb>
</ng-container>
<div class="form-wrapper">
  <aui-inline-alert type="warning">
    <div>{{ 'cluster_create_network_tip_1' | translate }}</div>
    <div>{{ 'cluster_create_network_tip_2' | translate }}</div>
  </aui-inline-alert>
  <aui-card>
    <div auiCardHeader>
      <span>{{ 'cluster_create_cluster' | translate }}</span>
    </div>
    <form auiForm class="service-form" #Form="ngForm" auiFormLabelWidth="114px">
      <aui-form-item>
        <label auiFormItemLabel>{{ 'name' | translate }}</label>
        <input
          aui-input
          auiFormItemControl
          #clusterName="ngModel"
          name="clusterName"
          [pattern]="baseRSReg.pattern"
          [placeholder]="'cluster_name_placeholder' | translate"
          [(ngModel)]="cluster.metadata.name"
          maxlength="36"
          required
        />
        <span auiFormItemAddon></span>
        <alu-error-mapper
          auiFormItemError
          [errors]="clusterName.errors"
          [errorsMapper]="{
            required:
              'field_is_required' | translate: { field: 'name' | translate },
            pattern: baseRSReg.tip | translate
          }"
        ></alu-error-mapper>
      </aui-form-item>
      <aui-form-item>
        <label auiFormItemLabel>{{ 'display_name' | translate }}</label>
        <input
          aui-input
          auiFormItemControl
          #displayName="ngModel"
          name="displayName"
          [(ngModel)]="cluster.spec.displayName"
          [placeholder]="'should_less_than_64' | translate"
          maxlength="64"
          required
        />
        <span auiFormItemAddon></span>
        <alu-error-mapper
          auiFormItemError
          [errors]="displayName.errors"
          [errorsMapper]="{
            required:
              'field_is_required'
              | translate: { field: 'display_name' | translate }
          }"
        ></alu-error-mapper>
      </aui-form-item>
      <aui-form-item>
        <label auiFormItemLabel>GPU</label>
        <div class="input_container">
          <aui-checkbox
            name="enableGPU"
            [(ngModel)]="enableGPU"
            (ngModelChange)="enableGPUChange($event)"
          ></aui-checkbox>
          <aui-select
            *ngIf="enableGPU"
            name="gpu"
            [(ngModel)]="cluster.spec.features.gpuType"
          >
            <aui-option value="Virtual" label="vGPU">vGPU</aui-option>
            <aui-option value="Physical" label="pGPU">pGPU</aui-option>
          </aui-select>
        </div>
        <div auiFormItemHint>
          <ng-container *ngIf="enableGPU">
            <ng-container *ngIf="cluster.spec.features?.gpuType === 'Virtual'">
              {{ 'vgpu_create_tip' | translate }}
            </ng-container>
            <ng-container *ngIf="cluster.spec.features?.gpuType === 'Physical'">
              {{ 'pgpu_create_tip' | translate }}
            </ng-container>
          </ng-container>
        </div>
        <span auiFormItemAddon></span>
      </aui-form-item>
      <aui-form-item>
        <label auiFormItemLabel class="input-required">
          {{ 'cluster_cluster_endpoint' | translate }}
        </label>
        <aui-input-group style="flex: 1;">
          <span class="input-required" auiInputAddonBefore>
            {{ 'ip_address' | translate }}/{{ 'domain' | translate }}
          </span>
          <input
            aui-input
            required
            #ipAddressName="ngModel"
            name="apiserverAddress"
            [pattern]="IP_ADDRESS_HOSTNAME_PATTERN.pattern"
            maxlength="253"
            [(ngModel)]="cluster.spec.features.ha.thirdParty.vip"
            [placeholder]="'ip_address_domain_placeholder' | translate"
          />
        </aui-input-group>
        <aui-input-group class="port_input">
          <span class="input-required" auiInputAddonBefore>
            {{ 'port' | translate }}
          </span>
          <input
            aui-input
            required
            #ipPortName="ngModel"
            name="address_port"
            [(ngModel)]="cluster.spec.features.ha.thirdParty.vport"
            [pattern]="portPattern.pattern"
          />
        </aui-input-group>
        <div auiFormItemHint style="margin-right: 30px;">
          {{ 'ip_address_domain_create_tip' | translate }}
        </div>
        <span auiFormItemAddon></span>
        <alu-error-mapper
          auiFormItemError
          [errors]="ipAddressName.errors"
          [errorsMapper]="{
            required:
              'field_is_required'
              | translate: { field: 'cluster_cluster_endpoint' | translate },
            pattern: 'cluster_endpoint_ip_hostname_tip' | translate
          }"
        ></alu-error-mapper>
        <alu-error-mapper
          auiFormItemError
          [errors]="ipPortName.errors"
          [errorsMapper]="{
            required:
              'field_is_required' | translate: { field: 'port' | translate },
            pattern: portPattern.tip | translate
          }"
        ></alu-error-mapper>
      </aui-form-item>
      <aui-form-item>
        <label auiFormItemLabel>{{ 'node_info' | translate }}</label>
        <div style="flex: 1; background-color: #fafafa;">
          <aui-inline-alert *ngIf="masterNodeNumber === 0" type="error">
            {{ 'master_node_length_zero' | translate }}
          </aui-inline-alert>
          <aui-inline-alert *ngIf="masterNodeNumber === 2" type="error">
            {{ 'master_node_length_two' | translate }}
          </aui-inline-alert>
          <alu-cluster-form-node-list
            name="nodes"
            [enableGPU]="enableGPU"
            [(ngModel)]="nodes"
          ></alu-cluster-form-node-list>
        </div>
        <span auiFormItemAddon></span>
      </aui-form-item>
      <aui-form-item>
        <label auiFormItemLabel>{{ 'network_card' | translate }}</label>
        <input
          #networkCardName="ngModel"
          name="network_card"
          aui-input
          auiFormItemControl
          required
          [(ngModel)]="cluster.spec.networkDevice"
        />
        <span auiFormItemAddon></span>
        <alu-error-mapper
          auiFormItemError
          [errors]="networkCardName.errors"
          [errorsMapper]="{
            required:
              'field_is_required'
              | translate: { field: 'network_card' | translate }
          }"
        ></alu-error-mapper>
      </aui-form-item>
      <aui-form-item>
        <label auiFormItemLabel>{{ 'network_type' | translate }}</label>
        <aui-radio-group
          size="medium"
          auiFormItemControl
          name="network_type"
          [(ngModel)]="networkType"
        >
          <aui-radio-button value="flannel">Flannel</aui-radio-button>
          <aui-radio-button value="kube-ovn">Kube-OVN</aui-radio-button>
          <aui-radio-button value="calico">Calico</aui-radio-button>
          <aui-radio-button value="galaxy">Galaxy-FloatingIP</aui-radio-button>
          <aui-radio-button value="none">
            {{ 'no_network' | translate }}
          </aui-radio-button>
        </aui-radio-group>
        <span auiFormItemAddon>
          <aui-icon
            [auiTooltip]="netWorkTip"
            icon="basic:question"
            color="#999"
          ></aui-icon>
        </span>
      </aui-form-item>
      <aui-form-item>
        <label auiFormItemLabel>{{ 'container_network' | translate }}</label>
        <div class="input-group" fxFlex>
          <div class="container_network__source">
            <aui-input-group>
              <span class="input-required" auiInputAddonBefore>
                Cluster CIDR
              </span>
              <input
                #cidrName="ngModel"
                name="clusterCIDR"
                aui-input
                required
                [(ngModel)]="cluster.spec.clusterCIDR"
                (ngModelChange)="renderNodeMax($event)"
                [placeholder]="'container_cidr_placeholder1' | translate"
              />
            </aui-input-group>
            <span style="width: 8px;"></span>
            <aui-input-group>
              <span class="input-required" auiInputAddonBefore>
                Service CIDR
              </span>
              <input
                #serviceCidrName="ngModel"
                name="serviceCIDR"
                aui-input
                required
                [(ngModel)]="cluster.spec.serviceCIDR"
                [placeholder]="'container_cidr_placeholder2' | translate"
              />
            </aui-input-group>
            <span style="width: 8px;"></span>
            <div class="select-inner-wrapper">
              <span
                class="input-required aui-input-group__addon aui-input-group__addon--before"
              >
                {{ 'node_pod_limit_num' | translate }}
              </span>
              <aui-select
                name="node_pod_limit_num"
                [(ngModel)]="cluster.spec.properties.maxNodePodNum"
                (ngModelChange)="renderNodeMax()"
              >
                <aui-option [value]="128">128</aui-option>
                <aui-option [value]="256">256</aui-option>
              </aui-select>
            </div>
          </div>
        </div>
        <div auiFormItemHint>
          {{ 'container_network_placeholder' | translate }}
          <ng-container *ngIf="nodeMaxNum$ | async as nodeMaxNum">
            ；{{ 'container_network_create_tip1' | translate }}
            <span class="tip-span">{{ nodeMaxNum }}</span>
            {{ 'container_network_create_tip2' | translate }}
          </ng-container>
        </div>
        <span auiFormItemAddon></span>
        <alu-error-mapper
          auiFormItemError
          [errors]="cidrName.errors"
          [errorsMapper]="{
            required: 'field_is_required' | translate: { field: 'Cluster CIDR' }
          }"
        ></alu-error-mapper>
        <alu-error-mapper
          auiFormItemError
          [errors]="serviceCidrName.errors"
          [errorsMapper]="{
            required: 'field_is_required' | translate: { field: 'Service CIDR' }
          }"
        ></alu-error-mapper>
      </aui-form-item>
      <alu-foldable-block [hint]="'extended_parameters' | translate">
        <div class="alu-item-divider"></div>
        <aui-inline-alert type="warning">
          <div>
            {{ 'extended_parameters_description_1' | translate }}
          </div>
          <div>
            {{ 'extended_parameters_description_2' | translate }}
          </div>
        </aui-inline-alert>
        <aui-form-item>
          <label auiFormItemLabel>{{ 'docker_parameters' | translate }}</label>
          <alu-key-value-form-table
            auiFormItemControl
            name="dockerExtraArgs"
            [(ngModel)]="cluster.spec.dockerExtraArgs"
            [validator]="labelValidator"
            [errorMapper]="labelErrorMapper"
            resourceName="docker_parameters"
          ></alu-key-value-form-table>
          <span auiFormItemAddon></span>
        </aui-form-item>
        <aui-form-item>
          <label auiFormItemLabel>{{ 'kubelet_parameters' | translate }}</label>
          <alu-key-value-form-table
            auiFormItemControl
            name="kubeletExtraArgs"
            [(ngModel)]="cluster.spec.kubeletExtraArgs"
            [validator]="labelValidator"
            [errorMapper]="labelErrorMapper"
            resourceName="kubelet_parameters"
          ></alu-key-value-form-table>
          <span auiFormItemAddon></span>
        </aui-form-item>
        <aui-form-item>
          <label auiFormItemLabel>
            {{ 'controller_manager_parameters' | translate }}
          </label>
          <alu-key-value-form-table
            auiFormItemControl
            name="controllerManagerExtraArgs"
            [(ngModel)]="cluster.spec.controllerManagerExtraArgs"
            [validator]="labelValidator"
            [errorMapper]="labelErrorMapper"
            resourceName="controller_manager_parameters"
          ></alu-key-value-form-table>
          <span auiFormItemAddon></span>
        </aui-form-item>
        <aui-form-item>
          <label auiFormItemLabel>
            {{ 'scheduler_parameters' | translate }}
          </label>
          <alu-key-value-form-table
            auiFormItemControl
            name="schedulerExtraArgs"
            [(ngModel)]="cluster.spec.schedulerExtraArgs"
            [validator]="labelValidator"
            [errorMapper]="labelErrorMapper"
            resourceName="scheduler_parameters"
          ></alu-key-value-form-table>
          <span auiFormItemAddon></span>
        </aui-form-item>
        <aui-form-item>
          <label auiFormItemLabel>
            {{ 'api_server_parameters' | translate }}
          </label>
          <alu-key-value-form-table
            auiFormItemControl
            name="apiServerExtraArgs"
            [(ngModel)]="cluster.spec.apiServerExtraArgs"
            [validator]="labelValidator"
            [errorMapper]="labelErrorMapper"
            resourceName="api_server_parameters"
          ></alu-key-value-form-table>
          <span auiFormItemAddon></span>
        </aui-form-item>
        <aui-form-item>
          <label auiFormItemLabel>
            {{ 'api_server_addresses' | translate }}
          </label>
          <alu-string-array-form-table
            auiFormItemControl
            name="publicAlternativeNames"
            [(ngModel)]="cluster.spec.publicAlternativeNames"
            [validators]="addressValidator"
            [errorMapper]="addressErrorMapper"
            resourceName="api_server_addresses"
          ></alu-string-array-form-table>
          <span auiFormItemAddon>
            <aui-icon
              [auiTooltip]="'api_server_addresses_hint' | translate"
              icon="basic:question"
              color="#999"
            ></aui-icon>
          </span>
        </aui-form-item>
      </alu-foldable-block>
    </form>
  </aui-card>
</div>

<div class="form__footer">
  <div style="flex: 1;"></div>
  <button
    type="button"
    aui-button="primary"
    [loading]="submitting"
    [disabled]="submitting"
    (click)="confirm()"
  >
    <span>{{ 'create' | translate }}</span>
  </button>
  <button type="button" aui-button [disabled]="submitting" (click)="cancel()">
    {{ 'cancel' | translate }}
  </button>
</div>

<ng-template #netWorkTip>
  <ul style="margin-left: 8px;">
    <li>{{ 'network_type_tip_1' | translate }}</li>
    <li>{{ 'network_type_tip_2' | translate }}</li>
  </ul>
</ng-template>
