<alu-array-form-table
  [noRowSeparator]="true"
  [resourceName]="resourceName"
  [rowBackgroundColorFn]="rowBackgroundColorFn"
  (add)="add(form.length)"
  (remove)="remove($event)"
  [rows]="form.controls"
>
  <!-- Input row -->
  <ng-container *aluArrayFormTableRow="let control">
    <td>
      <input (blur)="onBlur()" aui-input [formControl]="control" />
    </td>
  </ng-container>
</alu-array-form-table>
