<aui-card *ngIf="deployment?.cr?.spec as spec">
  <div class="form-section">
    <alu-field-set-group>
      <alu-field-set-item>
        <label>{{ 'product_version' | translate }}</label>
        <span>{{ spec.version || '-' }}</span>
      </alu-field-set-item>
    </alu-field-set-group>
  </div>
  <div class="form-section">
    <div class="form-section__header">
      {{ 'image_args' | translate }}
    </div>
    <alu-field-set-group>
      <alu-field-set-item>
        <label>{{ 'image_repo_address' | translate }}</label>
        <span>{{ spec.repository }}</span>
      </alu-field-set-item>
      <alu-field-set-item>
        <label>{{ 'image_pkg_path' | translate }}</label>
        <span>{{ spec.pathToImagesTar || '-' }}</span>
      </alu-field-set-item>
    </alu-field-set-group>
  </div>
  <div class="form-section">
    <div class="form-section__header">
      {{ 'console' | translate }}
    </div>
    <alu-field-set-group>
      <alu-field-set-item>
        <label>
          {{ 'external_service_address' | translate }}
        </label>
        <span>{{ spec.webPortal.clusterManagerIp || '-' }}</span>
      </alu-field-set-item>
      <alu-field-set-item>
        <label>{{ 'domain_address' | translate }}</label>
        <span>{{ spec.webPortal.clusterManagerDomain || '-' }}</span>
      </alu-field-set-item>
      <alu-field-set-item>
        <label>{{ 'admin_default_password' | translate }}</label>
        <span>
          <ng-container
            *ngIf="
              spec.webPortal.account?.adminDefaultPassword as adminPwd;
              else noAdminPwd
            "
          >
            <span class="pwd-display">
              <ng-container *ngIf="pwdVisible.admin">
                {{ adminPwd }}
                <aui-icon
                  icon="basic:eye_s"
                  (click)="pwdVisible.admin = false"
                ></aui-icon>
              </ng-container>
              <ng-container *ngIf="!pwdVisible.admin">
                ******
                <aui-icon
                  icon="basic:eye_slash_s"
                  (click)="pwdVisible.admin = true"
                ></aui-icon>
              </ng-container>
            </span>
          </ng-container>
          <ng-template #noAdminPwd>-</ng-template>
        </span>
      </alu-field-set-item>
      <alu-field-set-item>
        <label>{{ 'user_default_password' | translate }}</label>
        <span>
          <ng-container
            *ngIf="
              spec.webPortal.account?.userDefaultPassword as userPwd;
              else noUserPwd
            "
          >
            <span class="pwd-display">
              <ng-container *ngIf="pwdVisible.user">
                {{ userPwd }}
                <aui-icon
                  icon="basic:eye_s"
                  (click)="pwdVisible.user = false"
                ></aui-icon>
              </ng-container>
              <ng-container *ngIf="!pwdVisible.user">
                ******
                <aui-icon
                  icon="basic:eye_slash_s"
                  (click)="pwdVisible.user = true"
                ></aui-icon>
              </ng-container>
            </span>
          </ng-container>
          <ng-template #noUserPwd>-</ng-template>
        </span>
      </alu-field-set-item>
    </alu-field-set-group>
  </div>
  <div class="form-section">
    <div class="form-section__header">
      {{ 'label' | translate }}
    </div>
    <alu-field-set-group>
      <alu-field-set-item>
        <label>{{ 'File Server' }}</label>
        <span>{{ spec.labelConfig.file?.server || '-' }}</span>
      </alu-field-set-item>
      <alu-field-set-item>
        <label>{{ 'gpu_node' | translate }}</label>
        <span>
          <div class="tag-group">
            <aui-tag
              type="info"
              [size]="'mini'"
              [round]="true"
              *ngFor="let node of spec.labelConfig.gpuNode || []"
            >
              {{ node.ip }}
            </aui-tag>
          </div>
        </span>
      </alu-field-set-item>
      <alu-field-set-item>
        <label>{{ 'SIP Server' }}</label>
        <span>{{ spec.labelConfig.sip?.server || '-' }}</span>
      </alu-field-set-item>
      <alu-field-set-item>
        <label>{{ 'SIP Streaming' }}</label>
        <span>{{ spec.labelConfig.sip?.streaming || '-' }}</span>
      </alu-field-set-item>
    </alu-field-set-group>
  </div>
</aui-card>
