:host {
  ::ng-deep {
    aui-form-item {
      display: inline-block;
      width: 33%;
      @media screen and (min-width: 1600px) {
        width: 25%;
      }
      @media screen and (min-width: 1900px) {
        width: 20%;
      }
      aui-search {
        width: 100%;
      }
    }
  }
}

.audit-search-wrapper {
  display: flex;
  flex-wrap: wrap;
  .time-select {
    display: flex;
    align-items: flex-start;
    margin: 0 0 16px 20px;
    .aui-input {
      background-color: #fff;
      cursor: pointer;
    }
    label {
      line-height: 32px;
      margin: 0 10px;
    }
  }
}

.audit-pagination {
  margin: 12px;
  display: flex;
  justify-content: flex-end;
  .audit-search-hint {
    padding: 6px 6px 0;
  }
}

.audit-table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  margin-top: 6px;
  thead {
    background-color: #fafafa;
    border-color: #eee;
    border-style: solid;
    border-width: 1px 0;
    td {
      height: 40px;
      color: #333;
      vertical-align: middle;
      font-weight: 500;
      white-space: nowrap;
      &:nth-child(1) {
        width: 35px;
      }
    }
  }
  tbody {
    tr {
      background: #fff;

      &.detail {
        background-color: #fafafa;
      }

      // stylelint-disable-next-line no-descending-specificity
      td {
        height: 60px;
        word-break: break-all;

        &.col-expand-icon {
          cursor: pointer;
          text-align: center;
        }

        &.row-empty {
          text-align: center;
          background: #fff;
          border-bottom: 1px solid #eee;
        }

        &.audit-time {
          width: 180px;
        }

        &.audit-verb {
          width: 90px;
        }

        &.audit-resource {
          width: 120px;
        }

        .detail-row {
          margin: 6px 35px;
          display: flex;
          flex-wrap: wrap;

          .detail-col {
            float: left;
            width: 50%;
            display: flex;
            line-height: 20px;
            align-items: center;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            color: #333;
            font-size: 14px;
            margin-top: 6px;
          }
        }
      }
    }
  }
}
