<ng-container *aluPageHeaderContent>
  <aui-breadcrumb>
    <aui-breadcrumb-item>
      <span>{{ 'audit' | translate }}</span>
    </aui-breadcrumb-item>
  </aui-breadcrumb>
</ng-container>

<acl-page-guard
  [allowed]="isDeployed$ | async"
  [reason]="reason.NotDeployed"
  [description]="'not_deployed_es' | translate"
>
  <aui-card *aclPageGuardContent>
    <form
      class="audit-search-wrapper"
      auiForm
      auiFormLabelPosition="right"
      auiFormLabelWidth="100px"
    >
      <aui-form-item>
        <label auiFormItemLabel>
          {{ 'time_range' | translate }}
        </label>
        <aui-select
          auiFormItemControl
          name="timestampselect"
          [(ngModel)]="timestampOption"
          (ngModelChange)="onTimestampChanged($event)"
        >
          <aui-option
            *ngFor="let timestampOption of timestampOptions"
            [value]="timestampOption.type"
            [label]="timestampOption.name"
          >
            {{ timestampOption.name }}
          </aui-option>
        </aui-select>
      </aui-form-item>
      <div class="time-select" *ngIf="timestampOption === 'custom_time_range'">
        <div
          (valueChange)="onStartTimeSelect($event)"
          [aclCalendar]="dateTimeOptions"
          [(value)]="startTime"
        >
          <input
            aui-input
            [ngModel]="startTime"
            name="startTime"
            auiFormItemControl
          />
        </div>
        <label>{{ 'to' | translate }}</label>
        <div
          (valueChange)="onEndTimeSelect($event)"
          [aclCalendar]="dateTimeOptions"
          [(value)]="endTime"
        >
          <input
            aui-input
            [ngModel]="endTime"
            name="endTime"
            auiFormItemControl
          />
        </div>
      </div>
      <aui-form-item>
        <label auiFormItemLabel>
          {{ 'operator_name' | translate }}
        </label>
        <aui-select
          auiFormItemControl
          name="userName"
          filterable
          [(ngModel)]="userName"
          (ngModelChange)="refetch()"
        >
          <aui-option [value]="'_audit_all'" [label]="'all' | translate">
            {{ 'all' | translate }}
          </aui-option>
          <aui-option
            *ngFor="let username of usernames$ | async"
            [value]="username"
            [label]="username"
          >
            {{ username }}
          </aui-option>
        </aui-select>
      </aui-form-item>
      <aui-form-item>
        <label auiFormItemLabel>
          {{ 'action_type' | translate }}
        </label>
        <aui-select
          auiFormItemControl
          name="operationType"
          filterable
          [(ngModel)]="operationType"
          (ngModelChange)="refetch()"
        >
          <aui-option [value]="'_audit_all'" [label]="'all' | translate">
            {{ 'all' | translate }}
          </aui-option>
          <aui-option
            *ngFor="let operationType of operationTypes"
            [value]="operationType"
            [label]="operationType | translate"
          >
            {{ operationType | translate }}
          </aui-option>
        </aui-select>
      </aui-form-item>
      <aui-form-item>
        <label auiFormItemLabel>
          {{ 'object_ref_type' | translate }}
        </label>
        <aui-select
          auiFormItemControl
          name="resourceType"
          filterable
          [(ngModel)]="resourceType"
          (ngModelChange)="refetch()"
        >
          <aui-option [value]="'_audit_all'" [label]="'all' | translate">
            {{ 'all' | translate }}
          </aui-option>
          <aui-option
            *ngFor="let resourceType of resourceTypes$ | async"
            [value]="resourceType"
            [label]="resourceType | translate"
          >
            {{ resourceType | translate }}
          </aui-option>
        </aui-select>
      </aui-form-item>
      <aui-form-item>
        <label auiFormItemLabel>
          {{ 'refer_object' | translate }}
        </label>
        <aui-search
          [(keyword)]="resourceName"
          [searchButton]="true"
          (search)="refetch()"
        ></aui-search>
      </aui-form-item>
    </form>
    <table class="audit-table">
      <thead>
        <tr>
          <td></td>
          <td>{{ 'time' | translate }}</td>
          <td>{{ 'operator_name' | translate }}</td>
          <td>{{ 'action_type' | translate }}</td>
          <td>{{ 'refer_object' | translate }}</td>
          <td>{{ 'object_ref_type' | translate }}</td>
        </tr>
      </thead>
      <ng-container *ngIf="audits$ | async as audits; else empty">
        <tbody *ngFor="let audit of audits; trackBy: trackById">
          <tr [ngClass]="{ active: expandedAudits[audit.AuditID] }">
            <td class="col-expand-icon" (click)="clickRow(audit)" role="button">
              <aui-icon
                icon="angle_down"
                margin="left"
                [hidden]="!expandedAudits[audit.AuditID]"
              ></aui-icon>
              <aui-icon
                icon="angle_right"
                margin="left"
                [hidden]="expandedAudits[audit.AuditID]"
              ></aui-icon>
            </td>
            <td class="audit-time">
              {{ audit.StageTimestamp | aclStandardTime }}
            </td>
            <td>{{ audit.User.Username }}</td>
            <td class="audit-verb">{{ audit.Verb | lowercase | translate }}</td>
            <td>{{ audit.ReferObject | aclFieldNotAvailable }}</td>
            <td class="audit-resource">
              {{ audit.ObjectRef.Resource | translate }}
            </td>
          </tr>
          <ng-container *ngIf="audit.AuditID && expandedAudits[audit.AuditID]">
            <tr class="detail">
              <td colspan="6">
                <div class="detail-row">
                  <div class="detail-col">
                    <span
                      [auiTooltip]="audit.RequestURI"
                      auiTooltipPosition="top start"
                    >
                      {{ 'request_uri' | translate }}: {{ audit.RequestURI }}
                    </span>
                  </div>
                  <div class="detail-col">
                    {{ 'source_ip' | translate }}:
                    {{ audit.SourceIPs.join(', ') }}
                  </div>
                </div>
                <div class="detail-row">
                  <div class="detail-col">
                    {{ 'response_code' | translate }}:
                    {{ audit.ResponseStatus.code }}
                  </div>
                  <div class="detail-col">
                    {{ 'namespace' | translate }}:
                    {{ audit.ObjectRef.Namespace | aclFieldNotAvailable }}
                  </div>
                </div>
                <div class="detail-row">
                  <div class="detail-col">
                    <a
                      href="javascript:void(0)"
                      (click)="showDetailTemplate(audit, auditDetailTemplate)"
                    >
                      {{ 'event_detail' | translate }}
                    </a>
                  </div>
                </div>
              </td>
            </tr>
          </ng-container>
        </tbody>
        <ng-container *ngIf="audits?.length; else empty"></ng-container>
      </ng-container>
    </table>
    <div class="audit-pagination" *ngIf="pagination.count > 0">
      <aui-paginator
        layout="total,pager,sizes,jumper"
        [(currentPage)]="pagination.current"
        [(pageSize)]="pagination.size"
        [total]="pagination.count"
        (currentPageChange)="currentPageChange($event)"
        (pageSizeChange)="pageSizeChange($event)"
        [pageSizeOptions]="[10, 20, 50, 100]"
      ></aui-paginator>
      <aui-icon
        icon="basic:question"
        class="audit-search-hint"
        auiTooltipPosition="start center"
        auiTooltipType="info"
        [auiTooltip]="'logs_search_hint' | translate"
      ></aui-icon>
    </div>
  </aui-card>
</acl-page-guard>

<ng-template #auditDetailTemplate>
  <aui-dialog-header>
    {{ 'event_detail' | translate }}
  </aui-dialog-header>
  <aui-dialog-content>
    <aui-code-editor
      [options]="{ language: 'json', readOnly: true }"
      [actionsConfig]="actionsConfigView"
      [ngModel]="auditDetail | json"
    ></aui-code-editor>
  </aui-dialog-content>
</ng-template>

<ng-template #empty>
  <tbody>
    <tr>
      <td colspan="7" class="row-empty">
        {{ 'no_data' | translate }}
      </td>
    </tr>
  </tbody>
</ng-template>
