<aui-page>
  <alu-header *auiPageHeader [logoTitle]="'project_management' | translate">
    <div class="toolbar">
      <a
        [routerLink]="['/home']"
        title="{{ 'go_project_list' | translate }}"
        class="project-icon"
      >
        <aui-icon icon="basic:project_s" size="16px"></aui-icon>
      </a>
      <acl-project-select
        [selected]="projectName$ | async"
        (selectedChange)="projectSwitchHandle($event)"
      ></acl-project-select>
    </div>
  </alu-header>

  <div *auiPageToolbar class="layout-page-header">
    <ng-container
      *cdkPortalOutlet="pageHeaderContentTemplate$ | async"
    ></ng-container>
  </div>

  <ng-container *auiPageSider>
    <aui-platform-nav
      [items]="flattenNavConfig$ | async | pure: filterFg | async"
      [activatedKey]="activatedKey$ | async"
      [hideMainPanelToggle]="true"
      (activatedItemChange)="onActivatedItemChange($event)"
    ></aui-platform-nav>
  </ng-container>

  <div *auiPageContent>
    <router-outlet></router-outlet>
  </div>
</aui-page>
