@import 'var';

:host {
  .toolbar {
    display: flex;
    align-items: center;
    .project-icon {
      height: 28px;
      width: 28px;
      border-radius: 2px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: $color-text-help;
    }
    a.project-icon:hover {
      color: $color-white;
      background-color: rgba($color-white, 0.16);
    }
  }
}
