@import 'var';

:host {
  flex: 1;
  .ip-selector {
    display: flex;
    flex: 1;
    ::ng-deep aui-select,
    aui-multi-select {
      flex: 1;
    }
  }
  .add-ip-button {
    margin-left: 8px;
  }
}
