<div class="ip-selector" [ngClass]="{ submitted: submitted }">
  <aui-select
    *ngIf="!multiSelect"
    clearable
    fiterable
    [placeholder]="placeholder"
    [(ngModel)]="model"
    [disabled]="disabled"
    (ngModelChange)="ipSelectChange($event)"
  >
    <aui-option
      *ngFor="let option of options$ | async"
      [value]="option"
      [label]="option"
    >
      {{ option }}
    </aui-option>
    <aui-option-placeholder>
      {{ 'no_data' | translate }}
    </aui-option-placeholder>
  </aui-select>

  <aui-multi-select
    *ngIf="multiSelect"
    clearable
    fiterable
    [(ngModel)]="model"
    (ngModelChange)="ipSelectChange($event)"
    [disabled]="disabled || selectDisabled"
    [placeholder]="placeholder"
  >
    <aui-option
      *ngFor="let option of options$ | async"
      [value]="option"
      [label]="option"
    >
      {{ option }}
    </aui-option>
    <aui-option-placeholder>
      {{ 'no_data' | translate }}
    </aui-option-placeholder>
  </aui-multi-select>
  <button
    aui-button
    type="button"
    [plain]="true"
    class="add-ip-button"
    [disabled]="disabled"
    (click)="openAddIpDialog()"
  >
    {{ 'tdsql_add_ip' | translate }}
  </button>
</div>
