.overview {
  font-size: 14px;
  color: #333;

  alu-field-set-group {
    margin-bottom: 16px;
  }
}

.table-wrapper {
  max-height: calc(42px * 6);
  overflow: scroll;

  ::ng-deep {
    .aui-table {
      &__header-row {
        /* doiuse-disable css-sticky */
        position: sticky;
        top: 0;
        z-index: 1;
      }
    }
  }
}

aui-icon {
  &[icon='basic:eye_slash_s'],
  &[icon='basic:eye_s'] {
    cursor: pointer;

    &:hover {
      color: #0058cc;
    }
  }
}
