<aui-dialog-header>
  {{ 'tdsql_overview_components' | translate }}
</aui-dialog-header>
<aui-dialog-content>
  <div class="overview">
    <alu-field-set-group>
      <alu-field-set-item>
        <label>{{ 'tdsql_password' | translate }}</label>
        <div>
          <ng-container *ngIf="passwordVisible">
            {{ getDecodedPassword() | aclFieldNotAvailable }}
            <aui-icon
              icon="basic:eye_s"
              (click)="passwordVisible = false"
            ></aui-icon>
          </ng-container>
          <ng-container *ngIf="!passwordVisible">
            ******
            <aui-icon
              icon="basic:eye_slash_s"
              (click)="passwordVisible = true"
            ></aui-icon>
          </ng-container>
        </div>
      </alu-field-set-item>

      <alu-field-set-item>
        <label>{{ 'tdsql_scheduler_network_card_name' | translate }}</label>
        <div>{{ getSchedulerNetifName() | aclFieldNotAvailable }}</div>
      </alu-field-set-item>

      <alu-field-set-item *ngIf="!isProcessMode()">
        <label>{{ 'k8s_cluster' | translate }}</label>
        <div>{{ getCluster() | aclFieldNotAvailable }}</div>
      </alu-field-set-item>

      <alu-field-set-item *ngIf="!isProcessMode()">
        <label>{{ 'oss_replicas_num' | translate }}</label>
        <span>{{ getReplicasNum('oss') | aclFieldNotAvailable }}</span>
      </alu-field-set-item>

      <alu-field-set-item>
        <label>{{ 'tdsql_zookeeper_root_path' | translate }}</label>
        <div>
          {{ getZookeeperRootPath() | aclFieldNotAvailable }}
        </div>
      </alu-field-set-item>

      <alu-field-set-item *ngIf="!isProcessMode()">
        <label>{{ 'chitu_replicas_num' | translate }}</label>
        <span>{{ getReplicasNum('chitu') | aclFieldNotAvailable }}</span>
      </alu-field-set-item>
    </alu-field-set-group>
  </div>

  <div class="table-wrapper">
    <alu-tdsql-components-table
      [showAllComponents]="showAllComponents"
      [cr]="cr"
      [model]="model"
    ></alu-tdsql-components-table>
  </div>
</aui-dialog-content>
