@import 'var';

.stage-setting-list {
  list-style-type: none;
  display: flex;

  li {
    width: 50%;
    display: flex;

    label:after {
      content: ':';
      margin-right: 4px;
    }

    .hint {
      margin-top: 4px;
      font-size: $font-size-small;
      color: $color-text-help;
    }
  }
}

.cluster-list {
  margin: 12px 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;

  li {
    margin-top: 8px;
    margin-right: 8px;
    padding: 0 12px;
    line-height: 28px;
    border-radius: 14px;
    color: $color-text-main;
    cursor: pointer;

    &.isSelected {
      color: $color-primary;
      background-color: $color-primary-extra-light;
    }
  }
}
