<ng-container *aluPageHeaderContent>
  <aui-breadcrumb>
    <aui-breadcrumb-item>
      {{ 'feature_gate' | translate }}
    </aui-breadcrumb-item>
  </aui-breadcrumb>
</ng-container>

<aui-inline-alert>
  {{ 'feature_gate_explanation' | translate }}
</aui-inline-alert>

<aui-card>
  <div auiCardHeader>
    {{ 'feature_gate_stage_setting' | translate }}
  </div>
  <div>
    <ul class="stage-setting-list">
      <li>
        <label>Alpha {{ 'feature' | translate }}</label>
        <div>
          <aui-switch
            [value]="alphaFg?.spec?.enabled"
            (valueChange)="switchStage('Alpha')"
          ></aui-switch>
          <div class="hint">
            {{
              (alphaFg?.spec?.enabled
                ? 'controlled_by_feature_switch'
                : 'all_staged_features_forbidden'
              ) | translate: { stage: 'Alpha' }
            }}
          </div>
        </div>
      </li>
      <li>
        <label>Beta {{ 'feature' | translate }}</label>
        <div>
          <aui-switch
            [value]="betaFg?.spec?.enabled"
            (valueChange)="switchStage('Beta')"
          ></aui-switch>
          <div class="hint">
            {{
              (betaFg?.spec?.enabled
                ? 'controlled_by_feature_switch'
                : 'all_staged_features_forbidden'
              ) | translate: { stage: 'Beta' }
            }}
          </div>
        </div>
      </li>
    </ul>
  </div>
</aui-card>

<ul class="cluster-list">
  <li
    [class.isSelected]="selectedCluster === allClustersSym"
    (click)="selectCluster(allClustersSym)"
  >
    {{ 'all' | translate }}
  </li>
  <li
    [class.isSelected]="selectedCluster === platformSym"
    (click)="selectCluster(platformSym)"
  >
    {{ 'platform_setting' | translate }}
  </li>
  <li
    *ngFor="let cluster of clusters$ | async"
    [class.isSelected]="selectedCluster === cluster.metadata.name"
    (click)="selectCluster(cluster.metadata.name)"
  >
    {{ (cluster | aclDisplayName) || (cluster | aclName) }}
  </li>
</ul>

<alu-fg-table
  *ngIf="displayTable(platformSym)"
  [isGlobal]="true"
  [alphaForbidden]="!alphaFg?.spec.enabled"
  [betaForbidden]="!betaFg?.spec.enabled"
  [items]="globalFg$ | async"
  (updated)="refreshCluster(platformSym)"
></alu-fg-table>

<ng-container *ngFor="let cluster of clusters$ | async">
  <alu-fg-table
    *ngIf="displayTable(cluster.metadata.name)"
    [clusterDisplayName]="cluster | aclDisplayName"
    [clusterName]="cluster | aclName"
    [alphaForbidden]="!alphaFg?.spec.enabled"
    [betaForbidden]="!betaFg?.spec.enabled"
    [items]="(clusterFg$ | async)[cluster.metadata.name]"
    (updated)="refreshCluster(cluster.metadata.name)"
    (addFg)="addFgToCluster($event)"
  ></alu-fg-table>
</ng-container>
