<ng-container *aluPageHeaderContent>
  <aui-breadcrumb>
    <aui-breadcrumb-item>
      <span>{{ 'meter' | translate }}</span>
    </aui-breadcrumb-item>
    <aui-breadcrumb-item>
      <span>{{ 'meter_report' | translate }}</span>
    </aui-breadcrumb-item>
  </aui-breadcrumb>
</ng-container>

<acl-page-guard
  [allowed]="isDeployed$ | async"
  [reason]="reason.NotDeployed"
  [description]="'not_deployed_es' | translate"
>
  <ng-container *aclPageGuardContent>
    <aui-inline-alert>
      <div>{{ 'meter_data_keep_time_range_tip' | translate }}</div>
    </aui-inline-alert>
    <aui-card>
      <form
        class="search-wrapper"
        auiForm
        auiFormLabelPosition="right"
        auiFormLabelWidth="90px"
      >
        <aui-form-item>
          <label auiFormItemLabel>
            {{ 'meter_types' | translate }}
          </label>
          <aui-select
            auiFormItemControl
            name="type"
            filterable
            [(ngModel)]="type"
            (ngModelChange)="onTypeChange($event)"
          >
            <aui-option
              *ngFor="let type of types"
              [value]="type.key"
              [label]="type.text | translate"
            >
              {{ type.text | translate }}
            </aui-option>
          </aui-select>
        </aui-form-item>
        <aui-form-item>
          <label auiFormItemLabel>
            {{ 'meter_granularity' | translate }}
          </label>
          <aui-select
            auiFormItemControl
            name="groupBy"
            filterable
            [(ngModel)]="groupBy"
            (ngModelChange)="refetch()"
          >
            <aui-option value="project" [label]="'project' | translate">
              {{ 'project' | translate }}
            </aui-option>
            <aui-option
              *ngIf="type !== 'projectQuota'"
              value="namespace"
              [label]="'namespace' | translate"
            >
              {{ 'namespace' | translate }}
            </aui-option>
          </aui-select>
        </aui-form-item>
        <aui-form-item>
          <label auiFormItemLabel>
            {{ 'time_range' | translate }}
          </label>
          <div class="time-select">
            <div
              class="time-input"
              (valueChange)="onStartTimeSelect($event)"
              [aclCalendar]="dateTimeOptions"
              [(value)]="startTime"
            >
              <input
                aui-input
                [ngModel]="startTime"
                name="startTime"
                auiFormItemControl
              />
              <div class="time-button">
                <div class="time-button-icon">
                  <aui-icon icon="basic:calendar"></aui-icon>
                </div>
              </div>
            </div>
            <label>{{ 'to' | translate }}</label>
            <div
              class="time-input"
              (valueChange)="onEndTimeSelect($event)"
              [aclCalendar]="dateTimeOptions"
              [(value)]="endTime"
            >
              <input
                aui-input
                [ngModel]="endTime"
                name="endTime"
                auiFormItemControl
              />
              <div class="time-button">
                <div class="time-button-icon">
                  <aui-icon icon="basic:calendar"></aui-icon>
                </div>
              </div>
            </div>
          </div>
        </aui-form-item>
        <aui-form-item style="width: 66%;">
          <label auiFormItemLabel>
            {{ 'project' | translate }}
          </label>
          <aui-radio-group [(ngModel)]="project" name="project">
            <aui-radio value="all">{{ 'all' | translate }}</aui-radio>
            <aui-radio value="custom">{{ 'custom' | translate }}</aui-radio>
          </aui-radio-group>
          <aui-multi-select
            [hidden]="project === 'all'"
            name="projects"
            [(ngModel)]="projects"
            (ngModelChange)="refetch()"
            [allowCreate]="true"
            [filterable]="true"
            clearable
            [placeholder]="'multi_select_tip' | translate"
          >
            <aui-option-placeholder>
              {{ 'no_data' | translate }}
            </aui-option-placeholder>
            <aui-option
              *ngFor="let option of projects$ | async"
              [label]="option.metadata.name"
              [value]="option.metadata.name"
            >
              {{ option.metadata.name }}
            </aui-option>
          </aui-multi-select>
        </aui-form-item>
        <div class="search-button">
          <button aui-button="primary" size="medium" (click)="refetch()">
            {{ 'search' | translate }}
          </button>
          <button aui-button="default" size="medium" (click)="reset()">
            {{ 'reset' | translate }}
          </button>
          <span
            *ngIf="!(list$ | async)?.length"
            class="export-btn-wrapper"
            [auiTooltip]="'no_data_cannot_export' | translate"
          >
            <button disabled aui-button="default" size="medium">
              {{ 'export_result' | translate }}
            </button>
          </span>
          <span *ngIf="(list$ | async)?.length" class="export-btn-wrapper">
            <acl-disabled-container
              [isAllowed]="(permissions$ | async).create"
              [isDisabled]="!(isMeterReportDeployed$ | async)"
              [tooltip]="'report_not_deployed_cannot_export' | translate"
            >
              <button aui-button="default" size="medium" (click)="export()">
                {{ 'export_result' | translate }}
              </button>
            </acl-disabled-container>
          </span>
        </div>
      </form>
      <div class="table-header">
        <span>{{ getTypeText() | translate }}</span>
        <span>-</span>
        <span>{{ getgroupByText() | translate }}</span>
        <span fxFlex></span>
        <span>
          <span class="icon-wrapper icon-cpu">
            <aui-icon icon="basic:cpu"></aui-icon>
          </span>
          {{ 'cpu_used_all' | translate }}:
          <span class="color-cpu">{{ allValCpu | number: '1.2-2' }}</span>
          {{ 'core_plus_hour' | translate }}
        </span>
        <span style="display: inline-block; margin-left: 30px;">
          <span class="icon-wrapper icon-memory">
            <aui-icon icon="basic:memory"></aui-icon>
          </span>
          {{ 'memory_used_all' | translate }}:
          <span class="color-memory">{{ allValMemory | number: '1.2-2' }}</span>
          {{ 'gb_plus_hour' | translate }}
        </span>
      </div>
      <aui-accordion *ngIf="list$ | async as list">
        <ng-container *ngFor="let item of list; let i = index">
          <aui-accordion-item [expanded]="list?.length === 1 && i === 0">
            <div auiAccordionItemHeader>
              <span class="meter-time">{{ item.date }}</span>
              <span fxFlex></span>
              <span class="meter-item">
                <aui-icon class="color-cpu" icon="basic:cpu"></aui-icon>
                <span>{{ item.meter.cpu | number: '1.2-2' }}</span>
              </span>
              <span class="meter-item">
                <aui-icon class="color-memory" icon="basic:memory"></aui-icon>
                <span>{{ item.meter.memory | number: '1.2-2' }}</span>
              </span>
            </div>
            <ng-template auiAccordionContent>
              <alu-meter-report-detail
                *ngIf="!(loading$ | async)"
                [queryParams]="{
                  startTime: item.date,
                  endTime: item.date,
                  type: type,
                  groupBy: groupBy,
                  project:
                    this.project === 'custom' && this.projects
                      ? this.projects.join(',')
                      : null
                }"
              ></alu-meter-report-detail>
            </ng-template>
          </aui-accordion-item>
        </ng-container>
      </aui-accordion>
      <div style="text-align: center; line-height: 50px;">
        <ng-container *ngIf="!(list$ | async)?.length">
          {{ 'no_data' | translate }}
        </ng-container>
      </div>
    </aui-card>
  </ng-container>
</acl-page-guard>
