<aui-page>
  <alu-header
    *auiPageHeader
    [logoTitle]="logoTitle$ | async | translate"
  ></alu-header>

  <ng-container
    *ngIf="
      (logoTitle$ | async) == 'project_management' &&
      (viewPermissions$ | async).projectView
    "
  >
    <div *auiPageToolbar class="layout-page-header">
      <ng-container
        *cdkPortalOutlet="pageHeaderContentTemplate$ | async"
      ></ng-container>
    </div>
  </ng-container>
  <div *auiPageContent class="layout-page-content">
    <acl-page-guard
      [allowed]="personalInfoAllowed || (viewPermissions$ | async).projectView"
      [reason]="noPermission"
      [description]="noPermissionDesc | translate"
    >
      <router-outlet *aclPageGuardContent></router-outlet>
    </acl-page-guard>
  </div>
</aui-page>
