:host {
  ::ng-deep {
    .aui-sort-header__button {
      height: 42px;
      align-items: baseline;
    }
  }
}

.load-bar {
  text-align: center;
  line-height: 50px;
  aui-icon {
    margin-right: 5px;
  }
}
