<aui-table
  auiSort
  [dataSource]="list$ | async"
  active="cpu"
  direction="desc"
  (sortChange)="sortData($event)"
>
  <ng-container auiTableColumnDef="name">
    <aui-table-header-cell *auiTableHeaderCellDef aui-sort-header>
      {{ 'pod_name' | translate }}
    </aui-table-header-cell>
    <aui-table-cell *auiTableCellDef="let item">
      {{ item.pod }}
    </aui-table-cell>
  </ng-container>
  <ng-container auiTableColumnDef="namespace">
    <aui-table-header-cell *auiTableHeaderCellDef>
      {{ 'namespace_belonged' | translate }}
    </aui-table-header-cell>
    <aui-table-cell *auiTableCellDef="let item">
      {{ item.namespace.name }}
    </aui-table-cell>
  </ng-container>
  <ng-container auiTableColumnDef="cluster">
    <aui-table-header-cell *auiTableHeaderCellDef>
      {{ 'cluster_belonged' | translate }}
    </aui-table-header-cell>
    <aui-table-cell *auiTableCellDef="let item">
      {{ item.cluster.name }}
    </aui-table-cell>
  </ng-container>
  <ng-container auiTableColumnDef="project">
    <aui-table-header-cell *auiTableHeaderCellDef>
      {{ 'project_belonged' | translate }}
    </aui-table-header-cell>
    <aui-table-cell *auiTableCellDef="let item">
      {{ item.project.name | aclFieldNotAvailable }}
    </aui-table-cell>
  </ng-container>
  <ng-container auiTableColumnDef="cpu">
    <aui-table-header-cell *auiTableHeaderCellDef aui-sort-header>
      {{ 'cpu_used_all' | translate }} ({{ 'core_plus_hour' | translate }})
    </aui-table-header-cell>
    <aui-table-cell *auiTableCellDef="let item">
      {{ item.meter.cpu | number: '1.2-2' }}
    </aui-table-cell>
  </ng-container>
  <ng-container auiTableColumnDef="memory">
    <aui-table-header-cell *auiTableHeaderCellDef aui-sort-header>
      {{ 'memory_used_all' | translate }} ({{ 'gb_plus_hour' | translate }})
    </aui-table-header-cell>
    <aui-table-cell *auiTableCellDef="let item">
      {{ item.meter.memory | number: '1.2-2' }}
    </aui-table-cell>
  </ng-container>
  <ng-container auiTableColumnDef="start_time">
    <aui-table-header-cell *auiTableHeaderCellDef>
      {{ 'start_time' | translate }}
    </aui-table-header-cell>
    <aui-table-cell *auiTableCellDef="let item">
      {{ item.startTime?.slice(11, 19) }}
    </aui-table-cell>
  </ng-container>
  <ng-container auiTableColumnDef="end_time">
    <aui-table-header-cell *auiTableHeaderCellDef>
      {{ 'end_time' | translate }}
    </aui-table-header-cell>
    <aui-table-cell *auiTableCellDef="let item">
      {{ item.endTime?.slice(11, 19) }}
    </aui-table-cell>
  </ng-container>
  <aui-table-header-row *auiTableHeaderRowDef="columns"></aui-table-header-row>
  <aui-table-row *auiTableRowDef="let row; columns: columns"></aui-table-row>
</aui-table>
<div class="load-bar">
  <ng-container *ngIf="!(loading$ | async) && !(list$ | async)?.length">
    {{ 'no_data' | translate }}
  </ng-container>
  <ng-container *ngIf="loading$ | async">
    <aui-icon icon="spinner"></aui-icon>
  </ng-container>
  <ng-container *ngIf="next">
    <span style="cursor: pointer;" (click)="loadMore()">
      {{ 'load_more' | translate }}
    </span>
  </ng-container>
</div>
