@import 'var';
@import '../../common.scss';

.top-field {
  display: flex;
  margin-bottom: 12px;
  > label {
    text-align: right;
    width: 118px;
    margin-right: 8px;
    &:after {
      content: ':';
      margin-right: 2px;
    }
    + span {
      flex: 1;
    }
  }
}

.mode {
  margin-bottom: 8px;
}

.form-section {
  & + & {
    margin-top: 16px;
  }
}

.field-panel__wrap {
  & + & {
    margin-top: 12px;
  }
}

.pwd-display {
  display: flex;
  align-items: center;
  aui-icon {
    color: #999;
    margin-left: 8px;
    font-size: 16px;
    cursor: pointer;
    &:hover {
      color: $color-primary;
    }
  }
}
