<aui-card *ngIf="deployment?.cr?.spec as spec">
  <!-- Mysql Server -->
  <div class="top-field" *ngIf="spec.dependency.database as mysql">
    <label>{{ 'Mysql Server' }}</label>
    <span>
      <div class="mode">
        {{ deployModes[mysql.mode || 0] | translate }}
      </div>
      <div class="field-panel__wrap">
        <div class="field-panel__body">
          <ng-container *ngIf="!mysql.mode">
            <alu-field-set-group>
              <alu-field-set-item>
                <label>{{ 'host' | translate }}</label>
                <span>
                  <ng-container
                    *ngTemplateOutlet="
                      tags;
                      context: { $implicit: mysql.tiInstall.ip }
                    "
                  ></ng-container>
                </span>
              </alu-field-set-item>
            </alu-field-set-group>
          </ng-container>
          <ng-container *ngIf="mysql.mode">
            <alu-field-set-group>
              <alu-field-set-item>
                <label>{{ 'address' | translate }}</label>
                <span>{{ mysql.external.host }}</span>
              </alu-field-set-item>
            </alu-field-set-group>
            <alu-field-set-group>
              <alu-field-set-item>
                <label>{{ 'username' | translate }}</label>
                <span>{{ mysql.external.user }}</span>
              </alu-field-set-item>
            </alu-field-set-group>
            <alu-field-set-group>
              <alu-field-set-item>
                <label>{{ 'password' | translate }}</label>
                <span>{{ mysql.external.password }}</span>
              </alu-field-set-item>
            </alu-field-set-group>
            <alu-field-set-group>
              <alu-field-set-item>
                <label>{{ 'port' | translate }}</label>
                <span>{{ mysql.external.port }}</span>
              </alu-field-set-item>
            </alu-field-set-group>
          </ng-container>
        </div>
      </div>
    </span>
  </div>
  <!-- redis -->
  <div class="top-field" *ngIf="spec.dependency.redis as redis">
    <label>{{ 'Redis' }}</label>
    <span>
      <div class="mode">
        {{ deployModes[redis.mode || 0] | translate }}
      </div>
      <div class="field-panel__wrap">
        <div class="field-panel__body">
          <ng-container *ngIf="!redis.mode">
            <alu-field-set-group>
              <alu-field-set-item>
                <label>{{ 'host' | translate }}</label>
                <span>
                  <ng-container
                    *ngTemplateOutlet="
                      tags;
                      context: { $implicit: redis.tiInstall.ip }
                    "
                  ></ng-container>
                </span>
              </alu-field-set-item>
            </alu-field-set-group>
          </ng-container>
          <ng-container *ngIf="redis.mode">
            <alu-field-set-group>
              <alu-field-set-item>
                <label>{{ 'service_address' | translate }}</label>
                <span>{{ redis.external.host }}</span>
              </alu-field-set-item>
            </alu-field-set-group>
            <alu-field-set-group>
              <alu-field-set-item>
                <label>{{ 'password' | translate }}</label>
                <span>{{ redis.external.password }}</span>
              </alu-field-set-item>
            </alu-field-set-group>
            <alu-field-set-group>
              <alu-field-set-item>
                <label>{{ 'port' | translate }}</label>
                <span>{{ redis.external.port }}</span>
              </alu-field-set-item>
            </alu-field-set-group>
            <alu-field-set-group>
              <alu-field-set-item>
                <label>{{ 'DNS' }}</label>
                <span>{{ redis.external.dnsIpPort }}</span>
              </alu-field-set-item>
            </alu-field-set-group>
          </ng-container>
        </div>
      </div>
    </span>
  </div>
  <!-- zk -->
  <div class="top-field" *ngIf="spec.dependency.zookeeper as zk">
    <label>{{ 'ZK Server' }}</label>
    <span>
      <div class="mode">{{ deployModes[zk.mode] | translate }}</div>
      <div class="field-panel__wrap">
        <div class="field-panel__body">
          <alu-field-set-group>
            <alu-field-set-item *ngIf="zk.mode === 0">
              <label>{{ 'host' | translate }}</label>
              <span>{{ zk.external[0].host }}</span>
            </alu-field-set-item>
            <alu-field-set-item *ngIf="zk.mode === 1">
              <label>{{ 'service_address' | translate }}</label>
              <span>{{ zk.external[0].host }}</span>
            </alu-field-set-item>
          </alu-field-set-group>
        </div>
      </div>
    </span>
  </div>
  <!-- kfk -->
  <div class="top-field" *ngIf="spec.dependency.kafka as kfk">
    <label>{{ 'Kfk Server' }}</label>
    <span>
      <div class="mode">{{ deployModes[kfk.mode] | translate }}</div>
      <div class="field-panel__wrap">
        <div class="field-panel__body">
          <ng-container *ngIf="kfk.mode === 0">
            <alu-field-set-group>
              <alu-field-set-item>
                <label>{{ 'address' | translate }}</label>
                <span>{{ kfk.external[0].kafkaAddr }}</span>
              </alu-field-set-item>
            </alu-field-set-group>
          </ng-container>
          <ng-container *ngIf="kfk.mode === 1">
            <alu-field-set-group>
              <alu-field-set-item>
                <label>{{ 'service_address' | translate }}</label>
                <span>{{ kfk.external[0].kafkaAddr }}</span>
              </alu-field-set-item>
            </alu-field-set-group>
            <alu-field-set-group>
              <alu-field-set-item>
                <label>{{ 'web_address' | translate }}</label>
                <span>{{ kfk.external[0].kafkaBootStrap }}</span>
              </alu-field-set-item>
            </alu-field-set-group>
          </ng-container>
        </div>
      </div>
    </span>
  </div>
  <!-- es -->
  <div class="top-field" *ngIf="spec.dependency.es as es">
    <label>{{ 'ES Master' }}</label>
    <span>
      <div class="mode">{{ deployModes[es.mode] | translate }}</div>
      <div class="field-panel__wrap">
        <div class="field-panel__body">
          <alu-field-set-group>
            <alu-field-set-item *ngIf="es.mode === 0" [allowFlex]="true">
              <label>{{ 'host' | translate }}</label>
              <span>{{ es.external[0].host }}</span>
            </alu-field-set-item>
            <ng-container *ngIf="es.mode === 1">
              <alu-field-set-item [allowFlex]="true">
                <label>{{ 'username' | translate }}</label>
                <span>{{ es.external[0].user }}</span>
              </alu-field-set-item>
              <alu-field-set-item [allowFlex]="true">
                <label>{{ 'password' | translate }}</label>
                <span>
                  <span class="pwd-display">
                    <ng-container *ngIf="showPassword">
                      {{ es.external[0].password }}
                      <aui-icon
                        icon="basic:eye_s"
                        (click)="showPassword = false"
                      ></aui-icon>
                    </ng-container>
                    <ng-container *ngIf="!showPassword">
                      ******
                      <aui-icon
                        icon="basic:eye_slash_s"
                        (click)="showPassword = true"
                      ></aui-icon>
                    </ng-container>
                  </span>
                </span>
              </alu-field-set-item>
              <alu-field-set-item [allowFlex]="true">
                <label>{{ 'port' | translate }}</label>
                <span>{{ es.external[0].port }}</span>
              </alu-field-set-item>
            </ng-container>
          </alu-field-set-group>
        </div>
      </div>
    </span>
  </div>
  <!-- consul -->
  <div class="top-field" *ngIf="spec.dependency.consul as consul">
    <label>{{ 'Consul' }}</label>
    <span>
      <div class="field-panel__wrap">
        <div class="field-panel__body">
          <alu-field-set-group>
            <alu-field-set-item [allowFlex]="true">
              <label>{{ 'host' | translate }}</label>
              <span>
                <ng-container
                  *ngTemplateOutlet="
                    tags;
                    context: { $implicit: consul.tiInstall.ip }
                  "
                ></ng-container>
              </span>
            </alu-field-set-item>
          </alu-field-set-group>
        </div>
      </div>
    </span>
  </div>
  <div class="top-field">
    <label>{{ 'Etcd' }}</label>
    <span>
      <div class="field-panel__wrap">
        <div class="field-panel__body">
          <alu-field-set-group>
            <alu-field-set-item>
              <label>{{ 'host' | translate }}</label>
              <span>
                <ng-container
                  *ngTemplateOutlet="
                    tags;
                    context: { $implicit: spec.dependency.etcd.tiInstall.ip }
                  "
                ></ng-container>
              </span>
            </alu-field-set-item>
          </alu-field-set-group>
        </div>
      </div>
    </span>
  </div>
  <ng-container *ngIf="spec.dependency.monitor as monitor">
    <div class="top-field">
      <label>{{ 'InfluxDB' }}</label>
      <span>
        <div class="mode">{{ deployModes[0] | translate }}</div>
        <div class="field-panel__wrap">
          <div class="field-panel__body">
            <alu-field-set-group>
              <alu-field-set-item [allowFlex]="true">
                <label>{{ 'address' | translate }}</label>
                <span>{{ monitor.externalInfluxDB.ip || '-' }}</span>
              </alu-field-set-item>
              <alu-field-set-item [allowFlex]="true">
                <label>{{ 'username' | translate }}</label>
                <span>{{ monitor.externalInfluxDB.user || '-' }}</span>
              </alu-field-set-item>
              <alu-field-set-item [allowFlex]="true">
                <label>{{ 'password' | translate }}</label>
                <span>{{ monitor.externalInfluxDB.password || '-' }}</span>
              </alu-field-set-item>
            </alu-field-set-group>
          </div>
        </div>
      </span>
    </div>
  </ng-container>
  <div class="top-field">
    <label>{{ 'storage_mode' | translate }}</label>
    <span>{{ storageModes[spec.storage.mode || 0] | translate }}</span>
  </div>

  <div class="top-field" *ngIf="spec.storage.mode === 1">
    <label>{{ 'Cos' }}</label>
    <span>
      <div class="field-panel__wrap">
        <div class="field-panel__body">
          <alu-field-set-group>
            <alu-field-set-item>
              <label>{{ 'Region' }}</label>
              <span>{{ spec.storage.cos.region || '-' }}</span>
            </alu-field-set-item>
            <alu-field-set-item>
              <label>{{ 'Bucket' }}</label>
              <span>{{ spec.storage.cos.bucketName || '-' }}</span>
            </alu-field-set-item>
            <alu-field-set-item>
              <label>{{ 'Secret ID' }}</label>
              <span>{{ spec.storage.cos.secretId || '-' }}</span>
            </alu-field-set-item>
            <alu-field-set-item>
              <label>{{ 'Secret Key' }}</label>
              <span>{{ spec.storage.cos.secretKey || '-' }}</span>
            </alu-field-set-item>
          </alu-field-set-group>
        </div>
      </div>
    </span>
  </div>
  <div class="top-field" *ngIf="spec.dependency.keepalived as keepalived">
    <label>{{ 'Keepalived' }}</label>
    <span>
      <div class="field-panel__wrap">
        <div class="field-panel__body">
          <alu-field-set-group>
            <alu-field-set-item>
              <label>{{ 'Vip' | translate }}</label>
              <span>{{ keepalived.vip || '-' }}</span>
            </alu-field-set-item>
            <alu-field-set-item>
              <label>{{ 'Rsip' | translate }}</label>
              <span>
                <ng-container
                  *ngTemplateOutlet="
                    tags;
                    context: { $implicit: keepalived.realServerIpPort }
                  "
                ></ng-container>
              </span>
            </alu-field-set-item>
            <alu-field-set-item>
              <label>{{ 'port' | translate }}</label>
              <span>{{ keepalived.port || '-' }}</span>
            </alu-field-set-item>
          </alu-field-set-group>
        </div>
      </div>
    </span>
  </div>

  <div class="top-field">
    <label>{{ 'others' }}</label>
    <span>
      <div class="mode">{{ deployModes[0] | translate }}</div>
      <div class="field-panel__wrap">
        <div class="field-panel__body">
          <alu-field-set-group>
            <alu-field-set-item>
              <label>{{ 'Grafana' | translate }}</label>
              <span>{{ spec.dependency.monitor.externalGrafana || '-' }}</span>
            </alu-field-set-item>
            <alu-field-set-item>
              <label>{{ 'Ceph' | translate }}</label>
              <span>{{ spec.storage.ceph.host || '-' }}</span>
            </alu-field-set-item>
            <alu-field-set-item>
              <label>{{ 'Time Server' }}</label>
              <span>{{ spec.dependency.time.server || '-' }}</span>
            </alu-field-set-item>
          </alu-field-set-group>
        </div>
      </div>
    </span>
  </div>
</aui-card>
<ng-template #tags let-ips>
  <div class="tag-group">
    <ng-container *ngIf="ips && ips.length; else noTags">
      <aui-tag
        type="info"
        [size]="'mini'"
        [round]="true"
        *ngFor="let ip of ips"
      >
        {{ ip }}
      </aui-tag>
    </ng-container>
    <ng-template #noTags>-</ng-template>
  </div>
</ng-template>
