:host {
  width: 100%;
  display: block;
  flex: 1;
}

.content {
  width: 100%;
  display: inline-flex;
  align-items: center;

  aui-input-group {
    flex: 1;
  }

  &__switch {
    margin-left: 10px;
  }
}

.required:before {
  content: '*';
  color: #eb6262;
  margin-right: 2px;
}
