<alu-array-form-table
  [noRowSeparator]="true"
  (add)="add(form.length)"
  (remove)="remove($event)"
  [formGroup]="form"
  [rows]="form.controls"
  [rowBackgroundColorFn]="rowBackgroundColorFn"
>
  <ng-container *aluArrayFormTableHeader>
    <th>
      {{ 'key' | translate }}
    </th>
    <th>
      {{ 'value' | translate }}
    </th>
    <th>
      {{ 'type' | translate }}
    </th>
  </ng-container>
  <ng-container
    *aluArrayFormTableRow="let index = index"
    [formGroupName]="index"
  >
    <td>
      <input
        aui-input
        formControlName="key"
        [placeholder]="'key' | translate"
      />
    </td>
    <td>
      <input
        aui-input
        formControlName="value"
        [placeholder]="'value' | translate"
      />
    </td>
    <td>
      <aui-select formControlName="effect" [placeholder]="'type' | translate">
        <aui-option
          *ngFor="let effect of effects"
          [value]="effect"
          [label]="effect"
        >
          {{ effect }}
        </aui-option>
      </aui-select>
    </td>
  </ng-container>
  <ng-container *aluArrayFormTableRowControl="let item; let index = index">
    <button
      aui-button="text"
      size="mini"
      type="button"
      (click)="remove(index)"
      [square]="true"
      [plain]="true"
    >
      <aui-icon icon="basic:minus_circle"></aui-icon>
    </button>
  </ng-container>
  <ng-container *aluArrayFormTableRow="let control">
    <td
      *ngIf="
        (control.dirty || $any(controlContainer?.formDirective)?.submitted) &&
        control.errors
      "
      colspan="4"
      class="alu-table-form-error-hint"
    >
      {{ control.errors | pure: getRowErrorMessage }}
    </td>
  </ng-container>
</alu-array-form-table>
