:host {
  .create-tip {
    margin-left: 8px;
  }
  .search-input {
    margin: 0 8px;
  }
  .status-bar-title {
    display: inline-block;
    width: 32px;
  }
  .status-bar {
    flex: 1;
    ::ng-deep .aui-status-bar {
      width: 90px;
    }
  }
  .status-amount {
    padding: 0 4px;
  }
  ::ng-deep {
    .aui-card {
      margin-top: 16px;
    }
    .aui-search__input {
      margin-left: -1px;
      width: 260px;
    }
    .aui-select__input {
      position: relative;
      &:hover,
      &:focus {
        z-index: 1;
      }
    }
    .aui-select__label-container,
    .aui-input-group__suffix {
      z-index: 1;
    }
  }
  .aui-table {
    &__column-name {
      flex: 1 0 140px;
      a,
      .tke-name {
        font-size: 16px;
        font-weight: 500;
        line-height: 22px;
      }
      .tke-name {
        color: #b2d3ff;
        cursor: not-allowed;
      }
    }
    &__column-privateIp {
      flex: 1 0 140px;
    }
    &__column-status {
      flex: 1 0 75px;
    }
    &__column-usage {
      flex: 1 0 180px;
    }
    &__column-schedule {
      flex: 1 0 60px;
    }
  }
}
