<aui-card [divider]="false">
  <div auiCardHeader>
    {{ 'node_list' | translate }}
    <aui-icon
      class="create-tip"
      icon="basic:question"
      [auiTooltip]="createTip"
      color="#999"
    ></aui-icon>
    <div fxFlex></div>
    <acl-disabled-container
      *ngIf="isBaremetal"
      [isAllowed]="(permissions$ | async).create"
      [isDisabled]="isClusterAbnormal"
      [tooltip]="'cluster_status_abnormal_can_not_operate' | translate"
    >
      <button aui-button="primary" (click)="addNode()">
        {{ 'add_node' | translate }}
      </button>
    </acl-disabled-container>
    <aui-search
      class="search-input"
      [searchButton]="false"
      [keyword]="searchKey"
      [clearable]="false"
      [placeholder]="'filter_by_name_displayname_ip' | translate"
      (keywordChange)="search($event)"
    ></aui-search>
    <button aui-button square="true" (click)="list.reload()">
      <aui-icon icon="basic:refresh"></aui-icon>
    </button>
  </div>
  <aui-table [dataSource]="list.items$">
    <ng-container auiTableColumnDef="name">
      <aui-table-header-cell *auiTableHeaderCellDef>
        {{ 'name' | translate }}
      </aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let item">
        <div *ngIf="item.type === TYPE_TKE_MACHINE" class="tke-name">
          {{ item.spec.ip }}
        </div>
        <a
          *ngIf="item.type !== TYPE_TKE_MACHINE"
          [routerLink]="[
            '/manage-platform/cluster/detail',
            clusterName,
            item | aclName
          ]"
          [queryParams]="{ isOCP: isOCP, isBaremetal: isBaremetal }"
        >
          {{ item | aclName }}
        </a>
        <div class="table-cell__label-container aui-table__cell__display-name">
          <ng-container *ngIf="item.type !== TYPE_TKE_MACHINE">
            {{
              (item | aclDisplayName) || item.displayName | aclFieldNotAvailable
            }}
          </ng-container>
          <ng-container *ngIf="item.type === TYPE_TKE_MACHINE">
            {{ item | aclDisplayName }}
          </ng-container>
        </div>
      </aui-table-cell>
    </ng-container>
    <ng-container auiTableColumnDef="privateIp">
      <aui-table-header-cell *auiTableHeaderCellDef>
        {{ 'node_ip' | translate }}
      </aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let item">
        <ng-container *ngIf="item.type !== TYPE_TKE_MACHINE">
          {{ item | pure: getPrivateIp }}
        </ng-container>
        <ng-container *ngIf="item.type === TYPE_TKE_MACHINE">
          {{ item.spec.ip }}
        </ng-container>
      </aui-table-cell>
    </ng-container>
    <ng-container auiTableColumnDef="status">
      <aui-table-header-cell *auiTableHeaderCellDef>
        {{ 'status' | translate }}
      </aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let item">
        <alu-status-icon
          [status]="
            item.type !== TYPE_TKE_MACHINE
              ? (item | pure: getNodeStatus)
              : NodeStatusEnum.adding
          "
        ></alu-status-icon>
        {{
          (item.type !== TYPE_TKE_MACHINE
            ? (item | pure: getNodeStatus)
            : NodeStatusEnum.adding
          ) | translate
        }}
      </aui-table-cell>
    </ng-container>
    <ng-container auiTableColumnDef="labels">
      <aui-table-header-cell *auiTableHeaderCellDef>
        {{ 'node_tag' | translate }}
      </aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let item">
        <div *ngIf="item.type !== TYPE_TKE_MACHINE">
          <alu-tags-label [tags]="item.metadata.labels"></alu-tags-label>
        </div>
        <ng-container *ngIf="item.type === TYPE_TKE_MACHINE">-</ng-container>
      </aui-table-cell>
    </ng-container>
    <ng-container auiTableColumnDef="schedule">
      <aui-table-header-cell *auiTableHeaderCellDef>
        {{ 'cluster_node_schedule_schedule' | translate }}
      </aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let item">
        <ng-container *ngIf="item.type !== TYPE_TKE_MACHINE">
          {{ (item.spec.unschedulable ? 'no' : 'yes') | translate }}
        </ng-container>
        <ng-container *ngIf="item.type === TYPE_TKE_MACHINE">-</ng-container>
      </aui-table-cell>
    </ng-container>
    <ng-container auiTableColumnDef="taints">
      <aui-table-header-cell *auiTableHeaderCellDef>
        {{ 'taints' | translate }}
      </aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let item">
        <ng-container *ngIf="item.type !== TYPE_TKE_MACHINE">
          <alu-tags-label
            [tagList]="item.spec.taints | pure: transformTaint"
          ></alu-tags-label>
        </ng-container>
        <ng-container *ngIf="item.type === TYPE_TKE_MACHINE">-</ng-container>
      </aui-table-cell>
    </ng-container>
    <ng-container auiTableColumnDef="usage">
      <aui-table-header-cell *auiTableHeaderCellDef>
        {{ 'cluster_percent_cpu_memory' | translate }}
      </aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let item">
        <ng-container
          *ngIf="
            (item | pure: getNodeStatus | pure: isNodeNormal) &&
              nodeCpuMemMap[item.metadata.name] as cpuMem;
            else elseTmp
          "
        >
          <div>
            <span class="status-bar-title">CPU</span>
            <aui-status-bar
              class="status-bar"
              [status]="cpuMem.cpu_usage_rate | pure: getBarStatus"
              [auiTooltip]="ratioCPUTemplate"
              size="small"
            ></aui-status-bar>
            {{ cpuMem.cpu_usage_rate }}%
            <ng-template #ratioCPUTemplate>
              <div>CPU</div>
              <div>
                {{ 'used' | translate }}: {{ cpuMem.cpu_usage || '-'
                }}{{ 'core' | translate }} ({{ cpuMem.cpu_usage_rate || '-' }}%)
              </div>
              <div>
                {{ 'requests_value' | translate }}:
                {{
                  cpuMem.cpu_request
                    ? (cpuMem.cpu_request * 1).toFixed(2)
                    : '-'
                }}{{ 'core' | translate }} ({{
                  cpuMem.cpu_request && cpuMem.cpu_total
                    ? ((cpuMem.cpu_request / cpuMem.cpu_total) * 100).toFixed(2)
                    : '-'
                }}%)
              </div>
              <div>
                {{ 'limits_value' | translate }}:
                {{ cpuMem.cpu_limit ? (cpuMem.cpu_limit * 1).toFixed(2) : '-'
                }}{{ 'core' | translate }} ({{
                  cpuMem.cpu_limit && cpuMem.cpu_total
                    ? ((cpuMem.cpu_limit / cpuMem.cpu_total) * 100).toFixed(2)
                    : '-'
                }}%)
              </div>
              <div>
                {{ 'rental' | translate }}: {{ cpuMem.cpu_total || '-'
                }}{{ 'core' | translate }}
              </div>
            </ng-template>
          </div>
          <div>
            <span class="status-bar-title">{{ 'memory' | translate }}</span>
            <aui-status-bar
              class="status-bar"
              [status]="cpuMem.memory_usage_rate | pure: getBarStatus"
              [auiTooltip]="ratioMemoryTemplate"
              size="small"
            ></aui-status-bar>
            {{ cpuMem.memory_usage_rate }}%
            <ng-template #ratioMemoryTemplate>
              <div>{{ 'memory' | translate }}</div>
              <div>
                {{ 'used' | translate }}:
                {{
                  cpuMem.memory_usage_rate && cpuMem.memory_total
                    ? (
                        (cpuMem.memory_usage_rate * cpuMem.memory_total) /
                        100
                      ).toFixed(2)
                    : '-'
                }}Gi ({{ cpuMem.memory_usage_rate || '-' }}%)
              </div>
              <div>
                {{ 'requests_value' | translate }}:
                {{
                  cpuMem.memory_request
                    ? (cpuMem.memory_request * 1).toFixed(2)
                    : '-'
                }}Gi ({{
                  cpuMem.memory_request && cpuMem.memory_total
                    ? (
                        (cpuMem.memory_request / cpuMem.memory_total) *
                        100
                      ).toFixed(2)
                    : '-'
                }}%)
              </div>
              <div>
                {{ 'limits_value' | translate }}:
                {{
                  cpuMem.memory_limit
                    ? (cpuMem.memory_limit * 1).toFixed(2)
                    : '-'
                }}Gi ({{
                  cpuMem.memory_limit && cpuMem.memory_total
                    ? (
                        (cpuMem.memory_limit / cpuMem.memory_total) *
                        100
                      ).toFixed(2)
                    : '-'
                }}%)
              </div>
              <div>
                {{ 'rental' | translate }}:
                {{
                  cpuMem.memory_total
                    ? (cpuMem.memory_total * 1).toFixed(2)
                    : '-'
                }}Gi
              </div>
            </ng-template>
          </div>
        </ng-container>
        <ng-template #elseTmp>
          <ng-container *ngIf="item.type !== TYPE_TKE_MACHINE">
            <div>
              <span class="status-bar-title">CPU</span>
              ：{{ 'rental' | translate }}
              <span class="status-amount">
                {{
                  item.status.allocatable.cpu
                    | pure: formatCPU
                    | aclFieldNotAvailable
                }}
              </span>
              {{ 'core' | translate }}
            </div>
            <div>
              <span class="status-bar-title">{{ 'memory' | translate }}</span>
              ：{{ 'rental' | translate }}
              <span class="status-amount">
                {{
                  item.status.allocatable.memory | pure: formatCommonUnit:true
                }}
              </span>
              Gi
            </div>
          </ng-container>
          <ng-container *ngIf="item.type === TYPE_TKE_MACHINE">-</ng-container>
        </ng-template>
      </aui-table-cell>
    </ng-container>
    <ng-container auiTableColumnDef="nodeType">
      <aui-table-header-cell *auiTableHeaderCellDef>
        {{ 'cluster_node_type' | translate }}
      </aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let item">
        <ng-container *ngIf="item.type !== TYPE_TKE_MACHINE">
          {{
            ((item | pure: getNodeType)
              ? 'cluster_master_node'
              : 'cluster_slave_node'
            ) | translate
          }}
        </ng-container>
        <ng-container *ngIf="item.type === TYPE_TKE_MACHINE">-</ng-container>
      </aui-table-cell>
    </ng-container>
    <ng-container auiTableColumnDef="action">
      <aui-table-header-cell *auiTableHeaderCellDef></aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let item">
        <button
          aui-button="text"
          size="small"
          [square]="true"
          [plain]="true"
          [auiDropdown]="menu"
          [auiDropdownContext]="{ data: item }"
        >
          <aui-icon icon="basic:ellipsis_v_s"></aui-icon>
        </button>
      </aui-table-cell>
    </ng-container>
    <aui-table-header-row
      *auiTableHeaderRowDef="columns"
    ></aui-table-header-row>
    <aui-table-row *auiTableRowDef="let row; columns: columns"></aui-table-row>
  </aui-table>
  <acl-k8s-resource-list-footer [list]="list"></acl-k8s-resource-list-footer>
</aui-card>

<aui-menu #menu size="small">
  <ng-template auiMenuContent let-item="data">
    <aui-menu-item
      *ngIf="item.type === TYPE_TKE_MACHINE"
      (click)="viewExecutionProgress(item)"
    >
      {{ 'view_execution_progress' | translate }}
    </aui-menu-item>
    <acl-disabled-container
      *ngIf="item.type !== TYPE_TKE_MACHINE"
      [isAllowed]="(permissions$ | async).update"
      [isDisabled]="item | pure: getNodeStatus | pure: isNodeAbnormal"
      [tooltip]="'status_abnormal_can_not_operate' | translate"
    >
      <aui-menu-item (click)="updateNodeTag(item)">
        {{ 'update_node_tags' | translate }}
      </aui-menu-item>
    </acl-disabled-container>
    <acl-disabled-container
      *ngIf="item.type !== TYPE_TKE_MACHINE"
      [isAllowed]="(permissions$ | async).update"
      [isDisabled]="item | pure: getNodeStatus | pure: isNodeAbnormal"
      [tooltip]="'status_abnormal_can_not_operate' | translate"
    >
      <aui-menu-item (click)="updateNodeTaint(item)">
        {{ 'update_node_taints' | translate }}
      </aui-menu-item>
    </acl-disabled-container>
    <acl-disabled-container
      *ngIf="item.type !== TYPE_TKE_MACHINE"
      [isAllowed]="(permissions$ | async).update"
      [isDisabled]="item | pure: getNodeStatus | pure: isNodeAbnormal"
      [tooltip]="'status_abnormal_can_not_operate' | translate"
    >
      <aui-menu-item
        [hidden]="!item.spec.unschedulable"
        (click)="updateNodeCordon(item, 'uncordon')"
      >
        {{ 'start_scheduling' | translate }}
      </aui-menu-item>
    </acl-disabled-container>
    <acl-disabled-container
      *ngIf="item.type !== TYPE_TKE_MACHINE"
      [isAllowed]="(permissions$ | async).update"
      [isDisabled]="item | pure: getNodeStatus | pure: isNodeAbnormal"
      [tooltip]="'status_abnormal_can_not_operate' | translate"
    >
      <aui-menu-item
        [hidden]="item.spec.unschedulable"
        (click)="updateNodeCordon(item, 'cordon')"
      >
        {{ 'stop_scheduling' | translate }}
      </aui-menu-item>
    </acl-disabled-container>
    <acl-disabled-container
      *ngIf="isBaremetal"
      [isAllowed]="(permissions$ | async).delete"
      [isDisabled]="item | pure: getNodeType"
    >
      <aui-menu-item (click)="removeNode(item)">
        {{ 'delete' | translate }}
      </aui-menu-item>
    </acl-disabled-container>
  </ng-template>
</aui-menu>

<ng-template #createTip>
  <div>· {{ 'utilization_calc_tip' | translate }}</div>
  <div>· {{ 'prometheus_not_deployed_tip' | translate }}</div>
  <div>· {{ 'access_cluster_can_not_add_node' | translate }}</div>
</ng-template>
