<aui-dialog-header>
  {{ 'update_global_strategy' | translate }} ({{
    viewModel.header | translate
  }})
</aui-dialog-header>

<aui-dialog-content>
  <form #form="ngForm" auiForm auiFormLabelWidth="190px">
    <aui-form-item>
      <label auiFormItemLabel>
        {{ viewModel.title | translate }}
      </label>
      <aui-number-input
        auiFormItemControl
        required
        name="value"
        [min]="min"
        [max]="max"
        [(ngModel)]="viewModel.value"
        (ngModelChange)="valueMathCeil()"
      ></aui-number-input>
      {{ 'hint_for_the_remaining_days_suffix' | translate }}
    </aui-form-item>
  </form>
</aui-dialog-content>

<aui-dialog-footer>
  <button
    aui-button="primary"
    [disabled]="submitting"
    [loading]="submitting"
    (click)="confirm(form)"
  >
    {{ 'update' | translate }}
  </button>
  <button aui-button [auiDialogClose]="false">
    {{ 'cancel' | translate }}
  </button>
</aui-dialog-footer>
