<ng-container *aluPageHeaderContent>
  <aui-breadcrumb>
    <aui-breadcrumb-item>
      <span>{{ 'user_role_management' | translate }}</span>
    </aui-breadcrumb-item>
    <aui-breadcrumb-item>
      <a routerLink="../..">{{ 'idp_option' | translate }}</a>
    </aui-breadcrumb-item>
    <aui-breadcrumb-item>
      <span>{{ name }}</span>
    </aui-breadcrumb-item>
  </aui-breadcrumb>
</ng-container>
<acl-page-state [adapter]="dataLoader">
  <ng-template let-idp>
    <aui-card>
      <div auiCardHeader>
        <div fxFlexAlign="center" class="metadata__name">
          <span [title]="name">
            {{ name }}
          </span>
        </div>
        <div fxFlex></div>
        <button aui-button [plain]="true" [auiDropdown]="menu">
          {{ 'action' | translate }}
          <aui-icon icon="angle_down" margin="left"></aui-icon>
        </button>
        <aui-menu #menu>
          <ng-template auiMenuContent>
            <ng-container *ngIf="permissions$ | async as _permission">
              <acl-disabled-container [isAllowed]="_permission.update">
                <aui-menu-item (click)="updateIdp(idp.type)">
                  {{ 'update' | translate }} IDP
                </aui-menu-item>
              </acl-disabled-container>
              <acl-disabled-container [isAllowed]="_permission.delete">
                <aui-menu-item (click)="confirmDeleteIdp(confirmDelete)">
                  {{ 'delete' | translate }} IDP
                </aui-menu-item>
              </acl-disabled-container>
            </ng-container>
          </ng-template>
        </aui-menu>
      </div>
      <alu-field-set-group>
        <alu-field-set-item>
          <label>{{ 'display_name' | translate }}</label>
          <span [title]="idp.name">{{ idp.name }}</span>
        </alu-field-set-item>
        <alu-field-set-item>
          <label>{{ 'type' | translate }}</label>
          {{ idp.type | uppercase }}
        </alu-field-set-item>
        <alu-field-set-item>
          <label>{{ 'description' | translate }}</label>
          <span [title]="idp | aclDescription">
            {{ idp | aclDescription | aclFieldNotAvailable }}
          </span>
        </alu-field-set-item>
      </alu-field-set-group>
      <ng-container *ngIf="idp.type == 'oidc'">
        <div class="group-header">
          {{ 'oidc_server_setting' | translate }}
        </div>
        <alu-field-set-group>
          <alu-field-set-item>
            <label>{{ 'server_provider_url' | translate }}</label>
            <span [title]="idp.config.issuer">
              {{ idp.config.issuer }}
            </span>
          </alu-field-set-item>
          <alu-field-set-item>
            <label>{{ 'client_id' | translate }}</label>
            {{ idp.config.clientID }}
          </alu-field-set-item>
          <alu-field-set-item>
            <label>{{ 'client_key' | translate }}</label>
            <alu-password-display
              class="full"
              [value]="idp.config.clientSecret"
            ></alu-password-display>
          </alu-field-set-item>
          <alu-field-set-item>
            <label>{{ 'redirect_uri' | translate }}</label>
            <span [title]="idp.config.redirectURI">
              {{ idp.config.redirectURI }}
            </span>
          </alu-field-set-item>
        </alu-field-set-group>
      </ng-container>
      <ng-container *ngIf="idp.type == 'ldap'">
        <div class="group-header">
          {{ 'ldap_server_setting' | translate }}
        </div>
        <alu-field-set-group>
          <alu-field-set-item>
            <label>{{ 'server_address' | translate }}</label>
            {{ idp.config.host }}
          </alu-field-set-item>
          <alu-field-set-item>
            <label>{{ 'username' | translate }}</label>
            {{ idp.config.bindDN }}
          </alu-field-set-item>
          <alu-field-set-item>
            <label>{{ 'login_field_username_tip' | translate }}</label>
            <span [title]="idp.config.usernamePrompt">
              {{ idp.config.usernamePrompt | aclFieldNotAvailable }}
            </span>
          </alu-field-set-item>
          <alu-field-set-item>
            <label>{{ 'password' | translate }}</label>
            <alu-password-display
              [value]="idp.config.bindPW"
            ></alu-password-display>
          </alu-field-set-item>
        </alu-field-set-group>
        <div class="group-header">
          {{ 'user_search_setting' | translate }}
        </div>
        <alu-field-set-group *ngIf="idp.config.userSearch; let userSearch">
          <alu-field-set-item>
            <label>{{ 'object_type' | translate }}</label>
            {{ userSearch.filter | pure: getFilter:'objectType' }}
          </alu-field-set-item>
          <alu-field-set-item>
            <label>{{ 'login_field' | translate }}</label>
            {{ userSearch.username }}
          </alu-field-set-item>
          <alu-field-set-item>
            <label>{{ 'filter_condition' | translate }}</label>
            {{
              userSearch.filter
                | pure: getFilter:'filter'
                | aclFieldNotAvailable
            }}
          </alu-field-set-item>
          <alu-field-set-item>
            <label>{{ 'search_start' | translate }}</label>
            {{ userSearch.baseDN }}
          </alu-field-set-item>
          <alu-field-set-item>
            <label>{{ 'search_scope' | translate }}</label>
            {{ userSearch.scope | aclFieldNotAvailable }}
          </alu-field-set-item>
          <alu-field-set-item>
            <label>{{ 'login_attribute' | translate }}</label>
            {{ userSearch.idAttr }}
          </alu-field-set-item>
          <alu-field-set-item>
            <label>{{ 'name_attribute' | translate }}</label>
            {{ userSearch.nameAttr }}
          </alu-field-set-item>
          <alu-field-set-item>
            <label>{{ 'email_attribute' | translate }}</label>
            {{ userSearch.emailAttr }}
          </alu-field-set-item>
        </alu-field-set-group>
        <div class="group-header">
          {{ 'group_search_setting' | translate }}
        </div>
        <alu-field-set-group *ngIf="idp.config.groupSearch; let groupSearch">
          <alu-field-set-item>
            <label>{{ 'object_type' | translate }}</label>
            {{ groupSearch.filter | pure: getFilter:'objectType' }}
          </alu-field-set-item>
          <alu-field-set-item>
            <label>{{ 'filter_condition' | translate }}</label>
            {{
              groupSearch.filter
                | pure: getFilter:'filter'
                | aclFieldNotAvailable
            }}
          </alu-field-set-item>
          <alu-field-set-item>
            <label>{{ 'search_start' | translate }}</label>
            {{ groupSearch.baseDN }}
          </alu-field-set-item>
          <alu-field-set-item>
            <label>{{ 'search_scope' | translate }}</label>
            {{ groupSearch.scope | aclFieldNotAvailable }}
          </alu-field-set-item>
          <alu-field-set-item>
            <label>{{ 'name_attribute' | translate }}</label>
            {{ groupSearch.nameAttr }}
          </alu-field-set-item>
          <alu-field-set-item>
            <label>{{ 'group_member_attribute' | translate }}</label>
            {{ groupSearch.userAttr }}
          </alu-field-set-item>
          <alu-field-set-item>
            <label>{{ 'group_attribute' | translate }}</label>
            {{ groupSearch.groupAttr }}
          </alu-field-set-item>
        </alu-field-set-group>
      </ng-container>
    </aui-card>
  </ng-template>
</acl-page-state>
