:host ::ng-deep .aui-form-item__content {
  flex-wrap: wrap;
}
.break {
  flex-basis: 100%;
  height: 0;
}
aui-switch {
  flex: 0;
}
input {
  flex: 1;
}
alu-error-mapper {
  color: #e54545;
  font-size: 12px;
  line-height: 16px;
  margin: 8px 0 0 42px;
}
