<aui-dialog-header>
  {{ 'update_over_commit' | translate }}
</aui-dialog-header>
<aui-dialog-content>
  <form #form="ngForm" auiForm auiFormLabelWidth="114px">
    <aui-form-item>
      <label auiFormItemLabel>{{ 'cpu_over_commit' | translate }}</label>
      <aui-switch
        auiFormItemControl
        style="margin-right: 10px;"
        [(ngModel)]="model.cpuEnabled"
        (ngModelChange)="$event && (model.cpu = model.cpu || '1')"
        name="cpuEnabled"
      ></aui-switch>
      <span *ngIf="!model.cpuEnabled">
        {{ 'no_over_commit' | translate }}
      </span>
      <ng-container *ngIf="model.cpuEnabled">
        <input
          aui-input
          required
          [pattern]="POSITIVE_INT_PATTERN.pattern"
          #cpuModel="ngModel"
          name="cpu"
          [(ngModel)]="model.cpu"
        />
        <div class="break"></div>
        <alu-error-mapper
          auiFormItemError
          [errors]="cpuModel.errors"
          [errorsMapper]="{
            required:
              'field_is_required'
              | translate: { field: 'cpu_over_commit' | translate },
            pattern: POSITIVE_INT_PATTERN.tip | translate
          }"
        ></alu-error-mapper>
      </ng-container>
    </aui-form-item>
    <aui-form-item>
      <label auiFormItemLabel>{{ 'memory_over_commit' | translate }}</label>
      <aui-switch
        auiFormItemControl
        style="margin-right: 10px;"
        [(ngModel)]="model.memoryEnabled"
        (ngModelChange)="$event && (model.memory = model.memory || '1')"
        name="memoryEnabled"
      ></aui-switch>
      <span *ngIf="!model.memoryEnabled">
        {{ 'no_over_commit' | translate }}
      </span>
      <ng-container *ngIf="model.memoryEnabled">
        <input
          aui-input
          required
          #memModel="ngModel"
          name="mem"
          [pattern]="POSITIVE_INT_PATTERN.pattern"
          [(ngModel)]="model.memory"
        />
        <div class="break"></div>
        <alu-error-mapper
          auiFormItemError
          [errors]="memModel.errors"
          [errorsMapper]="{
            required:
              'field_is_required'
              | translate: { field: 'memory_over_commit' | translate },
            pattern: POSITIVE_INT_PATTERN.tip | translate
          }"
        ></alu-error-mapper>
      </ng-container>
    </aui-form-item>
  </form>
</aui-dialog-content>
<aui-dialog-footer>
  <button
    aui-button="primary"
    type="submit"
    [disabled]="!form.valid || (confirming$ | async)"
    [loading]="confirming$ | async"
    (click)="submitForm()"
  >
    {{ 'update' | translate }}
  </button>
  <button aui-button type="button" (click)="close.emit()">
    {{ 'cancel' | translate }}
  </button>
</aui-dialog-footer>
