<ng-container *aluPageHeaderContent>
  <aui-breadcrumb>
    <aui-breadcrumb-item>
      <a routerLink="../../..">{{ 'product_management' | translate }}</a>
    </aui-breadcrumb-item>
    <aui-breadcrumb-item>
      <span>{{ 'tdsql_deploy' | translate }}</span>
    </aui-breadcrumb-item>
  </aui-breadcrumb>
</ng-container>

<acl-page-state [adapter]="dataLoader">
  <ng-template let-data>
    <aui-tab-group [lazy]="true">
      <aui-tab [label]="'detail_info' | translate">
        <alu-tdsql-detail-info [data]="data"></alu-tdsql-detail-info>
      </aui-tab>
      <aui-tab [label]="'components' | translate">
        <aui-card>
          <alu-tdsql-components-table
            [showAllComponents]="true"
            [cr]="data.crs[0]"
          ></alu-tdsql-components-table>
        </aui-card>
      </aui-tab>
    </aui-tab-group>
  </ng-template>
</acl-page-state>
