<div class="steps-process steps-process__{{ layout }}">
  <ng-container *ngFor="let step of steps | pure: initType; let i = index">
    <div *ngIf="i > 0" class="steps-process__content-line"></div>
    <div
      class="steps-process__content {{ step.type }}"
      [ngClass]="{
        'steps-process__content--active': i + 1 <= currStep,
        'steps-process__content--selected': i + 1 === (selectedStep || currStep)
      }"
      (click)="stepClick(i + 1)"
    >
      <div class="steps-process__content-num">
        <ng-container *ngIf="step.type === 'error'">
          <aui-icon size="15" icon="basic:fail_s"></aui-icon>
        </ng-container>
        <ng-container *ngIf="step.type !== 'error'">
          <ng-container *ngIf="i + 1 >= currStep">{{ i + 1 }}</ng-container>
          <aui-icon
            size="15"
            *ngIf="i + 1 < currStep"
            icon="basic:success_s"
          ></aui-icon>
        </ng-container>
      </div>
      <div class="steps-process__content-desc" *ngIf="needTranslate">
        {{ step.label | translate }}
      </div>
      <div class="steps-process__content-desc" *ngIf="!needTranslate">
        {{ step.label }}
      </div>
    </div>
  </ng-container>
</div>
