@import 'var';

:host {
  flex: 1;
  .steps-process {
    display: flex;
    justify-content: center;
    align-items: center;

    &__content {
      display: flex;
      justify-content: center;
      align-items: center;
      &-num {
        flex: 0 0 24px;
        width: 24px;
        height: 24px;
        border: 1px solid #999;
        border-radius: 50%;
        color: #999;
        line-height: 24px;
        text-align: center;
      }
      &-desc {
        color: #999;
        margin-left: 8px;
        &--on {
          color: #4d4d4d;
          font-size: 500;
        }
      }
      &-line {
        width: 96px;
        height: 1px;
        background: #ccc;
        margin: 0 12px;
      }
    }
    &__content--active {
      &.success {
        .steps-process__content-num {
          border: 1px solid $color-success;
          color: $color-success;
        }
        .steps-process__content-desc {
          color: #4d4d4d;
        }
      }
      &.info {
        .steps-process__content-num {
          border: 1px solid $color-primary;
          color: $color-primary;
        }
        .steps-process__content-desc {
          color: #4d4d4d;
        }
      }
      &.error {
        .steps-process__content-num {
          border: 1px solid $color-error;
          color: $color-error;
        }
        .steps-process__content-desc {
          color: $color-error;
        }
      }
    }
    &__content--selected {
      /* stylelint-disable-next-line */
      .steps-process__content-desc {
        font-weight: 500;
      }
      &.success {
        .steps-process__content-num {
          border: 1px solid $color-success;
          background: $color-success;
          color: #fff;
        }
      }
      &.info {
        .steps-process__content-num {
          border: 1px solid $color-primary;
          background: $color-primary;
          color: #fff;
        }
      }
      &.error {
        .steps-process__content-num {
          border: 1px solid $color-error;
          background: $color-error;
          color: #fff;
        }
      }
    }
    &__column {
      flex-direction: column;
      align-items: flex-start;
      .steps-process__content {
        flex: 1;
        &-line {
          width: 1px;
          height: 12px;
          margin: 2px 0;
          margin-left: 13px;
        }
      }
    }
  }
}
